.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
.u9kj4l5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1kddpj1j);
  -webkit-tap-highlight-color: transparent;
}
.u9kj4l5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1kddpj1l);
  opacity: 0;
  transition: var(--x72vdlf);
  pointer-events: none;
}
.u9kj4l5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--x72vdlf);
}
.u9kj4l5.u9kj4l0 {
  color: var(--_1kddpj1d);
}
.u9kj4l5:not(.u9kj4l1) {
  cursor: pointer;
}
.u9kj4l5.u9kj4l1 {
  color: var(--_1kddpj17);
}
.u9kj4l5.u9kj4l2,.u9kj4l5.u9kj4l3:not(.u9kj4l0):not(.u9kj4l1),html:not([data-playroom-dark]) .u9kj4l5:hover:not(.u9kj4l0):not(.u9kj4l1) {
  color: var(--_1kddpj1c);
}
.u9kj4l5:not(.u9kj4l0):not(:hover):focus::before {
  color: var(--_1kddpj18);
}
.u9kj4l5:not(.u9kj4l0):not(.u9kj4l1):focus::before,.u9kj4l5:not(.u9kj4l0):not(.u9kj4l1):hover::before {
  opacity: 1;
}
.u9kj4l5:not(.u9kj4l3)::after {
  transform: translateX(100%);
  opacity: 0;
}
.u9kj4l8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1kddpj1f);
  border: 2px solid var(--_1kddpj1j);
}
.u9kj4l8:not(.u9kj4l6) {
  transform: scale(0);
  opacity: 0;
}
.u9kj4la {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1kddpj1d);
  border: 2px solid var(--_1kddpj1j);
}
.u9kj4la:not(.u9kj4l6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
.u9kj4la svg {
  color: var(--_1kddpj19);
}
@keyframes _5vp4791 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._5vp4790 {
  background-color: var(--_1kddpj1l);
}
._5vp4793 {
  background-color: var(--_1kddpj1h);
  color: var(--_1kddpj1b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _5vp4791;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._5vp4793:hover {
  cursor: help;
}
._5vp4794 {
  width: 1em;
  padding: 0 8px;
}
._5vp4796::after {
  content: "-";
}
._5vp4798::after {
  content: "+";
  color: var(--_1kddpj1c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1kddpj1j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--x72vdl1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--x72vdld);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1kddpj1o);
  border-radius: var(--x72vdla);
  background-color: var(--_1kddpj1j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--x72vdl1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1kddpj1i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--x72vdl9);
  white-space: pre;
  color: var(--_1kddpj10);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1kddpj1f);
  color: var(--_1kddpj19);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1kddpj1c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--x72vdl8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1kddpj1j);
  color: var(--_1kddpj10);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1kddpj18);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1kddpj1j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1kddpj1j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1kddpj1j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1kddpj1l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1kddpj18);
  transition: var(--x72vdlh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._5vp4798) {
  color: var(--_1kddpj17);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1kddpj18);
  transition: var(--x72vdlh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1kddpj17);
}
.cm-s-neo .cm-tag {
  color: var(--_1kddpj11);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1kddpj12);
}
.cm-s-neo .cm-string {
  color: var(--_1kddpj13);
}
.cm-s-neo .cm-atom {
  color: var(--_1kddpj14);
}
.cm-s-neo .cm-variable {
  color: var(--_1kddpj15);
}
.cm-s-neo .cm-number {
  color: var(--_1kddpj16);
}
.CodeMirror-dialog {
  padding-left: var(--x72vdlo);
  padding-right: var(--x72vdlo);
  min-height: 60px;
  border-bottom: 1px solid var(--_1kddpj1n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_5vp4799));
  transition: var(--x72vdlh);
}
.dialog-opened .CodeMirror-scroll {
  --_5vp4799: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_5vp4799);
}
.CodeMirror-dialog input {
  font: var(--x72vdl5);
  font-family: var(--x72vdl1);
  height: var(--x72vdle);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--x72vdle);
  font: var(--x72vdl5);
  font-family: var(--x72vdl1);
}
.CodeMirror-search-field {
  padding-left: var(--x72vdlo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1kddpj1m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1kddpj1l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--x72vdlo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--x72vdl4);
  font-family: var(--x72vdl0);
  margin-left: var(--x72vdll);
  padding-top: var(--x72vdll);
  padding-bottom: var(--x72vdll);
  padding-left: var(--x72vdln);
  padding-right: var(--x72vdln);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--x72vdlb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1kddpj1c);
  box-shadow: var(--_1kddpj1p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1kddpj1l);
}
.CodeMirror-dialog button:hover {
  background: var(--_1kddpj1e);
}
._8iq3qp1 {
  color: var(--_1kddpj18);
}
._8iq3qp2 {
  color: var(--_1kddpj1b);
}
._8iq3qp3 {
  color: var(--_1kddpj1a);
}
._8iq3qpa {
  text-overflow: ellipsis;
}
._1kyz40a1 {
  justify-content: safe center;
}
._1kyz40a4 {
  flex-shrink: 0;
  width: var(--_1kyz40a2);
}
._1kyz40a4:not(:hover) ._1kyz40a7 {
  opacity: 0.8;
}
._1kyz40a9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1kyz40a4:not(:hover) ._1kyz40a9 {
  opacity: 0.3;
}
.ib645d5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--x72vdl8) * 5);
  height: calc(var(--x72vdl8) * 8);
  max-width: calc((100vw - 60px) - (var(--x72vdld) * 2));
}
.ib645d5.ib645d0 {
  padding-right: calc((15px * 2) + 16px);
}
.ib645d5:not(.ib645d1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.ib645d5.ib645d2 {
  background-color: var(--_1kddpj1g);
}
.ib645d5.ib645d3 {
  background-color: var(--_1kddpj1h);
}
.ib645d7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.ib645d7:not(:hover) {
  opacity: 0.4;
}
._1303lzz1 {
  color: var(--_1kddpj18);
  font-family: var(--x72vdl0);
}
._1303lzz2 {
  font-size: 36px;
}
._1303lzz3 {
  font-size: 24px;
}
._1303lzz4 {
  font-size: 16px;
}
._1eb81yi2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1eb81yi0);
  align-items: var(--_1eb81yi1);
}
._1eb81yi3 {
  --_1eb81yi0: var(--x72vdli);
}
._1eb81yi4 {
  --_1eb81yi0: var(--x72vdlj);
}
._1eb81yi5 {
  --_1eb81yi0: var(--x72vdlk);
}
._1eb81yi6 {
  --_1eb81yi0: var(--x72vdll);
}
._1eb81yi7 {
  --_1eb81yi0: var(--x72vdlm);
}
._1eb81yi8 {
  --_1eb81yi0: var(--x72vdln);
}
._1eb81yi9 {
  --_1eb81yi0: var(--x72vdlo);
}
._1eb81yia {
  --_1eb81yi0: var(--x72vdlp);
}
._1eb81yib {
  --_1eb81yi0: var(--x72vdlq);
}
._1eb81yic {
  --_1eb81yi0: var(--x72vdlr);
}
._1eb81yid {
  align-items: flex-start;
}
._1eb81yie {
  align-items: center;
}
._1eb81yif {
  align-items: flex-end;
}
._11fry2r1 {
  display: flex;
  flex-direction: column;
  gap: var(--_11fry2r0);
}
._11fry2r2 {
  --_11fry2r0: var(--x72vdli);
}
._11fry2r3 {
  --_11fry2r0: var(--x72vdlj);
}
._11fry2r4 {
  --_11fry2r0: var(--x72vdlk);
}
._11fry2r5 {
  --_11fry2r0: var(--x72vdll);
}
._11fry2r6 {
  --_11fry2r0: var(--x72vdlm);
}
._11fry2r7 {
  --_11fry2r0: var(--x72vdln);
}
._11fry2r8 {
  --_11fry2r0: var(--x72vdlo);
}
._11fry2r9 {
  --_11fry2r0: var(--x72vdlp);
}
._11fry2ra {
  --_11fry2r0: var(--x72vdlq);
}
._11fry2rb {
  --_11fry2r0: var(--x72vdlr);
}
._67d33m1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--x72vdll) * -1);
}
._67d33m1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--x72vdlb);
  box-shadow: var(--_1kddpj1p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--x72vdlg);
}
._67d33m1:focus::before, ._67d33m1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._67d33m4 {
  height: 20px;
  width: 20px;
}
._67d33m6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--x72vdlj) * 2));
  width: calc(20px - (var(--x72vdlj) * 2));
}
._67d33m6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--x72vdla);
  box-shadow: var(--_1kddpj1p);
  transition: var(--x72vdlg);
  opacity: 0;
  transform: scale(0.5);
}
._67d33m6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--x72vdla);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1kddpj1j);
}
._67d33m4:hover:not(:focus) ~ ._67d33m6::before, ._67d33m4:focus ~ ._67d33m6::before {
  opacity: 1;
  transform: scale(1);
}
._67d33m6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--x72vdlh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._67d33m4:checked ~ ._67d33m6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--x72vdlh);
}
._67d33m8 {
  color: var(--_1kddpj18);
  height: var(--x72vdle);
  background: var(--_1kddpj1j);
  border: 1px solid var(--_1kddpj1n);
}
._67d33m8::placeholder {
  color: var(--_1kddpj17);
}
._14y3uq91 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--x72vdle);
  -webkit-tap-highlight-color: transparent;
}
._14y3uq94 {
  --_14y3uq92: currentColor;
  color: var(--_14y3uq92);
  border: 1px solid var(--_1kddpj17);
  height: calc(var(--x72vdl8) * 9);
}
._14y3uq94:hover {
  --_14y3uq92: var(--_1kddpj1c);
  border-color: var(--_14y3uq92);
}
._14y3uq94:active {
  transform: scale(0.98);
}
._14y3uq94::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--x72vdle);
  min-width: var(--x72vdle);
  left: calc((var(--x72vdl8) * 2) * -1);
  right: calc((var(--x72vdl8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._14y3uq94:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1kddpj1p);
}
._14y3uq95 {
  --_14y3uq92: var(--_1kddpj1d) !important;
  border-color: var(--_14y3uq92);
}
._14y3uq97 {
  top: 1px;
}
.jtqn1o0 {
  transition: var(--x72vdlg);
  transform-origin: 50% 50%;
}
.jtqn1o1 {
  transform: rotate(90deg);
}
.jtqn1o2 {
  transform: rotate(180deg);
}
.jtqn1o3 {
  transform: rotate(270deg);
}
._1v633if4 {
  min-width: 0;
}
._1v633if5 {
  flex-shrink: 0;
}
._1v633if9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1v633if7:focus:not(:hover) ~ ._1v633if9 {
  opacity: 1;
}
._14g98m2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._14g98m4 {
  display: inline-block;
  background: var(--_1kddpj1i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._14g98m6 {
  height: var(--x72vdle);
  width: var(--x72vdle);
}
._14g98m8 {
  height: var(--x72vdle);
  width: var(--x72vdle);
}
._14g98m8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1kddpj1l);
  border-radius: var(--x72vdlb);
  transition: var(--x72vdlg);
  opacity: 0;
  transform: scale(0.8);
}
._14g98m6:checked ~ ._14g98m8,html:not([data-playroom-dark]) ._14g98m6:hover ~ ._14g98m8 {
  color: var(--_1kddpj1c);
}
._14g98m6:focus ~ ._14g98m8::before, ._14g98m6:hover ~ ._14g98m8::before {
  opacity: 1;
  transform: scale(1);
}
._1bd98o01 {
  color: var(--_1kddpj18);
  height: var(--x72vdle);
  background: var(--_1kddpj1j);
}
._1bd98o01:focus {
  outline: none;
}
._1bd98o01::placeholder {
  color: var(--_1kddpj17);
}
._1v0l6zp2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1kddpj1n);
}
._1v0l6zp4 {
  list-style: none;
  top: 60px;
}
._1v0l6zp4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--x72vdll);
  z-index: 1;
}
._1v0l6zp4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--x72vdll);
  z-index: 1;
}
._1v0l6zp6 {
  scroll-margin-block: var(--x72vdll);
  color: var(--_1kddpj18);
  background-color: var(--_1kddpj1j);
}
._1v0l6zp6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1kddpj1l);
  border-radius: var(--x72vdla);
  opacity: 0;
  pointer-events: none;
}
._1v0l6zp8 {
  color: var(--_1kddpj1a);
}
._1v0l6zp9 {
  color: var(--_1kddpj1c);
}
._1v0l6zp9::before {
  opacity: 1;
}
.akxf7f2 {
  color: var(--_1kddpj18);
  min-width: calc(60px + 1px);
}
.akxf7f2.akxf7f0 {
  width: 100vw;
}
.akxf7f6 {
  width: 60px;
  background-color: var(--_1kddpj1j);
  border-left: 1px solid var(--_1kddpj1n);
}
.akxf7f8 {
  width: 320px;
  background-color: var(--_1kddpj1j);
  border-left: 1px solid var(--_1kddpj1n);
}
.akxf7f9 {
  opacity: 0;
  transform: translateX(30%);
}
.akxf7fb {
  opacity: 1;
  transform: translateX(0);
}
.akxf7fc {
  opacity: 1;
  transform: translateX(0);
}
.akxf7fd {
  opacity: 1;
}
.akxf7ff {
  opacity: 0;
  transform: translateX(30%);
}
.akxf7fg {
  opacity: 0;
  transform: translateX(30%);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1kddpj1k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.tm8h9k0 {
  flex-direction: row;
}
.tm8h9k1 {
  flex-direction: column;
}
.tm8h9k3 {
  min-width: 0;
  min-height: 0;
}
.tm8h9k7 {
  width: clamp(460px, var(--tm8h9k4), 90vw) !important;
}
.tm8h9k8 {
  height: clamp(300px, var(--tm8h9k4), 80vh) !important;
}
.tm8h9k9 {
  min-width: 460px;
  max-width: 90vw;
}
.tm8h9ka {
  min-height: 300px;
  max-height: 80vh;
}
.tm8h9kb {
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.tm8h9ke.tm8h9kc {
  width: 60px;
}
.tm8h9kg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--x72vdle);
  height: var(--x72vdle);
}
.tm8h9kg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--x72vdlb);
  transition: var(--x72vdlf);
}
.tm8h9kg:not(:hover):not(:focus) {
  opacity: 0.3;
}
.tm8h9kg:hover::before, .tm8h9kg:focus::before {
  opacity: 0.05;
}
.tm8h9ki {
  right: 60px;
}
