.xm8smx1 {
  background-color: var(--_6qdq8wl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_6qdq8wq);
}
.xm8smx2::before {
  content: "";
  position: absolute;
  min-height: var(--_1q1z5bjc);
  min-width: var(--_1q1z5bjc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.vve50q2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.vve50q4 {
  border: 1px solid var(--_6qdq8wq);
  background-color: var(--_6qdq8wk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.vve50q4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_6qdq8wm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.vve50q4:hover::after {
  opacity: 1;
}
.vve50q4:focus-visible::after {
  opacity: 1;
}
.vve50q4:active:not([disabled]) {
  transform: scale(0.97);
}
.vve50q4:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 0;
}
.vve50q6 {
  isolation: isolate;
}
.vve50q8 {
  height: var(--vve50q0);
}
.vve50qa {
  border-color: var(--_6qdq8wc);
}
.vve50qa::after {
  background-color: var(--_6qdq8wh);
}
.vve50qb {
  border-color: var(--_6qdq8wa);
}
.vve50qb::after {
  background-color: var(--_6qdq8wi);
}
.vve50qc {
  --vve50q0: var(--_1q1z5bjq);
}
.vve50qd {
  --vve50q0: var(--_1q1z5bjr);
}
.vve50qe {
  --vve50q0: var(--_1q1z5bjs);
}
._5cqpu41 {
  --_6qdq8w7: var(--_6qdq8wd);
  background-color: var(--_6qdq8wn);
  outline: 1px solid var(--_6qdq8ws);
  outline-offset: -1px;
}
._13jm2z23 {
  background: transparent;
  outline: none;
  height: var(--_13jm2z20);
  width: var(--_13jm2z20);
}
._13jm2z26 {
  padding: var(--_13jm2z24);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_13jm2z21);
  isolation: isolate;
}
._13jm2z23[data-pressed] ._13jm2z26, ._13jm2z23:active ._13jm2z26 {
  transform: scale(.95);
}
._13jm2z23:focus-visible ._13jm2z26 {
  outline: 2px solid var(--_6qdq8wt);
}
._13jm2z27 {
  --_13jm2z20: var(--_1q1z5bjq);
  --_13jm2z24: 6px;
}
._13jm2z28 {
  --_13jm2z20: var(--_1q1z5bjr);
  --_13jm2z24: var(--_1q1z5bjj);
}
._13jm2z29 {
  --_13jm2z20: var(--_1q1z5bjs);
  --_13jm2z24: var(--_1q1z5bjj);
}
._13jm2z2a {
  --_13jm2z21: var(--_6qdq8w7);
}
._13jm2z2b {
  --_13jm2z21: var(--_6qdq8wb);
}
._13jm2z2c {
  --_13jm2z21: var(--_6qdq8wc);
}
._13jm2z2d {
  background-color: var(--_6qdq8wk);
  outline: 1px solid var(--_6qdq8wq);
  outline-offset: -1px;
}
._13jm2z2d:hover, [data-popup-open] > ._13jm2z2d {
  background-color: var(--_6qdq8wm);
}
._13jm2z2e {
  --_13jm2z21: var(--_6qdq8w8);
  background-color: var(--_6qdq8wf);
}
._13jm2z2e:hover, [data-popup-open] > ._13jm2z2e {
  background-color: var(--_6qdq8wg);
}
._13jm2z2f:hover, [data-popup-open] > ._13jm2z2f {
  background-color: var(--_6qdq8wm);
}
._13jm2z2g {
  margin: calc((var(--_13jm2z24) + 2px) * -1);
}
._13jm2z26 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1sy7fiu2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1q1z5bj8);
  color: var(--_1sy7fiu0);
  isolation: isolate;
  outline: none;
}
._1sy7fiu2[data-pressed], ._1sy7fiu2:active {
  transform: scale(.95);
}
._1sy7fiu2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1q1z5bji) * -1);
  background-color: var(--_1sy7fiu0);
  border-radius: var(--_1q1z5bj8);
}
._1sy7fiu2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1sy7fiu2:hover, ._1sy7fiu2[data-popup-open]:not(:focus-visible) {
  color: var(--_6qdq8w8);
}
._1sy7fiu2:focus-visible::after {
  outline: 2px solid var(--_6qdq8wt);
}
._1sy7fiu2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1sy7fiu3 {
  --_1sy7fiu0: var(--_6qdq8wb);
}
._1sy7fiu4 {
  --_1sy7fiu0: var(--_6qdq8wc);
}
._1sy7fiu2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1uzrkbu1 {
  justify-content: safe center;
}
._1uzrkbu5 {
  flex-shrink: 0;
  width: var(--_1uzrkbu2);
}
._1uzrkbu6 {
  transition: color 150ms ease;
}
._1uzrkbu5:hover ._1uzrkbu6, ._1uzrkbu5:focus-within ._1uzrkbu6, ._1uzrkbu3 ._1uzrkbu6 {
  color: var(--_6qdq8wb);
}
._1uzrkbu8 {
  outline: 1px solid var(--_6qdq8wq);
}
._1uzrkbua {
  transition: opacity 150ms ease;
}
._1uzrkbu5:not(:hover, :focus-within, ._1uzrkbu3) ._1uzrkbua {
  opacity: 1;
}
._1uzrkbuc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1uzrkbua:hover ~ ._1uzrkbu8 ._1uzrkbuc, ._1uzrkbua:focus-within ~ ._1uzrkbu8._1uzrkbuc {
  outline-color: var(--_6qdq8wb);
}
._1uzrkbue {
  transition: opacity 150ms ease;
}
._1uzrkbu5:not(:hover, :focus-within, ._1uzrkbu3) ._1uzrkbue {
  opacity: 0;
}
._1ekibcs1 {
  color: var(--_6qdq8w7);
  font-family: var(--_1q1z5bj0);
}
._1ekibcs2 {
  --_5ehzfa0: 36px;
  --_5ehzfa1: 44px;
  --_5ehzfa2: -0.2741em;
  --_5ehzfa3: -0.2031em;
}
._1ekibcs3 {
  --_5ehzfa0: 20px;
  --_5ehzfa1: 28px;
  --_5ehzfa2: -0.363em;
  --_5ehzfa3: -0.292em;
}
._1ekibcs4 {
  --_5ehzfa0: 16px;
  --_5ehzfa1: 20px;
  --_5ehzfa2: -0.288em;
  --_5ehzfa3: -0.217em;
}
.l8zliy1 {
  display: flex;
  flex-direction: column;
  gap: var(--l8zliy0);
}
.l8zliy2 {
  --l8zliy0: var(--_1q1z5bjg);
}
.l8zliy3 {
  --l8zliy0: var(--_1q1z5bjh);
}
.l8zliy4 {
  --l8zliy0: var(--_1q1z5bji);
}
.l8zliy5 {
  --l8zliy0: var(--_1q1z5bjj);
}
.l8zliy6 {
  --l8zliy0: var(--_1q1z5bjk);
}
.l8zliy7 {
  --l8zliy0: var(--_1q1z5bjl);
}
.l8zliy8 {
  --l8zliy0: var(--_1q1z5bjm);
}
.l8zliy9 {
  --l8zliy0: var(--_1q1z5bjn);
}
.l8zliya {
  --l8zliy0: var(--_1q1z5bjo);
}
.l8zliyb {
  --l8zliy0: var(--_1q1z5bjp);
}
.l8zliyc {
  align-items: flex-start;
}
.l8zliyd {
  align-items: center;
}
.l8zliye {
  align-items: flex-end;
}
._1v40hl1 {
  backdrop-filter: blur(6px);
}
._1v40hl1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_6qdq8wj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1v40hl1::before {
  opacity: 0.7;
}
._1v40hl1[data-starting-style]::before, ._1v40hl1[data-ending-style]::before {
  opacity: 0;
}
._1v40hl3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1q1z5bjk) * 2));
  max-height: calc(100dvh - (var(--_1q1z5bjk) * 2));
}
._1v40hl3[data-starting-style], ._1v40hl3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1v40hl7:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 2px;
}
.brhr4p2 {
  display: flex;
  flex-direction: row;
  gap: var(--brhr4p0);
  align-items: var(--brhr4p1);
}
.brhr4p3 {
  flex-wrap: wrap;
}
.brhr4p4 {
  --brhr4p0: var(--_1q1z5bjg);
}
.brhr4p5 {
  --brhr4p0: var(--_1q1z5bjh);
}
.brhr4p6 {
  --brhr4p0: var(--_1q1z5bji);
}
.brhr4p7 {
  --brhr4p0: var(--_1q1z5bjj);
}
.brhr4p8 {
  --brhr4p0: var(--_1q1z5bjk);
}
.brhr4p9 {
  --brhr4p0: var(--_1q1z5bjl);
}
.brhr4pa {
  --brhr4p0: var(--_1q1z5bjm);
}
.brhr4pb {
  --brhr4p0: var(--_1q1z5bjn);
}
.brhr4pc {
  --brhr4p0: var(--_1q1z5bjo);
}
.brhr4pd {
  --brhr4p0: var(--_1q1z5bjp);
}
.brhr4pe {
  align-items: flex-start;
}
.brhr4pf {
  align-items: center;
}
.brhr4pg {
  align-items: flex-end;
}
._85q4n50 {
  isolation: isolate;
  white-space: nowrap;
}
._85q4n51 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._85q4n53 {
    display: none;
  }
}
._3q1pmg1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._3q1pmg2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._3q1pmg2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._3q1pmg4 {
  --_3q1pmg3: 30px;
}
._3q1pmg5 {
  --_3q1pmg3: 45px;
}
._3q1pmg6 {
  --_3q1pmg3: 60px;
}
._3q1pmg7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._3q1pmg8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._3q1pmg9 {
  overflow: auto;
}
._3q1pmge {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_3q1pmgc, 0)),linear-gradient(to right, transparent 0, black var(--_3q1pmga, 0)),linear-gradient(to left, transparent 0, black var(--_3q1pmgb, 0)),linear-gradient(to top, transparent 0, black var(--_3q1pmgd, 0));
}
._3q1pmgf {
  --_3q1pmga: var(--_3q1pmg3);
}
._3q1pmgg {
  --_3q1pmgb: var(--_3q1pmg3);
}
._3q1pmgh {
  --_3q1pmgc: var(--_3q1pmg3);
}
._3q1pmgi {
  --_3q1pmgd: var(--_3q1pmg3);
}
._4j09pj2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._4j09pj3 {
  width: 250px;
}
._4j09pj6 {
  --_4j09pj4: var(--_6qdq8wm);
  outline: none;
  cursor: default;
  color: var(--_6qdq8w7);
  height: 34px;
  isolation: isolate;
}
._4j09pj6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1q1z5bj8);
  z-index: -1;
}
._4j09pj6[data-popup-open]:not([aria-disabled])::before, ._4j09pj6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_4j09pj4);
}
._4j09pj6:focus-visible::before {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: -2px;
}
._4j09pj6[aria-disabled] {
  color: var(--_6qdq8w9);
  cursor: not-allowed;
}
._4j09pj7 {
  cursor: pointer;
  text-decoration: none;
}
._4j09pj7[aria-disabled] {
  cursor: not-allowed;
}
._4j09pj8 {
  margin-left: 3px;
}
._4j09pj9 {
  --_4j09pj4: var(--_6qdq8wi);
  color: var(--_6qdq8wa);
}
._4j09pja {
  --_4j09pj4: transparent;
  color: var(--_6qdq8wc);
}
._4j09pja svg {
  color: var(--_6qdq8wc);
}
._4j09pjc {
  isolation: isolate;
}
._4j09pjg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._4j09pji {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_6qdq8w7);
  z-index: 1;
}
[aria-checked="true"] ._4j09pji {
  color: var(--_6qdq8w8);
}
._4j09pjk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_6qdq8w7);
  isolation: isolate;
}
[aria-checked="true"] ._4j09pjk {
  background-color: var(--_6qdq8we);
  border-color: var(--_6qdq8we);
}
._4j09pjp {
  height: 34px;
}
._4j09pjr {
  height: 1px;
  background-color: var(--_6qdq8wq);
}
._4j09pjs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._4j09pju {
  background: transparent;
  border: none;
}
._4j09pju:hover, ._4j09pju[data-highlighted] {
  background-color: var(--_6qdq8wm);
}
._4j09pju:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: -2px;
}
._1gtwd7d0 {
  width: 200px;
}
._92mug81 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_6qdq8wk);
}
._92mug82 {
  width: fit-content;
}
._92mug85 {
  width: fit-content;
  justify-self: flex-end;
}
._92mug85:not(._92mug83) {
  opacity: 0;
  transform: translateX(var(--_1q1z5bjj));
  pointer-events: none;
}
._92mug87 {
  background: transparent;
  color: var(--_6qdq8wf);
  isolation: isolate;
}
._92mug87::after {
  content: "";
  position: absolute;
  transition: var(--_1q1z5bjf);
  z-index: -1;
  inset: calc(var(--_1q1z5bjj) * -1);
  background-color: var(--_6qdq8wm);
  border-radius: var(--_1q1z5bj9);
}
._92mug87:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 6px;
}
._92mug87:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._92mug89 {
  margin: calc(var(--_1q1z5bjk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._92mug8d {
  appearance: none;
  outline: none;
  background: var(--_6qdq8wk);
  color: var(--_6qdq8w7);
  border: 1px solid var(--_6qdq8wq);
  height: var(--_1q1z5bjr);
}
._92mug8d:hover, ._92mug8d[data-popup-open] {
  background-color: var(--_6qdq8wm);
}
._92mug8d:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  z-index: 1;
}
._92mug8f {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._92mug8h {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._92mug8i {
  color: var(--_6qdq8wc);
}
._92mug8k {
  height: 1px;
  background-color: var(--_6qdq8wq);
}
@media screen and (max-width: 767px) {
  ._92mug85 {
    display: none;
  }
}
._1votys42 {
  flex: 1;
  min-height: 0;
}
._1votys45 {
  --_1votys43: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1votys43), 1fr);
}
._1votys47 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1votys49 {
  height: calc(100% / var(--_1votys40));
  width: calc(100% / var(--_1votys40));
  border-radius: calc(var(--_1q1z5bj9) / var(--_1votys40));
  transform: scale(var(--_1votys40));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1votys40));
}
._1votys4b {
  background: var(--_6qdq8wm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1votys4d {
  background: transparent;
  outline: 1px solid var(--_6qdq8wq);
}
._1votys4d:hover {
  outline: 2px solid var(--_6qdq8wr);
}
._1votys4d:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 2px;
}
._1votys4h {
  list-style: none;
}
._1votys4j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_6qdq8wq);
}
._1votys4j:hover {
  outline: 2px solid var(--_6qdq8wr);
}
._1votys4j:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1votys45 {
    --_1votys43: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1votys45 {
    --_1votys43: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1votys45 {
    --_1votys43: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1votys45 {
    --_1votys43: 5;
  }
}
.g0mcme1 {
  width: fit-content;
}
.g0mcme3:focus-visible ~ .g0mcme5 {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 4px;
}
.g0mcme8 {
  min-width: 0;
}
.g0mcme9 {
  flex-shrink: 0;
}
._1964ap62 {
  outline: none;
  height: var(--_1q1z5bjr);
  color: var(--_6qdq8w7);
  background: transparent;
}
._1964ap62::placeholder {
  color: var(--_6qdq8w9);
  font-weight: strong;
}
._1964ap62:hover:not(:focus-visible), ._1964ap62:hover:not(:focus-visible)::placeholder {
  background: var(--_6qdq8wm);
  opacity: 1;
  color: transparent;
}
._1964ap62:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1964ap62:focus-visible {
  outline: 2px solid var(--_6qdq8wt);
  outline-offset: 0;
  opacity: 1;
}
._1964ap62:focus-visible::placeholder {
  color: transparent;
}
._1964ap64 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_6qdq8w7);
}
._1964ap62:focus-visible ~ ._1964ap64 {
  opacity: 0;
}
._1964ap65 {
  color: var(--_6qdq8w9);
}
.kakbcn3 {
  border: 1px solid var(--_6qdq8wq);
}
.kakbcn5 {
  background-color: var(--_6qdq8wp);
  border-bottom: 1px solid var(--_6qdq8wq);
}
.kakbcn8 {
  background-color: var(--_6qdq8wp);
  border-top: 1px solid var(--_6qdq8wq);
}
.kakbcnc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .kakbcn6 {
    display: none;
  }
}
