.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._1wqjn6l5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--x9b2rnj);
  -webkit-tap-highlight-color: transparent;
}
._1wqjn6l5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--x9b2rnl);
  opacity: 0;
  transition: var(--_1blv0yof);
  pointer-events: none;
}
._1wqjn6l5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_1blv0yof);
}
._1wqjn6l5._1wqjn6l0 {
  color: var(--x9b2rnd);
}
._1wqjn6l5:not(._1wqjn6l1) {
  cursor: pointer;
}
._1wqjn6l5._1wqjn6l1 {
  color: var(--x9b2rn7);
}
._1wqjn6l5._1wqjn6l2,._1wqjn6l5._1wqjn6l3:not(._1wqjn6l0):not(._1wqjn6l1),html:not([data-playroom-dark]) ._1wqjn6l5:hover:not(._1wqjn6l0):not(._1wqjn6l1) {
  color: var(--x9b2rnc);
}
._1wqjn6l5:not(._1wqjn6l0):not(:hover):focus::before {
  color: var(--x9b2rn8);
}
._1wqjn6l5:not(._1wqjn6l0):not(._1wqjn6l1):focus::before,._1wqjn6l5:not(._1wqjn6l0):not(._1wqjn6l1):hover::before {
  opacity: 1;
}
._1wqjn6l5:not(._1wqjn6l3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1wqjn6l8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--x9b2rnf);
  border: 2px solid var(--x9b2rnj);
}
._1wqjn6l8:not(._1wqjn6l6) {
  transform: scale(0);
  opacity: 0;
}
._1wqjn6la {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--x9b2rnd);
  border: 2px solid var(--x9b2rnj);
}
._1wqjn6la:not(._1wqjn6l6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1wqjn6la svg {
  color: var(--x9b2rn9);
}
@keyframes _8b9bq51 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._8b9bq50 {
  background-color: var(--x9b2rnl);
}
._8b9bq53 {
  background-color: var(--x9b2rnh);
  color: var(--x9b2rnb);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _8b9bq51;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._8b9bq53:hover {
  cursor: help;
}
._8b9bq54 {
  width: 1em;
  padding: 0 8px;
}
._8b9bq56::after {
  content: "-";
}
._8b9bq58::after {
  content: "+";
  color: var(--x9b2rnc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--x9b2rnj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1blv0yo1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_1blv0yod);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--x9b2rno);
  border-radius: var(--_1blv0yoa);
  background-color: var(--x9b2rnj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_1blv0yo1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--x9b2rni);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_1blv0yo9);
  white-space: pre;
  color: var(--x9b2rn0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--x9b2rnf);
  color: var(--x9b2rn9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--x9b2rnc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_1blv0yo8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--x9b2rnj);
  color: var(--x9b2rn0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--x9b2rn8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--x9b2rnj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--x9b2rnj);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--x9b2rnj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--x9b2rnl);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--x9b2rn8);
  transition: var(--_1blv0yoh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._8b9bq58) {
  color: var(--x9b2rn7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--x9b2rn8);
  transition: var(--_1blv0yoh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--x9b2rn7);
}
.cm-s-neo .cm-tag {
  color: var(--x9b2rn1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--x9b2rn2);
}
.cm-s-neo .cm-string {
  color: var(--x9b2rn3);
}
.cm-s-neo .cm-atom {
  color: var(--x9b2rn4);
}
.cm-s-neo .cm-variable {
  color: var(--x9b2rn5);
}
.cm-s-neo .cm-number {
  color: var(--x9b2rn6);
}
.CodeMirror-dialog {
  padding-left: var(--_1blv0yoo);
  padding-right: var(--_1blv0yoo);
  min-height: 60px;
  border-bottom: 1px solid var(--x9b2rnn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_8b9bq59));
  transition: var(--_1blv0yoh);
}
.dialog-opened .CodeMirror-scroll {
  --_8b9bq59: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_8b9bq59);
}
.CodeMirror-dialog input {
  font: var(--_1blv0yo5);
  font-family: var(--_1blv0yo1);
  height: var(--_1blv0yoe);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_1blv0yoe);
  font: var(--_1blv0yo5);
  font-family: var(--_1blv0yo1);
}
.CodeMirror-search-field {
  padding-left: var(--_1blv0yoo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--x9b2rnm);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--x9b2rnl);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_1blv0yoo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_1blv0yo4);
  font-family: var(--_1blv0yo0);
  margin-left: var(--_1blv0yol);
  padding-top: var(--_1blv0yol);
  padding-bottom: var(--_1blv0yol);
  padding-left: var(--_1blv0yon);
  padding-right: var(--_1blv0yon);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_1blv0yob);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--x9b2rnc);
  box-shadow: var(--x9b2rnp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--x9b2rnl);
}
.CodeMirror-dialog button:hover {
  background: var(--x9b2rne);
}
._1gpzdig1 {
  justify-content: safe center;
}
._1gpzdig4 {
  flex-shrink: 0;
  width: var(--_1gpzdig2);
}
._1gpzdig4:not(:hover) ._1gpzdig7 {
  opacity: 0.8;
}
._1gpzdig9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1gpzdig4:not(:hover) ._1gpzdig9 {
  opacity: 0.3;
}
._1j1lpy15 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_1blv0yo8) * 5);
  height: calc(var(--_1blv0yo8) * 8);
  max-width: calc((100vw - 60px) - (var(--_1blv0yod) * 2));
}
._1j1lpy15._1j1lpy10 {
  padding-right: calc((15px * 2) + 16px);
}
._1j1lpy15:not(._1j1lpy11) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1j1lpy15._1j1lpy12 {
  background-color: var(--x9b2rng);
}
._1j1lpy15._1j1lpy13 {
  background-color: var(--x9b2rnh);
}
._1j1lpy17 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1j1lpy17:not(:hover) {
  opacity: 0.4;
}
.ipj8h41 {
  color: var(--x9b2rn8);
  font-family: var(--_1blv0yo0);
}
.ipj8h42 {
  font-size: 36px;
}
.ipj8h43 {
  font-size: 24px;
}
.ipj8h44 {
  font-size: 16px;
}
.l5dt6u2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--l5dt6u0);
  align-items: var(--l5dt6u1);
}
.l5dt6u3 {
  --l5dt6u0: var(--_1blv0yoi);
}
.l5dt6u4 {
  --l5dt6u0: var(--_1blv0yoj);
}
.l5dt6u5 {
  --l5dt6u0: var(--_1blv0yok);
}
.l5dt6u6 {
  --l5dt6u0: var(--_1blv0yol);
}
.l5dt6u7 {
  --l5dt6u0: var(--_1blv0yom);
}
.l5dt6u8 {
  --l5dt6u0: var(--_1blv0yon);
}
.l5dt6u9 {
  --l5dt6u0: var(--_1blv0yoo);
}
.l5dt6ua {
  --l5dt6u0: var(--_1blv0yop);
}
.l5dt6ub {
  --l5dt6u0: var(--_1blv0yoq);
}
.l5dt6uc {
  --l5dt6u0: var(--_1blv0yor);
}
.l5dt6ud {
  align-items: flex-start;
}
.l5dt6ue {
  align-items: center;
}
.l5dt6uf {
  align-items: flex-end;
}
._1d97sgk1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1d97sgk0);
}
._1d97sgk2 {
  --_1d97sgk0: var(--_1blv0yoi);
}
._1d97sgk3 {
  --_1d97sgk0: var(--_1blv0yoj);
}
._1d97sgk4 {
  --_1d97sgk0: var(--_1blv0yok);
}
._1d97sgk5 {
  --_1d97sgk0: var(--_1blv0yol);
}
._1d97sgk6 {
  --_1d97sgk0: var(--_1blv0yom);
}
._1d97sgk7 {
  --_1d97sgk0: var(--_1blv0yon);
}
._1d97sgk8 {
  --_1d97sgk0: var(--_1blv0yoo);
}
._1d97sgk9 {
  --_1d97sgk0: var(--_1blv0yop);
}
._1d97sgka {
  --_1d97sgk0: var(--_1blv0yoq);
}
._1d97sgkb {
  --_1d97sgk0: var(--_1blv0yor);
}
.kgqptm1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_1blv0yol) * -1);
}
.kgqptm1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1blv0yob);
  box-shadow: var(--x9b2rnp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_1blv0yog);
}
.kgqptm1:focus::before, .kgqptm1:hover::before {
  opacity: 1;
  transform: scale(1);
}
.kgqptm4 {
  height: 20px;
  width: 20px;
}
.kgqptm6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_1blv0yoj) * 2));
  width: calc(20px - (var(--_1blv0yoj) * 2));
}
.kgqptm6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1blv0yoa);
  box-shadow: var(--x9b2rnp);
  transition: var(--_1blv0yog);
  opacity: 0;
  transform: scale(0.5);
}
.kgqptm6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1blv0yoa);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--x9b2rnj);
}
.kgqptm4:hover:not(:focus) ~ .kgqptm6::before, .kgqptm4:focus ~ .kgqptm6::before {
  opacity: 1;
  transform: scale(1);
}
.kgqptm6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_1blv0yoh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.kgqptm4:checked ~ .kgqptm6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_1blv0yoh);
}
.kgqptm8 {
  color: var(--x9b2rn8);
  height: var(--_1blv0yoe);
  background: var(--x9b2rnj);
  border: 1px solid var(--x9b2rnn);
}
.kgqptm8::placeholder {
  color: var(--x9b2rn7);
}
._1mdikti1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_1blv0yoe);
  -webkit-tap-highlight-color: transparent;
}
._1mdikti4 {
  --_1mdikti2: currentColor;
  color: var(--_1mdikti2);
  border: 1px solid var(--x9b2rn7);
  height: calc(var(--_1blv0yo8) * 9);
}
._1mdikti4:hover {
  --_1mdikti2: var(--x9b2rnc);
  border-color: var(--_1mdikti2);
}
._1mdikti4:active {
  transform: scale(0.98);
}
._1mdikti4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_1blv0yoe);
  min-width: var(--_1blv0yoe);
  left: calc((var(--_1blv0yo8) * 2) * -1);
  right: calc((var(--_1blv0yo8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1mdikti4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--x9b2rnp);
}
._1mdikti5 {
  --_1mdikti2: var(--x9b2rnd) !important;
  border-color: var(--_1mdikti2);
}
._1mdikti7 {
  top: 1px;
}
.uf6rsq0 {
  transition: var(--_1blv0yog);
  transform-origin: 50% 50%;
}
.uf6rsq1 {
  transform: rotate(90deg);
}
.uf6rsq2 {
  transform: rotate(180deg);
}
.uf6rsq3 {
  transform: rotate(270deg);
}
._1wsfso94 {
  min-width: 0;
}
._1wsfso95 {
  flex-shrink: 0;
}
._1wsfso99 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1wsfso97:focus:not(:hover) ~ ._1wsfso99 {
  opacity: 1;
}
._1gp5kma2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1gp5kma4 {
  display: inline-block;
  background: var(--x9b2rni);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1gp5kma6 {
  height: var(--_1blv0yoe);
  width: var(--_1blv0yoe);
}
._1gp5kma8 {
  height: var(--_1blv0yoe);
  width: var(--_1blv0yoe);
}
._1gp5kma8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--x9b2rnl);
  border-radius: var(--_1blv0yob);
  transition: var(--_1blv0yog);
  opacity: 0;
  transform: scale(0.8);
}
._1gp5kma6:checked ~ ._1gp5kma8,html:not([data-playroom-dark]) ._1gp5kma6:hover ~ ._1gp5kma8 {
  color: var(--x9b2rnc);
}
._1gp5kma6:focus ~ ._1gp5kma8::before, ._1gp5kma6:hover ~ ._1gp5kma8::before {
  opacity: 1;
  transform: scale(1);
}
._18wmzzm1 {
  color: var(--x9b2rn8);
  height: var(--_1blv0yoe);
  background: var(--x9b2rnj);
}
._18wmzzm1:focus {
  outline: none;
}
._18wmzzm1::placeholder {
  color: var(--x9b2rn7);
}
.mqzgmf2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--x9b2rnn);
}
.mqzgmf4 {
  list-style: none;
  top: 60px;
}
.mqzgmf4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--_1blv0yol);
  z-index: 1;
}
.mqzgmf4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--_1blv0yol);
  z-index: 1;
}
.mqzgmf6 {
  scroll-margin-block: var(--_1blv0yol);
  color: var(--x9b2rn8);
  background-color: var(--x9b2rnj);
}
.mqzgmf6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--x9b2rnl);
  border-radius: var(--_1blv0yoa);
  opacity: 0;
  pointer-events: none;
}
.mqzgmf8 {
  color: var(--x9b2rna);
}
.mqzgmf9 {
  color: var(--x9b2rnc);
}
.mqzgmf9::before {
  opacity: 1;
}
.fplpbn2 {
  color: var(--x9b2rn8);
  min-width: calc(60px + 1px);
}
.fplpbn2.fplpbn0 {
  width: 100vw;
}
.fplpbn6 {
  width: 60px;
  background-color: var(--x9b2rnj);
  border-left: 1px solid var(--x9b2rnn);
}
.fplpbn8 {
  width: 320px;
  background-color: var(--x9b2rnj);
  border-left: 1px solid var(--x9b2rnn);
}
.fplpbn9 {
  opacity: 0;
  transform: translateX(30%);
}
.fplpbnb {
  opacity: 1;
  transform: translateX(0);
}
.fplpbnc {
  opacity: 1;
  transform: translateX(0);
}
.fplpbnd {
  opacity: 1;
}
.fplpbnf {
  opacity: 0;
  transform: translateX(30%);
}
.fplpbng {
  opacity: 0;
  transform: translateX(30%);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--x9b2rnk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.ryrxiy0 {
  flex-direction: row;
}
.ryrxiy1 {
  flex-direction: column;
}
.ryrxiy3 {
  min-width: 0;
  min-height: 0;
}
.ryrxiy7 {
  width: clamp(460px, var(--ryrxiy4), 90vw) !important;
}
.ryrxiy8 {
  height: clamp(300px, var(--ryrxiy4), 80vh) !important;
}
.ryrxiy9 {
  min-width: 460px;
  max-width: 90vw;
}
.ryrxiya {
  min-height: 300px;
  max-height: 80vh;
}
.ryrxiyb {
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.ryrxiye.ryrxiyc {
  width: 60px;
}
.ryrxiyg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_1blv0yoe);
  height: var(--_1blv0yoe);
}
.ryrxiyg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_1blv0yob);
  transition: var(--_1blv0yof);
}
.ryrxiyg:not(:hover):not(:focus) {
  opacity: 0.3;
}
.ryrxiyg:hover::before, .ryrxiyg:focus::before {
  opacity: 0.05;
}
.ryrxiyi {
  right: 60px;
}
