._1m4keqh1 {
  background-color: var(--ziqmmxl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--ziqmmxq);
}
._1m4keqh2::before {
  content: "";
  position: absolute;
  min-height: var(--dcc1x4c);
  min-width: var(--dcc1x4c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1xug45h2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1xug45h4 {
  border: 1px solid var(--ziqmmxq);
  background-color: var(--ziqmmxk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1xug45h4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ziqmmxm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1xug45h4:hover::after {
  opacity: 1;
}
._1xug45h4:focus-visible::after {
  opacity: 1;
}
._1xug45h4:active:not([disabled]) {
  transform: scale(0.97);
}
._1xug45h4:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 0;
}
._1xug45h6 {
  isolation: isolate;
}
._1xug45h8 {
  height: var(--_1xug45h0);
}
._1xug45ha {
  border-color: var(--ziqmmxc);
}
._1xug45ha::after {
  background-color: var(--ziqmmxh);
}
._1xug45hb {
  border-color: var(--ziqmmxa);
}
._1xug45hb::after {
  background-color: var(--ziqmmxi);
}
._1xug45hc {
  --_1xug45h0: var(--dcc1x4q);
}
._1xug45hd {
  --_1xug45h0: var(--dcc1x4r);
}
._1xug45he {
  --_1xug45h0: var(--dcc1x4s);
}
._1mkznvo1 {
  --ziqmmx7: var(--ziqmmxd);
  background-color: var(--ziqmmxn);
  outline: 1px solid var(--ziqmmxs);
  outline-offset: -1px;
}
.v3cyoa3 {
  background: transparent;
  outline: none;
  height: var(--v3cyoa0) !important;
  width: var(--v3cyoa0) !important;
}
.v3cyoa6 {
  padding: var(--v3cyoa4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--v3cyoa1);
  isolation: isolate;
}
.v3cyoa3[data-pressed] .v3cyoa6, .v3cyoa3:active .v3cyoa6 {
  transform: scale(.95);
}
.v3cyoa3:focus-visible .v3cyoa6 {
  outline: 2px solid var(--ziqmmxt);
}
.v3cyoa3[aria-disabled="true"] .v3cyoa6 {
  --v3cyoa1: var(--ziqmmx9);
}
.v3cyoa7 {
  --v3cyoa0: var(--dcc1x4q);
  --v3cyoa4: 6px;
}
.v3cyoa8 {
  --v3cyoa0: var(--dcc1x4r);
  --v3cyoa4: var(--dcc1x4j);
}
.v3cyoa9 {
  --v3cyoa0: var(--dcc1x4s);
  --v3cyoa4: var(--dcc1x4j);
}
.v3cyoaa {
  --v3cyoa1: var(--ziqmmx7);
}
.v3cyoab {
  --v3cyoa1: var(--ziqmmxb);
}
.v3cyoac {
  --v3cyoa1: var(--ziqmmxc);
}
.v3cyoad {
  background-color: var(--ziqmmxk);
  outline: 1px solid var(--ziqmmxq);
  outline-offset: -1px;
}
.v3cyoa3:not([aria-disabled="true"]):hover > .v3cyoad, .v3cyoa3:not([aria-disabled="true"])[data-popup-open] > .v3cyoad {
  background-color: var(--ziqmmxm);
}
.v3cyoae {
  --v3cyoa1: var(--ziqmmx8);
  background-color: var(--ziqmmxf);
}
.v3cyoa3:not([aria-disabled="true"]):hover > .v3cyoae, .v3cyoa3:not([aria-disabled="true"])[data-popup-open] > .v3cyoae {
  background-color: var(--ziqmmxg);
}
.v3cyoa3:not([aria-disabled="true"]):hover > .v3cyoaf, .v3cyoa3:not([aria-disabled="true"])[data-popup-open] > .v3cyoaf {
  background-color: var(--ziqmmxm);
}
.v3cyoag {
  margin: calc((var(--v3cyoa4) + 2px) * -1);
}
.v3cyoa6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.f27e9s1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.f27e9s2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.f27e9s2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.f27e9s4 {
  --f27e9s3: 30px;
}
.f27e9s5 {
  --f27e9s3: 45px;
}
.f27e9s6 {
  --f27e9s3: 60px;
}
.f27e9s7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.f27e9s8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.f27e9s9 {
  overflow: auto;
}
.f27e9se {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--f27e9sc, 0)),linear-gradient(to right, transparent 0, black var(--f27e9sa, 0)),linear-gradient(to left, transparent 0, black var(--f27e9sb, 0)),linear-gradient(to top, transparent 0, black var(--f27e9sd, 0));
}
.f27e9sf {
  --f27e9sa: var(--f27e9s3);
}
.f27e9sg {
  --f27e9sb: var(--f27e9s3);
}
.f27e9sh {
  --f27e9sc: var(--f27e9s3);
}
.f27e9si {
  --f27e9sd: var(--f27e9s3);
}
._9kjbus2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--dcc1x48);
  color: var(--_9kjbus0);
  isolation: isolate;
  outline: none;
}
._9kjbus2[data-pressed], ._9kjbus2:active {
  transform: scale(.95);
}
._9kjbus2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--dcc1x4i) * -1);
  background-color: var(--_9kjbus0);
  border-radius: var(--dcc1x48);
}
._9kjbus2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._9kjbus2:hover, ._9kjbus2[data-popup-open]:not(:focus-visible) {
  color: var(--ziqmmx8);
}
._9kjbus2:focus-visible::after {
  outline: 2px solid var(--ziqmmxt);
}
._9kjbus2:focus-visible:not(:hover)::after {
  background: transparent;
}
._9kjbus3 {
  --_9kjbus0: var(--ziqmmxb);
}
._9kjbus4 {
  --_9kjbus0: var(--ziqmmxc);
}
._9kjbus2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._12c2fvu1 {
  justify-content: safe center;
}
._12c2fvu5 {
  flex-shrink: 0;
  width: var(--_12c2fvu2);
}
._12c2fvu5:last-child {
  padding-right: var(--dcc1x4n);
}
._12c2fvu6 {
  transition: color 150ms ease;
}
._12c2fvu5:hover ._12c2fvu6, ._12c2fvu5:focus-within ._12c2fvu6, ._12c2fvu3 ._12c2fvu6 {
  color: var(--ziqmmxb);
}
._12c2fvu8 {
  outline: 1px solid var(--ziqmmxq);
}
._12c2fvua {
  transition: opacity 150ms ease;
}
._12c2fvu5:not(:hover, :focus-within, ._12c2fvu3) ._12c2fvua {
  opacity: 1;
}
._12c2fvuc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._12c2fvua:hover ~ ._12c2fvu8 ._12c2fvuc, ._12c2fvua:focus-within ~ ._12c2fvu8._12c2fvuc {
  outline-color: var(--ziqmmxb);
}
._12c2fvue {
  transition: opacity 150ms ease;
}
._12c2fvu5:not(:hover, :focus-within, ._12c2fvu3) ._12c2fvue {
  opacity: 0;
}
._1oidfd11 {
  color: var(--ziqmmx7);
  font-family: var(--dcc1x40);
}
._1oidfd12 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1oidfd13 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1oidfd14 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
.i1t8v51 {
  display: flex;
  flex-direction: column;
  gap: var(--i1t8v50);
}
.i1t8v52 {
  --i1t8v50: var(--dcc1x4g);
}
.i1t8v53 {
  --i1t8v50: var(--dcc1x4h);
}
.i1t8v54 {
  --i1t8v50: var(--dcc1x4i);
}
.i1t8v55 {
  --i1t8v50: var(--dcc1x4j);
}
.i1t8v56 {
  --i1t8v50: var(--dcc1x4k);
}
.i1t8v57 {
  --i1t8v50: var(--dcc1x4l);
}
.i1t8v58 {
  --i1t8v50: var(--dcc1x4m);
}
.i1t8v59 {
  --i1t8v50: var(--dcc1x4n);
}
.i1t8v5a {
  --i1t8v50: var(--dcc1x4o);
}
.i1t8v5b {
  --i1t8v50: var(--dcc1x4p);
}
.i1t8v5c {
  align-items: flex-start;
}
.i1t8v5d {
  align-items: center;
}
.i1t8v5e {
  align-items: flex-end;
}
._171zmd01 {
  backdrop-filter: blur(6px);
}
._171zmd01::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ziqmmxj);
  opacity: 0.4;
}
html[data-playroom-dark] ._171zmd01::before {
  opacity: 0.7;
}
._171zmd01[data-starting-style]::before, ._171zmd01[data-ending-style]::before {
  opacity: 0;
}
._171zmd03 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--dcc1x4k) * 2));
  max-height: calc(100dvh - (var(--dcc1x4k) * 2));
}
._171zmd03[data-starting-style], ._171zmd03[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._171zmd07:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 2px;
}
.rjpl1p2 {
  display: flex;
  flex-direction: row;
  gap: var(--rjpl1p0);
  align-items: var(--rjpl1p1);
}
.rjpl1p3 {
  flex-wrap: wrap;
}
.rjpl1p4 {
  --rjpl1p0: var(--dcc1x4g);
}
.rjpl1p5 {
  --rjpl1p0: var(--dcc1x4h);
}
.rjpl1p6 {
  --rjpl1p0: var(--dcc1x4i);
}
.rjpl1p7 {
  --rjpl1p0: var(--dcc1x4j);
}
.rjpl1p8 {
  --rjpl1p0: var(--dcc1x4k);
}
.rjpl1p9 {
  --rjpl1p0: var(--dcc1x4l);
}
.rjpl1pa {
  --rjpl1p0: var(--dcc1x4m);
}
.rjpl1pb {
  --rjpl1p0: var(--dcc1x4n);
}
.rjpl1pc {
  --rjpl1p0: var(--dcc1x4o);
}
.rjpl1pd {
  --rjpl1p0: var(--dcc1x4p);
}
.rjpl1pe {
  align-items: flex-start;
}
.rjpl1pf {
  align-items: center;
}
.rjpl1pg {
  align-items: flex-end;
}
._70uu7h0 {
  isolation: isolate;
  white-space: nowrap;
}
._70uu7h1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._70uu7h3 {
    display: none;
  }
}
._1ssqd062 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1ssqd063 {
  width: 250px;
}
._1ssqd066 {
  --_1ssqd064: var(--ziqmmxm);
  outline: none;
  cursor: default;
  color: var(--ziqmmx7);
  height: 34px;
  isolation: isolate;
}
._1ssqd066::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--dcc1x48);
  z-index: -1;
}
._1ssqd066[data-popup-open]:not([aria-disabled])::before, ._1ssqd066[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1ssqd064);
}
._1ssqd066:focus-visible::before {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: -2px;
}
._1ssqd066[aria-disabled] {
  color: var(--ziqmmx9);
  cursor: not-allowed;
}
._1ssqd067 {
  cursor: pointer;
  text-decoration: none;
}
._1ssqd067[aria-disabled] {
  cursor: not-allowed;
}
._1ssqd068 {
  margin-left: 3px;
}
._1ssqd069 {
  --_1ssqd064: var(--ziqmmxi);
  color: var(--ziqmmxa);
}
._1ssqd06a {
  --_1ssqd064: transparent;
  color: var(--ziqmmxc);
}
._1ssqd06a svg {
  color: var(--ziqmmxc);
}
._1ssqd06c {
  isolation: isolate;
}
._1ssqd06g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1ssqd06i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--ziqmmx7);
  z-index: 1;
}
[aria-checked="true"] ._1ssqd06i {
  color: var(--ziqmmx8);
}
._1ssqd06k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--ziqmmx7);
  isolation: isolate;
}
[aria-checked="true"] ._1ssqd06k {
  background-color: var(--ziqmmxe);
  border-color: var(--ziqmmxe);
}
._1ssqd06p {
  height: 34px;
}
._1ssqd06r {
  height: 1px;
  background-color: var(--ziqmmxq);
}
._1ssqd06t {
  background: transparent;
  border: none;
}
._1ssqd06t:hover, ._1ssqd06t[data-highlighted] {
  background-color: var(--ziqmmxm);
}
._1ssqd06t:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: -2px;
}
._1fesswx0 {
  width: 200px;
}
.r6zoe11 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ziqmmxk);
}
.r6zoe12 {
  width: fit-content;
}
.r6zoe14 {
  width: fit-content;
  justify-self: flex-end;
}
.r6zoe17:not(.r6zoe15) {
  opacity: 0;
  transform: translateX(var(--dcc1x4j));
  pointer-events: none;
}
.r6zoe19 {
  background: transparent;
  color: var(--ziqmmxf);
  isolation: isolate;
}
.r6zoe19::after {
  content: "";
  position: absolute;
  transition: var(--dcc1x4f);
  z-index: -1;
  inset: calc(var(--dcc1x4j) * -1);
  background-color: var(--ziqmmxm);
  border-radius: var(--dcc1x49);
}
.r6zoe19:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 6px;
}
.r6zoe19:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.r6zoe1b {
  margin: calc(var(--dcc1x4k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.r6zoe1f {
  appearance: none;
  outline: none;
  background: var(--ziqmmxk);
  color: var(--ziqmmx7);
  border: 1px solid var(--ziqmmxq);
  height: var(--dcc1x4r);
}
.r6zoe1f:hover, .r6zoe1f[data-popup-open] {
  background-color: var(--ziqmmxm);
}
.r6zoe1f:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  z-index: 1;
}
.r6zoe1h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.r6zoe1j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.r6zoe1k {
  color: var(--ziqmmxc);
}
.r6zoe1m {
  height: 1px;
  background-color: var(--ziqmmxq);
}
@media screen and (max-width: 767px) {
  .r6zoe14 {
    display: none;
  }
}
._1525wdg2 {
  flex: 1;
  min-height: 0;
}
._1525wdg5 {
  --_1525wdg3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1525wdg3), 1fr);
}
._1525wdg7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1525wdg9 {
  height: calc(100% / var(--_1525wdg0));
  width: calc(100% / var(--_1525wdg0));
  border-radius: calc(var(--dcc1x49) / var(--_1525wdg0));
  transform: scale(var(--_1525wdg0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1525wdg0));
}
._1525wdgb {
  background: var(--ziqmmxm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1525wdgd {
  background: transparent;
  outline: 1px solid var(--ziqmmxq);
}
._1525wdgd:hover {
  outline: 2px solid var(--ziqmmxr);
}
._1525wdgd:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 2px;
}
._1525wdgh {
  list-style: none;
}
._1525wdgj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--ziqmmxq);
}
._1525wdgj:hover {
  outline: 2px solid var(--ziqmmxr);
}
._1525wdgj:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1525wdg5 {
    --_1525wdg3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1525wdg5 {
    --_1525wdg3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1525wdg5 {
    --_1525wdg3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1525wdg5 {
    --_1525wdg3: 5;
  }
}
.ce58fo1 {
  width: fit-content;
}
.ce58fo3:focus-visible ~ .ce58fo5 {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 4px;
}
.ce58fo8 {
  min-width: 0;
}
.ce58fo9 {
  flex-shrink: 0;
}
._1k1u3c82 {
  outline: none;
  height: var(--dcc1x4r);
  color: var(--ziqmmx7);
  background: transparent;
}
._1k1u3c82::placeholder {
  color: var(--ziqmmx9);
  font-weight: strong;
}
._1k1u3c82:hover:not(:focus-visible), ._1k1u3c82:hover:not(:focus-visible)::placeholder {
  background: var(--ziqmmxm);
  opacity: 1;
  color: transparent;
}
._1k1u3c82:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1k1u3c82:focus-visible {
  outline: 2px solid var(--ziqmmxt);
  outline-offset: 0;
  opacity: 1;
}
._1k1u3c82:focus-visible::placeholder {
  color: transparent;
}
._1k1u3c84 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--ziqmmx7);
}
._1k1u3c82:focus-visible ~ ._1k1u3c84 {
  opacity: 0;
}
._1k1u3c85 {
  color: var(--ziqmmx9);
}
._1lzifdb3 {
  border: 1px solid var(--ziqmmxq);
}
._1lzifdb5 {
  background-color: var(--ziqmmxp);
  border-bottom: 1px solid var(--ziqmmxq);
}
._1lzifdb8 {
  background-color: var(--ziqmmxp);
  border-top: 1px solid var(--ziqmmxq);
}
._1lzifdbc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1lzifdb6 {
    display: none;
  }
}
