._261yui1 {
  background-color: var(--_87aswdl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_87aswdq);
}
._261yui2::before {
  content: "";
  position: absolute;
  min-height: var(--_1knv96ec);
  min-width: var(--_1knv96ec);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1hypeq92 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1hypeq94 {
  border: 1px solid var(--_87aswdq);
  background-color: var(--_87aswdk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1hypeq94::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_87aswdm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1hypeq94:hover::after {
  opacity: 1;
}
._1hypeq94:focus-visible::after {
  opacity: 1;
}
._1hypeq94:active:not([disabled]) {
  transform: scale(0.97);
}
._1hypeq94:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 0;
}
._1hypeq96 {
  isolation: isolate;
}
._1hypeq98 {
  height: var(--_1hypeq90);
}
._1hypeq9a {
  border-color: var(--_87aswdc);
}
._1hypeq9a::after {
  background-color: var(--_87aswdh);
}
._1hypeq9b {
  border-color: var(--_87aswda);
}
._1hypeq9b::after {
  background-color: var(--_87aswdi);
}
._1hypeq9c {
  --_1hypeq90: var(--_1knv96eq);
}
._1hypeq9d {
  --_1hypeq90: var(--_1knv96er);
}
._1hypeq9e {
  --_1hypeq90: var(--_1knv96es);
}
._1nq8dq71 {
  --_87aswd7: var(--_87aswdd);
  background-color: var(--_87aswdn);
  outline: 1px solid var(--_87aswds);
  outline-offset: -1px;
}
.mlzy0j3 {
  background: transparent;
  outline: none;
  height: var(--mlzy0j0) !important;
  width: var(--mlzy0j0) !important;
}
.mlzy0j6 {
  padding: var(--mlzy0j4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--mlzy0j1);
  isolation: isolate;
}
.mlzy0j3[data-pressed] .mlzy0j6, .mlzy0j3:active .mlzy0j6 {
  transform: scale(.95);
}
.mlzy0j3:focus-visible .mlzy0j6 {
  outline: 2px solid var(--_87aswdt);
}
.mlzy0j3[aria-disabled="true"] .mlzy0j6 {
  --mlzy0j1: var(--_87aswd9);
}
.mlzy0j7 {
  --mlzy0j0: var(--_1knv96eq);
  --mlzy0j4: 6px;
}
.mlzy0j8 {
  --mlzy0j0: var(--_1knv96er);
  --mlzy0j4: var(--_1knv96ej);
}
.mlzy0j9 {
  --mlzy0j0: var(--_1knv96es);
  --mlzy0j4: var(--_1knv96ej);
}
.mlzy0ja {
  --mlzy0j1: var(--_87aswd7);
}
.mlzy0jb {
  --mlzy0j1: var(--_87aswdb);
}
.mlzy0jc {
  --mlzy0j1: var(--_87aswdc);
}
.mlzy0jd {
  background-color: var(--_87aswdk);
  outline: 1px solid var(--_87aswdq);
  outline-offset: -1px;
}
.mlzy0j3:not([aria-disabled="true"]):hover > .mlzy0jd, .mlzy0j3:not([aria-disabled="true"])[data-popup-open] > .mlzy0jd {
  background-color: var(--_87aswdm);
}
.mlzy0je {
  --mlzy0j1: var(--_87aswd8);
  background-color: var(--_87aswdf);
}
.mlzy0j3:not([aria-disabled="true"]):hover > .mlzy0je, .mlzy0j3:not([aria-disabled="true"])[data-popup-open] > .mlzy0je {
  background-color: var(--_87aswdg);
}
.mlzy0j3:not([aria-disabled="true"]):hover > .mlzy0jf, .mlzy0j3:not([aria-disabled="true"])[data-popup-open] > .mlzy0jf {
  background-color: var(--_87aswdm);
}
.mlzy0jg {
  margin: calc((var(--mlzy0j4) + 2px) * -1);
}
.mlzy0j6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.emejpu1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.emejpu2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.emejpu2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.emejpu4 {
  --emejpu3: 30px;
}
.emejpu5 {
  --emejpu3: 45px;
}
.emejpu6 {
  --emejpu3: 60px;
}
.emejpu7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.emejpu8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.emejpu9 {
  overflow: auto;
}
.emejpue {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--emejpuc, 0)),linear-gradient(to right, transparent 0, black var(--emejpua, 0)),linear-gradient(to left, transparent 0, black var(--emejpub, 0)),linear-gradient(to top, transparent 0, black var(--emejpud, 0));
}
.emejpuf {
  --emejpua: var(--emejpu3);
}
.emejpug {
  --emejpub: var(--emejpu3);
}
.emejpuh {
  --emejpuc: var(--emejpu3);
}
.emejpui {
  --emejpud: var(--emejpu3);
}
._173rnin2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1knv96e8);
  color: var(--_173rnin0);
  isolation: isolate;
  outline: none;
}
._173rnin2[data-pressed], ._173rnin2:active {
  transform: scale(.95);
}
._173rnin2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1knv96ei) * -1);
  background-color: var(--_173rnin0);
  border-radius: var(--_1knv96e8);
}
._173rnin2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._173rnin2:hover, ._173rnin2[data-popup-open]:not(:focus-visible) {
  color: var(--_87aswd8);
}
._173rnin2:focus-visible::after {
  outline: 2px solid var(--_87aswdt);
}
._173rnin2:focus-visible:not(:hover)::after {
  background: transparent;
}
._173rnin3 {
  --_173rnin0: var(--_87aswdb);
}
._173rnin4 {
  --_173rnin0: var(--_87aswdc);
}
._173rnin2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.g37tzn1 {
  justify-content: safe center;
}
.g37tzn5 {
  flex-shrink: 0;
  width: var(--g37tzn2);
}
.g37tzn5:last-child {
  padding-right: var(--_1knv96en);
}
.g37tzn6 {
  transition: color 150ms ease;
}
.g37tzn5:hover .g37tzn6, .g37tzn5:focus-within .g37tzn6, .g37tzn3 .g37tzn6 {
  color: var(--_87aswdb);
}
.g37tzn8 {
  outline: 1px solid var(--_87aswdq);
}
.g37tzna {
  transition: opacity 150ms ease;
}
.g37tzn5:not(:hover, :focus-within, .g37tzn3) .g37tzna {
  opacity: 1;
}
.g37tznc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.g37tzna:hover ~ .g37tzn8 .g37tznc, .g37tzna:focus-within ~ .g37tzn8.g37tznc {
  outline-color: var(--_87aswdb);
}
.g37tzne {
  transition: opacity 150ms ease;
}
.g37tzn5:not(:hover, :focus-within, .g37tzn3) .g37tzne {
  opacity: 0;
}
._1n70r0o1 {
  color: var(--_87aswd7);
  font-family: var(--_1knv96e0);
}
._1n70r0o2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1n70r0o3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1n70r0o4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1xv33dr1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1xv33dr0);
}
._1xv33dr2 {
  --_1xv33dr0: var(--_1knv96eg);
}
._1xv33dr3 {
  --_1xv33dr0: var(--_1knv96eh);
}
._1xv33dr4 {
  --_1xv33dr0: var(--_1knv96ei);
}
._1xv33dr5 {
  --_1xv33dr0: var(--_1knv96ej);
}
._1xv33dr6 {
  --_1xv33dr0: var(--_1knv96ek);
}
._1xv33dr7 {
  --_1xv33dr0: var(--_1knv96el);
}
._1xv33dr8 {
  --_1xv33dr0: var(--_1knv96em);
}
._1xv33dr9 {
  --_1xv33dr0: var(--_1knv96en);
}
._1xv33dra {
  --_1xv33dr0: var(--_1knv96eo);
}
._1xv33drb {
  --_1xv33dr0: var(--_1knv96ep);
}
._1xv33drc {
  align-items: flex-start;
}
._1xv33drd {
  align-items: center;
}
._1xv33dre {
  align-items: flex-end;
}
.v4zkwi1 {
  backdrop-filter: blur(6px);
}
.v4zkwi1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_87aswdj);
  opacity: 0.4;
}
html[data-playroom-dark] .v4zkwi1::before {
  opacity: 0.7;
}
.v4zkwi1[data-starting-style]::before, .v4zkwi1[data-ending-style]::before {
  opacity: 0;
}
.v4zkwi3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1knv96ek) * 2));
  max-height: calc(100dvh - (var(--_1knv96ek) * 2));
}
.v4zkwi3[data-starting-style], .v4zkwi3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.v4zkwi7:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 2px;
}
.bvi23a2 {
  display: flex;
  flex-direction: row;
  gap: var(--bvi23a0);
  align-items: var(--bvi23a1);
}
.bvi23a3 {
  flex-wrap: wrap;
}
.bvi23a4 {
  --bvi23a0: var(--_1knv96eg);
}
.bvi23a5 {
  --bvi23a0: var(--_1knv96eh);
}
.bvi23a6 {
  --bvi23a0: var(--_1knv96ei);
}
.bvi23a7 {
  --bvi23a0: var(--_1knv96ej);
}
.bvi23a8 {
  --bvi23a0: var(--_1knv96ek);
}
.bvi23a9 {
  --bvi23a0: var(--_1knv96el);
}
.bvi23aa {
  --bvi23a0: var(--_1knv96em);
}
.bvi23ab {
  --bvi23a0: var(--_1knv96en);
}
.bvi23ac {
  --bvi23a0: var(--_1knv96eo);
}
.bvi23ad {
  --bvi23a0: var(--_1knv96ep);
}
.bvi23ae {
  align-items: flex-start;
}
.bvi23af {
  align-items: center;
}
.bvi23ag {
  align-items: flex-end;
}
._8bh9030 {
  isolation: isolate;
  white-space: nowrap;
}
._8bh9031 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._8bh9033 {
    display: none;
  }
}
._1oj3yv82 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1oj3yv83 {
  width: 250px;
}
._1oj3yv86 {
  --_1oj3yv84: var(--_87aswdm);
  outline: none;
  cursor: default;
  color: var(--_87aswd7);
  height: 34px;
  isolation: isolate;
}
._1oj3yv86::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1knv96e8);
  z-index: -1;
}
._1oj3yv86[data-popup-open]:not([aria-disabled])::before, ._1oj3yv86[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1oj3yv84);
}
._1oj3yv86:focus-visible::before {
  outline: 2px solid var(--_87aswdt);
  outline-offset: -2px;
}
._1oj3yv86[aria-disabled] {
  color: var(--_87aswd9);
  cursor: not-allowed;
}
._1oj3yv87 {
  cursor: pointer;
  text-decoration: none;
}
._1oj3yv87[aria-disabled] {
  cursor: not-allowed;
}
._1oj3yv88 {
  margin-left: 3px;
}
._1oj3yv89 {
  --_1oj3yv84: var(--_87aswdi);
  color: var(--_87aswda);
}
._1oj3yv8a {
  --_1oj3yv84: transparent;
  color: var(--_87aswdc);
}
._1oj3yv8a svg {
  color: var(--_87aswdc);
}
._1oj3yv8c {
  isolation: isolate;
}
._1oj3yv8g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1oj3yv8i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_87aswd7);
  z-index: 1;
}
[aria-checked="true"] ._1oj3yv8i {
  color: var(--_87aswd8);
}
._1oj3yv8k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_87aswd7);
  isolation: isolate;
}
[aria-checked="true"] ._1oj3yv8k {
  background-color: var(--_87aswde);
  border-color: var(--_87aswde);
}
._1oj3yv8p {
  height: 34px;
}
._1oj3yv8r {
  height: 1px;
  background-color: var(--_87aswdq);
}
._1oj3yv8t {
  background: transparent;
  border: none;
}
._1oj3yv8t:hover, ._1oj3yv8t[data-highlighted] {
  background-color: var(--_87aswdm);
}
._1oj3yv8t:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: -2px;
}
.bwjv860 {
  width: 200px;
}
._1me0xms1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_87aswdk);
}
._1me0xms2 {
  width: fit-content;
}
._1me0xms4 {
  width: fit-content;
  justify-self: flex-end;
}
._1me0xms7:not(._1me0xms5) {
  opacity: 0;
  transform: translateX(var(--_1knv96ej));
  pointer-events: none;
}
._1me0xms9 {
  background: transparent;
  color: var(--_87aswdf);
  isolation: isolate;
}
._1me0xms9::after {
  content: "";
  position: absolute;
  transition: var(--_1knv96ef);
  z-index: -1;
  inset: calc(var(--_1knv96ej) * -1);
  background-color: var(--_87aswdm);
  border-radius: var(--_1knv96e9);
}
._1me0xms9:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 6px;
}
._1me0xms9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1me0xmsb {
  margin: calc(var(--_1knv96ek) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1me0xmsf {
  appearance: none;
  outline: none;
  background: var(--_87aswdk);
  color: var(--_87aswd7);
  border: 1px solid var(--_87aswdq);
  height: var(--_1knv96er);
}
._1me0xmsf:hover, ._1me0xmsf[data-popup-open] {
  background-color: var(--_87aswdm);
}
._1me0xmsf:focus-visible {
  outline: 2px solid var(--_87aswdt);
  z-index: 1;
}
._1me0xmsh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1me0xmsj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1me0xmsk {
  color: var(--_87aswdc);
}
._1me0xmsm {
  height: 1px;
  background-color: var(--_87aswdq);
}
@media screen and (max-width: 767px) {
  ._1me0xms4 {
    display: none;
  }
}
._10desrf2 {
  flex: 1;
  min-height: 0;
}
._10desrf5 {
  --_10desrf3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_10desrf3), 1fr);
}
._10desrf7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._10desrf9 {
  height: calc(100% / var(--_10desrf0));
  width: calc(100% / var(--_10desrf0));
  border-radius: calc(var(--_1knv96e9) / var(--_10desrf0));
  transform: scale(var(--_10desrf0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_10desrf0));
}
._10desrfb {
  background: var(--_87aswdm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._10desrfd {
  background: transparent;
  outline: 1px solid var(--_87aswdq);
}
._10desrfd:hover {
  outline: 2px solid var(--_87aswdr);
}
._10desrfd:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 2px;
}
._10desrfh {
  list-style: none;
}
._10desrfj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_87aswdq);
}
._10desrfj:hover {
  outline: 2px solid var(--_87aswdr);
}
._10desrfj:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._10desrf5 {
    --_10desrf3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._10desrf5 {
    --_10desrf3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._10desrf5 {
    --_10desrf3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._10desrf5 {
    --_10desrf3: 5;
  }
}
.cskrlo1 {
  width: fit-content;
}
.cskrlo3:focus-visible ~ .cskrlo5 {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 4px;
}
.cskrlo8 {
  min-width: 0;
}
.cskrlo9 {
  flex-shrink: 0;
}
._197xstx2 {
  outline: none;
  height: var(--_1knv96er);
  color: var(--_87aswd7);
  background: transparent;
}
._197xstx2::placeholder {
  color: var(--_87aswd9);
  font-weight: strong;
}
._197xstx2:hover:not(:focus-visible), ._197xstx2:hover:not(:focus-visible)::placeholder {
  background: var(--_87aswdm);
  opacity: 1;
  color: transparent;
}
._197xstx2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._197xstx2:focus-visible {
  outline: 2px solid var(--_87aswdt);
  outline-offset: 0;
  opacity: 1;
}
._197xstx2:focus-visible::placeholder {
  color: transparent;
}
._197xstx4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_87aswd7);
}
._197xstx2:focus-visible ~ ._197xstx4 {
  opacity: 0;
}
._197xstx5 {
  color: var(--_87aswd9);
}
._6mraoc3 {
  border: 1px solid var(--_87aswdq);
}
._6mraoc5 {
  background-color: var(--_87aswdp);
  border-bottom: 1px solid var(--_87aswdq);
}
._6mraoc8 {
  background-color: var(--_87aswdp);
  border-top: 1px solid var(--_87aswdq);
}
._6mraocc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._6mraoc6 {
    display: none;
  }
}
