.zdynkt1 {
  background-color: var(--rvl80rm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--rvl80rr);
}
.zdynkt2::before {
  content: "";
  position: absolute;
  min-height: var(--_1w0ephvc);
  min-width: var(--_1w0ephvc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.k54kol2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.k54kol4 {
  border: 1px solid var(--rvl80rr);
  background-color: var(--rvl80rl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.k54kol4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--rvl80rn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.k54kol4:hover::after {
  opacity: 1;
}
.k54kol4:focus-visible::after {
  opacity: 1;
}
.k54kol4:active:not([disabled]) {
  transform: scale(0.97);
}
.k54kol4:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 0;
}
.k54kol6 {
  isolation: isolate;
}
.k54kol8 {
  height: var(--k54kol0);
}
.k54kola {
  border-color: var(--rvl80rc);
}
.k54kola::after {
  background-color: var(--rvl80ri);
}
.k54kolb {
  border-color: var(--rvl80ra);
}
.k54kolb::after {
  background-color: var(--rvl80rj);
}
.k54kolc {
  --k54kol0: var(--_1w0ephvq);
}
.k54kold {
  --k54kol0: var(--_1w0ephvr);
}
.k54kole {
  --k54kol0: var(--_1w0ephvs);
}
._33ekw11 {
  --rvl80r7: var(--rvl80rd);
  background-color: var(--rvl80ro);
  outline: 1px solid var(--rvl80rt);
  outline-offset: -1px;
}
._18gpwyi3 {
  background: transparent;
  outline: none;
  height: var(--_18gpwyi0) !important;
  width: var(--_18gpwyi0) !important;
}
._18gpwyi6 {
  padding: var(--_18gpwyi4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._18gpwyi3:active ._18gpwyi6 {
  transform: scale(.95);
}
._18gpwyi3:focus-visible ._18gpwyi6 {
  outline: 2px solid var(--rvl80ru);
}
._18gpwyi3[aria-disabled="true"] ._18gpwyi6 {
  --_18gpwyi1: var(--rvl80r9);
}
._18gpwyi7 {
  --_18gpwyi0: var(--_1w0ephvq);
  --_18gpwyi4: var(--_1w0ephvi);
}
._18gpwyi8 {
  --_18gpwyi0: var(--_1w0ephvr);
  --_18gpwyi4: var(--_1w0ephvj);
}
._18gpwyi9 {
  --_18gpwyi0: var(--_1w0ephvs);
  --_18gpwyi4: var(--_1w0ephvj);
}
._18gpwyij {
  --_18gpwyia: var(--rvl80r7);
  --_18gpwyib: var(--rvl80rl);
  --_18gpwyic: var(--rvl80rn);
  --_18gpwyid: var(--rvl80r8);
  --_18gpwyie: var(--rvl80rg);
  --_18gpwyif: var(--rvl80rh);
  --_18gpwyig: var(--rvl80r7);
  --_18gpwyih: var(--rvl80r7);
  --_18gpwyii: var(--rvl80rn);
}
._18gpwyik {
  --_18gpwyia: var(--rvl80rb);
  --_18gpwyib: var(--rvl80rl);
  --_18gpwyic: var(--rvl80rn);
  --_18gpwyid: var(--rvl80r8);
  --_18gpwyie: var(--rvl80rb);
  --_18gpwyif: var(--rvl80rf);
  --_18gpwyig: var(--rvl80rb);
  --_18gpwyih: var(--rvl80r8);
  --_18gpwyii: var(--rvl80re);
}
._18gpwyil {
  color: var(--_18gpwyia);
  background-color: var(--_18gpwyib);
  outline: 1px solid var(--rvl80rr);
  outline-offset: -1px;
}
._18gpwyi3:not([aria-disabled="true"]):hover > ._18gpwyil, ._18gpwyi3:not([aria-disabled="true"]):focus-visible > ._18gpwyil, ._18gpwyi3:not([aria-disabled="true"])[data-popup-open] > ._18gpwyil {
  background-color: var(--_18gpwyic);
}
._18gpwyim {
  color: var(--_18gpwyid);
  background-color: var(--_18gpwyie);
}
._18gpwyi3:not([aria-disabled="true"]):hover > ._18gpwyim, ._18gpwyi3:not([aria-disabled="true"]):focus-visible > ._18gpwyim, ._18gpwyi3:not([aria-disabled="true"])[data-popup-open] > ._18gpwyim {
  background-color: var(--_18gpwyif);
}
._18gpwyin {
  color: var(--_18gpwyig);
}
._18gpwyi3:not([aria-disabled="true"]):hover > ._18gpwyin, ._18gpwyi3:not([aria-disabled="true"]):focus-visible > ._18gpwyin, ._18gpwyi3:not([aria-disabled="true"])[data-popup-open] > ._18gpwyin {
  color: var(--_18gpwyih);
  background-color: var(--_18gpwyii);
}
._18gpwyio {
  margin: calc((var(--_18gpwyi4) + 2px) * -1);
}
._18gpwyi6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._15k6g4c0 {
  isolation: isolate;
  white-space: nowrap;
}
._15k6g4c1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._15k6g4c3 {
    display: none;
  }
}
.manrsg1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.manrsg2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.manrsg2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.manrsg4 {
  --manrsg3: 30px;
}
.manrsg5 {
  --manrsg3: 45px;
}
.manrsg6 {
  --manrsg3: 60px;
}
.manrsg7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.manrsg8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.manrsg9 {
  overflow: auto;
}
.manrsge {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--manrsgc, 0)),linear-gradient(to right, transparent 0, black var(--manrsga, 0)),linear-gradient(to left, transparent 0, black var(--manrsgb, 0)),linear-gradient(to top, transparent 0, black var(--manrsgd, 0));
}
.manrsgf {
  --manrsga: var(--manrsg3);
}
.manrsgg {
  --manrsgb: var(--manrsg3);
}
.manrsgh {
  --manrsgc: var(--manrsg3);
}
.manrsgi {
  --manrsgd: var(--manrsg3);
}
._1sr6ya52 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1sr6ya53 {
  width: 250px;
}
._1sr6ya56 {
  --_1sr6ya54: var(--rvl80rn);
  outline: none;
  cursor: default;
  color: var(--rvl80r7);
  height: 34px;
  isolation: isolate;
}
._1sr6ya56::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1w0ephv8);
  z-index: -1;
}
._1sr6ya56[data-popup-open]:not([aria-disabled])::before, ._1sr6ya56[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1sr6ya54);
}
._1sr6ya56:focus-visible::before {
  outline: 2px solid var(--rvl80ru);
  outline-offset: -2px;
}
._1sr6ya56[aria-disabled] {
  color: var(--rvl80r9);
  cursor: not-allowed;
}
._1sr6ya57 {
  cursor: pointer;
  text-decoration: none;
}
._1sr6ya57[aria-disabled] {
  cursor: not-allowed;
}
._1sr6ya58 {
  margin-left: 3px;
}
._1sr6ya59 {
  --_1sr6ya54: var(--rvl80rj);
  color: var(--rvl80ra);
}
._1sr6ya5a {
  --_1sr6ya54: transparent;
  color: var(--rvl80rc);
}
._1sr6ya5a svg {
  color: var(--rvl80rc);
}
._1sr6ya5c {
  isolation: isolate;
}
._1sr6ya5g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1sr6ya5i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--rvl80r7);
  z-index: 1;
}
[aria-checked="true"] ._1sr6ya5i {
  color: var(--rvl80r8);
}
._1sr6ya5k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--rvl80r7);
  isolation: isolate;
}
[aria-checked="true"] ._1sr6ya5k {
  background-color: var(--rvl80re);
  border-color: var(--rvl80re);
}
._1sr6ya5p {
  height: 34px;
}
._1sr6ya5r {
  height: 1px;
  background-color: var(--rvl80rr);
}
._1sr6ya5t {
  background: transparent;
  border: none;
}
._1sr6ya5t:hover, ._1sr6ya5t[data-highlighted] {
  background-color: var(--rvl80rn);
}
._1sr6ya5t:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: -2px;
}
._1lozgjg1 {
  justify-content: safe center;
}
._1lozgjg5 {
  flex-shrink: 0;
  width: var(--_1lozgjg2);
}
._1lozgjg5:last-child {
  padding-right: var(--_1w0ephvn);
}
._1lozgjg6 {
  transition: color 150ms ease;
}
._1lozgjg5:hover ._1lozgjg6, ._1lozgjg5:focus-within ._1lozgjg6, ._1lozgjg3 ._1lozgjg6 {
  color: var(--rvl80rb);
}
._1lozgjg8 {
  outline: 1px solid var(--rvl80rr);
}
._1lozgjga {
  transition: opacity 150ms ease;
}
._1lozgjg5:not(:hover, :focus-within, ._1lozgjg3) ._1lozgjga {
  opacity: 1;
}
._1lozgjgc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1lozgjga:hover ~ ._1lozgjg8 ._1lozgjgc, ._1lozgjga:focus-within ~ ._1lozgjg8._1lozgjgc {
  outline-color: var(--rvl80rb);
}
._1lozgjge {
  transition: opacity 150ms ease;
}
._1lozgjg5:not(:hover, :focus-within, ._1lozgjg3) ._1lozgjge {
  opacity: 0;
}
.pyhx1g1 {
  color: var(--rvl80r7);
  font-family: var(--_1w0ephv0);
}
.pyhx1g2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
.pyhx1g3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
.pyhx1g4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._182q4tj1 {
  display: flex;
  flex-direction: column;
  gap: var(--_182q4tj0);
}
._182q4tj2 {
  --_182q4tj0: var(--_1w0ephvg);
}
._182q4tj3 {
  --_182q4tj0: var(--_1w0ephvh);
}
._182q4tj4 {
  --_182q4tj0: var(--_1w0ephvi);
}
._182q4tj5 {
  --_182q4tj0: var(--_1w0ephvj);
}
._182q4tj6 {
  --_182q4tj0: var(--_1w0ephvk);
}
._182q4tj7 {
  --_182q4tj0: var(--_1w0ephvl);
}
._182q4tj8 {
  --_182q4tj0: var(--_1w0ephvm);
}
._182q4tj9 {
  --_182q4tj0: var(--_1w0ephvn);
}
._182q4tja {
  --_182q4tj0: var(--_1w0ephvo);
}
._182q4tjb {
  --_182q4tj0: var(--_1w0ephvp);
}
._182q4tjc {
  align-items: flex-start;
}
._182q4tjd {
  align-items: center;
}
._182q4tje {
  align-items: flex-end;
}
.osk32h1 {
  backdrop-filter: blur(6px);
}
.osk32h1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--rvl80rk);
  opacity: 0.4;
}
html[data-playroom-dark] .osk32h1::before {
  opacity: 0.7;
}
.osk32h1[data-starting-style]::before, .osk32h1[data-ending-style]::before {
  opacity: 0;
}
.osk32h3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1w0ephvk) * 2));
  max-height: calc(100dvh - (var(--_1w0ephvk) * 2));
}
.osk32h3[data-starting-style], .osk32h3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.osk32h7:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 2px;
}
._19qfhl12 {
  display: flex;
  flex-direction: row;
  gap: var(--_19qfhl10);
  align-items: var(--_19qfhl11);
}
._19qfhl13 {
  flex-wrap: wrap;
}
._19qfhl14 {
  --_19qfhl10: var(--_1w0ephvg);
}
._19qfhl15 {
  --_19qfhl10: var(--_1w0ephvh);
}
._19qfhl16 {
  --_19qfhl10: var(--_1w0ephvi);
}
._19qfhl17 {
  --_19qfhl10: var(--_1w0ephvj);
}
._19qfhl18 {
  --_19qfhl10: var(--_1w0ephvk);
}
._19qfhl19 {
  --_19qfhl10: var(--_1w0ephvl);
}
._19qfhl1a {
  --_19qfhl10: var(--_1w0ephvm);
}
._19qfhl1b {
  --_19qfhl10: var(--_1w0ephvn);
}
._19qfhl1c {
  --_19qfhl10: var(--_1w0ephvo);
}
._19qfhl1d {
  --_19qfhl10: var(--_1w0ephvp);
}
._19qfhl1e {
  align-items: flex-start;
}
._19qfhl1f {
  align-items: center;
}
._19qfhl1g {
  align-items: flex-end;
}
.rrw4fy0 {
  width: 200px;
}
._13ll4qh1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--rvl80rl);
}
._13ll4qh2 {
  width: fit-content;
}
._13ll4qh4 {
  width: fit-content;
  justify-self: flex-end;
}
._13ll4qh7:not(._13ll4qh5) {
  opacity: 0;
  transform: translateX(var(--_1w0ephvj));
  pointer-events: none;
}
._13ll4qh9 {
  background: transparent;
  color: var(--rvl80rg);
  isolation: isolate;
}
._13ll4qh9::after {
  content: "";
  position: absolute;
  transition: var(--_1w0ephvf);
  z-index: -1;
  inset: calc(var(--_1w0ephvj) * -1);
  background-color: var(--rvl80rn);
  border-radius: var(--_1w0ephv9);
}
._13ll4qh9:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 6px;
}
._13ll4qh9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._13ll4qhb {
  margin: calc(var(--_1w0ephvk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._13ll4qhf {
  appearance: none;
  outline: none;
  background: var(--rvl80rl);
  color: var(--rvl80r7);
  border: 1px solid var(--rvl80rr);
  height: var(--_1w0ephvr);
}
._13ll4qhf:hover, ._13ll4qhf[data-popup-open] {
  background-color: var(--rvl80rn);
}
._13ll4qhf:focus-visible {
  outline: 2px solid var(--rvl80ru);
  z-index: 1;
}
._13ll4qhh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._13ll4qhj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._13ll4qhk {
  color: var(--rvl80rc);
}
._13ll4qhm {
  height: 1px;
  background-color: var(--rvl80rr);
}
@media screen and (max-width: 767px) {
  ._13ll4qh4 {
    display: none;
  }
}
.wninx2 {
  flex: 1;
  min-height: 0;
}
.wninx5 {
  --wninx3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--wninx3), 1fr);
}
.wninx7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.wninx9 {
  height: calc(100% / var(--wninx0));
  width: calc(100% / var(--wninx0));
  border-radius: calc(var(--_1w0ephv9) / var(--wninx0));
  transform: scale(var(--wninx0));
  transform-origin: 0 0;
  padding: calc(1px / var(--wninx0));
}
.wninxb {
  background: var(--rvl80rn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wninxd {
  background: transparent;
  outline: 1px solid var(--rvl80rr);
}
.wninxd:hover {
  outline: 2px solid var(--rvl80rs);
}
.wninxd:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 2px;
}
.wninxh {
  list-style: none;
}
.wninxj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--rvl80rr);
}
.wninxj:hover {
  outline: 2px solid var(--rvl80rs);
}
.wninxj:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .wninx5 {
    --wninx3: 2;
  }
}
@media screen and (min-width: 800px) {
  .wninx5 {
    --wninx3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .wninx5 {
    --wninx3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .wninx5 {
    --wninx3: 5;
  }
}
._1sbmo1n1 {
  width: fit-content;
}
._1sbmo1n3:focus-visible ~ ._1sbmo1n5 {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 4px;
}
._1sbmo1n8 {
  min-width: 0;
}
._1sbmo1n9 {
  flex-shrink: 0;
}
._16jk7pr2 {
  outline: none;
  height: var(--_1w0ephvr);
  color: var(--rvl80r7);
  background: transparent;
}
._16jk7pr2::placeholder {
  color: var(--rvl80r9);
  font-weight: strong;
}
._16jk7pr2:hover:not(:focus-visible), ._16jk7pr2:hover:not(:focus-visible)::placeholder {
  background: var(--rvl80rn);
  opacity: 1;
  color: transparent;
}
._16jk7pr2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._16jk7pr2:focus-visible {
  outline: 2px solid var(--rvl80ru);
  outline-offset: 0;
  opacity: 1;
}
._16jk7pr2:focus-visible::placeholder {
  color: transparent;
}
._16jk7pr4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--rvl80r7);
}
._16jk7pr2:focus-visible ~ ._16jk7pr4 {
  opacity: 0;
}
._16jk7pr5 {
  color: var(--rvl80r9);
}
._6yymmj3 {
  border: 1px solid var(--rvl80rr);
}
._6yymmj5 {
  background-color: var(--rvl80rq);
  border-bottom: 1px solid var(--rvl80rr);
}
._6yymmj8 {
  background-color: var(--rvl80rq);
  border-top: 1px solid var(--rvl80rr);
}
._6yymmjc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._6yymmj6 {
    display: none;
  }
}
