/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

.v9vya75 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1cd1jzgj);
  -webkit-tap-highlight-color: transparent;
}
.v9vya75::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1cd1jzgl);
  opacity: 0;
  transition: var(--h37yrwd);
  pointer-events: none;
}
.v9vya75::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--h37yrwd);
}
.v9vya75.v9vya70 {
  color: var(--_1cd1jzgd);
}
.v9vya75:not(.v9vya71) {
  cursor: pointer;
}
.v9vya75.v9vya71 {
  color: var(--_1cd1jzg7);
}
.v9vya75.v9vya72,.v9vya75.v9vya73:not(.v9vya70):not(.v9vya71),html:not([data-playroom-dark]) .v9vya75:hover:not(.v9vya70):not(.v9vya71) {
  color: var(--_1cd1jzgc);
}
.v9vya75:not(.v9vya70):not(:hover):focus::before {
  color: var(--_1cd1jzg8);
}
.v9vya75:not(.v9vya70):not(.v9vya71):focus::before,.v9vya75:not(.v9vya70):not(.v9vya71):hover::before {
  opacity: 1;
}
.v9vya75:not(.v9vya73)::after {
  transform: translateX(100%);
  opacity: 0;
}
.v9vya78 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1cd1jzgf);
  border: 2px solid var(--_1cd1jzgj);
}
.v9vya78:not(.v9vya76) {
  transform: scale(0);
  opacity: 0;
}
.v9vya7a {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1cd1jzgd);
  border: 2px solid var(--_1cd1jzgj);
}
.v9vya7a:not(.v9vya76) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
.v9vya7a svg {
  color: var(--_1cd1jzg9);
}
@keyframes _1kbvq561 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1kbvq560 {
  background-color: var(--_1cd1jzgl);
}
._1kbvq563 {
  background-color: var(--_1cd1jzgh);
  color: var(--_1cd1jzgb);
  min-width: 50px;
  animation-name: _1kbvq561;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1kbvq563:hover {
  cursor: help;
}
._1kbvq565 {
  width: 1em;
}
._1kbvq567::after {
  content: "-";
}
._1kbvq569::after {
  content: "+";
  color: var(--_1cd1jzgc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1cd1jzgj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--h37yrw1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--h37yrwb);
  box-sizing: border-box;
  padding-left: var(--h37yrwj);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--h37yrwl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1cd1jzgo);
  border-radius: var(--h37yrw7);
  background-color: var(--_1cd1jzgj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--h37yrw1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1cd1jzgi);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--h37yrwi) var(--h37yrwj);
  border-radius: var(--h37yrw7);
  white-space: pre;
  color: var(--_1cd1jzg0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1cd1jzgf);
  color: var(--_1cd1jzg9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1cd1jzgc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--h37yrwi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1cd1jzgj);
  color: var(--_1cd1jzg0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1cd1jzg8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1cd1jzgj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1cd1jzgj);
  position: absolute;
  right: var(--h37yrwh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1cd1jzgj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1cd1jzgl);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1cd1jzg8);
  transition: var(--h37yrwf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1kbvq569) {
  color: var(--_1cd1jzg7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1cd1jzg8);
  transition: var(--h37yrwf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1cd1jzg7);
}
.cm-s-neo .cm-tag {
  color: var(--_1cd1jzg1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1cd1jzg2);
}
.cm-s-neo .cm-string {
  color: var(--_1cd1jzg3);
}
.cm-s-neo .cm-atom {
  color: var(--_1cd1jzg4);
}
.cm-s-neo .cm-variable {
  color: var(--_1cd1jzg5);
}
.cm-s-neo .cm-number {
  color: var(--_1cd1jzg6);
}
.CodeMirror-dialog {
  padding-left: var(--h37yrwl);
  padding-right: var(--h37yrwl);
  min-height: 60px;
  border-bottom: 1px solid var(--_1cd1jzgn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1kbvq56a));
  transition: var(--h37yrwf);
}
.dialog-opened .CodeMirror-scroll {
  --_1kbvq56a: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1kbvq56a);
}
.CodeMirror-dialog input {
  font: var(--h37yrw5);
  font-family: var(--h37yrw1);
  height: var(--h37yrwc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--h37yrwc);
  font: var(--h37yrw5);
  font-family: var(--h37yrw1);
}
.CodeMirror-search-field {
  padding-left: var(--h37yrwl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1cd1jzgm);
}
.cm-overlay.cm-searching {
  padding-top: var(--h37yrwh);
  padding-bottom: var(--h37yrwh);
  background: var(--_1cd1jzgl);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--h37yrwl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--h37yrw4);
  font-family: var(--h37yrw0);
  margin-left: var(--h37yrwj);
  padding-top: var(--h37yrwi);
  padding-bottom: var(--h37yrwi);
  padding-left: var(--h37yrwk);
  padding-right: var(--h37yrwk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--h37yrw8);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1cd1jzgc);
  box-shadow: var(--_1cd1jzgp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1cd1jzgl);
}
.CodeMirror-dialog button:hover {
  background: var(--_1cd1jzge);
}
._14wv9e91 {
  color: var(--_1cd1jzg8);
}
._14wv9e92 {
  color: var(--_1cd1jzgb);
}
._14wv9e93 {
  color: var(--_1cd1jzga);
}
._14wv9e9a {
  text-overflow: ellipsis;
}
.i3ka4n1 {
  justify-content: safe center;
}
.i3ka4n4 {
  flex-shrink: 0;
  width: var(--i3ka4n2);
}
.i3ka4n4:not(:hover) .i3ka4n7 {
  opacity: 0.8;
}
.i3ka4n9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.i3ka4n4:not(:hover) .i3ka4n9 {
  opacity: 0.3;
}
._1fk6cqz5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--h37yrwm);
  height: var(--h37yrwn);
  max-width: calc((100dvw - 60px) - (var(--h37yrwb) * 2));
}
._1fk6cqz5._1fk6cqz0 {
  padding-right: calc((15px * 2) + 16px);
}
._1fk6cqz5:not(._1fk6cqz1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1fk6cqz5._1fk6cqz2 {
  background-color: var(--_1cd1jzgg);
}
._1fk6cqz5._1fk6cqz3 {
  background-color: var(--_1cd1jzgh);
}
._1fk6cqz7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1fk6cqz7:not(:hover) {
  opacity: 0.4;
}
.gt0001 {
  color: var(--_1cd1jzg8);
  font-family: var(--h37yrw0);
}
.gt0002 {
  font-size: 36px;
}
.gt0003 {
  font-size: 24px;
}
.gt0004 {
  font-size: 16px;
}
.t8sgsq2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--t8sgsq0);
  align-items: var(--t8sgsq1);
}
.t8sgsq3 {
  --t8sgsq0: var(--h37yrwg);
}
.t8sgsq4 {
  --t8sgsq0: var(--h37yrwh);
}
.t8sgsq5 {
  --t8sgsq0: var(--h37yrwi);
}
.t8sgsq6 {
  --t8sgsq0: var(--h37yrwj);
}
.t8sgsq7 {
  --t8sgsq0: var(--h37yrwk);
}
.t8sgsq8 {
  --t8sgsq0: var(--h37yrwl);
}
.t8sgsq9 {
  --t8sgsq0: var(--h37yrwm);
}
.t8sgsqa {
  --t8sgsq0: var(--h37yrwn);
}
.t8sgsqb {
  --t8sgsq0: var(--h37yrwo);
}
.t8sgsqc {
  --t8sgsq0: var(--h37yrwp);
}
.t8sgsqd {
  align-items: flex-start;
}
.t8sgsqe {
  align-items: center;
}
.t8sgsqf {
  align-items: flex-end;
}
._3muwar1 {
  display: flex;
  flex-direction: column;
  gap: var(--_3muwar0);
}
._3muwar2 {
  --_3muwar0: var(--h37yrwg);
}
._3muwar3 {
  --_3muwar0: var(--h37yrwh);
}
._3muwar4 {
  --_3muwar0: var(--h37yrwi);
}
._3muwar5 {
  --_3muwar0: var(--h37yrwj);
}
._3muwar6 {
  --_3muwar0: var(--h37yrwk);
}
._3muwar7 {
  --_3muwar0: var(--h37yrwl);
}
._3muwar8 {
  --_3muwar0: var(--h37yrwm);
}
._3muwar9 {
  --_3muwar0: var(--h37yrwn);
}
._3muwara {
  --_3muwar0: var(--h37yrwo);
}
._3muwarb {
  --_3muwar0: var(--h37yrwp);
}
.yfu0wn1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--h37yrwi) * -1);
}
.yfu0wn1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--h37yrw7);
  box-shadow: var(--_1cd1jzgp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--h37yrwe);
}
.yfu0wn1:focus::before, .yfu0wn1:hover::before {
  opacity: 1;
  transform: scale(1);
}
.yfu0wn4 {
  height: 20px;
  width: 20px;
}
.yfu0wn6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--h37yrwh) * 2));
  width: calc(20px - (var(--h37yrwh) * 2));
}
.yfu0wn6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--h37yrw7);
  box-shadow: var(--_1cd1jzgp);
  transition: var(--h37yrwe);
  opacity: 0;
  transform: scale(0.5);
}
.yfu0wn6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--h37yrw7);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1cd1jzgj);
}
.yfu0wn4:hover:not(:focus) ~ .yfu0wn6::before, .yfu0wn4:focus ~ .yfu0wn6::before {
  opacity: 1;
  transform: scale(1);
}
.yfu0wn6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--h37yrwf);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.yfu0wn4:checked ~ .yfu0wn6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--h37yrwf);
}
.yfu0wn8 {
  color: var(--_1cd1jzg8);
  height: var(--h37yrwc);
  background: var(--_1cd1jzgj);
  border: 1px solid var(--_1cd1jzgn);
}
.yfu0wn8::placeholder {
  color: var(--_1cd1jzg7);
}
._1lb6e0k1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
._1lb6e0k4 {
  --_1lb6e0k2: currentColor;
  color: var(--_1lb6e0k2);
  border: 1px solid var(--_1cd1jzg7);
}
._1lb6e0k4:hover {
  --_1lb6e0k2: var(--_1cd1jzgc);
  border-color: var(--_1lb6e0k2);
}
._1lb6e0k4:active {
  transform: scale(0.98);
}
._1lb6e0k4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--h37yrwc);
  min-width: var(--h37yrwc);
  width: 100%;
  height: 100%;
  top: 50%;
}
._1lb6e0k4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1cd1jzgp);
}
._1lb6e0k5 {
  --_1lb6e0k2: var(--_1cd1jzgd) !important;
  border-color: var(--_1lb6e0k2);
}
._1lb6e0k7 {
  top: 1px;
}
._16pi1pf0 {
  transition: var(--h37yrwe);
  transform-origin: 50% 50%;
}
._16pi1pf1 {
  transform: rotate(90deg);
}
._16pi1pf2 {
  transform: rotate(180deg);
}
._16pi1pf3 {
  transform: rotate(270deg);
}
._1bi4g1h4 {
  min-width: 0;
}
._1bi4g1h5 {
  flex-shrink: 0;
}
._1bi4g1h9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1bi4g1h7:focus:not(:hover) ~ ._1bi4g1h9 {
  opacity: 1;
}
.rcnfds2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.rcnfds4 {
  display: inline-block;
  background: var(--_1cd1jzgi);
  font-family: system-ui;
  min-width: 16px;
}
.rcnfds6 {
  height: var(--h37yrwc);
  width: var(--h37yrwc);
}
.rcnfds8 {
  height: var(--h37yrwc);
  width: var(--h37yrwc);
}
.rcnfds8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1cd1jzgl);
  border-radius: var(--h37yrw8);
  transition: var(--h37yrwe);
  opacity: 0;
  transform: scale(0.8);
}
.rcnfds6:checked ~ .rcnfds8,html:not([data-playroom-dark]) .rcnfds6:hover ~ .rcnfds8 {
  color: var(--_1cd1jzgc);
}
.rcnfds6:focus ~ .rcnfds8::before, .rcnfds6:hover ~ .rcnfds8::before {
  opacity: 1;
  transform: scale(1);
}
._3zay9i1 {
  color: var(--_1cd1jzg8);
  height: var(--h37yrwc);
  background: var(--_1cd1jzgj);
}
._3zay9i1:focus {
  outline: none;
}
._3zay9i1::placeholder {
  color: var(--_1cd1jzg7);
}
.gsuse62 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1cd1jzgn);
}
.gsuse64 {
  list-style: none;
  top: 60px;
}
.gsuse64::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--h37yrwi);
  z-index: 1;
}
.gsuse64::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--h37yrwi);
  z-index: 1;
}
.gsuse66 {
  scroll-margin-block: var(--h37yrwi);
  color: var(--_1cd1jzg8);
  background-color: var(--_1cd1jzgj);
}
.gsuse66::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1cd1jzgl);
  border-radius: var(--h37yrw7);
  opacity: 0;
  pointer-events: none;
}
.gsuse68 {
  color: var(--_1cd1jzga);
}
.gsuse69 {
  color: var(--_1cd1jzgc);
}
.gsuse69::before {
  opacity: 1;
}
.yvfs9y2 {
  color: var(--_1cd1jzg8);
  min-width: calc(60px + 1px);
}
.yvfs9y2.yvfs9y0 {
  width: 100dvw;
}
.yvfs9y6 {
  width: 60px;
  background-color: var(--_1cd1jzgj);
  border-left: 1px solid var(--_1cd1jzgn);
}
.yvfs9y8 {
  width: 320px;
  background-color: var(--_1cd1jzgj);
  border-left: 1px solid var(--_1cd1jzgn);
}
.yvfs9y9 {
  opacity: 0;
  transform: translateX(30%);
}
.yvfs9yb {
  opacity: 1;
  transform: translateX(0);
}
.yvfs9yc {
  opacity: 1;
  transform: translateX(0);
}
.yvfs9yd {
  opacity: 1;
}
.yvfs9yf {
  opacity: 0;
  transform: translateX(30%);
}
.yvfs9yg {
  opacity: 0;
  transform: translateX(30%);
}
.wp1wgd0 {
  cursor: row-resize;
}
.wp1wgd1 {
  cursor: col-resize;
}
.wp1wgda {
  background: var(--_1cd1jzgi);
}
.wp1wgdb {
  width: 70px;
  height: 4px;
}
.wp1wgdc {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_1cd1jzgk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
.r2w9jt0 {
  pointer-events: none;
  user-select: none;
}
.r2w9jt6 {
  display: grid;
  grid-template-columns: 1fr var(--r2w9jt2, 0px);
  grid-template-rows: auto var(--r2w9jt1, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
.r2w9jt7 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
.r2w9jt8 {
  --r2w9jt1: clamp(300px, var(--r2w9jt3), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
.r2w9jt9 {
  --r2w9jt2: clamp(460px, var(--r2w9jt3), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
.r2w9jta {
  grid-area: frames;
}
.r2w9jtc {
  grid-area: editor;
}
.r2w9jt8 .r2w9jte {
  width: 60px;
}
.r2w9jtg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--h37yrwc);
  height: var(--h37yrwc);
}
.r2w9jtg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--h37yrw8);
  transition: var(--h37yrwd);
}
.r2w9jtg:not(:hover):not(:focus) {
  opacity: 0.3;
}
.r2w9jtg:hover::before, .r2w9jtg:focus::before {
  opacity: 0.05;
}
