._1ikeogl1 {
  background-color: var(--_4odr5dl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_4odr5dp);
}
._1ikeogl2::before {
  content: "";
  position: absolute;
  min-height: var(--nhgypfc);
  min-width: var(--nhgypfc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1fcaytk2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1fcaytk4 {
  border: 1px solid var(--_4odr5dp);
  background-color: var(--_4odr5dk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1fcaytk4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_4odr5dm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1fcaytk4:hover::after {
  opacity: 1;
}
._1fcaytk4:focus-visible::after {
  opacity: 1;
}
._1fcaytk4:active:not([disabled]) {
  transform: scale(0.97);
}
._1fcaytk4:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: 0;
}
._1fcaytk6 {
  height: var(--_1fcaytk0);
}
._1fcaytk8 {
  border-color: var(--_4odr5dc);
}
._1fcaytk8::after {
  background-color: var(--_4odr5dh);
}
._1fcaytk9 {
  border-color: var(--_4odr5da);
}
._1fcaytk9::after {
  background-color: var(--_4odr5di);
}
._1fcaytka {
  --_1fcaytk0: var(--nhgypfq);
}
._1fcaytkb {
  --_1fcaytk0: var(--nhgypfr);
}
._1fcaytkc {
  --_1fcaytk0: var(--nhgypfs);
}
.s8d9jx1 {
  --_4odr5d7: var(--_4odr5dd);
  background-color: var(--_4odr5dn);
  outline: 1px solid var(--_4odr5dr);
  outline-offset: -1px;
}
._1oz48at3 {
  background: transparent;
  outline: none;
  height: var(--_1oz48at0);
  width: var(--_1oz48at0);
}
._1oz48at6 {
  padding: var(--_1oz48at4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1oz48at1);
  isolation: isolate;
}
._1oz48at3[data-pressed] ._1oz48at6, ._1oz48at3:active ._1oz48at6 {
  transform: scale(.95);
}
._1oz48at3:focus-visible ._1oz48at6 {
  outline: 2px solid var(--_4odr5ds);
}
._1oz48at7 {
  --_1oz48at0: var(--nhgypfq);
  --_1oz48at4: 6px;
}
._1oz48at8 {
  --_1oz48at0: var(--nhgypfr);
  --_1oz48at4: var(--nhgypfj);
}
._1oz48at9 {
  --_1oz48at0: var(--nhgypfs);
  --_1oz48at4: var(--nhgypfj);
}
._1oz48ata {
  --_1oz48at1: var(--_4odr5d7);
}
._1oz48atb {
  --_1oz48at1: var(--_4odr5db);
}
._1oz48atc {
  --_1oz48at1: var(--_4odr5dc);
}
._1oz48atd {
  background-color: var(--_4odr5dk);
  outline: 1px solid var(--_4odr5dp);
  outline-offset: -1px;
}
._1oz48atd:hover, [data-popup-open] > ._1oz48atd {
  background-color: var(--_4odr5dm);
}
._1oz48ate {
  --_1oz48at1: var(--_4odr5d8);
  background-color: var(--_4odr5df);
}
._1oz48ate:hover, [data-popup-open] > ._1oz48ate {
  background-color: var(--_4odr5dg);
}
._1oz48atf:hover, [data-popup-open] > ._1oz48atf {
  background-color: var(--_4odr5dm);
}
._1oz48atg {
  margin: calc((var(--_1oz48at4) + 2px) * -1);
}
._1oz48at6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1q04kwp0 {
  isolation: isolate;
  white-space: nowrap;
}
._1q04kwp1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1q04kwp3 {
    display: none;
  }
}
._15661j61 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._15661j62 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._15661j62::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._15661j64 {
  --_15661j63: 30px;
}
._15661j65 {
  --_15661j63: 45px;
}
._15661j66 {
  --_15661j63: 60px;
}
._15661j67 {
  overflow-x: auto;
  overflow-y: hidden;
}
._15661j68 {
  overflow-x: hidden;
  overflow-y: auto;
}
._15661j69 {
  overflow: auto;
}
._15661j6e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_15661j6c, 0)),linear-gradient(to right, transparent 0, black var(--_15661j6a, 0)),linear-gradient(to left, transparent 0, black var(--_15661j6b, 0)),linear-gradient(to top, transparent 0, black var(--_15661j6d, 0));
}
._15661j6f {
  --_15661j6a: var(--_15661j63);
}
._15661j6g {
  --_15661j6b: var(--_15661j63);
}
._15661j6h {
  --_15661j6c: var(--_15661j63);
}
._15661j6i {
  --_15661j6d: var(--_15661j63);
}
._19xpi5s0 {
  transition: var(--nhgypfe);
  transform-origin: 50% 50%;
}
._19xpi5s1 {
  transform: rotate(90deg);
}
._19xpi5s2 {
  transform: rotate(180deg);
}
._19xpi5s3 {
  transform: rotate(270deg);
}
.zntpgg2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.zntpgg3 {
  width: 250px;
}
.zntpgg6 {
  --zntpgg4: var(--_4odr5dm);
  outline: none;
  cursor: default;
  color: var(--_4odr5d7);
  height: 34px;
}
.zntpgg6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--nhgypf8);
}
.zntpgg6[data-popup-open]:not([aria-disabled])::before, .zntpgg6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--zntpgg4);
}
.zntpgg6:focus-visible::before {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: -2px;
}
.zntpgg6[aria-disabled] {
  color: var(--_4odr5d9);
  cursor: not-allowed;
}
.zntpgg7 {
  cursor: pointer;
  text-decoration: none;
}
.zntpgg7[aria-disabled] {
  cursor: not-allowed;
}
.zntpgg8 {
  margin-left: 3px;
}
.zntpgg9 {
  --zntpgg4: var(--_4odr5di);
  color: var(--_4odr5da);
}
.zntpgga {
  --zntpgg4: transparent;
  color: var(--_4odr5dc);
}
.zntpgga svg {
  color: var(--_4odr5dc);
}
.zntpggc {
  isolation: isolate;
}
.zntpggg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.zntpggi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_4odr5d7);
  z-index: 1;
}
[aria-checked="true"] .zntpggi {
  color: var(--_4odr5d8);
}
.zntpggk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_4odr5d7);
  isolation: isolate;
}
[aria-checked="true"] .zntpggk {
  background-color: var(--_4odr5de);
  border-color: var(--_4odr5de);
}
.zntpggn {
  height: 1px;
  background-color: var(--_4odr5dp);
}
.zntpggo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.zntpggq {
  background: transparent;
  border: none;
  margin: calc(var(--nhgypfj) * -1);
}
.zntpggq:hover, .zntpggq[data-highlighted] {
  background-color: var(--_4odr5dm);
}
.zntpggq:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: -2px;
}
.wqruxy2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--nhgypf8);
  color: var(--wqruxy0);
  isolation: isolate;
  outline: none;
}
.wqruxy2[data-pressed], .wqruxy2:active {
  transform: scale(.95);
}
.wqruxy2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--nhgypfi) * -1);
  background-color: var(--wqruxy0);
  border-radius: var(--nhgypf8);
}
.wqruxy2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.wqruxy2:hover, .wqruxy2[data-popup-open]:not(:focus-visible) {
  color: var(--_4odr5d8);
}
.wqruxy2:focus-visible::after {
  outline: 2px solid var(--_4odr5ds);
}
.wqruxy2:focus-visible:not(:hover)::after {
  background: transparent;
}
.wqruxy3 {
  --wqruxy0: var(--_4odr5db);
}
.wqruxy4 {
  --wqruxy0: var(--_4odr5dc);
}
.wqruxy2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.znys4e1 {
  justify-content: safe center;
}
.znys4e5 {
  flex-shrink: 0;
  width: var(--znys4e2);
}
.znys4e6 {
  transition: color 150ms ease;
}
.znys4e5:hover .znys4e6, .znys4e5:focus-within .znys4e6, .znys4e3 .znys4e6 {
  color: var(--_4odr5db);
}
.znys4e8 {
  outline: 1px solid var(--_4odr5dp);
}
.znys4ea {
  transition: opacity 150ms ease;
}
.znys4e5:not(:hover, :focus-within, .znys4e3) .znys4ea {
  opacity: 1;
}
.znys4ec {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.znys4ea:hover ~ .znys4e8 .znys4ec, .znys4ea:focus-within ~ .znys4e8.znys4ec {
  outline-color: var(--_4odr5db);
}
.znys4ee {
  transition: opacity 150ms ease;
}
.znys4e5:not(:hover, :focus-within, .znys4e3) .znys4ee {
  opacity: 0;
}
._11og18e1 {
  color: var(--_4odr5d7);
  font-family: var(--nhgypf0);
}
._11og18e2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._11og18e3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
._11og18e4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.swfalv1 {
  display: flex;
  flex-direction: column;
  gap: var(--swfalv0);
}
.swfalv2 {
  --swfalv0: var(--nhgypfg);
}
.swfalv3 {
  --swfalv0: var(--nhgypfh);
}
.swfalv4 {
  --swfalv0: var(--nhgypfi);
}
.swfalv5 {
  --swfalv0: var(--nhgypfj);
}
.swfalv6 {
  --swfalv0: var(--nhgypfk);
}
.swfalv7 {
  --swfalv0: var(--nhgypfl);
}
.swfalv8 {
  --swfalv0: var(--nhgypfm);
}
.swfalv9 {
  --swfalv0: var(--nhgypfn);
}
.swfalva {
  --swfalv0: var(--nhgypfo);
}
.swfalvb {
  --swfalv0: var(--nhgypfp);
}
.swfalvc {
  align-items: flex-start;
}
.swfalvd {
  align-items: center;
}
.swfalve {
  align-items: flex-end;
}
._1nrco181 {
  backdrop-filter: blur(6px);
}
._1nrco181::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_4odr5dj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1nrco181::before {
  opacity: 0.7;
}
._1nrco181[data-starting-style]::before, ._1nrco181[data-ending-style]::before {
  opacity: 0;
}
._1nrco183 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--nhgypfk) * 2));
  max-height: calc(100dvh - (var(--nhgypfk) * 2));
}
._1nrco183[data-starting-style], ._1nrco183[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1nrco187:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: 2px;
}
._19xgap32 {
  display: flex;
  flex-direction: row;
  gap: var(--_19xgap30);
  align-items: var(--_19xgap31);
}
._19xgap33 {
  flex-wrap: wrap;
}
._19xgap34 {
  --_19xgap30: var(--nhgypfg);
}
._19xgap35 {
  --_19xgap30: var(--nhgypfh);
}
._19xgap36 {
  --_19xgap30: var(--nhgypfi);
}
._19xgap37 {
  --_19xgap30: var(--nhgypfj);
}
._19xgap38 {
  --_19xgap30: var(--nhgypfk);
}
._19xgap39 {
  --_19xgap30: var(--nhgypfl);
}
._19xgap3a {
  --_19xgap30: var(--nhgypfm);
}
._19xgap3b {
  --_19xgap30: var(--nhgypfn);
}
._19xgap3c {
  --_19xgap30: var(--nhgypfo);
}
._19xgap3d {
  --_19xgap30: var(--nhgypfp);
}
._19xgap3e {
  align-items: flex-start;
}
._19xgap3f {
  align-items: center;
}
._19xgap3g {
  align-items: flex-end;
}
.l810l90 {
  width: 200px;
}
.y9efo31 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_4odr5dk);
}
.y9efo32 {
  width: fit-content;
}
.y9efo35 {
  width: fit-content;
  justify-self: flex-end;
}
.y9efo35:not(.y9efo33) {
  opacity: 0;
  transform: translateX(var(--nhgypfj));
  pointer-events: none;
}
.y9efo37 {
  background: transparent;
  color: var(--_4odr5df);
  isolation: isolate;
}
.y9efo37::after {
  content: "";
  position: absolute;
  transition: var(--nhgypff);
  z-index: -1;
  inset: calc(var(--nhgypfj) * -1);
  background-color: var(--_4odr5dm);
  border-radius: var(--nhgypf9);
}
.y9efo37:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: 6px;
}
.y9efo37:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.y9efo39 {
  margin: calc(var(--nhgypfk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.y9efo3d {
  appearance: none;
  outline: none;
  background: var(--_4odr5dk);
  color: var(--_4odr5d7);
  border: 1px solid var(--_4odr5dp);
  height: var(--nhgypfr);
}
.y9efo3d:hover, .y9efo3d[data-popup-open] {
  background-color: var(--_4odr5dm);
}
.y9efo3d:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  z-index: 1;
}
.y9efo3f {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.y9efo3h {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.y9efo3i {
  color: var(--_4odr5dc);
}
.y9efo3k {
  height: 1px;
  background-color: var(--_4odr5dp);
}
@media screen and (max-width: 767px) {
  .y9efo35 {
    display: none;
  }
}
._16769o22 {
  flex: 1;
  min-height: 0;
}
._16769o25 {
  --_16769o23: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_16769o23), 1fr);
}
._16769o27 {
  aspect-ratio: 5/4;
  list-style: none;
}
._16769o29 {
  height: calc(100% / var(--_16769o20));
  width: calc(100% / var(--_16769o20));
  border-radius: calc(var(--nhgypf9) / var(--_16769o20));
  transform: scale(var(--_16769o20));
  transform-origin: 0 0;
  padding: calc(1px / var(--_16769o20));
}
._16769o2b {
  background: var(--_4odr5dm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._16769o2d {
  background: transparent;
  outline: 1px solid var(--_4odr5dp);
}
._16769o2d:hover {
  outline: 2px solid var(--_4odr5dq);
}
._16769o2d:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: 2px;
}
._16769o2h {
  list-style: none;
}
._16769o2j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_4odr5dp);
}
._16769o2j:hover {
  outline: 2px solid var(--_4odr5dq);
}
._16769o2j:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._16769o25 {
    --_16769o23: 2;
  }
}
@media screen and (min-width: 800px) {
  ._16769o25 {
    --_16769o23: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._16769o25 {
    --_16769o23: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._16769o25 {
    --_16769o23: 5;
  }
}
._1g8bc2j1 {
  width: fit-content;
}
._1g8bc2j3:focus-visible ~ ._1g8bc2j5 {
  outline: 2px solid var(--_4odr5ds);
  outline-offset: 4px;
}
._1g8bc2j8 {
  min-width: 0;
}
._1g8bc2j9 {
  flex-shrink: 0;
}
.nvfol82 {
  outline: none;
  height: var(--nhgypfr);
  color: var(--_4odr5d7);
  background: transparent;
}
.nvfol82::placeholder {
  color: var(--_4odr5d9);
  font-weight: normal;
}
.nvfol82:hover:not(:focus-visible) {
  background: var(--_4odr5dm);
  opacity: 1;
  color: transparent;
}
.nvfol82:hover:not(:focus-visible)::selection {
  background: transparent;
}
.nvfol82:focus-visible {
  outline: 2px solid var(--_4odr5ds);
  opacity: 1;
}
.nvfol82:focus-visible::placeholder {
  color: transparent;
}
.nvfol84 {
  max-width: 50vw;
  min-width: 240px;
}
.nvfol82:focus-visible ~ .nvfol84 {
  opacity: 0;
}
.nvfol85 {
  white-space: pre;
}
._1azabdu2 {
  border: 1px solid var(--_4odr5dp);
  border-radius: var(--nhgypf9);
}
._1azabdu4 {
  border-bottom: 1px solid var(--_4odr5dp);
  gap: 12px;
}
._1azabdu7 {
  border-top: 1px solid var(--_4odr5dp);
  gap: 12px;
}
._1azabdub {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1azabdu5 {
    display: none;
  }
}
