._1c9ra1i1 {
  background-color: var(--_1shwghkm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1shwghks);
}
._1c9ra1i2::before {
  content: "";
  position: absolute;
  min-height: var(--_1mssvm3c);
  min-width: var(--_1mssvm3c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1iwh7pm2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1iwh7pm4 {
  border: 1px solid var(--_1shwghks);
  background-color: var(--_1shwghkl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1iwh7pm4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1shwghkn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1iwh7pm4:hover::after {
  opacity: 1;
}
._1iwh7pm4:focus-visible::after {
  opacity: 1;
}
._1iwh7pm4:active:not([disabled]) {
  transform: scale(0.97);
}
._1iwh7pm4:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 0;
}
._1iwh7pm6 {
  isolation: isolate;
}
._1iwh7pm8 {
  height: var(--_1iwh7pm0);
}
._1iwh7pma {
  border-color: var(--_1shwghkc);
}
._1iwh7pma::after {
  background-color: var(--_1shwghki);
}
._1iwh7pmb {
  border-color: var(--_1shwghka);
}
._1iwh7pmb::after {
  background-color: var(--_1shwghkj);
}
._1iwh7pmc {
  --_1iwh7pm0: var(--_1mssvm3q);
}
._1iwh7pmd {
  --_1iwh7pm0: var(--_1mssvm3r);
}
._1iwh7pme {
  --_1iwh7pm0: var(--_1mssvm3s);
}
._14t7auv2 {
  display: flex;
  flex-direction: row;
  gap: var(--_14t7auv0);
  align-items: var(--_14t7auv1);
}
._14t7auv3 {
  flex-wrap: wrap;
}
._14t7auv4 {
  --_14t7auv0: var(--_1mssvm3g);
}
._14t7auv5 {
  --_14t7auv0: var(--_1mssvm3h);
}
._14t7auv6 {
  --_14t7auv0: var(--_1mssvm3i);
}
._14t7auv7 {
  --_14t7auv0: var(--_1mssvm3j);
}
._14t7auv8 {
  --_14t7auv0: var(--_1mssvm3k);
}
._14t7auv9 {
  --_14t7auv0: var(--_1mssvm3l);
}
._14t7auva {
  --_14t7auv0: var(--_1mssvm3m);
}
._14t7auvb {
  --_14t7auv0: var(--_1mssvm3n);
}
._14t7auvc {
  --_14t7auv0: var(--_1mssvm3o);
}
._14t7auvd {
  --_14t7auv0: var(--_1mssvm3p);
}
._14t7auve {
  align-items: flex-start;
}
._14t7auvf {
  align-items: center;
}
._14t7auvg {
  align-items: flex-end;
}
._1r2903g0 {
  isolation: isolate;
  white-space: nowrap;
}
._1r2903g1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1r2903g3 {
    display: none;
  }
}
._2q34u0 {
  color: var(--_1shwghk9);
}
._1zdwkf1 {
  --_1shwghk7: var(--_1shwghkd);
  background-color: var(--_1shwghko);
  outline: 1px solid var(--_1shwghku);
  outline-offset: -1px;
}
.z9p2pd3 {
  background: transparent;
  outline: none;
  height: var(--z9p2pd0) !important;
  width: var(--z9p2pd0) !important;
}
.z9p2pd6 {
  padding: var(--z9p2pd4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.z9p2pd3:active .z9p2pd6 {
  transform: scale(.95);
}
.z9p2pd3:focus-visible .z9p2pd6 {
  outline: 2px solid var(--_1shwghkv);
}
.z9p2pd3[aria-disabled="true"] .z9p2pd6 {
  --z9p2pd1: var(--_1shwghk9);
}
.z9p2pd7 {
  --z9p2pd0: var(--_1mssvm3q);
  --z9p2pd4: var(--_1mssvm3i);
}
.z9p2pd8 {
  --z9p2pd0: var(--_1mssvm3r);
  --z9p2pd4: var(--_1mssvm3j);
}
.z9p2pd9 {
  --z9p2pd0: var(--_1mssvm3s);
  --z9p2pd4: var(--_1mssvm3j);
}
.z9p2pdj {
  --z9p2pda: var(--_1shwghk7);
  --z9p2pdb: var(--_1shwghkl);
  --z9p2pdc: var(--_1shwghkn);
  --z9p2pdd: var(--_1shwghk8);
  --z9p2pde: var(--_1shwghkg);
  --z9p2pdf: var(--_1shwghkh);
  --z9p2pdg: var(--_1shwghk7);
  --z9p2pdh: var(--_1shwghk7);
  --z9p2pdi: var(--_1shwghkn);
}
.z9p2pdk {
  --z9p2pda: var(--_1shwghkb);
  --z9p2pdb: var(--_1shwghkl);
  --z9p2pdc: var(--_1shwghkn);
  --z9p2pdd: var(--_1shwghk8);
  --z9p2pde: var(--_1shwghkb);
  --z9p2pdf: var(--_1shwghkf);
  --z9p2pdg: var(--_1shwghkb);
  --z9p2pdh: var(--_1shwghk8);
  --z9p2pdi: var(--_1shwghke);
}
.z9p2pdl {
  color: var(--z9p2pda);
  background-color: var(--z9p2pdb);
  outline: 1px solid var(--_1shwghks);
  outline-offset: -1px;
}
.z9p2pd3:not([aria-disabled="true"]):hover > .z9p2pdl, .z9p2pd3:not([aria-disabled="true"]):focus-visible > .z9p2pdl, .z9p2pd3:not([aria-disabled="true"])[data-popup-open] > .z9p2pdl, .z9p2pd3:not([aria-disabled="true"])[data-active] > .z9p2pdl {
  background-color: var(--z9p2pdc);
}
.z9p2pdm {
  color: var(--z9p2pdd);
  background-color: var(--z9p2pde);
}
.z9p2pd3:not([aria-disabled="true"]):hover > .z9p2pdm, .z9p2pd3:not([aria-disabled="true"]):focus-visible > .z9p2pdm, .z9p2pd3:not([aria-disabled="true"])[data-popup-open] > .z9p2pdm, .z9p2pd3:not([aria-disabled="true"])[data-active] > .z9p2pdm {
  background-color: var(--z9p2pdf);
}
.z9p2pdn {
  color: var(--z9p2pdg);
}
.z9p2pd3:not([aria-disabled="true"]):hover > .z9p2pdn, .z9p2pd3:not([aria-disabled="true"]):focus-visible > .z9p2pdn, .z9p2pd3:not([aria-disabled="true"])[data-popup-open] > .z9p2pdn, .z9p2pd3:not([aria-disabled="true"])[data-active] > .z9p2pdn {
  color: var(--z9p2pdh);
  background-color: var(--z9p2pdi);
}
.z9p2pdo {
  margin: calc((var(--z9p2pd4) + 2px) * -1);
}
.z9p2pd6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.hebca21 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.hebca22 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hebca22::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.hebca24 {
  --hebca23: 30px;
}
.hebca25 {
  --hebca23: 45px;
}
.hebca26 {
  --hebca23: 60px;
}
.hebca27 {
  overflow-x: auto;
  overflow-y: hidden;
}
.hebca28 {
  overflow-x: hidden;
  overflow-y: auto;
}
.hebca29 {
  overflow: auto;
}
.hebca2e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--hebca2c, 0)),linear-gradient(to right, transparent 0, black var(--hebca2a, 0)),linear-gradient(to left, transparent 0, black var(--hebca2b, 0)),linear-gradient(to top, transparent 0, black var(--hebca2d, 0));
}
.hebca2f {
  --hebca2a: var(--hebca23);
}
.hebca2g {
  --hebca2b: var(--hebca23);
}
.hebca2h {
  --hebca2c: var(--hebca23);
}
.hebca2i {
  --hebca2d: var(--hebca23);
}
.zymk252 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.zymk253 {
  width: 250px;
}
.zymk256 {
  --zymk254: var(--_1shwghkn);
  outline: none;
  cursor: default;
  color: var(--_1shwghk7);
  height: 34px;
  isolation: isolate;
}
.zymk256::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1mssvm38);
  z-index: -1;
}
.zymk256[data-popup-open]:not([aria-disabled])::before, .zymk256[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--zymk254);
}
.zymk256:focus-visible::before {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: -2px;
}
.zymk256[aria-disabled] {
  color: var(--_1shwghk9);
  cursor: not-allowed;
}
.zymk257 {
  cursor: pointer;
  text-decoration: none;
}
.zymk257[aria-disabled] {
  cursor: not-allowed;
}
.zymk258 {
  margin-left: 3px;
}
.zymk259 {
  --zymk254: var(--_1shwghkj);
  color: var(--_1shwghka);
}
.zymk25a {
  --zymk254: transparent;
  color: var(--_1shwghkc);
}
.zymk25a svg {
  color: var(--_1shwghkc);
}
.zymk25c {
  isolation: isolate;
}
.zymk25g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.zymk25i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1shwghk7);
  z-index: 1;
}
[aria-checked="true"] .zymk25i {
  color: var(--_1shwghk8);
}
.zymk25k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1shwghk7);
  isolation: isolate;
}
[aria-checked="true"] .zymk25k {
  background-color: var(--_1shwghke);
  border-color: var(--_1shwghke);
}
.zymk25p {
  height: 34px;
}
.zymk25r {
  height: 1px;
  background-color: var(--_1shwghks);
}
.zymk25t {
  background: transparent;
  border: none;
}
.zymk25t:hover, .zymk25t[data-highlighted] {
  background-color: var(--_1shwghkn);
}
.zymk25t:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: -2px;
}
._138jjqr1 {
  justify-content: safe center;
}
._138jjqr5 {
  flex-shrink: 0;
  width: var(--_138jjqr2);
}
._138jjqr5:last-child {
  padding-right: var(--_1mssvm3n);
}
._138jjqr6 {
  transition: color 150ms ease;
}
._138jjqr5:hover ._138jjqr6, ._138jjqr5:focus-within ._138jjqr6, ._138jjqr3 ._138jjqr6 {
  color: var(--_1shwghkb);
}
._138jjqr8 {
  outline: 1px solid var(--_1shwghks);
}
._138jjqra {
  transition: opacity 150ms ease;
}
._138jjqr5:not(:hover, :focus-within, ._138jjqr3) ._138jjqra {
  opacity: 1;
}
._138jjqrc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._138jjqra:hover ~ ._138jjqr8 ._138jjqrc, ._138jjqra:focus-within ~ ._138jjqr8._138jjqrc {
  outline-color: var(--_1shwghkb);
}
._138jjqre {
  transition: opacity 150ms ease;
}
._138jjqr5:not(:hover, :focus-within, ._138jjqr3) ._138jjqre {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._138jjqr5:not(:hover, :focus-within, ._138jjqr3) ._138jjqre {
  opacity: 0.6;
}
._1hgdoaf1 {
  color: var(--_1shwghk7);
  font-family: var(--_1mssvm30);
}
._1hgdoaf2 {
  --x1z5fc0: 36px;
  --x1z5fc1: 44px;
  --x1z5fc2: -0.2741em;
  --x1z5fc3: -0.2031em;
}
._1hgdoaf3 {
  --x1z5fc0: 20px;
  --x1z5fc1: 28px;
  --x1z5fc2: -0.363em;
  --x1z5fc3: -0.292em;
}
._1hgdoaf4 {
  --x1z5fc0: 16px;
  --x1z5fc1: 20px;
  --x1z5fc2: -0.288em;
  --x1z5fc3: -0.217em;
}
.ntimxh1 {
  display: flex;
  flex-direction: column;
  gap: var(--ntimxh0);
}
.ntimxh2 {
  --ntimxh0: var(--_1mssvm3g);
}
.ntimxh3 {
  --ntimxh0: var(--_1mssvm3h);
}
.ntimxh4 {
  --ntimxh0: var(--_1mssvm3i);
}
.ntimxh5 {
  --ntimxh0: var(--_1mssvm3j);
}
.ntimxh6 {
  --ntimxh0: var(--_1mssvm3k);
}
.ntimxh7 {
  --ntimxh0: var(--_1mssvm3l);
}
.ntimxh8 {
  --ntimxh0: var(--_1mssvm3m);
}
.ntimxh9 {
  --ntimxh0: var(--_1mssvm3n);
}
.ntimxha {
  --ntimxh0: var(--_1mssvm3o);
}
.ntimxhb {
  --ntimxh0: var(--_1mssvm3p);
}
.ntimxhc {
  align-items: flex-start;
}
.ntimxhd {
  align-items: center;
}
.ntimxhe {
  align-items: flex-end;
}
._1w1un981 {
  backdrop-filter: blur(6px);
}
._1w1un981::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1shwghkk);
  opacity: 0.4;
}
html[data-playroom-dark] ._1w1un981::before {
  opacity: 0.7;
}
._1w1un981[data-starting-style]::before, ._1w1un981[data-ending-style]::before {
  opacity: 0;
}
._1w1un983 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1mssvm3k) * 2));
  max-height: calc(100dvh - (var(--_1mssvm3k) * 2));
}
._1w1un983[data-starting-style], ._1w1un983[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1w1un987:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 2px;
}
._7x7q990 {
  width: 200px;
}
.q7gol81 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1shwghkl);
}
.q7gol82 {
  width: fit-content;
}
.q7gol84 {
  width: fit-content;
  justify-self: flex-end;
}
.q7gol87:not(.q7gol85) {
  opacity: 0;
  transform: translateX(var(--_1mssvm3j));
  pointer-events: none;
}
.q7gol89 {
  background: transparent;
  color: var(--_1shwghkg);
  isolation: isolate;
}
.q7gol89::after {
  content: "";
  position: absolute;
  transition: var(--_1mssvm3f);
  z-index: -1;
  inset: calc(var(--_1mssvm3j) * -1);
  background-color: var(--_1shwghkn);
  border-radius: var(--_1mssvm39);
}
.q7gol89:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 6px;
}
.q7gol89:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.q7gol8b {
  margin: calc(var(--_1mssvm3k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.q7gol8f {
  appearance: none;
  outline: none;
  background: var(--_1shwghkl);
  color: var(--_1shwghk7);
  border: 1px solid var(--_1shwghks);
  height: var(--_1mssvm3r);
}
.q7gol8f:hover, .q7gol8f[data-popup-open] {
  background-color: var(--_1shwghkn);
}
.q7gol8f:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  z-index: 1;
}
.q7gol8h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.q7gol8j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.q7gol8k {
  color: var(--_1shwghkc);
}
.q7gol8m {
  height: 1px;
  background-color: var(--_1shwghks);
}
@media screen and (max-width: 767px) {
  .q7gol84 {
    display: none;
  }
}
._2d1iam2 {
  flex: 1;
  min-height: 0;
}
._2d1iam5 {
  --_2d1iam3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_2d1iam3), 1fr);
}
._2d1iam7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._2d1iam9 {
  height: calc(100% / var(--_2d1iam0));
  width: calc(100% / var(--_2d1iam0));
  border-radius: calc(var(--_1mssvm39) / var(--_2d1iam0));
  transform: scale(var(--_2d1iam0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_2d1iam0));
}
._2d1iamb {
  background: var(--_1shwghkn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._2d1iamd {
  background: transparent;
  outline: 1px solid var(--_1shwghks);
}
._2d1iamd:hover {
  outline: 2px solid var(--_1shwghkt);
}
._2d1iamd:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 2px;
}
._2d1iamh {
  list-style: none;
}
._2d1iamj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1shwghks);
}
._2d1iamj:hover {
  outline: 2px solid var(--_1shwghkt);
}
._2d1iamj:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._2d1iam5 {
    --_2d1iam3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._2d1iam5 {
    --_2d1iam3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._2d1iam5 {
    --_2d1iam3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._2d1iam5 {
    --_2d1iam3: 5;
  }
}
._1urxlln1 {
  width: fit-content;
}
._1urxlln3:focus-visible ~ ._1urxlln5 {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 4px;
}
._1urxlln8 {
  min-width: 0;
}
._1urxlln9 {
  flex-shrink: 0;
}
._1t279q82 {
  outline: none;
  height: var(--_1mssvm3r);
  color: var(--_1shwghk7);
  background: transparent;
}
._1t279q82::placeholder {
  color: var(--_1shwghk9);
  font-weight: strong;
}
._1t279q82:hover:not(:focus-visible), ._1t279q82:hover:not(:focus-visible)::placeholder {
  background: var(--_1shwghkn);
  opacity: 1;
  color: transparent;
}
._1t279q82:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1t279q82:focus-visible {
  outline: 2px solid var(--_1shwghkv);
  outline-offset: 0;
  opacity: 1;
}
._1t279q82:focus-visible::placeholder {
  color: transparent;
}
._1t279q84 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1shwghk7);
}
._1t279q82:focus-visible ~ ._1t279q84 {
  opacity: 0;
}
._1t279q85 {
  color: var(--_1shwghk9);
}
.jsy1p03 {
  border: 1px solid var(--_1shwghks);
}
.jsy1p05 {
  background-color: var(--_1shwghkq);
  border-bottom: 1px solid var(--_1shwghks);
}
.jsy1p08 {
  background-color: var(--_1shwghkq);
  border-top: 1px solid var(--_1shwghks);
}
.jsy1p0c {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .jsy1p06 {
    display: none;
  }
}
