._1jj1q7p1 {
  background-color: var(--_1u8vcthl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1u8vctho);
}
._1jj1q7p2::before {
  content: "";
  position: absolute;
  min-height: var(--l9e6ffc);
  min-width: var(--l9e6ffc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1yylb462 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1yylb464 {
  border: 1px solid var(--_1u8vctho);
  background-color: var(--_1u8vcthk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1yylb464::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1u8vcthm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1yylb464:hover::after {
  opacity: 1;
}
._1yylb464:focus-visible::after {
  opacity: 1;
}
._1yylb464:active {
  transform: scale(0.97);
}
._1yylb464:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
  outline-offset: 0;
}
._1yylb466 {
  height: var(--_1yylb460);
}
._1yylb468 {
  border-color: var(--_1u8vcthc);
}
._1yylb468::after {
  background-color: var(--_1u8vcthh);
}
._1yylb469 {
  border-color: var(--_1u8vctha);
}
._1yylb469::after {
  background-color: var(--_1u8vcthi);
}
._1yylb46a {
  --_1yylb460: var(--l9e6ffq);
}
._1yylb46b {
  --_1yylb460: var(--l9e6ffr);
}
._1yylb46c {
  --_1yylb460: var(--l9e6ffs);
}
._11hpks71 {
  --_1u8vcth7: var(--_1u8vcthd);
  background-color: var(--_1u8vcthn);
  outline: 1px solid var(--_1u8vcthq);
  outline-offset: -1px;
}
.awmdkt3 {
  background: transparent;
  outline: none;
  height: var(--awmdkt0);
  width: var(--awmdkt0);
}
.awmdkt5 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--awmdkt1);
  isolation: isolate;
}
.awmdkt3[data-pressed] .awmdkt5, .awmdkt3:active .awmdkt5 {
  transform: scale(.95);
}
.awmdkt3:focus-visible .awmdkt5 {
  outline: 2px solid var(--_1u8vcthr);
}
.awmdkt6 {
  --awmdkt0: var(--l9e6ffq);
}
.awmdkt7 {
  --awmdkt0: var(--l9e6ffr);
}
.awmdkt8 {
  --awmdkt0: var(--l9e6ffs);
}
.awmdkt9 {
  --awmdkt1: var(--_1u8vcth7);
}
.awmdkta {
  --awmdkt1: var(--_1u8vcthb);
}
.awmdktb {
  --awmdkt1: var(--_1u8vcthc);
}
.awmdktc {
  background-color: var(--_1u8vcthk);
  outline: 1px solid var(--_1u8vctho);
  outline-offset: -1px;
}
.awmdktc:hover, [data-popup-open] > .awmdktc {
  background-color: var(--_1u8vcthm);
}
.awmdktd {
  --awmdkt1: var(--_1u8vcth8);
  background-color: var(--_1u8vcthf);
}
.awmdktd:hover, [data-popup-open] > .awmdktd {
  background-color: var(--_1u8vcthg);
}
.awmdkte:hover, [data-popup-open] > .awmdkte {
  background-color: var(--_1u8vcthm);
}
.awmdktf {
  margin: calc((var(--l9e6ffj) + 2px) * -1);
}
.awmdkt5 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.mefklc0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .mefklc1 {
    display: none;
  }
}
._1q0wa2v1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1q0wa2v2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1q0wa2v2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1q0wa2v4 {
  --_1q0wa2v3: 40px;
}
._1q0wa2v5 {
  --_1q0wa2v3: 60px;
}
._1q0wa2v6 {
  --_1q0wa2v3: 80px;
}
._1q0wa2v7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1q0wa2v8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1q0wa2v9 {
  overflow: auto;
}
._1q0wa2ve {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1q0wa2vc, 0)),linear-gradient(to right, transparent 0, black var(--_1q0wa2va, 0)),linear-gradient(to left, transparent 0, black var(--_1q0wa2vb, 0)),linear-gradient(to top, transparent 0, black var(--_1q0wa2vd, 0));
}
._1q0wa2vf {
  --_1q0wa2va: var(--_1q0wa2v3);
}
._1q0wa2vg {
  --_1q0wa2vb: var(--_1q0wa2v3);
}
._1q0wa2vh {
  --_1q0wa2vc: var(--_1q0wa2v3);
}
._1q0wa2vi {
  --_1q0wa2vd: var(--_1q0wa2v3);
}
._1m076iz0 {
  transition: var(--l9e6ffe);
  transform-origin: 50% 50%;
}
._1m076iz1 {
  transform: rotate(90deg);
}
._1m076iz2 {
  transform: rotate(180deg);
}
._1m076iz3 {
  transform: rotate(270deg);
}
._1lffv5o2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1lffv5o3 {
  width: 250px;
}
._1lffv5o6 {
  --_1lffv5o4: var(--_1u8vcthm);
  outline: none;
  color: var(--_1u8vcth7);
  height: 34px;
}
._1lffv5o6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--l9e6ff8);
}
._1lffv5o6[data-popup-open]:not([aria-disabled])::before, ._1lffv5o6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1lffv5o4);
}
._1lffv5o6:focus-visible::before {
  outline: 2px solid var(--_1u8vcthr);
  outline-offset: -2px;
}
._1lffv5o6[aria-disabled] {
  color: var(--_1u8vcth9);
}
._1lffv5o8 {
  text-decoration: none;
}
._1lffv5o8:visited {
  color: var(--_1u8vcth7);
}
._1lffv5o9 {
  --_1lffv5o4: var(--_1u8vcthi);
  color: var(--_1u8vctha);
}
._1lffv5oa {
  --_1lffv5o4: transparent;
  color: var(--_1u8vcthc);
}
._1lffv5oa svg {
  color: var(--_1u8vcthc);
}
._1lffv5oc {
  isolation: isolate;
}
._1lffv5og {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1lffv5oi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1u8vcth7);
  z-index: 1;
}
[aria-checked="true"] ._1lffv5oi {
  color: var(--_1u8vcth8);
}
._1lffv5ok {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1u8vcth7);
  isolation: isolate;
}
[aria-checked="true"] ._1lffv5ok {
  background-color: var(--_1u8vcthe);
  border-color: var(--_1u8vcthe);
}
._1lffv5on {
  height: 1px;
  background-color: var(--_1u8vctho);
}
._1lffv5oo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1lffv5oq {
  background: transparent;
  border: none;
  margin: calc(var(--l9e6ffj) * -1);
}
._1lffv5oq:hover, ._1lffv5oq[data-highlighted] {
  background-color: var(--_1u8vcthm);
}
._1lffv5oq:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
  outline-offset: -2px;
}
.v21l7u2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--l9e6ff8);
  color: var(--v21l7u0);
  isolation: isolate;
  outline: none;
}
.v21l7u2[data-pressed], .v21l7u2:active {
  transform: scale(.95);
}
.v21l7u2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--l9e6ffi) * -1);
  background-color: var(--v21l7u0);
  border-radius: var(--l9e6ff8);
}
.v21l7u2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.v21l7u2:hover, .v21l7u2[data-popup-open]:not(:focus-visible) {
  color: var(--_1u8vcth8);
}
.v21l7u2:focus-visible::after {
  outline: 2px solid var(--_1u8vcthr);
}
.v21l7u2:focus-visible:not(:hover)::after {
  background: transparent;
}
.v21l7u3 {
  --v21l7u0: var(--_1u8vcthb);
}
.v21l7u4 {
  --v21l7u0: var(--_1u8vcthc);
}
.v21l7u2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._16pjlxs1 {
  justify-content: safe center;
}
._16pjlxs5 {
  flex-shrink: 0;
  width: var(--_16pjlxs2);
}
._16pjlxs6 {
  transition: color 150ms ease;
}
._16pjlxs5:hover ._16pjlxs6, ._16pjlxs5:focus-within ._16pjlxs6, ._16pjlxs3 ._16pjlxs6 {
  color: var(--_1u8vcthb);
}
._16pjlxs8 {
  border: 1px solid var(--_1u8vctho);
}
._16pjlxsa {
  transition: opacity 150ms ease;
}
._16pjlxs5:not(:hover, :focus-within, ._16pjlxs3) ._16pjlxsa {
  opacity: 1;
}
._16pjlxsc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._16pjlxsa:hover ~ ._16pjlxs8 ._16pjlxsc, ._16pjlxsa:focus-within ~ ._16pjlxs8._16pjlxsc {
  outline-color: var(--_1u8vcthb);
}
._16pjlxse {
  transition: opacity 150ms ease;
}
._16pjlxs5:not(:hover, :focus-within, ._16pjlxs3) ._16pjlxse {
  opacity: 0;
}
.n4ezub1 {
  color: var(--_1u8vcth7);
  font-family: var(--l9e6ff0);
}
.n4ezub2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
.n4ezub3 {
  --_17tbwdk0: 24px;
  --_17tbwdk1: 30px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.n4ezub4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1tv5iq41 {
  display: flex;
  flex-direction: column;
  gap: var(--_1tv5iq40);
}
._1tv5iq42 {
  --_1tv5iq40: var(--l9e6ffg);
}
._1tv5iq43 {
  --_1tv5iq40: var(--l9e6ffh);
}
._1tv5iq44 {
  --_1tv5iq40: var(--l9e6ffi);
}
._1tv5iq45 {
  --_1tv5iq40: var(--l9e6ffj);
}
._1tv5iq46 {
  --_1tv5iq40: var(--l9e6ffk);
}
._1tv5iq47 {
  --_1tv5iq40: var(--l9e6ffl);
}
._1tv5iq48 {
  --_1tv5iq40: var(--l9e6ffm);
}
._1tv5iq49 {
  --_1tv5iq40: var(--l9e6ffn);
}
._1tv5iq4a {
  --_1tv5iq40: var(--l9e6ffo);
}
._1tv5iq4b {
  --_1tv5iq40: var(--l9e6ffp);
}
.p65cg41 {
  background-color: black;
  opacity: 0.2;
}
html[data-playroom-dark] .p65cg41 {
  opacity: 0.7;
}
.p65cg41[data-starting-style], .p65cg41[data-ending-style] {
  opacity: 0;
}
.p65cg43 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-width: calc(100dvw - (var(--l9e6ffk) * 2));
  max-height: calc(100dvh - (var(--l9e6ffk) * 2));
}
.p65cg43[data-starting-style], .p65cg43[data-ending-style] {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
}
.p65cg47:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
  outline-offset: 2px;
}
.flcdvh3 {
  --flcdvh1: 1;
  display: grid;
  grid-template-columns: repeat(var(--flcdvh1), 1fr);
}
.flcdvh5 {
  aspect-ratio: 5/4;
  list-style: none;
}
.flcdvh7 {
  height: calc(100% / var(--flcdvh0));
  width: calc(100% / var(--flcdvh0));
  border-radius: calc(var(--l9e6ff9) / var(--flcdvh0));
  transform: scale(var(--flcdvh0));
  transform-origin: 0 0;
  padding: calc(1px / var(--flcdvh0));
}
.flcdvh9 {
  background: var(--_1u8vcthm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.flcdvhb {
  background: transparent;
  outline: 1px solid var(--_1u8vctho);
}
.flcdvhb:hover {
  outline: 1px solid var(--_1u8vcthp);
}
.flcdvhb:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
}
@media screen and (min-width: 500px) {
  .flcdvh3 {
    --flcdvh1: 2;
  }
}
@media screen and (min-width: 800px) {
  .flcdvh3 {
    --flcdvh1: 3;
  }
}
@media screen and (min-width: 1200px) {
  .flcdvh3 {
    --flcdvh1: 4;
  }
}
@media screen and (min-width: 1600px) {
  .flcdvh3 {
    --flcdvh1: 5;
  }
}
._1qfllbo2 {
  outline: none;
  height: var(--l9e6ffr);
  color: var(--_1u8vcth7);
  background: transparent;
}
._1qfllbo2::placeholder {
  color: var(--_1u8vcth9);
  font-weight: normal;
}
._1qfllbo2:hover:not(:focus-visible) {
  background: var(--_1u8vcthm);
  opacity: 1;
  color: transparent;
}
._1qfllbo2:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
  opacity: 1;
}
._1qfllbo2:focus-visible::placeholder {
  color: transparent;
}
._1qfllbo4 {
  max-width: 50vw;
  min-width: 240px;
}
._1qfllbo2:focus-visible ~ ._1qfllbo4 {
  opacity: 0;
}
._1qfllbo5 {
  white-space: pre;
}
._1rzfa2d1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1u8vcthk);
}
._1rzfa2d2 {
  width: fit-content;
}
._1rzfa2d4 {
  width: fit-content;
  justify-self: flex-end;
}
._1rzfa2d6 {
  background: transparent;
  color: var(--_1u8vcthf);
  isolation: isolate;
}
._1rzfa2d6::after {
  content: "";
  position: absolute;
  transition: var(--l9e6fff);
  z-index: -1;
  inset: calc(var(--l9e6ffj) * -1);
  background-color: var(--_1u8vcthm);
  border-radius: var(--l9e6ff9);
}
._1rzfa2d6:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
  outline-offset: 6px;
}
._1rzfa2d6:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1rzfa2d8 {
  margin: calc(var(--l9e6ffk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1rzfa2dc {
  appearance: none;
  outline: none;
  background: var(--_1u8vcthk);
  color: var(--_1u8vcth7);
  border: 1px solid var(--_1u8vctho);
  height: var(--l9e6ffr);
}
._1rzfa2dc:hover, ._1rzfa2dc[data-popup-open] {
  background-color: var(--_1u8vcthm);
}
._1rzfa2dc:focus-visible {
  outline: 2px solid var(--_1u8vcthr);
  z-index: 1;
}
._1rzfa2de {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1rzfa2dg {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1rzfa2di {
  color: var(--_1u8vcthc);
}
@media screen and (max-width: 767px) {
  ._1rzfa2d4 {
    display: none;
  }
}
.avbhjn2 {
  border: 1px solid var(--_1u8vctho);
  border-radius: var(--l9e6ff9);
}
.avbhjn4 {
  border-bottom: 1px solid var(--_1u8vctho);
  gap: 12px;
}
.avbhjn7 {
  border-top: 1px solid var(--_1u8vctho);
  gap: 12px;
}
.avbhjnb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .avbhjn5 {
    display: none;
  }
}
