.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._1uylkky5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--dfnn70j);
  -webkit-tap-highlight-color: transparent;
}
._1uylkky5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dfnn70l);
  opacity: 0;
  transition: var(--ptaj4id);
  pointer-events: none;
}
._1uylkky5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--ptaj4id);
}
._1uylkky5._1uylkky0 {
  color: var(--dfnn70d);
}
._1uylkky5:not(._1uylkky1) {
  cursor: pointer;
}
._1uylkky5._1uylkky1 {
  color: var(--dfnn707);
}
._1uylkky5._1uylkky2,._1uylkky5._1uylkky3:not(._1uylkky0):not(._1uylkky1),html:not([data-playroom-dark]) ._1uylkky5:hover:not(._1uylkky0):not(._1uylkky1) {
  color: var(--dfnn70c);
}
._1uylkky5:not(._1uylkky0):not(:hover):focus::before {
  color: var(--dfnn708);
}
._1uylkky5:not(._1uylkky0):not(._1uylkky1):focus::before,._1uylkky5:not(._1uylkky0):not(._1uylkky1):hover::before {
  opacity: 1;
}
._1uylkky5:not(._1uylkky3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1uylkky8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--dfnn70f);
  border: 2px solid var(--dfnn70j);
}
._1uylkky8:not(._1uylkky6) {
  transform: scale(0);
  opacity: 0;
}
._1uylkkya {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--dfnn70d);
  border: 2px solid var(--dfnn70j);
}
._1uylkkya:not(._1uylkky6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1uylkkya svg {
  color: var(--dfnn709);
}
@keyframes iggy3o1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iggy3o0 {
  background-color: var(--dfnn70l);
}
.iggy3o3 {
  background-color: var(--dfnn70h);
  color: var(--dfnn70b);
  min-width: 50px;
  animation-name: iggy3o1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.iggy3o3:hover {
  cursor: help;
}
.iggy3o5 {
  width: 1em;
}
.iggy3o7::after {
  content: "-";
}
.iggy3o9::after {
  content: "+";
  color: var(--dfnn70c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--dfnn70j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--ptaj4i1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--ptaj4ib);
  box-sizing: border-box;
  padding-left: var(--ptaj4ij);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--ptaj4il) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--dfnn70o);
  border-radius: var(--ptaj4i7);
  background-color: var(--dfnn70j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--ptaj4i1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--dfnn70i);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--ptaj4ii) var(--ptaj4ij);
  border-radius: var(--ptaj4i7);
  white-space: pre;
  color: var(--dfnn700);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--dfnn70f);
  color: var(--dfnn709);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--dfnn70c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--ptaj4ii);
}
.cm-s-neo.CodeMirror {
  background-color: var(--dfnn70j);
  color: var(--dfnn700);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--dfnn708);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--dfnn70j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--dfnn70j);
  position: absolute;
  right: var(--ptaj4ih);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--dfnn70j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--dfnn70l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--dfnn708);
  transition: var(--ptaj4if);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.iggy3o9) {
  color: var(--dfnn707);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--dfnn708);
  transition: var(--ptaj4if);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--dfnn707);
}
.cm-s-neo .cm-tag {
  color: var(--dfnn701);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--dfnn702);
}
.cm-s-neo .cm-string {
  color: var(--dfnn703);
}
.cm-s-neo .cm-atom {
  color: var(--dfnn704);
}
.cm-s-neo .cm-variable {
  color: var(--dfnn705);
}
.cm-s-neo .cm-number {
  color: var(--dfnn706);
}
.CodeMirror-dialog {
  padding-left: var(--ptaj4il);
  padding-right: var(--ptaj4il);
  min-height: 60px;
  border-bottom: 1px solid var(--dfnn70n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--iggy3oa));
  transition: var(--ptaj4if);
}
.dialog-opened .CodeMirror-scroll {
  --iggy3oa: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--iggy3oa);
}
.CodeMirror-dialog input {
  font: var(--ptaj4i5);
  font-family: var(--ptaj4i1);
  height: var(--ptaj4ic);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--ptaj4ic);
  font: var(--ptaj4i5);
  font-family: var(--ptaj4i1);
}
.CodeMirror-search-field {
  padding-left: var(--ptaj4il);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--dfnn70m);
}
.cm-overlay.cm-searching {
  padding-top: var(--ptaj4ih);
  padding-bottom: var(--ptaj4ih);
  background: var(--dfnn70l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--ptaj4il);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--ptaj4i4);
  font-family: var(--ptaj4i0);
  margin-left: var(--ptaj4ij);
  padding-top: var(--ptaj4ii);
  padding-bottom: var(--ptaj4ii);
  padding-left: var(--ptaj4ik);
  padding-right: var(--ptaj4ik);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--ptaj4i8);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--dfnn70c);
  box-shadow: var(--dfnn70p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--dfnn70l);
}
.CodeMirror-dialog button:hover {
  background: var(--dfnn70e);
}
.pj0sp51 {
  color: var(--dfnn708);
}
.pj0sp52 {
  color: var(--dfnn70b);
}
.pj0sp53 {
  color: var(--dfnn70a);
}
.pj0sp5a {
  text-overflow: ellipsis;
}
._16lvqp91 {
  justify-content: safe center;
}
._16lvqp94 {
  flex-shrink: 0;
  width: var(--_16lvqp92);
}
._16lvqp94:not(:hover) ._16lvqp97 {
  opacity: 0.8;
}
._16lvqp99 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._16lvqp94:not(:hover) ._16lvqp99 {
  opacity: 0.3;
}
._1u7c9al5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--ptaj4im);
  height: var(--ptaj4in);
  max-width: calc((100dvw - 60px) - (var(--ptaj4ib) * 2));
}
._1u7c9al5._1u7c9al0 {
  padding-right: calc((15px * 2) + 16px);
}
._1u7c9al5:not(._1u7c9al1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1u7c9al5._1u7c9al2 {
  background-color: var(--dfnn70g);
}
._1u7c9al5._1u7c9al3 {
  background-color: var(--dfnn70h);
}
._1u7c9al7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1u7c9al7:not(:hover) {
  opacity: 0.4;
}
._1f2uhcz1 {
  color: var(--dfnn708);
  font-family: var(--ptaj4i0);
}
._1f2uhcz2 {
  font-size: 36px;
}
._1f2uhcz3 {
  font-size: 24px;
}
._1f2uhcz4 {
  font-size: 16px;
}
._3jtdj82 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_3jtdj80);
  align-items: var(--_3jtdj81);
}
._3jtdj83 {
  --_3jtdj80: var(--ptaj4ig);
}
._3jtdj84 {
  --_3jtdj80: var(--ptaj4ih);
}
._3jtdj85 {
  --_3jtdj80: var(--ptaj4ii);
}
._3jtdj86 {
  --_3jtdj80: var(--ptaj4ij);
}
._3jtdj87 {
  --_3jtdj80: var(--ptaj4ik);
}
._3jtdj88 {
  --_3jtdj80: var(--ptaj4il);
}
._3jtdj89 {
  --_3jtdj80: var(--ptaj4im);
}
._3jtdj8a {
  --_3jtdj80: var(--ptaj4in);
}
._3jtdj8b {
  --_3jtdj80: var(--ptaj4io);
}
._3jtdj8c {
  --_3jtdj80: var(--ptaj4ip);
}
._3jtdj8d {
  align-items: flex-start;
}
._3jtdj8e {
  align-items: center;
}
._3jtdj8f {
  align-items: flex-end;
}
.yfavby1 {
  display: flex;
  flex-direction: column;
  gap: var(--yfavby0);
}
.yfavby2 {
  --yfavby0: var(--ptaj4ig);
}
.yfavby3 {
  --yfavby0: var(--ptaj4ih);
}
.yfavby4 {
  --yfavby0: var(--ptaj4ii);
}
.yfavby5 {
  --yfavby0: var(--ptaj4ij);
}
.yfavby6 {
  --yfavby0: var(--ptaj4ik);
}
.yfavby7 {
  --yfavby0: var(--ptaj4il);
}
.yfavby8 {
  --yfavby0: var(--ptaj4im);
}
.yfavby9 {
  --yfavby0: var(--ptaj4in);
}
.yfavbya {
  --yfavby0: var(--ptaj4io);
}
.yfavbyb {
  --yfavby0: var(--ptaj4ip);
}
._18wmtgn1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--ptaj4ii) * -1);
}
._18wmtgn1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ptaj4i7);
  box-shadow: var(--dfnn70p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--ptaj4ie);
}
._18wmtgn1:focus::before, ._18wmtgn1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._18wmtgn4 {
  height: 20px;
  width: 20px;
}
._18wmtgn6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--ptaj4ih) * 2));
  width: calc(20px - (var(--ptaj4ih) * 2));
}
._18wmtgn6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ptaj4i7);
  box-shadow: var(--dfnn70p);
  transition: var(--ptaj4ie);
  opacity: 0;
  transform: scale(0.5);
}
._18wmtgn6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ptaj4i7);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--dfnn70j);
}
._18wmtgn4:hover:not(:focus) ~ ._18wmtgn6::before, ._18wmtgn4:focus ~ ._18wmtgn6::before {
  opacity: 1;
  transform: scale(1);
}
._18wmtgn6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--ptaj4if);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._18wmtgn4:checked ~ ._18wmtgn6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--ptaj4if);
}
._18wmtgn8 {
  color: var(--dfnn708);
  height: var(--ptaj4ic);
  background: var(--dfnn70j);
  border: 1px solid var(--dfnn70n);
}
._18wmtgn8::placeholder {
  color: var(--dfnn707);
}
.rnk2ki1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
.rnk2ki4 {
  --rnk2ki2: currentColor;
  color: var(--rnk2ki2);
  border: 1px solid var(--dfnn707);
}
.rnk2ki4:hover {
  --rnk2ki2: var(--dfnn70c);
  border-color: var(--rnk2ki2);
}
.rnk2ki4:active {
  transform: scale(0.98);
}
.rnk2ki4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--ptaj4ic);
  min-width: var(--ptaj4ic);
  width: 100%;
  height: 100%;
  top: 50%;
}
.rnk2ki4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--dfnn70p);
}
.rnk2ki5 {
  --rnk2ki2: var(--dfnn70d) !important;
  border-color: var(--rnk2ki2);
}
.rnk2ki7 {
  top: 1px;
}
.imhmse0 {
  transition: var(--ptaj4ie);
  transform-origin: 50% 50%;
}
.imhmse1 {
  transform: rotate(90deg);
}
.imhmse2 {
  transform: rotate(180deg);
}
.imhmse3 {
  transform: rotate(270deg);
}
.dy1rsq4 {
  min-width: 0;
}
.dy1rsq5 {
  flex-shrink: 0;
}
.dy1rsq9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.dy1rsq7:focus:not(:hover) ~ .dy1rsq9 {
  opacity: 1;
}
._1ous6802 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1ous6804 {
  display: inline-block;
  background: var(--dfnn70i);
  font-family: system-ui;
  min-width: 16px;
}
._1ous6806 {
  height: var(--ptaj4ic);
  width: var(--ptaj4ic);
}
._1ous6808 {
  height: var(--ptaj4ic);
  width: var(--ptaj4ic);
}
._1ous6808::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dfnn70l);
  border-radius: var(--ptaj4i8);
  transition: var(--ptaj4ie);
  opacity: 0;
  transform: scale(0.8);
}
._1ous6806:checked ~ ._1ous6808,html:not([data-playroom-dark]) ._1ous6806:hover ~ ._1ous6808 {
  color: var(--dfnn70c);
}
._1ous6806:focus ~ ._1ous6808::before, ._1ous6806:hover ~ ._1ous6808::before {
  opacity: 1;
  transform: scale(1);
}
._1inqx0i1 {
  color: var(--dfnn708);
  height: var(--ptaj4ic);
  background: var(--dfnn70j);
}
._1inqx0i1:focus {
  outline: none;
}
._1inqx0i1::placeholder {
  color: var(--dfnn707);
}
._1v3jgbi2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--dfnn70n);
}
._1v3jgbi4 {
  list-style: none;
  top: 60px;
}
._1v3jgbi4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--ptaj4ii);
  z-index: 1;
}
._1v3jgbi4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--ptaj4ii);
  z-index: 1;
}
._1v3jgbi6 {
  scroll-margin-block: var(--ptaj4ii);
  color: var(--dfnn708);
  background-color: var(--dfnn70j);
}
._1v3jgbi6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dfnn70l);
  border-radius: var(--ptaj4i7);
  opacity: 0;
  pointer-events: none;
}
._1v3jgbi8 {
  color: var(--dfnn70a);
}
._1v3jgbi9 {
  color: var(--dfnn70c);
}
._1v3jgbi9::before {
  opacity: 1;
}
.kbkjtp2 {
  color: var(--dfnn708);
  min-width: calc(60px + 1px);
}
.kbkjtp2.kbkjtp0 {
  width: 100dvw;
}
.kbkjtp6 {
  width: 60px;
  background-color: var(--dfnn70j);
  border-left: 1px solid var(--dfnn70n);
}
.kbkjtp8 {
  width: 320px;
  background-color: var(--dfnn70j);
  border-left: 1px solid var(--dfnn70n);
}
.kbkjtp9 {
  opacity: 0;
  transform: translateX(30%);
}
.kbkjtpb {
  opacity: 1;
  transform: translateX(0);
}
.kbkjtpc {
  opacity: 1;
  transform: translateX(0);
}
.kbkjtpd {
  opacity: 1;
}
.kbkjtpf {
  opacity: 0;
  transform: translateX(30%);
}
.kbkjtpg {
  opacity: 0;
  transform: translateX(30%);
}
.y1bt020 {
  cursor: row-resize;
}
.y1bt021 {
  cursor: col-resize;
}
.y1bt02a {
  background: var(--dfnn70i);
}
.y1bt02b {
  width: 70px;
  height: 4px;
}
.y1bt02c {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dfnn70k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._1bfxnto0 {
  pointer-events: none;
  user-select: none;
}
._1bfxnto6 {
  display: grid;
  grid-template-columns: 1fr var(--_1bfxnto2, 0px);
  grid-template-rows: auto var(--_1bfxnto1, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
._1bfxnto7 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
._1bfxnto8 {
  --_1bfxnto1: clamp(300px, var(--_1bfxnto3), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
._1bfxnto9 {
  --_1bfxnto2: clamp(460px, var(--_1bfxnto3), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
._1bfxntoa {
  grid-area: frames;
}
._1bfxntoc {
  grid-area: editor;
}
._1bfxnto8 ._1bfxntoe {
  width: 60px;
}
._1bfxntog {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--ptaj4ic);
  height: var(--ptaj4ic);
}
._1bfxntog::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--ptaj4i8);
  transition: var(--ptaj4id);
}
._1bfxntog:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1bfxntog:hover::before, ._1bfxntog:focus::before {
  opacity: 0.05;
}
