._1rvrs5m1 {
  background-color: var(--_1jmkn9tl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1jmkn9tq);
}
._1rvrs5m2::before {
  content: "";
  position: absolute;
  min-height: var(--_1pqtcf1c);
  min-width: var(--_1pqtcf1c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._16dqej22 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._16dqej24 {
  border: 1px solid var(--_1jmkn9tq);
  background-color: var(--_1jmkn9tk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._16dqej24::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jmkn9tm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._16dqej24:hover::after {
  opacity: 1;
}
._16dqej24:focus-visible::after {
  opacity: 1;
}
._16dqej24:active:not([disabled]) {
  transform: scale(0.97);
}
._16dqej24:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 0;
}
._16dqej26 {
  isolation: isolate;
}
._16dqej28 {
  height: var(--_16dqej20);
}
._16dqej2a {
  border-color: var(--_1jmkn9tc);
}
._16dqej2a::after {
  background-color: var(--_1jmkn9th);
}
._16dqej2b {
  border-color: var(--_1jmkn9ta);
}
._16dqej2b::after {
  background-color: var(--_1jmkn9ti);
}
._16dqej2c {
  --_16dqej20: var(--_1pqtcf1q);
}
._16dqej2d {
  --_16dqej20: var(--_1pqtcf1r);
}
._16dqej2e {
  --_16dqej20: var(--_1pqtcf1s);
}
._1rh8oii1 {
  --_1jmkn9t7: var(--_1jmkn9td);
  background-color: var(--_1jmkn9tn);
  outline: 1px solid var(--_1jmkn9ts);
  outline-offset: -1px;
}
._1qcrjma3 {
  background: transparent;
  outline: none;
  height: var(--_1qcrjma0);
  width: var(--_1qcrjma0);
}
._1qcrjma6 {
  padding: var(--_1qcrjma4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1qcrjma1);
  isolation: isolate;
}
._1qcrjma3[data-pressed] ._1qcrjma6, ._1qcrjma3:active ._1qcrjma6 {
  transform: scale(.95);
}
._1qcrjma3:focus-visible ._1qcrjma6 {
  outline: 2px solid var(--_1jmkn9tt);
}
._1qcrjma7 {
  --_1qcrjma0: var(--_1pqtcf1q);
  --_1qcrjma4: 6px;
}
._1qcrjma8 {
  --_1qcrjma0: var(--_1pqtcf1r);
  --_1qcrjma4: var(--_1pqtcf1j);
}
._1qcrjma9 {
  --_1qcrjma0: var(--_1pqtcf1s);
  --_1qcrjma4: var(--_1pqtcf1j);
}
._1qcrjmaa {
  --_1qcrjma1: var(--_1jmkn9t7);
}
._1qcrjmab {
  --_1qcrjma1: var(--_1jmkn9tb);
}
._1qcrjmac {
  --_1qcrjma1: var(--_1jmkn9tc);
}
._1qcrjmad {
  background-color: var(--_1jmkn9tk);
  outline: 1px solid var(--_1jmkn9tq);
  outline-offset: -1px;
}
._1qcrjmad:hover, [data-popup-open] > ._1qcrjmad {
  background-color: var(--_1jmkn9tm);
}
._1qcrjmae {
  --_1qcrjma1: var(--_1jmkn9t8);
  background-color: var(--_1jmkn9tf);
}
._1qcrjmae:hover, [data-popup-open] > ._1qcrjmae {
  background-color: var(--_1jmkn9tg);
}
._1qcrjmaf:hover, [data-popup-open] > ._1qcrjmaf {
  background-color: var(--_1jmkn9tm);
}
._1qcrjmag {
  margin: calc((var(--_1qcrjma4) + 2px) * -1);
}
._1qcrjma6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.xxgvjr2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1pqtcf18);
  color: var(--xxgvjr0);
  isolation: isolate;
  outline: none;
}
.xxgvjr2[data-pressed], .xxgvjr2:active {
  transform: scale(.95);
}
.xxgvjr2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1pqtcf1i) * -1);
  background-color: var(--xxgvjr0);
  border-radius: var(--_1pqtcf18);
}
.xxgvjr2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.xxgvjr2:hover, .xxgvjr2[data-popup-open]:not(:focus-visible) {
  color: var(--_1jmkn9t8);
}
.xxgvjr2:focus-visible::after {
  outline: 2px solid var(--_1jmkn9tt);
}
.xxgvjr2:focus-visible:not(:hover)::after {
  background: transparent;
}
.xxgvjr3 {
  --xxgvjr0: var(--_1jmkn9tb);
}
.xxgvjr4 {
  --xxgvjr0: var(--_1jmkn9tc);
}
.xxgvjr2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1f215a11 {
  justify-content: safe center;
}
._1f215a15 {
  flex-shrink: 0;
  width: var(--_1f215a12);
}
._1f215a16 {
  transition: color 150ms ease;
}
._1f215a15:hover ._1f215a16, ._1f215a15:focus-within ._1f215a16, ._1f215a13 ._1f215a16 {
  color: var(--_1jmkn9tb);
}
._1f215a18 {
  outline: 1px solid var(--_1jmkn9tq);
}
._1f215a1a {
  transition: opacity 150ms ease;
}
._1f215a15:not(:hover, :focus-within, ._1f215a13) ._1f215a1a {
  opacity: 1;
}
._1f215a1c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1f215a1a:hover ~ ._1f215a18 ._1f215a1c, ._1f215a1a:focus-within ~ ._1f215a18._1f215a1c {
  outline-color: var(--_1jmkn9tb);
}
._1f215a1e {
  transition: opacity 150ms ease;
}
._1f215a15:not(:hover, :focus-within, ._1f215a13) ._1f215a1e {
  opacity: 0;
}
._1h7pwqg1 {
  color: var(--_1jmkn9t7);
  font-family: var(--_1pqtcf10);
}
._1h7pwqg2 {
  --u7b6nr0: 36px;
  --u7b6nr1: 44px;
  --u7b6nr2: -0.2741em;
  --u7b6nr3: -0.2031em;
}
._1h7pwqg3 {
  --u7b6nr0: 20px;
  --u7b6nr1: 28px;
  --u7b6nr2: -0.363em;
  --u7b6nr3: -0.292em;
}
._1h7pwqg4 {
  --u7b6nr0: 16px;
  --u7b6nr1: 20px;
  --u7b6nr2: -0.288em;
  --u7b6nr3: -0.217em;
}
._1qqd3m31 {
  display: flex;
  flex-direction: column;
  gap: var(--_1qqd3m30);
}
._1qqd3m32 {
  --_1qqd3m30: var(--_1pqtcf1g);
}
._1qqd3m33 {
  --_1qqd3m30: var(--_1pqtcf1h);
}
._1qqd3m34 {
  --_1qqd3m30: var(--_1pqtcf1i);
}
._1qqd3m35 {
  --_1qqd3m30: var(--_1pqtcf1j);
}
._1qqd3m36 {
  --_1qqd3m30: var(--_1pqtcf1k);
}
._1qqd3m37 {
  --_1qqd3m30: var(--_1pqtcf1l);
}
._1qqd3m38 {
  --_1qqd3m30: var(--_1pqtcf1m);
}
._1qqd3m39 {
  --_1qqd3m30: var(--_1pqtcf1n);
}
._1qqd3m3a {
  --_1qqd3m30: var(--_1pqtcf1o);
}
._1qqd3m3b {
  --_1qqd3m30: var(--_1pqtcf1p);
}
._1qqd3m3c {
  align-items: flex-start;
}
._1qqd3m3d {
  align-items: center;
}
._1qqd3m3e {
  align-items: flex-end;
}
._1p8d2vz1 {
  backdrop-filter: blur(6px);
}
._1p8d2vz1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jmkn9tj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1p8d2vz1::before {
  opacity: 0.7;
}
._1p8d2vz1[data-starting-style]::before, ._1p8d2vz1[data-ending-style]::before {
  opacity: 0;
}
._1p8d2vz3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1pqtcf1k) * 2));
  max-height: calc(100dvh - (var(--_1pqtcf1k) * 2));
}
._1p8d2vz3[data-starting-style], ._1p8d2vz3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1p8d2vz7:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 2px;
}
._1wjtv922 {
  display: flex;
  flex-direction: row;
  gap: var(--_1wjtv920);
  align-items: var(--_1wjtv921);
}
._1wjtv923 {
  flex-wrap: wrap;
}
._1wjtv924 {
  --_1wjtv920: var(--_1pqtcf1g);
}
._1wjtv925 {
  --_1wjtv920: var(--_1pqtcf1h);
}
._1wjtv926 {
  --_1wjtv920: var(--_1pqtcf1i);
}
._1wjtv927 {
  --_1wjtv920: var(--_1pqtcf1j);
}
._1wjtv928 {
  --_1wjtv920: var(--_1pqtcf1k);
}
._1wjtv929 {
  --_1wjtv920: var(--_1pqtcf1l);
}
._1wjtv92a {
  --_1wjtv920: var(--_1pqtcf1m);
}
._1wjtv92b {
  --_1wjtv920: var(--_1pqtcf1n);
}
._1wjtv92c {
  --_1wjtv920: var(--_1pqtcf1o);
}
._1wjtv92d {
  --_1wjtv920: var(--_1pqtcf1p);
}
._1wjtv92e {
  align-items: flex-start;
}
._1wjtv92f {
  align-items: center;
}
._1wjtv92g {
  align-items: flex-end;
}
.nknk120 {
  isolation: isolate;
  white-space: nowrap;
}
.nknk121 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .nknk123 {
    display: none;
  }
}
._1uf5n4h1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1uf5n4h2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1uf5n4h2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1uf5n4h4 {
  --_1uf5n4h3: 30px;
}
._1uf5n4h5 {
  --_1uf5n4h3: 45px;
}
._1uf5n4h6 {
  --_1uf5n4h3: 60px;
}
._1uf5n4h7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1uf5n4h8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1uf5n4h9 {
  overflow: auto;
}
._1uf5n4he {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1uf5n4hc, 0)),linear-gradient(to right, transparent 0, black var(--_1uf5n4ha, 0)),linear-gradient(to left, transparent 0, black var(--_1uf5n4hb, 0)),linear-gradient(to top, transparent 0, black var(--_1uf5n4hd, 0));
}
._1uf5n4hf {
  --_1uf5n4ha: var(--_1uf5n4h3);
}
._1uf5n4hg {
  --_1uf5n4hb: var(--_1uf5n4h3);
}
._1uf5n4hh {
  --_1uf5n4hc: var(--_1uf5n4h3);
}
._1uf5n4hi {
  --_1uf5n4hd: var(--_1uf5n4h3);
}
.fzdgwk2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.fzdgwk3 {
  width: 250px;
}
.fzdgwk6 {
  --fzdgwk4: var(--_1jmkn9tm);
  outline: none;
  cursor: default;
  color: var(--_1jmkn9t7);
  height: 34px;
  isolation: isolate;
}
.fzdgwk6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1pqtcf18);
  z-index: -1;
}
.fzdgwk6[data-popup-open]:not([aria-disabled])::before, .fzdgwk6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--fzdgwk4);
}
.fzdgwk6:focus-visible::before {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: -2px;
}
.fzdgwk6[aria-disabled] {
  color: var(--_1jmkn9t9);
  cursor: not-allowed;
}
.fzdgwk7 {
  cursor: pointer;
  text-decoration: none;
}
.fzdgwk7[aria-disabled] {
  cursor: not-allowed;
}
.fzdgwk8 {
  margin-left: 3px;
}
.fzdgwk9 {
  --fzdgwk4: var(--_1jmkn9ti);
  color: var(--_1jmkn9ta);
}
.fzdgwka {
  --fzdgwk4: transparent;
  color: var(--_1jmkn9tc);
}
.fzdgwka svg {
  color: var(--_1jmkn9tc);
}
.fzdgwkc {
  isolation: isolate;
}
.fzdgwkg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.fzdgwki {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1jmkn9t7);
  z-index: 1;
}
[aria-checked="true"] .fzdgwki {
  color: var(--_1jmkn9t8);
}
.fzdgwkk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1jmkn9t7);
  isolation: isolate;
}
[aria-checked="true"] .fzdgwkk {
  background-color: var(--_1jmkn9te);
  border-color: var(--_1jmkn9te);
}
.fzdgwkp {
  height: 34px;
}
.fzdgwkr {
  height: 1px;
  background-color: var(--_1jmkn9tq);
}
.fzdgwks {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.fzdgwku {
  background: transparent;
  border: none;
}
.fzdgwku:hover, .fzdgwku[data-highlighted] {
  background-color: var(--_1jmkn9tm);
}
.fzdgwku:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: -2px;
}
.mx4x2h0 {
  width: 200px;
}
._1rxew7x1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1jmkn9tk);
}
._1rxew7x2 {
  width: fit-content;
}
._1rxew7x5 {
  width: fit-content;
  justify-self: flex-end;
}
._1rxew7x5:not(._1rxew7x3) {
  opacity: 0;
  transform: translateX(var(--_1pqtcf1j));
  pointer-events: none;
}
._1rxew7x7 {
  background: transparent;
  color: var(--_1jmkn9tf);
  isolation: isolate;
}
._1rxew7x7::after {
  content: "";
  position: absolute;
  transition: var(--_1pqtcf1f);
  z-index: -1;
  inset: calc(var(--_1pqtcf1j) * -1);
  background-color: var(--_1jmkn9tm);
  border-radius: var(--_1pqtcf19);
}
._1rxew7x7:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 6px;
}
._1rxew7x7:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1rxew7x9 {
  margin: calc(var(--_1pqtcf1k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1rxew7xd {
  appearance: none;
  outline: none;
  background: var(--_1jmkn9tk);
  color: var(--_1jmkn9t7);
  border: 1px solid var(--_1jmkn9tq);
  height: var(--_1pqtcf1r);
}
._1rxew7xd:hover, ._1rxew7xd[data-popup-open] {
  background-color: var(--_1jmkn9tm);
}
._1rxew7xd:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  z-index: 1;
}
._1rxew7xf {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1rxew7xh {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1rxew7xi {
  color: var(--_1jmkn9tc);
}
._1rxew7xk {
  height: 1px;
  background-color: var(--_1jmkn9tq);
}
@media screen and (max-width: 767px) {
  ._1rxew7x5 {
    display: none;
  }
}
.dubjxh2 {
  flex: 1;
  min-height: 0;
}
.dubjxh5 {
  --dubjxh3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--dubjxh3), 1fr);
}
.dubjxh7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.dubjxh9 {
  height: calc(100% / var(--dubjxh0));
  width: calc(100% / var(--dubjxh0));
  border-radius: calc(var(--_1pqtcf19) / var(--dubjxh0));
  transform: scale(var(--dubjxh0));
  transform-origin: 0 0;
  padding: calc(1px / var(--dubjxh0));
}
.dubjxhb {
  background: var(--_1jmkn9tm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dubjxhd {
  background: transparent;
  outline: 1px solid var(--_1jmkn9tq);
}
.dubjxhd:hover {
  outline: 2px solid var(--_1jmkn9tr);
}
.dubjxhd:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 2px;
}
.dubjxhh {
  list-style: none;
}
.dubjxhj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1jmkn9tq);
}
.dubjxhj:hover {
  outline: 2px solid var(--_1jmkn9tr);
}
.dubjxhj:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .dubjxh5 {
    --dubjxh3: 2;
  }
}
@media screen and (min-width: 800px) {
  .dubjxh5 {
    --dubjxh3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .dubjxh5 {
    --dubjxh3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .dubjxh5 {
    --dubjxh3: 5;
  }
}
._14xc93o1 {
  width: fit-content;
}
._14xc93o3:focus-visible ~ ._14xc93o5 {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 4px;
}
._14xc93o8 {
  min-width: 0;
}
._14xc93o9 {
  flex-shrink: 0;
}
.rfebvd2 {
  outline: none;
  height: var(--_1pqtcf1r);
  color: var(--_1jmkn9t7);
  background: transparent;
}
.rfebvd2::placeholder {
  color: var(--_1jmkn9t9);
  font-weight: strong;
}
.rfebvd2:hover:not(:focus-visible), .rfebvd2:hover:not(:focus-visible)::placeholder {
  background: var(--_1jmkn9tm);
  opacity: 1;
  color: transparent;
}
.rfebvd2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.rfebvd2:focus-visible {
  outline: 2px solid var(--_1jmkn9tt);
  outline-offset: 0;
  opacity: 1;
}
.rfebvd2:focus-visible::placeholder {
  color: transparent;
}
.rfebvd4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1jmkn9t7);
}
.rfebvd2:focus-visible ~ .rfebvd4 {
  opacity: 0;
}
.rfebvd5 {
  color: var(--_1jmkn9t9);
}
._7wy49s3 {
  border: 1px solid var(--_1jmkn9tq);
}
._7wy49s5 {
  background-color: var(--_1jmkn9tp);
  border-bottom: 1px solid var(--_1jmkn9tq);
}
._7wy49s8 {
  background-color: var(--_1jmkn9tp);
  border-top: 1px solid var(--_1jmkn9tq);
}
._7wy49sc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._7wy49s6 {
    display: none;
  }
}
