{
  // temporary until eslint-config-seek is updated
  "extends": ["seek", "plugin:import/typescript"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error",
    "import/no-duplicates": "error",
    "import/no-relative-packages": "error"
  },
  "overrides": [
    {
      "files": ["*.{js,ts,tsx}"],
      "excludedFiles": [
        "*.{docs,gallery,screenshots,stories}.tsx",
        "site/**/*.{ts,tsx}"
      ],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              "braid-design-system**",
              "!braid-design-system/lib/utils/source.macro",
              "braid-src/**",
              "site/**",
              "**/site/**"
            ]
          }
        ]
      }
    }
  ]
}
