{
  "extends": "seek",
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "excludedFiles": [
        "*.{docs,gallery,screenshots}.tsx",
        "site/**/*.{ts,tsx}"
      ],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": ["braid-src/*", "braid-site/*", "braid-design-system*"]
          }
        ]
      }
    }
  ]
}
