coverage/
storybook-static
dist/
report/
.changeset/*.md
CHANGELOG.md
componentUpdates.json
componentDocs.json
pnpm-lock.yaml

# generated snippets
**/playroom/snippets/

# backwards-compatible entry points (with package.json)
packages/braid-design-system/color-mode/
packages/braid-design-system/css/
packages/braid-design-system/playroom/
packages/braid-design-system/reset/
packages/braid-design-system/test/
packages/braid-design-system/themes/
