coverage/
storybook-static
dist/
report/
.changeset/*.md
CHANGELOG.md
componentUpdates.json
componentDocs.json
pnpm-lock.yaml

# generated snippets
**/playroom/snippets/

# backwards-compatible entry points (with package.json)
/color-mode/
/css/
/playroom/
/reset/
/test/
/themes/
