{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "packages/braid-design-system/scripts/*",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
