language: node_js
cache: yarn
notifications:
  email: false
before_script:
  - npm prune
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
