._13sced41 {
  background-color: var(--itvf2wl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--itvf2wo);
}
._13sced42::before {
  content: "";
  position: absolute;
  min-height: var(--z0y6z1c);
  min-width: var(--z0y6z1c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1dzaegu2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1dzaegu4 {
  border: 1px solid var(--itvf2wo);
  background-color: var(--itvf2wk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1dzaegu4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--itvf2wm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1dzaegu4:hover::after {
  opacity: 1;
}
._1dzaegu4:focus-visible::after {
  opacity: 1;
}
._1dzaegu4:active {
  transform: scale(0.97);
}
._1dzaegu4:focus-visible {
  outline: 2px solid var(--itvf2wr);
  outline-offset: 0;
}
._1dzaegu6 {
  height: var(--_1dzaegu0);
}
._1dzaegu8 {
  border-color: var(--itvf2wc);
}
._1dzaegu8::after {
  background-color: var(--itvf2wh);
}
._1dzaegu9 {
  border-color: var(--itvf2wa);
}
._1dzaegu9::after {
  background-color: var(--itvf2wi);
}
._1dzaegua {
  --_1dzaegu0: var(--z0y6z1q);
}
._1dzaegub {
  --_1dzaegu0: var(--z0y6z1r);
}
._1dzaeguc {
  --_1dzaegu0: var(--z0y6z1s);
}
._2wwx6k1 {
  --itvf2w7: var(--itvf2wd);
  background-color: var(--itvf2wn);
  outline: 1px solid var(--itvf2wq);
  outline-offset: -1px;
}
._3lp1xj3 {
  background: transparent;
  outline: none;
  height: var(--_3lp1xj0);
  width: var(--_3lp1xj0);
}
._3lp1xj5 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_3lp1xj1);
  isolation: isolate;
}
._3lp1xj3[data-pressed] ._3lp1xj5, ._3lp1xj3:active ._3lp1xj5 {
  transform: scale(.95);
}
._3lp1xj3:focus-visible ._3lp1xj5 {
  outline: 2px solid var(--itvf2wr);
}
._3lp1xj6 {
  --_3lp1xj0: var(--z0y6z1q);
}
._3lp1xj7 {
  --_3lp1xj0: var(--z0y6z1r);
}
._3lp1xj8 {
  --_3lp1xj0: var(--z0y6z1s);
}
._3lp1xj9 {
  --_3lp1xj1: var(--itvf2w7);
}
._3lp1xja {
  --_3lp1xj1: var(--itvf2wb);
}
._3lp1xjb {
  --_3lp1xj1: var(--itvf2wc);
}
._3lp1xjc {
  background-color: var(--itvf2wk);
  outline: 1px solid var(--itvf2wo);
  outline-offset: -1px;
}
._3lp1xjc:hover, [data-popup-open] > ._3lp1xjc {
  background-color: var(--itvf2wm);
}
._3lp1xjd {
  --_3lp1xj1: var(--itvf2w8);
  background-color: var(--itvf2wf);
}
._3lp1xjd:hover, [data-popup-open] > ._3lp1xjd {
  background-color: var(--itvf2wg);
}
._3lp1xje:hover, [data-popup-open] > ._3lp1xje {
  background-color: var(--itvf2wm);
}
._3lp1xjf {
  margin: calc((var(--z0y6z1j) + 2px) * -1);
}
._3lp1xj5 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._11v8o520 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  ._11v8o521 {
    display: none;
  }
}
._8fglap1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._8fglap2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._8fglap2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._8fglap4 {
  --_8fglap3: 40px;
}
._8fglap5 {
  --_8fglap3: 60px;
}
._8fglap6 {
  --_8fglap3: 80px;
}
._8fglap7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._8fglap8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._8fglap9 {
  overflow: auto;
}
._8fglape {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_8fglapc, 0)),linear-gradient(to right, transparent 0, black var(--_8fglapa, 0)),linear-gradient(to left, transparent 0, black var(--_8fglapb, 0)),linear-gradient(to top, transparent 0, black var(--_8fglapd, 0));
}
._8fglapf {
  --_8fglapa: var(--_8fglap3);
}
._8fglapg {
  --_8fglapb: var(--_8fglap3);
}
._8fglaph {
  --_8fglapc: var(--_8fglap3);
}
._8fglapi {
  --_8fglapd: var(--_8fglap3);
}
.qbw7u00 {
  transition: var(--z0y6z1e);
  transform-origin: 50% 50%;
}
.qbw7u01 {
  transform: rotate(90deg);
}
.qbw7u02 {
  transform: rotate(180deg);
}
.qbw7u03 {
  transform: rotate(270deg);
}
._7ut7gi2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._7ut7gi3 {
  width: 250px;
}
._7ut7gi6 {
  --_7ut7gi4: var(--itvf2wm);
  outline: none;
  cursor: default;
  color: var(--itvf2w7);
  height: 34px;
}
._7ut7gi6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--z0y6z18);
}
._7ut7gi6[data-popup-open]:not([aria-disabled])::before, ._7ut7gi6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_7ut7gi4);
}
._7ut7gi6:focus-visible::before {
  outline: 2px solid var(--itvf2wr);
  outline-offset: -2px;
}
._7ut7gi6[aria-disabled] {
  color: var(--itvf2w9);
  cursor: not-allowed;
}
._7ut7gi8 {
  text-decoration: none;
}
._7ut7gi8[aria-disabled] {
  cursor: not-allowed;
}
._7ut7gi9 {
  --_7ut7gi4: var(--itvf2wi);
  color: var(--itvf2wa);
}
._7ut7gia {
  --_7ut7gi4: transparent;
  color: var(--itvf2wc);
}
._7ut7gia svg {
  color: var(--itvf2wc);
}
._7ut7gic {
  isolation: isolate;
}
._7ut7gig {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._7ut7gii {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--itvf2w7);
  z-index: 1;
}
[aria-checked="true"] ._7ut7gii {
  color: var(--itvf2w8);
}
._7ut7gik {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--itvf2w7);
  isolation: isolate;
}
[aria-checked="true"] ._7ut7gik {
  background-color: var(--itvf2we);
  border-color: var(--itvf2we);
}
._7ut7gin {
  height: 1px;
  background-color: var(--itvf2wo);
}
._7ut7gio {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._7ut7giq {
  background: transparent;
  border: none;
  margin: calc(var(--z0y6z1j) * -1);
}
._7ut7giq:hover, ._7ut7giq[data-highlighted] {
  background-color: var(--itvf2wm);
}
._7ut7giq:focus-visible {
  outline: 2px solid var(--itvf2wr);
  outline-offset: -2px;
}
._1nge6ii2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--z0y6z18);
  color: var(--_1nge6ii0);
  isolation: isolate;
  outline: none;
}
._1nge6ii2[data-pressed], ._1nge6ii2:active {
  transform: scale(.95);
}
._1nge6ii2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--z0y6z1i) * -1);
  background-color: var(--_1nge6ii0);
  border-radius: var(--z0y6z18);
}
._1nge6ii2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1nge6ii2:hover, ._1nge6ii2[data-popup-open]:not(:focus-visible) {
  color: var(--itvf2w8);
}
._1nge6ii2:focus-visible::after {
  outline: 2px solid var(--itvf2wr);
}
._1nge6ii2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1nge6ii3 {
  --_1nge6ii0: var(--itvf2wb);
}
._1nge6ii4 {
  --_1nge6ii0: var(--itvf2wc);
}
._1nge6ii2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1r0felr1 {
  justify-content: safe center;
}
._1r0felr5 {
  flex-shrink: 0;
  width: var(--_1r0felr2);
}
._1r0felr6 {
  transition: color 150ms ease;
}
._1r0felr5:hover ._1r0felr6, ._1r0felr5:focus-within ._1r0felr6, ._1r0felr3 ._1r0felr6 {
  color: var(--itvf2wb);
}
._1r0felr8 {
  outline: 1px solid var(--itvf2wo);
}
._1r0felra {
  transition: opacity 150ms ease;
}
._1r0felr5:not(:hover, :focus-within, ._1r0felr3) ._1r0felra {
  opacity: 1;
}
._1r0felrc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1r0felra:hover ~ ._1r0felr8 ._1r0felrc, ._1r0felra:focus-within ~ ._1r0felr8._1r0felrc {
  outline-color: var(--itvf2wb);
}
._1r0felre {
  transition: opacity 150ms ease;
}
._1r0felr5:not(:hover, :focus-within, ._1r0felr3) ._1r0felre {
  opacity: 0;
}
._11qipe61 {
  color: var(--itvf2w7);
  font-family: var(--z0y6z10);
}
._11qipe62 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._11qipe63 {
  --_17tbwdk0: 24px;
  --_17tbwdk1: 30px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._11qipe64 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1x3duqs1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1x3duqs0);
}
._1x3duqs2 {
  --_1x3duqs0: var(--z0y6z1g);
}
._1x3duqs3 {
  --_1x3duqs0: var(--z0y6z1h);
}
._1x3duqs4 {
  --_1x3duqs0: var(--z0y6z1i);
}
._1x3duqs5 {
  --_1x3duqs0: var(--z0y6z1j);
}
._1x3duqs6 {
  --_1x3duqs0: var(--z0y6z1k);
}
._1x3duqs7 {
  --_1x3duqs0: var(--z0y6z1l);
}
._1x3duqs8 {
  --_1x3duqs0: var(--z0y6z1m);
}
._1x3duqs9 {
  --_1x3duqs0: var(--z0y6z1n);
}
._1x3duqsa {
  --_1x3duqs0: var(--z0y6z1o);
}
._1x3duqsb {
  --_1x3duqs0: var(--z0y6z1p);
}
._1qosiis1 {
  background-color: black;
  opacity: 0.2;
}
html[data-playroom-dark] ._1qosiis1 {
  opacity: 0.7;
}
._1qosiis1[data-starting-style], ._1qosiis1[data-ending-style] {
  opacity: 0;
}
._1qosiis3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-width: calc(100dvw - (var(--z0y6z1k) * 2));
  max-height: calc(100dvh - (var(--z0y6z1k) * 2));
}
._1qosiis3[data-starting-style], ._1qosiis3[data-ending-style] {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
}
._1qosiis7:focus-visible {
  outline: 2px solid var(--itvf2wr);
  outline-offset: 2px;
}
.ocoumt3 {
  --ocoumt1: 1;
  display: grid;
  grid-template-columns: repeat(var(--ocoumt1), 1fr);
}
.ocoumt5 {
  aspect-ratio: 5/4;
  list-style: none;
}
.ocoumt7 {
  height: calc(100% / var(--ocoumt0));
  width: calc(100% / var(--ocoumt0));
  border-radius: calc(var(--z0y6z19) / var(--ocoumt0));
  transform: scale(var(--ocoumt0));
  transform-origin: 0 0;
  padding: calc(1px / var(--ocoumt0));
}
.ocoumt9 {
  background: var(--itvf2wm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ocoumtb {
  background: transparent;
  outline: 1px solid var(--itvf2wo);
}
.ocoumtb:hover {
  outline: 2px solid var(--itvf2wp);
}
.ocoumtb:focus-visible {
  outline: 2px solid var(--itvf2wr);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .ocoumt3 {
    --ocoumt1: 2;
  }
}
@media screen and (min-width: 800px) {
  .ocoumt3 {
    --ocoumt1: 3;
  }
}
@media screen and (min-width: 1200px) {
  .ocoumt3 {
    --ocoumt1: 4;
  }
}
@media screen and (min-width: 1600px) {
  .ocoumt3 {
    --ocoumt1: 5;
  }
}
._1840ezb2 {
  outline: none;
  height: var(--z0y6z1r);
  color: var(--itvf2w7);
  background: transparent;
}
._1840ezb2::placeholder {
  color: var(--itvf2w9);
  font-weight: normal;
}
._1840ezb2:hover:not(:focus-visible) {
  background: var(--itvf2wm);
  opacity: 1;
  color: transparent;
}
._1840ezb2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1840ezb2:focus-visible {
  outline: 2px solid var(--itvf2wr);
  opacity: 1;
}
._1840ezb2:focus-visible::placeholder {
  color: transparent;
}
._1840ezb4 {
  max-width: 50vw;
  min-width: 240px;
}
._1840ezb2:focus-visible ~ ._1840ezb4 {
  opacity: 0;
}
._1840ezb5 {
  white-space: pre;
}
._1oe5bdo1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--itvf2wk);
}
._1oe5bdo2 {
  width: fit-content;
}
._1oe5bdo4 {
  width: fit-content;
  justify-self: flex-end;
}
._1oe5bdo6 {
  background: transparent;
  color: var(--itvf2wf);
  isolation: isolate;
}
._1oe5bdo6::after {
  content: "";
  position: absolute;
  transition: var(--z0y6z1f);
  z-index: -1;
  inset: calc(var(--z0y6z1j) * -1);
  background-color: var(--itvf2wm);
  border-radius: var(--z0y6z19);
}
._1oe5bdo6:focus-visible {
  outline: 2px solid var(--itvf2wr);
  outline-offset: 6px;
}
._1oe5bdo6:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1oe5bdo8 {
  margin: calc(var(--z0y6z1k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1oe5bdoc {
  appearance: none;
  outline: none;
  background: var(--itvf2wk);
  color: var(--itvf2w7);
  border: 1px solid var(--itvf2wo);
  height: var(--z0y6z1r);
}
._1oe5bdoc:hover, ._1oe5bdoc[data-popup-open] {
  background-color: var(--itvf2wm);
}
._1oe5bdoc:focus-visible {
  outline: 2px solid var(--itvf2wr);
  z-index: 1;
}
._1oe5bdoe {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1oe5bdog {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1oe5bdoi {
  color: var(--itvf2wc);
}
@media screen and (max-width: 767px) {
  ._1oe5bdo4 {
    display: none;
  }
}
.tlosax2 {
  border: 1px solid var(--itvf2wo);
  border-radius: var(--z0y6z19);
}
.tlosax4 {
  border-bottom: 1px solid var(--itvf2wo);
  gap: 12px;
}
.tlosax7 {
  border-top: 1px solid var(--itvf2wo);
  gap: 12px;
}
.tlosaxb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .tlosax5 {
    display: none;
  }
}
