.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._931lyp5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1jv1uwlj);
  -webkit-tap-highlight-color: transparent;
}
._931lyp5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1jv1uwll);
  opacity: 0;
  transition: var(--_1igl27bf);
  pointer-events: none;
}
._931lyp5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_1igl27bf);
}
._931lyp5._931lyp0 {
  color: var(--_1jv1uwld);
}
._931lyp5:not(._931lyp1) {
  cursor: pointer;
}
._931lyp5._931lyp1 {
  color: var(--_1jv1uwl7);
}
._931lyp5._931lyp2,._931lyp5._931lyp3:not(._931lyp0):not(._931lyp1),html:not([data-playroom-dark]) ._931lyp5:hover:not(._931lyp0):not(._931lyp1) {
  color: var(--_1jv1uwlc);
}
._931lyp5:not(._931lyp0):not(:hover):focus::before {
  color: var(--_1jv1uwl8);
}
._931lyp5:not(._931lyp0):not(._931lyp1):focus::before,._931lyp5:not(._931lyp0):not(._931lyp1):hover::before {
  opacity: 1;
}
._931lyp5:not(._931lyp3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._931lyp8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1jv1uwlf);
  border: 2px solid var(--_1jv1uwlj);
}
._931lyp8:not(._931lyp6) {
  transform: scale(0);
  opacity: 0;
}
._931lypa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1jv1uwld);
  border: 2px solid var(--_1jv1uwlj);
}
._931lypa:not(._931lyp6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._931lypa svg {
  color: var(--_1jv1uwl9);
}
@keyframes bpqggu1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bpqggu0 {
  background-color: var(--_1jv1uwll);
}
.bpqggu3 {
  background-color: var(--_1jv1uwlh);
  color: var(--_1jv1uwlb);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: bpqggu1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.bpqggu3:hover {
  cursor: help;
}
.bpqggu4 {
  width: 1em;
  padding: 0 8px;
}
.bpqggu6::after {
  content: "-";
}
.bpqggu8::after {
  content: "+";
  color: var(--_1jv1uwlc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1jv1uwlj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1igl27b1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_1igl27bd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1jv1uwlo);
  border-radius: var(--_1igl27ba);
  background-color: var(--_1jv1uwlj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_1igl27b1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1jv1uwli);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_1igl27b9);
  white-space: pre;
  color: var(--_1jv1uwl0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1jv1uwlf);
  color: var(--_1jv1uwl9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1jv1uwlc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_1igl27b8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1jv1uwlj);
  color: var(--_1jv1uwl0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1jv1uwl8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1jv1uwlj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1jv1uwlj);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1jv1uwlj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1jv1uwll);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1jv1uwl8);
  transition: var(--_1igl27bh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.bpqggu8) {
  color: var(--_1jv1uwl7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1jv1uwl8);
  transition: var(--_1igl27bh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1jv1uwl7);
}
.cm-s-neo .cm-tag {
  color: var(--_1jv1uwl1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1jv1uwl2);
}
.cm-s-neo .cm-string {
  color: var(--_1jv1uwl3);
}
.cm-s-neo .cm-atom {
  color: var(--_1jv1uwl4);
}
.cm-s-neo .cm-variable {
  color: var(--_1jv1uwl5);
}
.cm-s-neo .cm-number {
  color: var(--_1jv1uwl6);
}
.CodeMirror-dialog {
  padding-left: var(--_1igl27bo);
  padding-right: var(--_1igl27bo);
  min-height: 60px;
  border-bottom: 1px solid var(--_1jv1uwln);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--bpqggu9));
  transition: var(--_1igl27bh);
}
.dialog-opened .CodeMirror-scroll {
  --bpqggu9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--bpqggu9);
}
.CodeMirror-dialog input {
  font: var(--_1igl27b5);
  font-family: var(--_1igl27b1);
  height: var(--_1igl27be);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_1igl27be);
  font: var(--_1igl27b5);
  font-family: var(--_1igl27b1);
}
.CodeMirror-search-field {
  padding-left: var(--_1igl27bo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1jv1uwlm);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1jv1uwll);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_1igl27bo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_1igl27b4);
  font-family: var(--_1igl27b0);
  margin-left: var(--_1igl27bl);
  padding-top: var(--_1igl27bl);
  padding-bottom: var(--_1igl27bl);
  padding-left: var(--_1igl27bn);
  padding-right: var(--_1igl27bn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_1igl27bb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1jv1uwlc);
  box-shadow: var(--_1jv1uwlp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1jv1uwll);
}
.CodeMirror-dialog button:hover {
  background: var(--_1jv1uwle);
}
._1eulfku1 {
  color: var(--_1jv1uwl8);
}
._1eulfku2 {
  color: var(--_1jv1uwlb);
}
._1eulfku3 {
  color: var(--_1jv1uwla);
}
._1eulfkua {
  text-overflow: ellipsis;
}
._28xmm21 {
  justify-content: safe center;
}
._28xmm24 {
  flex-shrink: 0;
  width: var(--_28xmm22);
}
._28xmm24:not(:hover) ._28xmm27 {
  opacity: 0.8;
}
._28xmm29 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._28xmm24:not(:hover) ._28xmm29 {
  opacity: 0.3;
}
._1igekb15 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_1igl27b8) * 5);
  height: calc(var(--_1igl27b8) * 8);
  max-width: calc((100vw - 60px) - (var(--_1igl27bd) * 2));
}
._1igekb15._1igekb10 {
  padding-right: calc((15px * 2) + 16px);
}
._1igekb15:not(._1igekb11) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1igekb15._1igekb12 {
  background-color: var(--_1jv1uwlg);
}
._1igekb15._1igekb13 {
  background-color: var(--_1jv1uwlh);
}
._1igekb17 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1igekb17:not(:hover) {
  opacity: 0.4;
}
._84v70m1 {
  color: var(--_1jv1uwl8);
  font-family: var(--_1igl27b0);
}
._84v70m2 {
  font-size: 36px;
}
._84v70m3 {
  font-size: 24px;
}
._84v70m4 {
  font-size: 16px;
}
.wpcyql2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--wpcyql0);
  align-items: var(--wpcyql1);
}
.wpcyql3 {
  --wpcyql0: var(--_1igl27bi);
}
.wpcyql4 {
  --wpcyql0: var(--_1igl27bj);
}
.wpcyql5 {
  --wpcyql0: var(--_1igl27bk);
}
.wpcyql6 {
  --wpcyql0: var(--_1igl27bl);
}
.wpcyql7 {
  --wpcyql0: var(--_1igl27bm);
}
.wpcyql8 {
  --wpcyql0: var(--_1igl27bn);
}
.wpcyql9 {
  --wpcyql0: var(--_1igl27bo);
}
.wpcyqla {
  --wpcyql0: var(--_1igl27bp);
}
.wpcyqlb {
  --wpcyql0: var(--_1igl27bq);
}
.wpcyqlc {
  --wpcyql0: var(--_1igl27br);
}
.wpcyqld {
  align-items: flex-start;
}
.wpcyqle {
  align-items: center;
}
.wpcyqlf {
  align-items: flex-end;
}
._4h0z2j1 {
  display: flex;
  flex-direction: column;
  gap: var(--_4h0z2j0);
}
._4h0z2j2 {
  --_4h0z2j0: var(--_1igl27bi);
}
._4h0z2j3 {
  --_4h0z2j0: var(--_1igl27bj);
}
._4h0z2j4 {
  --_4h0z2j0: var(--_1igl27bk);
}
._4h0z2j5 {
  --_4h0z2j0: var(--_1igl27bl);
}
._4h0z2j6 {
  --_4h0z2j0: var(--_1igl27bm);
}
._4h0z2j7 {
  --_4h0z2j0: var(--_1igl27bn);
}
._4h0z2j8 {
  --_4h0z2j0: var(--_1igl27bo);
}
._4h0z2j9 {
  --_4h0z2j0: var(--_1igl27bp);
}
._4h0z2ja {
  --_4h0z2j0: var(--_1igl27bq);
}
._4h0z2jb {
  --_4h0z2j0: var(--_1igl27br);
}
._12gkayh1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_1igl27bl) * -1);
}
._12gkayh1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1igl27bb);
  box-shadow: var(--_1jv1uwlp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_1igl27bg);
}
._12gkayh1:focus::before, ._12gkayh1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._12gkayh4 {
  height: 20px;
  width: 20px;
}
._12gkayh6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_1igl27bj) * 2));
  width: calc(20px - (var(--_1igl27bj) * 2));
}
._12gkayh6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1igl27ba);
  box-shadow: var(--_1jv1uwlp);
  transition: var(--_1igl27bg);
  opacity: 0;
  transform: scale(0.5);
}
._12gkayh6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1igl27ba);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1jv1uwlj);
}
._12gkayh4:hover:not(:focus) ~ ._12gkayh6::before, ._12gkayh4:focus ~ ._12gkayh6::before {
  opacity: 1;
  transform: scale(1);
}
._12gkayh6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_1igl27bh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._12gkayh4:checked ~ ._12gkayh6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_1igl27bh);
}
._12gkayh8 {
  color: var(--_1jv1uwl8);
  height: var(--_1igl27be);
  background: var(--_1jv1uwlj);
  border: 1px solid var(--_1jv1uwln);
}
._12gkayh8::placeholder {
  color: var(--_1jv1uwl7);
}
._1bm169k1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_1igl27be);
  -webkit-tap-highlight-color: transparent;
}
._1bm169k4 {
  --_1bm169k2: currentColor;
  color: var(--_1bm169k2);
  border: 1px solid var(--_1jv1uwl7);
  height: calc(var(--_1igl27b8) * 9);
}
._1bm169k4:hover {
  --_1bm169k2: var(--_1jv1uwlc);
  border-color: var(--_1bm169k2);
}
._1bm169k4:active {
  transform: scale(0.98);
}
._1bm169k4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_1igl27be);
  min-width: var(--_1igl27be);
  left: calc((var(--_1igl27b8) * 2) * -1);
  right: calc((var(--_1igl27b8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1bm169k4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1jv1uwlp);
}
._1bm169k5 {
  --_1bm169k2: var(--_1jv1uwld) !important;
  border-color: var(--_1bm169k2);
}
._1bm169k7 {
  top: 1px;
}
._1641h460 {
  transition: var(--_1igl27bg);
  transform-origin: 50% 50%;
}
._1641h461 {
  transform: rotate(90deg);
}
._1641h462 {
  transform: rotate(180deg);
}
._1641h463 {
  transform: rotate(270deg);
}
.ygqz1b4 {
  min-width: 0;
}
.ygqz1b5 {
  flex-shrink: 0;
}
.ygqz1b9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.ygqz1b7:focus:not(:hover) ~ .ygqz1b9 {
  opacity: 1;
}
.ixc0vn2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ixc0vn4 {
  display: inline-block;
  background: var(--_1jv1uwli);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
.ixc0vn6 {
  height: var(--_1igl27be);
  width: var(--_1igl27be);
}
.ixc0vn8 {
  height: var(--_1igl27be);
  width: var(--_1igl27be);
}
.ixc0vn8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1jv1uwll);
  border-radius: var(--_1igl27bb);
  transition: var(--_1igl27bg);
  opacity: 0;
  transform: scale(0.8);
}
.ixc0vn6:checked ~ .ixc0vn8,html:not([data-playroom-dark]) .ixc0vn6:hover ~ .ixc0vn8 {
  color: var(--_1jv1uwlc);
}
.ixc0vn6:focus ~ .ixc0vn8::before, .ixc0vn6:hover ~ .ixc0vn8::before {
  opacity: 1;
  transform: scale(1);
}
._15jcxsy1 {
  color: var(--_1jv1uwl8);
  height: var(--_1igl27be);
  background: var(--_1jv1uwlj);
}
._15jcxsy1:focus {
  outline: none;
}
._15jcxsy1::placeholder {
  color: var(--_1jv1uwl7);
}
._1ko7xxb2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1jv1uwln);
}
._1ko7xxb4 {
  list-style: none;
  top: 60px;
}
._1ko7xxb4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--_1igl27bl);
  z-index: 1;
}
._1ko7xxb4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--_1igl27bl);
  z-index: 1;
}
._1ko7xxb6 {
  scroll-margin-block: var(--_1igl27bl);
  color: var(--_1jv1uwl8);
  background-color: var(--_1jv1uwlj);
}
._1ko7xxb6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1jv1uwll);
  border-radius: var(--_1igl27ba);
  opacity: 0;
  pointer-events: none;
}
._1ko7xxb8 {
  color: var(--_1jv1uwla);
}
._1ko7xxb9 {
  color: var(--_1jv1uwlc);
}
._1ko7xxb9::before {
  opacity: 1;
}
.bj8uid2 {
  color: var(--_1jv1uwl8);
  min-width: calc(60px + 1px);
}
.bj8uid2.bj8uid0 {
  width: 100vw;
}
.bj8uid6 {
  width: 60px;
  background-color: var(--_1jv1uwlj);
  border-left: 1px solid var(--_1jv1uwln);
}
.bj8uid8 {
  width: 320px;
  background-color: var(--_1jv1uwlj);
  border-left: 1px solid var(--_1jv1uwln);
}
.bj8uid9 {
  opacity: 0;
  transform: translateX(30%);
}
.bj8uidb {
  opacity: 1;
  transform: translateX(0);
}
.bj8uidc {
  opacity: 1;
  transform: translateX(0);
}
.bj8uidd {
  opacity: 1;
}
.bj8uidf {
  opacity: 0;
  transform: translateX(30%);
}
.bj8uidg {
  opacity: 0;
  transform: translateX(30%);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1jv1uwlk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._1f8x8un0 {
  flex-direction: row;
}
._1f8x8un1 {
  flex-direction: column;
}
._1f8x8un3 {
  min-width: 0;
  min-height: 0;
}
._1f8x8un7 {
  width: clamp(460px, var(--_1f8x8un4), 90vw) !important;
}
._1f8x8un8 {
  height: clamp(300px, var(--_1f8x8un4), 80vh) !important;
}
._1f8x8un9 {
  min-width: 460px;
  max-width: 90vw;
}
._1f8x8una {
  min-height: 300px;
  max-height: 80vh;
}
._1f8x8unb {
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
._1f8x8une._1f8x8unc {
  width: 60px;
}
._1f8x8ung {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_1igl27be);
  height: var(--_1igl27be);
}
._1f8x8ung::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_1igl27bb);
  transition: var(--_1igl27bf);
}
._1f8x8ung:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1f8x8ung:hover::before, ._1f8x8ung:focus::before {
  opacity: 0.05;
}
._1f8x8uni {
  right: 60px;
}
