@keyframes _1vfypez4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1vfypez1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1jv1uwl9);
}
._1vfypez3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1vfypez4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1vfypez5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._4h0z2j1 {
  display: flex;
  flex-direction: column;
  gap: var(--_4h0z2j0);
}
._4h0z2j2 {
  --_4h0z2j0: var(--_1igl27bi);
}
._4h0z2j3 {
  --_4h0z2j0: var(--_1igl27bj);
}
._4h0z2j4 {
  --_4h0z2j0: var(--_1igl27bk);
}
._4h0z2j5 {
  --_4h0z2j0: var(--_1igl27bl);
}
._4h0z2j6 {
  --_4h0z2j0: var(--_1igl27bm);
}
._4h0z2j7 {
  --_4h0z2j0: var(--_1igl27bn);
}
._4h0z2j8 {
  --_4h0z2j0: var(--_1igl27bo);
}
._4h0z2j9 {
  --_4h0z2j0: var(--_1igl27bp);
}
._4h0z2ja {
  --_4h0z2j0: var(--_1igl27bq);
}
._4h0z2jb {
  --_4h0z2j0: var(--_1igl27br);
}
