.hvo9a71 {
  background-color: var(--w44nfil);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--w44nfio);
}
.hvo9a72::before {
  content: "";
  position: absolute;
  min-height: var(--_8edguqc);
  min-width: var(--_8edguqc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.lnf4ew2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.lnf4ew4 {
  border: 1px solid var(--w44nfio);
  background-color: var(--w44nfik);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.lnf4ew4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--w44nfim);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
.lnf4ew4:hover::after {
  opacity: 1;
}
.lnf4ew4:focus-visible::after {
  opacity: 1;
}
.lnf4ew4:active {
  transform: scale(0.97);
}
.lnf4ew4:focus-visible {
  outline: 2px solid var(--w44nfir);
  outline-offset: 0;
}
.lnf4ew6 {
  height: var(--lnf4ew0);
}
.lnf4ew8 {
  border-color: var(--w44nfic);
}
.lnf4ew8::after {
  background-color: var(--w44nfih);
}
.lnf4ew9 {
  border-color: var(--w44nfia);
}
.lnf4ew9::after {
  background-color: var(--w44nfii);
}
.lnf4ewa {
  --lnf4ew0: var(--_8edguqq);
}
.lnf4ewb {
  --lnf4ew0: var(--_8edguqr);
}
.lnf4ewc {
  --lnf4ew0: var(--_8edguqs);
}
._17dywg1 {
  --w44nfi7: var(--w44nfid);
  background-color: var(--w44nfin);
  outline: 1px solid var(--w44nfiq);
  outline-offset: -1px;
}
.a32x913 {
  background: transparent;
  outline: none;
  height: var(--a32x910);
  width: var(--a32x910);
}
.a32x915 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--a32x911);
  isolation: isolate;
}
.a32x913[data-pressed] .a32x915, .a32x913:active .a32x915 {
  transform: scale(.95);
}
.a32x913:focus-visible .a32x915 {
  outline: 2px solid var(--w44nfir);
}
.a32x916 {
  --a32x910: var(--_8edguqq);
}
.a32x917 {
  --a32x910: var(--_8edguqr);
}
.a32x918 {
  --a32x910: var(--_8edguqs);
}
.a32x919 {
  --a32x911: var(--w44nfi7);
}
.a32x91a {
  --a32x911: var(--w44nfib);
}
.a32x91b {
  --a32x911: var(--w44nfic);
}
.a32x91c {
  background-color: var(--w44nfik);
  outline: 1px solid var(--w44nfio);
  outline-offset: -1px;
}
.a32x91c:hover, [data-popup-open] > .a32x91c {
  background-color: var(--w44nfim);
}
.a32x91d {
  --a32x911: var(--w44nfi8);
  background-color: var(--w44nfif);
}
.a32x91d:hover, [data-popup-open] > .a32x91d {
  background-color: var(--w44nfig);
}
.a32x91e:hover, [data-popup-open] > .a32x91e {
  background-color: var(--w44nfim);
}
.a32x91f {
  margin: calc((var(--_8edguqj) + 2px) * -1);
}
.a32x915 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1pchosv0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  ._1pchosv1 {
    display: none;
  }
}
.tqor4a1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.tqor4a2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tqor4a2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tqor4a4 {
  --tqor4a3: 40px;
}
.tqor4a5 {
  --tqor4a3: 60px;
}
.tqor4a6 {
  --tqor4a3: 80px;
}
.tqor4a7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.tqor4a8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.tqor4a9 {
  overflow: auto;
}
.tqor4ae {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--tqor4ac, 0)),linear-gradient(to right, transparent 0, black var(--tqor4aa, 0)),linear-gradient(to left, transparent 0, black var(--tqor4ab, 0)),linear-gradient(to top, transparent 0, black var(--tqor4ad, 0));
}
.tqor4af {
  --tqor4aa: var(--tqor4a3);
}
.tqor4ag {
  --tqor4ab: var(--tqor4a3);
}
.tqor4ah {
  --tqor4ac: var(--tqor4a3);
}
.tqor4ai {
  --tqor4ad: var(--tqor4a3);
}
._1uyin80 {
  transition: var(--_8edguqe);
  transform-origin: 50% 50%;
}
._1uyin81 {
  transform: rotate(90deg);
}
._1uyin82 {
  transform: rotate(180deg);
}
._1uyin83 {
  transform: rotate(270deg);
}
._17r63pg2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._17r63pg3 {
  width: 250px;
}
._17r63pg6 {
  --_17r63pg4: var(--w44nfim);
  outline: none;
  cursor: default;
  color: var(--w44nfi7);
  height: 34px;
}
._17r63pg6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_8edguq8);
}
._17r63pg6[data-popup-open]:not([aria-disabled])::before, ._17r63pg6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_17r63pg4);
}
._17r63pg6:focus-visible::before {
  outline: 2px solid var(--w44nfir);
  outline-offset: -2px;
}
._17r63pg6[aria-disabled] {
  color: var(--w44nfi9);
  cursor: not-allowed;
}
._17r63pg8 {
  text-decoration: none;
}
._17r63pg8[aria-disabled] {
  cursor: not-allowed;
}
._17r63pg9 {
  --_17r63pg4: var(--w44nfii);
  color: var(--w44nfia);
}
._17r63pga {
  --_17r63pg4: transparent;
  color: var(--w44nfic);
}
._17r63pga svg {
  color: var(--w44nfic);
}
._17r63pgc {
  isolation: isolate;
}
._17r63pgg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._17r63pgi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--w44nfi7);
  z-index: 1;
}
[aria-checked="true"] ._17r63pgi {
  color: var(--w44nfi8);
}
._17r63pgk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--w44nfi7);
  isolation: isolate;
}
[aria-checked="true"] ._17r63pgk {
  background-color: var(--w44nfie);
  border-color: var(--w44nfie);
}
._17r63pgn {
  height: 1px;
  background-color: var(--w44nfio);
}
._17r63pgo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._17r63pgq {
  background: transparent;
  border: none;
  margin: calc(var(--_8edguqj) * -1);
}
._17r63pgq:hover, ._17r63pgq[data-highlighted] {
  background-color: var(--w44nfim);
}
._17r63pgq:focus-visible {
  outline: 2px solid var(--w44nfir);
  outline-offset: -2px;
}
._15k70c42 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_8edguq8);
  color: var(--_15k70c40);
  isolation: isolate;
  outline: none;
}
._15k70c42[data-pressed], ._15k70c42:active {
  transform: scale(.95);
}
._15k70c42::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_8edguqi) * -1);
  background-color: var(--_15k70c40);
  border-radius: var(--_8edguq8);
}
._15k70c42:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._15k70c42:hover, ._15k70c42[data-popup-open]:not(:focus-visible) {
  color: var(--w44nfi8);
}
._15k70c42:focus-visible::after {
  outline: 2px solid var(--w44nfir);
}
._15k70c42:focus-visible:not(:hover)::after {
  background: transparent;
}
._15k70c43 {
  --_15k70c40: var(--w44nfib);
}
._15k70c44 {
  --_15k70c40: var(--w44nfic);
}
._15k70c42 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._11ztdh31 {
  justify-content: safe center;
}
._11ztdh35 {
  flex-shrink: 0;
  width: var(--_11ztdh32);
}
._11ztdh36 {
  transition: color 150ms ease;
}
._11ztdh35:hover ._11ztdh36, ._11ztdh35:focus-within ._11ztdh36, ._11ztdh33 ._11ztdh36 {
  color: var(--w44nfib);
}
._11ztdh38 {
  border: 1px solid var(--w44nfio);
}
._11ztdh3a {
  transition: opacity 150ms ease;
}
._11ztdh35:not(:hover, :focus-within, ._11ztdh33) ._11ztdh3a {
  opacity: 1;
}
._11ztdh3c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._11ztdh3a:hover ~ ._11ztdh38 ._11ztdh3c, ._11ztdh3a:focus-within ~ ._11ztdh38._11ztdh3c {
  outline-color: var(--w44nfib);
}
._11ztdh3e {
  transition: opacity 150ms ease;
}
._11ztdh35:not(:hover, :focus-within, ._11ztdh33) ._11ztdh3e {
  opacity: 0;
}
._12fhgm01 {
  color: var(--w44nfi7);
  font-family: var(--_8edguq0);
}
._12fhgm02 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._12fhgm03 {
  --_17tbwdk0: 24px;
  --_17tbwdk1: 30px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._12fhgm04 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._142u5lf1 {
  display: flex;
  flex-direction: column;
  gap: var(--_142u5lf0);
}
._142u5lf2 {
  --_142u5lf0: var(--_8edguqg);
}
._142u5lf3 {
  --_142u5lf0: var(--_8edguqh);
}
._142u5lf4 {
  --_142u5lf0: var(--_8edguqi);
}
._142u5lf5 {
  --_142u5lf0: var(--_8edguqj);
}
._142u5lf6 {
  --_142u5lf0: var(--_8edguqk);
}
._142u5lf7 {
  --_142u5lf0: var(--_8edguql);
}
._142u5lf8 {
  --_142u5lf0: var(--_8edguqm);
}
._142u5lf9 {
  --_142u5lf0: var(--_8edguqn);
}
._142u5lfa {
  --_142u5lf0: var(--_8edguqo);
}
._142u5lfb {
  --_142u5lf0: var(--_8edguqp);
}
.veqvi21 {
  background-color: black;
  opacity: 0.2;
}
html[data-playroom-dark] .veqvi21 {
  opacity: 0.7;
}
.veqvi21[data-starting-style], .veqvi21[data-ending-style] {
  opacity: 0;
}
.veqvi23 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-width: calc(100dvw - (var(--_8edguqk) * 2));
  max-height: calc(100dvh - (var(--_8edguqk) * 2));
}
.veqvi23[data-starting-style], .veqvi23[data-ending-style] {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
}
.veqvi27:focus-visible {
  outline: 2px solid var(--w44nfir);
  outline-offset: 2px;
}
._1rfy3183 {
  --_1rfy3181: 1;
  display: grid;
  grid-template-columns: repeat(var(--_1rfy3181), 1fr);
}
._1rfy3185 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1rfy3187 {
  height: calc(100% / var(--_1rfy3180));
  width: calc(100% / var(--_1rfy3180));
  border-radius: calc(var(--_8edguq9) / var(--_1rfy3180));
  transform: scale(var(--_1rfy3180));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1rfy3180));
}
._1rfy3189 {
  background: var(--w44nfim);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1rfy318b {
  background: transparent;
  outline: 1px solid var(--w44nfio);
}
._1rfy318b:hover {
  outline: 2px solid var(--w44nfip);
}
._1rfy318b:focus-visible {
  outline: 2px solid var(--w44nfir);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1rfy3183 {
    --_1rfy3181: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1rfy3183 {
    --_1rfy3181: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1rfy3183 {
    --_1rfy3181: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1rfy3183 {
    --_1rfy3181: 5;
  }
}
.pv4vwr2 {
  outline: none;
  height: var(--_8edguqr);
  color: var(--w44nfi7);
  background: transparent;
}
.pv4vwr2::placeholder {
  color: var(--w44nfi9);
  font-weight: normal;
}
.pv4vwr2:hover:not(:focus-visible) {
  background: var(--w44nfim);
  opacity: 1;
  color: transparent;
}
.pv4vwr2:focus-visible {
  outline: 2px solid var(--w44nfir);
  opacity: 1;
}
.pv4vwr2:focus-visible::placeholder {
  color: transparent;
}
.pv4vwr4 {
  max-width: 50vw;
  min-width: 240px;
}
.pv4vwr2:focus-visible ~ .pv4vwr4 {
  opacity: 0;
}
.pv4vwr5 {
  white-space: pre;
}
._1xv43bu1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--w44nfik);
}
._1xv43bu2 {
  width: fit-content;
}
._1xv43bu4 {
  width: fit-content;
  justify-self: flex-end;
}
._1xv43bu6 {
  background: transparent;
  color: var(--w44nfif);
  isolation: isolate;
}
._1xv43bu6::after {
  content: "";
  position: absolute;
  transition: var(--_8edguqf);
  z-index: -1;
  inset: calc(var(--_8edguqj) * -1);
  background-color: var(--w44nfim);
  border-radius: var(--_8edguq9);
}
._1xv43bu6:focus-visible {
  outline: 2px solid var(--w44nfir);
  outline-offset: 6px;
}
._1xv43bu6:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1xv43bu8 {
  margin: calc(var(--_8edguqk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1xv43buc {
  appearance: none;
  outline: none;
  background: var(--w44nfik);
  color: var(--w44nfi7);
  border: 1px solid var(--w44nfio);
  height: var(--_8edguqr);
}
._1xv43buc:hover, ._1xv43buc[data-popup-open] {
  background-color: var(--w44nfim);
}
._1xv43buc:focus-visible {
  outline: 2px solid var(--w44nfir);
  z-index: 1;
}
._1xv43bue {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1xv43bug {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1xv43bui {
  color: var(--w44nfic);
}
@media screen and (max-width: 767px) {
  ._1xv43bu4 {
    display: none;
  }
}
.qv82fk2 {
  border: 1px solid var(--w44nfio);
  border-radius: var(--_8edguq9);
}
.qv82fk4 {
  border-bottom: 1px solid var(--w44nfio);
  gap: 12px;
}
.qv82fk7 {
  border-top: 1px solid var(--w44nfio);
  gap: 12px;
}
.qv82fkb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .qv82fk5 {
    display: none;
  }
}
