._1c00t1s1 {
  background-color: var(--_12hegh6m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_12hegh6r);
}
._1c00t1s2::before {
  content: "";
  position: absolute;
  min-height: var(--_1a22njtc);
  min-width: var(--_1a22njtc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._107dhaz2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._107dhaz4 {
  border: 1px solid var(--_12hegh6r);
  background-color: var(--_12hegh6l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._107dhaz4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_12hegh6n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._107dhaz4:hover::after {
  opacity: 1;
}
._107dhaz4:focus-visible::after {
  opacity: 1;
}
._107dhaz4:active:not([disabled]) {
  transform: scale(0.97);
}
._107dhaz4:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 0;
}
._107dhaz6 {
  isolation: isolate;
}
._107dhaz8 {
  height: var(--_107dhaz0);
}
._107dhaza {
  border-color: var(--_12hegh6c);
}
._107dhaza::after {
  background-color: var(--_12hegh6i);
}
._107dhazb {
  border-color: var(--_12hegh6a);
}
._107dhazb::after {
  background-color: var(--_12hegh6j);
}
._107dhazc {
  --_107dhaz0: var(--_1a22njtq);
}
._107dhazd {
  --_107dhaz0: var(--_1a22njtr);
}
._107dhaze {
  --_107dhaz0: var(--_1a22njts);
}
._1q3hdfi1 {
  --_12hegh67: var(--_12hegh6d);
  background-color: var(--_12hegh6o);
  outline: 1px solid var(--_12hegh6t);
  outline-offset: -1px;
}
.azv3wm3 {
  background: transparent;
  outline: none;
  height: var(--azv3wm0) !important;
  width: var(--azv3wm0) !important;
}
.azv3wm6 {
  padding: var(--azv3wm4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.azv3wm3:active .azv3wm6 {
  transform: scale(.95);
}
.azv3wm3:focus-visible .azv3wm6 {
  outline: 2px solid var(--_12hegh6u);
}
.azv3wm3[aria-disabled="true"] .azv3wm6 {
  --azv3wm1: var(--_12hegh69);
}
.azv3wm7 {
  --azv3wm0: var(--_1a22njtq);
  --azv3wm4: var(--_1a22njti);
}
.azv3wm8 {
  --azv3wm0: var(--_1a22njtr);
  --azv3wm4: var(--_1a22njtj);
}
.azv3wm9 {
  --azv3wm0: var(--_1a22njts);
  --azv3wm4: var(--_1a22njtj);
}
.azv3wmj {
  --azv3wma: var(--_12hegh67);
  --azv3wmb: var(--_12hegh6l);
  --azv3wmc: var(--_12hegh6n);
  --azv3wmd: var(--_12hegh68);
  --azv3wme: var(--_12hegh6g);
  --azv3wmf: var(--_12hegh6h);
  --azv3wmg: var(--_12hegh67);
  --azv3wmh: var(--_12hegh67);
  --azv3wmi: var(--_12hegh6n);
}
.azv3wmk {
  --azv3wma: var(--_12hegh6b);
  --azv3wmb: var(--_12hegh6l);
  --azv3wmc: var(--_12hegh6n);
  --azv3wmd: var(--_12hegh68);
  --azv3wme: var(--_12hegh6b);
  --azv3wmf: var(--_12hegh6f);
  --azv3wmg: var(--_12hegh6b);
  --azv3wmh: var(--_12hegh68);
  --azv3wmi: var(--_12hegh6e);
}
.azv3wml {
  color: var(--azv3wma);
  background-color: var(--azv3wmb);
  outline: 1px solid var(--_12hegh6r);
  outline-offset: -1px;
}
.azv3wm3:not([aria-disabled="true"]):hover > .azv3wml, .azv3wm3:not([aria-disabled="true"]):focus-visible > .azv3wml, .azv3wm3:not([aria-disabled="true"])[data-popup-open] > .azv3wml {
  background-color: var(--azv3wmc);
}
.azv3wmm {
  color: var(--azv3wmd);
  background-color: var(--azv3wme);
}
.azv3wm3:not([aria-disabled="true"]):hover > .azv3wmm, .azv3wm3:not([aria-disabled="true"]):focus-visible > .azv3wmm, .azv3wm3:not([aria-disabled="true"])[data-popup-open] > .azv3wmm {
  background-color: var(--azv3wmf);
}
.azv3wmn {
  color: var(--azv3wmg);
}
.azv3wm3:not([aria-disabled="true"]):hover > .azv3wmn, .azv3wm3:not([aria-disabled="true"]):focus-visible > .azv3wmn, .azv3wm3:not([aria-disabled="true"])[data-popup-open] > .azv3wmn {
  color: var(--azv3wmh);
  background-color: var(--azv3wmi);
}
.azv3wmo {
  margin: calc((var(--azv3wm4) + 2px) * -1);
}
.azv3wm6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.ywu7vp0 {
  isolation: isolate;
  white-space: nowrap;
}
.ywu7vp1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .ywu7vp3 {
    display: none;
  }
}
.i17bln1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.i17bln2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.i17bln2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.i17bln4 {
  --i17bln3: 30px;
}
.i17bln5 {
  --i17bln3: 45px;
}
.i17bln6 {
  --i17bln3: 60px;
}
.i17bln7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.i17bln8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.i17bln9 {
  overflow: auto;
}
.i17blne {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--i17blnc, 0)),linear-gradient(to right, transparent 0, black var(--i17blna, 0)),linear-gradient(to left, transparent 0, black var(--i17blnb, 0)),linear-gradient(to top, transparent 0, black var(--i17blnd, 0));
}
.i17blnf {
  --i17blna: var(--i17bln3);
}
.i17blng {
  --i17blnb: var(--i17bln3);
}
.i17blnh {
  --i17blnc: var(--i17bln3);
}
.i17blni {
  --i17blnd: var(--i17bln3);
}
._1c6h2mg2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1c6h2mg3 {
  width: 250px;
}
._1c6h2mg6 {
  --_1c6h2mg4: var(--_12hegh6n);
  outline: none;
  cursor: default;
  color: var(--_12hegh67);
  height: 34px;
  isolation: isolate;
}
._1c6h2mg6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1a22njt8);
  z-index: -1;
}
._1c6h2mg6[data-popup-open]:not([aria-disabled])::before, ._1c6h2mg6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1c6h2mg4);
}
._1c6h2mg6:focus-visible::before {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: -2px;
}
._1c6h2mg6[aria-disabled] {
  color: var(--_12hegh69);
  cursor: not-allowed;
}
._1c6h2mg7 {
  cursor: pointer;
  text-decoration: none;
}
._1c6h2mg7[aria-disabled] {
  cursor: not-allowed;
}
._1c6h2mg8 {
  margin-left: 3px;
}
._1c6h2mg9 {
  --_1c6h2mg4: var(--_12hegh6j);
  color: var(--_12hegh6a);
}
._1c6h2mga {
  --_1c6h2mg4: transparent;
  color: var(--_12hegh6c);
}
._1c6h2mga svg {
  color: var(--_12hegh6c);
}
._1c6h2mgc {
  isolation: isolate;
}
._1c6h2mgg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1c6h2mgi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_12hegh67);
  z-index: 1;
}
[aria-checked="true"] ._1c6h2mgi {
  color: var(--_12hegh68);
}
._1c6h2mgk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_12hegh67);
  isolation: isolate;
}
[aria-checked="true"] ._1c6h2mgk {
  background-color: var(--_12hegh6e);
  border-color: var(--_12hegh6e);
}
._1c6h2mgp {
  height: 34px;
}
._1c6h2mgr {
  height: 1px;
  background-color: var(--_12hegh6r);
}
._1c6h2mgt {
  background: transparent;
  border: none;
}
._1c6h2mgt:hover, ._1c6h2mgt[data-highlighted] {
  background-color: var(--_12hegh6n);
}
._1c6h2mgt:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: -2px;
}
._11vzro61 {
  justify-content: safe center;
}
._11vzro65 {
  flex-shrink: 0;
  width: var(--_11vzro62);
}
._11vzro65:last-child {
  padding-right: var(--_1a22njtn);
}
._11vzro66 {
  transition: color 150ms ease;
}
._11vzro65:hover ._11vzro66, ._11vzro65:focus-within ._11vzro66, ._11vzro63 ._11vzro66 {
  color: var(--_12hegh6b);
}
._11vzro68 {
  outline: 1px solid var(--_12hegh6r);
}
._11vzro6a {
  transition: opacity 150ms ease;
}
._11vzro65:not(:hover, :focus-within, ._11vzro63) ._11vzro6a {
  opacity: 1;
}
._11vzro6c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._11vzro6a:hover ~ ._11vzro68 ._11vzro6c, ._11vzro6a:focus-within ~ ._11vzro68._11vzro6c {
  outline-color: var(--_12hegh6b);
}
._11vzro6e {
  transition: opacity 150ms ease;
}
._11vzro65:not(:hover, :focus-within, ._11vzro63) ._11vzro6e {
  opacity: 0;
}
.ng8zhx1 {
  color: var(--_12hegh67);
  font-family: var(--_1a22njt0);
}
.ng8zhx2 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
.ng8zhx3 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
.ng8zhx4 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
._1s51krg1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1s51krg0);
}
._1s51krg2 {
  --_1s51krg0: var(--_1a22njtg);
}
._1s51krg3 {
  --_1s51krg0: var(--_1a22njth);
}
._1s51krg4 {
  --_1s51krg0: var(--_1a22njti);
}
._1s51krg5 {
  --_1s51krg0: var(--_1a22njtj);
}
._1s51krg6 {
  --_1s51krg0: var(--_1a22njtk);
}
._1s51krg7 {
  --_1s51krg0: var(--_1a22njtl);
}
._1s51krg8 {
  --_1s51krg0: var(--_1a22njtm);
}
._1s51krg9 {
  --_1s51krg0: var(--_1a22njtn);
}
._1s51krga {
  --_1s51krg0: var(--_1a22njto);
}
._1s51krgb {
  --_1s51krg0: var(--_1a22njtp);
}
._1s51krgc {
  align-items: flex-start;
}
._1s51krgd {
  align-items: center;
}
._1s51krge {
  align-items: flex-end;
}
.aenvzg1 {
  backdrop-filter: blur(6px);
}
.aenvzg1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_12hegh6k);
  opacity: 0.4;
}
html[data-playroom-dark] .aenvzg1::before {
  opacity: 0.7;
}
.aenvzg1[data-starting-style]::before, .aenvzg1[data-ending-style]::before {
  opacity: 0;
}
.aenvzg3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1a22njtk) * 2));
  max-height: calc(100dvh - (var(--_1a22njtk) * 2));
}
.aenvzg3[data-starting-style], .aenvzg3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.aenvzg7:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 2px;
}
.vptf3j2 {
  display: flex;
  flex-direction: row;
  gap: var(--vptf3j0);
  align-items: var(--vptf3j1);
}
.vptf3j3 {
  flex-wrap: wrap;
}
.vptf3j4 {
  --vptf3j0: var(--_1a22njtg);
}
.vptf3j5 {
  --vptf3j0: var(--_1a22njth);
}
.vptf3j6 {
  --vptf3j0: var(--_1a22njti);
}
.vptf3j7 {
  --vptf3j0: var(--_1a22njtj);
}
.vptf3j8 {
  --vptf3j0: var(--_1a22njtk);
}
.vptf3j9 {
  --vptf3j0: var(--_1a22njtl);
}
.vptf3ja {
  --vptf3j0: var(--_1a22njtm);
}
.vptf3jb {
  --vptf3j0: var(--_1a22njtn);
}
.vptf3jc {
  --vptf3j0: var(--_1a22njto);
}
.vptf3jd {
  --vptf3j0: var(--_1a22njtp);
}
.vptf3je {
  align-items: flex-start;
}
.vptf3jf {
  align-items: center;
}
.vptf3jg {
  align-items: flex-end;
}
._8fq2ke0 {
  width: 200px;
}
.g686q1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_12hegh6l);
}
.g686q2 {
  width: fit-content;
}
.g686q4 {
  width: fit-content;
  justify-self: flex-end;
}
.g686q7:not(.g686q5) {
  opacity: 0;
  transform: translateX(var(--_1a22njtj));
  pointer-events: none;
}
.g686q9 {
  background: transparent;
  color: var(--_12hegh6g);
  isolation: isolate;
}
.g686q9::after {
  content: "";
  position: absolute;
  transition: var(--_1a22njtf);
  z-index: -1;
  inset: calc(var(--_1a22njtj) * -1);
  background-color: var(--_12hegh6n);
  border-radius: var(--_1a22njt9);
}
.g686q9:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 6px;
}
.g686q9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.g686qb {
  margin: calc(var(--_1a22njtk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.g686qf {
  appearance: none;
  outline: none;
  background: var(--_12hegh6l);
  color: var(--_12hegh67);
  border: 1px solid var(--_12hegh6r);
  height: var(--_1a22njtr);
}
.g686qf:hover, .g686qf[data-popup-open] {
  background-color: var(--_12hegh6n);
}
.g686qf:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  z-index: 1;
}
.g686qh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.g686qj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.g686qk {
  color: var(--_12hegh6c);
}
.g686qm {
  height: 1px;
  background-color: var(--_12hegh6r);
}
@media screen and (max-width: 767px) {
  .g686q4 {
    display: none;
  }
}
._196tuit2 {
  flex: 1;
  min-height: 0;
}
._196tuit5 {
  --_196tuit3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_196tuit3), 1fr);
}
._196tuit7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._196tuit9 {
  height: calc(100% / var(--_196tuit0));
  width: calc(100% / var(--_196tuit0));
  border-radius: calc(var(--_1a22njt9) / var(--_196tuit0));
  transform: scale(var(--_196tuit0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_196tuit0));
}
._196tuitb {
  background: var(--_12hegh6n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._196tuitd {
  background: transparent;
  outline: 1px solid var(--_12hegh6r);
}
._196tuitd:hover {
  outline: 2px solid var(--_12hegh6s);
}
._196tuitd:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 2px;
}
._196tuith {
  list-style: none;
}
._196tuitj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_12hegh6r);
}
._196tuitj:hover {
  outline: 2px solid var(--_12hegh6s);
}
._196tuitj:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._196tuit5 {
    --_196tuit3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._196tuit5 {
    --_196tuit3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._196tuit5 {
    --_196tuit3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._196tuit5 {
    --_196tuit3: 5;
  }
}
._1hpwk1g1 {
  width: fit-content;
}
._1hpwk1g3:focus-visible ~ ._1hpwk1g5 {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 4px;
}
._1hpwk1g8 {
  min-width: 0;
}
._1hpwk1g9 {
  flex-shrink: 0;
}
._1qwzy8l2 {
  outline: none;
  height: var(--_1a22njtr);
  color: var(--_12hegh67);
  background: transparent;
}
._1qwzy8l2::placeholder {
  color: var(--_12hegh69);
  font-weight: strong;
}
._1qwzy8l2:hover:not(:focus-visible), ._1qwzy8l2:hover:not(:focus-visible)::placeholder {
  background: var(--_12hegh6n);
  opacity: 1;
  color: transparent;
}
._1qwzy8l2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1qwzy8l2:focus-visible {
  outline: 2px solid var(--_12hegh6u);
  outline-offset: 0;
  opacity: 1;
}
._1qwzy8l2:focus-visible::placeholder {
  color: transparent;
}
._1qwzy8l4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_12hegh67);
}
._1qwzy8l2:focus-visible ~ ._1qwzy8l4 {
  opacity: 0;
}
._1qwzy8l5 {
  color: var(--_12hegh69);
}
._99lcyv3 {
  border: 1px solid var(--_12hegh6r);
}
._99lcyv5 {
  background-color: var(--_12hegh6q);
  border-bottom: 1px solid var(--_12hegh6r);
}
._99lcyv8 {
  background-color: var(--_12hegh6q);
  border-top: 1px solid var(--_12hegh6r);
}
._99lcyvc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._99lcyv6 {
    display: none;
  }
}
