@keyframes _1i4hxkt4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1i4hxkt1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1vtzztt9);
}
._1i4hxkt3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1i4hxkt4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1i4hxkt5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1kyv6u91 {
  display: flex;
  flex-direction: column;
  gap: var(--_1kyv6u90);
}
._1kyv6u92 {
  --_1kyv6u90: var(--xn9vegi);
}
._1kyv6u93 {
  --_1kyv6u90: var(--xn9vegj);
}
._1kyv6u94 {
  --_1kyv6u90: var(--xn9vegk);
}
._1kyv6u95 {
  --_1kyv6u90: var(--xn9vegl);
}
._1kyv6u96 {
  --_1kyv6u90: var(--xn9vegm);
}
._1kyv6u97 {
  --_1kyv6u90: var(--xn9vegn);
}
._1kyv6u98 {
  --_1kyv6u90: var(--xn9vego);
}
._1kyv6u99 {
  --_1kyv6u90: var(--xn9vegp);
}
._1kyv6u9a {
  --_1kyv6u90: var(--xn9vegq);
}
._1kyv6u9b {
  --_1kyv6u90: var(--xn9vegr);
}
