._1dy286v1 {
  background-color: var(--_1oahxm7m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1oahxm7s);
}
._1dy286v2::before {
  content: "";
  position: absolute;
  min-height: var(--_107qegc);
  min-width: var(--_107qegc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1lxx0uj2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1lxx0uj4 {
  border: 1px solid var(--_1oahxm7s);
  background-color: var(--_1oahxm7l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1lxx0uj4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1oahxm7n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1lxx0uj4:hover::after {
  opacity: 1;
}
._1lxx0uj4:focus-visible::after {
  opacity: 1;
}
._1lxx0uj4:active:not([disabled]) {
  transform: scale(0.97);
}
._1lxx0uj4:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 0;
}
._1lxx0uj6 {
  isolation: isolate;
}
._1lxx0uj8 {
  height: var(--_1lxx0uj0);
}
._1lxx0uja {
  border-color: var(--_1oahxm7c);
}
._1lxx0uja::after {
  background-color: var(--_1oahxm7i);
}
._1lxx0ujb {
  border-color: var(--_1oahxm7a);
}
._1lxx0ujb::after {
  background-color: var(--_1oahxm7j);
}
._1lxx0ujc {
  --_1lxx0uj0: var(--_107qegq);
}
._1lxx0ujd {
  --_1lxx0uj0: var(--_107qegr);
}
._1lxx0uje {
  --_1lxx0uj0: var(--_107qegs);
}
.oxzdx02 {
  display: flex;
  flex-direction: row;
  gap: var(--oxzdx00);
  align-items: var(--oxzdx01);
}
.oxzdx03 {
  flex-wrap: wrap;
}
.oxzdx04 {
  --oxzdx00: var(--_107qegg);
}
.oxzdx05 {
  --oxzdx00: var(--_107qegh);
}
.oxzdx06 {
  --oxzdx00: var(--_107qegi);
}
.oxzdx07 {
  --oxzdx00: var(--_107qegj);
}
.oxzdx08 {
  --oxzdx00: var(--_107qegk);
}
.oxzdx09 {
  --oxzdx00: var(--_107qegl);
}
.oxzdx0a {
  --oxzdx00: var(--_107qegm);
}
.oxzdx0b {
  --oxzdx00: var(--_107qegn);
}
.oxzdx0c {
  --oxzdx00: var(--_107qego);
}
.oxzdx0d {
  --oxzdx00: var(--_107qegp);
}
.oxzdx0e {
  align-items: flex-start;
}
.oxzdx0f {
  align-items: center;
}
.oxzdx0g {
  align-items: flex-end;
}
._1kq04es0 {
  isolation: isolate;
  white-space: nowrap;
}
._1kq04es1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1kq04es3 {
    display: none;
  }
}
._141zldn0 {
  color: var(--_1oahxm79);
}
._1ehu9qf1 {
  --_1oahxm77: var(--_1oahxm7d);
  background-color: var(--_1oahxm7o);
  outline: 1px solid var(--_1oahxm7u);
  outline-offset: -1px;
}
._1pzxs1e3 {
  background: transparent;
  outline: none;
  height: var(--_1pzxs1e0) !important;
  width: var(--_1pzxs1e0) !important;
}
._1pzxs1e6 {
  padding: var(--_1pzxs1e4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1pzxs1e3:active ._1pzxs1e6 {
  transform: scale(.95);
}
._1pzxs1e3:focus-visible ._1pzxs1e6 {
  outline: 2px solid var(--_1oahxm7v);
}
._1pzxs1e3[aria-disabled="true"] ._1pzxs1e6 {
  --_1pzxs1e1: var(--_1oahxm79);
}
._1pzxs1e7 {
  --_1pzxs1e0: var(--_107qegq);
  --_1pzxs1e4: var(--_107qegi);
}
._1pzxs1e8 {
  --_1pzxs1e0: var(--_107qegr);
  --_1pzxs1e4: var(--_107qegj);
}
._1pzxs1e9 {
  --_1pzxs1e0: var(--_107qegs);
  --_1pzxs1e4: var(--_107qegj);
}
._1pzxs1ej {
  --_1pzxs1ea: var(--_1oahxm77);
  --_1pzxs1eb: var(--_1oahxm7l);
  --_1pzxs1ec: var(--_1oahxm7n);
  --_1pzxs1ed: var(--_1oahxm78);
  --_1pzxs1ee: var(--_1oahxm7g);
  --_1pzxs1ef: var(--_1oahxm7h);
  --_1pzxs1eg: var(--_1oahxm77);
  --_1pzxs1eh: var(--_1oahxm77);
  --_1pzxs1ei: var(--_1oahxm7n);
}
._1pzxs1ek {
  --_1pzxs1ea: var(--_1oahxm7b);
  --_1pzxs1eb: var(--_1oahxm7l);
  --_1pzxs1ec: var(--_1oahxm7n);
  --_1pzxs1ed: var(--_1oahxm78);
  --_1pzxs1ee: var(--_1oahxm7b);
  --_1pzxs1ef: var(--_1oahxm7f);
  --_1pzxs1eg: var(--_1oahxm7b);
  --_1pzxs1eh: var(--_1oahxm78);
  --_1pzxs1ei: var(--_1oahxm7e);
}
._1pzxs1el {
  color: var(--_1pzxs1ea);
  background-color: var(--_1pzxs1eb);
  outline: 1px solid var(--_1oahxm7s);
  outline-offset: -1px;
}
._1pzxs1e3:not([aria-disabled="true"]):hover > ._1pzxs1el, ._1pzxs1e3:not([aria-disabled="true"]):focus-visible > ._1pzxs1el, ._1pzxs1e3:not([aria-disabled="true"])[data-popup-open] > ._1pzxs1el, ._1pzxs1e3:not([aria-disabled="true"])[data-active] > ._1pzxs1el {
  background-color: var(--_1pzxs1ec);
}
._1pzxs1em {
  color: var(--_1pzxs1ed);
  background-color: var(--_1pzxs1ee);
}
._1pzxs1e3:not([aria-disabled="true"]):hover > ._1pzxs1em, ._1pzxs1e3:not([aria-disabled="true"]):focus-visible > ._1pzxs1em, ._1pzxs1e3:not([aria-disabled="true"])[data-popup-open] > ._1pzxs1em, ._1pzxs1e3:not([aria-disabled="true"])[data-active] > ._1pzxs1em {
  background-color: var(--_1pzxs1ef);
}
._1pzxs1en {
  color: var(--_1pzxs1eg);
}
._1pzxs1e3:not([aria-disabled="true"]):hover > ._1pzxs1en, ._1pzxs1e3:not([aria-disabled="true"]):focus-visible > ._1pzxs1en, ._1pzxs1e3:not([aria-disabled="true"])[data-popup-open] > ._1pzxs1en, ._1pzxs1e3:not([aria-disabled="true"])[data-active] > ._1pzxs1en {
  color: var(--_1pzxs1eh);
  background-color: var(--_1pzxs1ei);
}
._1pzxs1eo {
  margin: calc((var(--_1pzxs1e4) + 2px) * -1);
}
._1pzxs1e6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.yvmo2p1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.yvmo2p2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.yvmo2p2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.yvmo2p4 {
  --yvmo2p3: 30px;
}
.yvmo2p5 {
  --yvmo2p3: 45px;
}
.yvmo2p6 {
  --yvmo2p3: 60px;
}
.yvmo2p7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.yvmo2p8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.yvmo2p9 {
  overflow: auto;
}
.yvmo2pe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--yvmo2pc, 0)),linear-gradient(to right, transparent 0, black var(--yvmo2pa, 0)),linear-gradient(to left, transparent 0, black var(--yvmo2pb, 0)),linear-gradient(to top, transparent 0, black var(--yvmo2pd, 0));
}
.yvmo2pf {
  --yvmo2pa: var(--yvmo2p3);
}
.yvmo2pg {
  --yvmo2pb: var(--yvmo2p3);
}
.yvmo2ph {
  --yvmo2pc: var(--yvmo2p3);
}
.yvmo2pi {
  --yvmo2pd: var(--yvmo2p3);
}
._1ajgai02 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1ajgai03 {
  width: 250px;
}
._1ajgai06 {
  --_1ajgai04: var(--_1oahxm7n);
  outline: none;
  cursor: default;
  color: var(--_1oahxm77);
  height: 34px;
  isolation: isolate;
}
._1ajgai06::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_107qeg8);
  z-index: -1;
}
._1ajgai06[data-popup-open]:not([aria-disabled])::before, ._1ajgai06[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1ajgai04);
}
._1ajgai06:focus-visible::before {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: -2px;
}
._1ajgai06[aria-disabled] {
  color: var(--_1oahxm79);
  cursor: not-allowed;
}
._1ajgai07 {
  cursor: pointer;
  text-decoration: none;
}
._1ajgai07[aria-disabled] {
  cursor: not-allowed;
}
._1ajgai08 {
  margin-left: 3px;
}
._1ajgai09 {
  --_1ajgai04: var(--_1oahxm7j);
  color: var(--_1oahxm7a);
}
._1ajgai0a {
  --_1ajgai04: transparent;
  color: var(--_1oahxm7c);
}
._1ajgai0a svg {
  color: var(--_1oahxm7c);
}
._1ajgai0c {
  isolation: isolate;
}
._1ajgai0g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1ajgai0i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1oahxm77);
  z-index: 1;
}
[aria-checked="true"] ._1ajgai0i {
  color: var(--_1oahxm78);
}
._1ajgai0k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1oahxm77);
  isolation: isolate;
}
[aria-checked="true"] ._1ajgai0k {
  background-color: var(--_1oahxm7e);
  border-color: var(--_1oahxm7e);
}
._1ajgai0p {
  height: 34px;
}
._1ajgai0r {
  height: 1px;
  background-color: var(--_1oahxm7s);
}
._1ajgai0t {
  background: transparent;
  border: none;
}
._1ajgai0t:hover, ._1ajgai0t[data-highlighted] {
  background-color: var(--_1oahxm7n);
}
._1ajgai0t:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: -2px;
}
._1e0hw1 {
  justify-content: safe center;
}
._1e0hw5 {
  flex-shrink: 0;
  width: var(--_1e0hw2);
}
._1e0hw5:last-child {
  padding-right: var(--_107qegn);
}
._1e0hw6 {
  transition: color 150ms ease;
}
._1e0hw5:hover ._1e0hw6, ._1e0hw5:focus-within ._1e0hw6, ._1e0hw3 ._1e0hw6 {
  color: var(--_1oahxm7b);
}
._1e0hw8 {
  outline: 1px solid var(--_1oahxm7s);
}
._1e0hwa {
  transition: opacity 150ms ease;
}
._1e0hw5:not(:hover, :focus-within, ._1e0hw3) ._1e0hwa {
  opacity: 1;
}
._1e0hwc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1e0hwa:hover ~ ._1e0hw8 ._1e0hwc, ._1e0hwa:focus-within ~ ._1e0hw8._1e0hwc {
  outline-color: var(--_1oahxm7b);
}
._1e0hwe {
  transition: opacity 150ms ease;
}
._1e0hw5:not(:hover, :focus-within, ._1e0hw3) ._1e0hwe {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1e0hw5:not(:hover, :focus-within, ._1e0hw3) ._1e0hwe {
  opacity: 0.6;
}
._1ow1hxv1 {
  color: var(--_1oahxm77);
  font-family: var(--_107qeg0);
}
._1ow1hxv2 {
  --_3za4e70: 36px;
  --_3za4e71: 44px;
  --_3za4e72: -0.2741em;
  --_3za4e73: -0.2031em;
}
._1ow1hxv3 {
  --_3za4e70: 20px;
  --_3za4e71: 28px;
  --_3za4e72: -0.363em;
  --_3za4e73: -0.292em;
}
._1ow1hxv4 {
  --_3za4e70: 16px;
  --_3za4e71: 20px;
  --_3za4e72: -0.288em;
  --_3za4e73: -0.217em;
}
.fv5xkd1 {
  display: flex;
  flex-direction: column;
  gap: var(--fv5xkd0);
}
.fv5xkd2 {
  --fv5xkd0: var(--_107qegg);
}
.fv5xkd3 {
  --fv5xkd0: var(--_107qegh);
}
.fv5xkd4 {
  --fv5xkd0: var(--_107qegi);
}
.fv5xkd5 {
  --fv5xkd0: var(--_107qegj);
}
.fv5xkd6 {
  --fv5xkd0: var(--_107qegk);
}
.fv5xkd7 {
  --fv5xkd0: var(--_107qegl);
}
.fv5xkd8 {
  --fv5xkd0: var(--_107qegm);
}
.fv5xkd9 {
  --fv5xkd0: var(--_107qegn);
}
.fv5xkda {
  --fv5xkd0: var(--_107qego);
}
.fv5xkdb {
  --fv5xkd0: var(--_107qegp);
}
.fv5xkdc {
  align-items: flex-start;
}
.fv5xkdd {
  align-items: center;
}
.fv5xkde {
  align-items: flex-end;
}
._1a7sn9a1 {
  backdrop-filter: blur(6px);
}
._1a7sn9a1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1oahxm7k);
  opacity: 0.4;
}
html[data-playroom-dark] ._1a7sn9a1::before {
  opacity: 0.7;
}
._1a7sn9a1[data-starting-style]::before, ._1a7sn9a1[data-ending-style]::before {
  opacity: 0;
}
._1a7sn9a3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_107qegk) * 2));
  max-height: calc(100dvh - (var(--_107qegk) * 2));
}
._1a7sn9a3[data-starting-style], ._1a7sn9a3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1a7sn9a7:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
.kw2cae0 {
  width: 200px;
}
._1x5oimy1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1oahxm7l);
}
._1x5oimy2 {
  width: fit-content;
}
._1x5oimy4 {
  width: fit-content;
  justify-self: flex-end;
}
._1x5oimy7:not(._1x5oimy5) {
  opacity: 0;
  transform: translateX(var(--_107qegj));
  pointer-events: none;
}
._1x5oimy9 {
  background: transparent;
  color: var(--_1oahxm7g);
  isolation: isolate;
}
._1x5oimy9::after {
  content: "";
  position: absolute;
  transition: var(--_107qegf);
  z-index: -1;
  inset: calc(var(--_107qegj) * -1);
  background-color: var(--_1oahxm7n);
  border-radius: var(--_107qeg9);
}
._1x5oimy9:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 6px;
}
._1x5oimy9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1x5oimyb {
  margin: calc(var(--_107qegk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1x5oimyf {
  appearance: none;
  outline: none;
  background: var(--_1oahxm7l);
  color: var(--_1oahxm77);
  border: 1px solid var(--_1oahxm7s);
  height: var(--_107qegr);
}
._1x5oimyf:hover, ._1x5oimyf[data-popup-open] {
  background-color: var(--_1oahxm7n);
}
._1x5oimyf:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  z-index: 1;
}
._1x5oimyh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1x5oimyj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1x5oimyk {
  color: var(--_1oahxm7c);
}
._1x5oimym {
  height: 1px;
  background-color: var(--_1oahxm7s);
}
@media screen and (max-width: 767px) {
  ._1x5oimy4 {
    display: none;
  }
}
._1e2zbsz2 {
  flex: 1;
  min-height: 0;
}
._1e2zbsz5 {
  --_1e2zbsz3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1e2zbsz3), 1fr);
}
._1e2zbsz7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1e2zbsz9 {
  height: calc(100% / var(--_1e2zbsz0));
  width: calc(100% / var(--_1e2zbsz0));
  border-radius: calc(var(--_107qeg9) / var(--_1e2zbsz0));
  transform: scale(var(--_1e2zbsz0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1e2zbsz0));
}
._1e2zbszb {
  background: var(--_1oahxm7n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1e2zbszd {
  background: transparent;
  outline: 1px solid var(--_1oahxm7s);
}
._1e2zbszd:hover {
  outline: 2px solid var(--_1oahxm7t);
}
._1e2zbszd:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
._1e2zbszh {
  list-style: none;
}
._1e2zbszj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1oahxm7s);
}
._1e2zbszj:hover {
  outline: 2px solid var(--_1oahxm7t);
}
._1e2zbszj:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 5;
  }
}
._1p7cb711 {
  width: fit-content;
}
._1p7cb713:focus-visible ~ ._1p7cb715 {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 4px;
}
._1p7cb718 {
  min-width: 0;
}
._1p7cb719 {
  flex-shrink: 0;
}
._93m11r2 {
  outline: none;
  height: var(--_107qegr);
  color: var(--_1oahxm77);
  background: transparent;
}
._93m11r2::placeholder {
  color: var(--_1oahxm79);
  font-weight: strong;
}
._93m11r2:hover:not(:focus-visible), ._93m11r2:hover:not(:focus-visible)::placeholder {
  background: var(--_1oahxm7n);
  opacity: 1;
  color: transparent;
}
._93m11r2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._93m11r2:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 0;
  opacity: 1;
}
._93m11r2:focus-visible::placeholder {
  color: transparent;
}
._93m11r4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1oahxm77);
}
._93m11r2:focus-visible ~ ._93m11r4 {
  opacity: 0;
}
._93m11r5 {
  color: var(--_1oahxm79);
}
._5vl0qx3 {
  border: 1px solid var(--_1oahxm7s);
}
._5vl0qx5 {
  background-color: var(--_1oahxm7q);
  border-bottom: 1px solid var(--_1oahxm7s);
}
._5vl0qx8 {
  background-color: var(--_1oahxm7q);
  border-top: 1px solid var(--_1oahxm7s);
}
._5vl0qxc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._5vl0qx6 {
    display: none;
  }
}
