.ffkq271 {
  background-color: var(--ta2c6om);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--ta2c6or);
}
.ffkq272::before {
  content: "";
  position: absolute;
  min-height: var(--uw0eokc);
  min-width: var(--uw0eokc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._4fhm2f2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._4fhm2f4 {
  border: 1px solid var(--ta2c6or);
  background-color: var(--ta2c6ol);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._4fhm2f4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ta2c6on);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._4fhm2f4:hover::after {
  opacity: 1;
}
._4fhm2f4:focus-visible::after {
  opacity: 1;
}
._4fhm2f4:active:not([disabled]) {
  transform: scale(0.97);
}
._4fhm2f4:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 0;
}
._4fhm2f6 {
  isolation: isolate;
}
._4fhm2f8 {
  height: var(--_4fhm2f0);
}
._4fhm2fa {
  border-color: var(--ta2c6oc);
}
._4fhm2fa::after {
  background-color: var(--ta2c6oi);
}
._4fhm2fb {
  border-color: var(--ta2c6oa);
}
._4fhm2fb::after {
  background-color: var(--ta2c6oj);
}
._4fhm2fc {
  --_4fhm2f0: var(--uw0eokq);
}
._4fhm2fd {
  --_4fhm2f0: var(--uw0eokr);
}
._4fhm2fe {
  --_4fhm2f0: var(--uw0eoks);
}
.djgiib1 {
  --ta2c6o7: var(--ta2c6od);
  background-color: var(--ta2c6oo);
  outline: 1px solid var(--ta2c6ot);
  outline-offset: -1px;
}
._158c26a3 {
  background: transparent;
  outline: none;
  height: var(--_158c26a0) !important;
  width: var(--_158c26a0) !important;
}
._158c26a6 {
  padding: var(--_158c26a4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._158c26a3:active ._158c26a6 {
  transform: scale(.95);
}
._158c26a3:focus-visible ._158c26a6 {
  outline: 2px solid var(--ta2c6ou);
}
._158c26a3[aria-disabled="true"] ._158c26a6 {
  --_158c26a1: var(--ta2c6o9);
}
._158c26a7 {
  --_158c26a0: var(--uw0eokq);
  --_158c26a4: var(--uw0eoki);
}
._158c26a8 {
  --_158c26a0: var(--uw0eokr);
  --_158c26a4: var(--uw0eokj);
}
._158c26a9 {
  --_158c26a0: var(--uw0eoks);
  --_158c26a4: var(--uw0eokj);
}
._158c26aj {
  --_158c26aa: var(--ta2c6o7);
  --_158c26ab: var(--ta2c6ol);
  --_158c26ac: var(--ta2c6on);
  --_158c26ad: var(--ta2c6o8);
  --_158c26ae: var(--ta2c6og);
  --_158c26af: var(--ta2c6oh);
  --_158c26ag: var(--ta2c6o7);
  --_158c26ah: var(--ta2c6o7);
  --_158c26ai: var(--ta2c6on);
}
._158c26ak {
  --_158c26aa: var(--ta2c6ob);
  --_158c26ab: var(--ta2c6ol);
  --_158c26ac: var(--ta2c6on);
  --_158c26ad: var(--ta2c6o8);
  --_158c26ae: var(--ta2c6ob);
  --_158c26af: var(--ta2c6of);
  --_158c26ag: var(--ta2c6ob);
  --_158c26ah: var(--ta2c6o8);
  --_158c26ai: var(--ta2c6oe);
}
._158c26al {
  color: var(--_158c26aa);
  background-color: var(--_158c26ab);
  outline: 1px solid var(--ta2c6or);
  outline-offset: -1px;
}
._158c26a3:not([aria-disabled="true"]):hover > ._158c26al, ._158c26a3:not([aria-disabled="true"]):focus-visible > ._158c26al, ._158c26a3:not([aria-disabled="true"])[data-popup-open] > ._158c26al {
  background-color: var(--_158c26ac);
}
._158c26am {
  color: var(--_158c26ad);
  background-color: var(--_158c26ae);
}
._158c26a3:not([aria-disabled="true"]):hover > ._158c26am, ._158c26a3:not([aria-disabled="true"]):focus-visible > ._158c26am, ._158c26a3:not([aria-disabled="true"])[data-popup-open] > ._158c26am {
  background-color: var(--_158c26af);
}
._158c26an {
  color: var(--_158c26ag);
}
._158c26a3:not([aria-disabled="true"]):hover > ._158c26an, ._158c26a3:not([aria-disabled="true"]):focus-visible > ._158c26an, ._158c26a3:not([aria-disabled="true"])[data-popup-open] > ._158c26an {
  color: var(--_158c26ah);
  background-color: var(--_158c26ai);
}
._158c26ao {
  margin: calc((var(--_158c26a4) + 2px) * -1);
}
._158c26a6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.hcpx4y0 {
  isolation: isolate;
  white-space: nowrap;
}
.hcpx4y1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .hcpx4y3 {
    display: none;
  }
}
.fpnjih1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.fpnjih2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.fpnjih2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.fpnjih4 {
  --fpnjih3: 30px;
}
.fpnjih5 {
  --fpnjih3: 45px;
}
.fpnjih6 {
  --fpnjih3: 60px;
}
.fpnjih7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.fpnjih8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.fpnjih9 {
  overflow: auto;
}
.fpnjihe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--fpnjihc, 0)),linear-gradient(to right, transparent 0, black var(--fpnjiha, 0)),linear-gradient(to left, transparent 0, black var(--fpnjihb, 0)),linear-gradient(to top, transparent 0, black var(--fpnjihd, 0));
}
.fpnjihf {
  --fpnjiha: var(--fpnjih3);
}
.fpnjihg {
  --fpnjihb: var(--fpnjih3);
}
.fpnjihh {
  --fpnjihc: var(--fpnjih3);
}
.fpnjihi {
  --fpnjihd: var(--fpnjih3);
}
._1bwiy052 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1bwiy053 {
  width: 250px;
}
._1bwiy056 {
  --_1bwiy054: var(--ta2c6on);
  outline: none;
  cursor: default;
  color: var(--ta2c6o7);
  height: 34px;
  isolation: isolate;
}
._1bwiy056::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--uw0eok8);
  z-index: -1;
}
._1bwiy056[data-popup-open]:not([aria-disabled])::before, ._1bwiy056[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1bwiy054);
}
._1bwiy056:focus-visible::before {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: -2px;
}
._1bwiy056[aria-disabled] {
  color: var(--ta2c6o9);
  cursor: not-allowed;
}
._1bwiy057 {
  cursor: pointer;
  text-decoration: none;
}
._1bwiy057[aria-disabled] {
  cursor: not-allowed;
}
._1bwiy058 {
  margin-left: 3px;
}
._1bwiy059 {
  --_1bwiy054: var(--ta2c6oj);
  color: var(--ta2c6oa);
}
._1bwiy05a {
  --_1bwiy054: transparent;
  color: var(--ta2c6oc);
}
._1bwiy05a svg {
  color: var(--ta2c6oc);
}
._1bwiy05c {
  isolation: isolate;
}
._1bwiy05g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1bwiy05i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--ta2c6o7);
  z-index: 1;
}
[aria-checked="true"] ._1bwiy05i {
  color: var(--ta2c6o8);
}
._1bwiy05k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--ta2c6o7);
  isolation: isolate;
}
[aria-checked="true"] ._1bwiy05k {
  background-color: var(--ta2c6oe);
  border-color: var(--ta2c6oe);
}
._1bwiy05p {
  height: 34px;
}
._1bwiy05r {
  height: 1px;
  background-color: var(--ta2c6or);
}
._1bwiy05t {
  background: transparent;
  border: none;
}
._1bwiy05t:hover, ._1bwiy05t[data-highlighted] {
  background-color: var(--ta2c6on);
}
._1bwiy05t:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: -2px;
}
._1jfcnh51 {
  justify-content: safe center;
}
._1jfcnh55 {
  flex-shrink: 0;
  width: var(--_1jfcnh52);
}
._1jfcnh55:last-child {
  padding-right: var(--uw0eokn);
}
._1jfcnh56 {
  transition: color 150ms ease;
}
._1jfcnh55:hover ._1jfcnh56, ._1jfcnh55:focus-within ._1jfcnh56, ._1jfcnh53 ._1jfcnh56 {
  color: var(--ta2c6ob);
}
._1jfcnh58 {
  outline: 1px solid var(--ta2c6or);
}
._1jfcnh5a {
  transition: opacity 150ms ease;
}
._1jfcnh55:not(:hover, :focus-within, ._1jfcnh53) ._1jfcnh5a {
  opacity: 1;
}
._1jfcnh5c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1jfcnh5a:hover ~ ._1jfcnh58 ._1jfcnh5c, ._1jfcnh5a:focus-within ~ ._1jfcnh58._1jfcnh5c {
  outline-color: var(--ta2c6ob);
}
._1jfcnh5e {
  transition: opacity 150ms ease;
}
._1jfcnh55:not(:hover, :focus-within, ._1jfcnh53) ._1jfcnh5e {
  opacity: 0;
}
._9flmb41 {
  color: var(--ta2c6o7);
  font-family: var(--uw0eok0);
}
._9flmb42 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._9flmb43 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._9flmb44 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1ya6cex1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1ya6cex0);
}
._1ya6cex2 {
  --_1ya6cex0: var(--uw0eokg);
}
._1ya6cex3 {
  --_1ya6cex0: var(--uw0eokh);
}
._1ya6cex4 {
  --_1ya6cex0: var(--uw0eoki);
}
._1ya6cex5 {
  --_1ya6cex0: var(--uw0eokj);
}
._1ya6cex6 {
  --_1ya6cex0: var(--uw0eokk);
}
._1ya6cex7 {
  --_1ya6cex0: var(--uw0eokl);
}
._1ya6cex8 {
  --_1ya6cex0: var(--uw0eokm);
}
._1ya6cex9 {
  --_1ya6cex0: var(--uw0eokn);
}
._1ya6cexa {
  --_1ya6cex0: var(--uw0eoko);
}
._1ya6cexb {
  --_1ya6cex0: var(--uw0eokp);
}
._1ya6cexc {
  align-items: flex-start;
}
._1ya6cexd {
  align-items: center;
}
._1ya6cexe {
  align-items: flex-end;
}
._50jlhn1 {
  backdrop-filter: blur(6px);
}
._50jlhn1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ta2c6ok);
  opacity: 0.4;
}
html[data-playroom-dark] ._50jlhn1::before {
  opacity: 0.7;
}
._50jlhn1[data-starting-style]::before, ._50jlhn1[data-ending-style]::before {
  opacity: 0;
}
._50jlhn3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--uw0eokk) * 2));
  max-height: calc(100dvh - (var(--uw0eokk) * 2));
}
._50jlhn3[data-starting-style], ._50jlhn3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._50jlhn7:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 2px;
}
._1gupizd2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1gupizd0);
  align-items: var(--_1gupizd1);
}
._1gupizd3 {
  flex-wrap: wrap;
}
._1gupizd4 {
  --_1gupizd0: var(--uw0eokg);
}
._1gupizd5 {
  --_1gupizd0: var(--uw0eokh);
}
._1gupizd6 {
  --_1gupizd0: var(--uw0eoki);
}
._1gupizd7 {
  --_1gupizd0: var(--uw0eokj);
}
._1gupizd8 {
  --_1gupizd0: var(--uw0eokk);
}
._1gupizd9 {
  --_1gupizd0: var(--uw0eokl);
}
._1gupizda {
  --_1gupizd0: var(--uw0eokm);
}
._1gupizdb {
  --_1gupizd0: var(--uw0eokn);
}
._1gupizdc {
  --_1gupizd0: var(--uw0eoko);
}
._1gupizdd {
  --_1gupizd0: var(--uw0eokp);
}
._1gupizde {
  align-items: flex-start;
}
._1gupizdf {
  align-items: center;
}
._1gupizdg {
  align-items: flex-end;
}
._34i27v0 {
  width: 200px;
}
._17h921m1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ta2c6ol);
}
._17h921m2 {
  width: fit-content;
}
._17h921m4 {
  width: fit-content;
  justify-self: flex-end;
}
._17h921m7:not(._17h921m5) {
  opacity: 0;
  transform: translateX(var(--uw0eokj));
  pointer-events: none;
}
._17h921m9 {
  background: transparent;
  color: var(--ta2c6og);
  isolation: isolate;
}
._17h921m9::after {
  content: "";
  position: absolute;
  transition: var(--uw0eokf);
  z-index: -1;
  inset: calc(var(--uw0eokj) * -1);
  background-color: var(--ta2c6on);
  border-radius: var(--uw0eok9);
}
._17h921m9:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 6px;
}
._17h921m9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._17h921mb {
  margin: calc(var(--uw0eokk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._17h921mf {
  appearance: none;
  outline: none;
  background: var(--ta2c6ol);
  color: var(--ta2c6o7);
  border: 1px solid var(--ta2c6or);
  height: var(--uw0eokr);
}
._17h921mf:hover, ._17h921mf[data-popup-open] {
  background-color: var(--ta2c6on);
}
._17h921mf:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  z-index: 1;
}
._17h921mh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._17h921mj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._17h921mk {
  color: var(--ta2c6oc);
}
._17h921mm {
  height: 1px;
  background-color: var(--ta2c6or);
}
@media screen and (max-width: 767px) {
  ._17h921m4 {
    display: none;
  }
}
._14v2fnt2 {
  flex: 1;
  min-height: 0;
}
._14v2fnt5 {
  --_14v2fnt3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_14v2fnt3), 1fr);
}
._14v2fnt7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._14v2fnt9 {
  height: calc(100% / var(--_14v2fnt0));
  width: calc(100% / var(--_14v2fnt0));
  border-radius: calc(var(--uw0eok9) / var(--_14v2fnt0));
  transform: scale(var(--_14v2fnt0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_14v2fnt0));
}
._14v2fntb {
  background: var(--ta2c6on);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._14v2fntd {
  background: transparent;
  outline: 1px solid var(--ta2c6or);
}
._14v2fntd:hover {
  outline: 2px solid var(--ta2c6os);
}
._14v2fntd:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 2px;
}
._14v2fnth {
  list-style: none;
}
._14v2fntj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--ta2c6or);
}
._14v2fntj:hover {
  outline: 2px solid var(--ta2c6os);
}
._14v2fntj:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._14v2fnt5 {
    --_14v2fnt3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._14v2fnt5 {
    --_14v2fnt3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._14v2fnt5 {
    --_14v2fnt3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._14v2fnt5 {
    --_14v2fnt3: 5;
  }
}
._1e4o6ik1 {
  width: fit-content;
}
._1e4o6ik3:focus-visible ~ ._1e4o6ik5 {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 4px;
}
._1e4o6ik8 {
  min-width: 0;
}
._1e4o6ik9 {
  flex-shrink: 0;
}
.gil0n32 {
  outline: none;
  height: var(--uw0eokr);
  color: var(--ta2c6o7);
  background: transparent;
}
.gil0n32::placeholder {
  color: var(--ta2c6o9);
  font-weight: strong;
}
.gil0n32:hover:not(:focus-visible), .gil0n32:hover:not(:focus-visible)::placeholder {
  background: var(--ta2c6on);
  opacity: 1;
  color: transparent;
}
.gil0n32:hover:not(:focus-visible)::selection {
  background: transparent;
}
.gil0n32:focus-visible {
  outline: 2px solid var(--ta2c6ou);
  outline-offset: 0;
  opacity: 1;
}
.gil0n32:focus-visible::placeholder {
  color: transparent;
}
.gil0n34 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--ta2c6o7);
}
.gil0n32:focus-visible ~ .gil0n34 {
  opacity: 0;
}
.gil0n35 {
  color: var(--ta2c6o9);
}
._4gdaet3 {
  border: 1px solid var(--ta2c6or);
}
._4gdaet5 {
  background-color: var(--ta2c6oq);
  border-bottom: 1px solid var(--ta2c6or);
}
._4gdaet8 {
  background-color: var(--ta2c6oq);
  border-top: 1px solid var(--ta2c6or);
}
._4gdaetc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._4gdaet6 {
    display: none;
  }
}
