.ki49kv1 {
  background-color: var(--_1nrfj92m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1nrfj92r);
}
.ki49kv2::before {
  content: "";
  position: absolute;
  min-height: var(--_112y6vzc);
  min-width: var(--_112y6vzc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.hcwtvo2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.hcwtvo4 {
  border: 1px solid var(--_1nrfj92r);
  background-color: var(--_1nrfj92l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.hcwtvo4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1nrfj92n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.hcwtvo4:hover::after {
  opacity: 1;
}
.hcwtvo4:focus-visible::after {
  opacity: 1;
}
.hcwtvo4:active:not([disabled]) {
  transform: scale(0.97);
}
.hcwtvo4:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 0;
}
.hcwtvo6 {
  isolation: isolate;
}
.hcwtvo8 {
  height: var(--hcwtvo0);
}
.hcwtvoa {
  border-color: var(--_1nrfj92c);
}
.hcwtvoa::after {
  background-color: var(--_1nrfj92i);
}
.hcwtvob {
  border-color: var(--_1nrfj92a);
}
.hcwtvob::after {
  background-color: var(--_1nrfj92j);
}
.hcwtvoc {
  --hcwtvo0: var(--_112y6vzq);
}
.hcwtvod {
  --hcwtvo0: var(--_112y6vzr);
}
.hcwtvoe {
  --hcwtvo0: var(--_112y6vzs);
}
.ovlz6h1 {
  --_1nrfj927: var(--_1nrfj92d);
  background-color: var(--_1nrfj92o);
  outline: 1px solid var(--_1nrfj92t);
  outline-offset: -1px;
}
.eylqhh3 {
  background: transparent;
  outline: none;
  height: var(--eylqhh0) !important;
  width: var(--eylqhh0) !important;
}
.eylqhh6 {
  padding: var(--eylqhh4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.eylqhh3:active .eylqhh6 {
  transform: scale(.95);
}
.eylqhh3:focus-visible .eylqhh6 {
  outline: 2px solid var(--_1nrfj92u);
}
.eylqhh3[aria-disabled="true"] .eylqhh6 {
  --eylqhh1: var(--_1nrfj929);
}
.eylqhh7 {
  --eylqhh0: var(--_112y6vzq);
  --eylqhh4: var(--_112y6vzi);
}
.eylqhh8 {
  --eylqhh0: var(--_112y6vzr);
  --eylqhh4: var(--_112y6vzj);
}
.eylqhh9 {
  --eylqhh0: var(--_112y6vzs);
  --eylqhh4: var(--_112y6vzj);
}
.eylqhhj {
  --eylqhha: var(--_1nrfj927);
  --eylqhhb: var(--_1nrfj92l);
  --eylqhhc: var(--_1nrfj92n);
  --eylqhhd: var(--_1nrfj928);
  --eylqhhe: var(--_1nrfj92g);
  --eylqhhf: var(--_1nrfj92h);
  --eylqhhg: var(--_1nrfj927);
  --eylqhhh: var(--_1nrfj927);
  --eylqhhi: var(--_1nrfj92n);
}
.eylqhhk {
  --eylqhha: var(--_1nrfj92b);
  --eylqhhb: var(--_1nrfj92l);
  --eylqhhc: var(--_1nrfj92n);
  --eylqhhd: var(--_1nrfj928);
  --eylqhhe: var(--_1nrfj92b);
  --eylqhhf: var(--_1nrfj92f);
  --eylqhhg: var(--_1nrfj92b);
  --eylqhhh: var(--_1nrfj928);
  --eylqhhi: var(--_1nrfj92e);
}
.eylqhhl {
  color: var(--eylqhha);
  background-color: var(--eylqhhb);
  outline: 1px solid var(--_1nrfj92r);
  outline-offset: -1px;
}
.eylqhh3:not([aria-disabled="true"]):hover > .eylqhhl, .eylqhh3:not([aria-disabled="true"]):focus-visible > .eylqhhl, .eylqhh3:not([aria-disabled="true"])[data-popup-open] > .eylqhhl {
  background-color: var(--eylqhhc);
}
.eylqhhm {
  color: var(--eylqhhd);
  background-color: var(--eylqhhe);
}
.eylqhh3:not([aria-disabled="true"]):hover > .eylqhhm, .eylqhh3:not([aria-disabled="true"]):focus-visible > .eylqhhm, .eylqhh3:not([aria-disabled="true"])[data-popup-open] > .eylqhhm {
  background-color: var(--eylqhhf);
}
.eylqhhn {
  color: var(--eylqhhg);
}
.eylqhh3:not([aria-disabled="true"]):hover > .eylqhhn, .eylqhh3:not([aria-disabled="true"]):focus-visible > .eylqhhn, .eylqhh3:not([aria-disabled="true"])[data-popup-open] > .eylqhhn {
  color: var(--eylqhhh);
  background-color: var(--eylqhhi);
}
.eylqhho {
  margin: calc((var(--eylqhh4) + 2px) * -1);
}
.eylqhh6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.b856p30 {
  isolation: isolate;
  white-space: nowrap;
}
.b856p31 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .b856p33 {
    display: none;
  }
}
.ec7wc81 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.ec7wc82 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.ec7wc82::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.ec7wc84 {
  --ec7wc83: 30px;
}
.ec7wc85 {
  --ec7wc83: 45px;
}
.ec7wc86 {
  --ec7wc83: 60px;
}
.ec7wc87 {
  overflow-x: auto;
  overflow-y: hidden;
}
.ec7wc88 {
  overflow-x: hidden;
  overflow-y: auto;
}
.ec7wc89 {
  overflow: auto;
}
.ec7wc8e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--ec7wc8c, 0)),linear-gradient(to right, transparent 0, black var(--ec7wc8a, 0)),linear-gradient(to left, transparent 0, black var(--ec7wc8b, 0)),linear-gradient(to top, transparent 0, black var(--ec7wc8d, 0));
}
.ec7wc8f {
  --ec7wc8a: var(--ec7wc83);
}
.ec7wc8g {
  --ec7wc8b: var(--ec7wc83);
}
.ec7wc8h {
  --ec7wc8c: var(--ec7wc83);
}
.ec7wc8i {
  --ec7wc8d: var(--ec7wc83);
}
._16ki0iw2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._16ki0iw3 {
  width: 250px;
}
._16ki0iw6 {
  --_16ki0iw4: var(--_1nrfj92n);
  outline: none;
  cursor: default;
  color: var(--_1nrfj927);
  height: 34px;
  isolation: isolate;
}
._16ki0iw6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_112y6vz8);
  z-index: -1;
}
._16ki0iw6[data-popup-open]:not([aria-disabled])::before, ._16ki0iw6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_16ki0iw4);
}
._16ki0iw6:focus-visible::before {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: -2px;
}
._16ki0iw6[aria-disabled] {
  color: var(--_1nrfj929);
  cursor: not-allowed;
}
._16ki0iw7 {
  cursor: pointer;
  text-decoration: none;
}
._16ki0iw7[aria-disabled] {
  cursor: not-allowed;
}
._16ki0iw8 {
  margin-left: 3px;
}
._16ki0iw9 {
  --_16ki0iw4: var(--_1nrfj92j);
  color: var(--_1nrfj92a);
}
._16ki0iwa {
  --_16ki0iw4: transparent;
  color: var(--_1nrfj92c);
}
._16ki0iwa svg {
  color: var(--_1nrfj92c);
}
._16ki0iwc {
  isolation: isolate;
}
._16ki0iwg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._16ki0iwi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1nrfj927);
  z-index: 1;
}
[aria-checked="true"] ._16ki0iwi {
  color: var(--_1nrfj928);
}
._16ki0iwk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1nrfj927);
  isolation: isolate;
}
[aria-checked="true"] ._16ki0iwk {
  background-color: var(--_1nrfj92e);
  border-color: var(--_1nrfj92e);
}
._16ki0iwp {
  height: 34px;
}
._16ki0iwr {
  height: 1px;
  background-color: var(--_1nrfj92r);
}
._16ki0iwt {
  background: transparent;
  border: none;
}
._16ki0iwt:hover, ._16ki0iwt[data-highlighted] {
  background-color: var(--_1nrfj92n);
}
._16ki0iwt:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: -2px;
}
._17xxxuy1 {
  justify-content: safe center;
}
._17xxxuy5 {
  flex-shrink: 0;
  width: var(--_17xxxuy2);
}
._17xxxuy5:last-child {
  padding-right: var(--_112y6vzn);
}
._17xxxuy6 {
  transition: color 150ms ease;
}
._17xxxuy5:hover ._17xxxuy6, ._17xxxuy5:focus-within ._17xxxuy6, ._17xxxuy3 ._17xxxuy6 {
  color: var(--_1nrfj92b);
}
._17xxxuy8 {
  outline: 1px solid var(--_1nrfj92r);
}
._17xxxuya {
  transition: opacity 150ms ease;
}
._17xxxuy5:not(:hover, :focus-within, ._17xxxuy3) ._17xxxuya {
  opacity: 1;
}
._17xxxuyc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._17xxxuya:hover ~ ._17xxxuy8 ._17xxxuyc, ._17xxxuya:focus-within ~ ._17xxxuy8._17xxxuyc {
  outline-color: var(--_1nrfj92b);
}
._17xxxuye {
  transition: opacity 150ms ease;
}
._17xxxuy5:not(:hover, :focus-within, ._17xxxuy3) ._17xxxuye {
  opacity: 0;
}
._1pg7ff51 {
  color: var(--_1nrfj927);
  font-family: var(--_112y6vz0);
}
._1pg7ff52 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1pg7ff53 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1pg7ff54 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._2fzzkf1 {
  display: flex;
  flex-direction: column;
  gap: var(--_2fzzkf0);
}
._2fzzkf2 {
  --_2fzzkf0: var(--_112y6vzg);
}
._2fzzkf3 {
  --_2fzzkf0: var(--_112y6vzh);
}
._2fzzkf4 {
  --_2fzzkf0: var(--_112y6vzi);
}
._2fzzkf5 {
  --_2fzzkf0: var(--_112y6vzj);
}
._2fzzkf6 {
  --_2fzzkf0: var(--_112y6vzk);
}
._2fzzkf7 {
  --_2fzzkf0: var(--_112y6vzl);
}
._2fzzkf8 {
  --_2fzzkf0: var(--_112y6vzm);
}
._2fzzkf9 {
  --_2fzzkf0: var(--_112y6vzn);
}
._2fzzkfa {
  --_2fzzkf0: var(--_112y6vzo);
}
._2fzzkfb {
  --_2fzzkf0: var(--_112y6vzp);
}
._2fzzkfc {
  align-items: flex-start;
}
._2fzzkfd {
  align-items: center;
}
._2fzzkfe {
  align-items: flex-end;
}
._1iyllyb1 {
  backdrop-filter: blur(6px);
}
._1iyllyb1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1nrfj92k);
  opacity: 0.4;
}
html[data-playroom-dark] ._1iyllyb1::before {
  opacity: 0.7;
}
._1iyllyb1[data-starting-style]::before, ._1iyllyb1[data-ending-style]::before {
  opacity: 0;
}
._1iyllyb3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_112y6vzk) * 2));
  max-height: calc(100dvh - (var(--_112y6vzk) * 2));
}
._1iyllyb3[data-starting-style], ._1iyllyb3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1iyllyb7:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 2px;
}
._1m9tcj52 {
  display: flex;
  flex-direction: row;
  gap: var(--_1m9tcj50);
  align-items: var(--_1m9tcj51);
}
._1m9tcj53 {
  flex-wrap: wrap;
}
._1m9tcj54 {
  --_1m9tcj50: var(--_112y6vzg);
}
._1m9tcj55 {
  --_1m9tcj50: var(--_112y6vzh);
}
._1m9tcj56 {
  --_1m9tcj50: var(--_112y6vzi);
}
._1m9tcj57 {
  --_1m9tcj50: var(--_112y6vzj);
}
._1m9tcj58 {
  --_1m9tcj50: var(--_112y6vzk);
}
._1m9tcj59 {
  --_1m9tcj50: var(--_112y6vzl);
}
._1m9tcj5a {
  --_1m9tcj50: var(--_112y6vzm);
}
._1m9tcj5b {
  --_1m9tcj50: var(--_112y6vzn);
}
._1m9tcj5c {
  --_1m9tcj50: var(--_112y6vzo);
}
._1m9tcj5d {
  --_1m9tcj50: var(--_112y6vzp);
}
._1m9tcj5e {
  align-items: flex-start;
}
._1m9tcj5f {
  align-items: center;
}
._1m9tcj5g {
  align-items: flex-end;
}
.xpsypv0 {
  width: 200px;
}
.jakubs1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1nrfj92l);
}
.jakubs2 {
  width: fit-content;
}
.jakubs4 {
  width: fit-content;
  justify-self: flex-end;
}
.jakubs7:not(.jakubs5) {
  opacity: 0;
  transform: translateX(var(--_112y6vzj));
  pointer-events: none;
}
.jakubs9 {
  background: transparent;
  color: var(--_1nrfj92g);
  isolation: isolate;
}
.jakubs9::after {
  content: "";
  position: absolute;
  transition: var(--_112y6vzf);
  z-index: -1;
  inset: calc(var(--_112y6vzj) * -1);
  background-color: var(--_1nrfj92n);
  border-radius: var(--_112y6vz9);
}
.jakubs9:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 6px;
}
.jakubs9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.jakubsb {
  margin: calc(var(--_112y6vzk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.jakubsf {
  appearance: none;
  outline: none;
  background: var(--_1nrfj92l);
  color: var(--_1nrfj927);
  border: 1px solid var(--_1nrfj92r);
  height: var(--_112y6vzr);
}
.jakubsf:hover, .jakubsf[data-popup-open] {
  background-color: var(--_1nrfj92n);
}
.jakubsf:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  z-index: 1;
}
.jakubsh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.jakubsj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.jakubsk {
  color: var(--_1nrfj92c);
}
.jakubsm {
  height: 1px;
  background-color: var(--_1nrfj92r);
}
@media screen and (max-width: 767px) {
  .jakubs4 {
    display: none;
  }
}
._1xrcj2u2 {
  flex: 1;
  min-height: 0;
}
._1xrcj2u5 {
  --_1xrcj2u3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1xrcj2u3), 1fr);
}
._1xrcj2u7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1xrcj2u9 {
  height: calc(100% / var(--_1xrcj2u0));
  width: calc(100% / var(--_1xrcj2u0));
  border-radius: calc(var(--_112y6vz9) / var(--_1xrcj2u0));
  transform: scale(var(--_1xrcj2u0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1xrcj2u0));
}
._1xrcj2ub {
  background: var(--_1nrfj92n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1xrcj2ud {
  background: transparent;
  outline: 1px solid var(--_1nrfj92r);
}
._1xrcj2ud:hover {
  outline: 2px solid var(--_1nrfj92s);
}
._1xrcj2ud:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 2px;
}
._1xrcj2uh {
  list-style: none;
}
._1xrcj2uj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1nrfj92r);
}
._1xrcj2uj:hover {
  outline: 2px solid var(--_1nrfj92s);
}
._1xrcj2uj:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1xrcj2u5 {
    --_1xrcj2u3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1xrcj2u5 {
    --_1xrcj2u3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1xrcj2u5 {
    --_1xrcj2u3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1xrcj2u5 {
    --_1xrcj2u3: 5;
  }
}
._1sfg6r91 {
  width: fit-content;
}
._1sfg6r93:focus-visible ~ ._1sfg6r95 {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 4px;
}
._1sfg6r98 {
  min-width: 0;
}
._1sfg6r99 {
  flex-shrink: 0;
}
._10fvmtt2 {
  outline: none;
  height: var(--_112y6vzr);
  color: var(--_1nrfj927);
  background: transparent;
}
._10fvmtt2::placeholder {
  color: var(--_1nrfj929);
  font-weight: strong;
}
._10fvmtt2:hover:not(:focus-visible), ._10fvmtt2:hover:not(:focus-visible)::placeholder {
  background: var(--_1nrfj92n);
  opacity: 1;
  color: transparent;
}
._10fvmtt2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._10fvmtt2:focus-visible {
  outline: 2px solid var(--_1nrfj92u);
  outline-offset: 0;
  opacity: 1;
}
._10fvmtt2:focus-visible::placeholder {
  color: transparent;
}
._10fvmtt4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1nrfj927);
}
._10fvmtt2:focus-visible ~ ._10fvmtt4 {
  opacity: 0;
}
._10fvmtt5 {
  color: var(--_1nrfj929);
}
._1dj42wr3 {
  border: 1px solid var(--_1nrfj92r);
}
._1dj42wr5 {
  background-color: var(--_1nrfj92q);
  border-bottom: 1px solid var(--_1nrfj92r);
}
._1dj42wr8 {
  background-color: var(--_1nrfj92q);
  border-top: 1px solid var(--_1nrfj92r);
}
._1dj42wrc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1dj42wr6 {
    display: none;
  }
}
