._104hezp1 {
  background-color: var(--_18rgg1xm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_18rgg1xs);
}
._104hezp2::before {
  content: "";
  position: absolute;
  min-height: var(--be9fvsc);
  min-width: var(--be9fvsc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._14w9md22 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._14w9md24 {
  border: 1px solid var(--_18rgg1xs);
  background-color: var(--_18rgg1xl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._14w9md24::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_18rgg1xn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._14w9md24:hover::after {
  opacity: 1;
}
._14w9md24:focus-visible::after {
  opacity: 1;
}
._14w9md24:active:not([disabled]) {
  transform: scale(0.97);
}
._14w9md24:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 0;
}
._14w9md26 {
  isolation: isolate;
}
._14w9md28 {
  height: var(--_14w9md20);
}
._14w9md2a {
  border-color: var(--_18rgg1xc);
}
._14w9md2a::after {
  background-color: var(--_18rgg1xi);
}
._14w9md2b {
  border-color: var(--_18rgg1xa);
}
._14w9md2b::after {
  background-color: var(--_18rgg1xj);
}
._14w9md2c {
  --_14w9md20: var(--be9fvsq);
}
._14w9md2d {
  --_14w9md20: var(--be9fvsr);
}
._14w9md2e {
  --_14w9md20: var(--be9fvss);
}
.h3cuvv2 {
  display: flex;
  flex-direction: row;
  gap: var(--h3cuvv0);
  align-items: var(--h3cuvv1);
}
.h3cuvv3 {
  flex-wrap: wrap;
}
.h3cuvv4 {
  --h3cuvv0: var(--be9fvsg);
}
.h3cuvv5 {
  --h3cuvv0: var(--be9fvsh);
}
.h3cuvv6 {
  --h3cuvv0: var(--be9fvsi);
}
.h3cuvv7 {
  --h3cuvv0: var(--be9fvsj);
}
.h3cuvv8 {
  --h3cuvv0: var(--be9fvsk);
}
.h3cuvv9 {
  --h3cuvv0: var(--be9fvsl);
}
.h3cuvva {
  --h3cuvv0: var(--be9fvsm);
}
.h3cuvvb {
  --h3cuvv0: var(--be9fvsn);
}
.h3cuvvc {
  --h3cuvv0: var(--be9fvso);
}
.h3cuvvd {
  --h3cuvv0: var(--be9fvsp);
}
.h3cuvve {
  align-items: flex-start;
}
.h3cuvvf {
  align-items: center;
}
.h3cuvvg {
  align-items: flex-end;
}
._12iw0px0 {
  isolation: isolate;
  white-space: nowrap;
}
._12iw0px1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._12iw0px3 {
    display: none;
  }
}
.k2b9390 {
  color: var(--_18rgg1x9);
}
.bfn0hc1 {
  --_18rgg1x7: var(--_18rgg1xd);
  background-color: var(--_18rgg1xo);
  outline: 1px solid var(--_18rgg1xu);
  outline-offset: -1px;
}
.ehprhw3 {
  background: transparent;
  outline: none;
  height: var(--ehprhw0) !important;
  width: var(--ehprhw0) !important;
}
.ehprhw6 {
  padding: var(--ehprhw4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.ehprhw3:active .ehprhw6 {
  transform: scale(.95);
}
.ehprhw3:focus-visible .ehprhw6 {
  outline: 2px solid var(--_18rgg1xv);
}
.ehprhw3[aria-disabled="true"] .ehprhw6 {
  --ehprhw1: var(--_18rgg1x9);
}
.ehprhw7 {
  --ehprhw0: var(--be9fvsq);
  --ehprhw4: var(--be9fvsi);
}
.ehprhw8 {
  --ehprhw0: var(--be9fvsr);
  --ehprhw4: var(--be9fvsj);
}
.ehprhw9 {
  --ehprhw0: var(--be9fvss);
  --ehprhw4: var(--be9fvsj);
}
.ehprhwj {
  --ehprhwa: var(--_18rgg1x7);
  --ehprhwb: var(--_18rgg1xl);
  --ehprhwc: var(--_18rgg1xn);
  --ehprhwd: var(--_18rgg1x8);
  --ehprhwe: var(--_18rgg1xg);
  --ehprhwf: var(--_18rgg1xh);
  --ehprhwg: var(--_18rgg1x7);
  --ehprhwh: var(--_18rgg1x7);
  --ehprhwi: var(--_18rgg1xn);
}
.ehprhwk {
  --ehprhwa: var(--_18rgg1xb);
  --ehprhwb: var(--_18rgg1xl);
  --ehprhwc: var(--_18rgg1xn);
  --ehprhwd: var(--_18rgg1x8);
  --ehprhwe: var(--_18rgg1xb);
  --ehprhwf: var(--_18rgg1xf);
  --ehprhwg: var(--_18rgg1xb);
  --ehprhwh: var(--_18rgg1x8);
  --ehprhwi: var(--_18rgg1xe);
}
.ehprhwl {
  color: var(--ehprhwa);
  background-color: var(--ehprhwb);
  outline: 1px solid var(--_18rgg1xs);
  outline-offset: -1px;
}
.ehprhw3:not([aria-disabled="true"]):hover > .ehprhwl, .ehprhw3:not([aria-disabled="true"]):focus-visible > .ehprhwl, .ehprhw3:not([aria-disabled="true"])[data-popup-open] > .ehprhwl, .ehprhw3:not([aria-disabled="true"])[data-active] > .ehprhwl {
  background-color: var(--ehprhwc);
}
.ehprhwm {
  color: var(--ehprhwd);
  background-color: var(--ehprhwe);
}
.ehprhw3:not([aria-disabled="true"]):hover > .ehprhwm, .ehprhw3:not([aria-disabled="true"]):focus-visible > .ehprhwm, .ehprhw3:not([aria-disabled="true"])[data-popup-open] > .ehprhwm, .ehprhw3:not([aria-disabled="true"])[data-active] > .ehprhwm {
  background-color: var(--ehprhwf);
}
.ehprhwn {
  color: var(--ehprhwg);
}
.ehprhw3:not([aria-disabled="true"]):hover > .ehprhwn, .ehprhw3:not([aria-disabled="true"]):focus-visible > .ehprhwn, .ehprhw3:not([aria-disabled="true"])[data-popup-open] > .ehprhwn, .ehprhw3:not([aria-disabled="true"])[data-active] > .ehprhwn {
  color: var(--ehprhwh);
  background-color: var(--ehprhwi);
}
.ehprhwo {
  margin: calc((var(--ehprhw4) + 2px) * -1);
}
.ehprhw6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._15ti5qg1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._15ti5qg2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._15ti5qg2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._15ti5qg4 {
  --_15ti5qg3: 30px;
}
._15ti5qg5 {
  --_15ti5qg3: 45px;
}
._15ti5qg6 {
  --_15ti5qg3: 60px;
}
._15ti5qg7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._15ti5qg8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._15ti5qg9 {
  overflow: auto;
}
._15ti5qge {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_15ti5qgc, 0)),linear-gradient(to right, transparent 0, black var(--_15ti5qga, 0)),linear-gradient(to left, transparent 0, black var(--_15ti5qgb, 0)),linear-gradient(to top, transparent 0, black var(--_15ti5qgd, 0));
}
._15ti5qgf {
  --_15ti5qga: var(--_15ti5qg3);
}
._15ti5qgg {
  --_15ti5qgb: var(--_15ti5qg3);
}
._15ti5qgh {
  --_15ti5qgc: var(--_15ti5qg3);
}
._15ti5qgi {
  --_15ti5qgd: var(--_15ti5qg3);
}
._9486x82 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._9486x83 {
  width: 250px;
}
._9486x86 {
  --_9486x84: var(--_18rgg1xn);
  outline: none;
  cursor: default;
  color: var(--_18rgg1x7);
  height: 34px;
  isolation: isolate;
}
._9486x86::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--be9fvs8);
  z-index: -1;
}
._9486x86[data-popup-open]:not([aria-disabled])::before, ._9486x86[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_9486x84);
}
._9486x86:focus-visible::before {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: -2px;
}
._9486x86[aria-disabled] {
  color: var(--_18rgg1x9);
  cursor: not-allowed;
}
._9486x87 {
  cursor: pointer;
  text-decoration: none;
}
._9486x87[aria-disabled] {
  cursor: not-allowed;
}
._9486x88 {
  margin-left: 3px;
}
._9486x89 {
  --_9486x84: var(--_18rgg1xj);
  color: var(--_18rgg1xa);
}
._9486x8a {
  --_9486x84: transparent;
  color: var(--_18rgg1xc);
}
._9486x8a svg {
  color: var(--_18rgg1xc);
}
._9486x8c {
  isolation: isolate;
}
._9486x8g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._9486x8i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_18rgg1x7);
  z-index: 1;
}
[aria-checked="true"] ._9486x8i {
  color: var(--_18rgg1x8);
}
._9486x8k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_18rgg1x7);
  isolation: isolate;
}
[aria-checked="true"] ._9486x8k {
  background-color: var(--_18rgg1xe);
  border-color: var(--_18rgg1xe);
}
._9486x8p {
  height: 34px;
}
._9486x8r {
  height: 1px;
  background-color: var(--_18rgg1xs);
}
._9486x8t {
  background: transparent;
  border: none;
}
._9486x8t:hover, ._9486x8t[data-highlighted] {
  background-color: var(--_18rgg1xn);
}
._9486x8t:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: -2px;
}
._1do3yqo1 {
  justify-content: safe center;
}
._1do3yqo5 {
  flex-shrink: 0;
  width: var(--_1do3yqo2);
}
._1do3yqo5:last-child {
  padding-right: var(--be9fvsn);
}
._1do3yqo6 {
  transition: color 150ms ease;
}
._1do3yqo5:hover ._1do3yqo6, ._1do3yqo5:focus-within ._1do3yqo6, ._1do3yqo3 ._1do3yqo6 {
  color: var(--_18rgg1xb);
}
._1do3yqo8 {
  outline: 1px solid var(--_18rgg1xs);
}
._1do3yqoa {
  transition: opacity 150ms ease;
}
._1do3yqo5:not(:hover, :focus-within, ._1do3yqo3) ._1do3yqoa {
  opacity: 1;
}
._1do3yqoc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1do3yqoa:hover ~ ._1do3yqo8 ._1do3yqoc, ._1do3yqoa:focus-within ~ ._1do3yqo8._1do3yqoc {
  outline-color: var(--_18rgg1xb);
}
._1do3yqoe {
  transition: opacity 150ms ease;
}
._1do3yqo5:not(:hover, :focus-within, ._1do3yqo3) ._1do3yqoe {
  opacity: 0;
}
._12yz0ck1 {
  color: var(--_18rgg1x7);
  font-family: var(--be9fvs0);
}
._12yz0ck2 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._12yz0ck3 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._12yz0ck4 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.w1yxam1 {
  display: flex;
  flex-direction: column;
  gap: var(--w1yxam0);
}
.w1yxam2 {
  --w1yxam0: var(--be9fvsg);
}
.w1yxam3 {
  --w1yxam0: var(--be9fvsh);
}
.w1yxam4 {
  --w1yxam0: var(--be9fvsi);
}
.w1yxam5 {
  --w1yxam0: var(--be9fvsj);
}
.w1yxam6 {
  --w1yxam0: var(--be9fvsk);
}
.w1yxam7 {
  --w1yxam0: var(--be9fvsl);
}
.w1yxam8 {
  --w1yxam0: var(--be9fvsm);
}
.w1yxam9 {
  --w1yxam0: var(--be9fvsn);
}
.w1yxama {
  --w1yxam0: var(--be9fvso);
}
.w1yxamb {
  --w1yxam0: var(--be9fvsp);
}
.w1yxamc {
  align-items: flex-start;
}
.w1yxamd {
  align-items: center;
}
.w1yxame {
  align-items: flex-end;
}
._1voy5lj1 {
  backdrop-filter: blur(6px);
}
._1voy5lj1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_18rgg1xk);
  opacity: 0.4;
}
html[data-playroom-dark] ._1voy5lj1::before {
  opacity: 0.7;
}
._1voy5lj1[data-starting-style]::before, ._1voy5lj1[data-ending-style]::before {
  opacity: 0;
}
._1voy5lj3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--be9fvsk) * 2));
  max-height: calc(100dvh - (var(--be9fvsk) * 2));
}
._1voy5lj3[data-starting-style], ._1voy5lj3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1voy5lj7:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 2px;
}
._1k50poj0 {
  width: 200px;
}
._2afj791 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_18rgg1xl);
}
._2afj792 {
  width: fit-content;
}
._2afj794 {
  width: fit-content;
  justify-self: flex-end;
}
._2afj797:not(._2afj795) {
  opacity: 0;
  transform: translateX(var(--be9fvsj));
  pointer-events: none;
}
._2afj799 {
  background: transparent;
  color: var(--_18rgg1xg);
  isolation: isolate;
}
._2afj799::after {
  content: "";
  position: absolute;
  transition: var(--be9fvsf);
  z-index: -1;
  inset: calc(var(--be9fvsj) * -1);
  background-color: var(--_18rgg1xn);
  border-radius: var(--be9fvs9);
}
._2afj799:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 6px;
}
._2afj799:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._2afj79b {
  margin: calc(var(--be9fvsk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._2afj79f {
  appearance: none;
  outline: none;
  background: var(--_18rgg1xl);
  color: var(--_18rgg1x7);
  border: 1px solid var(--_18rgg1xs);
  height: var(--be9fvsr);
}
._2afj79f:hover, ._2afj79f[data-popup-open] {
  background-color: var(--_18rgg1xn);
}
._2afj79f:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  z-index: 1;
}
._2afj79h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._2afj79j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._2afj79k {
  color: var(--_18rgg1xc);
}
._2afj79m {
  height: 1px;
  background-color: var(--_18rgg1xs);
}
@media screen and (max-width: 767px) {
  ._2afj794 {
    display: none;
  }
}
._1hz13m92 {
  flex: 1;
  min-height: 0;
}
._1hz13m95 {
  --_1hz13m93: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1hz13m93), 1fr);
}
._1hz13m97 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1hz13m99 {
  height: calc(100% / var(--_1hz13m90));
  width: calc(100% / var(--_1hz13m90));
  border-radius: calc(var(--be9fvs9) / var(--_1hz13m90));
  transform: scale(var(--_1hz13m90));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1hz13m90));
}
._1hz13m9b {
  background: var(--_18rgg1xn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1hz13m9d {
  background: transparent;
  outline: 1px solid var(--_18rgg1xs);
}
._1hz13m9d:hover {
  outline: 2px solid var(--_18rgg1xt);
}
._1hz13m9d:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 2px;
}
._1hz13m9h {
  list-style: none;
}
._1hz13m9j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_18rgg1xs);
}
._1hz13m9j:hover {
  outline: 2px solid var(--_18rgg1xt);
}
._1hz13m9j:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1hz13m95 {
    --_1hz13m93: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1hz13m95 {
    --_1hz13m93: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1hz13m95 {
    --_1hz13m93: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1hz13m95 {
    --_1hz13m93: 5;
  }
}
.wlan361 {
  width: fit-content;
}
.wlan363:focus-visible ~ .wlan365 {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 4px;
}
.wlan368 {
  min-width: 0;
}
.wlan369 {
  flex-shrink: 0;
}
.n6r7fv2 {
  outline: none;
  height: var(--be9fvsr);
  color: var(--_18rgg1x7);
  background: transparent;
}
.n6r7fv2::placeholder {
  color: var(--_18rgg1x9);
  font-weight: strong;
}
.n6r7fv2:hover:not(:focus-visible), .n6r7fv2:hover:not(:focus-visible)::placeholder {
  background: var(--_18rgg1xn);
  opacity: 1;
  color: transparent;
}
.n6r7fv2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.n6r7fv2:focus-visible {
  outline: 2px solid var(--_18rgg1xv);
  outline-offset: 0;
  opacity: 1;
}
.n6r7fv2:focus-visible::placeholder {
  color: transparent;
}
.n6r7fv4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_18rgg1x7);
}
.n6r7fv2:focus-visible ~ .n6r7fv4 {
  opacity: 0;
}
.n6r7fv5 {
  color: var(--_18rgg1x9);
}
._12s51nd3 {
  border: 1px solid var(--_18rgg1xs);
}
._12s51nd5 {
  background-color: var(--_18rgg1xq);
  border-bottom: 1px solid var(--_18rgg1xs);
}
._12s51nd8 {
  background-color: var(--_18rgg1xq);
  border-top: 1px solid var(--_18rgg1xs);
}
._12s51ndc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._12s51nd6 {
    display: none;
  }
}
