@keyframes _1x5issd4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1x5issd1 {
  z-index: 100;
  background: #1c2230;
  color: var(--hflziu9);
}
._1x5issd3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1x5issd4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1x5issd5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
