@keyframes lvrd7s4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.lvrd7s1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_5l4xlw9);
}
.lvrd7s3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: lvrd7s4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.lvrd7s5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
.q30g201 {
  display: flex;
  flex-direction: column;
  gap: var(--q30g200);
}
.q30g202 {
  --q30g200: var(--_17qf751g);
}
.q30g203 {
  --q30g200: var(--_17qf751h);
}
.q30g204 {
  --q30g200: var(--_17qf751i);
}
.q30g205 {
  --q30g200: var(--_17qf751j);
}
.q30g206 {
  --q30g200: var(--_17qf751k);
}
.q30g207 {
  --q30g200: var(--_17qf751l);
}
.q30g208 {
  --q30g200: var(--_17qf751m);
}
.q30g209 {
  --q30g200: var(--_17qf751n);
}
.q30g20a {
  --q30g200: var(--_17qf751o);
}
.q30g20b {
  --q30g200: var(--_17qf751p);
}
