._7qa5l51 {
  background-color: var(--qcpflxl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--qcpflxq);
}
._7qa5l52::before {
  content: "";
  position: absolute;
  min-height: var(--qxtnysc);
  min-width: var(--qxtnysc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._97f4gh2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._97f4gh4 {
  border: 1px solid var(--qcpflxq);
  background-color: var(--qcpflxk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._97f4gh4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--qcpflxm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._97f4gh4:hover::after {
  opacity: 1;
}
._97f4gh4:focus-visible::after {
  opacity: 1;
}
._97f4gh4:active:not([disabled]) {
  transform: scale(0.97);
}
._97f4gh4:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 0;
}
._97f4gh6 {
  isolation: isolate;
}
._97f4gh8 {
  height: var(--_97f4gh0);
}
._97f4gha {
  border-color: var(--qcpflxc);
}
._97f4gha::after {
  background-color: var(--qcpflxh);
}
._97f4ghb {
  border-color: var(--qcpflxa);
}
._97f4ghb::after {
  background-color: var(--qcpflxi);
}
._97f4ghc {
  --_97f4gh0: var(--qxtnysq);
}
._97f4ghd {
  --_97f4gh0: var(--qxtnysr);
}
._97f4ghe {
  --_97f4gh0: var(--qxtnyss);
}
._17woc2x1 {
  --qcpflx7: var(--qcpflxd);
  background-color: var(--qcpflxn);
  outline: 1px solid var(--qcpflxs);
  outline-offset: -1px;
}
._1dmnxal3 {
  background: transparent;
  outline: none;
  height: var(--_1dmnxal0);
  width: var(--_1dmnxal0);
}
._1dmnxal6 {
  padding: var(--_1dmnxal4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1dmnxal1);
  isolation: isolate;
}
._1dmnxal3[data-pressed] ._1dmnxal6, ._1dmnxal3:active ._1dmnxal6 {
  transform: scale(.95);
}
._1dmnxal3:focus-visible ._1dmnxal6 {
  outline: 2px solid var(--qcpflxt);
}
._1dmnxal7 {
  --_1dmnxal0: var(--qxtnysq);
  --_1dmnxal4: 6px;
}
._1dmnxal8 {
  --_1dmnxal0: var(--qxtnysr);
  --_1dmnxal4: var(--qxtnysj);
}
._1dmnxal9 {
  --_1dmnxal0: var(--qxtnyss);
  --_1dmnxal4: var(--qxtnysj);
}
._1dmnxala {
  --_1dmnxal1: var(--qcpflx7);
}
._1dmnxalb {
  --_1dmnxal1: var(--qcpflxb);
}
._1dmnxalc {
  --_1dmnxal1: var(--qcpflxc);
}
._1dmnxald {
  background-color: var(--qcpflxk);
  outline: 1px solid var(--qcpflxq);
  outline-offset: -1px;
}
._1dmnxald:hover, [data-popup-open] > ._1dmnxald {
  background-color: var(--qcpflxm);
}
._1dmnxale {
  --_1dmnxal1: var(--qcpflx8);
  background-color: var(--qcpflxf);
}
._1dmnxale:hover, [data-popup-open] > ._1dmnxale {
  background-color: var(--qcpflxg);
}
._1dmnxalf:hover, [data-popup-open] > ._1dmnxalf {
  background-color: var(--qcpflxm);
}
._1dmnxalg {
  margin: calc((var(--_1dmnxal4) + 2px) * -1);
}
._1dmnxal6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.antk742 {
  position: relative;
  background-color: transparent;
  border-radius: var(--qxtnys8);
  color: var(--antk740);
  isolation: isolate;
  outline: none;
}
.antk742[data-pressed], .antk742:active {
  transform: scale(.95);
}
.antk742::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--qxtnysi) * -1);
  background-color: var(--antk740);
  border-radius: var(--qxtnys8);
}
.antk742:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.antk742:hover, .antk742[data-popup-open]:not(:focus-visible) {
  color: var(--qcpflx8);
}
.antk742:focus-visible::after {
  outline: 2px solid var(--qcpflxt);
}
.antk742:focus-visible:not(:hover)::after {
  background: transparent;
}
.antk743 {
  --antk740: var(--qcpflxb);
}
.antk744 {
  --antk740: var(--qcpflxc);
}
.antk742 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1u4d6z61 {
  justify-content: safe center;
}
._1u4d6z65 {
  flex-shrink: 0;
  width: var(--_1u4d6z62);
}
._1u4d6z66 {
  transition: color 150ms ease;
}
._1u4d6z65:hover ._1u4d6z66, ._1u4d6z65:focus-within ._1u4d6z66, ._1u4d6z63 ._1u4d6z66 {
  color: var(--qcpflxb);
}
._1u4d6z68 {
  outline: 1px solid var(--qcpflxq);
}
._1u4d6z6a {
  transition: opacity 150ms ease;
}
._1u4d6z65:not(:hover, :focus-within, ._1u4d6z63) ._1u4d6z6a {
  opacity: 1;
}
._1u4d6z6c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1u4d6z6a:hover ~ ._1u4d6z68 ._1u4d6z6c, ._1u4d6z6a:focus-within ~ ._1u4d6z68._1u4d6z6c {
  outline-color: var(--qcpflxb);
}
._1u4d6z6e {
  transition: opacity 150ms ease;
}
._1u4d6z65:not(:hover, :focus-within, ._1u4d6z63) ._1u4d6z6e {
  opacity: 0;
}
._1d6wji11 {
  color: var(--qcpflx7);
  font-family: var(--qxtnys0);
}
._1d6wji12 {
  --_5ehzfa0: 36px;
  --_5ehzfa1: 44px;
  --_5ehzfa2: -0.2741em;
  --_5ehzfa3: -0.2031em;
}
._1d6wji13 {
  --_5ehzfa0: 20px;
  --_5ehzfa1: 28px;
  --_5ehzfa2: -0.363em;
  --_5ehzfa3: -0.292em;
}
._1d6wji14 {
  --_5ehzfa0: 16px;
  --_5ehzfa1: 20px;
  --_5ehzfa2: -0.288em;
  --_5ehzfa3: -0.217em;
}
.e1jz441 {
  display: flex;
  flex-direction: column;
  gap: var(--e1jz440);
}
.e1jz442 {
  --e1jz440: var(--qxtnysg);
}
.e1jz443 {
  --e1jz440: var(--qxtnysh);
}
.e1jz444 {
  --e1jz440: var(--qxtnysi);
}
.e1jz445 {
  --e1jz440: var(--qxtnysj);
}
.e1jz446 {
  --e1jz440: var(--qxtnysk);
}
.e1jz447 {
  --e1jz440: var(--qxtnysl);
}
.e1jz448 {
  --e1jz440: var(--qxtnysm);
}
.e1jz449 {
  --e1jz440: var(--qxtnysn);
}
.e1jz44a {
  --e1jz440: var(--qxtnyso);
}
.e1jz44b {
  --e1jz440: var(--qxtnysp);
}
.e1jz44c {
  align-items: flex-start;
}
.e1jz44d {
  align-items: center;
}
.e1jz44e {
  align-items: flex-end;
}
._1rdtp3l1 {
  backdrop-filter: blur(6px);
}
._1rdtp3l1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--qcpflxj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1rdtp3l1::before {
  opacity: 0.7;
}
._1rdtp3l1[data-starting-style]::before, ._1rdtp3l1[data-ending-style]::before {
  opacity: 0;
}
._1rdtp3l3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--qxtnysk) * 2));
  max-height: calc(100dvh - (var(--qxtnysk) * 2));
}
._1rdtp3l3[data-starting-style], ._1rdtp3l3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1rdtp3l7:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 2px;
}
._1fuqhnw2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1fuqhnw0);
  align-items: var(--_1fuqhnw1);
}
._1fuqhnw3 {
  flex-wrap: wrap;
}
._1fuqhnw4 {
  --_1fuqhnw0: var(--qxtnysg);
}
._1fuqhnw5 {
  --_1fuqhnw0: var(--qxtnysh);
}
._1fuqhnw6 {
  --_1fuqhnw0: var(--qxtnysi);
}
._1fuqhnw7 {
  --_1fuqhnw0: var(--qxtnysj);
}
._1fuqhnw8 {
  --_1fuqhnw0: var(--qxtnysk);
}
._1fuqhnw9 {
  --_1fuqhnw0: var(--qxtnysl);
}
._1fuqhnwa {
  --_1fuqhnw0: var(--qxtnysm);
}
._1fuqhnwb {
  --_1fuqhnw0: var(--qxtnysn);
}
._1fuqhnwc {
  --_1fuqhnw0: var(--qxtnyso);
}
._1fuqhnwd {
  --_1fuqhnw0: var(--qxtnysp);
}
._1fuqhnwe {
  align-items: flex-start;
}
._1fuqhnwf {
  align-items: center;
}
._1fuqhnwg {
  align-items: flex-end;
}
.athzkt0 {
  isolation: isolate;
  white-space: nowrap;
}
.athzkt1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .athzkt3 {
    display: none;
  }
}
._15ooi8k1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._15ooi8k2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._15ooi8k2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._15ooi8k4 {
  --_15ooi8k3: 30px;
}
._15ooi8k5 {
  --_15ooi8k3: 45px;
}
._15ooi8k6 {
  --_15ooi8k3: 60px;
}
._15ooi8k7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._15ooi8k8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._15ooi8k9 {
  overflow: auto;
}
._15ooi8ke {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_15ooi8kc, 0)),linear-gradient(to right, transparent 0, black var(--_15ooi8ka, 0)),linear-gradient(to left, transparent 0, black var(--_15ooi8kb, 0)),linear-gradient(to top, transparent 0, black var(--_15ooi8kd, 0));
}
._15ooi8kf {
  --_15ooi8ka: var(--_15ooi8k3);
}
._15ooi8kg {
  --_15ooi8kb: var(--_15ooi8k3);
}
._15ooi8kh {
  --_15ooi8kc: var(--_15ooi8k3);
}
._15ooi8ki {
  --_15ooi8kd: var(--_15ooi8k3);
}
._2tpt7q2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._2tpt7q3 {
  width: 250px;
}
._2tpt7q6 {
  --_2tpt7q4: var(--qcpflxm);
  outline: none;
  cursor: default;
  color: var(--qcpflx7);
  height: 34px;
  isolation: isolate;
}
._2tpt7q6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--qxtnys8);
  z-index: -1;
}
._2tpt7q6[data-popup-open]:not([aria-disabled])::before, ._2tpt7q6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_2tpt7q4);
}
._2tpt7q6:focus-visible::before {
  outline: 2px solid var(--qcpflxt);
  outline-offset: -2px;
}
._2tpt7q6[aria-disabled] {
  color: var(--qcpflx9);
  cursor: not-allowed;
}
._2tpt7q7 {
  cursor: pointer;
  text-decoration: none;
}
._2tpt7q7[aria-disabled] {
  cursor: not-allowed;
}
._2tpt7q8 {
  margin-left: 3px;
}
._2tpt7q9 {
  --_2tpt7q4: var(--qcpflxi);
  color: var(--qcpflxa);
}
._2tpt7qa {
  --_2tpt7q4: transparent;
  color: var(--qcpflxc);
}
._2tpt7qa svg {
  color: var(--qcpflxc);
}
._2tpt7qc {
  isolation: isolate;
}
._2tpt7qg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._2tpt7qi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--qcpflx7);
  z-index: 1;
}
[aria-checked="true"] ._2tpt7qi {
  color: var(--qcpflx8);
}
._2tpt7qk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--qcpflx7);
  isolation: isolate;
}
[aria-checked="true"] ._2tpt7qk {
  background-color: var(--qcpflxe);
  border-color: var(--qcpflxe);
}
._2tpt7qp {
  height: 34px;
}
._2tpt7qr {
  height: 1px;
  background-color: var(--qcpflxq);
}
._2tpt7qs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._2tpt7qu {
  background: transparent;
  border: none;
}
._2tpt7qu:hover, ._2tpt7qu[data-highlighted] {
  background-color: var(--qcpflxm);
}
._2tpt7qu:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: -2px;
}
._1rbmurz0 {
  width: 200px;
}
._1j2uhty1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--qcpflxk);
}
._1j2uhty2 {
  width: fit-content;
}
._1j2uhty5 {
  width: fit-content;
  justify-self: flex-end;
}
._1j2uhty5:not(._1j2uhty3) {
  opacity: 0;
  transform: translateX(var(--qxtnysj));
  pointer-events: none;
}
._1j2uhty7 {
  background: transparent;
  color: var(--qcpflxf);
  isolation: isolate;
}
._1j2uhty7::after {
  content: "";
  position: absolute;
  transition: var(--qxtnysf);
  z-index: -1;
  inset: calc(var(--qxtnysj) * -1);
  background-color: var(--qcpflxm);
  border-radius: var(--qxtnys9);
}
._1j2uhty7:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 6px;
}
._1j2uhty7:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1j2uhty9 {
  margin: calc(var(--qxtnysk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1j2uhtyd {
  appearance: none;
  outline: none;
  background: var(--qcpflxk);
  color: var(--qcpflx7);
  border: 1px solid var(--qcpflxq);
  height: var(--qxtnysr);
}
._1j2uhtyd:hover, ._1j2uhtyd[data-popup-open] {
  background-color: var(--qcpflxm);
}
._1j2uhtyd:focus-visible {
  outline: 2px solid var(--qcpflxt);
  z-index: 1;
}
._1j2uhtyf {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1j2uhtyh {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1j2uhtyi {
  color: var(--qcpflxc);
}
._1j2uhtyk {
  height: 1px;
  background-color: var(--qcpflxq);
}
@media screen and (max-width: 767px) {
  ._1j2uhty5 {
    display: none;
  }
}
._1c9o2nc2 {
  flex: 1;
  min-height: 0;
}
._1c9o2nc5 {
  --_1c9o2nc3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1c9o2nc3), 1fr);
}
._1c9o2nc7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1c9o2nc9 {
  height: calc(100% / var(--_1c9o2nc0));
  width: calc(100% / var(--_1c9o2nc0));
  border-radius: calc(var(--qxtnys9) / var(--_1c9o2nc0));
  transform: scale(var(--_1c9o2nc0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1c9o2nc0));
}
._1c9o2ncb {
  background: var(--qcpflxm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1c9o2ncd {
  background: transparent;
  outline: 1px solid var(--qcpflxq);
}
._1c9o2ncd:hover {
  outline: 2px solid var(--qcpflxr);
}
._1c9o2ncd:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 2px;
}
._1c9o2nch {
  list-style: none;
}
._1c9o2ncj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--qcpflxq);
}
._1c9o2ncj:hover {
  outline: 2px solid var(--qcpflxr);
}
._1c9o2ncj:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1c9o2nc5 {
    --_1c9o2nc3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1c9o2nc5 {
    --_1c9o2nc3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1c9o2nc5 {
    --_1c9o2nc3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1c9o2nc5 {
    --_1c9o2nc3: 5;
  }
}
._1qfs7mx1 {
  width: fit-content;
}
._1qfs7mx3:focus-visible ~ ._1qfs7mx5 {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 4px;
}
._1qfs7mx8 {
  min-width: 0;
}
._1qfs7mx9 {
  flex-shrink: 0;
}
._14yihv42 {
  outline: none;
  height: var(--qxtnysr);
  color: var(--qcpflx7);
  background: transparent;
}
._14yihv42::placeholder {
  color: var(--qcpflx9);
  font-weight: strong;
}
._14yihv42:hover:not(:focus-visible), ._14yihv42:hover:not(:focus-visible)::placeholder {
  background: var(--qcpflxm);
  opacity: 1;
  color: transparent;
}
._14yihv42:hover:not(:focus-visible)::selection {
  background: transparent;
}
._14yihv42:focus-visible {
  outline: 2px solid var(--qcpflxt);
  outline-offset: 0;
  opacity: 1;
}
._14yihv42:focus-visible::placeholder {
  color: transparent;
}
._14yihv44 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--qcpflx7);
}
._14yihv42:focus-visible ~ ._14yihv44 {
  opacity: 0;
}
._14yihv45 {
  color: var(--qcpflx9);
}
.c5hu2q3 {
  border: 1px solid var(--qcpflxq);
}
.c5hu2q5 {
  background-color: var(--qcpflxp);
  border-bottom: 1px solid var(--qcpflxq);
}
.c5hu2q8 {
  background-color: var(--qcpflxp);
  border-top: 1px solid var(--qcpflxq);
}
.c5hu2qc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .c5hu2q6 {
    display: none;
  }
}
