._10tlq81 {
  background-color: var(--ca6xv8l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--ca6xv8q);
}
._10tlq82::before {
  content: "";
  position: absolute;
  min-height: var(--_1s25f2zc);
  min-width: var(--_1s25f2zc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1nxtw491 {
  --ca6xv87: var(--ca6xv8d);
  background-color: var(--ca6xv8n);
  outline: 1px solid var(--ca6xv8s);
  outline-offset: -1px;
}
._2pjy9v3 {
  background: transparent;
  outline: none;
  height: var(--_2pjy9v0) !important;
  width: var(--_2pjy9v0) !important;
}
._2pjy9v6 {
  padding: var(--_2pjy9v4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_2pjy9v1);
  isolation: isolate;
}
._2pjy9v3[data-pressed] ._2pjy9v6, ._2pjy9v3:active ._2pjy9v6 {
  transform: scale(.95);
}
._2pjy9v3:focus-visible ._2pjy9v6 {
  outline: 2px solid var(--ca6xv8t);
}
._2pjy9v3[aria-disabled="true"] ._2pjy9v6 {
  --_2pjy9v1: var(--ca6xv89);
}
._2pjy9v7 {
  --_2pjy9v0: var(--_1s25f2zq);
  --_2pjy9v4: 6px;
}
._2pjy9v8 {
  --_2pjy9v0: var(--_1s25f2zr);
  --_2pjy9v4: var(--_1s25f2zj);
}
._2pjy9v9 {
  --_2pjy9v0: var(--_1s25f2zs);
  --_2pjy9v4: var(--_1s25f2zj);
}
._2pjy9va {
  --_2pjy9v1: var(--ca6xv87);
}
._2pjy9vb {
  --_2pjy9v1: var(--ca6xv8b);
}
._2pjy9vc {
  --_2pjy9v1: var(--ca6xv8c);
}
._2pjy9vd {
  background-color: var(--ca6xv8k);
  outline: 1px solid var(--ca6xv8q);
  outline-offset: -1px;
}
._2pjy9v3:not([aria-disabled="true"]):hover > ._2pjy9vd, ._2pjy9v3:not([aria-disabled="true"])[data-popup-open] > ._2pjy9vd {
  background-color: var(--ca6xv8m);
}
._2pjy9ve {
  --_2pjy9v1: var(--ca6xv88);
  background-color: var(--ca6xv8f);
}
._2pjy9v3:not([aria-disabled="true"]):hover > ._2pjy9ve, ._2pjy9v3:not([aria-disabled="true"])[data-popup-open] > ._2pjy9ve {
  background-color: var(--ca6xv8g);
}
._2pjy9v3:not([aria-disabled="true"]):hover > ._2pjy9vf, ._2pjy9v3:not([aria-disabled="true"])[data-popup-open] > ._2pjy9vf {
  background-color: var(--ca6xv8m);
}
._2pjy9vg {
  margin: calc((var(--_2pjy9v4) + 2px) * -1);
}
._2pjy9v6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

.qla1ub0{align-self:stretch}@media screen and (min-width:740px){.qla1ub0{align-self:auto}.qla1ub0>*{flex-basis:auto;min-width:0;width:auto}}
._1xcxb5b0{height:1px;width:1px;clip:rect(1px,1px,1px,1px);white-space:nowrap}
._7mfsh41::placeholder{color:var(--_2malj21q)}._7mfsh42{padding-right:var(--_2malj29)}._7mfsh43{padding-left:calc(var(--_2malj29) - 2px)}html:not(.yude810) ._7mfsh44{opacity:0}._7mfsh40:focus~._7mfsh45,._7mfsh40:hover:not(:disabled)~._7mfsh45{opacity:1}._7mfsh46{background:var(--_2malj2l);opacity:.4;width:var(--_2malj2y)}
._19799tg0{background:#000;height:100vh;width:100vw}._19799tg1{opacity:.4}._19799tg2{max-height:calc((var(--_2malj29) * 6) + var(--_2malj21));overflow-y:auto}@media screen and (min-width:740px){._19799tg2{max-height:calc((var(--_2malj29) * 8) + var(--_2malj21))}}
.yfupxx0{margin:0 auto}
._34zfzh0{height:var(--_2malj2y)}._34zfzh3{background:var(--_34zfzh1)}._34zfzh4{background:var(--_34zfzh2)}html:not(.yude810) ._34zfzh5{--_34zfzh1:var(--_2malj2t);--_34zfzh2:var(--_2malj2r)}html:not(.yude810) ._34zfzh6{--_34zfzh1:var(--_2malj2r);--_34zfzh2:var(--_2malj2t)}html.yude810 ._34zfzh7{--_34zfzh1:var(--_2malj2t);--_34zfzh2:var(--_2malj2r)}html.yude810 ._34zfzh8{--_34zfzh1:var(--_2malj2r);--_34zfzh2:var(--_2malj2t)}
@media print{._30ji5g0{display:none!important}}
@keyframes _1knosal9{33%{transform:translateY(-1.4em)}66%{transform:translateY(1.4em)}}@keyframes _1knosald{0%{opacity:0}to{opacity:1}}._1knosal0{height:var(--_2malj233)}._1knosal1{height:var(--_2malj23d)}._1knosal2{height:var(--_2malj23n)}._1knosal3{height:var(--_2malj23x)}._1knosal4{height:var(--_2malj231)}._1knosal5{height:var(--_2malj23b)}._1knosal6{height:var(--_2malj23l)}._1knosal7{height:var(--_2malj23v)}._1knosal8{fill:currentcolor}._1knosala{animation-duration:.6s;animation-fill-mode:both;animation-iteration-count:infinite;animation-name:_1knosal9;animation-timing-function:ease-in-out}._1knosalb{transform:translateY(1.4em)}._1knosalb:first-child{animation-delay:.14s}._1knosalb:nth-child(2){animation-delay:70ms}._1knosale{animation-delay:.8s;animation-duration:.25s;animation-fill-mode:forwards;animation-iteration-count:1;animation-name:_1knosald;animation-timing-function:ease-in;opacity:0}@media screen and (min-width:740px){._1knosal0{height:var(--_2malj238)}._1knosal1{height:var(--_2malj23i)}._1knosal2{height:var(--_2malj23s)}._1knosal3{height:var(--_2malj242)}._1knosal4{height:var(--_2malj236)}._1knosal5{height:var(--_2malj23g)}._1knosal6{height:var(--_2malj23q)}._1knosal7{height:var(--_2malj240)}}
.ikpncb0{-webkit-overflow-scrolling:touch;-webkit-mask-composite:destination-in;mask-composite:intersect}.ikpncb1{scrollbar-width:none;-ms-overflow-style:none}.ikpncb1::-webkit-scrollbar{height:0;width:0}.ikpncb3{--ikpncb2:40px}.ikpncb4{--ikpncb2:60px}.ikpncb5{--ikpncb2:80px}.ikpncb6{min-height:-moz-fit-content;min-height:fit-content;overflow-x:auto;overflow-y:hidden}.ikpncb7{overflow-x:hidden;overflow-y:auto}.ikpncb8{overflow:auto}.ikpncbd{-webkit-mask-image:linear-gradient(to bottom,transparent 0,#000 var(--ikpncbb,0)),linear-gradient(to right,transparent 0,#000 var(--ikpncb9,0)),linear-gradient(to left,transparent 0,#000 var(--ikpncba,0)),linear-gradient(to top,transparent 0,#000 var(--ikpncbc,0));mask-image:linear-gradient(to bottom,transparent 0,#000 var(--ikpncbb,0)),linear-gradient(to right,transparent 0,#000 var(--ikpncb9,0)),linear-gradient(to left,transparent 0,#000 var(--ikpncba,0)),linear-gradient(to top,transparent 0,#000 var(--ikpncbc,0))}.ikpncbe{--ikpncb9:var(--ikpncb2)}.ikpncbf{--ikpncba:var(--ikpncb2)}.ikpncbg{--ikpncbb:var(--ikpncb2)}.ikpncbh{--ikpncbc:var(--ikpncb2)}
.rrbfy71{height:100vh;width:100vw}.rrbfy76{bottom:var(--rrbfy72);left:var(--rrbfy73);right:var(--rrbfy75);top:var(--rrbfy74)}.rrbfy78{width:calc(var(--rrbfy77) / 4)}.rrbfy79{--rrbfy77:var(--_2malj212)}.rrbfy7a{--rrbfy77:var(--_2malj213)}.rrbfy7b{--rrbfy77:var(--_2malj214)}.rrbfy7c{max-height:calc((var(--_2malj29) * 9.5) + (var(--rrbfy70) * 2))}
._15h62rq0{margin:-1px -6px}
._1fqga9y1{min-height:var(--_1fqga9y0,100vh)}
._1ya15ka2{--_1ya15ka0:var(--_2malj25f);--_1ya15ka1:var(--_2malj23n)}._1ya15ka3{--_1ya15ka0:var(--_2malj25g);--_1ya15ka1:var(--_2malj23d)}._1ya15ka4{height:44px;left:calc(((44px - var(--_1ya15ka0)) / 2) * -1);top:calc(((44px - var(--_1ya15ka0)) / 2) * -1);width:44px}[data-braid-debug] ._1ya15ka4{background:red;opacity:.2}._1ya15ka5{height:var(--_1ya15ka0);outline:var(--_2malj210) solid transparent;transition:outline-color .125s ease;width:var(--_1ya15ka0)}._1ya15ka4[type=checkbox]:checked~._1ya15ka5{background:transparent}._1ya15ka4:focus-visible~._1ya15ka5{outline-color:var(--_2malj2m)}._1ya15ka6{padding-top:calc((var(--_1ya15ka0) - var(--_1ya15ka1)) / 2)}._1ya15ka4._1ya15ka7~* ._1ya15ka8,._1ya15ka4:checked~* ._1ya15ka8{display:block;z-index:1}._1ya15ka4._1ya15ka7+._1ya15ka5>._1ya15ka9,._1ya15ka4:checked+._1ya15ka5>._1ya15ka9{opacity:1}html:not(.yude810) ._1ya15kaa{opacity:0}._1ya15ka4:focus:not(._1ya15ka7)+._1ya15ka5>._1ya15kab,._1ya15ka4:hover:not(:checked):not(._1ya15ka7):not(:disabled)+._1ya15ka5>._1ya15kab{opacity:1}._1ya15kab>._1ya15kac{opacity:.2}._1ya15kad{opacity:.3}html:not(.yude810) ._1ya15kad{background-color:var(--_2malj21q)}html.yude810 ._1ya15kad{background-color:var(--_2malj21r)}._1ya15kae{transform:scale(.85)}._1ya15ka4:active+._1ya15ka5>*>._1ya15kae{transform:scale(.75)}._1ya15kaf{transform:scale(.6)}._1ya15ka4:active+._1ya15ka5>*>._1ya15kaf{transform:scale(.5)}@media screen and (min-width:740px){._1ya15ka2{--_1ya15ka1:var(--_2malj23s)}._1ya15ka3{--_1ya15ka1:var(--_2malj23i)}}
html:not(.yude810) .j2unjb2{--j2unjb1:var(--_2malj2n)}html.yude810 .j2unjb2{--j2unjb1:var(--_2malj2o)}html:not(.yude810) .j2unjb3{--j2unjb1:var(--_2malj2r)}html.yude810 .j2unjb3{--j2unjb1:var(--_2malj2t)}.j2unjb4{outline:none;text-align:left}html:not(.yude810) .j2unjb4{--j2unjb0:var(--_2malj2t)}html.yude810 .j2unjb4{--j2unjb0:var(--_2malj2r)}.j2unjb6{color:var(--j2unjb0);height:var(--_2malj25g);width:var(--_2malj25g)}.j2unjb7{flex:1}.j2unjb9{color:var(--j2unjb1)}.j2unjbd{fill:currentcolor;transform:scale(0);transform-origin:50% 50%}.j2unjbb>.j2unjbd{opacity:1;transform:scale(1)}.j2unjba>.j2unjbd{opacity:1;transform:scale(2.1)}.j2unjbf{transform-origin:50% 50%;transition-delay:.1s}:not(.j2unjba)>.j2unjbf{opacity:0;transform:scale(.5) rotate(50deg);transition-delay:0s}html:not(.yude810) .j2unjbf{fill:var(--_2malj21l)}html.yude810 .j2unjbf{fill:var(--_2malj21k)}.j2unjbg{background:repeating-linear-gradient(90deg,var(--j2unjb0),var(--j2unjb0) 2px,transparent 2px,transparent 4px);height:var(--_2malj2z);left:calc(var(--_2malj25g) + var(--_2malj21));top:calc((var(--_2malj25g) - var(--_2malj2z)) / 2);width:calc((100% - var(--_2malj25g)) - (var(--_2malj21) * 2))}.j2unjbi{background:var(--j2unjb1);transition:transform .2s ease}.j2unjbj{transform:translateX(-101%)}.j2unjbk{outline:var(--_2malj210) solid transparent;transition:var(--_2malj25h),outline-color .125s ease;width:var(--_2malj25g)}.j2unjb4:focus-visible .j2unjbk{outline-color:var(--_2malj2m);transform:scale(1.2)}.j2unjb4:active .j2unjbk{transform:var(--_2malj25j)}@media screen and (min-width:740px){.j2unjb8{flex:1}.j2unjbh{left:calc((50% + (var(--_2malj25g) / 2)) + var(--_2malj21))}}
._18filuq1{border:var(--_2malj2y) solid var(--_18filuq0);border-collapse:separate;font-variant-numeric:tabular-nums;word-break:break-word}html:not(.yude810) ._18filuq1{--_18filuq0:var(--_2malj2t)}html.yude810 ._18filuq1{--_18filuq0:var(--_2malj2r)}._18filuq4:not(:last-child)>._18filuq5{border-bottom:1px solid var(--_18filuq0)}._18filuq3:not(._18filuq2)>._18filuq4>._18filuq6:not(:first-child){border-left:1px solid var(--_18filuq0)}._18filuq3:not(._18filuq2)>._18filuq4>._18filuq6:not(:last-child){border-right:1px solid var(--_18filuq0)}._18filuq3:not(:first-child)>._18filuq4:first-child>._18filuq5{border-top:var(--_2malj2y) solid var(--_18filuq0)}._18filuq7{vertical-align:middle}._18filuq8{vertical-align:top}._18filuq9{white-space:nowrap}._18filuqb{width:var(--_18filuqa)}._18filuqd{min-width:var(--_18filuqc)}._18filuqf{max-width:var(--_18filuqe)}@media screen and (min-width:740px){._18filuqg{display:table-cell}}@media screen and (min-width:992px){._18filuqh{display:table-cell}}@media screen and (min-width:1200px){._18filuqi{display:table-cell}}
._10kdc420::-moz-focus-inner{border:0}._10kdc420:hover ._10kdc421{opacity:1}._10kdc422{white-space:nowrap}._10kdc423{-webkit-overflow-scrolling:touch;overflow-x:auto;overflow-y:hidden;scrollbar-width:none;-ms-overflow-style:none}._10kdc423::-webkit-scrollbar{height:0;width:0}._10kdc424{-webkit-mask-image:linear-gradient(90deg,#000,#000 calc(100% - 80px),transparent);mask-image:linear-gradient(90deg,#000,#000 calc(100% - 80px),transparent)}._10kdc425{margin-left:auto;margin-right:auto}._10kdc426{outline-offset:calc(var(--_2malj210) * -1)}._10kdc42b{--_10kdc429:calc(var(--_2malj2b) / var(--_10kdc42a));--_10kdc42a:calc(var(--_10kdc428) / 100);border-top-left-radius:var(--_10kdc429);border-top-right-radius:var(--_10kdc429);height:var(--_2malj2z);transform:translateZ(0) translateX(calc(var(--_10kdc427) * 1px)) scaleX(var(--_10kdc42a));transform-origin:0 0;transition:transform .3s ease;width:100px}html.yude810 ._10kdc42c{background:var(--_2malj2o)}._10kdc42e{height:var(--_2malj2y)}
.tgd14x0{transform-origin:50% 50%;transition:transform .3s ease}.tgd14x1{transform:rotateX(180deg)}.tgd14x3{transform:scaleX(var(--tgd14x2,1)) rotate(90deg)}.tgd14x4{--tgd14x2:-1}
.mf2kfn0{transform-origin:50% 50%;transition:transform .3s ease}.mf2kfn1{transform:rotate(90deg)}.mf2kfn2{transform:rotate(180deg)}.mf2kfn3{transform:rotate(270deg)}
._9ev7970{transform-origin:50% 50%;transition:transform .3s ease}._9ev7971{transform:rotate(180deg)}
.yul1sr0>*{flex-basis:auto;width:auto}.yul1sr1>*{max-width:100%}
._109x6gv2{outline-offset:var(--_2malj21)}
.bsxm880:focus .bsxm881,.bsxm880:hover .bsxm881{opacity:1}
._11w27il0{padding-bottom:calc((var(--_2malj23m) - var(--_2malj23n)) / 2);padding-top:calc((var(--_2malj23m) - var(--_2malj23n)) / 2)}@media screen and (min-width:740px){._11w27il0{padding-bottom:calc((var(--_2malj23r) - var(--_2malj23s)) / 2);padding-top:calc((var(--_2malj23r) - var(--_2malj23s)) / 2)}}
.hcj0nf0{display:inline-flex;margin-bottom:calc(var(--_2malj21) * -1);margin-top:calc((var(--_2malj21) + .2em) * -1);vertical-align:middle}
._11rhppx6{background:var(--_11rhppx0)}._11rhppx7{background:var(--_11rhppx1)}._11rhppx8{background:var(--_11rhppx2)}._11rhppx9{background:var(--_11rhppx3)}._11rhppxa{background:var(--_11rhppx4)}._11rhppxb{background:var(--_11rhppx5)}html:not(.yude810) ._11rhppxc{--_11rhppx0:var(--_2malj2w);--_11rhppx1:var(--_2malj2p);--_11rhppx2:var(--_2malj2u);--_11rhppx3:var(--_2malj2h);--_11rhppx4:var(--_2malj2j);--_11rhppx5:var(--_2malj2n)}html:not(.yude810) ._11rhppxd{--_11rhppx0:var(--_2malj2x);--_11rhppx1:var(--_2malj2q);--_11rhppx2:var(--_2malj2v);--_11rhppx3:var(--_2malj2i);--_11rhppx4:var(--_2malj2k);--_11rhppx5:var(--_2malj2o)}html.yude810 ._11rhppxe{--_11rhppx0:var(--_2malj2w);--_11rhppx1:var(--_2malj2p);--_11rhppx2:var(--_2malj2u);--_11rhppx3:var(--_2malj2h);--_11rhppx4:var(--_2malj2j);--_11rhppx5:var(--_2malj2n)}html.yude810 ._11rhppxf{--_11rhppx0:var(--_2malj2x);--_11rhppx1:var(--_2malj2q);--_11rhppx2:var(--_2malj2v);--_11rhppx3:var(--_2malj2i);--_11rhppx4:var(--_2malj2k);--_11rhppx5:var(--_2malj2o)}._11rhppxg{border-bottom-right-radius:0!important;border-top-right-radius:0!important}._11rhppxh{width:var(--_2malj2e)}._11rhppxi{width:var(--_2malj2a)}
html:not(.yude810) ._1ygeji22{background:rgba(0,0,0,.4)}html.yude810 ._1ygeji22{background:rgba(0,0,0,.6)}._1ygeji24{opacity:1;transform:translateX(110%)}._1ygeji25{opacity:1;transform:translateX(-110%)}._1ygeji26{transform:scale(.8)}._1ygeji27{transition:transform .3s cubic-bezier(.4,0,0,1),opacity .3s cubic-bezier(.4,0,0,1)}._1ygeji29{pointer-events:all}._1ygeji2d{max-height:var(--_1ygeji2b)}._1ygeji2e{--_1ygeji2a:var(--_2malj22);max-height:calc(var(--_1ygeji2b) - (var(--_1ygeji2a) * 2));max-width:calc(var(--_1ygeji2c) - (var(--_1ygeji2a) * 2))}._1ygeji2f{--_1ygeji2b:100vh;--_1ygeji2c:100vw;max-height:var(--_1ygeji2b);max-width:var(--_1ygeji2c)}._1ygeji2g{overflow-wrap:break-word}._1ygeji2h{right:-5px;top:-5px}@media screen and (prefers-reduced-motion){._1ygeji23{transform:none!important}}@media screen and (min-width:740px){._1ygeji24{opacity:0;transform:translateX(40px)}._1ygeji25{opacity:0;transform:translateX(-40px)}._1ygeji27{transition:transform .175s cubic-bezier(.4,0,0,1),opacity .175s cubic-bezier(.4,0,0,1)}._1ygeji2e{--_1ygeji2a:var(--_2malj20)}}@media screen and (min-width:992px){._1ygeji2e{--_1ygeji2a:var(--_2malj26)}}@supports (height:1dvh){._1ygeji2f{--_1ygeji2b:100dvh;--_1ygeji2c:100dvw}}
.urg2mw0{padding-right:var(--_2malj29)}
._19iijbv0{background:currentColor}._19iijbv1{height:5px;width:5px}._19iijbv2{height:4px;width:4px}._19iijbv3{height:3px;width:3px}._19iijbv4{min-width:1.4ch}._19iijbv5{min-width:2.4ch}._19iijbv6{margin-right:-.4ch}
.txgst30::-webkit-calendar-picker-indicator,.txgst30::-webkit-clear-button,.txgst30::-webkit-inner-spin-button{-webkit-appearance:none;display:none}
.hvwchs0{outline:none}.hvwchs0::-moz-focus-inner{border:0}.hvwchs1{height:0}
._1jl1cmz2{--_1jl1cmz0:var(--_2malj23n);--_1jl1cmz1:calc(((var(--_2malj25g) - var(--_1jl1cmz0)) / 2) * -1);height:var(--_2malj25g);margin-bottom:var(--_1jl1cmz1);margin-top:var(--_1jl1cmz1);width:var(--_2malj25g)}@media screen and (min-width:740px){._1jl1cmz2{--_1jl1cmz0:var(--_2malj23s)}}
.ulq6vo1{outline-offset:0}html.yude810 .ulq6vo4,html:not(.yude810) .ulq6vo3{opacity:.3}.ulq6vo5{opacity:.075}.ulq6vo2:hover .ulq6vo6:not(.ulq6vo5){opacity:.5}
._1cuwh1t0{display:inline-flex;gap:1px}
._1ikuh940{padding-left:1px}
.icqdfh1{margin:0 -2px;padding:0 2px;text-decoration:underline;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none;text-decoration-style:wavy;text-decoration-thickness:2px;text-underline-offset:2px}html:not(.yude810) .icqdfh2{background:var(--_2malj226);text-decoration-color:var(--_2malj2j)}html.yude810 .icqdfh2{text-decoration-color:var(--_2malj2k)}.icqdfh3{text-decoration-color:var(--_2malj2h)}html:not(.yude810) .icqdfh3{background:var(--_2malj222)}
.qg3zj50{background:transparent;min-height:calc(var(--_2malj2a) * 15);resize:vertical}.qg3zj51{color:transparent!important;white-space:pre-wrap;word-break:break-word}.qg3zj51:after{content:"\A"}
._1szbvt00{height:100%;left:50%;min-height:44px;min-width:44px;top:50%;transform:translate(-50%,-50%);width:100%}[data-braid-debug] ._1szbvt00{background:red;opacity:.2}._1szbvt02{outline:var(--_2malj210) solid transparent;outline-offset:var(--_2malj21);transition:outline-color .125s ease}._1szbvt00:focus-visible~._1szbvt02{outline-color:var(--_2malj2m)}
._3trpbp5{--_3trpbp0:var(--_3trpbp1);display:grid;grid-template-columns:repeat(var(--_3trpbp0),1fr)}._3trpbp5>*{min-width:0}@media screen and (min-width:740px){._3trpbp5{--_3trpbp0:var(--_3trpbp2)}}@media screen and (min-width:992px){._3trpbp5{--_3trpbp0:var(--_3trpbp3)}}@media screen and (min-width:1200px){._3trpbp5{--_3trpbp0:var(--_3trpbp4)}}
.i5w4vq0{height:var(--_2malj23n)}.i5w4vq1{height:var(--_2malj23d)}.i5w4vq2:hover{z-index:1}.i5w4vq3{height:44px}[data-braid-debug] .i5w4vq3{background:red;opacity:.2}.i5w4vq4{width:calc(var(--_2malj25f) * 1.6)}.i5w4vq5{width:calc(var(--_2malj25g) * 1.6)}.i5w4vq7{height:var(--_2malj25f)}.i5w4vq8{height:var(--_2malj25g)}.i5w4vq9{height:calc(var(--_2malj25f) - var(--_2malj2a))}.i5w4vqa{height:calc(var(--_2malj25g) - var(--_2malj2a))}html:not(.yude810) .i5w4vqb{background:rgba(0,0,0,.08)}html:not(.yude810) .i5w4vqc{background:hsla(0,0%,100%,.12)}html.yude810 .i5w4vqd{background:rgba(0,0,0,.08)}html.yude810 .i5w4vqe{background:hsla(0,0%,100%,.12)}.i5w4vqf{-webkit-mask-image:-webkit-radial-gradient(#fff,#000)}.i5w4vq3:not(:checked)+.i5w4vq6 .i5w4vqg{transform:translateX(calc(var(--_2malj29) * -1))}.i5w4vqh{height:var(--_2malj25f);outline:var(--_2malj210) solid transparent;transition:var(--_2malj25h),outline-color .125s ease;width:var(--_2malj25f)}.i5w4vq3:focus-visible+.i5w4vq6 .i5w4vqh{outline-color:var(--_2malj2m)}.i5w4vq3:active+.i5w4vq6 .i5w4vqh{transform:translateX(calc((var(--_2malj25f) * .12) * -1))}.i5w4vq3:checked+.i5w4vq6 .i5w4vqh{transform:translateX(calc((var(--_2malj25f) * 1.6) - var(--_2malj25f)))}.i5w4vq3:active:checked+.i5w4vq6 .i5w4vqh{transform:translateX(calc(((var(--_2malj25f) * 1.6) - var(--_2malj25f)) + (var(--_2malj25f) * .12)))}.i5w4vqi{height:var(--_2malj25g);outline:var(--_2malj210) solid transparent;transition:var(--_2malj25h),outline-color .125s ease;width:var(--_2malj25g)}.i5w4vq3:focus-visible+.i5w4vq6 .i5w4vqi{outline-color:var(--_2malj2m)}.i5w4vq3:active+.i5w4vq6 .i5w4vqi{transform:translateX(calc((var(--_2malj25g) * .12) * -1))}.i5w4vq3:checked+.i5w4vq6 .i5w4vqi{transform:translateX(calc((var(--_2malj25g) * 1.6) - var(--_2malj25g)))}.i5w4vq3:active:checked+.i5w4vq6 .i5w4vqi{transform:translateX(calc(((var(--_2malj25g) * 1.6) - var(--_2malj25g)) + (var(--_2malj25g) * .12)))}.i5w4vqj{transform:scale(1.04)}html:not(.yude810) .i5w4vqk{opacity:0}.i5w4vq3:focus+.i5w4vq6 .i5w4vql,.i5w4vq3:hover:not(:disabled)+.i5w4vq6 .i5w4vql{opacity:1}@media screen and (min-width:740px){.i5w4vq0{height:var(--_2malj23s)}.i5w4vq1{height:var(--_2malj23i)}}
html:not(.yude810) .qrvomw4{--qrvomw0:rgba(51,51,51,.08);--qrvomw1:rgba(51,51,51,.3);--qrvomw2:rgba(51,51,51,.4);--qrvomw3:rgba(51,51,51,.1)}html:not(.yude810) .qrvomw5{--qrvomw0:hsla(0,0%,100%,.05);--qrvomw1:hsla(0,0%,100%,.4);--qrvomw2:hsla(0,0%,100%,.6);--qrvomw3:hsla(0,0%,100%,.2)}html.yude810 .qrvomw6{--qrvomw0:rgba(51,51,51,.08);--qrvomw1:rgba(51,51,51,.3);--qrvomw2:rgba(51,51,51,.4);--qrvomw3:rgba(51,51,51,.1)}html.yude810 .qrvomw7{--qrvomw0:hsla(0,0%,100%,.05);--qrvomw1:hsla(0,0%,100%,.4);--qrvomw2:hsla(0,0%,100%,.6);--qrvomw3:hsla(0,0%,100%,.2)}.qrvomw8{background:var(--qrvomw0);border:2px solid var(--qrvomw1)}.qrvomw9{color:var(--qrvomw2)}.qrvomwa{stroke:var(--qrvomw3);stroke-width:2px}
.y4kt9m0 {
  background-color: var(--ca6xv8m);
}
.y4kt9m2 {
  background-color: var(--ca6xv8i);
  color: var(--ca6xv8a);
  min-width: 50px;
}
.y4kt9m3 {
  opacity: 1;
}
.y4kt9m5 {
  width: 1em;
}
.y4kt9m6::after {
  content: "-";
}
.y4kt9m7::after {
  content: "+";
  opacity: 1;
}
.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1s25f2z1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  box-sizing: border-box;
  padding-left: var(--_1s25f2zi);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--_1s25f2zl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: var(--_1s25f2zh);
  box-shadow: var(--ca6xv8u);
  border-radius: var(--_1s25f2z9);
  background-color: var(--ca6xv8l);
  border: 1px solid var(--ca6xv8q);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--_1s25f2z1);
  max-height: 20em;
  overflow-y: auto;
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--_1s25f2zi) var(--_1s25f2zj);
  border-radius: var(--_1s25f2z8);
  white-space: pre;
  color: var(--ca6xv80);
  cursor: default;
  height: var(--_1s25f2zr);
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.CodeMirror-hint::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--_1s25f2z8);
  z-index: -1;
  background-color: var(--ca6xv8m);
  opacity: 0;
}
.CodeMirror-hint-active::before {
  opacity: 1;
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--ca6xv8b);
  font-family: arial;
  cursor: default;
  padding: 0 var(--_1s25f2zi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--ca6xv8k);
  color: var(--ca6xv80);
}
.cm-s-neo.CodeMirror::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, transparent, var(--ca6xv8k));
  right: 0;
  pointer-events: none;
}
.CodeMirror-scroll {
  padding-right: 20px;
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--ca6xv87);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--ca6xv8k);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--ca6xv8k);
  position: absolute;
  right: var(--_1s25f2zh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--ca6xv8k);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--ca6xv8o);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--ca6xv87);
  transition: var(--_1s25f2zf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.y4kt9m7) {
  color: var(--ca6xv87);
  opacity: 0.4;
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--ca6xv87);
  transition: var(--_1s25f2zf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  opacity: 0.4;
}
.cm-s-neo .cm-tag {
  color: var(--ca6xv81);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--ca6xv82);
}
.cm-s-neo .cm-string {
  color: var(--ca6xv83);
}
.cm-s-neo .cm-atom {
  color: var(--ca6xv84);
}
.cm-s-neo .cm-variable {
  color: var(--ca6xv85);
}
.cm-s-neo .cm-number {
  color: var(--ca6xv86);
}
.CodeMirror-dialog {
  padding-left: var(--_1s25f2zl);
  padding-right: var(--_1s25f2zl);
  min-height: var(--_1s25f2zc);
  border-bottom: 1px solid var(--ca6xv8q);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transition: var(--_1s25f2zf);
}
.dialog-opened .CodeMirror-scroll {
  transform: translateY(var(--_1s25f2zc));
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1s25f2zc);
}
.CodeMirror-dialog input {
  font: var(--_1s25f2z5);
  font-family: var(--_1s25f2z1);
  height: var(--_1s25f2zc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_1s25f2zc);
  font: var(--_1s25f2z5);
  font-family: var(--_1s25f2z1);
}
.CodeMirror-search-field {
  padding-left: var(--_1s25f2zl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--ca6xv8o);
}
.cm-overlay.cm-searching {
  padding-top: var(--_1s25f2zh);
  padding-bottom: var(--_1s25f2zh);
  background: var(--ca6xv8o);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_1s25f2zl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_1s25f2z4);
  font-family: var(--_1s25f2z0);
  margin-left: var(--_1s25f2zj);
  padding-top: var(--_1s25f2zi);
  padding-bottom: var(--_1s25f2zi);
  padding-left: var(--_1s25f2zk);
  padding-right: var(--_1s25f2zk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_1s25f2z9);
  cursor: default;
  border: 1px solid var(--ca6xv8q);
}
.CodeMirror-dialog button:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 0;
}
.CodeMirror-dialog button:hover {
  background: var(--ca6xv8m);
}
._1yz1xvp2 {
  width: fit-content;
  max-width: 80ex;
  background: var(--ca6xv8l);
  box-shadow: 0 2px 10px -2px hsla(358, 66%, 48%, 1);
  word-break: break-word;
  white-space: pre-line;
  outline: 1px solid hsla(358, 66%, 48%, 1);
}
._1yz1xvp2:not(._1yz1xvp0) {
  transform: translateY(var(--_1s25f2zj));
  transition: none;
  opacity: 0;
}
._1yz1xvp4 {
  transition-delay: calc(var(--_1yz1xvp3) * 1ms);
}
._1yz1xvp8 {
  background: hsla(358, 66%, 48%, 1);
  color: hsla(0, 0%, 93%, 1);
  height: var(--_1s25f2zq);
}
._1yz1xvp8:active:not([disabled]) {
  transform: scale(0.97);
}
._1gptgly2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1gptgly0);
  align-items: var(--_1gptgly1);
}
._1gptgly3 {
  flex-wrap: wrap;
}
._1gptgly4 {
  --_1gptgly0: var(--_1s25f2zg);
}
._1gptgly5 {
  --_1gptgly0: var(--_1s25f2zh);
}
._1gptgly6 {
  --_1gptgly0: var(--_1s25f2zi);
}
._1gptgly7 {
  --_1gptgly0: var(--_1s25f2zj);
}
._1gptgly8 {
  --_1gptgly0: var(--_1s25f2zk);
}
._1gptgly9 {
  --_1gptgly0: var(--_1s25f2zl);
}
._1gptglya {
  --_1gptgly0: var(--_1s25f2zm);
}
._1gptglyb {
  --_1gptgly0: var(--_1s25f2zn);
}
._1gptglyc {
  --_1gptgly0: var(--_1s25f2zo);
}
._1gptglyd {
  --_1gptgly0: var(--_1s25f2zp);
}
._1gptglye {
  align-items: flex-start;
}
._1gptglyf {
  align-items: center;
}
._1gptglyg {
  align-items: flex-end;
}
.oide8w0 {
  isolation: isolate;
  white-space: nowrap;
}
.oide8w1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .oide8w3 {
    display: none;
  }
}
._601brz1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._601brz2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._601brz2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._601brz4 {
  --_601brz3: 30px;
}
._601brz5 {
  --_601brz3: 45px;
}
._601brz6 {
  --_601brz3: 60px;
}
._601brz7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._601brz8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._601brz9 {
  overflow: auto;
}
._601brze {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_601brzc, 0)),linear-gradient(to right, transparent 0, black var(--_601brza, 0)),linear-gradient(to left, transparent 0, black var(--_601brzb, 0)),linear-gradient(to top, transparent 0, black var(--_601brzd, 0));
}
._601brzf {
  --_601brza: var(--_601brz3);
}
._601brzg {
  --_601brzb: var(--_601brz3);
}
._601brzh {
  --_601brzc: var(--_601brz3);
}
._601brzi {
  --_601brzd: var(--_601brz3);
}
.cfnx282 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.cfnx283 {
  width: 250px;
}
.cfnx286 {
  --cfnx284: var(--ca6xv8m);
  outline: none;
  cursor: default;
  color: var(--ca6xv87);
  height: 34px;
  isolation: isolate;
}
.cfnx286::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1s25f2z8);
  z-index: -1;
}
.cfnx286[data-popup-open]:not([aria-disabled])::before, .cfnx286[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--cfnx284);
}
.cfnx286:focus-visible::before {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: -2px;
}
.cfnx286[aria-disabled] {
  color: var(--ca6xv89);
  cursor: not-allowed;
}
.cfnx287 {
  cursor: pointer;
  text-decoration: none;
}
.cfnx287[aria-disabled] {
  cursor: not-allowed;
}
.cfnx288 {
  margin-left: 3px;
}
.cfnx289 {
  --cfnx284: var(--ca6xv8i);
  color: var(--ca6xv8a);
}
.cfnx28a {
  --cfnx284: transparent;
  color: var(--ca6xv8c);
}
.cfnx28a svg {
  color: var(--ca6xv8c);
}
.cfnx28c {
  isolation: isolate;
}
.cfnx28g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.cfnx28i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--ca6xv87);
  z-index: 1;
}
[aria-checked="true"] .cfnx28i {
  color: var(--ca6xv88);
}
.cfnx28k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--ca6xv87);
  isolation: isolate;
}
[aria-checked="true"] .cfnx28k {
  background-color: var(--ca6xv8e);
  border-color: var(--ca6xv8e);
}
.cfnx28p {
  height: 34px;
}
.cfnx28r {
  height: 1px;
  background-color: var(--ca6xv8q);
}
.cfnx28s {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.cfnx28u {
  background: transparent;
  border: none;
}
.cfnx28u:hover, .cfnx28u[data-highlighted] {
  background-color: var(--ca6xv8m);
}
.cfnx28u:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: -2px;
}
._1x9fvyi0 {
  color: var(--ca6xv89);
}
@keyframes _1vjxjtbd {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
._1vjxjtb2 {
  position: relative;
}
._1vjxjtb2::after {
  content: "";
  position: absolute;
  left: calc(var(--_1s25f2zi) * -1);
  right: calc(var(--_1s25f2zi) * -1);
  bottom: 0;
  height: 1px;
  background-color: var(--ca6xv8q);
}
._1vjxjtb4 {
  padding-inline: var(--_1s25f2zj);
  color: var(--ca6xv87);
  height: var(--_1s25f2zc);
  background: transparent;
  box-shadow: none;
}
._1vjxjtb4:focus-visible {
  outline: none;
  box-shadow: none;
}
._1vjxjtb4::placeholder {
  color: var(--ca6xv89);
}
._1vjxjtb4::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
._1vjxjtb4::-webkit-search-decoration {
  -webkit-appearance: none;
}
._1vjxjtb4::-ms-clear {
  display: none;
}
._1vjxjtb4::-ms-reveal {
  display: none;
}
._1vjxjtb6 {
  list-style: none;
  height: 300px;
}
._1vjxjtb8 {
  color: var(--ca6xv87);
  isolation: isolate;
  cursor: default;
  scroll-margin-block: var(--_1s25f2zi);
}
._1vjxjtb8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--ca6xv8m);
  border-radius: var(--_1s25f2z8);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
._1vjxjtb8[data-selected="true"] {
  color: var(--ca6xv8b);
}
._1vjxjtb8[data-selected="true"]::before {
  opacity: 1;
}
._1vjxjtba {
  color: var(--ca6xv89);
}
._1vjxjtbf {
  transform: scale(0.97);
  opacity: 0;
  animation: _1vjxjtbd 80ms ease-out forwards;
}
._1vjxjtbg {
  width: min(300px, 90vw);
}
.nc3hds1 {
  display: flex;
  flex-direction: column;
  gap: var(--nc3hds0);
}
.nc3hds2 {
  --nc3hds0: var(--_1s25f2zg);
}
.nc3hds3 {
  --nc3hds0: var(--_1s25f2zh);
}
.nc3hds4 {
  --nc3hds0: var(--_1s25f2zi);
}
.nc3hds5 {
  --nc3hds0: var(--_1s25f2zj);
}
.nc3hds6 {
  --nc3hds0: var(--_1s25f2zk);
}
.nc3hds7 {
  --nc3hds0: var(--_1s25f2zl);
}
.nc3hds8 {
  --nc3hds0: var(--_1s25f2zm);
}
.nc3hds9 {
  --nc3hds0: var(--_1s25f2zn);
}
.nc3hdsa {
  --nc3hds0: var(--_1s25f2zo);
}
.nc3hdsb {
  --nc3hds0: var(--_1s25f2zp);
}
.nc3hdsc {
  align-items: flex-start;
}
.nc3hdsd {
  align-items: center;
}
.nc3hdse {
  align-items: flex-end;
}
._6tdfcy1 {
  background-color: var(--ca6xv8l);
  outline: 1px solid var(--ca6xv8q);
}
._6tdfcy3 {
  height: var(--_1s25f2zr);
}
._6tdfcy5 {
  background: transparent;
  height: var(--_1s25f2zr);
  color: var(--ca6xv87);
}
._6tdfcy5:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
._6tdfcy5:hover, ._6tdfcy5[data-popup-open] {
  background-color: var(--ca6xv8m);
}
._6tdfcy5[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
._6tdfcy5[aria-disabled="true"]:hover {
  background-color: transparent;
}
._6tdfcy6 {
  width: min(300px, 90vw);
}
._1d4nfw22 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1s25f2z8);
  color: var(--_1d4nfw20);
  isolation: isolate;
  outline: none;
}
._1d4nfw22[data-pressed], ._1d4nfw22:active {
  transform: scale(.95);
}
._1d4nfw22::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1s25f2zi) * -1);
  background-color: var(--_1d4nfw20);
  border-radius: var(--_1s25f2z8);
}
._1d4nfw22:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1d4nfw22:hover, ._1d4nfw22[data-popup-open]:not(:focus-visible) {
  color: var(--ca6xv88);
}
._1d4nfw22:focus-visible::after {
  outline: 2px solid var(--ca6xv8t);
}
._1d4nfw22:focus-visible:not(:hover)::after {
  background: transparent;
}
._1d4nfw23 {
  --_1d4nfw20: var(--ca6xv8b);
}
._1d4nfw24 {
  --_1d4nfw20: var(--ca6xv8c);
}
._1d4nfw22 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.vh2uz71 {
  justify-content: safe center;
}
.vh2uz75 {
  flex-shrink: 0;
  width: var(--vh2uz72);
}
.vh2uz75:last-child {
  padding-right: var(--_1s25f2zn);
}
.vh2uz76 {
  transition: color 150ms ease;
}
.vh2uz75:hover .vh2uz76, .vh2uz75:focus-within .vh2uz76, .vh2uz73 .vh2uz76 {
  color: var(--ca6xv8b);
}
.vh2uz78 {
  outline: 1px solid var(--ca6xv8q);
}
.vh2uz7a {
  transition: opacity 150ms ease;
}
.vh2uz75:not(:hover, :focus-within, .vh2uz73) .vh2uz7a {
  opacity: 1;
}
.vh2uz7c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.vh2uz7a:hover ~ .vh2uz78 .vh2uz7c, .vh2uz7a:focus-within ~ .vh2uz78.vh2uz7c {
  outline-color: var(--ca6xv8b);
}
.vh2uz7e {
  transition: opacity 150ms ease;
}
.vh2uz75:not(:hover, :focus-within, .vh2uz73) .vh2uz7e {
  opacity: 0;
}
._1iq442y2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1iq442y4 {
  border: 1px solid var(--ca6xv8q);
  background-color: var(--ca6xv8k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1iq442y4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ca6xv8m);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1iq442y4:hover::after {
  opacity: 1;
}
._1iq442y4:focus-visible::after {
  opacity: 1;
}
._1iq442y4:active:not([disabled]) {
  transform: scale(0.97);
}
._1iq442y4:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 0;
}
._1iq442y6 {
  isolation: isolate;
}
._1iq442y8 {
  height: var(--_1iq442y0);
}
._1iq442ya {
  border-color: var(--ca6xv8c);
}
._1iq442ya::after {
  background-color: var(--ca6xv8h);
}
._1iq442yb {
  border-color: var(--ca6xv8a);
}
._1iq442yb::after {
  background-color: var(--ca6xv8i);
}
._1iq442yc {
  --_1iq442y0: var(--_1s25f2zq);
}
._1iq442yd {
  --_1iq442y0: var(--_1s25f2zr);
}
._1iq442ye {
  --_1iq442y0: var(--_1s25f2zs);
}
._1rbad9z1 {
  color: var(--ca6xv87);
  font-family: var(--_1s25f2z0);
}
._1rbad9z2 {
  --_19f4mc80: 36px;
  --_19f4mc81: 44px;
  --_19f4mc82: -0.2741em;
  --_19f4mc83: -0.2031em;
}
._1rbad9z3 {
  --_19f4mc80: 20px;
  --_19f4mc81: 28px;
  --_19f4mc82: -0.363em;
  --_19f4mc83: -0.292em;
}
._1rbad9z4 {
  --_19f4mc80: 16px;
  --_19f4mc81: 20px;
  --_19f4mc82: -0.288em;
  --_19f4mc83: -0.217em;
}
._7o881y1 {
  backdrop-filter: blur(6px);
}
._7o881y1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ca6xv8j);
  opacity: 0.4;
}
html[data-playroom-dark] ._7o881y1::before {
  opacity: 0.7;
}
._7o881y1[data-starting-style]::before, ._7o881y1[data-ending-style]::before {
  opacity: 0;
}
._7o881y3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1s25f2zk) * 2));
  max-height: calc(100dvh - (var(--_1s25f2zk) * 2));
}
._7o881y3[data-starting-style], ._7o881y3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._7o881y7:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
.gauhnj0 {
  width: 200px;
}
._19wg8r51 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ca6xv8k);
}
._19wg8r52 {
  width: fit-content;
}
._19wg8r54 {
  width: fit-content;
  justify-self: flex-end;
}
._19wg8r57:not(._19wg8r55) {
  opacity: 0;
  transform: translateX(var(--_1s25f2zj));
  pointer-events: none;
}
._19wg8r59 {
  background: transparent;
  color: var(--ca6xv8f);
  isolation: isolate;
}
._19wg8r59::after {
  content: "";
  position: absolute;
  transition: var(--_1s25f2zf);
  z-index: -1;
  inset: calc(var(--_1s25f2zj) * -1);
  background-color: var(--ca6xv8m);
  border-radius: var(--_1s25f2z9);
}
._19wg8r59:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 6px;
}
._19wg8r59:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._19wg8r5b {
  margin: calc(var(--_1s25f2zk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._19wg8r5f {
  appearance: none;
  outline: none;
  background: var(--ca6xv8k);
  color: var(--ca6xv87);
  border: 1px solid var(--ca6xv8q);
  height: var(--_1s25f2zr);
}
._19wg8r5f:hover, ._19wg8r5f[data-popup-open] {
  background-color: var(--ca6xv8m);
}
._19wg8r5f:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  z-index: 1;
}
._19wg8r5h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._19wg8r5j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._19wg8r5k {
  color: var(--ca6xv8c);
}
._19wg8r5m {
  height: 1px;
  background-color: var(--ca6xv8q);
}
@media screen and (max-width: 767px) {
  ._19wg8r54 {
    display: none;
  }
}
.zi03o52 {
  flex: 1;
  min-height: 0;
}
.zi03o55 {
  --zi03o53: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--zi03o53), 1fr);
}
.zi03o57 {
  aspect-ratio: 5/4;
  list-style: none;
}
.zi03o59 {
  height: calc(100% / var(--zi03o50));
  width: calc(100% / var(--zi03o50));
  border-radius: calc(var(--_1s25f2z9) / var(--zi03o50));
  transform: scale(var(--zi03o50));
  transform-origin: 0 0;
  padding: calc(1px / var(--zi03o50));
}
.zi03o5b {
  background: var(--ca6xv8m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.zi03o5d {
  background: transparent;
  outline: 1px solid var(--ca6xv8q);
}
.zi03o5d:hover {
  outline: 2px solid var(--ca6xv8r);
}
.zi03o5d:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
.zi03o5h {
  list-style: none;
}
.zi03o5j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--ca6xv8q);
}
.zi03o5j:hover {
  outline: 2px solid var(--ca6xv8r);
}
.zi03o5j:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .zi03o55 {
    --zi03o53: 2;
  }
}
@media screen and (min-width: 800px) {
  .zi03o55 {
    --zi03o53: 3;
  }
}
@media screen and (min-width: 1200px) {
  .zi03o55 {
    --zi03o53: 4;
  }
}
@media screen and (min-width: 1600px) {
  .zi03o55 {
    --zi03o53: 5;
  }
}
.wm1j8u1 {
  width: fit-content;
}
.wm1j8u3:focus-visible ~ .wm1j8u5 {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 4px;
}
.wm1j8u8 {
  min-width: 0;
}
.wm1j8u9 {
  flex-shrink: 0;
}
._1pql9q52 {
  outline: none;
  height: var(--_1s25f2zr);
  color: var(--ca6xv87);
  background: transparent;
}
._1pql9q52::placeholder {
  color: var(--ca6xv89);
  font-weight: strong;
}
._1pql9q52:hover:not(:focus-visible), ._1pql9q52:hover:not(:focus-visible)::placeholder {
  background: var(--ca6xv8m);
  opacity: 1;
  color: transparent;
}
._1pql9q52:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1pql9q52:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 0;
  opacity: 1;
}
._1pql9q52:focus-visible::placeholder {
  color: transparent;
}
._1pql9q54 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--ca6xv87);
}
._1pql9q52:focus-visible ~ ._1pql9q54 {
  opacity: 0;
}
._1pql9q55 {
  color: var(--ca6xv89);
}
.lzvmzd2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--lzvmzd0);
  align-items: var(--lzvmzd1);
}
.lzvmzd3 {
  --lzvmzd0: var(--_1s25f2zg);
}
.lzvmzd4 {
  --lzvmzd0: var(--_1s25f2zh);
}
.lzvmzd5 {
  --lzvmzd0: var(--_1s25f2zi);
}
.lzvmzd6 {
  --lzvmzd0: var(--_1s25f2zj);
}
.lzvmzd7 {
  --lzvmzd0: var(--_1s25f2zk);
}
.lzvmzd8 {
  --lzvmzd0: var(--_1s25f2zl);
}
.lzvmzd9 {
  --lzvmzd0: var(--_1s25f2zm);
}
.lzvmzda {
  --lzvmzd0: var(--_1s25f2zn);
}
.lzvmzdb {
  --lzvmzd0: var(--_1s25f2zo);
}
.lzvmzdc {
  --lzvmzd0: var(--_1s25f2zp);
}
.lzvmzdd {
  align-items: flex-start;
}
.lzvmzde {
  align-items: center;
}
.lzvmzdf {
  align-items: flex-end;
}
.lzvmzdg > * {
  flex-basis: auto;
  width: auto;
}
.atg1wd1 {
  background: radial-gradient(var(--ca6xv8k) 20%, transparent 50%);
  justify-content: safe center;
}
.atg1wd3 {
  max-width: 400px;
}
.atg1wd5 {
  background: transparent;
}
.atg1wd5:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 6px;
}
._1cmr9it0 {
  cursor: row-resize;
}
._1cmr9it1 {
  cursor: col-resize;
}
._1cmr9it6 {
  transform: translateY(-50%);
  z-index: 2;
}
._1cmr9it6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-1px);
  transition: background-color 100ms ease;
}
._1cmr9it6._1cmr9it3::before {
  background: var(--ca6xv8e);
}
._1cmr9it6:not(._1cmr9it3):hover::before {
  background: var(--ca6xv8e);
  transition-delay: 200ms;
}
._1cmr9it7 {
  z-index: 2;
}
._1cmr9it7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  transition: background-color 100ms ease;
}
._1cmr9it7._1cmr9it3::before {
  background: var(--ca6xv8e);
}
._1cmr9it7:not(._1cmr9it3):hover::before {
  background: var(--ca6xv8e);
  transition-delay: 200ms;
}
._1cmr9it9 {
  transform: translateX(50%);
}
._1cmr9itb {
  transform: translateX(-50%);
}
._1cmr9itd {
  background: var(--ca6xv8l);
  outline: 1px solid var(--ca6xv8q);
  outline-offset: -1px;
  transition: outline-color 100ms ease;
}
._1cmr9itd::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: background-color 100ms ease;
}
._1cmr9it3 ._1cmr9itd {
  outline-color: var(--ca6xv8e);
}
._1cmr9it3 ._1cmr9itd::after {
  background: var(--ca6xv8e);
}
:is(._1cmr9it6, ._1cmr9it7):not(._1cmr9it3):hover ._1cmr9itd {
  outline-color: var(--ca6xv8e);
  transition-delay: 200ms;
}
:is(._1cmr9it6, ._1cmr9it7):not(._1cmr9it3):hover ._1cmr9itd::after {
  transition-delay: 200ms;
}
._1cmr9ite {
  width: 38px;
  height: 8px;
}
._1cmr9itf {
  width: 8px;
  height: 38px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--ca6xv8j);
  scrollbar-color: var(--ca6xv8q) transparent;
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._11dvbin0 {
  pointer-events: none;
  user-select: none;
}
._11dvbin6 {
  display: grid;
  grid-template-columns: var(--_11dvbin2, 0px) 1fr;
  grid-template-rows: min-content auto var(--_11dvbin1, 0px);
  isolation: isolate;
}
._11dvbin7 {
  --_11dvbin1: clamp(150px, var(--_11dvbin3), 70vh);
  grid-template-areas: "header header"
"frames frames"
"editor editor";
}
._11dvbin8 {
  --_11dvbin2: clamp(300px, var(--_11dvbin3), 90vw);
  grid-template-areas: "header header"
"editor frames"
"editor frames";
}
._11dvbin9 {
  grid-area: header;
  z-index: 1;
  outline: 1px solid var(--ca6xv8q);
}
._11dvbina {
  grid-area: frames;
}
._11dvbinb {
  grid-area: editor;
  outline: 1px solid var(--ca6xv8q);
}
._11dvbinf {
  left: var(--_1s25f2zl);
  right: var(--_1s25f2zl);
  bottom: var(--_1s25f2zl);
  width: fit-content;
  margin-inline: auto;
}
._11dvbinh {
  backdrop-filter: blur(2px);
}
._11dvbinh::before {
  content: "";
  position: absolute;
  inset: 1px;
  pointer-events: none;
  background: var(--ca6xv8l);
  border-radius: calc(var(--_1s25f2za) - 2px);
  opacity: 0.8;
}
._11dvbinh::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: calc(var(--_1s25f2za) - 2px);
  outline: 2px solid var(--ca6xv8q);
  outline-offset: -2px;
}
._11dvbinj {
  background: var(--ca6xv8k);
  box-shadow: 0 0 4px 2px var(--ca6xv8k);
}
