._10tlq81 {
  background-color: var(--ca6xv8l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--ca6xv8q);
}
._10tlq82::before {
  content: "";
  position: absolute;
  min-height: var(--_1s25f2zc);
  min-width: var(--_1s25f2zc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1iq442y2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1iq442y4 {
  border: 1px solid var(--ca6xv8q);
  background-color: var(--ca6xv8k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1iq442y4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ca6xv8m);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1iq442y4:hover::after {
  opacity: 1;
}
._1iq442y4:focus-visible::after {
  opacity: 1;
}
._1iq442y4:active:not([disabled]) {
  transform: scale(0.97);
}
._1iq442y4:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 0;
}
._1iq442y6 {
  isolation: isolate;
}
._1iq442y8 {
  height: var(--_1iq442y0);
}
._1iq442ya {
  border-color: var(--ca6xv8c);
}
._1iq442ya::after {
  background-color: var(--ca6xv8h);
}
._1iq442yb {
  border-color: var(--ca6xv8a);
}
._1iq442yb::after {
  background-color: var(--ca6xv8i);
}
._1iq442yc {
  --_1iq442y0: var(--_1s25f2zq);
}
._1iq442yd {
  --_1iq442y0: var(--_1s25f2zr);
}
._1iq442ye {
  --_1iq442y0: var(--_1s25f2zs);
}
._1nxtw491 {
  --ca6xv87: var(--ca6xv8d);
  background-color: var(--ca6xv8n);
  outline: 1px solid var(--ca6xv8s);
  outline-offset: -1px;
}
._2pjy9v3 {
  background: transparent;
  outline: none;
  height: var(--_2pjy9v0) !important;
  width: var(--_2pjy9v0) !important;
}
._2pjy9v6 {
  padding: var(--_2pjy9v4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_2pjy9v1);
  isolation: isolate;
}
._2pjy9v3[data-pressed] ._2pjy9v6, ._2pjy9v3:active ._2pjy9v6 {
  transform: scale(.95);
}
._2pjy9v3:focus-visible ._2pjy9v6 {
  outline: 2px solid var(--ca6xv8t);
}
._2pjy9v3[aria-disabled="true"] ._2pjy9v6 {
  --_2pjy9v1: var(--ca6xv89);
}
._2pjy9v7 {
  --_2pjy9v0: var(--_1s25f2zq);
  --_2pjy9v4: 6px;
}
._2pjy9v8 {
  --_2pjy9v0: var(--_1s25f2zr);
  --_2pjy9v4: var(--_1s25f2zj);
}
._2pjy9v9 {
  --_2pjy9v0: var(--_1s25f2zs);
  --_2pjy9v4: var(--_1s25f2zj);
}
._2pjy9va {
  --_2pjy9v1: var(--ca6xv87);
}
._2pjy9vb {
  --_2pjy9v1: var(--ca6xv8b);
}
._2pjy9vc {
  --_2pjy9v1: var(--ca6xv8c);
}
._2pjy9vd {
  background-color: var(--ca6xv8k);
  outline: 1px solid var(--ca6xv8q);
  outline-offset: -1px;
}
._2pjy9v3:not([aria-disabled="true"]):hover > ._2pjy9vd, ._2pjy9v3:not([aria-disabled="true"])[data-popup-open] > ._2pjy9vd {
  background-color: var(--ca6xv8m);
}
._2pjy9ve {
  --_2pjy9v1: var(--ca6xv88);
  background-color: var(--ca6xv8f);
}
._2pjy9v3:not([aria-disabled="true"]):hover > ._2pjy9ve, ._2pjy9v3:not([aria-disabled="true"])[data-popup-open] > ._2pjy9ve {
  background-color: var(--ca6xv8g);
}
._2pjy9v3:not([aria-disabled="true"]):hover > ._2pjy9vf, ._2pjy9v3:not([aria-disabled="true"])[data-popup-open] > ._2pjy9vf {
  background-color: var(--ca6xv8m);
}
._2pjy9vg {
  margin: calc((var(--_2pjy9v4) + 2px) * -1);
}
._2pjy9v6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._601brz1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._601brz2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._601brz2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._601brz4 {
  --_601brz3: 30px;
}
._601brz5 {
  --_601brz3: 45px;
}
._601brz6 {
  --_601brz3: 60px;
}
._601brz7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._601brz8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._601brz9 {
  overflow: auto;
}
._601brze {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_601brzc, 0)),linear-gradient(to right, transparent 0, black var(--_601brza, 0)),linear-gradient(to left, transparent 0, black var(--_601brzb, 0)),linear-gradient(to top, transparent 0, black var(--_601brzd, 0));
}
._601brzf {
  --_601brza: var(--_601brz3);
}
._601brzg {
  --_601brzb: var(--_601brz3);
}
._601brzh {
  --_601brzc: var(--_601brz3);
}
._601brzi {
  --_601brzd: var(--_601brz3);
}
._1d4nfw22 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1s25f2z8);
  color: var(--_1d4nfw20);
  isolation: isolate;
  outline: none;
}
._1d4nfw22[data-pressed], ._1d4nfw22:active {
  transform: scale(.95);
}
._1d4nfw22::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1s25f2zi) * -1);
  background-color: var(--_1d4nfw20);
  border-radius: var(--_1s25f2z8);
}
._1d4nfw22:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1d4nfw22:hover, ._1d4nfw22[data-popup-open]:not(:focus-visible) {
  color: var(--ca6xv88);
}
._1d4nfw22:focus-visible::after {
  outline: 2px solid var(--ca6xv8t);
}
._1d4nfw22:focus-visible:not(:hover)::after {
  background: transparent;
}
._1d4nfw23 {
  --_1d4nfw20: var(--ca6xv8b);
}
._1d4nfw24 {
  --_1d4nfw20: var(--ca6xv8c);
}
._1d4nfw22 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.vh2uz71 {
  justify-content: safe center;
}
.vh2uz75 {
  flex-shrink: 0;
  width: var(--vh2uz72);
}
.vh2uz75:last-child {
  padding-right: var(--_1s25f2zn);
}
.vh2uz76 {
  transition: color 150ms ease;
}
.vh2uz75:hover .vh2uz76, .vh2uz75:focus-within .vh2uz76, .vh2uz73 .vh2uz76 {
  color: var(--ca6xv8b);
}
.vh2uz78 {
  outline: 1px solid var(--ca6xv8q);
}
.vh2uz7a {
  transition: opacity 150ms ease;
}
.vh2uz75:not(:hover, :focus-within, .vh2uz73) .vh2uz7a {
  opacity: 1;
}
.vh2uz7c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.vh2uz7a:hover ~ .vh2uz78 .vh2uz7c, .vh2uz7a:focus-within ~ .vh2uz78.vh2uz7c {
  outline-color: var(--ca6xv8b);
}
.vh2uz7e {
  transition: opacity 150ms ease;
}
.vh2uz75:not(:hover, :focus-within, .vh2uz73) .vh2uz7e {
  opacity: 0;
}
._1rbad9z1 {
  color: var(--ca6xv87);
  font-family: var(--_1s25f2z0);
}
._1rbad9z2 {
  --_19f4mc80: 36px;
  --_19f4mc81: 44px;
  --_19f4mc82: -0.2741em;
  --_19f4mc83: -0.2031em;
}
._1rbad9z3 {
  --_19f4mc80: 20px;
  --_19f4mc81: 28px;
  --_19f4mc82: -0.363em;
  --_19f4mc83: -0.292em;
}
._1rbad9z4 {
  --_19f4mc80: 16px;
  --_19f4mc81: 20px;
  --_19f4mc82: -0.288em;
  --_19f4mc83: -0.217em;
}
.nc3hds1 {
  display: flex;
  flex-direction: column;
  gap: var(--nc3hds0);
}
.nc3hds2 {
  --nc3hds0: var(--_1s25f2zg);
}
.nc3hds3 {
  --nc3hds0: var(--_1s25f2zh);
}
.nc3hds4 {
  --nc3hds0: var(--_1s25f2zi);
}
.nc3hds5 {
  --nc3hds0: var(--_1s25f2zj);
}
.nc3hds6 {
  --nc3hds0: var(--_1s25f2zk);
}
.nc3hds7 {
  --nc3hds0: var(--_1s25f2zl);
}
.nc3hds8 {
  --nc3hds0: var(--_1s25f2zm);
}
.nc3hds9 {
  --nc3hds0: var(--_1s25f2zn);
}
.nc3hdsa {
  --nc3hds0: var(--_1s25f2zo);
}
.nc3hdsb {
  --nc3hds0: var(--_1s25f2zp);
}
.nc3hdsc {
  align-items: flex-start;
}
.nc3hdsd {
  align-items: center;
}
.nc3hdse {
  align-items: flex-end;
}
._7o881y1 {
  backdrop-filter: blur(6px);
}
._7o881y1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ca6xv8j);
  opacity: 0.4;
}
html[data-playroom-dark] ._7o881y1::before {
  opacity: 0.7;
}
._7o881y1[data-starting-style]::before, ._7o881y1[data-ending-style]::before {
  opacity: 0;
}
._7o881y3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1s25f2zk) * 2));
  max-height: calc(100dvh - (var(--_1s25f2zk) * 2));
}
._7o881y3[data-starting-style], ._7o881y3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._7o881y7:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
._1gptgly2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1gptgly0);
  align-items: var(--_1gptgly1);
}
._1gptgly3 {
  flex-wrap: wrap;
}
._1gptgly4 {
  --_1gptgly0: var(--_1s25f2zg);
}
._1gptgly5 {
  --_1gptgly0: var(--_1s25f2zh);
}
._1gptgly6 {
  --_1gptgly0: var(--_1s25f2zi);
}
._1gptgly7 {
  --_1gptgly0: var(--_1s25f2zj);
}
._1gptgly8 {
  --_1gptgly0: var(--_1s25f2zk);
}
._1gptgly9 {
  --_1gptgly0: var(--_1s25f2zl);
}
._1gptglya {
  --_1gptgly0: var(--_1s25f2zm);
}
._1gptglyb {
  --_1gptgly0: var(--_1s25f2zn);
}
._1gptglyc {
  --_1gptgly0: var(--_1s25f2zo);
}
._1gptglyd {
  --_1gptgly0: var(--_1s25f2zp);
}
._1gptglye {
  align-items: flex-start;
}
._1gptglyf {
  align-items: center;
}
._1gptglyg {
  align-items: flex-end;
}
.oide8w0 {
  isolation: isolate;
  white-space: nowrap;
}
.oide8w1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .oide8w3 {
    display: none;
  }
}
.cfnx282 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.cfnx283 {
  width: 250px;
}
.cfnx286 {
  --cfnx284: var(--ca6xv8m);
  outline: none;
  cursor: default;
  color: var(--ca6xv87);
  height: 34px;
  isolation: isolate;
}
.cfnx286::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1s25f2z8);
  z-index: -1;
}
.cfnx286[data-popup-open]:not([aria-disabled])::before, .cfnx286[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--cfnx284);
}
.cfnx286:focus-visible::before {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: -2px;
}
.cfnx286[aria-disabled] {
  color: var(--ca6xv89);
  cursor: not-allowed;
}
.cfnx287 {
  cursor: pointer;
  text-decoration: none;
}
.cfnx287[aria-disabled] {
  cursor: not-allowed;
}
.cfnx288 {
  margin-left: 3px;
}
.cfnx289 {
  --cfnx284: var(--ca6xv8i);
  color: var(--ca6xv8a);
}
.cfnx28a {
  --cfnx284: transparent;
  color: var(--ca6xv8c);
}
.cfnx28a svg {
  color: var(--ca6xv8c);
}
.cfnx28c {
  isolation: isolate;
}
.cfnx28g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.cfnx28i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--ca6xv87);
  z-index: 1;
}
[aria-checked="true"] .cfnx28i {
  color: var(--ca6xv88);
}
.cfnx28k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--ca6xv87);
  isolation: isolate;
}
[aria-checked="true"] .cfnx28k {
  background-color: var(--ca6xv8e);
  border-color: var(--ca6xv8e);
}
.cfnx28p {
  height: 34px;
}
.cfnx28r {
  height: 1px;
  background-color: var(--ca6xv8q);
}
.cfnx28s {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.cfnx28u {
  background: transparent;
  border: none;
}
.cfnx28u:hover, .cfnx28u[data-highlighted] {
  background-color: var(--ca6xv8m);
}
.cfnx28u:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: -2px;
}
.gauhnj0 {
  width: 200px;
}
._19wg8r51 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ca6xv8k);
}
._19wg8r52 {
  width: fit-content;
}
._19wg8r54 {
  width: fit-content;
  justify-self: flex-end;
}
._19wg8r57:not(._19wg8r55) {
  opacity: 0;
  transform: translateX(var(--_1s25f2zj));
  pointer-events: none;
}
._19wg8r59 {
  background: transparent;
  color: var(--ca6xv8f);
  isolation: isolate;
}
._19wg8r59::after {
  content: "";
  position: absolute;
  transition: var(--_1s25f2zf);
  z-index: -1;
  inset: calc(var(--_1s25f2zj) * -1);
  background-color: var(--ca6xv8m);
  border-radius: var(--_1s25f2z9);
}
._19wg8r59:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 6px;
}
._19wg8r59:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._19wg8r5b {
  margin: calc(var(--_1s25f2zk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._19wg8r5f {
  appearance: none;
  outline: none;
  background: var(--ca6xv8k);
  color: var(--ca6xv87);
  border: 1px solid var(--ca6xv8q);
  height: var(--_1s25f2zr);
}
._19wg8r5f:hover, ._19wg8r5f[data-popup-open] {
  background-color: var(--ca6xv8m);
}
._19wg8r5f:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  z-index: 1;
}
._19wg8r5h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._19wg8r5j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._19wg8r5k {
  color: var(--ca6xv8c);
}
._19wg8r5m {
  height: 1px;
  background-color: var(--ca6xv8q);
}
@media screen and (max-width: 767px) {
  ._19wg8r54 {
    display: none;
  }
}
.zi03o52 {
  flex: 1;
  min-height: 0;
}
.zi03o55 {
  --zi03o53: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--zi03o53), 1fr);
}
.zi03o57 {
  aspect-ratio: 5/4;
  list-style: none;
}
.zi03o59 {
  height: calc(100% / var(--zi03o50));
  width: calc(100% / var(--zi03o50));
  border-radius: calc(var(--_1s25f2z9) / var(--zi03o50));
  transform: scale(var(--zi03o50));
  transform-origin: 0 0;
  padding: calc(1px / var(--zi03o50));
}
.zi03o5b {
  background: var(--ca6xv8m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.zi03o5d {
  background: transparent;
  outline: 1px solid var(--ca6xv8q);
}
.zi03o5d:hover {
  outline: 2px solid var(--ca6xv8r);
}
.zi03o5d:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
.zi03o5h {
  list-style: none;
}
.zi03o5j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--ca6xv8q);
}
.zi03o5j:hover {
  outline: 2px solid var(--ca6xv8r);
}
.zi03o5j:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .zi03o55 {
    --zi03o53: 2;
  }
}
@media screen and (min-width: 800px) {
  .zi03o55 {
    --zi03o53: 3;
  }
}
@media screen and (min-width: 1200px) {
  .zi03o55 {
    --zi03o53: 4;
  }
}
@media screen and (min-width: 1600px) {
  .zi03o55 {
    --zi03o53: 5;
  }
}
.wm1j8u1 {
  width: fit-content;
}
.wm1j8u3:focus-visible ~ .wm1j8u5 {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 4px;
}
.wm1j8u8 {
  min-width: 0;
}
.wm1j8u9 {
  flex-shrink: 0;
}
._1pql9q52 {
  outline: none;
  height: var(--_1s25f2zr);
  color: var(--ca6xv87);
  background: transparent;
}
._1pql9q52::placeholder {
  color: var(--ca6xv89);
  font-weight: strong;
}
._1pql9q52:hover:not(:focus-visible), ._1pql9q52:hover:not(:focus-visible)::placeholder {
  background: var(--ca6xv8m);
  opacity: 1;
  color: transparent;
}
._1pql9q52:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1pql9q52:focus-visible {
  outline: 2px solid var(--ca6xv8t);
  outline-offset: 0;
  opacity: 1;
}
._1pql9q52:focus-visible::placeholder {
  color: transparent;
}
._1pql9q54 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--ca6xv87);
}
._1pql9q52:focus-visible ~ ._1pql9q54 {
  opacity: 0;
}
._1pql9q55 {
  color: var(--ca6xv89);
}
.sjawyp3 {
  border: 1px solid var(--ca6xv8q);
}
.sjawyp5 {
  background-color: var(--ca6xv8p);
  border-bottom: 1px solid var(--ca6xv8q);
}
.sjawyp8 {
  background-color: var(--ca6xv8p);
  border-top: 1px solid var(--ca6xv8q);
}
.sjawypc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .sjawyp6 {
    display: none;
  }
}
