._1ec5pve1 {
  background-color: var(--b5al3wl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--b5al3wo);
}
._1ec5pve2::before {
  content: "";
  position: absolute;
  min-height: var(--n2smjjc);
  min-width: var(--n2smjjc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1ctlaie2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1ctlaie4 {
  border: 1px solid var(--b5al3wo);
  background-color: var(--b5al3wk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1ctlaie4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--b5al3wm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1ctlaie4:hover::after {
  opacity: 1;
}
._1ctlaie4:focus-visible::after {
  opacity: 1;
}
._1ctlaie4:active:not([disabled]) {
  transform: scale(0.97);
}
._1ctlaie4:focus-visible {
  outline: 2px solid var(--b5al3wr);
  outline-offset: 0;
}
._1ctlaie6 {
  height: var(--_1ctlaie0);
}
._1ctlaie8 {
  border-color: var(--b5al3wc);
}
._1ctlaie8::after {
  background-color: var(--b5al3wh);
}
._1ctlaie9 {
  border-color: var(--b5al3wa);
}
._1ctlaie9::after {
  background-color: var(--b5al3wi);
}
._1ctlaiea {
  --_1ctlaie0: var(--n2smjjq);
}
._1ctlaieb {
  --_1ctlaie0: var(--n2smjjr);
}
._1ctlaiec {
  --_1ctlaie0: var(--n2smjjs);
}
.rdsrlr1 {
  --b5al3w7: var(--b5al3wd);
  background-color: var(--b5al3wn);
  outline: 1px solid var(--b5al3wq);
  outline-offset: -1px;
}
.n1ai4i3 {
  background: transparent;
  outline: none;
  height: var(--n1ai4i0);
  width: var(--n1ai4i0);
}
.n1ai4i5 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--n1ai4i1);
  isolation: isolate;
}
.n1ai4i3[data-pressed] .n1ai4i5, .n1ai4i3:active .n1ai4i5 {
  transform: scale(.95);
}
.n1ai4i3:focus-visible .n1ai4i5 {
  outline: 2px solid var(--b5al3wr);
}
.n1ai4i6 {
  --n1ai4i0: var(--n2smjjq);
}
.n1ai4i7 {
  --n1ai4i0: var(--n2smjjr);
}
.n1ai4i8 {
  --n1ai4i0: var(--n2smjjs);
}
.n1ai4i9 {
  --n1ai4i1: var(--b5al3w7);
}
.n1ai4ia {
  --n1ai4i1: var(--b5al3wb);
}
.n1ai4ib {
  --n1ai4i1: var(--b5al3wc);
}
.n1ai4ic {
  background-color: var(--b5al3wk);
  outline: 1px solid var(--b5al3wo);
  outline-offset: -1px;
}
.n1ai4ic:hover, [data-popup-open] > .n1ai4ic {
  background-color: var(--b5al3wm);
}
.n1ai4id {
  --n1ai4i1: var(--b5al3w8);
  background-color: var(--b5al3wf);
}
.n1ai4id:hover, [data-popup-open] > .n1ai4id {
  background-color: var(--b5al3wg);
}
.n1ai4ie:hover, [data-popup-open] > .n1ai4ie {
  background-color: var(--b5al3wm);
}
.n1ai4if {
  margin: calc((var(--n2smjjj) + 2px) * -1);
}
.n1ai4i5 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._5gkzum0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  ._5gkzum1 {
    display: none;
  }
}
.w65d4l1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.w65d4l2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.w65d4l2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.w65d4l4 {
  --w65d4l3: 40px;
}
.w65d4l5 {
  --w65d4l3: 60px;
}
.w65d4l6 {
  --w65d4l3: 80px;
}
.w65d4l7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.w65d4l8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.w65d4l9 {
  overflow: auto;
}
.w65d4le {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--w65d4lc, 0)),linear-gradient(to right, transparent 0, black var(--w65d4la, 0)),linear-gradient(to left, transparent 0, black var(--w65d4lb, 0)),linear-gradient(to top, transparent 0, black var(--w65d4ld, 0));
}
.w65d4lf {
  --w65d4la: var(--w65d4l3);
}
.w65d4lg {
  --w65d4lb: var(--w65d4l3);
}
.w65d4lh {
  --w65d4lc: var(--w65d4l3);
}
.w65d4li {
  --w65d4ld: var(--w65d4l3);
}
._1jv81ma0 {
  transition: var(--n2smjje);
  transform-origin: 50% 50%;
}
._1jv81ma1 {
  transform: rotate(90deg);
}
._1jv81ma2 {
  transform: rotate(180deg);
}
._1jv81ma3 {
  transform: rotate(270deg);
}
.xm3y7b2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.xm3y7b3 {
  width: 250px;
}
.xm3y7b6 {
  --xm3y7b4: var(--b5al3wm);
  outline: none;
  cursor: default;
  color: var(--b5al3w7);
  height: 34px;
}
.xm3y7b6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--n2smjj8);
}
.xm3y7b6[data-popup-open]:not([aria-disabled])::before, .xm3y7b6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--xm3y7b4);
}
.xm3y7b6:focus-visible::before {
  outline: 2px solid var(--b5al3wr);
  outline-offset: -2px;
}
.xm3y7b6[aria-disabled] {
  color: var(--b5al3w9);
  cursor: not-allowed;
}
.xm3y7b7 {
  cursor: pointer;
  text-decoration: none;
}
.xm3y7b7[aria-disabled] {
  cursor: not-allowed;
}
.xm3y7b8 {
  --xm3y7b4: var(--b5al3wi);
  color: var(--b5al3wa);
}
.xm3y7b9 {
  --xm3y7b4: transparent;
  color: var(--b5al3wc);
}
.xm3y7b9 svg {
  color: var(--b5al3wc);
}
.xm3y7bb {
  isolation: isolate;
}
.xm3y7bf {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.xm3y7bh {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--b5al3w7);
  z-index: 1;
}
[aria-checked="true"] .xm3y7bh {
  color: var(--b5al3w8);
}
.xm3y7bj {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--b5al3w7);
  isolation: isolate;
}
[aria-checked="true"] .xm3y7bj {
  background-color: var(--b5al3we);
  border-color: var(--b5al3we);
}
.xm3y7bm {
  height: 1px;
  background-color: var(--b5al3wo);
}
.xm3y7bn {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.xm3y7bp {
  background: transparent;
  border: none;
  margin: calc(var(--n2smjjj) * -1);
}
.xm3y7bp:hover, .xm3y7bp[data-highlighted] {
  background-color: var(--b5al3wm);
}
.xm3y7bp:focus-visible {
  outline: 2px solid var(--b5al3wr);
  outline-offset: -2px;
}
.i1yd4w2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--n2smjj8);
  color: var(--i1yd4w0);
  isolation: isolate;
  outline: none;
}
.i1yd4w2[data-pressed], .i1yd4w2:active {
  transform: scale(.95);
}
.i1yd4w2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--n2smjji) * -1);
  background-color: var(--i1yd4w0);
  border-radius: var(--n2smjj8);
}
.i1yd4w2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.i1yd4w2:hover, .i1yd4w2[data-popup-open]:not(:focus-visible) {
  color: var(--b5al3w8);
}
.i1yd4w2:focus-visible::after {
  outline: 2px solid var(--b5al3wr);
}
.i1yd4w2:focus-visible:not(:hover)::after {
  background: transparent;
}
.i1yd4w3 {
  --i1yd4w0: var(--b5al3wb);
}
.i1yd4w4 {
  --i1yd4w0: var(--b5al3wc);
}
.i1yd4w2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1uelzxc1 {
  justify-content: safe center;
}
._1uelzxc5 {
  flex-shrink: 0;
  width: var(--_1uelzxc2);
}
._1uelzxc6 {
  transition: color 150ms ease;
}
._1uelzxc5:hover ._1uelzxc6, ._1uelzxc5:focus-within ._1uelzxc6, ._1uelzxc3 ._1uelzxc6 {
  color: var(--b5al3wb);
}
._1uelzxc8 {
  outline: 1px solid var(--b5al3wo);
}
._1uelzxca {
  transition: opacity 150ms ease;
}
._1uelzxc5:not(:hover, :focus-within, ._1uelzxc3) ._1uelzxca {
  opacity: 1;
}
._1uelzxcc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1uelzxca:hover ~ ._1uelzxc8 ._1uelzxcc, ._1uelzxca:focus-within ~ ._1uelzxc8._1uelzxcc {
  outline-color: var(--b5al3wb);
}
._1uelzxce {
  transition: opacity 150ms ease;
}
._1uelzxc5:not(:hover, :focus-within, ._1uelzxc3) ._1uelzxce {
  opacity: 0;
}
.w5cdkl1 {
  color: var(--b5al3w7);
  font-family: var(--n2smjj0);
}
.w5cdkl2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
.w5cdkl3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
.w5cdkl4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.qn6uyo1 {
  display: flex;
  flex-direction: column;
  gap: var(--qn6uyo0);
}
.qn6uyo2 {
  --qn6uyo0: var(--n2smjjg);
}
.qn6uyo3 {
  --qn6uyo0: var(--n2smjjh);
}
.qn6uyo4 {
  --qn6uyo0: var(--n2smjji);
}
.qn6uyo5 {
  --qn6uyo0: var(--n2smjjj);
}
.qn6uyo6 {
  --qn6uyo0: var(--n2smjjk);
}
.qn6uyo7 {
  --qn6uyo0: var(--n2smjjl);
}
.qn6uyo8 {
  --qn6uyo0: var(--n2smjjm);
}
.qn6uyo9 {
  --qn6uyo0: var(--n2smjjn);
}
.qn6uyoa {
  --qn6uyo0: var(--n2smjjo);
}
.qn6uyob {
  --qn6uyo0: var(--n2smjjp);
}
.n0bwmh1 {
  backdrop-filter: blur(6px);
}
.n0bwmh1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--b5al3wj);
  opacity: 0.4;
}
html[data-playroom-dark] .n0bwmh1::before {
  opacity: 0.7;
}
.n0bwmh1[data-starting-style]::before, .n0bwmh1[data-ending-style]::before {
  opacity: 0;
}
.n0bwmh3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--n2smjjk) * 2));
  max-height: calc(100dvh - (var(--n2smjjk) * 2));
}
.n0bwmh3[data-starting-style], .n0bwmh3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.n0bwmh7:focus-visible {
  outline: 2px solid var(--b5al3wr);
  outline-offset: 2px;
}
._1xlq1n42 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1xlq1n40);
  align-items: var(--_1xlq1n41);
}
._1xlq1n43 {
  --_1xlq1n40: var(--n2smjjg);
}
._1xlq1n44 {
  --_1xlq1n40: var(--n2smjjh);
}
._1xlq1n45 {
  --_1xlq1n40: var(--n2smjji);
}
._1xlq1n46 {
  --_1xlq1n40: var(--n2smjjj);
}
._1xlq1n47 {
  --_1xlq1n40: var(--n2smjjk);
}
._1xlq1n48 {
  --_1xlq1n40: var(--n2smjjl);
}
._1xlq1n49 {
  --_1xlq1n40: var(--n2smjjm);
}
._1xlq1n4a {
  --_1xlq1n40: var(--n2smjjn);
}
._1xlq1n4b {
  --_1xlq1n40: var(--n2smjjo);
}
._1xlq1n4c {
  --_1xlq1n40: var(--n2smjjp);
}
._1xlq1n4d {
  align-items: flex-start;
}
._1xlq1n4e {
  align-items: center;
}
._1xlq1n4f {
  align-items: flex-end;
}
._4zffp23 {
  --_4zffp21: 1;
  display: grid;
  grid-template-columns: repeat(var(--_4zffp21), 1fr);
}
._4zffp25 {
  aspect-ratio: 5/4;
  list-style: none;
}
._4zffp27 {
  height: calc(100% / var(--_4zffp20));
  width: calc(100% / var(--_4zffp20));
  border-radius: calc(var(--n2smjj9) / var(--_4zffp20));
  transform: scale(var(--_4zffp20));
  transform-origin: 0 0;
  padding: calc(1px / var(--_4zffp20));
}
._4zffp29 {
  background: var(--b5al3wm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._4zffp2b {
  background: transparent;
  outline: 1px solid var(--b5al3wo);
}
._4zffp2b:hover {
  outline: 2px solid var(--b5al3wp);
}
._4zffp2b:focus-visible {
  outline: 2px solid var(--b5al3wr);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._4zffp23 {
    --_4zffp21: 2;
  }
}
@media screen and (min-width: 800px) {
  ._4zffp23 {
    --_4zffp21: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._4zffp23 {
    --_4zffp21: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._4zffp23 {
    --_4zffp21: 5;
  }
}
._5lhwhi1 {
  width: fit-content;
}
._5lhwhi3:focus-visible ~ ._5lhwhi5 {
  outline: 2px solid var(--b5al3wr);
  outline-offset: 4px;
}
._5lhwhi8 {
  min-width: 0;
}
._5lhwhi9 {
  flex-shrink: 0;
}
.loq4cw2 {
  outline: none;
  height: var(--n2smjjr);
  color: var(--b5al3w7);
  background: transparent;
}
.loq4cw2::placeholder {
  color: var(--b5al3w9);
  font-weight: normal;
}
.loq4cw2:hover:not(:focus-visible) {
  background: var(--b5al3wm);
  opacity: 1;
  color: transparent;
}
.loq4cw2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.loq4cw2:focus-visible {
  outline: 2px solid var(--b5al3wr);
  opacity: 1;
}
.loq4cw2:focus-visible::placeholder {
  color: transparent;
}
.loq4cw4 {
  max-width: 50vw;
  min-width: 240px;
}
.loq4cw2:focus-visible ~ .loq4cw4 {
  opacity: 0;
}
.loq4cw5 {
  white-space: pre;
}
._164aclo1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--b5al3wk);
}
._164aclo2 {
  width: fit-content;
}
._164aclo4 {
  width: fit-content;
  justify-self: flex-end;
}
._164aclo7:not(._164aclo5) {
  opacity: 0;
  transform: translateX(var(--n2smjjj));
  pointer-events: none;
}
._164aclo9 {
  background: transparent;
  color: var(--b5al3wf);
  isolation: isolate;
}
._164aclo9::after {
  content: "";
  position: absolute;
  transition: var(--n2smjjf);
  z-index: -1;
  inset: calc(var(--n2smjjj) * -1);
  background-color: var(--b5al3wm);
  border-radius: var(--n2smjj9);
}
._164aclo9:focus-visible {
  outline: 2px solid var(--b5al3wr);
  outline-offset: 6px;
}
._164aclo9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._164aclob {
  margin: calc(var(--n2smjjk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._164aclof {
  appearance: none;
  outline: none;
  background: var(--b5al3wk);
  color: var(--b5al3w7);
  border: 1px solid var(--b5al3wo);
  height: var(--n2smjjr);
}
._164aclof:hover, ._164aclof[data-popup-open] {
  background-color: var(--b5al3wm);
}
._164aclof:focus-visible {
  outline: 2px solid var(--b5al3wr);
  z-index: 1;
}
._164acloh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._164acloj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._164aclok {
  color: var(--b5al3wc);
}
._164aclom {
  height: 1px;
  background-color: var(--b5al3wo);
}
@media screen and (max-width: 767px) {
  ._164aclo4 {
    display: none;
  }
}
._7wl8ce2 {
  border: 1px solid var(--b5al3wo);
  border-radius: var(--n2smjj9);
}
._7wl8ce4 {
  border-bottom: 1px solid var(--b5al3wo);
  gap: 12px;
}
._7wl8ce7 {
  border-top: 1px solid var(--b5al3wo);
  gap: 12px;
}
._7wl8ceb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._7wl8ce5 {
    display: none;
  }
}
