._19dt1q42 {
  display: flex;
  flex-direction: row;
  gap: var(--_19dt1q40);
  align-items: var(--_19dt1q41);
}
._19dt1q43 {
  flex-wrap: wrap;
}
._19dt1q44 {
  --_19dt1q40: var(--tqnoukg);
}
._19dt1q45 {
  --_19dt1q40: var(--tqnoukh);
}
._19dt1q46 {
  --_19dt1q40: var(--tqnouki);
}
._19dt1q47 {
  --_19dt1q40: var(--tqnoukj);
}
._19dt1q48 {
  --_19dt1q40: var(--tqnoukk);
}
._19dt1q49 {
  --_19dt1q40: var(--tqnoukl);
}
._19dt1q4a {
  --_19dt1q40: var(--tqnoukm);
}
._19dt1q4b {
  --_19dt1q40: var(--tqnoukn);
}
._19dt1q4c {
  --_19dt1q40: var(--tqnouko);
}
._19dt1q4d {
  --_19dt1q40: var(--tqnoukp);
}
._19dt1q4e {
  align-items: flex-start;
}
._19dt1q4f {
  align-items: center;
}
._19dt1q4g {
  align-items: flex-end;
}
.d20acf0 {
  isolation: isolate;
  white-space: nowrap;
}
.d20acf1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .d20acf3 {
    display: none;
  }
}
.irk1co0 {
  color: var(--w5cfdh9);
}
._2olsef1 {
  background-color: var(--w5cfdhm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--w5cfdhs);
}
._2olsef2::before {
  content: "";
  position: absolute;
  min-height: var(--tqnoukc);
  min-width: var(--tqnoukc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.so7eo81 {
  --w5cfdh7: var(--w5cfdhd);
  background-color: var(--w5cfdho);
  outline: 1px solid var(--w5cfdhu);
  outline-offset: -1px;
}
._6nlzct3 {
  background: transparent;
  outline: none;
  height: var(--_6nlzct0) !important;
  width: var(--_6nlzct0) !important;
}
._6nlzct6 {
  padding: var(--_6nlzct4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._6nlzct3:active ._6nlzct6 {
  transform: scale(.95);
}
._6nlzct3:focus-visible ._6nlzct6 {
  outline: 2px solid var(--w5cfdhv);
}
._6nlzct3[aria-disabled="true"] ._6nlzct6 {
  --_6nlzct1: var(--w5cfdh9);
}
._6nlzct7 {
  --_6nlzct0: var(--tqnoukq);
  --_6nlzct4: var(--tqnouki);
}
._6nlzct8 {
  --_6nlzct0: var(--tqnoukr);
  --_6nlzct4: var(--tqnoukj);
}
._6nlzct9 {
  --_6nlzct0: var(--tqnouks);
  --_6nlzct4: var(--tqnoukj);
}
._6nlzctj {
  --_6nlzcta: var(--w5cfdh7);
  --_6nlzctb: var(--w5cfdhl);
  --_6nlzctc: var(--w5cfdhn);
  --_6nlzctd: var(--w5cfdh8);
  --_6nlzcte: var(--w5cfdhg);
  --_6nlzctf: var(--w5cfdhh);
  --_6nlzctg: var(--w5cfdh7);
  --_6nlzcth: var(--w5cfdh7);
  --_6nlzcti: var(--w5cfdhn);
}
._6nlzctk {
  --_6nlzcta: var(--w5cfdhb);
  --_6nlzctb: var(--w5cfdhl);
  --_6nlzctc: var(--w5cfdhn);
  --_6nlzctd: var(--w5cfdh8);
  --_6nlzcte: var(--w5cfdhb);
  --_6nlzctf: var(--w5cfdhf);
  --_6nlzctg: var(--w5cfdhb);
  --_6nlzcth: var(--w5cfdh8);
  --_6nlzcti: var(--w5cfdhe);
}
._6nlzctl {
  color: var(--_6nlzcta);
  background-color: var(--_6nlzctb);
  outline: 1px solid var(--w5cfdhs);
  outline-offset: -1px;
}
._6nlzct3:not([aria-disabled="true"]):hover > ._6nlzctl, ._6nlzct3:not([aria-disabled="true"]):focus-visible > ._6nlzctl, ._6nlzct3:not([aria-disabled="true"])[data-popup-open] > ._6nlzctl, ._6nlzct3:not([aria-disabled="true"])[data-active] > ._6nlzctl {
  background-color: var(--_6nlzctc);
}
._6nlzctm {
  color: var(--_6nlzctd);
  background-color: var(--_6nlzcte);
}
._6nlzct3:not([aria-disabled="true"]):hover > ._6nlzctm, ._6nlzct3:not([aria-disabled="true"]):focus-visible > ._6nlzctm, ._6nlzct3:not([aria-disabled="true"])[data-popup-open] > ._6nlzctm, ._6nlzct3:not([aria-disabled="true"])[data-active] > ._6nlzctm {
  background-color: var(--_6nlzctf);
}
._6nlzctn {
  color: var(--_6nlzctg);
}
._6nlzct3:not([aria-disabled="true"]):hover > ._6nlzctn, ._6nlzct3:not([aria-disabled="true"]):focus-visible > ._6nlzctn, ._6nlzct3:not([aria-disabled="true"])[data-popup-open] > ._6nlzctn, ._6nlzct3:not([aria-disabled="true"])[data-active] > ._6nlzctn {
  color: var(--_6nlzcth);
  background-color: var(--_6nlzcti);
}
._6nlzcto {
  margin: calc((var(--_6nlzct4) + 2px) * -1);
}
._6nlzct6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes xvzjc68 {
  from {
    background-color: var(--w5cfdhp);
  }
  to {
    background-color: transparent;
  }
}
.xvzjc60 {
  background-color: var(--w5cfdhn);
}
.xvzjc62 {
  background-color: var(--w5cfdhj);
  color: var(--w5cfdha);
  min-width: 50px;
}
.xvzjc63 {
  opacity: 1;
}
.xvzjc65 {
  width: 1em;
}
.xvzjc66::after {
  content: "-";
}
.xvzjc67::after {
  content: "+";
  opacity: 1;
}
.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--tqnouk1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  box-sizing: border-box;
  padding-left: var(--tqnouki);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--tqnoukl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: var(--tqnoukh);
  box-shadow: var(--w5cfdhw);
  border-radius: var(--tqnouk9);
  background-color: var(--w5cfdhm);
  border: 1px solid var(--w5cfdhs);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--tqnouk1);
  max-height: 20em;
  overflow-y: auto;
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--tqnouki) var(--tqnoukj);
  border-radius: var(--tqnouk8);
  white-space: pre;
  color: var(--w5cfdh0);
  cursor: default;
  height: var(--tqnoukr);
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.CodeMirror-hint::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--tqnouk8);
  z-index: -1;
  background-color: var(--w5cfdhn);
  opacity: 0;
}
.CodeMirror-hint-active::before {
  opacity: 1;
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--w5cfdhb);
  font-family: arial;
  cursor: default;
  padding: 0 var(--tqnouki);
}
.cm-s-neo.CodeMirror {
  background-color: var(--w5cfdhl);
  color: var(--w5cfdh0);
}
.cm-s-neo.CodeMirror::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, transparent, var(--w5cfdhl));
  right: 0;
  pointer-events: none;
}
.CodeMirror-scroll {
  padding-right: 20px;
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--w5cfdh7);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--w5cfdhl);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--w5cfdhl);
  position: absolute;
  right: var(--tqnoukh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--w5cfdhl);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--w5cfdhp);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--w5cfdh7);
  transition: var(--tqnoukf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.xvzjc67) {
  color: var(--w5cfdh7);
  opacity: 0.4;
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--w5cfdh7);
  transition: var(--tqnoukf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  opacity: 0.4;
}
.cm-s-neo .cm-tag {
  color: var(--w5cfdh1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--w5cfdh2);
}
.cm-s-neo .cm-string {
  color: var(--w5cfdh3);
}
.cm-s-neo .cm-atom {
  color: var(--w5cfdh4);
}
.cm-s-neo .cm-variable {
  color: var(--w5cfdh5);
}
.cm-s-neo .cm-number {
  color: var(--w5cfdh6);
}
.CodeMirror-dialog {
  padding-left: var(--tqnoukl);
  padding-right: var(--tqnoukl);
  min-height: var(--tqnoukc);
  border-bottom: 1px solid var(--w5cfdhs);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transition: var(--tqnoukf);
}
.dialog-opened .CodeMirror-scroll {
  transform: translateY(var(--tqnoukc));
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--tqnoukc);
}
.CodeMirror-dialog input {
  font: var(--tqnouk5);
  font-family: var(--tqnouk1);
  height: var(--tqnoukc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--tqnoukc);
  font: var(--tqnouk5);
  font-family: var(--tqnouk1);
}
.CodeMirror-search-field {
  padding-left: var(--tqnoukl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--w5cfdhp);
}
.cm-overlay.cm-searching {
  padding-top: var(--tqnoukh);
  padding-bottom: var(--tqnoukh);
  background: var(--w5cfdhp);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--tqnoukl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--tqnouk4);
  font-family: var(--tqnouk0);
  margin-left: var(--tqnoukj);
  padding-top: var(--tqnouki);
  padding-bottom: var(--tqnouki);
  padding-left: var(--tqnoukk);
  padding-right: var(--tqnoukk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--tqnouk9);
  cursor: default;
  border: 1px solid var(--w5cfdhs);
}
.CodeMirror-dialog button:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 0;
}
.CodeMirror-dialog button:hover {
  background: var(--w5cfdhn);
}
.cm-inspect-highlight {
  background-color: var(--w5cfdhp) !important;
}
.cm-inspect-highlight-fade {
  animation: xvzjc68 1s ease forwards;
}
._1wwjz972 {
  width: fit-content;
  max-width: 80ex;
  background: var(--w5cfdhm);
  box-shadow: 0 2px 10px -2px hsla(358, 66%, 48%, 1);
  word-break: break-word;
  white-space: pre-line;
  outline: 1px solid hsla(358, 66%, 48%, 1);
}
._1wwjz972:not(._1wwjz970) {
  transform: translateY(var(--tqnoukj));
  transition: none;
  opacity: 0;
}
._1wwjz974 {
  transition-delay: calc(var(--_1wwjz973) * 1ms);
}
._1wwjz978 {
  background: hsla(358, 66%, 48%, 1);
  color: hsla(0, 0%, 93%, 1);
  height: var(--tqnoukq);
}
._1wwjz978:active:not([disabled]) {
  transform: scale(0.97);
}
.y6hotu1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.y6hotu2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.y6hotu2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.y6hotu4 {
  --y6hotu3: 30px;
}
.y6hotu5 {
  --y6hotu3: 45px;
}
.y6hotu6 {
  --y6hotu3: 60px;
}
.y6hotu7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.y6hotu8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.y6hotu9 {
  overflow: auto;
}
.y6hotue {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--y6hotuc, 0)),linear-gradient(to right, transparent 0, black var(--y6hotua, 0)),linear-gradient(to left, transparent 0, black var(--y6hotub, 0)),linear-gradient(to top, transparent 0, black var(--y6hotud, 0));
}
.y6hotuf {
  --y6hotua: var(--y6hotu3);
}
.y6hotug {
  --y6hotub: var(--y6hotu3);
}
.y6hotuh {
  --y6hotuc: var(--y6hotu3);
}
.y6hotui {
  --y6hotud: var(--y6hotu3);
}
.fek3ld2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.fek3ld3 {
  width: 250px;
}
.fek3ld6 {
  --fek3ld4: var(--w5cfdhn);
  outline: none;
  cursor: default;
  color: var(--w5cfdh7);
  height: 34px;
  isolation: isolate;
}
.fek3ld6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--tqnouk8);
  z-index: -1;
}
.fek3ld6[data-popup-open]:not([aria-disabled])::before, .fek3ld6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--fek3ld4);
}
.fek3ld6:focus-visible::before {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: -2px;
}
.fek3ld6[aria-disabled] {
  color: var(--w5cfdh9);
  cursor: not-allowed;
}
.fek3ld7 {
  cursor: pointer;
  text-decoration: none;
}
.fek3ld7[aria-disabled] {
  cursor: not-allowed;
}
.fek3ld8 {
  margin-left: 3px;
}
.fek3ld9 {
  --fek3ld4: var(--w5cfdhj);
  color: var(--w5cfdha);
}
.fek3lda {
  --fek3ld4: transparent;
  color: var(--w5cfdhc);
}
.fek3lda svg {
  color: var(--w5cfdhc);
}
.fek3ldc {
  isolation: isolate;
}
.fek3ldg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.fek3ldi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--w5cfdh7);
  z-index: 1;
}
[aria-checked="true"] .fek3ldi {
  color: var(--w5cfdh8);
}
.fek3ldk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--w5cfdh7);
  isolation: isolate;
}
[aria-checked="true"] .fek3ldk {
  background-color: var(--w5cfdhe);
  border-color: var(--w5cfdhe);
}
.fek3ldp {
  height: 34px;
}
.fek3ldr {
  height: 1px;
  background-color: var(--w5cfdhs);
}
.fek3ldt {
  background: transparent;
  border: none;
}
.fek3ldt:hover, .fek3ldt[data-highlighted] {
  background-color: var(--w5cfdhn);
}
.fek3ldt:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: -2px;
}
@keyframes w4gau4k {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.w4gau42 {
  position: relative;
}
.w4gau42::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--w5cfdhs);
}
.w4gau44 {
  color: var(--w5cfdh7);
  height: var(--tqnoukc);
  background: transparent;
  box-shadow: none;
}
.w4gau44:focus-visible {
  outline: none;
  box-shadow: none;
}
.w4gau44::placeholder {
  color: var(--w5cfdh9);
}
.w4gau44::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.w4gau44::-webkit-search-decoration {
  -webkit-appearance: none;
}
.w4gau44::-ms-clear {
  display: none;
}
.w4gau44::-ms-reveal {
  display: none;
}
.w4gau46 {
  list-style: none;
  height: 300px;
}
.w4gau47 {
  scroll-padding-top: var(--tqnouks);
}
.w4gau49 > [cmdk-group-heading] {
  position: sticky;
  top: 0;
  z-index: 1;
}
.w4gau4b {
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--w5cfdhs);
}
.w4gau4b::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--w5cfdhl);
  opacity: 0.8;
  z-index: -1;
  isolation: isolate;
}
.w4gau4d {
  border-bottom: 1px solid var(--w5cfdhs);
}
.w4gau4f {
  color: var(--w5cfdh7);
  isolation: isolate;
  cursor: default;
  scroll-margin-block: var(--tqnouki);
  height: var(--tqnouks);
}
.w4gau4f::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--tqnouki);
  right: var(--tqnouki);
  background-color: var(--w5cfdhn);
  border-radius: var(--tqnouk8);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.w4gau4f[data-selected="true"] {
  color: var(--w5cfdhb);
}
.w4gau4f[data-selected="true"]::before {
  opacity: 1;
}
.w4gau47 .w4gau4f {
  scroll-margin-top: calc((var(--tqnouki) + 1px) * 2);
}
.w4gau4m {
  transform: scale(0.97);
  opacity: 0;
  animation: w4gau4k 80ms ease-out forwards;
}
.w4gau4n {
  width: min(350px, 90vw);
}
.w4gau4p {
  min-width: 0;
}
.j1dvzn1 {
  display: flex;
  flex-direction: column;
  gap: var(--j1dvzn0);
}
.j1dvzn2 {
  --j1dvzn0: var(--tqnoukg);
}
.j1dvzn3 {
  --j1dvzn0: var(--tqnoukh);
}
.j1dvzn4 {
  --j1dvzn0: var(--tqnouki);
}
.j1dvzn5 {
  --j1dvzn0: var(--tqnoukj);
}
.j1dvzn6 {
  --j1dvzn0: var(--tqnoukk);
}
.j1dvzn7 {
  --j1dvzn0: var(--tqnoukl);
}
.j1dvzn8 {
  --j1dvzn0: var(--tqnoukm);
}
.j1dvzn9 {
  --j1dvzn0: var(--tqnoukn);
}
.j1dvzna {
  --j1dvzn0: var(--tqnouko);
}
.j1dvznb {
  --j1dvzn0: var(--tqnoukp);
}
.j1dvznc {
  align-items: flex-start;
}
.j1dvznd {
  align-items: center;
}
.j1dvzne {
  align-items: flex-end;
}
.a14fb51 {
  background-color: var(--w5cfdhm);
  outline: 1px solid var(--w5cfdhs);
}
.a14fb53 {
  background: transparent;
  height: var(--tqnoukr);
  color: var(--w5cfdh7);
}
.a14fb53:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 2px;
}
.a14fb53:hover, .a14fb53[data-popup-open] {
  background-color: var(--w5cfdhn);
}
.a14fb53[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
.a14fb53[aria-disabled="true"]:hover {
  background-color: transparent;
}
.u9zbj81 {
  justify-content: safe center;
}
.u9zbj85 {
  flex-shrink: 0;
  width: var(--u9zbj82);
}
.u9zbj85:last-child {
  padding-right: var(--tqnoukn);
}
.u9zbj86 {
  transition: color 150ms ease;
}
.u9zbj85:hover .u9zbj86, .u9zbj85:focus-within .u9zbj86, .u9zbj83 .u9zbj86 {
  color: var(--w5cfdhb);
}
.u9zbj88 {
  outline: 1px solid var(--w5cfdhs);
}
.u9zbj8a {
  transition: opacity 150ms ease;
}
.u9zbj85:not(:hover, :focus-within, .u9zbj83) .u9zbj8a {
  opacity: 1;
}
.u9zbj8c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.u9zbj8a:hover ~ .u9zbj88 .u9zbj8c, .u9zbj8a:focus-within ~ .u9zbj88.u9zbj8c {
  outline-color: var(--w5cfdhb);
}
.u9zbj8e {
  transition: opacity 150ms ease;
}
.u9zbj85:not(:hover, :focus-within, .u9zbj83) .u9zbj8e {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] .u9zbj85:not(:hover, :focus-within, .u9zbj83) .u9zbj8e {
  opacity: 0.6;
}
._1be5wuy2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1be5wuy4 {
  border: 1px solid var(--w5cfdhs);
  background-color: var(--w5cfdhl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1be5wuy4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--w5cfdhn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1be5wuy4:hover::after {
  opacity: 1;
}
._1be5wuy4:focus-visible::after {
  opacity: 1;
}
._1be5wuy4:active:not([disabled]) {
  transform: scale(0.97);
}
._1be5wuy4:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 0;
}
._1be5wuy6 {
  isolation: isolate;
}
._1be5wuy8 {
  height: var(--_1be5wuy0);
}
._1be5wuya {
  border-color: var(--w5cfdhc);
}
._1be5wuya::after {
  background-color: var(--w5cfdhi);
}
._1be5wuyb {
  border-color: var(--w5cfdha);
}
._1be5wuyb::after {
  background-color: var(--w5cfdhj);
}
._1be5wuyc {
  --_1be5wuy0: var(--tqnoukq);
}
._1be5wuyd {
  --_1be5wuy0: var(--tqnoukr);
}
._1be5wuye {
  --_1be5wuy0: var(--tqnouks);
}
._18qfjt61 {
  color: var(--w5cfdh7);
  font-family: var(--tqnouk0);
}
._18qfjt62 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._18qfjt63 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._18qfjt64 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.uo4oxx1 {
  backdrop-filter: blur(6px);
}
.uo4oxx1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--w5cfdhk);
  opacity: 0.4;
}
html[data-playroom-dark] .uo4oxx1::before {
  opacity: 0.7;
}
.uo4oxx1[data-starting-style]::before, .uo4oxx1[data-ending-style]::before {
  opacity: 0;
}
.uo4oxx3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--tqnoukk) * 2));
  max-height: calc(100dvh - (var(--tqnoukk) * 2));
}
.uo4oxx3[data-starting-style], .uo4oxx3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.uo4oxx7:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 2px;
}
.g8w9gv0 {
  width: 200px;
}
._1td8o0v1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--w5cfdhl);
}
._1td8o0v2 {
  width: fit-content;
}
._1td8o0v4 {
  width: fit-content;
  justify-self: flex-end;
}
._1td8o0v7:not(._1td8o0v5) {
  opacity: 0;
  transform: translateX(var(--tqnoukj));
  pointer-events: none;
}
._1td8o0v9 {
  background: transparent;
  color: var(--w5cfdhg);
  isolation: isolate;
}
._1td8o0v9::after {
  content: "";
  position: absolute;
  transition: var(--tqnoukf);
  z-index: -1;
  inset: calc(var(--tqnoukj) * -1);
  background-color: var(--w5cfdhn);
  border-radius: var(--tqnouk9);
}
._1td8o0v9:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 6px;
}
._1td8o0v9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1td8o0vb {
  margin: calc(var(--tqnoukk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1td8o0vf {
  appearance: none;
  outline: none;
  background: var(--w5cfdhl);
  color: var(--w5cfdh7);
  border: 1px solid var(--w5cfdhs);
  height: var(--tqnoukr);
}
._1td8o0vf:hover, ._1td8o0vf[data-popup-open] {
  background-color: var(--w5cfdhn);
}
._1td8o0vf:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  z-index: 1;
}
._1td8o0vh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1td8o0vj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1td8o0vk {
  color: var(--w5cfdhc);
}
._1td8o0vm {
  height: 1px;
  background-color: var(--w5cfdhs);
}
@media screen and (max-width: 767px) {
  ._1td8o0v4 {
    display: none;
  }
}
.d61cu42 {
  flex: 1;
  min-height: 0;
}
.d61cu45 {
  --d61cu43: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--d61cu43), 1fr);
}
.d61cu47 {
  aspect-ratio: 5/4;
  list-style: none;
}
.d61cu49 {
  height: calc(100% / var(--d61cu40));
  width: calc(100% / var(--d61cu40));
  border-radius: calc(var(--tqnouk9) / var(--d61cu40));
  transform: scale(var(--d61cu40));
  transform-origin: 0 0;
  padding: calc(1px / var(--d61cu40));
}
.d61cu4b {
  background: var(--w5cfdhn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.d61cu4d {
  background: transparent;
  outline: 1px solid var(--w5cfdhs);
}
.d61cu4d:hover {
  outline: 2px solid var(--w5cfdht);
}
.d61cu4d:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 2px;
}
.d61cu4h {
  list-style: none;
}
.d61cu4j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--w5cfdhs);
}
.d61cu4j:hover {
  outline: 2px solid var(--w5cfdht);
}
.d61cu4j:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .d61cu45 {
    --d61cu43: 2;
  }
}
@media screen and (min-width: 800px) {
  .d61cu45 {
    --d61cu43: 3;
  }
}
@media screen and (min-width: 1200px) {
  .d61cu45 {
    --d61cu43: 4;
  }
}
@media screen and (min-width: 1600px) {
  .d61cu45 {
    --d61cu43: 5;
  }
}
.flt58l1 {
  width: fit-content;
}
.flt58l3:focus-visible ~ .flt58l5 {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 4px;
}
.flt58l8 {
  min-width: 0;
}
.flt58l9 {
  flex-shrink: 0;
}
._16e25lz2 {
  outline: none;
  height: var(--tqnoukr);
  color: var(--w5cfdh7);
  background: transparent;
}
._16e25lz2::placeholder {
  color: var(--w5cfdh9);
  font-weight: strong;
}
._16e25lz2:hover:not(:focus-visible), ._16e25lz2:hover:not(:focus-visible)::placeholder {
  background: var(--w5cfdhn);
  opacity: 1;
  color: transparent;
}
._16e25lz2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._16e25lz2:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 0;
  opacity: 1;
}
._16e25lz2:focus-visible::placeholder {
  color: transparent;
}
._16e25lz4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--w5cfdh7);
}
._16e25lz2:focus-visible ~ ._16e25lz4 {
  opacity: 0;
}
._16e25lz5 {
  color: var(--w5cfdh9);
}
.sxgtgv2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--sxgtgv0);
  align-items: var(--sxgtgv1);
}
.sxgtgv3 {
  --sxgtgv0: var(--tqnoukg);
}
.sxgtgv4 {
  --sxgtgv0: var(--tqnoukh);
}
.sxgtgv5 {
  --sxgtgv0: var(--tqnouki);
}
.sxgtgv6 {
  --sxgtgv0: var(--tqnoukj);
}
.sxgtgv7 {
  --sxgtgv0: var(--tqnoukk);
}
.sxgtgv8 {
  --sxgtgv0: var(--tqnoukl);
}
.sxgtgv9 {
  --sxgtgv0: var(--tqnoukm);
}
.sxgtgva {
  --sxgtgv0: var(--tqnoukn);
}
.sxgtgvb {
  --sxgtgv0: var(--tqnouko);
}
.sxgtgvc {
  --sxgtgv0: var(--tqnoukp);
}
.sxgtgvd {
  align-items: flex-start;
}
.sxgtgve {
  align-items: center;
}
.sxgtgvf {
  align-items: flex-end;
}
.sxgtgvg > * {
  flex-basis: auto;
  width: auto;
}
._1i3vodg1 {
  background: radial-gradient(var(--w5cfdhl) 20%, transparent 50%);
  justify-content: safe center;
}
._1i3vodg3 {
  max-width: 400px;
}
._1i3vodg5 {
  background: transparent;
}
._1i3vodg5:focus-visible {
  outline: 2px solid var(--w5cfdhv);
  outline-offset: 6px;
}
._2mie7w0 {
  cursor: row-resize;
}
._2mie7w1 {
  cursor: col-resize;
}
._2mie7w6 {
  transform: translateY(-50%);
  z-index: 2;
}
._2mie7w6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-1px);
  transition: background-color 100ms ease;
}
._2mie7w6._2mie7w3::before {
  background: var(--w5cfdhe);
}
._2mie7w6:not(._2mie7w3):hover::before {
  background: var(--w5cfdhe);
  transition-delay: 200ms;
}
._2mie7w7 {
  z-index: 2;
}
._2mie7w7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  transition: background-color 100ms ease;
}
._2mie7w7._2mie7w3::before {
  background: var(--w5cfdhe);
}
._2mie7w7:not(._2mie7w3):hover::before {
  background: var(--w5cfdhe);
  transition-delay: 200ms;
}
._2mie7w9 {
  transform: translateX(50%);
}
._2mie7wb {
  transform: translateX(-50%);
}
._2mie7wd {
  background: var(--w5cfdhm);
  outline: 1px solid var(--w5cfdhs);
  outline-offset: -1px;
  transition: outline-color 100ms ease;
}
._2mie7wd::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: background-color 100ms ease;
}
._2mie7w3 ._2mie7wd {
  outline-color: var(--w5cfdhe);
}
._2mie7w3 ._2mie7wd::after {
  background: var(--w5cfdhe);
}
:is(._2mie7w6, ._2mie7w7):not(._2mie7w3):hover ._2mie7wd {
  outline-color: var(--w5cfdhe);
  transition-delay: 200ms;
}
:is(._2mie7w6, ._2mie7w7):not(._2mie7w3):hover ._2mie7wd::after {
  transition-delay: 200ms;
}
._2mie7we {
  width: 38px;
  height: 8px;
}
._2mie7wf {
  width: 8px;
  height: 38px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--w5cfdhk);
  scrollbar-color: var(--w5cfdhs) transparent;
}
html[data-playroom-dark] {
  color-scheme: dark;
}
.hgwge0 {
  pointer-events: none;
  user-select: none;
}
.hgwge5 {
  display: grid;
  grid-template-columns: var(--hgwge2, 0px) 1fr;
  grid-template-rows: min-content auto var(--hgwge1, 0px);
  isolation: isolate;
}
.hgwge6 {
  --hgwge1: clamp(150px, var(--hgwge3), 70vh);
  grid-template-areas: "header header"
"frames frames"
"editor editor";
}
.hgwge7 {
  --hgwge2: clamp(300px, var(--hgwge3), 90vw);
  grid-template-areas: "header header"
"editor frames"
"editor frames";
}
.hgwge8 {
  grid-area: header;
  z-index: 1;
  outline: 1px solid var(--w5cfdhs);
}
.hgwge9 {
  grid-area: frames;
}
.hgwgea {
  grid-area: editor;
  outline: 1px solid var(--w5cfdhs);
}
.hgwgee {
  left: var(--tqnoukl);
  right: var(--tqnoukl);
  bottom: var(--tqnoukl);
  width: fit-content;
  margin-inline: auto;
}
.hgwgeg {
  backdrop-filter: blur(2px);
}
.hgwgeg::before {
  content: "";
  position: absolute;
  inset: 1px;
  pointer-events: none;
  background: var(--w5cfdhm);
  border-radius: calc(var(--tqnouka) - 2px);
  opacity: 0.8;
}
.hgwgeg::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: calc(var(--tqnouka) - 2px);
  outline: 2px solid var(--w5cfdhs);
  outline-offset: -2px;
}
.hgwgei {
  background: var(--w5cfdhl);
  box-shadow: 0 0 4px 2px var(--w5cfdhl);
}
