@keyframes _19ytmm4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._19ytmm1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--bj55t39);
}
._19ytmm3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _19ytmm4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._19ytmm5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
.ys999o1 {
  display: flex;
  flex-direction: column;
  gap: var(--ys999o0);
}
.ys999o2 {
  --ys999o0: var(--_59i959i);
}
.ys999o3 {
  --ys999o0: var(--_59i959j);
}
.ys999o4 {
  --ys999o0: var(--_59i959k);
}
.ys999o5 {
  --ys999o0: var(--_59i959l);
}
.ys999o6 {
  --ys999o0: var(--_59i959m);
}
.ys999o7 {
  --ys999o0: var(--_59i959n);
}
.ys999o8 {
  --ys999o0: var(--_59i959o);
}
.ys999o9 {
  --ys999o0: var(--_59i959p);
}
.ys999oa {
  --ys999o0: var(--_59i959q);
}
.ys999ob {
  --ys999o0: var(--_59i959r);
}
