.lopzwx1 {
  background-color: var(--_1jh2nknm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1jh2nknr);
}
.lopzwx2::before {
  content: "";
  position: absolute;
  min-height: var(--_8oitc7c);
  min-width: var(--_8oitc7c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._4qysu52 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._4qysu54 {
  border: 1px solid var(--_1jh2nknr);
  background-color: var(--_1jh2nknl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._4qysu54::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jh2nknn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._4qysu54:hover::after {
  opacity: 1;
}
._4qysu54:focus-visible::after {
  opacity: 1;
}
._4qysu54:active:not([disabled]) {
  transform: scale(0.97);
}
._4qysu54:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 0;
}
._4qysu56 {
  isolation: isolate;
}
._4qysu58 {
  height: var(--_4qysu50);
}
._4qysu5a {
  border-color: var(--_1jh2nknc);
}
._4qysu5a::after {
  background-color: var(--_1jh2nkni);
}
._4qysu5b {
  border-color: var(--_1jh2nkna);
}
._4qysu5b::after {
  background-color: var(--_1jh2nknj);
}
._4qysu5c {
  --_4qysu50: var(--_8oitc7q);
}
._4qysu5d {
  --_4qysu50: var(--_8oitc7r);
}
._4qysu5e {
  --_4qysu50: var(--_8oitc7s);
}
._1uet1w51 {
  --_1jh2nkn7: var(--_1jh2nknd);
  background-color: var(--_1jh2nkno);
  outline: 1px solid var(--_1jh2nknt);
  outline-offset: -1px;
}
._1ww8xqx3 {
  background: transparent;
  outline: none;
  height: var(--_1ww8xqx0) !important;
  width: var(--_1ww8xqx0) !important;
}
._1ww8xqx6 {
  padding: var(--_1ww8xqx4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1ww8xqx3:active ._1ww8xqx6 {
  transform: scale(.95);
}
._1ww8xqx3:focus-visible ._1ww8xqx6 {
  outline: 2px solid var(--_1jh2nknu);
}
._1ww8xqx3[aria-disabled="true"] ._1ww8xqx6 {
  --_1ww8xqx1: var(--_1jh2nkn9);
}
._1ww8xqx7 {
  --_1ww8xqx0: var(--_8oitc7q);
  --_1ww8xqx4: var(--_8oitc7i);
}
._1ww8xqx8 {
  --_1ww8xqx0: var(--_8oitc7r);
  --_1ww8xqx4: var(--_8oitc7j);
}
._1ww8xqx9 {
  --_1ww8xqx0: var(--_8oitc7s);
  --_1ww8xqx4: var(--_8oitc7j);
}
._1ww8xqxj {
  --_1ww8xqxa: var(--_1jh2nkn7);
  --_1ww8xqxb: var(--_1jh2nknl);
  --_1ww8xqxc: var(--_1jh2nknn);
  --_1ww8xqxd: var(--_1jh2nkn8);
  --_1ww8xqxe: var(--_1jh2nkng);
  --_1ww8xqxf: var(--_1jh2nknh);
  --_1ww8xqxg: var(--_1jh2nkn7);
  --_1ww8xqxh: var(--_1jh2nkn7);
  --_1ww8xqxi: var(--_1jh2nknn);
}
._1ww8xqxk {
  --_1ww8xqxa: var(--_1jh2nknb);
  --_1ww8xqxb: var(--_1jh2nknl);
  --_1ww8xqxc: var(--_1jh2nknn);
  --_1ww8xqxd: var(--_1jh2nkn8);
  --_1ww8xqxe: var(--_1jh2nknb);
  --_1ww8xqxf: var(--_1jh2nknf);
  --_1ww8xqxg: var(--_1jh2nknb);
  --_1ww8xqxh: var(--_1jh2nkn8);
  --_1ww8xqxi: var(--_1jh2nkne);
}
._1ww8xqxl {
  color: var(--_1ww8xqxa);
  background-color: var(--_1ww8xqxb);
  outline: 1px solid var(--_1jh2nknr);
  outline-offset: -1px;
}
._1ww8xqx3:not([aria-disabled="true"]):hover > ._1ww8xqxl, ._1ww8xqx3:not([aria-disabled="true"]):focus-visible > ._1ww8xqxl, ._1ww8xqx3:not([aria-disabled="true"])[data-popup-open] > ._1ww8xqxl {
  background-color: var(--_1ww8xqxc);
}
._1ww8xqxm {
  color: var(--_1ww8xqxd);
  background-color: var(--_1ww8xqxe);
}
._1ww8xqx3:not([aria-disabled="true"]):hover > ._1ww8xqxm, ._1ww8xqx3:not([aria-disabled="true"]):focus-visible > ._1ww8xqxm, ._1ww8xqx3:not([aria-disabled="true"])[data-popup-open] > ._1ww8xqxm {
  background-color: var(--_1ww8xqxf);
}
._1ww8xqxn {
  color: var(--_1ww8xqxg);
}
._1ww8xqx3:not([aria-disabled="true"]):hover > ._1ww8xqxn, ._1ww8xqx3:not([aria-disabled="true"]):focus-visible > ._1ww8xqxn, ._1ww8xqx3:not([aria-disabled="true"])[data-popup-open] > ._1ww8xqxn {
  color: var(--_1ww8xqxh);
  background-color: var(--_1ww8xqxi);
}
._1ww8xqxo {
  margin: calc((var(--_1ww8xqx4) + 2px) * -1);
}
._1ww8xqx6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1w9t79a0 {
  isolation: isolate;
  white-space: nowrap;
}
._1w9t79a1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1w9t79a3 {
    display: none;
  }
}
.mysa0j1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.mysa0j2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.mysa0j2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.mysa0j4 {
  --mysa0j3: 30px;
}
.mysa0j5 {
  --mysa0j3: 45px;
}
.mysa0j6 {
  --mysa0j3: 60px;
}
.mysa0j7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.mysa0j8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.mysa0j9 {
  overflow: auto;
}
.mysa0je {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--mysa0jc, 0)),linear-gradient(to right, transparent 0, black var(--mysa0ja, 0)),linear-gradient(to left, transparent 0, black var(--mysa0jb, 0)),linear-gradient(to top, transparent 0, black var(--mysa0jd, 0));
}
.mysa0jf {
  --mysa0ja: var(--mysa0j3);
}
.mysa0jg {
  --mysa0jb: var(--mysa0j3);
}
.mysa0jh {
  --mysa0jc: var(--mysa0j3);
}
.mysa0ji {
  --mysa0jd: var(--mysa0j3);
}
._1ncjylr2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1ncjylr3 {
  width: 250px;
}
._1ncjylr6 {
  --_1ncjylr4: var(--_1jh2nknn);
  outline: none;
  cursor: default;
  color: var(--_1jh2nkn7);
  height: 34px;
  isolation: isolate;
}
._1ncjylr6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_8oitc78);
  z-index: -1;
}
._1ncjylr6[data-popup-open]:not([aria-disabled])::before, ._1ncjylr6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1ncjylr4);
}
._1ncjylr6:focus-visible::before {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: -2px;
}
._1ncjylr6[aria-disabled] {
  color: var(--_1jh2nkn9);
  cursor: not-allowed;
}
._1ncjylr7 {
  cursor: pointer;
  text-decoration: none;
}
._1ncjylr7[aria-disabled] {
  cursor: not-allowed;
}
._1ncjylr8 {
  margin-left: 3px;
}
._1ncjylr9 {
  --_1ncjylr4: var(--_1jh2nknj);
  color: var(--_1jh2nkna);
}
._1ncjylra {
  --_1ncjylr4: transparent;
  color: var(--_1jh2nknc);
}
._1ncjylra svg {
  color: var(--_1jh2nknc);
}
._1ncjylrc {
  isolation: isolate;
}
._1ncjylrg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1ncjylri {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1jh2nkn7);
  z-index: 1;
}
[aria-checked="true"] ._1ncjylri {
  color: var(--_1jh2nkn8);
}
._1ncjylrk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1jh2nkn7);
  isolation: isolate;
}
[aria-checked="true"] ._1ncjylrk {
  background-color: var(--_1jh2nkne);
  border-color: var(--_1jh2nkne);
}
._1ncjylrp {
  height: 34px;
}
._1ncjylrr {
  height: 1px;
  background-color: var(--_1jh2nknr);
}
._1ncjylrt {
  background: transparent;
  border: none;
}
._1ncjylrt:hover, ._1ncjylrt[data-highlighted] {
  background-color: var(--_1jh2nknn);
}
._1ncjylrt:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: -2px;
}
._1l5pjkc1 {
  justify-content: safe center;
}
._1l5pjkc5 {
  flex-shrink: 0;
  width: var(--_1l5pjkc2);
}
._1l5pjkc5:last-child {
  padding-right: var(--_8oitc7n);
}
._1l5pjkc6 {
  transition: color 150ms ease;
}
._1l5pjkc5:hover ._1l5pjkc6, ._1l5pjkc5:focus-within ._1l5pjkc6, ._1l5pjkc3 ._1l5pjkc6 {
  color: var(--_1jh2nknb);
}
._1l5pjkc8 {
  outline: 1px solid var(--_1jh2nknr);
}
._1l5pjkca {
  transition: opacity 150ms ease;
}
._1l5pjkc5:not(:hover, :focus-within, ._1l5pjkc3) ._1l5pjkca {
  opacity: 1;
}
._1l5pjkcc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1l5pjkca:hover ~ ._1l5pjkc8 ._1l5pjkcc, ._1l5pjkca:focus-within ~ ._1l5pjkc8._1l5pjkcc {
  outline-color: var(--_1jh2nknb);
}
._1l5pjkce {
  transition: opacity 150ms ease;
}
._1l5pjkc5:not(:hover, :focus-within, ._1l5pjkc3) ._1l5pjkce {
  opacity: 0;
}
._1giw0f41 {
  color: var(--_1jh2nkn7);
  font-family: var(--_8oitc70);
}
._1giw0f42 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1giw0f43 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1giw0f44 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
.swjxc11 {
  display: flex;
  flex-direction: column;
  gap: var(--swjxc10);
}
.swjxc12 {
  --swjxc10: var(--_8oitc7g);
}
.swjxc13 {
  --swjxc10: var(--_8oitc7h);
}
.swjxc14 {
  --swjxc10: var(--_8oitc7i);
}
.swjxc15 {
  --swjxc10: var(--_8oitc7j);
}
.swjxc16 {
  --swjxc10: var(--_8oitc7k);
}
.swjxc17 {
  --swjxc10: var(--_8oitc7l);
}
.swjxc18 {
  --swjxc10: var(--_8oitc7m);
}
.swjxc19 {
  --swjxc10: var(--_8oitc7n);
}
.swjxc1a {
  --swjxc10: var(--_8oitc7o);
}
.swjxc1b {
  --swjxc10: var(--_8oitc7p);
}
.swjxc1c {
  align-items: flex-start;
}
.swjxc1d {
  align-items: center;
}
.swjxc1e {
  align-items: flex-end;
}
.bi6emt1 {
  backdrop-filter: blur(6px);
}
.bi6emt1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jh2nknk);
  opacity: 0.4;
}
html[data-playroom-dark] .bi6emt1::before {
  opacity: 0.7;
}
.bi6emt1[data-starting-style]::before, .bi6emt1[data-ending-style]::before {
  opacity: 0;
}
.bi6emt3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_8oitc7k) * 2));
  max-height: calc(100dvh - (var(--_8oitc7k) * 2));
}
.bi6emt3[data-starting-style], .bi6emt3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.bi6emt7:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 2px;
}
.t85e6y2 {
  display: flex;
  flex-direction: row;
  gap: var(--t85e6y0);
  align-items: var(--t85e6y1);
}
.t85e6y3 {
  flex-wrap: wrap;
}
.t85e6y4 {
  --t85e6y0: var(--_8oitc7g);
}
.t85e6y5 {
  --t85e6y0: var(--_8oitc7h);
}
.t85e6y6 {
  --t85e6y0: var(--_8oitc7i);
}
.t85e6y7 {
  --t85e6y0: var(--_8oitc7j);
}
.t85e6y8 {
  --t85e6y0: var(--_8oitc7k);
}
.t85e6y9 {
  --t85e6y0: var(--_8oitc7l);
}
.t85e6ya {
  --t85e6y0: var(--_8oitc7m);
}
.t85e6yb {
  --t85e6y0: var(--_8oitc7n);
}
.t85e6yc {
  --t85e6y0: var(--_8oitc7o);
}
.t85e6yd {
  --t85e6y0: var(--_8oitc7p);
}
.t85e6ye {
  align-items: flex-start;
}
.t85e6yf {
  align-items: center;
}
.t85e6yg {
  align-items: flex-end;
}
._16zq0ko0 {
  width: 200px;
}
._1eg9fbb1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1jh2nknl);
}
._1eg9fbb2 {
  width: fit-content;
}
._1eg9fbb4 {
  width: fit-content;
  justify-self: flex-end;
}
._1eg9fbb7:not(._1eg9fbb5) {
  opacity: 0;
  transform: translateX(var(--_8oitc7j));
  pointer-events: none;
}
._1eg9fbb9 {
  background: transparent;
  color: var(--_1jh2nkng);
  isolation: isolate;
}
._1eg9fbb9::after {
  content: "";
  position: absolute;
  transition: var(--_8oitc7f);
  z-index: -1;
  inset: calc(var(--_8oitc7j) * -1);
  background-color: var(--_1jh2nknn);
  border-radius: var(--_8oitc79);
}
._1eg9fbb9:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 6px;
}
._1eg9fbb9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1eg9fbbb {
  margin: calc(var(--_8oitc7k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1eg9fbbf {
  appearance: none;
  outline: none;
  background: var(--_1jh2nknl);
  color: var(--_1jh2nkn7);
  border: 1px solid var(--_1jh2nknr);
  height: var(--_8oitc7r);
}
._1eg9fbbf:hover, ._1eg9fbbf[data-popup-open] {
  background-color: var(--_1jh2nknn);
}
._1eg9fbbf:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  z-index: 1;
}
._1eg9fbbh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1eg9fbbj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1eg9fbbk {
  color: var(--_1jh2nknc);
}
._1eg9fbbm {
  height: 1px;
  background-color: var(--_1jh2nknr);
}
@media screen and (max-width: 767px) {
  ._1eg9fbb4 {
    display: none;
  }
}
._1p6yk322 {
  flex: 1;
  min-height: 0;
}
._1p6yk325 {
  --_1p6yk323: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1p6yk323), 1fr);
}
._1p6yk327 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1p6yk329 {
  height: calc(100% / var(--_1p6yk320));
  width: calc(100% / var(--_1p6yk320));
  border-radius: calc(var(--_8oitc79) / var(--_1p6yk320));
  transform: scale(var(--_1p6yk320));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1p6yk320));
}
._1p6yk32b {
  background: var(--_1jh2nknn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1p6yk32d {
  background: transparent;
  outline: 1px solid var(--_1jh2nknr);
}
._1p6yk32d:hover {
  outline: 2px solid var(--_1jh2nkns);
}
._1p6yk32d:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 2px;
}
._1p6yk32h {
  list-style: none;
}
._1p6yk32j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1jh2nknr);
}
._1p6yk32j:hover {
  outline: 2px solid var(--_1jh2nkns);
}
._1p6yk32j:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1p6yk325 {
    --_1p6yk323: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1p6yk325 {
    --_1p6yk323: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1p6yk325 {
    --_1p6yk323: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1p6yk325 {
    --_1p6yk323: 5;
  }
}
.gfe55m1 {
  width: fit-content;
}
.gfe55m3:focus-visible ~ .gfe55m5 {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 4px;
}
.gfe55m8 {
  min-width: 0;
}
.gfe55m9 {
  flex-shrink: 0;
}
._18lvn9w2 {
  outline: none;
  height: var(--_8oitc7r);
  color: var(--_1jh2nkn7);
  background: transparent;
}
._18lvn9w2::placeholder {
  color: var(--_1jh2nkn9);
  font-weight: strong;
}
._18lvn9w2:hover:not(:focus-visible), ._18lvn9w2:hover:not(:focus-visible)::placeholder {
  background: var(--_1jh2nknn);
  opacity: 1;
  color: transparent;
}
._18lvn9w2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._18lvn9w2:focus-visible {
  outline: 2px solid var(--_1jh2nknu);
  outline-offset: 0;
  opacity: 1;
}
._18lvn9w2:focus-visible::placeholder {
  color: transparent;
}
._18lvn9w4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1jh2nkn7);
}
._18lvn9w2:focus-visible ~ ._18lvn9w4 {
  opacity: 0;
}
._18lvn9w5 {
  color: var(--_1jh2nkn9);
}
._16uzqfj3 {
  border: 1px solid var(--_1jh2nknr);
}
._16uzqfj5 {
  background-color: var(--_1jh2nknq);
  border-bottom: 1px solid var(--_1jh2nknr);
}
._16uzqfj8 {
  background-color: var(--_1jh2nknq);
  border-top: 1px solid var(--_1jh2nknr);
}
._16uzqfjc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._16uzqfj6 {
    display: none;
  }
}
