.oxzdx02 {
  display: flex;
  flex-direction: row;
  gap: var(--oxzdx00);
  align-items: var(--oxzdx01);
}
.oxzdx03 {
  flex-wrap: wrap;
}
.oxzdx04 {
  --oxzdx00: var(--_107qegg);
}
.oxzdx05 {
  --oxzdx00: var(--_107qegh);
}
.oxzdx06 {
  --oxzdx00: var(--_107qegi);
}
.oxzdx07 {
  --oxzdx00: var(--_107qegj);
}
.oxzdx08 {
  --oxzdx00: var(--_107qegk);
}
.oxzdx09 {
  --oxzdx00: var(--_107qegl);
}
.oxzdx0a {
  --oxzdx00: var(--_107qegm);
}
.oxzdx0b {
  --oxzdx00: var(--_107qegn);
}
.oxzdx0c {
  --oxzdx00: var(--_107qego);
}
.oxzdx0d {
  --oxzdx00: var(--_107qegp);
}
.oxzdx0e {
  align-items: flex-start;
}
.oxzdx0f {
  align-items: center;
}
.oxzdx0g {
  align-items: flex-end;
}
._1kq04es0 {
  isolation: isolate;
  white-space: nowrap;
}
._1kq04es1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1kq04es3 {
    display: none;
  }
}
._141zldn0 {
  color: var(--_1oahxm79);
}
._1dy286v1 {
  background-color: var(--_1oahxm7m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1oahxm7s);
}
._1dy286v2::before {
  content: "";
  position: absolute;
  min-height: var(--_107qegc);
  min-width: var(--_107qegc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1ehu9qf1 {
  --_1oahxm77: var(--_1oahxm7d);
  background-color: var(--_1oahxm7o);
  outline: 1px solid var(--_1oahxm7u);
  outline-offset: -1px;
}
._1pzxs1e3 {
  background: transparent;
  outline: none;
  height: var(--_1pzxs1e0) !important;
  width: var(--_1pzxs1e0) !important;
}
._1pzxs1e6 {
  padding: var(--_1pzxs1e4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1pzxs1e3:active ._1pzxs1e6 {
  transform: scale(.95);
}
._1pzxs1e3:focus-visible ._1pzxs1e6 {
  outline: 2px solid var(--_1oahxm7v);
}
._1pzxs1e3[aria-disabled="true"] ._1pzxs1e6 {
  --_1pzxs1e1: var(--_1oahxm79);
}
._1pzxs1e7 {
  --_1pzxs1e0: var(--_107qegq);
  --_1pzxs1e4: var(--_107qegi);
}
._1pzxs1e8 {
  --_1pzxs1e0: var(--_107qegr);
  --_1pzxs1e4: var(--_107qegj);
}
._1pzxs1e9 {
  --_1pzxs1e0: var(--_107qegs);
  --_1pzxs1e4: var(--_107qegj);
}
._1pzxs1ej {
  --_1pzxs1ea: var(--_1oahxm77);
  --_1pzxs1eb: var(--_1oahxm7l);
  --_1pzxs1ec: var(--_1oahxm7n);
  --_1pzxs1ed: var(--_1oahxm78);
  --_1pzxs1ee: var(--_1oahxm7g);
  --_1pzxs1ef: var(--_1oahxm7h);
  --_1pzxs1eg: var(--_1oahxm77);
  --_1pzxs1eh: var(--_1oahxm77);
  --_1pzxs1ei: var(--_1oahxm7n);
}
._1pzxs1ek {
  --_1pzxs1ea: var(--_1oahxm7b);
  --_1pzxs1eb: var(--_1oahxm7l);
  --_1pzxs1ec: var(--_1oahxm7n);
  --_1pzxs1ed: var(--_1oahxm78);
  --_1pzxs1ee: var(--_1oahxm7b);
  --_1pzxs1ef: var(--_1oahxm7f);
  --_1pzxs1eg: var(--_1oahxm7b);
  --_1pzxs1eh: var(--_1oahxm78);
  --_1pzxs1ei: var(--_1oahxm7e);
}
._1pzxs1el {
  color: var(--_1pzxs1ea);
  background-color: var(--_1pzxs1eb);
  outline: 1px solid var(--_1oahxm7s);
  outline-offset: -1px;
}
._1pzxs1e3:not([aria-disabled="true"]):hover > ._1pzxs1el, ._1pzxs1e3:not([aria-disabled="true"]):focus-visible > ._1pzxs1el, ._1pzxs1e3:not([aria-disabled="true"])[data-popup-open] > ._1pzxs1el, ._1pzxs1e3:not([aria-disabled="true"])[data-active] > ._1pzxs1el {
  background-color: var(--_1pzxs1ec);
}
._1pzxs1em {
  color: var(--_1pzxs1ed);
  background-color: var(--_1pzxs1ee);
}
._1pzxs1e3:not([aria-disabled="true"]):hover > ._1pzxs1em, ._1pzxs1e3:not([aria-disabled="true"]):focus-visible > ._1pzxs1em, ._1pzxs1e3:not([aria-disabled="true"])[data-popup-open] > ._1pzxs1em, ._1pzxs1e3:not([aria-disabled="true"])[data-active] > ._1pzxs1em {
  background-color: var(--_1pzxs1ef);
}
._1pzxs1en {
  color: var(--_1pzxs1eg);
}
._1pzxs1e3:not([aria-disabled="true"]):hover > ._1pzxs1en, ._1pzxs1e3:not([aria-disabled="true"]):focus-visible > ._1pzxs1en, ._1pzxs1e3:not([aria-disabled="true"])[data-popup-open] > ._1pzxs1en, ._1pzxs1e3:not([aria-disabled="true"])[data-active] > ._1pzxs1en {
  color: var(--_1pzxs1eh);
  background-color: var(--_1pzxs1ei);
}
._1pzxs1eo {
  margin: calc((var(--_1pzxs1e4) + 2px) * -1);
}
._1pzxs1e6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes _14km9kk8 {
  from {
    background-color: var(--_1oahxm7p);
  }
  to {
    background-color: transparent;
  }
}
._14km9kk0 {
  background-color: var(--_1oahxm7n);
}
._14km9kk2 {
  background-color: var(--_1oahxm7j);
  color: var(--_1oahxm7a);
  min-width: 50px;
}
._14km9kk3 {
  opacity: 1;
}
._14km9kk5 {
  width: 1em;
}
._14km9kk6::after {
  content: "-";
}
._14km9kk7::after {
  content: "+";
  opacity: 1;
}
.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_107qeg1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  box-sizing: border-box;
  padding-left: var(--_107qegi);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--_107qegl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: var(--_107qegh);
  box-shadow: var(--_1oahxm7w);
  border-radius: var(--_107qeg9);
  background-color: var(--_1oahxm7m);
  border: 1px solid var(--_1oahxm7s);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--_107qeg1);
  max-height: 20em;
  overflow-y: auto;
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--_107qegi) var(--_107qegj);
  border-radius: var(--_107qeg8);
  white-space: pre;
  color: var(--_1oahxm70);
  cursor: default;
  height: var(--_107qegr);
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.CodeMirror-hint::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--_107qeg8);
  z-index: -1;
  background-color: var(--_1oahxm7n);
  opacity: 0;
}
.CodeMirror-hint-active::before {
  opacity: 1;
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1oahxm7b);
  font-family: arial;
  cursor: default;
  padding: 0 var(--_107qegi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1oahxm7l);
  color: var(--_1oahxm70);
}
.cm-s-neo.CodeMirror::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, transparent, var(--_1oahxm7l));
  right: 0;
  pointer-events: none;
}
.CodeMirror-scroll {
  padding-right: 20px;
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1oahxm77);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1oahxm7l);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1oahxm7l);
  position: absolute;
  right: var(--_107qegh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1oahxm7l);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1oahxm7p);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1oahxm77);
  transition: var(--_107qegf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._14km9kk7) {
  color: var(--_1oahxm77);
  opacity: 0.4;
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1oahxm77);
  transition: var(--_107qegf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  opacity: 0.4;
}
.cm-s-neo .cm-tag {
  color: var(--_1oahxm71);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1oahxm72);
}
.cm-s-neo .cm-string {
  color: var(--_1oahxm73);
}
.cm-s-neo .cm-atom {
  color: var(--_1oahxm74);
}
.cm-s-neo .cm-variable {
  color: var(--_1oahxm75);
}
.cm-s-neo .cm-number {
  color: var(--_1oahxm76);
}
.CodeMirror-dialog {
  padding-left: var(--_107qegl);
  padding-right: var(--_107qegl);
  min-height: var(--_107qegc);
  border-bottom: 1px solid var(--_1oahxm7s);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transition: var(--_107qegf);
}
.dialog-opened .CodeMirror-scroll {
  transform: translateY(var(--_107qegc));
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_107qegc);
}
.CodeMirror-dialog input {
  font: var(--_107qeg5);
  font-family: var(--_107qeg1);
  height: var(--_107qegc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_107qegc);
  font: var(--_107qeg5);
  font-family: var(--_107qeg1);
}
.CodeMirror-search-field {
  padding-left: var(--_107qegl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1oahxm7p);
}
.cm-overlay.cm-searching {
  padding-top: var(--_107qegh);
  padding-bottom: var(--_107qegh);
  background: var(--_1oahxm7p);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_107qegl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_107qeg4);
  font-family: var(--_107qeg0);
  margin-left: var(--_107qegj);
  padding-top: var(--_107qegi);
  padding-bottom: var(--_107qegi);
  padding-left: var(--_107qegk);
  padding-right: var(--_107qegk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_107qeg9);
  cursor: default;
  border: 1px solid var(--_1oahxm7s);
}
.CodeMirror-dialog button:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 0;
}
.CodeMirror-dialog button:hover {
  background: var(--_1oahxm7n);
}
.cm-inspect-highlight {
  background-color: var(--_1oahxm7p) !important;
}
.cm-inspect-highlight-fade {
  animation: _14km9kk8 1s ease forwards;
}
._7nqr4f2 {
  width: fit-content;
  max-width: 80ex;
  background: var(--_1oahxm7m);
  box-shadow: 0 2px 10px -2px hsla(358, 66%, 48%, 1);
  word-break: break-word;
  white-space: pre-line;
  outline: 1px solid hsla(358, 66%, 48%, 1);
}
._7nqr4f2:not(._7nqr4f0) {
  transform: translateY(var(--_107qegj));
  transition: none;
  opacity: 0;
}
._7nqr4f4 {
  transition-delay: calc(var(--_7nqr4f3) * 1ms);
}
._7nqr4f8 {
  background: hsla(358, 66%, 48%, 1);
  color: hsla(0, 0%, 93%, 1);
  height: var(--_107qegq);
}
._7nqr4f8:active:not([disabled]) {
  transform: scale(0.97);
}
.yvmo2p1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.yvmo2p2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.yvmo2p2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.yvmo2p4 {
  --yvmo2p3: 30px;
}
.yvmo2p5 {
  --yvmo2p3: 45px;
}
.yvmo2p6 {
  --yvmo2p3: 60px;
}
.yvmo2p7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.yvmo2p8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.yvmo2p9 {
  overflow: auto;
}
.yvmo2pe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--yvmo2pc, 0)),linear-gradient(to right, transparent 0, black var(--yvmo2pa, 0)),linear-gradient(to left, transparent 0, black var(--yvmo2pb, 0)),linear-gradient(to top, transparent 0, black var(--yvmo2pd, 0));
}
.yvmo2pf {
  --yvmo2pa: var(--yvmo2p3);
}
.yvmo2pg {
  --yvmo2pb: var(--yvmo2p3);
}
.yvmo2ph {
  --yvmo2pc: var(--yvmo2p3);
}
.yvmo2pi {
  --yvmo2pd: var(--yvmo2p3);
}
._1ajgai02 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1ajgai03 {
  width: 250px;
}
._1ajgai06 {
  --_1ajgai04: var(--_1oahxm7n);
  outline: none;
  cursor: default;
  color: var(--_1oahxm77);
  height: 34px;
  isolation: isolate;
}
._1ajgai06::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_107qeg8);
  z-index: -1;
}
._1ajgai06[data-popup-open]:not([aria-disabled])::before, ._1ajgai06[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1ajgai04);
}
._1ajgai06:focus-visible::before {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: -2px;
}
._1ajgai06[aria-disabled] {
  color: var(--_1oahxm79);
  cursor: not-allowed;
}
._1ajgai07 {
  cursor: pointer;
  text-decoration: none;
}
._1ajgai07[aria-disabled] {
  cursor: not-allowed;
}
._1ajgai08 {
  margin-left: 3px;
}
._1ajgai09 {
  --_1ajgai04: var(--_1oahxm7j);
  color: var(--_1oahxm7a);
}
._1ajgai0a {
  --_1ajgai04: transparent;
  color: var(--_1oahxm7c);
}
._1ajgai0a svg {
  color: var(--_1oahxm7c);
}
._1ajgai0c {
  isolation: isolate;
}
._1ajgai0g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1ajgai0i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1oahxm77);
  z-index: 1;
}
[aria-checked="true"] ._1ajgai0i {
  color: var(--_1oahxm78);
}
._1ajgai0k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1oahxm77);
  isolation: isolate;
}
[aria-checked="true"] ._1ajgai0k {
  background-color: var(--_1oahxm7e);
  border-color: var(--_1oahxm7e);
}
._1ajgai0p {
  height: 34px;
}
._1ajgai0r {
  height: 1px;
  background-color: var(--_1oahxm7s);
}
._1ajgai0t {
  background: transparent;
  border: none;
}
._1ajgai0t:hover, ._1ajgai0t[data-highlighted] {
  background-color: var(--_1oahxm7n);
}
._1ajgai0t:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: -2px;
}
@keyframes jlnj14k {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.jlnj142 {
  position: relative;
}
.jlnj142::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--_1oahxm7s);
}
.jlnj144 {
  color: var(--_1oahxm77);
  height: var(--_107qegc);
  background: transparent;
  box-shadow: none;
}
.jlnj144:focus-visible {
  outline: none;
  box-shadow: none;
}
.jlnj144::placeholder {
  color: var(--_1oahxm79);
}
.jlnj144::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.jlnj144::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jlnj144::-ms-clear {
  display: none;
}
.jlnj144::-ms-reveal {
  display: none;
}
.jlnj146 {
  list-style: none;
  height: 300px;
}
.jlnj147 {
  scroll-padding-top: var(--_107qegs);
}
.jlnj149 > [cmdk-group-heading] {
  position: sticky;
  top: 0;
  z-index: 1;
}
.jlnj14b {
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--_1oahxm7s);
}
.jlnj14b::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--_1oahxm7l);
  opacity: 0.8;
  z-index: -1;
  isolation: isolate;
}
.jlnj14d {
  border-bottom: 1px solid var(--_1oahxm7s);
}
.jlnj14f {
  color: var(--_1oahxm77);
  isolation: isolate;
  cursor: default;
  scroll-margin-block: var(--_107qegi);
  height: var(--_107qegs);
}
.jlnj14f::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--_107qegi);
  right: var(--_107qegi);
  background-color: var(--_1oahxm7n);
  border-radius: var(--_107qeg8);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.jlnj14f[data-selected="true"] {
  color: var(--_1oahxm7b);
}
.jlnj14f[data-selected="true"]::before {
  opacity: 1;
}
.jlnj147 .jlnj14f {
  scroll-margin-top: calc((var(--_107qegi) + 1px) * 2);
}
.jlnj14m {
  transform: scale(0.97);
  opacity: 0;
  animation: jlnj14k 80ms ease-out forwards;
}
.jlnj14n {
  width: min(350px, 90vw);
}
.jlnj14p {
  min-width: 0;
}
.fv5xkd1 {
  display: flex;
  flex-direction: column;
  gap: var(--fv5xkd0);
}
.fv5xkd2 {
  --fv5xkd0: var(--_107qegg);
}
.fv5xkd3 {
  --fv5xkd0: var(--_107qegh);
}
.fv5xkd4 {
  --fv5xkd0: var(--_107qegi);
}
.fv5xkd5 {
  --fv5xkd0: var(--_107qegj);
}
.fv5xkd6 {
  --fv5xkd0: var(--_107qegk);
}
.fv5xkd7 {
  --fv5xkd0: var(--_107qegl);
}
.fv5xkd8 {
  --fv5xkd0: var(--_107qegm);
}
.fv5xkd9 {
  --fv5xkd0: var(--_107qegn);
}
.fv5xkda {
  --fv5xkd0: var(--_107qego);
}
.fv5xkdb {
  --fv5xkd0: var(--_107qegp);
}
.fv5xkdc {
  align-items: flex-start;
}
.fv5xkdd {
  align-items: center;
}
.fv5xkde {
  align-items: flex-end;
}
.s40a3d1 {
  background-color: var(--_1oahxm7m);
  outline: 1px solid var(--_1oahxm7s);
}
.s40a3d3 {
  background: transparent;
  height: var(--_107qegr);
  color: var(--_1oahxm77);
}
.s40a3d3:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
.s40a3d3:hover, .s40a3d3[data-popup-open] {
  background-color: var(--_1oahxm7n);
}
.s40a3d3[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
.s40a3d3[aria-disabled="true"]:hover {
  background-color: transparent;
}
._1e0hw1 {
  justify-content: safe center;
}
._1e0hw5 {
  flex-shrink: 0;
  width: var(--_1e0hw2);
}
._1e0hw5:last-child {
  padding-right: var(--_107qegn);
}
._1e0hw6 {
  transition: color 150ms ease;
}
._1e0hw5:hover ._1e0hw6, ._1e0hw5:focus-within ._1e0hw6, ._1e0hw3 ._1e0hw6 {
  color: var(--_1oahxm7b);
}
._1e0hw8 {
  outline: 1px solid var(--_1oahxm7s);
}
._1e0hwa {
  transition: opacity 150ms ease;
}
._1e0hw5:not(:hover, :focus-within, ._1e0hw3) ._1e0hwa {
  opacity: 1;
}
._1e0hwc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1e0hwa:hover ~ ._1e0hw8 ._1e0hwc, ._1e0hwa:focus-within ~ ._1e0hw8._1e0hwc {
  outline-color: var(--_1oahxm7b);
}
._1e0hwe {
  transition: opacity 150ms ease;
}
._1e0hw5:not(:hover, :focus-within, ._1e0hw3) ._1e0hwe {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1e0hw5:not(:hover, :focus-within, ._1e0hw3) ._1e0hwe {
  opacity: 0.6;
}
._1lxx0uj2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1lxx0uj4 {
  border: 1px solid var(--_1oahxm7s);
  background-color: var(--_1oahxm7l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1lxx0uj4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1oahxm7n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1lxx0uj4:hover::after {
  opacity: 1;
}
._1lxx0uj4:focus-visible::after {
  opacity: 1;
}
._1lxx0uj4:active:not([disabled]) {
  transform: scale(0.97);
}
._1lxx0uj4:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 0;
}
._1lxx0uj6 {
  isolation: isolate;
}
._1lxx0uj8 {
  height: var(--_1lxx0uj0);
}
._1lxx0uja {
  border-color: var(--_1oahxm7c);
}
._1lxx0uja::after {
  background-color: var(--_1oahxm7i);
}
._1lxx0ujb {
  border-color: var(--_1oahxm7a);
}
._1lxx0ujb::after {
  background-color: var(--_1oahxm7j);
}
._1lxx0ujc {
  --_1lxx0uj0: var(--_107qegq);
}
._1lxx0ujd {
  --_1lxx0uj0: var(--_107qegr);
}
._1lxx0uje {
  --_1lxx0uj0: var(--_107qegs);
}
._1ow1hxv1 {
  color: var(--_1oahxm77);
  font-family: var(--_107qeg0);
}
._1ow1hxv2 {
  --_3za4e70: 36px;
  --_3za4e71: 44px;
  --_3za4e72: -0.2741em;
  --_3za4e73: -0.2031em;
}
._1ow1hxv3 {
  --_3za4e70: 20px;
  --_3za4e71: 28px;
  --_3za4e72: -0.363em;
  --_3za4e73: -0.292em;
}
._1ow1hxv4 {
  --_3za4e70: 16px;
  --_3za4e71: 20px;
  --_3za4e72: -0.288em;
  --_3za4e73: -0.217em;
}
._1a7sn9a1 {
  backdrop-filter: blur(6px);
}
._1a7sn9a1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1oahxm7k);
  opacity: 0.4;
}
html[data-playroom-dark] ._1a7sn9a1::before {
  opacity: 0.7;
}
._1a7sn9a1[data-starting-style]::before, ._1a7sn9a1[data-ending-style]::before {
  opacity: 0;
}
._1a7sn9a3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_107qegk) * 2));
  max-height: calc(100dvh - (var(--_107qegk) * 2));
}
._1a7sn9a3[data-starting-style], ._1a7sn9a3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1a7sn9a7:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
.kw2cae0 {
  width: 200px;
}
._1x5oimy1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1oahxm7l);
}
._1x5oimy2 {
  width: fit-content;
}
._1x5oimy4 {
  width: fit-content;
  justify-self: flex-end;
}
._1x5oimy7:not(._1x5oimy5) {
  opacity: 0;
  transform: translateX(var(--_107qegj));
  pointer-events: none;
}
._1x5oimy9 {
  background: transparent;
  color: var(--_1oahxm7g);
  isolation: isolate;
}
._1x5oimy9::after {
  content: "";
  position: absolute;
  transition: var(--_107qegf);
  z-index: -1;
  inset: calc(var(--_107qegj) * -1);
  background-color: var(--_1oahxm7n);
  border-radius: var(--_107qeg9);
}
._1x5oimy9:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 6px;
}
._1x5oimy9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1x5oimyb {
  margin: calc(var(--_107qegk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1x5oimyf {
  appearance: none;
  outline: none;
  background: var(--_1oahxm7l);
  color: var(--_1oahxm77);
  border: 1px solid var(--_1oahxm7s);
  height: var(--_107qegr);
}
._1x5oimyf:hover, ._1x5oimyf[data-popup-open] {
  background-color: var(--_1oahxm7n);
}
._1x5oimyf:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  z-index: 1;
}
._1x5oimyh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1x5oimyj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1x5oimyk {
  color: var(--_1oahxm7c);
}
._1x5oimym {
  height: 1px;
  background-color: var(--_1oahxm7s);
}
@media screen and (max-width: 767px) {
  ._1x5oimy4 {
    display: none;
  }
}
._1e2zbsz2 {
  flex: 1;
  min-height: 0;
}
._1e2zbsz5 {
  --_1e2zbsz3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1e2zbsz3), 1fr);
}
._1e2zbsz7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1e2zbsz9 {
  height: calc(100% / var(--_1e2zbsz0));
  width: calc(100% / var(--_1e2zbsz0));
  border-radius: calc(var(--_107qeg9) / var(--_1e2zbsz0));
  transform: scale(var(--_1e2zbsz0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1e2zbsz0));
}
._1e2zbszb {
  background: var(--_1oahxm7n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1e2zbszd {
  background: transparent;
  outline: 1px solid var(--_1oahxm7s);
}
._1e2zbszd:hover {
  outline: 2px solid var(--_1oahxm7t);
}
._1e2zbszd:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
._1e2zbszh {
  list-style: none;
}
._1e2zbszj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1oahxm7s);
}
._1e2zbszj:hover {
  outline: 2px solid var(--_1oahxm7t);
}
._1e2zbszj:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1e2zbsz5 {
    --_1e2zbsz3: 5;
  }
}
._1p7cb711 {
  width: fit-content;
}
._1p7cb713:focus-visible ~ ._1p7cb715 {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 4px;
}
._1p7cb718 {
  min-width: 0;
}
._1p7cb719 {
  flex-shrink: 0;
}
._93m11r2 {
  outline: none;
  height: var(--_107qegr);
  color: var(--_1oahxm77);
  background: transparent;
}
._93m11r2::placeholder {
  color: var(--_1oahxm79);
  font-weight: strong;
}
._93m11r2:hover:not(:focus-visible), ._93m11r2:hover:not(:focus-visible)::placeholder {
  background: var(--_1oahxm7n);
  opacity: 1;
  color: transparent;
}
._93m11r2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._93m11r2:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 0;
  opacity: 1;
}
._93m11r2:focus-visible::placeholder {
  color: transparent;
}
._93m11r4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1oahxm77);
}
._93m11r2:focus-visible ~ ._93m11r4 {
  opacity: 0;
}
._93m11r5 {
  color: var(--_1oahxm79);
}
._137dfmq2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--_137dfmq0);
  align-items: var(--_137dfmq1);
}
._137dfmq3 {
  --_137dfmq0: var(--_107qegg);
}
._137dfmq4 {
  --_137dfmq0: var(--_107qegh);
}
._137dfmq5 {
  --_137dfmq0: var(--_107qegi);
}
._137dfmq6 {
  --_137dfmq0: var(--_107qegj);
}
._137dfmq7 {
  --_137dfmq0: var(--_107qegk);
}
._137dfmq8 {
  --_137dfmq0: var(--_107qegl);
}
._137dfmq9 {
  --_137dfmq0: var(--_107qegm);
}
._137dfmqa {
  --_137dfmq0: var(--_107qegn);
}
._137dfmqb {
  --_137dfmq0: var(--_107qego);
}
._137dfmqc {
  --_137dfmq0: var(--_107qegp);
}
._137dfmqd {
  align-items: flex-start;
}
._137dfmqe {
  align-items: center;
}
._137dfmqf {
  align-items: flex-end;
}
._137dfmqg > * {
  flex-basis: auto;
  width: auto;
}
._19mefe51 {
  background: radial-gradient(var(--_1oahxm7l) 20%, transparent 50%);
  justify-content: safe center;
}
._19mefe53 {
  max-width: 400px;
}
._19mefe55 {
  background: transparent;
}
._19mefe55:focus-visible {
  outline: 2px solid var(--_1oahxm7v);
  outline-offset: 6px;
}
._4oamda0 {
  cursor: row-resize;
}
._4oamda1 {
  cursor: col-resize;
}
._4oamda6 {
  transform: translateY(-50%);
  z-index: 2;
}
._4oamda6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-1px);
  transition: background-color 100ms ease;
}
._4oamda6._4oamda3::before {
  background: var(--_1oahxm7e);
}
._4oamda6:not(._4oamda3):hover::before {
  background: var(--_1oahxm7e);
  transition-delay: 200ms;
}
._4oamda7 {
  z-index: 2;
}
._4oamda7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  transition: background-color 100ms ease;
}
._4oamda7._4oamda3::before {
  background: var(--_1oahxm7e);
}
._4oamda7:not(._4oamda3):hover::before {
  background: var(--_1oahxm7e);
  transition-delay: 200ms;
}
._4oamda9 {
  transform: translateX(50%);
}
._4oamdab {
  transform: translateX(-50%);
}
._4oamdad {
  background: var(--_1oahxm7m);
  outline: 1px solid var(--_1oahxm7s);
  outline-offset: -1px;
  transition: outline-color 100ms ease;
}
._4oamdad::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: background-color 100ms ease;
}
._4oamda3 ._4oamdad {
  outline-color: var(--_1oahxm7e);
}
._4oamda3 ._4oamdad::after {
  background: var(--_1oahxm7e);
}
:is(._4oamda6, ._4oamda7):not(._4oamda3):hover ._4oamdad {
  outline-color: var(--_1oahxm7e);
  transition-delay: 200ms;
}
:is(._4oamda6, ._4oamda7):not(._4oamda3):hover ._4oamdad::after {
  transition-delay: 200ms;
}
._4oamdae {
  width: 38px;
  height: 8px;
}
._4oamdaf {
  width: 8px;
  height: 38px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_1oahxm7k);
  scrollbar-color: var(--_1oahxm7s) transparent;
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._11df7xm0 {
  pointer-events: none;
  user-select: none;
}
._11df7xm5 {
  display: grid;
  grid-template-columns: var(--_11df7xm2, 0px) 1fr;
  grid-template-rows: min-content auto var(--_11df7xm1, 0px);
  isolation: isolate;
}
._11df7xm6 {
  --_11df7xm1: clamp(150px, var(--_11df7xm3), 70vh);
  grid-template-areas: "header header"
"frames frames"
"editor editor";
}
._11df7xm7 {
  --_11df7xm2: clamp(300px, var(--_11df7xm3), 90vw);
  grid-template-areas: "header header"
"editor frames"
"editor frames";
}
._11df7xm8 {
  grid-area: header;
  z-index: 1;
  outline: 1px solid var(--_1oahxm7s);
}
._11df7xm9 {
  grid-area: frames;
}
._11df7xma {
  grid-area: editor;
  outline: 1px solid var(--_1oahxm7s);
}
._11df7xme {
  left: var(--_107qegl);
  right: var(--_107qegl);
  bottom: var(--_107qegl);
  width: fit-content;
  margin-inline: auto;
}
._11df7xmg {
  backdrop-filter: blur(2px);
}
._11df7xmg::before {
  content: "";
  position: absolute;
  inset: 1px;
  pointer-events: none;
  background: var(--_1oahxm7m);
  border-radius: calc(var(--_107qega) - 2px);
  opacity: 0.8;
}
._11df7xmg::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: calc(var(--_107qega) - 2px);
  outline: 2px solid var(--_1oahxm7s);
  outline-offset: -2px;
}
._11df7xmi {
  background: var(--_1oahxm7l);
  box-shadow: 0 0 4px 2px var(--_1oahxm7l);
}
