._1fo60oa1 {
  background-color: var(--_48g4wal);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_48g4wap);
}
._1fo60oa2::before {
  content: "";
  position: absolute;
  min-height: var(--tuq1ttc);
  min-width: var(--tuq1ttc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.nesgoj2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.nesgoj4 {
  border: 1px solid var(--_48g4wap);
  background-color: var(--_48g4wak);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.nesgoj4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_48g4wam);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
.nesgoj4:hover::after {
  opacity: 1;
}
.nesgoj4:focus-visible::after {
  opacity: 1;
}
.nesgoj4:active:not([disabled]) {
  transform: scale(0.97);
}
.nesgoj4:focus-visible {
  outline: 2px solid var(--_48g4was);
  outline-offset: 0;
}
.nesgoj6 {
  height: var(--nesgoj0);
}
.nesgoj8 {
  border-color: var(--_48g4wac);
}
.nesgoj8::after {
  background-color: var(--_48g4wah);
}
.nesgoj9 {
  border-color: var(--_48g4waa);
}
.nesgoj9::after {
  background-color: var(--_48g4wai);
}
.nesgoja {
  --nesgoj0: var(--tuq1ttq);
}
.nesgojb {
  --nesgoj0: var(--tuq1ttr);
}
.nesgojc {
  --nesgoj0: var(--tuq1tts);
}
._7vm3re1 {
  --_48g4wa7: var(--_48g4wad);
  background-color: var(--_48g4wan);
  outline: 1px solid var(--_48g4war);
  outline-offset: -1px;
}
.sms95b3 {
  background: transparent;
  outline: none;
  height: var(--sms95b0);
  width: var(--sms95b0);
}
.sms95b6 {
  padding: var(--sms95b4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--sms95b1);
  isolation: isolate;
}
.sms95b3[data-pressed] .sms95b6, .sms95b3:active .sms95b6 {
  transform: scale(.95);
}
.sms95b3:focus-visible .sms95b6 {
  outline: 2px solid var(--_48g4was);
}
.sms95b7 {
  --sms95b0: var(--tuq1ttq);
  --sms95b4: 6px;
}
.sms95b8 {
  --sms95b0: var(--tuq1ttr);
  --sms95b4: var(--tuq1ttj);
}
.sms95b9 {
  --sms95b0: var(--tuq1tts);
  --sms95b4: var(--tuq1ttj);
}
.sms95ba {
  --sms95b1: var(--_48g4wa7);
}
.sms95bb {
  --sms95b1: var(--_48g4wab);
}
.sms95bc {
  --sms95b1: var(--_48g4wac);
}
.sms95bd {
  background-color: var(--_48g4wak);
  outline: 1px solid var(--_48g4wap);
  outline-offset: -1px;
}
.sms95bd:hover, [data-popup-open] > .sms95bd {
  background-color: var(--_48g4wam);
}
.sms95be {
  --sms95b1: var(--_48g4wa8);
  background-color: var(--_48g4waf);
}
.sms95be:hover, [data-popup-open] > .sms95be {
  background-color: var(--_48g4wag);
}
.sms95bf:hover, [data-popup-open] > .sms95bf {
  background-color: var(--_48g4wam);
}
.sms95bg {
  margin: calc((var(--sms95b4) + 2px) * -1);
}
.sms95b6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1vqbdu32 {
  position: relative;
  background-color: transparent;
  border-radius: var(--tuq1tt8);
  color: var(--_1vqbdu30);
  isolation: isolate;
  outline: none;
}
._1vqbdu32[data-pressed], ._1vqbdu32:active {
  transform: scale(.95);
}
._1vqbdu32::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--tuq1tti) * -1);
  background-color: var(--_1vqbdu30);
  border-radius: var(--tuq1tt8);
}
._1vqbdu32:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1vqbdu32:hover, ._1vqbdu32[data-popup-open]:not(:focus-visible) {
  color: var(--_48g4wa8);
}
._1vqbdu32:focus-visible::after {
  outline: 2px solid var(--_48g4was);
}
._1vqbdu32:focus-visible:not(:hover)::after {
  background: transparent;
}
._1vqbdu33 {
  --_1vqbdu30: var(--_48g4wab);
}
._1vqbdu34 {
  --_1vqbdu30: var(--_48g4wac);
}
._1vqbdu32 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._15yg4zy1 {
  justify-content: safe center;
}
._15yg4zy5 {
  flex-shrink: 0;
  width: var(--_15yg4zy2);
}
._15yg4zy6 {
  transition: color 150ms ease;
}
._15yg4zy5:hover ._15yg4zy6, ._15yg4zy5:focus-within ._15yg4zy6, ._15yg4zy3 ._15yg4zy6 {
  color: var(--_48g4wab);
}
._15yg4zy8 {
  outline: 1px solid var(--_48g4wap);
}
._15yg4zya {
  transition: opacity 150ms ease;
}
._15yg4zy5:not(:hover, :focus-within, ._15yg4zy3) ._15yg4zya {
  opacity: 1;
}
._15yg4zyc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._15yg4zya:hover ~ ._15yg4zy8 ._15yg4zyc, ._15yg4zya:focus-within ~ ._15yg4zy8._15yg4zyc {
  outline-color: var(--_48g4wab);
}
._15yg4zye {
  transition: opacity 150ms ease;
}
._15yg4zy5:not(:hover, :focus-within, ._15yg4zy3) ._15yg4zye {
  opacity: 0;
}
._1www4hb1 {
  color: var(--_48g4wa7);
  font-family: var(--tuq1tt0);
}
._1www4hb2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._1www4hb3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
._1www4hb4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._14reej11 {
  display: flex;
  flex-direction: column;
  gap: var(--_14reej10);
}
._14reej12 {
  --_14reej10: var(--tuq1ttg);
}
._14reej13 {
  --_14reej10: var(--tuq1tth);
}
._14reej14 {
  --_14reej10: var(--tuq1tti);
}
._14reej15 {
  --_14reej10: var(--tuq1ttj);
}
._14reej16 {
  --_14reej10: var(--tuq1ttk);
}
._14reej17 {
  --_14reej10: var(--tuq1ttl);
}
._14reej18 {
  --_14reej10: var(--tuq1ttm);
}
._14reej19 {
  --_14reej10: var(--tuq1ttn);
}
._14reej1a {
  --_14reej10: var(--tuq1tto);
}
._14reej1b {
  --_14reej10: var(--tuq1ttp);
}
._14reej1c {
  align-items: flex-start;
}
._14reej1d {
  align-items: center;
}
._14reej1e {
  align-items: flex-end;
}
._1q9msra1 {
  backdrop-filter: blur(6px);
}
._1q9msra1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_48g4waj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1q9msra1::before {
  opacity: 0.7;
}
._1q9msra1[data-starting-style]::before, ._1q9msra1[data-ending-style]::before {
  opacity: 0;
}
._1q9msra3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--tuq1ttk) * 2));
  max-height: calc(100dvh - (var(--tuq1ttk) * 2));
}
._1q9msra3[data-starting-style], ._1q9msra3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1q9msra7:focus-visible {
  outline: 2px solid var(--_48g4was);
  outline-offset: 2px;
}
.h0uw002 {
  display: flex;
  flex-direction: row;
  gap: var(--h0uw000);
  align-items: var(--h0uw001);
}
.h0uw003 {
  flex-wrap: wrap;
}
.h0uw004 {
  --h0uw000: var(--tuq1ttg);
}
.h0uw005 {
  --h0uw000: var(--tuq1tth);
}
.h0uw006 {
  --h0uw000: var(--tuq1tti);
}
.h0uw007 {
  --h0uw000: var(--tuq1ttj);
}
.h0uw008 {
  --h0uw000: var(--tuq1ttk);
}
.h0uw009 {
  --h0uw000: var(--tuq1ttl);
}
.h0uw00a {
  --h0uw000: var(--tuq1ttm);
}
.h0uw00b {
  --h0uw000: var(--tuq1ttn);
}
.h0uw00c {
  --h0uw000: var(--tuq1tto);
}
.h0uw00d {
  --h0uw000: var(--tuq1ttp);
}
.h0uw00e {
  align-items: flex-start;
}
.h0uw00f {
  align-items: center;
}
.h0uw00g {
  align-items: flex-end;
}
._1ha55cc0 {
  isolation: isolate;
  white-space: nowrap;
}
._1ha55cc1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1ha55cc3 {
    display: none;
  }
}
.yi94m61 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.yi94m62 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.yi94m62::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.yi94m64 {
  --yi94m63: 30px;
}
.yi94m65 {
  --yi94m63: 45px;
}
.yi94m66 {
  --yi94m63: 60px;
}
.yi94m67 {
  overflow-x: auto;
  overflow-y: hidden;
}
.yi94m68 {
  overflow-x: hidden;
  overflow-y: auto;
}
.yi94m69 {
  overflow: auto;
}
.yi94m6e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--yi94m6c, 0)),linear-gradient(to right, transparent 0, black var(--yi94m6a, 0)),linear-gradient(to left, transparent 0, black var(--yi94m6b, 0)),linear-gradient(to top, transparent 0, black var(--yi94m6d, 0));
}
.yi94m6f {
  --yi94m6a: var(--yi94m63);
}
.yi94m6g {
  --yi94m6b: var(--yi94m63);
}
.yi94m6h {
  --yi94m6c: var(--yi94m63);
}
.yi94m6i {
  --yi94m6d: var(--yi94m63);
}
.jkbfab2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.jkbfab3 {
  width: 250px;
}
.jkbfab6 {
  --jkbfab4: var(--_48g4wam);
  outline: none;
  cursor: default;
  color: var(--_48g4wa7);
  height: 34px;
  isolation: isolate;
}
.jkbfab6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--tuq1tt8);
  z-index: -1;
}
.jkbfab6[data-popup-open]:not([aria-disabled])::before, .jkbfab6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--jkbfab4);
}
.jkbfab6:focus-visible::before {
  outline: 2px solid var(--_48g4was);
  outline-offset: -2px;
}
.jkbfab6[aria-disabled] {
  color: var(--_48g4wa9);
  cursor: not-allowed;
}
.jkbfab7 {
  cursor: pointer;
  text-decoration: none;
}
.jkbfab7[aria-disabled] {
  cursor: not-allowed;
}
.jkbfab8 {
  margin-left: 3px;
}
.jkbfab9 {
  --jkbfab4: var(--_48g4wai);
  color: var(--_48g4waa);
}
.jkbfaba {
  --jkbfab4: transparent;
  color: var(--_48g4wac);
}
.jkbfaba svg {
  color: var(--_48g4wac);
}
.jkbfabc {
  isolation: isolate;
}
.jkbfabg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.jkbfabi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_48g4wa7);
  z-index: 1;
}
[aria-checked="true"] .jkbfabi {
  color: var(--_48g4wa8);
}
.jkbfabk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_48g4wa7);
  isolation: isolate;
}
[aria-checked="true"] .jkbfabk {
  background-color: var(--_48g4wae);
  border-color: var(--_48g4wae);
}
.jkbfabn {
  height: 1px;
  background-color: var(--_48g4wap);
}
.jkbfabo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.jkbfabq {
  background: transparent;
  border: none;
  margin: calc(var(--tuq1ttj) * -1);
}
.jkbfabq:hover, .jkbfabq[data-highlighted] {
  background-color: var(--_48g4wam);
}
.jkbfabq:focus-visible {
  outline: 2px solid var(--_48g4was);
  outline-offset: -2px;
}
.ivmbd0 {
  width: 200px;
}
.k6s0jx1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_48g4wak);
}
.k6s0jx2 {
  width: fit-content;
}
.k6s0jx5 {
  width: fit-content;
  justify-self: flex-end;
}
.k6s0jx5:not(.k6s0jx3) {
  opacity: 0;
  transform: translateX(var(--tuq1ttj));
  pointer-events: none;
}
.k6s0jx7 {
  background: transparent;
  color: var(--_48g4waf);
  isolation: isolate;
}
.k6s0jx7::after {
  content: "";
  position: absolute;
  transition: var(--tuq1ttf);
  z-index: -1;
  inset: calc(var(--tuq1ttj) * -1);
  background-color: var(--_48g4wam);
  border-radius: var(--tuq1tt9);
}
.k6s0jx7:focus-visible {
  outline: 2px solid var(--_48g4was);
  outline-offset: 6px;
}
.k6s0jx7:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.k6s0jx9 {
  margin: calc(var(--tuq1ttk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.k6s0jxd {
  appearance: none;
  outline: none;
  background: var(--_48g4wak);
  color: var(--_48g4wa7);
  border: 1px solid var(--_48g4wap);
  height: var(--tuq1ttr);
}
.k6s0jxd:hover, .k6s0jxd[data-popup-open] {
  background-color: var(--_48g4wam);
}
.k6s0jxd:focus-visible {
  outline: 2px solid var(--_48g4was);
  z-index: 1;
}
.k6s0jxf {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.k6s0jxh {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.k6s0jxi {
  color: var(--_48g4wac);
}
.k6s0jxk {
  height: 1px;
  background-color: var(--_48g4wap);
}
@media screen and (max-width: 767px) {
  .k6s0jx5 {
    display: none;
  }
}
.vsjrxo2 {
  flex: 1;
  min-height: 0;
}
.vsjrxo5 {
  --vsjrxo3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--vsjrxo3), 1fr);
}
.vsjrxo7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.vsjrxo9 {
  height: calc(100% / var(--vsjrxo0));
  width: calc(100% / var(--vsjrxo0));
  border-radius: calc(var(--tuq1tt9) / var(--vsjrxo0));
  transform: scale(var(--vsjrxo0));
  transform-origin: 0 0;
  padding: calc(1px / var(--vsjrxo0));
}
.vsjrxob {
  background: var(--_48g4wam);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vsjrxod {
  background: transparent;
  outline: 1px solid var(--_48g4wap);
}
.vsjrxod:hover {
  outline: 2px solid var(--_48g4waq);
}
.vsjrxod:focus-visible {
  outline: 2px solid var(--_48g4was);
  outline-offset: 2px;
}
.vsjrxoh {
  list-style: none;
}
.vsjrxoj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_48g4wap);
}
.vsjrxoj:hover {
  outline: 2px solid var(--_48g4waq);
}
.vsjrxoj:focus-visible {
  outline: 2px solid var(--_48g4was);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .vsjrxo5 {
    --vsjrxo3: 2;
  }
}
@media screen and (min-width: 800px) {
  .vsjrxo5 {
    --vsjrxo3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .vsjrxo5 {
    --vsjrxo3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .vsjrxo5 {
    --vsjrxo3: 5;
  }
}
.qbc6u81 {
  width: fit-content;
}
.qbc6u83:focus-visible ~ .qbc6u85 {
  outline: 2px solid var(--_48g4was);
  outline-offset: 4px;
}
.qbc6u88 {
  min-width: 0;
}
.qbc6u89 {
  flex-shrink: 0;
}
._46tl232 {
  outline: none;
  height: var(--tuq1ttr);
  color: var(--_48g4wa7);
  background: transparent;
}
._46tl232::placeholder {
  color: var(--_48g4wa9);
  font-weight: normal;
}
._46tl232:hover:not(:focus-visible) {
  background: var(--_48g4wam);
  opacity: 1;
  color: transparent;
}
._46tl232:hover:not(:focus-visible)::selection {
  background: transparent;
}
._46tl232:focus-visible {
  outline: 2px solid var(--_48g4was);
  opacity: 1;
}
._46tl232:focus-visible::placeholder {
  color: transparent;
}
._46tl234 {
  max-width: 50vw;
  min-width: 240px;
}
._46tl232:focus-visible ~ ._46tl234 {
  opacity: 0;
}
._46tl235 {
  white-space: pre;
}
._1icgk6n3 {
  border: 1px solid var(--_48g4wap);
}
._1icgk6n5 {
  border-bottom: 1px solid var(--_48g4wap);
}
._1icgk6n8 {
  border-top: 1px solid var(--_48g4wap);
}
._1icgk6nc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1icgk6n6 {
    display: none;
  }
}
