.y0tbvh1 {
  background-color: var(--_1ske8rum);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1ske8rur);
}
.y0tbvh2::before {
  content: "";
  position: absolute;
  min-height: var(--_1tuykeyc);
  min-width: var(--_1tuykeyc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1vcrbfe2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1vcrbfe4 {
  border: 1px solid var(--_1ske8rur);
  background-color: var(--_1ske8rul);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1vcrbfe4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1ske8run);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1vcrbfe4:hover::after {
  opacity: 1;
}
._1vcrbfe4:focus-visible::after {
  opacity: 1;
}
._1vcrbfe4:active:not([disabled]) {
  transform: scale(0.97);
}
._1vcrbfe4:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 0;
}
._1vcrbfe6 {
  isolation: isolate;
}
._1vcrbfe8 {
  height: var(--_1vcrbfe0);
}
._1vcrbfea {
  border-color: var(--_1ske8ruc);
}
._1vcrbfea::after {
  background-color: var(--_1ske8rui);
}
._1vcrbfeb {
  border-color: var(--_1ske8rua);
}
._1vcrbfeb::after {
  background-color: var(--_1ske8ruj);
}
._1vcrbfec {
  --_1vcrbfe0: var(--_1tuykeyq);
}
._1vcrbfed {
  --_1vcrbfe0: var(--_1tuykeyr);
}
._1vcrbfee {
  --_1vcrbfe0: var(--_1tuykeys);
}
._1t6h6xz1 {
  --_1ske8ru7: var(--_1ske8rud);
  background-color: var(--_1ske8ruo);
  outline: 1px solid var(--_1ske8rut);
  outline-offset: -1px;
}
.y60m223 {
  background: transparent;
  outline: none;
  height: var(--y60m220) !important;
  width: var(--y60m220) !important;
}
.y60m226 {
  padding: var(--y60m224);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.y60m223:active .y60m226 {
  transform: scale(.95);
}
.y60m223:focus-visible .y60m226 {
  outline: 2px solid var(--_1ske8ruu);
}
.y60m223[aria-disabled="true"] .y60m226 {
  --y60m221: var(--_1ske8ru9);
}
.y60m227 {
  --y60m220: var(--_1tuykeyq);
  --y60m224: var(--_1tuykeyi);
}
.y60m228 {
  --y60m220: var(--_1tuykeyr);
  --y60m224: var(--_1tuykeyj);
}
.y60m229 {
  --y60m220: var(--_1tuykeys);
  --y60m224: var(--_1tuykeyj);
}
.y60m22j {
  --y60m22a: var(--_1ske8ru7);
  --y60m22b: var(--_1ske8rul);
  --y60m22c: var(--_1ske8run);
  --y60m22d: var(--_1ske8ru8);
  --y60m22e: var(--_1ske8rug);
  --y60m22f: var(--_1ske8ruh);
  --y60m22g: var(--_1ske8ru7);
  --y60m22h: var(--_1ske8ru7);
  --y60m22i: var(--_1ske8run);
}
.y60m22k {
  --y60m22a: var(--_1ske8rub);
  --y60m22b: var(--_1ske8rul);
  --y60m22c: var(--_1ske8run);
  --y60m22d: var(--_1ske8ru8);
  --y60m22e: var(--_1ske8rub);
  --y60m22f: var(--_1ske8ruf);
  --y60m22g: var(--_1ske8rub);
  --y60m22h: var(--_1ske8ru8);
  --y60m22i: var(--_1ske8rue);
}
.y60m22l {
  color: var(--y60m22a);
  background-color: var(--y60m22b);
  outline: 1px solid var(--_1ske8rur);
  outline-offset: -1px;
}
.y60m223:not([aria-disabled="true"]):hover > .y60m22l, .y60m223:not([aria-disabled="true"]):focus-visible > .y60m22l, .y60m223:not([aria-disabled="true"])[data-popup-open] > .y60m22l {
  background-color: var(--y60m22c);
}
.y60m22m {
  color: var(--y60m22d);
  background-color: var(--y60m22e);
}
.y60m223:not([aria-disabled="true"]):hover > .y60m22m, .y60m223:not([aria-disabled="true"]):focus-visible > .y60m22m, .y60m223:not([aria-disabled="true"])[data-popup-open] > .y60m22m {
  background-color: var(--y60m22f);
}
.y60m22n {
  color: var(--y60m22g);
}
.y60m223:not([aria-disabled="true"]):hover > .y60m22n, .y60m223:not([aria-disabled="true"]):focus-visible > .y60m22n, .y60m223:not([aria-disabled="true"])[data-popup-open] > .y60m22n {
  color: var(--y60m22h);
  background-color: var(--y60m22i);
}
.y60m22o {
  margin: calc((var(--y60m224) + 2px) * -1);
}
.y60m226 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._2jpco60 {
  isolation: isolate;
  white-space: nowrap;
}
._2jpco61 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._2jpco63 {
    display: none;
  }
}
._1gsmmt31 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1gsmmt32 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1gsmmt32::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1gsmmt34 {
  --_1gsmmt33: 30px;
}
._1gsmmt35 {
  --_1gsmmt33: 45px;
}
._1gsmmt36 {
  --_1gsmmt33: 60px;
}
._1gsmmt37 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1gsmmt38 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1gsmmt39 {
  overflow: auto;
}
._1gsmmt3e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1gsmmt3c, 0)),linear-gradient(to right, transparent 0, black var(--_1gsmmt3a, 0)),linear-gradient(to left, transparent 0, black var(--_1gsmmt3b, 0)),linear-gradient(to top, transparent 0, black var(--_1gsmmt3d, 0));
}
._1gsmmt3f {
  --_1gsmmt3a: var(--_1gsmmt33);
}
._1gsmmt3g {
  --_1gsmmt3b: var(--_1gsmmt33);
}
._1gsmmt3h {
  --_1gsmmt3c: var(--_1gsmmt33);
}
._1gsmmt3i {
  --_1gsmmt3d: var(--_1gsmmt33);
}
._19iuxla2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._19iuxla3 {
  width: 250px;
}
._19iuxla6 {
  --_19iuxla4: var(--_1ske8run);
  outline: none;
  cursor: default;
  color: var(--_1ske8ru7);
  height: 34px;
  isolation: isolate;
}
._19iuxla6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1tuykey8);
  z-index: -1;
}
._19iuxla6[data-popup-open]:not([aria-disabled])::before, ._19iuxla6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_19iuxla4);
}
._19iuxla6:focus-visible::before {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: -2px;
}
._19iuxla6[aria-disabled] {
  color: var(--_1ske8ru9);
  cursor: not-allowed;
}
._19iuxla7 {
  cursor: pointer;
  text-decoration: none;
}
._19iuxla7[aria-disabled] {
  cursor: not-allowed;
}
._19iuxla8 {
  margin-left: 3px;
}
._19iuxla9 {
  --_19iuxla4: var(--_1ske8ruj);
  color: var(--_1ske8rua);
}
._19iuxlaa {
  --_19iuxla4: transparent;
  color: var(--_1ske8ruc);
}
._19iuxlaa svg {
  color: var(--_1ske8ruc);
}
._19iuxlac {
  isolation: isolate;
}
._19iuxlag {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._19iuxlai {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1ske8ru7);
  z-index: 1;
}
[aria-checked="true"] ._19iuxlai {
  color: var(--_1ske8ru8);
}
._19iuxlak {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1ske8ru7);
  isolation: isolate;
}
[aria-checked="true"] ._19iuxlak {
  background-color: var(--_1ske8rue);
  border-color: var(--_1ske8rue);
}
._19iuxlap {
  height: 34px;
}
._19iuxlar {
  height: 1px;
  background-color: var(--_1ske8rur);
}
._19iuxlat {
  background: transparent;
  border: none;
}
._19iuxlat:hover, ._19iuxlat[data-highlighted] {
  background-color: var(--_1ske8run);
}
._19iuxlat:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: -2px;
}
.i8k9cx1 {
  justify-content: safe center;
}
.i8k9cx5 {
  flex-shrink: 0;
  width: var(--i8k9cx2);
}
.i8k9cx5:last-child {
  padding-right: var(--_1tuykeyn);
}
.i8k9cx6 {
  transition: color 150ms ease;
}
.i8k9cx5:hover .i8k9cx6, .i8k9cx5:focus-within .i8k9cx6, .i8k9cx3 .i8k9cx6 {
  color: var(--_1ske8rub);
}
.i8k9cx8 {
  outline: 1px solid var(--_1ske8rur);
}
.i8k9cxa {
  transition: opacity 150ms ease;
}
.i8k9cx5:not(:hover, :focus-within, .i8k9cx3) .i8k9cxa {
  opacity: 1;
}
.i8k9cxc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.i8k9cxa:hover ~ .i8k9cx8 .i8k9cxc, .i8k9cxa:focus-within ~ .i8k9cx8.i8k9cxc {
  outline-color: var(--_1ske8rub);
}
.i8k9cxe {
  transition: opacity 150ms ease;
}
.i8k9cx5:not(:hover, :focus-within, .i8k9cx3) .i8k9cxe {
  opacity: 0;
}
._1x1eww01 {
  color: var(--_1ske8ru7);
  font-family: var(--_1tuykey0);
}
._1x1eww02 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1x1eww03 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1x1eww04 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1wt2n3z1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1wt2n3z0);
}
._1wt2n3z2 {
  --_1wt2n3z0: var(--_1tuykeyg);
}
._1wt2n3z3 {
  --_1wt2n3z0: var(--_1tuykeyh);
}
._1wt2n3z4 {
  --_1wt2n3z0: var(--_1tuykeyi);
}
._1wt2n3z5 {
  --_1wt2n3z0: var(--_1tuykeyj);
}
._1wt2n3z6 {
  --_1wt2n3z0: var(--_1tuykeyk);
}
._1wt2n3z7 {
  --_1wt2n3z0: var(--_1tuykeyl);
}
._1wt2n3z8 {
  --_1wt2n3z0: var(--_1tuykeym);
}
._1wt2n3z9 {
  --_1wt2n3z0: var(--_1tuykeyn);
}
._1wt2n3za {
  --_1wt2n3z0: var(--_1tuykeyo);
}
._1wt2n3zb {
  --_1wt2n3z0: var(--_1tuykeyp);
}
._1wt2n3zc {
  align-items: flex-start;
}
._1wt2n3zd {
  align-items: center;
}
._1wt2n3ze {
  align-items: flex-end;
}
.gtvrj01 {
  backdrop-filter: blur(6px);
}
.gtvrj01::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1ske8ruk);
  opacity: 0.4;
}
html[data-playroom-dark] .gtvrj01::before {
  opacity: 0.7;
}
.gtvrj01[data-starting-style]::before, .gtvrj01[data-ending-style]::before {
  opacity: 0;
}
.gtvrj03 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1tuykeyk) * 2));
  max-height: calc(100dvh - (var(--_1tuykeyk) * 2));
}
.gtvrj03[data-starting-style], .gtvrj03[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.gtvrj07:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 2px;
}
._13nw0qu2 {
  display: flex;
  flex-direction: row;
  gap: var(--_13nw0qu0);
  align-items: var(--_13nw0qu1);
}
._13nw0qu3 {
  flex-wrap: wrap;
}
._13nw0qu4 {
  --_13nw0qu0: var(--_1tuykeyg);
}
._13nw0qu5 {
  --_13nw0qu0: var(--_1tuykeyh);
}
._13nw0qu6 {
  --_13nw0qu0: var(--_1tuykeyi);
}
._13nw0qu7 {
  --_13nw0qu0: var(--_1tuykeyj);
}
._13nw0qu8 {
  --_13nw0qu0: var(--_1tuykeyk);
}
._13nw0qu9 {
  --_13nw0qu0: var(--_1tuykeyl);
}
._13nw0qua {
  --_13nw0qu0: var(--_1tuykeym);
}
._13nw0qub {
  --_13nw0qu0: var(--_1tuykeyn);
}
._13nw0quc {
  --_13nw0qu0: var(--_1tuykeyo);
}
._13nw0qud {
  --_13nw0qu0: var(--_1tuykeyp);
}
._13nw0que {
  align-items: flex-start;
}
._13nw0quf {
  align-items: center;
}
._13nw0qug {
  align-items: flex-end;
}
.zzkmp10 {
  width: 200px;
}
._1vvlquo1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1ske8rul);
}
._1vvlquo2 {
  width: fit-content;
}
._1vvlquo4 {
  width: fit-content;
  justify-self: flex-end;
}
._1vvlquo7:not(._1vvlquo5) {
  opacity: 0;
  transform: translateX(var(--_1tuykeyj));
  pointer-events: none;
}
._1vvlquo9 {
  background: transparent;
  color: var(--_1ske8rug);
  isolation: isolate;
}
._1vvlquo9::after {
  content: "";
  position: absolute;
  transition: var(--_1tuykeyf);
  z-index: -1;
  inset: calc(var(--_1tuykeyj) * -1);
  background-color: var(--_1ske8run);
  border-radius: var(--_1tuykey9);
}
._1vvlquo9:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 6px;
}
._1vvlquo9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1vvlquob {
  margin: calc(var(--_1tuykeyk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1vvlquof {
  appearance: none;
  outline: none;
  background: var(--_1ske8rul);
  color: var(--_1ske8ru7);
  border: 1px solid var(--_1ske8rur);
  height: var(--_1tuykeyr);
}
._1vvlquof:hover, ._1vvlquof[data-popup-open] {
  background-color: var(--_1ske8run);
}
._1vvlquof:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  z-index: 1;
}
._1vvlquoh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1vvlquoj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1vvlquok {
  color: var(--_1ske8ruc);
}
._1vvlquom {
  height: 1px;
  background-color: var(--_1ske8rur);
}
@media screen and (max-width: 767px) {
  ._1vvlquo4 {
    display: none;
  }
}
._1flyhgf2 {
  flex: 1;
  min-height: 0;
}
._1flyhgf5 {
  --_1flyhgf3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1flyhgf3), 1fr);
}
._1flyhgf7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1flyhgf9 {
  height: calc(100% / var(--_1flyhgf0));
  width: calc(100% / var(--_1flyhgf0));
  border-radius: calc(var(--_1tuykey9) / var(--_1flyhgf0));
  transform: scale(var(--_1flyhgf0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1flyhgf0));
}
._1flyhgfb {
  background: var(--_1ske8run);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1flyhgfd {
  background: transparent;
  outline: 1px solid var(--_1ske8rur);
}
._1flyhgfd:hover {
  outline: 2px solid var(--_1ske8rus);
}
._1flyhgfd:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 2px;
}
._1flyhgfh {
  list-style: none;
}
._1flyhgfj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1ske8rur);
}
._1flyhgfj:hover {
  outline: 2px solid var(--_1ske8rus);
}
._1flyhgfj:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1flyhgf5 {
    --_1flyhgf3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1flyhgf5 {
    --_1flyhgf3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1flyhgf5 {
    --_1flyhgf3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1flyhgf5 {
    --_1flyhgf3: 5;
  }
}
.osm4qt1 {
  width: fit-content;
}
.osm4qt3:focus-visible ~ .osm4qt5 {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 4px;
}
.osm4qt8 {
  min-width: 0;
}
.osm4qt9 {
  flex-shrink: 0;
}
._1g92bb02 {
  outline: none;
  height: var(--_1tuykeyr);
  color: var(--_1ske8ru7);
  background: transparent;
}
._1g92bb02::placeholder {
  color: var(--_1ske8ru9);
  font-weight: strong;
}
._1g92bb02:hover:not(:focus-visible), ._1g92bb02:hover:not(:focus-visible)::placeholder {
  background: var(--_1ske8run);
  opacity: 1;
  color: transparent;
}
._1g92bb02:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1g92bb02:focus-visible {
  outline: 2px solid var(--_1ske8ruu);
  outline-offset: 0;
  opacity: 1;
}
._1g92bb02:focus-visible::placeholder {
  color: transparent;
}
._1g92bb04 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1ske8ru7);
}
._1g92bb02:focus-visible ~ ._1g92bb04 {
  opacity: 0;
}
._1g92bb05 {
  color: var(--_1ske8ru9);
}
.z6c0my3 {
  border: 1px solid var(--_1ske8rur);
}
.z6c0my5 {
  background-color: var(--_1ske8ruq);
  border-bottom: 1px solid var(--_1ske8rur);
}
.z6c0my8 {
  background-color: var(--_1ske8ruq);
  border-top: 1px solid var(--_1ske8rur);
}
.z6c0myc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .z6c0my6 {
    display: none;
  }
}
