._1doej9z1 {
  justify-content: safe center;
}
._1doej9z4 {
  flex-shrink: 0;
  width: var(--_1doej9z2);
}
._1doej9z4:not(:hover) ._1doej9z7 {
  opacity: 0.8;
}
._1doej9z9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1doej9z4:not(:hover) ._1doej9z9 {
  opacity: 0.3;
}
._1jedrdl1 {
  color: var(--obfcg48);
  font-family: var(--p09czn0);
}
._1jedrdl2 {
  font-size: 36px;
}
._1jedrdl3 {
  font-size: 24px;
}
._1jedrdl4 {
  font-size: 16px;
}
._19038od1 {
  display: flex;
  flex-direction: column;
  gap: var(--_19038od0);
}
._19038od2 {
  --_19038od0: var(--p09czni);
}
._19038od3 {
  --_19038od0: var(--p09cznj);
}
._19038od4 {
  --_19038od0: var(--p09cznk);
}
._19038od5 {
  --_19038od0: var(--p09cznl);
}
._19038od6 {
  --_19038od0: var(--p09cznm);
}
._19038od7 {
  --_19038od0: var(--p09cznn);
}
._19038od8 {
  --_19038od0: var(--p09czno);
}
._19038od9 {
  --_19038od0: var(--p09cznp);
}
._19038oda {
  --_19038od0: var(--p09cznq);
}
._19038odb {
  --_19038od0: var(--p09cznr);
}
.h61fa32 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--h61fa30);
  align-items: var(--h61fa31);
}
.h61fa33 {
  --h61fa30: var(--p09czni);
}
.h61fa34 {
  --h61fa30: var(--p09cznj);
}
.h61fa35 {
  --h61fa30: var(--p09cznk);
}
.h61fa36 {
  --h61fa30: var(--p09cznl);
}
.h61fa37 {
  --h61fa30: var(--p09cznm);
}
.h61fa38 {
  --h61fa30: var(--p09cznn);
}
.h61fa39 {
  --h61fa30: var(--p09czno);
}
.h61fa3a {
  --h61fa30: var(--p09cznp);
}
.h61fa3b {
  --h61fa30: var(--p09cznq);
}
.h61fa3c {
  --h61fa30: var(--p09cznr);
}
.h61fa3d {
  align-items: flex-start;
}
.h61fa3e {
  align-items: center;
}
.h61fa3f {
  align-items: flex-end;
}
._1tf7meq1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--p09cznl) * -1);
}
._1tf7meq1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--p09cznb);
  box-shadow: var(--obfcg4p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--p09czng);
}
._1tf7meq1:focus::before, ._1tf7meq1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1tf7meq4 {
  height: 20px;
  width: 20px;
}
._1tf7meq6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--p09cznj) * 2));
  width: calc(20px - (var(--p09cznj) * 2));
}
._1tf7meq6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--p09czna);
  box-shadow: var(--obfcg4p);
  transition: var(--p09czng);
  opacity: 0;
  transform: scale(0.5);
}
._1tf7meq6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--p09czna);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--obfcg4j);
}
._1tf7meq4:hover:not(:focus) ~ ._1tf7meq6::before, ._1tf7meq4:focus ~ ._1tf7meq6::before {
  opacity: 1;
  transform: scale(1);
}
._1tf7meq6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--p09cznh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1tf7meq4:checked ~ ._1tf7meq6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--p09cznh);
}
._1tf7meq8 {
  color: var(--obfcg48);
  height: var(--p09czne);
  background: var(--obfcg4j);
  border: 1px solid var(--obfcg4n);
}
._1tf7meq8::placeholder {
  color: var(--obfcg47);
}
._1u02aia0 {
  transition: var(--p09czng);
  transform-origin: 50% 50%;
}
._1u02aia1 {
  transform: rotate(90deg);
}
._1u02aia2 {
  transform: rotate(180deg);
}
._1u02aia3 {
  transform: rotate(270deg);
}
.sod8zg4 {
  min-width: 0;
}
.sod8zg5 {
  flex-shrink: 0;
}
.sod8zg9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.sod8zg7:focus:not(:hover) ~ .sod8zg9 {
  opacity: 1;
}
.otp5c71 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--p09czne);
  -webkit-tap-highlight-color: transparent;
}
.otp5c74 {
  --otp5c72: currentColor;
  color: var(--otp5c72);
  border: 1px solid var(--obfcg47);
  height: calc(var(--p09czn8) * 9);
}
.otp5c74:hover {
  --otp5c72: var(--obfcg4c);
  border-color: var(--otp5c72);
}
.otp5c74:active {
  transform: scale(0.98);
}
.otp5c74::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--p09czne);
  min-width: var(--p09czne);
  left: calc((var(--p09czn8) * 2) * -1);
  right: calc((var(--p09czn8) * 2) * -1);
  height: 100%;
  top: 50%;
}
.otp5c74:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--obfcg4p);
}
.otp5c75 {
  --otp5c72: var(--obfcg4d) !important;
  border-color: var(--otp5c72);
}
.otp5c77 {
  top: 1px;
}
._3g0wc01 {
  color: var(--obfcg48);
  height: var(--p09czne);
  background: var(--obfcg4j);
}
._3g0wc01:focus {
  outline: none;
}
._3g0wc01::placeholder {
  color: var(--obfcg47);
}
._1mts2wp5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--obfcg4j);
  -webkit-tap-highlight-color: transparent;
}
._1mts2wp5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--obfcg4l);
  opacity: 0;
  transition: var(--p09cznf);
  pointer-events: none;
}
._1mts2wp5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--p09cznf);
}
._1mts2wp5._1mts2wp0 {
  color: var(--obfcg4d);
}
._1mts2wp5:not(._1mts2wp1) {
  cursor: pointer;
}
._1mts2wp5._1mts2wp1 {
  color: var(--obfcg47);
}
._1mts2wp5._1mts2wp2,._1mts2wp5._1mts2wp3:not(._1mts2wp0):not(._1mts2wp1),html:not([data-playroom-dark]) ._1mts2wp5:hover:not(._1mts2wp0):not(._1mts2wp1) {
  color: var(--obfcg4c);
}
._1mts2wp5:not(._1mts2wp0):not(:hover):focus::before {
  color: var(--obfcg48);
}
._1mts2wp5:not(._1mts2wp0):not(._1mts2wp1):focus::before,._1mts2wp5:not(._1mts2wp0):not(._1mts2wp1):hover::before {
  opacity: 1;
}
._1mts2wp5:not(._1mts2wp3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1mts2wp8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--obfcg4f);
  border: 2px solid var(--obfcg4j);
}
._1mts2wp8:not(._1mts2wp6) {
  transform: scale(0);
  opacity: 0;
}
._1mts2wpa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--obfcg4d);
  border: 2px solid var(--obfcg4j);
}
._1mts2wpa:not(._1mts2wp6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1mts2wpa svg {
  color: var(--obfcg49);
}
._1r7yaet2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--obfcg4n);
}
._1r7yaet4 {
  list-style: none;
  top: 60px;
}
._1r7yaet4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--p09cznl);
  z-index: 1;
}
._1r7yaet4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--p09cznl);
  z-index: 1;
}
._1r7yaet6 {
  scroll-margin-block: var(--p09cznl);
  color: var(--obfcg48);
  background-color: var(--obfcg4j);
}
._1r7yaet6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--obfcg4l);
  border-radius: var(--p09czna);
  opacity: 0;
  pointer-events: none;
}
._1r7yaet8 {
  color: var(--obfcg4a);
}
._1r7yaet9 {
  color: var(--obfcg4c);
}
._1r7yaet9::before {
  opacity: 1;
}
._1tvfn2c2 {
  color: var(--obfcg48);
  min-width: calc(60px + 1px);
}
._1tvfn2c2._1tvfn2c0 {
  width: 100vw;
}
._1tvfn2c6 {
  width: 60px;
  background-color: var(--obfcg4j);
  border-left: 1px solid var(--obfcg4n);
}
._1tvfn2c8 {
  width: 320px;
  background-color: var(--obfcg4j);
  border-left: 1px solid var(--obfcg4n);
}
._1tvfn2c9 {
  opacity: 0;
  transform: translateX(30%);
}
._1tvfn2cb {
  opacity: 1;
  transform: translateX(0);
}
._1tvfn2cc {
  opacity: 1;
  transform: translateX(0);
}
._1tvfn2cd {
  opacity: 1;
}
._1tvfn2cf {
  opacity: 0;
  transform: translateX(30%);
}
._1tvfn2cg {
  opacity: 0;
  transform: translateX(30%);
}
.w5xstk2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.w5xstk4 {
  display: inline-block;
  background: var(--obfcg4i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
.w5xstk6 {
  height: var(--p09czne);
  width: var(--p09czne);
}
.w5xstk8 {
  height: var(--p09czne);
  width: var(--p09czne);
}
.w5xstk8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--obfcg4l);
  border-radius: var(--p09cznb);
  transition: var(--p09czng);
  opacity: 0;
  transform: scale(0.8);
}
.w5xstk6:checked ~ .w5xstk8,html:not([data-playroom-dark]) .w5xstk6:hover ~ .w5xstk8 {
  color: var(--obfcg4c);
}
.w5xstk6:focus ~ .w5xstk8::before, .w5xstk6:hover ~ .w5xstk8::before {
  opacity: 1;
  transform: scale(1);
}
.lj7r125 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--p09czn8) * 5);
  height: calc(var(--p09czn8) * 8);
  max-width: calc((100vw - 60px) - (var(--p09cznd) * 2));
}
.lj7r125.lj7r120 {
  padding-right: calc((15px * 2) + 16px);
}
.lj7r125:not(.lj7r121) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.lj7r125.lj7r122 {
  background-color: var(--obfcg4g);
}
.lj7r125.lj7r123 {
  background-color: var(--obfcg4h);
}
.lj7r127 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.lj7r127:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _1clprhe1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1clprhe0 {
  background-color: var(--obfcg4l);
}
._1clprhe3 {
  background-color: var(--obfcg4h);
  color: var(--obfcg4b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _1clprhe1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1clprhe3:hover {
  cursor: help;
}
._1clprhe4 {
  width: 1em;
  padding: 0 8px;
}
._1clprhe6::after {
  content: "-";
}
._1clprhe8::after {
  content: "+";
  color: var(--obfcg4c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--obfcg4j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--p09czn1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--p09cznd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--obfcg4o);
  border-radius: var(--p09czna);
  background-color: var(--obfcg4j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--p09czn1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--obfcg4i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--p09czn9);
  white-space: pre;
  color: var(--obfcg40);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--obfcg4f);
  color: var(--obfcg49);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--obfcg4c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--p09czn8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--obfcg4j);
  color: var(--obfcg40);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--obfcg48);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--obfcg4j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--obfcg4j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--obfcg4j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--obfcg4l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--obfcg48);
  transition: var(--p09cznh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1clprhe8) {
  color: var(--obfcg47);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--obfcg48);
  transition: var(--p09cznh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--obfcg47);
}
.cm-s-neo .cm-tag {
  color: var(--obfcg41);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--obfcg42);
}
.cm-s-neo .cm-string {
  color: var(--obfcg43);
}
.cm-s-neo .cm-atom {
  color: var(--obfcg44);
}
.cm-s-neo .cm-variable {
  color: var(--obfcg45);
}
.cm-s-neo .cm-number {
  color: var(--obfcg46);
}
.CodeMirror-dialog {
  padding-left: var(--p09czno);
  padding-right: var(--p09czno);
  min-height: 60px;
  border-bottom: 1px solid var(--obfcg4n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1clprhe9));
  transition: var(--p09cznh);
}
.dialog-opened .CodeMirror-scroll {
  --_1clprhe9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1clprhe9);
}
.CodeMirror-dialog input {
  font: var(--p09czn5);
  font-family: var(--p09czn1);
  height: var(--p09czne);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--p09czne);
  font: var(--p09czn5);
  font-family: var(--p09czn1);
}
.CodeMirror-search-field {
  padding-left: var(--p09czno);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--obfcg4m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--obfcg4l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--p09czno);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--p09czn4);
  font-family: var(--p09czn0);
  margin-left: var(--p09cznl);
  padding-top: var(--p09cznl);
  padding-bottom: var(--p09cznl);
  padding-left: var(--p09cznn);
  padding-right: var(--p09cznn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--p09cznb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--obfcg4c);
  box-shadow: var(--obfcg4p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--obfcg4l);
}
.CodeMirror-dialog button:hover {
  background: var(--obfcg4e);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--obfcg4k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._8y7moh3 {
  right: max(var(--_8y7moh2), 460px);
}
._8y7moh4 {
  bottom: max(var(--_8y7moh2), 300px);
}
._8y7moh7 {
  position: absolute !important;
}
._8y7moha {
  max-width: 90vw;
}
._8y7moha._8y7moh8 {
  transform: translateX(100%);
}
._8y7mohc {
  max-height: 90vh;
}
._8y7mohc._8y7moh8 {
  transform: translateY(100%);
}
._8y7mohf._8y7mohd {
  width: 60px;
}
._8y7mohh {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--p09czne);
  height: var(--p09czne);
}
._8y7mohh::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--p09cznb);
  transition: var(--p09cznf);
}
._8y7mohh:not(:hover):not(:focus) {
  opacity: 0.3;
}
._8y7mohh:hover::before, ._8y7mohh:focus::before {
  opacity: 0.05;
}
._8y7mohj {
  right: 60px;
}
