@keyframes nfr2im4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.nfr2im1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1cd1jzg9);
}
.nfr2im3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: nfr2im4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.nfr2im5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._3muwar1 {
  display: flex;
  flex-direction: column;
  gap: var(--_3muwar0);
}
._3muwar2 {
  --_3muwar0: var(--h37yrwg);
}
._3muwar3 {
  --_3muwar0: var(--h37yrwh);
}
._3muwar4 {
  --_3muwar0: var(--h37yrwi);
}
._3muwar5 {
  --_3muwar0: var(--h37yrwj);
}
._3muwar6 {
  --_3muwar0: var(--h37yrwk);
}
._3muwar7 {
  --_3muwar0: var(--h37yrwl);
}
._3muwar8 {
  --_3muwar0: var(--h37yrwm);
}
._3muwar9 {
  --_3muwar0: var(--h37yrwn);
}
._3muwara {
  --_3muwar0: var(--h37yrwo);
}
._3muwarb {
  --_3muwar0: var(--h37yrwp);
}
