.e8oam71 {
  background-color: var(--_99ot7pm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_99ot7ps);
}
.e8oam72::before {
  content: "";
  position: absolute;
  min-height: var(--ceqawcc);
  min-width: var(--ceqawcc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._13jd3dl2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._13jd3dl4 {
  border: 1px solid var(--_99ot7ps);
  background-color: var(--_99ot7pl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._13jd3dl4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_99ot7pn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._13jd3dl4:hover::after {
  opacity: 1;
}
._13jd3dl4:focus-visible::after {
  opacity: 1;
}
._13jd3dl4:active:not([disabled]) {
  transform: scale(0.97);
}
._13jd3dl4:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 0;
}
._13jd3dl6 {
  isolation: isolate;
}
._13jd3dl8 {
  height: var(--_13jd3dl0);
}
._13jd3dla {
  border-color: var(--_99ot7pc);
}
._13jd3dla::after {
  background-color: var(--_99ot7pi);
}
._13jd3dlb {
  border-color: var(--_99ot7pa);
}
._13jd3dlb::after {
  background-color: var(--_99ot7pj);
}
._13jd3dlc {
  --_13jd3dl0: var(--ceqawcq);
}
._13jd3dld {
  --_13jd3dl0: var(--ceqawcr);
}
._13jd3dle {
  --_13jd3dl0: var(--ceqawcs);
}
._1arc42l2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1arc42l0);
  align-items: var(--_1arc42l1);
}
._1arc42l3 {
  flex-wrap: wrap;
}
._1arc42l4 {
  --_1arc42l0: var(--ceqawcg);
}
._1arc42l5 {
  --_1arc42l0: var(--ceqawch);
}
._1arc42l6 {
  --_1arc42l0: var(--ceqawci);
}
._1arc42l7 {
  --_1arc42l0: var(--ceqawcj);
}
._1arc42l8 {
  --_1arc42l0: var(--ceqawck);
}
._1arc42l9 {
  --_1arc42l0: var(--ceqawcl);
}
._1arc42la {
  --_1arc42l0: var(--ceqawcm);
}
._1arc42lb {
  --_1arc42l0: var(--ceqawcn);
}
._1arc42lc {
  --_1arc42l0: var(--ceqawco);
}
._1arc42ld {
  --_1arc42l0: var(--ceqawcp);
}
._1arc42le {
  align-items: flex-start;
}
._1arc42lf {
  align-items: center;
}
._1arc42lg {
  align-items: flex-end;
}
._1vas3kc0 {
  isolation: isolate;
  white-space: nowrap;
}
._1vas3kc1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1vas3kc3 {
    display: none;
  }
}
._78o63z0 {
  color: var(--_99ot7p9);
}
._1tdvg0i1 {
  --_99ot7p7: var(--_99ot7pd);
  background-color: var(--_99ot7po);
  outline: 1px solid var(--_99ot7pu);
  outline-offset: -1px;
}
._1gfi5603 {
  background: transparent;
  outline: none;
  height: var(--_1gfi5600) !important;
  width: var(--_1gfi5600) !important;
}
._1gfi5606 {
  padding: var(--_1gfi5604);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1gfi5603:active ._1gfi5606 {
  transform: scale(.95);
}
._1gfi5603:focus-visible ._1gfi5606 {
  outline: 2px solid var(--_99ot7pv);
}
._1gfi5603[aria-disabled="true"] ._1gfi5606 {
  --_1gfi5601: var(--_99ot7p9);
}
._1gfi5607 {
  --_1gfi5600: var(--ceqawcq);
  --_1gfi5604: var(--ceqawci);
}
._1gfi5608 {
  --_1gfi5600: var(--ceqawcr);
  --_1gfi5604: var(--ceqawcj);
}
._1gfi5609 {
  --_1gfi5600: var(--ceqawcs);
  --_1gfi5604: var(--ceqawcj);
}
._1gfi560j {
  --_1gfi560a: var(--_99ot7p7);
  --_1gfi560b: var(--_99ot7pl);
  --_1gfi560c: var(--_99ot7pn);
  --_1gfi560d: var(--_99ot7p8);
  --_1gfi560e: var(--_99ot7pg);
  --_1gfi560f: var(--_99ot7ph);
  --_1gfi560g: var(--_99ot7p7);
  --_1gfi560h: var(--_99ot7p7);
  --_1gfi560i: var(--_99ot7pn);
}
._1gfi560k {
  --_1gfi560a: var(--_99ot7pb);
  --_1gfi560b: var(--_99ot7pl);
  --_1gfi560c: var(--_99ot7pn);
  --_1gfi560d: var(--_99ot7p8);
  --_1gfi560e: var(--_99ot7pb);
  --_1gfi560f: var(--_99ot7pf);
  --_1gfi560g: var(--_99ot7pb);
  --_1gfi560h: var(--_99ot7p8);
  --_1gfi560i: var(--_99ot7pe);
}
._1gfi560l {
  color: var(--_1gfi560a);
  background-color: var(--_1gfi560b);
  outline: 1px solid var(--_99ot7ps);
  outline-offset: -1px;
}
._1gfi5603:not([aria-disabled="true"]):hover > ._1gfi560l, ._1gfi5603:not([aria-disabled="true"]):focus-visible > ._1gfi560l, ._1gfi5603:not([aria-disabled="true"])[data-popup-open] > ._1gfi560l, ._1gfi5603:not([aria-disabled="true"])[data-active] > ._1gfi560l {
  background-color: var(--_1gfi560c);
}
._1gfi560m {
  color: var(--_1gfi560d);
  background-color: var(--_1gfi560e);
}
._1gfi5603:not([aria-disabled="true"]):hover > ._1gfi560m, ._1gfi5603:not([aria-disabled="true"]):focus-visible > ._1gfi560m, ._1gfi5603:not([aria-disabled="true"])[data-popup-open] > ._1gfi560m, ._1gfi5603:not([aria-disabled="true"])[data-active] > ._1gfi560m {
  background-color: var(--_1gfi560f);
}
._1gfi560n {
  color: var(--_1gfi560g);
}
._1gfi5603:not([aria-disabled="true"]):hover > ._1gfi560n, ._1gfi5603:not([aria-disabled="true"]):focus-visible > ._1gfi560n, ._1gfi5603:not([aria-disabled="true"])[data-popup-open] > ._1gfi560n, ._1gfi5603:not([aria-disabled="true"])[data-active] > ._1gfi560n {
  color: var(--_1gfi560h);
  background-color: var(--_1gfi560i);
}
._1gfi560o {
  margin: calc((var(--_1gfi5604) + 2px) * -1);
}
._1gfi5606 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1eez8sm1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1eez8sm2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1eez8sm2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1eez8sm4 {
  --_1eez8sm3: 30px;
}
._1eez8sm5 {
  --_1eez8sm3: 45px;
}
._1eez8sm6 {
  --_1eez8sm3: 60px;
}
._1eez8sm7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1eez8sm8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1eez8sm9 {
  overflow: auto;
}
._1eez8sme {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1eez8smc, 0)),linear-gradient(to right, transparent 0, black var(--_1eez8sma, 0)),linear-gradient(to left, transparent 0, black var(--_1eez8smb, 0)),linear-gradient(to top, transparent 0, black var(--_1eez8smd, 0));
}
._1eez8smf {
  --_1eez8sma: var(--_1eez8sm3);
}
._1eez8smg {
  --_1eez8smb: var(--_1eez8sm3);
}
._1eez8smh {
  --_1eez8smc: var(--_1eez8sm3);
}
._1eez8smi {
  --_1eez8smd: var(--_1eez8sm3);
}
._1wpbs1a2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1wpbs1a3 {
  width: 250px;
}
._1wpbs1a6 {
  --_1wpbs1a4: var(--_99ot7pn);
  outline: none;
  cursor: default;
  color: var(--_99ot7p7);
  height: 34px;
  isolation: isolate;
}
._1wpbs1a6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--ceqawc8);
  z-index: -1;
}
._1wpbs1a6[data-popup-open]:not([aria-disabled])::before, ._1wpbs1a6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1wpbs1a4);
}
._1wpbs1a6:focus-visible::before {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: -2px;
}
._1wpbs1a6[aria-disabled] {
  color: var(--_99ot7p9);
  cursor: not-allowed;
}
._1wpbs1a7 {
  cursor: pointer;
  text-decoration: none;
}
._1wpbs1a7[aria-disabled] {
  cursor: not-allowed;
}
._1wpbs1a8 {
  margin-left: 3px;
}
._1wpbs1a9 {
  --_1wpbs1a4: var(--_99ot7pj);
  color: var(--_99ot7pa);
}
._1wpbs1aa {
  --_1wpbs1a4: transparent;
  color: var(--_99ot7pc);
}
._1wpbs1aa svg {
  color: var(--_99ot7pc);
}
._1wpbs1ac {
  isolation: isolate;
}
._1wpbs1ag {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1wpbs1ai {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_99ot7p7);
  z-index: 1;
}
[aria-checked="true"] ._1wpbs1ai {
  color: var(--_99ot7p8);
}
._1wpbs1ak {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_99ot7p7);
  isolation: isolate;
}
[aria-checked="true"] ._1wpbs1ak {
  background-color: var(--_99ot7pe);
  border-color: var(--_99ot7pe);
}
._1wpbs1ap {
  height: 34px;
}
._1wpbs1ar {
  height: 1px;
  background-color: var(--_99ot7ps);
}
._1wpbs1at {
  background: transparent;
  border: none;
}
._1wpbs1at:hover, ._1wpbs1at[data-highlighted] {
  background-color: var(--_99ot7pn);
}
._1wpbs1at:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: -2px;
}
._12pg0gf1 {
  justify-content: safe center;
}
._12pg0gf5 {
  flex-shrink: 0;
  width: var(--_12pg0gf2);
}
._12pg0gf5:last-child {
  padding-right: var(--ceqawcn);
}
._12pg0gf6 {
  transition: color 150ms ease;
}
._12pg0gf5:hover ._12pg0gf6, ._12pg0gf5:focus-within ._12pg0gf6, ._12pg0gf3 ._12pg0gf6 {
  color: var(--_99ot7pb);
}
._12pg0gf8 {
  outline: 1px solid var(--_99ot7ps);
}
._12pg0gfa {
  transition: opacity 150ms ease;
}
._12pg0gf5:not(:hover, :focus-within, ._12pg0gf3) ._12pg0gfa {
  opacity: 1;
}
._12pg0gfc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._12pg0gfa:hover ~ ._12pg0gf8 ._12pg0gfc, ._12pg0gfa:focus-within ~ ._12pg0gf8._12pg0gfc {
  outline-color: var(--_99ot7pb);
}
._12pg0gfe {
  transition: opacity 150ms ease;
}
._12pg0gf5:not(:hover, :focus-within, ._12pg0gf3) ._12pg0gfe {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._12pg0gf5:not(:hover, :focus-within, ._12pg0gf3) ._12pg0gfe {
  opacity: 0.6;
}
._1dnxmf91 {
  color: var(--_99ot7p7);
  font-family: var(--ceqawc0);
}
._1dnxmf92 {
  --x1z5fc0: 36px;
  --x1z5fc1: 44px;
  --x1z5fc2: -0.2741em;
  --x1z5fc3: -0.2031em;
}
._1dnxmf93 {
  --x1z5fc0: 20px;
  --x1z5fc1: 28px;
  --x1z5fc2: -0.363em;
  --x1z5fc3: -0.292em;
}
._1dnxmf94 {
  --x1z5fc0: 16px;
  --x1z5fc1: 20px;
  --x1z5fc2: -0.288em;
  --x1z5fc3: -0.217em;
}
.paxsnx1 {
  display: flex;
  flex-direction: column;
  gap: var(--paxsnx0);
}
.paxsnx2 {
  --paxsnx0: var(--ceqawcg);
}
.paxsnx3 {
  --paxsnx0: var(--ceqawch);
}
.paxsnx4 {
  --paxsnx0: var(--ceqawci);
}
.paxsnx5 {
  --paxsnx0: var(--ceqawcj);
}
.paxsnx6 {
  --paxsnx0: var(--ceqawck);
}
.paxsnx7 {
  --paxsnx0: var(--ceqawcl);
}
.paxsnx8 {
  --paxsnx0: var(--ceqawcm);
}
.paxsnx9 {
  --paxsnx0: var(--ceqawcn);
}
.paxsnxa {
  --paxsnx0: var(--ceqawco);
}
.paxsnxb {
  --paxsnx0: var(--ceqawcp);
}
.paxsnxc {
  align-items: flex-start;
}
.paxsnxd {
  align-items: center;
}
.paxsnxe {
  align-items: flex-end;
}
._1d323aq1 {
  backdrop-filter: blur(6px);
}
._1d323aq1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_99ot7pk);
  opacity: 0.4;
}
html[data-playroom-dark] ._1d323aq1::before {
  opacity: 0.7;
}
._1d323aq1[data-starting-style]::before, ._1d323aq1[data-ending-style]::before {
  opacity: 0;
}
._1d323aq3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--ceqawck) * 2));
  max-height: calc(100dvh - (var(--ceqawck) * 2));
}
._1d323aq3[data-starting-style], ._1d323aq3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1d323aq7:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 2px;
}
._1637mop0 {
  width: 200px;
}
._8ty8br1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_99ot7pl);
}
._8ty8br2 {
  width: fit-content;
}
._8ty8br4 {
  width: fit-content;
  justify-self: flex-end;
}
._8ty8br7:not(._8ty8br5) {
  opacity: 0;
  transform: translateX(var(--ceqawcj));
  pointer-events: none;
}
._8ty8br9 {
  background: transparent;
  color: var(--_99ot7pg);
  isolation: isolate;
}
._8ty8br9::after {
  content: "";
  position: absolute;
  transition: var(--ceqawcf);
  z-index: -1;
  inset: calc(var(--ceqawcj) * -1);
  background-color: var(--_99ot7pn);
  border-radius: var(--ceqawc9);
}
._8ty8br9:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 6px;
}
._8ty8br9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._8ty8brb {
  margin: calc(var(--ceqawck) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._8ty8brf {
  appearance: none;
  outline: none;
  background: var(--_99ot7pl);
  color: var(--_99ot7p7);
  border: 1px solid var(--_99ot7ps);
  height: var(--ceqawcr);
}
._8ty8brf:hover, ._8ty8brf[data-popup-open] {
  background-color: var(--_99ot7pn);
}
._8ty8brf:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  z-index: 1;
}
._8ty8brh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._8ty8brj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._8ty8brk {
  color: var(--_99ot7pc);
}
._8ty8brm {
  height: 1px;
  background-color: var(--_99ot7ps);
}
@media screen and (max-width: 767px) {
  ._8ty8br4 {
    display: none;
  }
}
._9zpskt2 {
  flex: 1;
  min-height: 0;
}
._9zpskt5 {
  --_9zpskt3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_9zpskt3), 1fr);
}
._9zpskt7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._9zpskt9 {
  height: calc(100% / var(--_9zpskt0));
  width: calc(100% / var(--_9zpskt0));
  border-radius: calc(var(--ceqawc9) / var(--_9zpskt0));
  transform: scale(var(--_9zpskt0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_9zpskt0));
}
._9zpsktb {
  background: var(--_99ot7pn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._9zpsktd {
  background: transparent;
  outline: 1px solid var(--_99ot7ps);
}
._9zpsktd:hover {
  outline: 2px solid var(--_99ot7pt);
}
._9zpsktd:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 2px;
}
._9zpskth {
  list-style: none;
}
._9zpsktj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_99ot7ps);
}
._9zpsktj:hover {
  outline: 2px solid var(--_99ot7pt);
}
._9zpsktj:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._9zpskt5 {
    --_9zpskt3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._9zpskt5 {
    --_9zpskt3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._9zpskt5 {
    --_9zpskt3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._9zpskt5 {
    --_9zpskt3: 5;
  }
}
._1dxubg51 {
  width: fit-content;
}
._1dxubg53:focus-visible ~ ._1dxubg55 {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 4px;
}
._1dxubg58 {
  min-width: 0;
}
._1dxubg59 {
  flex-shrink: 0;
}
._1xtbq9w2 {
  outline: none;
  height: var(--ceqawcr);
  color: var(--_99ot7p7);
  background: transparent;
}
._1xtbq9w2::placeholder {
  color: var(--_99ot7p9);
  font-weight: strong;
}
._1xtbq9w2:hover:not(:focus-visible), ._1xtbq9w2:hover:not(:focus-visible)::placeholder {
  background: var(--_99ot7pn);
  opacity: 1;
  color: transparent;
}
._1xtbq9w2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1xtbq9w2:focus-visible {
  outline: 2px solid var(--_99ot7pv);
  outline-offset: 0;
  opacity: 1;
}
._1xtbq9w2:focus-visible::placeholder {
  color: transparent;
}
._1xtbq9w4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_99ot7p7);
}
._1xtbq9w2:focus-visible ~ ._1xtbq9w4 {
  opacity: 0;
}
._1xtbq9w5 {
  color: var(--_99ot7p9);
}
._1fbptfn3 {
  border: 1px solid var(--_99ot7ps);
}
._1fbptfn5 {
  background-color: var(--_99ot7pq);
  border-bottom: 1px solid var(--_99ot7ps);
}
._1fbptfn8 {
  background-color: var(--_99ot7pq);
  border-top: 1px solid var(--_99ot7ps);
}
._1fbptfnc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1fbptfn6 {
    display: none;
  }
}
