@keyframes _1acpv174 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1acpv171 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1tjgrcb9);
}
._1acpv173 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1acpv174;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1acpv175 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1jsh7j51 {
  display: flex;
  flex-direction: column;
  gap: var(--_1jsh7j50);
}
._1jsh7j52 {
  --_1jsh7j50: var(--_1vfnns9g);
}
._1jsh7j53 {
  --_1jsh7j50: var(--_1vfnns9h);
}
._1jsh7j54 {
  --_1jsh7j50: var(--_1vfnns9i);
}
._1jsh7j55 {
  --_1jsh7j50: var(--_1vfnns9j);
}
._1jsh7j56 {
  --_1jsh7j50: var(--_1vfnns9k);
}
._1jsh7j57 {
  --_1jsh7j50: var(--_1vfnns9l);
}
._1jsh7j58 {
  --_1jsh7j50: var(--_1vfnns9m);
}
._1jsh7j59 {
  --_1jsh7j50: var(--_1vfnns9n);
}
._1jsh7j5a {
  --_1jsh7j50: var(--_1vfnns9o);
}
._1jsh7j5b {
  --_1jsh7j50: var(--_1vfnns9p);
}
