.spcvgi4:not(:hover) {
  opacity: 0.8;
}
.spcvgi6 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.spcvgi1:not(:hover) .spcvgi6 {
  opacity: 0.3;
}
._4z2a7w1 {
  color: var(--_1boaf208);
  font-family: var(--jwso6l0);
}
._4z2a7w2 {
  font-size: 36px;
}
._4z2a7w3 {
  font-size: 24px;
}
._4z2a7w4 {
  font-size: 16px;
}
._9do4711 {
  display: flex;
  flex-direction: column;
  gap: var(--_9do4710);
}
._9do4712 {
  --_9do4710: var(--jwso6li);
}
._9do4713 {
  --_9do4710: var(--jwso6lj);
}
._9do4714 {
  --_9do4710: var(--jwso6lk);
}
._9do4715 {
  --_9do4710: var(--jwso6ll);
}
._9do4716 {
  --_9do4710: var(--jwso6lm);
}
._9do4717 {
  --_9do4710: var(--jwso6ln);
}
._9do4718 {
  --_9do4710: var(--jwso6lo);
}
._9do4719 {
  --_9do4710: var(--jwso6lp);
}
._9do471a {
  --_9do4710: var(--jwso6lq);
}
._9do471b {
  --_9do4710: var(--jwso6lr);
}
.d9mrt52 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--d9mrt50);
  align-items: var(--d9mrt51);
}
.d9mrt53 {
  --d9mrt50: var(--jwso6li);
}
.d9mrt54 {
  --d9mrt50: var(--jwso6lj);
}
.d9mrt55 {
  --d9mrt50: var(--jwso6lk);
}
.d9mrt56 {
  --d9mrt50: var(--jwso6ll);
}
.d9mrt57 {
  --d9mrt50: var(--jwso6lm);
}
.d9mrt58 {
  --d9mrt50: var(--jwso6ln);
}
.d9mrt59 {
  --d9mrt50: var(--jwso6lo);
}
.d9mrt5a {
  --d9mrt50: var(--jwso6lp);
}
.d9mrt5b {
  --d9mrt50: var(--jwso6lq);
}
.d9mrt5c {
  --d9mrt50: var(--jwso6lr);
}
.d9mrt5d {
  align-items: flex-start;
}
.d9mrt5e {
  align-items: center;
}
.d9mrt5f {
  align-items: flex-end;
}
.vz541d1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--jwso6ll) * -1);
}
.vz541d1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--jwso6lb);
  box-shadow: var(--_1boaf20p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--jwso6lg);
}
.vz541d1:focus::before, .vz541d1:hover::before {
  opacity: 1;
  transform: scale(1);
}
.vz541d4 {
  height: 20px;
  width: 20px;
}
.vz541d6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--jwso6lj) * 2));
  width: calc(20px - (var(--jwso6lj) * 2));
}
.vz541d6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--jwso6la);
  box-shadow: var(--_1boaf20p);
  transition: var(--jwso6lg);
  opacity: 0;
  transform: scale(0.5);
}
.vz541d6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--jwso6la);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1boaf20j);
}
.vz541d4:hover:not(:focus) ~ .vz541d6::before, .vz541d4:focus ~ .vz541d6::before {
  opacity: 1;
  transform: scale(1);
}
.vz541d6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--jwso6lh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.vz541d4:checked ~ .vz541d6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--jwso6lh);
}
.vz541d8 {
  color: var(--_1boaf208);
  height: var(--jwso6le);
  background: var(--_1boaf20j);
  border: 1px solid var(--_1boaf20n);
}
.vz541d8::placeholder {
  color: var(--_1boaf207);
}
._1cfukm40 {
  transition: var(--jwso6lg);
  transform-origin: 50% 50%;
}
._1cfukm41 {
  transform: rotate(90deg);
}
._1cfukm42 {
  transform: rotate(180deg);
}
._1cfukm43 {
  transform: rotate(270deg);
}
._1s9rni14 {
  min-width: 0;
}
._1s9rni15 {
  flex-shrink: 0;
}
._1s9rni19 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1s9rni17:focus:not(:hover) ~ ._1s9rni19 {
  opacity: 1;
}
._1092xz61 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--jwso6le);
  -webkit-tap-highlight-color: transparent;
}
._1092xz64 {
  --_1092xz62: currentColor;
  color: var(--_1092xz62);
  border: 1px solid var(--_1boaf207);
  height: calc(var(--jwso6l8) * 9);
}
._1092xz64:hover {
  --_1092xz62: var(--_1boaf20c);
  border-color: var(--_1092xz62);
}
._1092xz64:active {
  transform: scale(0.98);
}
._1092xz64::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--jwso6le);
  min-width: var(--jwso6le);
  left: calc((var(--jwso6l8) * 2) * -1);
  right: calc((var(--jwso6l8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1092xz64:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1boaf20p);
}
._1092xz65 {
  --_1092xz62: var(--_1boaf20d) !important;
  border-color: var(--_1092xz62);
}
._1092xz67 {
  top: 1px;
}
._1tuqlkr1 {
  color: var(--_1boaf208);
  height: var(--jwso6le);
  background: var(--_1boaf20j);
}
._1tuqlkr1:focus {
  outline: none;
}
._1tuqlkr1::placeholder {
  color: var(--_1boaf207);
}
._1w78nm85 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1boaf20j);
  -webkit-tap-highlight-color: transparent;
}
._1w78nm85::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1boaf20l);
  opacity: 0;
  transition: var(--jwso6lf);
  pointer-events: none;
}
._1w78nm85::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--jwso6lf);
}
._1w78nm85._1w78nm80 {
  color: var(--_1boaf20d);
}
._1w78nm85:not(._1w78nm81) {
  cursor: pointer;
}
._1w78nm85._1w78nm81 {
  color: var(--_1boaf207);
}
._1w78nm85._1w78nm82,._1w78nm85._1w78nm83:not(._1w78nm80):not(._1w78nm81),html:not([data-playroom-dark]) ._1w78nm85:hover:not(._1w78nm80):not(._1w78nm81) {
  color: var(--_1boaf20c);
}
._1w78nm85:not(._1w78nm80):not(:hover):focus::before {
  color: var(--_1boaf208);
}
._1w78nm85:not(._1w78nm80):not(._1w78nm81):focus::before,._1w78nm85:not(._1w78nm80):not(._1w78nm81):hover::before {
  opacity: 1;
}
._1w78nm85:not(._1w78nm83)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1w78nm88 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1boaf20f);
  border: 2px solid var(--_1boaf20j);
}
._1w78nm88:not(._1w78nm86) {
  transform: scale(0);
  opacity: 0;
}
._1w78nm8a {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1boaf20d);
  border: 2px solid var(--_1boaf20j);
}
._1w78nm8a:not(._1w78nm86) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1w78nm8a svg {
  color: var(--_1boaf209);
}
.plhpkc2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1boaf20n);
}
.plhpkc4 {
  list-style: none;
  top: 60px;
}
.plhpkc4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--jwso6ll);
  z-index: 1;
}
.plhpkc4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--jwso6ll);
  z-index: 1;
}
.plhpkc6 {
  scroll-margin-block: var(--jwso6ll);
  color: var(--_1boaf208);
  background-color: var(--_1boaf20j);
}
.plhpkc6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1boaf20l);
  border-radius: var(--jwso6la);
  opacity: 0;
  pointer-events: none;
}
.plhpkc8 {
  color: var(--_1boaf20a);
}
.plhpkc9 {
  color: var(--_1boaf20c);
}
.plhpkc9::before {
  opacity: 1;
}
.axub1j2 {
  color: var(--_1boaf208);
  min-width: calc(60px + 1px);
}
.axub1j2.axub1j0 {
  width: 100vw;
}
.axub1j6 {
  width: 60px;
  background-color: var(--_1boaf20j);
  border-left: 1px solid var(--_1boaf20n);
}
.axub1j8 {
  width: 320px;
  background-color: var(--_1boaf20j);
  border-left: 1px solid var(--_1boaf20n);
}
.axub1j9 {
  opacity: 0;
  transform: translateX(30%);
}
.axub1jb {
  opacity: 1;
  transform: translateX(0);
}
.axub1jc {
  opacity: 1;
  transform: translateX(0);
}
.axub1jd {
  opacity: 1;
}
.axub1jf {
  opacity: 0;
  transform: translateX(30%);
}
.axub1jg {
  opacity: 0;
  transform: translateX(30%);
}
._1svi35g2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1svi35g4 {
  display: inline-block;
  background: var(--_1boaf20i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1svi35g6 {
  height: var(--jwso6le);
  width: var(--jwso6le);
}
._1svi35g8 {
  height: var(--jwso6le);
  width: var(--jwso6le);
}
._1svi35g8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1boaf20l);
  border-radius: var(--jwso6lb);
  transition: var(--jwso6lg);
  opacity: 0;
  transform: scale(0.8);
}
._1svi35g6:checked ~ ._1svi35g8,html:not([data-playroom-dark]) ._1svi35g6:hover ~ ._1svi35g8 {
  color: var(--_1boaf20c);
}
._1svi35g6:focus ~ ._1svi35g8::before, ._1svi35g6:hover ~ ._1svi35g8::before {
  opacity: 1;
  transform: scale(1);
}
._1k0o2oq5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--jwso6l8) * 5);
  height: calc(var(--jwso6l8) * 8);
  max-width: calc((100vw - 60px) - (var(--jwso6ld) * 2));
}
._1k0o2oq5._1k0o2oq0 {
  padding-right: calc((15px * 2) + 16px);
}
._1k0o2oq5:not(._1k0o2oq1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1k0o2oq5._1k0o2oq2 {
  background-color: var(--_1boaf20g);
}
._1k0o2oq5._1k0o2oq3 {
  background-color: var(--_1boaf20h);
}
._1k0o2oq7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1k0o2oq7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _1nmx55b1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1nmx55b0 {
  background-color: var(--_1boaf20l);
}
._1nmx55b3 {
  background-color: var(--_1boaf20h);
  color: var(--_1boaf20b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _1nmx55b1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1nmx55b3:hover {
  cursor: help;
}
._1nmx55b4 {
  width: 1em;
  padding: 0 8px;
}
._1nmx55b6::after {
  content: "-";
}
._1nmx55b8::after {
  content: "+";
  color: var(--_1boaf20c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1boaf20j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--jwso6l1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--jwso6ld);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1boaf20o);
  border-radius: var(--jwso6la);
  background-color: var(--_1boaf20j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--jwso6l1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1boaf20i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--jwso6l9);
  white-space: pre;
  color: var(--_1boaf200);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1boaf20f);
  color: var(--_1boaf209);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1boaf20c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--jwso6l8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1boaf20j);
  color: var(--_1boaf200);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1boaf208);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1boaf20j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1boaf20j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1boaf20j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1boaf20l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1boaf208);
  transition: var(--jwso6lh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1nmx55b8) {
  color: var(--_1boaf207);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1boaf208);
  transition: var(--jwso6lh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1boaf207);
}
.cm-s-neo .cm-tag {
  color: var(--_1boaf201);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1boaf202);
}
.cm-s-neo .cm-string {
  color: var(--_1boaf203);
}
.cm-s-neo .cm-atom {
  color: var(--_1boaf204);
}
.cm-s-neo .cm-variable {
  color: var(--_1boaf205);
}
.cm-s-neo .cm-number {
  color: var(--_1boaf206);
}
.CodeMirror-dialog {
  padding-left: var(--jwso6lo);
  padding-right: var(--jwso6lo);
  min-height: 60px;
  border-bottom: 1px solid var(--_1boaf20n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1nmx55b9));
  transition: var(--jwso6lh);
}
.dialog-opened .CodeMirror-scroll {
  --_1nmx55b9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1nmx55b9);
}
.CodeMirror-dialog input {
  font: var(--jwso6l5);
  font-family: var(--jwso6l1);
  height: var(--jwso6le);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--jwso6le);
  font: var(--jwso6l5);
  font-family: var(--jwso6l1);
}
.CodeMirror-search-field {
  padding-left: var(--jwso6lo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1boaf20m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1boaf20l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--jwso6lo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--jwso6l4);
  font-family: var(--jwso6l0);
  margin-left: var(--jwso6ll);
  padding-top: var(--jwso6ll);
  padding-bottom: var(--jwso6ll);
  padding-left: var(--jwso6ln);
  padding-right: var(--jwso6ln);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--jwso6lb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1boaf20c);
  box-shadow: var(--_1boaf20p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1boaf20l);
}
.CodeMirror-dialog button:hover {
  background: var(--_1boaf20e);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1boaf20k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.uvzmrk3 {
  right: max(var(--uvzmrk2), 460px);
}
.uvzmrk4 {
  bottom: max(var(--uvzmrk2), 300px);
}
.uvzmrk7 {
  position: absolute !important;
}
.uvzmrka {
  max-width: 90vw;
}
.uvzmrka.uvzmrk8 {
  transform: translateX(100%);
}
.uvzmrkc {
  max-height: 90vh;
}
.uvzmrkc.uvzmrk8 {
  transform: translateY(100%);
}
.uvzmrkf.uvzmrkd {
  width: 60px;
}
.uvzmrkh {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--jwso6le);
  height: var(--jwso6le);
}
.uvzmrkh::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--jwso6lb);
  transition: var(--jwso6lf);
}
.uvzmrkh:not(:hover):not(:focus) {
  opacity: 0.3;
}
.uvzmrkh:hover::before, .uvzmrkh:focus::before {
  opacity: 0.05;
}
.uvzmrkj {
  right: 60px;
}
