._1gxf1mt1 {
  background-color: var(--_13qt7al);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_13qt7ao);
}
._1gxf1mt2::before {
  content: "";
  position: absolute;
  min-height: var(--_9lf2slc);
  min-width: var(--_9lf2slc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1actqov2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1actqov4 {
  border: 1px solid var(--_13qt7ao);
  background-color: var(--_13qt7ak);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1actqov4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_13qt7am);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1actqov4:hover::after {
  opacity: 1;
}
._1actqov4:focus-visible::after {
  opacity: 1;
}
._1actqov4:active:not([disabled]) {
  transform: scale(0.97);
}
._1actqov4:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: 0;
}
._1actqov6 {
  height: var(--_1actqov0);
}
._1actqov8 {
  border-color: var(--_13qt7ac);
}
._1actqov8::after {
  background-color: var(--_13qt7ah);
}
._1actqov9 {
  border-color: var(--_13qt7aa);
}
._1actqov9::after {
  background-color: var(--_13qt7ai);
}
._1actqova {
  --_1actqov0: var(--_9lf2slq);
}
._1actqovb {
  --_1actqov0: var(--_9lf2slr);
}
._1actqovc {
  --_1actqov0: var(--_9lf2sls);
}
._1qav9ig1 {
  --_13qt7a7: var(--_13qt7ad);
  background-color: var(--_13qt7an);
  outline: 1px solid var(--_13qt7aq);
  outline-offset: -1px;
}
._1tecqxx3 {
  background: transparent;
  outline: none;
  height: var(--_1tecqxx0);
  width: var(--_1tecqxx0);
}
._1tecqxx6 {
  padding: var(--_1tecqxx4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1tecqxx1);
  isolation: isolate;
}
._1tecqxx3[data-pressed] ._1tecqxx6, ._1tecqxx3:active ._1tecqxx6 {
  transform: scale(.95);
}
._1tecqxx3:focus-visible ._1tecqxx6 {
  outline: 2px solid var(--_13qt7ar);
}
._1tecqxx7 {
  --_1tecqxx0: var(--_9lf2slq);
  --_1tecqxx4: 6px;
}
._1tecqxx8 {
  --_1tecqxx0: var(--_9lf2slr);
  --_1tecqxx4: var(--_9lf2slj);
}
._1tecqxx9 {
  --_1tecqxx0: var(--_9lf2sls);
  --_1tecqxx4: var(--_9lf2slj);
}
._1tecqxxa {
  --_1tecqxx1: var(--_13qt7a7);
}
._1tecqxxb {
  --_1tecqxx1: var(--_13qt7ab);
}
._1tecqxxc {
  --_1tecqxx1: var(--_13qt7ac);
}
._1tecqxxd {
  background-color: var(--_13qt7ak);
  outline: 1px solid var(--_13qt7ao);
  outline-offset: -1px;
}
._1tecqxxd:hover, [data-popup-open] > ._1tecqxxd {
  background-color: var(--_13qt7am);
}
._1tecqxxe {
  --_1tecqxx1: var(--_13qt7a8);
  background-color: var(--_13qt7af);
}
._1tecqxxe:hover, [data-popup-open] > ._1tecqxxe {
  background-color: var(--_13qt7ag);
}
._1tecqxxf:hover, [data-popup-open] > ._1tecqxxf {
  background-color: var(--_13qt7am);
}
._1tecqxxg {
  margin: calc((var(--_1tecqxx4) + 2px) * -1);
}
._1tecqxx6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.rp4h0k0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .rp4h0k1 {
    display: none;
  }
}
._1cas1lz1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1cas1lz2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1cas1lz2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1cas1lz4 {
  --_1cas1lz3: 30px;
}
._1cas1lz5 {
  --_1cas1lz3: 45px;
}
._1cas1lz6 {
  --_1cas1lz3: 60px;
}
._1cas1lz7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1cas1lz8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1cas1lz9 {
  overflow: auto;
}
._1cas1lze {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1cas1lzc, 0)),linear-gradient(to right, transparent 0, black var(--_1cas1lza, 0)),linear-gradient(to left, transparent 0, black var(--_1cas1lzb, 0)),linear-gradient(to top, transparent 0, black var(--_1cas1lzd, 0));
}
._1cas1lzf {
  --_1cas1lza: var(--_1cas1lz3);
}
._1cas1lzg {
  --_1cas1lzb: var(--_1cas1lz3);
}
._1cas1lzh {
  --_1cas1lzc: var(--_1cas1lz3);
}
._1cas1lzi {
  --_1cas1lzd: var(--_1cas1lz3);
}
._1q8zvoe0 {
  transition: var(--_9lf2sle);
  transform-origin: 50% 50%;
}
._1q8zvoe1 {
  transform: rotate(90deg);
}
._1q8zvoe2 {
  transform: rotate(180deg);
}
._1q8zvoe3 {
  transform: rotate(270deg);
}
._1ypz3lj2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1ypz3lj3 {
  width: 250px;
}
._1ypz3lj6 {
  --_1ypz3lj4: var(--_13qt7am);
  outline: none;
  cursor: default;
  color: var(--_13qt7a7);
  height: 34px;
}
._1ypz3lj6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_9lf2sl8);
}
._1ypz3lj6[data-popup-open]:not([aria-disabled])::before, ._1ypz3lj6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1ypz3lj4);
}
._1ypz3lj6:focus-visible::before {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: -2px;
}
._1ypz3lj6[aria-disabled] {
  color: var(--_13qt7a9);
  cursor: not-allowed;
}
._1ypz3lj7 {
  cursor: pointer;
  text-decoration: none;
}
._1ypz3lj7[aria-disabled] {
  cursor: not-allowed;
}
._1ypz3lj8 {
  --_1ypz3lj4: var(--_13qt7ai);
  color: var(--_13qt7aa);
}
._1ypz3lj9 {
  --_1ypz3lj4: transparent;
  color: var(--_13qt7ac);
}
._1ypz3lj9 svg {
  color: var(--_13qt7ac);
}
._1ypz3ljb {
  isolation: isolate;
}
._1ypz3ljf {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1ypz3ljh {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_13qt7a7);
  z-index: 1;
}
[aria-checked="true"] ._1ypz3ljh {
  color: var(--_13qt7a8);
}
._1ypz3ljj {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_13qt7a7);
  isolation: isolate;
}
[aria-checked="true"] ._1ypz3ljj {
  background-color: var(--_13qt7ae);
  border-color: var(--_13qt7ae);
}
._1ypz3ljm {
  height: 1px;
  background-color: var(--_13qt7ao);
}
._1ypz3ljn {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1ypz3ljp {
  background: transparent;
  border: none;
  margin: calc(var(--_9lf2slj) * -1);
}
._1ypz3ljp:hover, ._1ypz3ljp[data-highlighted] {
  background-color: var(--_13qt7am);
}
._1ypz3ljp:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: -2px;
}
.mk6i372 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_9lf2sl8);
  color: var(--mk6i370);
  isolation: isolate;
  outline: none;
}
.mk6i372[data-pressed], .mk6i372:active {
  transform: scale(.95);
}
.mk6i372::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_9lf2sli) * -1);
  background-color: var(--mk6i370);
  border-radius: var(--_9lf2sl8);
}
.mk6i372:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.mk6i372:hover, .mk6i372[data-popup-open]:not(:focus-visible) {
  color: var(--_13qt7a8);
}
.mk6i372:focus-visible::after {
  outline: 2px solid var(--_13qt7ar);
}
.mk6i372:focus-visible:not(:hover)::after {
  background: transparent;
}
.mk6i373 {
  --mk6i370: var(--_13qt7ab);
}
.mk6i374 {
  --mk6i370: var(--_13qt7ac);
}
.mk6i372 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1n0qt391 {
  justify-content: safe center;
}
._1n0qt395 {
  flex-shrink: 0;
  width: var(--_1n0qt392);
}
._1n0qt396 {
  transition: color 150ms ease;
}
._1n0qt395:hover ._1n0qt396, ._1n0qt395:focus-within ._1n0qt396, ._1n0qt393 ._1n0qt396 {
  color: var(--_13qt7ab);
}
._1n0qt398 {
  outline: 1px solid var(--_13qt7ao);
}
._1n0qt39a {
  transition: opacity 150ms ease;
}
._1n0qt395:not(:hover, :focus-within, ._1n0qt393) ._1n0qt39a {
  opacity: 1;
}
._1n0qt39c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1n0qt39a:hover ~ ._1n0qt398 ._1n0qt39c, ._1n0qt39a:focus-within ~ ._1n0qt398._1n0qt39c {
  outline-color: var(--_13qt7ab);
}
._1n0qt39e {
  transition: opacity 150ms ease;
}
._1n0qt395:not(:hover, :focus-within, ._1n0qt393) ._1n0qt39e {
  opacity: 0;
}
._144zu7k1 {
  color: var(--_13qt7a7);
  font-family: var(--_9lf2sl0);
}
._144zu7k2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._144zu7k3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
._144zu7k4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.wc1ebt1 {
  display: flex;
  flex-direction: column;
  gap: var(--wc1ebt0);
}
.wc1ebt2 {
  --wc1ebt0: var(--_9lf2slg);
}
.wc1ebt3 {
  --wc1ebt0: var(--_9lf2slh);
}
.wc1ebt4 {
  --wc1ebt0: var(--_9lf2sli);
}
.wc1ebt5 {
  --wc1ebt0: var(--_9lf2slj);
}
.wc1ebt6 {
  --wc1ebt0: var(--_9lf2slk);
}
.wc1ebt7 {
  --wc1ebt0: var(--_9lf2sll);
}
.wc1ebt8 {
  --wc1ebt0: var(--_9lf2slm);
}
.wc1ebt9 {
  --wc1ebt0: var(--_9lf2sln);
}
.wc1ebta {
  --wc1ebt0: var(--_9lf2slo);
}
.wc1ebtb {
  --wc1ebt0: var(--_9lf2slp);
}
.srfkgz1 {
  backdrop-filter: blur(6px);
}
.srfkgz1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_13qt7aj);
  opacity: 0.4;
}
html[data-playroom-dark] .srfkgz1::before {
  opacity: 0.7;
}
.srfkgz1[data-starting-style]::before, .srfkgz1[data-ending-style]::before {
  opacity: 0;
}
.srfkgz3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_9lf2slk) * 2));
  max-height: calc(100dvh - (var(--_9lf2slk) * 2));
}
.srfkgz3[data-starting-style], .srfkgz3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.srfkgz7:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: 2px;
}
._1x7yhky2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1x7yhky0);
  align-items: var(--_1x7yhky1);
}
._1x7yhky3 {
  flex-wrap: wrap;
}
._1x7yhky4 {
  --_1x7yhky0: var(--_9lf2slg);
}
._1x7yhky5 {
  --_1x7yhky0: var(--_9lf2slh);
}
._1x7yhky6 {
  --_1x7yhky0: var(--_9lf2sli);
}
._1x7yhky7 {
  --_1x7yhky0: var(--_9lf2slj);
}
._1x7yhky8 {
  --_1x7yhky0: var(--_9lf2slk);
}
._1x7yhky9 {
  --_1x7yhky0: var(--_9lf2sll);
}
._1x7yhkya {
  --_1x7yhky0: var(--_9lf2slm);
}
._1x7yhkyb {
  --_1x7yhky0: var(--_9lf2sln);
}
._1x7yhkyc {
  --_1x7yhky0: var(--_9lf2slo);
}
._1x7yhkyd {
  --_1x7yhky0: var(--_9lf2slp);
}
._1x7yhkye {
  align-items: flex-start;
}
._1x7yhkyf {
  align-items: center;
}
._1x7yhkyg {
  align-items: flex-end;
}
.k8r4ia3 {
  --k8r4ia1: 1;
  display: grid;
  grid-template-columns: repeat(var(--k8r4ia1), 1fr);
}
.k8r4ia5 {
  aspect-ratio: 5/4;
  list-style: none;
}
.k8r4ia7 {
  height: calc(100% / var(--k8r4ia0));
  width: calc(100% / var(--k8r4ia0));
  border-radius: calc(var(--_9lf2sl9) / var(--k8r4ia0));
  transform: scale(var(--k8r4ia0));
  transform-origin: 0 0;
  padding: calc(1px / var(--k8r4ia0));
}
.k8r4ia9 {
  background: var(--_13qt7am);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.k8r4iab {
  background: transparent;
  outline: 1px solid var(--_13qt7ao);
}
.k8r4iab:hover {
  outline: 2px solid var(--_13qt7ap);
}
.k8r4iab:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .k8r4ia3 {
    --k8r4ia1: 2;
  }
}
@media screen and (min-width: 800px) {
  .k8r4ia3 {
    --k8r4ia1: 3;
  }
}
@media screen and (min-width: 1200px) {
  .k8r4ia3 {
    --k8r4ia1: 4;
  }
}
@media screen and (min-width: 1600px) {
  .k8r4ia3 {
    --k8r4ia1: 5;
  }
}
._1ej86z21 {
  width: fit-content;
}
._1ej86z23:focus-visible ~ ._1ej86z25 {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: 4px;
}
._1ej86z28 {
  min-width: 0;
}
._1ej86z29 {
  flex-shrink: 0;
}
._1cxtfnu2 {
  outline: none;
  height: var(--_9lf2slr);
  color: var(--_13qt7a7);
  background: transparent;
}
._1cxtfnu2::placeholder {
  color: var(--_13qt7a9);
  font-weight: normal;
}
._1cxtfnu2:hover:not(:focus-visible) {
  background: var(--_13qt7am);
  opacity: 1;
  color: transparent;
}
._1cxtfnu2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1cxtfnu2:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  opacity: 1;
}
._1cxtfnu2:focus-visible::placeholder {
  color: transparent;
}
._1cxtfnu4 {
  max-width: 50vw;
  min-width: 240px;
}
._1cxtfnu2:focus-visible ~ ._1cxtfnu4 {
  opacity: 0;
}
._1cxtfnu5 {
  white-space: pre;
}
.a9b8cx1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_13qt7ak);
}
.a9b8cx2 {
  width: fit-content;
}
.a9b8cx4 {
  width: fit-content;
  justify-self: flex-end;
}
.a9b8cx7:not(.a9b8cx5) {
  opacity: 0;
  transform: translateX(var(--_9lf2slj));
  pointer-events: none;
}
.a9b8cx9 {
  background: transparent;
  color: var(--_13qt7af);
  isolation: isolate;
}
.a9b8cx9::after {
  content: "";
  position: absolute;
  transition: var(--_9lf2slf);
  z-index: -1;
  inset: calc(var(--_9lf2slj) * -1);
  background-color: var(--_13qt7am);
  border-radius: var(--_9lf2sl9);
}
.a9b8cx9:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  outline-offset: 6px;
}
.a9b8cx9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.a9b8cxb {
  margin: calc(var(--_9lf2slk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.a9b8cxf {
  appearance: none;
  outline: none;
  background: var(--_13qt7ak);
  color: var(--_13qt7a7);
  border: 1px solid var(--_13qt7ao);
  height: var(--_9lf2slr);
}
.a9b8cxf:hover, .a9b8cxf[data-popup-open] {
  background-color: var(--_13qt7am);
}
.a9b8cxf:focus-visible {
  outline: 2px solid var(--_13qt7ar);
  z-index: 1;
}
.a9b8cxh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.a9b8cxj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.a9b8cxk {
  color: var(--_13qt7ac);
}
.a9b8cxm {
  height: 1px;
  background-color: var(--_13qt7ao);
}
@media screen and (max-width: 767px) {
  .a9b8cx4 {
    display: none;
  }
}
._1yri5992 {
  border: 1px solid var(--_13qt7ao);
  border-radius: var(--_9lf2sl9);
}
._1yri5994 {
  border-bottom: 1px solid var(--_13qt7ao);
  gap: 12px;
}
._1yri5997 {
  border-top: 1px solid var(--_13qt7ao);
  gap: 12px;
}
._1yri599b {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1yri5995 {
    display: none;
  }
}
