._1bym9ap1 {
  justify-content: safe center;
}
._1bym9ap4 {
  flex-shrink: 0;
  width: var(--_1bym9ap2);
}
._1bym9ap4:not(:hover) ._1bym9ap7 {
  opacity: 0.8;
}
._1bym9ap9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1bym9ap4:not(:hover) ._1bym9ap9 {
  opacity: 0.3;
}
._9x1huh1 {
  color: var(--_171ow9b8);
  font-family: var(--ox9msr0);
}
._9x1huh2 {
  font-size: 36px;
}
._9x1huh3 {
  font-size: 24px;
}
._9x1huh4 {
  font-size: 16px;
}
._1mzczp81 {
  display: flex;
  flex-direction: column;
  gap: var(--_1mzczp80);
}
._1mzczp82 {
  --_1mzczp80: var(--ox9msri);
}
._1mzczp83 {
  --_1mzczp80: var(--ox9msrj);
}
._1mzczp84 {
  --_1mzczp80: var(--ox9msrk);
}
._1mzczp85 {
  --_1mzczp80: var(--ox9msrl);
}
._1mzczp86 {
  --_1mzczp80: var(--ox9msrm);
}
._1mzczp87 {
  --_1mzczp80: var(--ox9msrn);
}
._1mzczp88 {
  --_1mzczp80: var(--ox9msro);
}
._1mzczp89 {
  --_1mzczp80: var(--ox9msrp);
}
._1mzczp8a {
  --_1mzczp80: var(--ox9msrq);
}
._1mzczp8b {
  --_1mzczp80: var(--ox9msrr);
}
.w3is3z2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--w3is3z0);
  align-items: var(--w3is3z1);
}
.w3is3z3 {
  --w3is3z0: var(--ox9msri);
}
.w3is3z4 {
  --w3is3z0: var(--ox9msrj);
}
.w3is3z5 {
  --w3is3z0: var(--ox9msrk);
}
.w3is3z6 {
  --w3is3z0: var(--ox9msrl);
}
.w3is3z7 {
  --w3is3z0: var(--ox9msrm);
}
.w3is3z8 {
  --w3is3z0: var(--ox9msrn);
}
.w3is3z9 {
  --w3is3z0: var(--ox9msro);
}
.w3is3za {
  --w3is3z0: var(--ox9msrp);
}
.w3is3zb {
  --w3is3z0: var(--ox9msrq);
}
.w3is3zc {
  --w3is3z0: var(--ox9msrr);
}
.w3is3zd {
  align-items: flex-start;
}
.w3is3ze {
  align-items: center;
}
.w3is3zf {
  align-items: flex-end;
}
.r8mkjt1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--ox9msrl) * -1);
}
.r8mkjt1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ox9msrb);
  box-shadow: var(--_171ow9bp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--ox9msrg);
}
.r8mkjt1:focus::before, .r8mkjt1:hover::before {
  opacity: 1;
  transform: scale(1);
}
.r8mkjt4 {
  height: 20px;
  width: 20px;
}
.r8mkjt6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--ox9msrj) * 2));
  width: calc(20px - (var(--ox9msrj) * 2));
}
.r8mkjt6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ox9msra);
  box-shadow: var(--_171ow9bp);
  transition: var(--ox9msrg);
  opacity: 0;
  transform: scale(0.5);
}
.r8mkjt6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--ox9msra);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_171ow9bj);
}
.r8mkjt4:hover:not(:focus) ~ .r8mkjt6::before, .r8mkjt4:focus ~ .r8mkjt6::before {
  opacity: 1;
  transform: scale(1);
}
.r8mkjt6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--ox9msrh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.r8mkjt4:checked ~ .r8mkjt6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--ox9msrh);
}
.r8mkjt8 {
  color: var(--_171ow9b8);
  height: var(--ox9msre);
  background: var(--_171ow9bj);
  border: 1px solid var(--_171ow9bn);
}
.r8mkjt8::placeholder {
  color: var(--_171ow9b7);
}
._1kaaq5j0 {
  transition: var(--ox9msrg);
  transform-origin: 50% 50%;
}
._1kaaq5j1 {
  transform: rotate(90deg);
}
._1kaaq5j2 {
  transform: rotate(180deg);
}
._1kaaq5j3 {
  transform: rotate(270deg);
}
.jzeoyu4 {
  min-width: 0;
}
.jzeoyu5 {
  flex-shrink: 0;
}
.jzeoyu9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.jzeoyu7:focus:not(:hover) ~ .jzeoyu9 {
  opacity: 1;
}
._1dblswa1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--ox9msre);
  -webkit-tap-highlight-color: transparent;
}
._1dblswa4 {
  --_1dblswa2: currentColor;
  color: var(--_1dblswa2);
  border: 1px solid var(--_171ow9b7);
  height: calc(var(--ox9msr8) * 9);
}
._1dblswa4:hover {
  --_1dblswa2: var(--_171ow9bc);
  border-color: var(--_1dblswa2);
}
._1dblswa4:active {
  transform: scale(0.98);
}
._1dblswa4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--ox9msre);
  min-width: var(--ox9msre);
  left: calc((var(--ox9msr8) * 2) * -1);
  right: calc((var(--ox9msr8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1dblswa4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_171ow9bp);
}
._1dblswa5 {
  --_1dblswa2: var(--_171ow9bd) !important;
  border-color: var(--_1dblswa2);
}
._1dblswa7 {
  top: 1px;
}
._1xa8dom1 {
  color: var(--_171ow9b8);
  height: var(--ox9msre);
  background: var(--_171ow9bj);
}
._1xa8dom1:focus {
  outline: none;
}
._1xa8dom1::placeholder {
  color: var(--_171ow9b7);
}
._8n25jm5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_171ow9bj);
  -webkit-tap-highlight-color: transparent;
}
._8n25jm5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_171ow9bl);
  opacity: 0;
  transition: var(--ox9msrf);
  pointer-events: none;
}
._8n25jm5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--ox9msrf);
}
._8n25jm5._8n25jm0 {
  color: var(--_171ow9bd);
}
._8n25jm5:not(._8n25jm1) {
  cursor: pointer;
}
._8n25jm5._8n25jm1 {
  color: var(--_171ow9b7);
}
._8n25jm5._8n25jm2,._8n25jm5._8n25jm3:not(._8n25jm0):not(._8n25jm1),html:not([data-playroom-dark]) ._8n25jm5:hover:not(._8n25jm0):not(._8n25jm1) {
  color: var(--_171ow9bc);
}
._8n25jm5:not(._8n25jm0):not(:hover):focus::before {
  color: var(--_171ow9b8);
}
._8n25jm5:not(._8n25jm0):not(._8n25jm1):focus::before,._8n25jm5:not(._8n25jm0):not(._8n25jm1):hover::before {
  opacity: 1;
}
._8n25jm5:not(._8n25jm3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._8n25jm8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_171ow9bf);
  border: 2px solid var(--_171ow9bj);
}
._8n25jm8:not(._8n25jm6) {
  transform: scale(0);
  opacity: 0;
}
._8n25jma {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_171ow9bd);
  border: 2px solid var(--_171ow9bj);
}
._8n25jma:not(._8n25jm6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._8n25jma svg {
  color: var(--_171ow9b9);
}
._17t6um02 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_171ow9bn);
}
._17t6um04 {
  list-style: none;
  top: 60px;
}
._17t6um04::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--ox9msrl);
  z-index: 1;
}
._17t6um04::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--ox9msrl);
  z-index: 1;
}
._17t6um06 {
  scroll-margin-block: var(--ox9msrl);
  color: var(--_171ow9b8);
  background-color: var(--_171ow9bj);
}
._17t6um06::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_171ow9bl);
  border-radius: var(--ox9msra);
  opacity: 0;
  pointer-events: none;
}
._17t6um08 {
  color: var(--_171ow9ba);
}
._17t6um09 {
  color: var(--_171ow9bc);
}
._17t6um09::before {
  opacity: 1;
}
.q0ngay2 {
  color: var(--_171ow9b8);
  min-width: calc(60px + 1px);
}
.q0ngay2.q0ngay0 {
  width: 100vw;
}
.q0ngay6 {
  width: 60px;
  background-color: var(--_171ow9bj);
  border-left: 1px solid var(--_171ow9bn);
}
.q0ngay8 {
  width: 320px;
  background-color: var(--_171ow9bj);
  border-left: 1px solid var(--_171ow9bn);
}
.q0ngay9 {
  opacity: 0;
  transform: translateX(30%);
}
.q0ngayb {
  opacity: 1;
  transform: translateX(0);
}
.q0ngayc {
  opacity: 1;
  transform: translateX(0);
}
.q0ngayd {
  opacity: 1;
}
.q0ngayf {
  opacity: 0;
  transform: translateX(30%);
}
.q0ngayg {
  opacity: 0;
  transform: translateX(30%);
}
.y97eob2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.y97eob4 {
  display: inline-block;
  background: var(--_171ow9bi);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
.y97eob6 {
  height: var(--ox9msre);
  width: var(--ox9msre);
}
.y97eob8 {
  height: var(--ox9msre);
  width: var(--ox9msre);
}
.y97eob8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_171ow9bl);
  border-radius: var(--ox9msrb);
  transition: var(--ox9msrg);
  opacity: 0;
  transform: scale(0.8);
}
.y97eob6:checked ~ .y97eob8,html:not([data-playroom-dark]) .y97eob6:hover ~ .y97eob8 {
  color: var(--_171ow9bc);
}
.y97eob6:focus ~ .y97eob8::before, .y97eob6:hover ~ .y97eob8::before {
  opacity: 1;
  transform: scale(1);
}
._1v4ubnx5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--ox9msr8) * 5);
  height: calc(var(--ox9msr8) * 8);
  max-width: calc((100vw - 60px) - (var(--ox9msrd) * 2));
}
._1v4ubnx5._1v4ubnx0 {
  padding-right: calc((15px * 2) + 16px);
}
._1v4ubnx5:not(._1v4ubnx1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1v4ubnx5._1v4ubnx2 {
  background-color: var(--_171ow9bg);
}
._1v4ubnx5._1v4ubnx3 {
  background-color: var(--_171ow9bh);
}
._1v4ubnx7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1v4ubnx7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _11rkbv01 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._11rkbv00 {
  background-color: var(--_171ow9bl);
}
._11rkbv03 {
  background-color: var(--_171ow9bh);
  color: var(--_171ow9bb);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _11rkbv01;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._11rkbv03:hover {
  cursor: help;
}
._11rkbv04 {
  width: 1em;
  padding: 0 8px;
}
._11rkbv06::after {
  content: "-";
}
._11rkbv08::after {
  content: "+";
  color: var(--_171ow9bc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_171ow9bj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--ox9msr1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--ox9msrd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_171ow9bo);
  border-radius: var(--ox9msra);
  background-color: var(--_171ow9bj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--ox9msr1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_171ow9bi);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--ox9msr9);
  white-space: pre;
  color: var(--_171ow9b0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_171ow9bf);
  color: var(--_171ow9b9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_171ow9bc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--ox9msr8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_171ow9bj);
  color: var(--_171ow9b0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_171ow9b8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_171ow9bj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_171ow9bj);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_171ow9bj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_171ow9bl);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_171ow9b8);
  transition: var(--ox9msrh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._11rkbv08) {
  color: var(--_171ow9b7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_171ow9b8);
  transition: var(--ox9msrh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_171ow9b7);
}
.cm-s-neo .cm-tag {
  color: var(--_171ow9b1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_171ow9b2);
}
.cm-s-neo .cm-string {
  color: var(--_171ow9b3);
}
.cm-s-neo .cm-atom {
  color: var(--_171ow9b4);
}
.cm-s-neo .cm-variable {
  color: var(--_171ow9b5);
}
.cm-s-neo .cm-number {
  color: var(--_171ow9b6);
}
.CodeMirror-dialog {
  padding-left: var(--ox9msro);
  padding-right: var(--ox9msro);
  min-height: 60px;
  border-bottom: 1px solid var(--_171ow9bn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_11rkbv09));
  transition: var(--ox9msrh);
}
.dialog-opened .CodeMirror-scroll {
  --_11rkbv09: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_11rkbv09);
}
.CodeMirror-dialog input {
  font: var(--ox9msr5);
  font-family: var(--ox9msr1);
  height: var(--ox9msre);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--ox9msre);
  font: var(--ox9msr5);
  font-family: var(--ox9msr1);
}
.CodeMirror-search-field {
  padding-left: var(--ox9msro);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_171ow9bm);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_171ow9bl);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--ox9msro);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--ox9msr4);
  font-family: var(--ox9msr0);
  margin-left: var(--ox9msrl);
  padding-top: var(--ox9msrl);
  padding-bottom: var(--ox9msrl);
  padding-left: var(--ox9msrn);
  padding-right: var(--ox9msrn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--ox9msrb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_171ow9bc);
  box-shadow: var(--_171ow9bp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_171ow9bl);
}
.CodeMirror-dialog button:hover {
  background: var(--_171ow9be);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_171ow9bk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._2zk5fd3 {
  right: max(var(--_2zk5fd2), 460px);
}
._2zk5fd4 {
  bottom: max(var(--_2zk5fd2), 300px);
}
._2zk5fd7 {
  position: absolute !important;
}
._2zk5fda {
  max-width: 90vw;
}
._2zk5fda._2zk5fd8 {
  transform: translateX(100%);
}
._2zk5fdc {
  max-height: 90vh;
}
._2zk5fdc._2zk5fd8 {
  transform: translateY(100%);
}
._2zk5fdf._2zk5fdd {
  width: 60px;
}
._2zk5fdh {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--ox9msre);
  height: var(--ox9msre);
}
._2zk5fdh::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--ox9msrb);
  transition: var(--ox9msrf);
}
._2zk5fdh:not(:hover):not(:focus) {
  opacity: 0.3;
}
._2zk5fdh:hover::before, ._2zk5fdh:focus::before {
  opacity: 0.05;
}
._2zk5fdj {
  right: 60px;
}
