.s8t9xf1 {
  background-color: var(--_59dp0bl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_59dp0bq);
}
.s8t9xf2::before {
  content: "";
  position: absolute;
  min-height: var(--_1jjh82bc);
  min-width: var(--_1jjh82bc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._7eh8nk2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._7eh8nk4 {
  border: 1px solid var(--_59dp0bq);
  background-color: var(--_59dp0bk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._7eh8nk4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_59dp0bm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._7eh8nk4:hover::after {
  opacity: 1;
}
._7eh8nk4:focus-visible::after {
  opacity: 1;
}
._7eh8nk4:active:not([disabled]) {
  transform: scale(0.97);
}
._7eh8nk4:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 0;
}
._7eh8nk6 {
  isolation: isolate;
}
._7eh8nk8 {
  height: var(--_7eh8nk0);
}
._7eh8nka {
  border-color: var(--_59dp0bc);
}
._7eh8nka::after {
  background-color: var(--_59dp0bh);
}
._7eh8nkb {
  border-color: var(--_59dp0ba);
}
._7eh8nkb::after {
  background-color: var(--_59dp0bi);
}
._7eh8nkc {
  --_7eh8nk0: var(--_1jjh82bq);
}
._7eh8nkd {
  --_7eh8nk0: var(--_1jjh82br);
}
._7eh8nke {
  --_7eh8nk0: var(--_1jjh82bs);
}
.jmkdhz1 {
  --_59dp0b7: var(--_59dp0bd);
  background-color: var(--_59dp0bn);
  outline: 1px solid var(--_59dp0bs);
  outline-offset: -1px;
}
._1ebl2wo3 {
  background: transparent;
  outline: none;
  height: var(--_1ebl2wo0);
  width: var(--_1ebl2wo0);
}
._1ebl2wo6 {
  padding: var(--_1ebl2wo4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1ebl2wo1);
  isolation: isolate;
}
._1ebl2wo3[data-pressed] ._1ebl2wo6, ._1ebl2wo3:active ._1ebl2wo6 {
  transform: scale(.95);
}
._1ebl2wo3:focus-visible ._1ebl2wo6 {
  outline: 2px solid var(--_59dp0bt);
}
._1ebl2wo7 {
  --_1ebl2wo0: var(--_1jjh82bq);
  --_1ebl2wo4: 6px;
}
._1ebl2wo8 {
  --_1ebl2wo0: var(--_1jjh82br);
  --_1ebl2wo4: var(--_1jjh82bj);
}
._1ebl2wo9 {
  --_1ebl2wo0: var(--_1jjh82bs);
  --_1ebl2wo4: var(--_1jjh82bj);
}
._1ebl2woa {
  --_1ebl2wo1: var(--_59dp0b7);
}
._1ebl2wob {
  --_1ebl2wo1: var(--_59dp0bb);
}
._1ebl2woc {
  --_1ebl2wo1: var(--_59dp0bc);
}
._1ebl2wod {
  background-color: var(--_59dp0bk);
  outline: 1px solid var(--_59dp0bq);
  outline-offset: -1px;
}
._1ebl2wod:hover, [data-popup-open] > ._1ebl2wod {
  background-color: var(--_59dp0bm);
}
._1ebl2woe {
  --_1ebl2wo1: var(--_59dp0b8);
  background-color: var(--_59dp0bf);
}
._1ebl2woe:hover, [data-popup-open] > ._1ebl2woe {
  background-color: var(--_59dp0bg);
}
._1ebl2wof:hover, [data-popup-open] > ._1ebl2wof {
  background-color: var(--_59dp0bm);
}
._1ebl2wog {
  margin: calc((var(--_1ebl2wo4) + 2px) * -1);
}
._1ebl2wo6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.ffsqzn2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1jjh82b8);
  color: var(--ffsqzn0);
  isolation: isolate;
  outline: none;
}
.ffsqzn2[data-pressed], .ffsqzn2:active {
  transform: scale(.95);
}
.ffsqzn2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1jjh82bi) * -1);
  background-color: var(--ffsqzn0);
  border-radius: var(--_1jjh82b8);
}
.ffsqzn2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.ffsqzn2:hover, .ffsqzn2[data-popup-open]:not(:focus-visible) {
  color: var(--_59dp0b8);
}
.ffsqzn2:focus-visible::after {
  outline: 2px solid var(--_59dp0bt);
}
.ffsqzn2:focus-visible:not(:hover)::after {
  background: transparent;
}
.ffsqzn3 {
  --ffsqzn0: var(--_59dp0bb);
}
.ffsqzn4 {
  --ffsqzn0: var(--_59dp0bc);
}
.ffsqzn2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.o27cu81 {
  justify-content: safe center;
}
.o27cu85 {
  flex-shrink: 0;
  width: var(--o27cu82);
}
.o27cu86 {
  transition: color 150ms ease;
}
.o27cu85:hover .o27cu86, .o27cu85:focus-within .o27cu86, .o27cu83 .o27cu86 {
  color: var(--_59dp0bb);
}
.o27cu88 {
  outline: 1px solid var(--_59dp0bq);
}
.o27cu8a {
  transition: opacity 150ms ease;
}
.o27cu85:not(:hover, :focus-within, .o27cu83) .o27cu8a {
  opacity: 1;
}
.o27cu8c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.o27cu8a:hover ~ .o27cu88 .o27cu8c, .o27cu8a:focus-within ~ .o27cu88.o27cu8c {
  outline-color: var(--_59dp0bb);
}
.o27cu8e {
  transition: opacity 150ms ease;
}
.o27cu85:not(:hover, :focus-within, .o27cu83) .o27cu8e {
  opacity: 0;
}
.g63ttv1 {
  color: var(--_59dp0b7);
  font-family: var(--_1jjh82b0);
}
.g63ttv2 {
  --_19f4mc80: 36px;
  --_19f4mc81: 44px;
  --_19f4mc82: -0.2741em;
  --_19f4mc83: -0.2031em;
}
.g63ttv3 {
  --_19f4mc80: 20px;
  --_19f4mc81: 28px;
  --_19f4mc82: -0.363em;
  --_19f4mc83: -0.292em;
}
.g63ttv4 {
  --_19f4mc80: 16px;
  --_19f4mc81: 20px;
  --_19f4mc82: -0.288em;
  --_19f4mc83: -0.217em;
}
._1dhlgzg1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1dhlgzg0);
}
._1dhlgzg2 {
  --_1dhlgzg0: var(--_1jjh82bg);
}
._1dhlgzg3 {
  --_1dhlgzg0: var(--_1jjh82bh);
}
._1dhlgzg4 {
  --_1dhlgzg0: var(--_1jjh82bi);
}
._1dhlgzg5 {
  --_1dhlgzg0: var(--_1jjh82bj);
}
._1dhlgzg6 {
  --_1dhlgzg0: var(--_1jjh82bk);
}
._1dhlgzg7 {
  --_1dhlgzg0: var(--_1jjh82bl);
}
._1dhlgzg8 {
  --_1dhlgzg0: var(--_1jjh82bm);
}
._1dhlgzg9 {
  --_1dhlgzg0: var(--_1jjh82bn);
}
._1dhlgzga {
  --_1dhlgzg0: var(--_1jjh82bo);
}
._1dhlgzgb {
  --_1dhlgzg0: var(--_1jjh82bp);
}
._1dhlgzgc {
  align-items: flex-start;
}
._1dhlgzgd {
  align-items: center;
}
._1dhlgzge {
  align-items: flex-end;
}
.hcpb801 {
  backdrop-filter: blur(6px);
}
.hcpb801::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_59dp0bj);
  opacity: 0.4;
}
html[data-playroom-dark] .hcpb801::before {
  opacity: 0.7;
}
.hcpb801[data-starting-style]::before, .hcpb801[data-ending-style]::before {
  opacity: 0;
}
.hcpb803 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1jjh82bk) * 2));
  max-height: calc(100dvh - (var(--_1jjh82bk) * 2));
}
.hcpb803[data-starting-style], .hcpb803[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.hcpb807:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 2px;
}
._1b85qhb2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1b85qhb0);
  align-items: var(--_1b85qhb1);
}
._1b85qhb3 {
  flex-wrap: wrap;
}
._1b85qhb4 {
  --_1b85qhb0: var(--_1jjh82bg);
}
._1b85qhb5 {
  --_1b85qhb0: var(--_1jjh82bh);
}
._1b85qhb6 {
  --_1b85qhb0: var(--_1jjh82bi);
}
._1b85qhb7 {
  --_1b85qhb0: var(--_1jjh82bj);
}
._1b85qhb8 {
  --_1b85qhb0: var(--_1jjh82bk);
}
._1b85qhb9 {
  --_1b85qhb0: var(--_1jjh82bl);
}
._1b85qhba {
  --_1b85qhb0: var(--_1jjh82bm);
}
._1b85qhbb {
  --_1b85qhb0: var(--_1jjh82bn);
}
._1b85qhbc {
  --_1b85qhb0: var(--_1jjh82bo);
}
._1b85qhbd {
  --_1b85qhb0: var(--_1jjh82bp);
}
._1b85qhbe {
  align-items: flex-start;
}
._1b85qhbf {
  align-items: center;
}
._1b85qhbg {
  align-items: flex-end;
}
._1p0b49n0 {
  isolation: isolate;
  white-space: nowrap;
}
._1p0b49n1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1p0b49n3 {
    display: none;
  }
}
._1c2pidi1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1c2pidi2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1c2pidi2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1c2pidi4 {
  --_1c2pidi3: 30px;
}
._1c2pidi5 {
  --_1c2pidi3: 45px;
}
._1c2pidi6 {
  --_1c2pidi3: 60px;
}
._1c2pidi7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1c2pidi8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1c2pidi9 {
  overflow: auto;
}
._1c2pidie {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1c2pidic, 0)),linear-gradient(to right, transparent 0, black var(--_1c2pidia, 0)),linear-gradient(to left, transparent 0, black var(--_1c2pidib, 0)),linear-gradient(to top, transparent 0, black var(--_1c2pidid, 0));
}
._1c2pidif {
  --_1c2pidia: var(--_1c2pidi3);
}
._1c2pidig {
  --_1c2pidib: var(--_1c2pidi3);
}
._1c2pidih {
  --_1c2pidic: var(--_1c2pidi3);
}
._1c2pidii {
  --_1c2pidid: var(--_1c2pidi3);
}
.oeg2i82 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.oeg2i83 {
  width: 250px;
}
.oeg2i86 {
  --oeg2i84: var(--_59dp0bm);
  outline: none;
  cursor: default;
  color: var(--_59dp0b7);
  height: 34px;
  isolation: isolate;
}
.oeg2i86::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1jjh82b8);
  z-index: -1;
}
.oeg2i86[data-popup-open]:not([aria-disabled])::before, .oeg2i86[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--oeg2i84);
}
.oeg2i86:focus-visible::before {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: -2px;
}
.oeg2i86[aria-disabled] {
  color: var(--_59dp0b9);
  cursor: not-allowed;
}
.oeg2i87 {
  cursor: pointer;
  text-decoration: none;
}
.oeg2i87[aria-disabled] {
  cursor: not-allowed;
}
.oeg2i88 {
  margin-left: 3px;
}
.oeg2i89 {
  --oeg2i84: var(--_59dp0bi);
  color: var(--_59dp0ba);
}
.oeg2i8a {
  --oeg2i84: transparent;
  color: var(--_59dp0bc);
}
.oeg2i8a svg {
  color: var(--_59dp0bc);
}
.oeg2i8c {
  isolation: isolate;
}
.oeg2i8g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.oeg2i8i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_59dp0b7);
  z-index: 1;
}
[aria-checked="true"] .oeg2i8i {
  color: var(--_59dp0b8);
}
.oeg2i8k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_59dp0b7);
  isolation: isolate;
}
[aria-checked="true"] .oeg2i8k {
  background-color: var(--_59dp0be);
  border-color: var(--_59dp0be);
}
.oeg2i8p {
  height: 34px;
}
.oeg2i8r {
  height: 1px;
  background-color: var(--_59dp0bq);
}
.oeg2i8s {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.oeg2i8u {
  background: transparent;
  border: none;
}
.oeg2i8u:hover, .oeg2i8u[data-highlighted] {
  background-color: var(--_59dp0bm);
}
.oeg2i8u:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: -2px;
}
._1czoy7t0 {
  width: 200px;
}
.ikm5kz1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_59dp0bk);
}
.ikm5kz2 {
  width: fit-content;
}
.ikm5kz5 {
  width: fit-content;
  justify-self: flex-end;
}
.ikm5kz5:not(.ikm5kz3) {
  opacity: 0;
  transform: translateX(var(--_1jjh82bj));
  pointer-events: none;
}
.ikm5kz7 {
  background: transparent;
  color: var(--_59dp0bf);
  isolation: isolate;
}
.ikm5kz7::after {
  content: "";
  position: absolute;
  transition: var(--_1jjh82bf);
  z-index: -1;
  inset: calc(var(--_1jjh82bj) * -1);
  background-color: var(--_59dp0bm);
  border-radius: var(--_1jjh82b9);
}
.ikm5kz7:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 6px;
}
.ikm5kz7:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.ikm5kz9 {
  margin: calc(var(--_1jjh82bk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.ikm5kzd {
  appearance: none;
  outline: none;
  background: var(--_59dp0bk);
  color: var(--_59dp0b7);
  border: 1px solid var(--_59dp0bq);
  height: var(--_1jjh82br);
}
.ikm5kzd:hover, .ikm5kzd[data-popup-open] {
  background-color: var(--_59dp0bm);
}
.ikm5kzd:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  z-index: 1;
}
.ikm5kzf {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.ikm5kzh {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ikm5kzi {
  color: var(--_59dp0bc);
}
.ikm5kzk {
  height: 1px;
  background-color: var(--_59dp0bq);
}
@media screen and (max-width: 767px) {
  .ikm5kz5 {
    display: none;
  }
}
._195zq5s2 {
  flex: 1;
  min-height: 0;
}
._195zq5s5 {
  --_195zq5s3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_195zq5s3), 1fr);
}
._195zq5s7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._195zq5s9 {
  height: calc(100% / var(--_195zq5s0));
  width: calc(100% / var(--_195zq5s0));
  border-radius: calc(var(--_1jjh82b9) / var(--_195zq5s0));
  transform: scale(var(--_195zq5s0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_195zq5s0));
}
._195zq5sb {
  background: var(--_59dp0bm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._195zq5sd {
  background: transparent;
  outline: 1px solid var(--_59dp0bq);
}
._195zq5sd:hover {
  outline: 2px solid var(--_59dp0br);
}
._195zq5sd:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 2px;
}
._195zq5sh {
  list-style: none;
}
._195zq5sj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_59dp0bq);
}
._195zq5sj:hover {
  outline: 2px solid var(--_59dp0br);
}
._195zq5sj:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._195zq5s5 {
    --_195zq5s3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._195zq5s5 {
    --_195zq5s3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._195zq5s5 {
    --_195zq5s3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._195zq5s5 {
    --_195zq5s3: 5;
  }
}
._1y1m9391 {
  width: fit-content;
}
._1y1m9393:focus-visible ~ ._1y1m9395 {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 4px;
}
._1y1m9398 {
  min-width: 0;
}
._1y1m9399 {
  flex-shrink: 0;
}
.m9rxqu2 {
  outline: none;
  height: var(--_1jjh82br);
  color: var(--_59dp0b7);
  background: transparent;
}
.m9rxqu2::placeholder {
  color: var(--_59dp0b9);
  font-weight: strong;
}
.m9rxqu2:hover:not(:focus-visible), .m9rxqu2:hover:not(:focus-visible)::placeholder {
  background: var(--_59dp0bm);
  opacity: 1;
  color: transparent;
}
.m9rxqu2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.m9rxqu2:focus-visible {
  outline: 2px solid var(--_59dp0bt);
  outline-offset: 0;
  opacity: 1;
}
.m9rxqu2:focus-visible::placeholder {
  color: transparent;
}
.m9rxqu4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_59dp0b7);
}
.m9rxqu2:focus-visible ~ .m9rxqu4 {
  opacity: 0;
}
.m9rxqu5 {
  color: var(--_59dp0b9);
}
._16l6q7m3 {
  border: 1px solid var(--_59dp0bq);
}
._16l6q7m5 {
  background-color: var(--_59dp0bp);
  border-bottom: 1px solid var(--_59dp0bq);
}
._16l6q7m8 {
  background-color: var(--_59dp0bp);
  border-top: 1px solid var(--_59dp0bq);
}
._16l6q7mc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._16l6q7m6 {
    display: none;
  }
}
