@keyframes z8va8l4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.z8va8l1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1y8m79f9);
}
.z8va8l3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: z8va8l4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.z8va8l5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
.y301rp1 {
  display: flex;
  flex-direction: column;
  gap: var(--y301rp0);
}
.y301rp2 {
  --y301rp0: var(--_1swzzmvi);
}
.y301rp3 {
  --y301rp0: var(--_1swzzmvj);
}
.y301rp4 {
  --y301rp0: var(--_1swzzmvk);
}
.y301rp5 {
  --y301rp0: var(--_1swzzmvl);
}
.y301rp6 {
  --y301rp0: var(--_1swzzmvm);
}
.y301rp7 {
  --y301rp0: var(--_1swzzmvn);
}
.y301rp8 {
  --y301rp0: var(--_1swzzmvo);
}
.y301rp9 {
  --y301rp0: var(--_1swzzmvp);
}
.y301rpa {
  --y301rp0: var(--_1swzzmvq);
}
.y301rpb {
  --y301rp0: var(--_1swzzmvr);
}
