.d5w4ut2 {
  display: flex;
  flex-direction: row;
  gap: var(--d5w4ut0);
  align-items: var(--d5w4ut1);
}
.d5w4ut3 {
  flex-wrap: wrap;
}
.d5w4ut4 {
  --d5w4ut0: var(--xtq2w5g);
}
.d5w4ut5 {
  --d5w4ut0: var(--xtq2w5h);
}
.d5w4ut6 {
  --d5w4ut0: var(--xtq2w5i);
}
.d5w4ut7 {
  --d5w4ut0: var(--xtq2w5j);
}
.d5w4ut8 {
  --d5w4ut0: var(--xtq2w5k);
}
.d5w4ut9 {
  --d5w4ut0: var(--xtq2w5l);
}
.d5w4uta {
  --d5w4ut0: var(--xtq2w5m);
}
.d5w4utb {
  --d5w4ut0: var(--xtq2w5n);
}
.d5w4utc {
  --d5w4ut0: var(--xtq2w5o);
}
.d5w4utd {
  --d5w4ut0: var(--xtq2w5p);
}
.d5w4ute {
  align-items: flex-start;
}
.d5w4utf {
  align-items: center;
}
.d5w4utg {
  align-items: flex-end;
}
.zjvtge0 {
  isolation: isolate;
  white-space: nowrap;
}
.zjvtge1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .zjvtge3 {
    display: none;
  }
}
.gjmu8f0 {
  color: var(--_12u57et9);
}
.gwrsh61 {
  background-color: var(--_12u57etm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_12u57ets);
}
.gwrsh62::before {
  content: "";
  position: absolute;
  min-height: var(--xtq2w5c);
  min-width: var(--xtq2w5c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._12rowwm1 {
  --_12u57et7: var(--_12u57etd);
  background-color: var(--_12u57eto);
  outline: 1px solid var(--_12u57etu);
  outline-offset: -1px;
}
._1ltqqfd3 {
  background: transparent;
  outline: none;
  height: var(--_1ltqqfd0) !important;
  width: var(--_1ltqqfd0) !important;
}
._1ltqqfd6 {
  padding: var(--_1ltqqfd4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1ltqqfd3:active ._1ltqqfd6 {
  transform: scale(.95);
}
._1ltqqfd3:focus-visible ._1ltqqfd6 {
  outline: 2px solid var(--_12u57etv);
}
._1ltqqfd3[aria-disabled="true"] ._1ltqqfd6 {
  --_1ltqqfd1: var(--_12u57et9);
}
._1ltqqfd7 {
  --_1ltqqfd0: var(--xtq2w5q);
  --_1ltqqfd4: var(--xtq2w5i);
}
._1ltqqfd8 {
  --_1ltqqfd0: var(--xtq2w5r);
  --_1ltqqfd4: var(--xtq2w5j);
}
._1ltqqfd9 {
  --_1ltqqfd0: var(--xtq2w5s);
  --_1ltqqfd4: var(--xtq2w5j);
}
._1ltqqfdj {
  --_1ltqqfda: var(--_12u57et7);
  --_1ltqqfdb: var(--_12u57etl);
  --_1ltqqfdc: var(--_12u57etn);
  --_1ltqqfdd: var(--_12u57et8);
  --_1ltqqfde: var(--_12u57etg);
  --_1ltqqfdf: var(--_12u57eth);
  --_1ltqqfdg: var(--_12u57et7);
  --_1ltqqfdh: var(--_12u57et7);
  --_1ltqqfdi: var(--_12u57etn);
}
._1ltqqfdk {
  --_1ltqqfda: var(--_12u57etb);
  --_1ltqqfdb: var(--_12u57etl);
  --_1ltqqfdc: var(--_12u57etn);
  --_1ltqqfdd: var(--_12u57et8);
  --_1ltqqfde: var(--_12u57etb);
  --_1ltqqfdf: var(--_12u57etf);
  --_1ltqqfdg: var(--_12u57etb);
  --_1ltqqfdh: var(--_12u57et8);
  --_1ltqqfdi: var(--_12u57ete);
}
._1ltqqfdl {
  color: var(--_1ltqqfda);
  background-color: var(--_1ltqqfdb);
  outline: 1px solid var(--_12u57ets);
  outline-offset: -1px;
}
._1ltqqfd3:not([aria-disabled="true"]):hover > ._1ltqqfdl, ._1ltqqfd3:not([aria-disabled="true"]):focus-visible > ._1ltqqfdl, ._1ltqqfd3:not([aria-disabled="true"])[data-popup-open] > ._1ltqqfdl, ._1ltqqfd3:not([aria-disabled="true"])[data-active] > ._1ltqqfdl {
  background-color: var(--_1ltqqfdc);
}
._1ltqqfdm {
  color: var(--_1ltqqfdd);
  background-color: var(--_1ltqqfde);
}
._1ltqqfd3:not([aria-disabled="true"]):hover > ._1ltqqfdm, ._1ltqqfd3:not([aria-disabled="true"]):focus-visible > ._1ltqqfdm, ._1ltqqfd3:not([aria-disabled="true"])[data-popup-open] > ._1ltqqfdm, ._1ltqqfd3:not([aria-disabled="true"])[data-active] > ._1ltqqfdm {
  background-color: var(--_1ltqqfdf);
}
._1ltqqfdn {
  color: var(--_1ltqqfdg);
}
._1ltqqfd3:not([aria-disabled="true"]):hover > ._1ltqqfdn, ._1ltqqfd3:not([aria-disabled="true"]):focus-visible > ._1ltqqfdn, ._1ltqqfd3:not([aria-disabled="true"])[data-popup-open] > ._1ltqqfdn, ._1ltqqfd3:not([aria-disabled="true"])[data-active] > ._1ltqqfdn {
  color: var(--_1ltqqfdh);
  background-color: var(--_1ltqqfdi);
}
._1ltqqfdo {
  margin: calc((var(--_1ltqqfd4) + 2px) * -1);
}
._1ltqqfd6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes _1acmfe48 {
  from {
    background-color: var(--_12u57etp);
  }
  to {
    background-color: transparent;
  }
}
._1acmfe40 {
  background-color: var(--_12u57etn);
}
._1acmfe42 {
  background-color: var(--_12u57etj);
  color: var(--_12u57eta);
  min-width: 50px;
}
._1acmfe43 {
  opacity: 1;
}
._1acmfe45 {
  width: 1em;
}
._1acmfe46::after {
  content: "-";
}
._1acmfe47::after {
  content: "+";
  opacity: 1;
}
.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--xtq2w51);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  box-sizing: border-box;
  padding-left: var(--xtq2w5i);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--xtq2w5l) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: var(--xtq2w5h);
  box-shadow: var(--_12u57etw);
  border-radius: var(--xtq2w59);
  background-color: var(--_12u57etm);
  border: 1px solid var(--_12u57ets);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--xtq2w51);
  max-height: 20em;
  overflow-y: auto;
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--xtq2w5i) var(--xtq2w5j);
  border-radius: var(--xtq2w58);
  white-space: pre;
  color: var(--_12u57et0);
  cursor: default;
  height: var(--xtq2w5r);
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.CodeMirror-hint::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--xtq2w58);
  z-index: -1;
  background-color: var(--_12u57etn);
  opacity: 0;
}
.CodeMirror-hint-active::before {
  opacity: 1;
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_12u57etb);
  font-family: arial;
  cursor: default;
  padding: 0 var(--xtq2w5i);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_12u57etl);
  color: var(--_12u57et0);
}
.cm-s-neo.CodeMirror::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, transparent, var(--_12u57etl));
  right: 0;
  pointer-events: none;
}
.CodeMirror-scroll {
  padding-right: 20px;
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_12u57et7);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_12u57etl);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_12u57etl);
  position: absolute;
  right: var(--xtq2w5h);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_12u57etl);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_12u57etp);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_12u57et7);
  transition: var(--xtq2w5f);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1acmfe47) {
  color: var(--_12u57et7);
  opacity: 0.4;
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_12u57et7);
  transition: var(--xtq2w5f);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  opacity: 0.4;
}
.cm-s-neo .cm-tag {
  color: var(--_12u57et1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_12u57et2);
}
.cm-s-neo .cm-string {
  color: var(--_12u57et3);
}
.cm-s-neo .cm-atom {
  color: var(--_12u57et4);
}
.cm-s-neo .cm-variable {
  color: var(--_12u57et5);
}
.cm-s-neo .cm-number {
  color: var(--_12u57et6);
}
.CodeMirror-dialog {
  padding-left: var(--xtq2w5l);
  padding-right: var(--xtq2w5l);
  min-height: var(--xtq2w5c);
  border-bottom: 1px solid var(--_12u57ets);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transition: var(--xtq2w5f);
}
.dialog-opened .CodeMirror-scroll {
  transform: translateY(var(--xtq2w5c));
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--xtq2w5c);
}
.CodeMirror-dialog input {
  font: var(--xtq2w55);
  font-family: var(--xtq2w51);
  height: var(--xtq2w5c);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--xtq2w5c);
  font: var(--xtq2w55);
  font-family: var(--xtq2w51);
}
.CodeMirror-search-field {
  padding-left: var(--xtq2w5l);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_12u57etp);
}
.cm-overlay.cm-searching {
  padding-top: var(--xtq2w5h);
  padding-bottom: var(--xtq2w5h);
  background: var(--_12u57etp);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--xtq2w5l);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--xtq2w54);
  font-family: var(--xtq2w50);
  margin-left: var(--xtq2w5j);
  padding-top: var(--xtq2w5i);
  padding-bottom: var(--xtq2w5i);
  padding-left: var(--xtq2w5k);
  padding-right: var(--xtq2w5k);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--xtq2w59);
  cursor: default;
  border: 1px solid var(--_12u57ets);
}
.CodeMirror-dialog button:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 0;
}
.CodeMirror-dialog button:hover {
  background: var(--_12u57etn);
}
.cm-inspect-highlight {
  background-color: var(--_12u57etp) !important;
}
.cm-inspect-highlight-fade {
  animation: _1acmfe48 1s ease forwards;
}
.x69d5k2 {
  width: fit-content;
  max-width: 80ex;
  background: var(--_12u57etm);
  box-shadow: 0 2px 10px -2px hsla(358, 66%, 48%, 1);
  word-break: break-word;
  white-space: pre-line;
  outline: 1px solid hsla(358, 66%, 48%, 1);
}
.x69d5k2:not(.x69d5k0) {
  transform: translateY(var(--xtq2w5j));
  transition: none;
  opacity: 0;
}
.x69d5k4 {
  transition-delay: calc(var(--x69d5k3) * 1ms);
}
.x69d5k8 {
  background: hsla(358, 66%, 48%, 1);
  color: hsla(0, 0%, 93%, 1);
  height: var(--xtq2w5q);
}
.x69d5k8:active:not([disabled]) {
  transform: scale(0.97);
}
._3zxrt21 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._3zxrt22 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._3zxrt22::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._3zxrt24 {
  --_3zxrt23: 30px;
}
._3zxrt25 {
  --_3zxrt23: 45px;
}
._3zxrt26 {
  --_3zxrt23: 60px;
}
._3zxrt27 {
  overflow-x: auto;
  overflow-y: hidden;
}
._3zxrt28 {
  overflow-x: hidden;
  overflow-y: auto;
}
._3zxrt29 {
  overflow: auto;
}
._3zxrt2e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_3zxrt2c, 0)),linear-gradient(to right, transparent 0, black var(--_3zxrt2a, 0)),linear-gradient(to left, transparent 0, black var(--_3zxrt2b, 0)),linear-gradient(to top, transparent 0, black var(--_3zxrt2d, 0));
}
._3zxrt2f {
  --_3zxrt2a: var(--_3zxrt23);
}
._3zxrt2g {
  --_3zxrt2b: var(--_3zxrt23);
}
._3zxrt2h {
  --_3zxrt2c: var(--_3zxrt23);
}
._3zxrt2i {
  --_3zxrt2d: var(--_3zxrt23);
}
._1pjw0zo2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1pjw0zo3 {
  width: 250px;
}
._1pjw0zo6 {
  --_1pjw0zo4: var(--_12u57etn);
  outline: none;
  cursor: default;
  color: var(--_12u57et7);
  height: 34px;
  isolation: isolate;
}
._1pjw0zo6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--xtq2w58);
  z-index: -1;
}
._1pjw0zo6[data-popup-open]:not([aria-disabled])::before, ._1pjw0zo6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1pjw0zo4);
}
._1pjw0zo6:focus-visible::before {
  outline: 2px solid var(--_12u57etv);
  outline-offset: -2px;
}
._1pjw0zo6[aria-disabled] {
  color: var(--_12u57et9);
  cursor: not-allowed;
}
._1pjw0zo7 {
  cursor: pointer;
  text-decoration: none;
}
._1pjw0zo7[aria-disabled] {
  cursor: not-allowed;
}
._1pjw0zo8 {
  margin-left: 3px;
}
._1pjw0zo9 {
  --_1pjw0zo4: var(--_12u57etj);
  color: var(--_12u57eta);
}
._1pjw0zoa {
  --_1pjw0zo4: transparent;
  color: var(--_12u57etc);
}
._1pjw0zoa svg {
  color: var(--_12u57etc);
}
._1pjw0zoc {
  isolation: isolate;
}
._1pjw0zog {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1pjw0zoi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_12u57et7);
  z-index: 1;
}
[aria-checked="true"] ._1pjw0zoi {
  color: var(--_12u57et8);
}
._1pjw0zok {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_12u57et7);
  isolation: isolate;
}
[aria-checked="true"] ._1pjw0zok {
  background-color: var(--_12u57ete);
  border-color: var(--_12u57ete);
}
._1pjw0zop {
  height: 34px;
}
._1pjw0zor {
  height: 1px;
  background-color: var(--_12u57ets);
}
._1pjw0zot {
  background: transparent;
  border: none;
}
._1pjw0zot:hover, ._1pjw0zot[data-highlighted] {
  background-color: var(--_12u57etn);
}
._1pjw0zot:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: -2px;
}
@keyframes _1bens26k {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
._1bens262 {
  position: relative;
}
._1bens262::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--_12u57ets);
}
._1bens264 {
  color: var(--_12u57et7);
  height: var(--xtq2w5c);
  background: transparent;
  box-shadow: none;
}
._1bens264:focus-visible {
  outline: none;
  box-shadow: none;
}
._1bens264::placeholder {
  color: var(--_12u57et9);
}
._1bens264::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
._1bens264::-webkit-search-decoration {
  -webkit-appearance: none;
}
._1bens264::-ms-clear {
  display: none;
}
._1bens264::-ms-reveal {
  display: none;
}
._1bens266 {
  list-style: none;
  height: 300px;
}
._1bens267 {
  scroll-padding-top: var(--xtq2w5s);
}
._1bens269 > [cmdk-group-heading] {
  position: sticky;
  top: 0;
  z-index: 1;
}
._1bens26b {
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--_12u57ets);
}
._1bens26b::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--_12u57etl);
  opacity: 0.8;
  z-index: -1;
  isolation: isolate;
}
._1bens26d {
  border-bottom: 1px solid var(--_12u57ets);
}
._1bens26f {
  color: var(--_12u57et7);
  isolation: isolate;
  cursor: default;
  scroll-margin-block: var(--xtq2w5i);
  height: var(--xtq2w5s);
}
._1bens26f::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--xtq2w5i);
  right: var(--xtq2w5i);
  background-color: var(--_12u57etn);
  border-radius: var(--xtq2w58);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
._1bens26f[data-selected="true"] {
  color: var(--_12u57etb);
}
._1bens26f[data-selected="true"]::before {
  opacity: 1;
}
._1bens267 ._1bens26f {
  scroll-margin-top: calc((var(--xtq2w5i) + 1px) * 2);
}
._1bens26m {
  transform: scale(0.97);
  opacity: 0;
  animation: _1bens26k 80ms ease-out forwards;
}
._1bens26n {
  width: min(350px, 90vw);
}
._1bens26p {
  min-width: 0;
}
.n3edc51 {
  display: flex;
  flex-direction: column;
  gap: var(--n3edc50);
}
.n3edc52 {
  --n3edc50: var(--xtq2w5g);
}
.n3edc53 {
  --n3edc50: var(--xtq2w5h);
}
.n3edc54 {
  --n3edc50: var(--xtq2w5i);
}
.n3edc55 {
  --n3edc50: var(--xtq2w5j);
}
.n3edc56 {
  --n3edc50: var(--xtq2w5k);
}
.n3edc57 {
  --n3edc50: var(--xtq2w5l);
}
.n3edc58 {
  --n3edc50: var(--xtq2w5m);
}
.n3edc59 {
  --n3edc50: var(--xtq2w5n);
}
.n3edc5a {
  --n3edc50: var(--xtq2w5o);
}
.n3edc5b {
  --n3edc50: var(--xtq2w5p);
}
.n3edc5c {
  align-items: flex-start;
}
.n3edc5d {
  align-items: center;
}
.n3edc5e {
  align-items: flex-end;
}
._1tajtos1 {
  background-color: var(--_12u57etm);
  outline: 1px solid var(--_12u57ets);
}
._1tajtos3 {
  background: transparent;
  height: var(--xtq2w5r);
  color: var(--_12u57et7);
}
._1tajtos3:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 2px;
}
._1tajtos3:hover, ._1tajtos3[data-popup-open] {
  background-color: var(--_12u57etn);
}
._1tajtos3[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
._1tajtos3[aria-disabled="true"]:hover {
  background-color: transparent;
}
._104ob0d1 {
  justify-content: safe center;
}
._104ob0d5 {
  flex-shrink: 0;
  width: var(--_104ob0d2);
}
._104ob0d5:last-child {
  padding-right: var(--xtq2w5n);
}
._104ob0d6 {
  transition: color 150ms ease;
}
._104ob0d5:hover ._104ob0d6, ._104ob0d5:focus-within ._104ob0d6, ._104ob0d3 ._104ob0d6 {
  color: var(--_12u57etb);
}
._104ob0d8 {
  outline: 1px solid var(--_12u57ets);
}
._104ob0da {
  transition: opacity 150ms ease;
}
._104ob0d5:not(:hover, :focus-within, ._104ob0d3) ._104ob0da {
  opacity: 1;
}
._104ob0dc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._104ob0da:hover ~ ._104ob0d8 ._104ob0dc, ._104ob0da:focus-within ~ ._104ob0d8._104ob0dc {
  outline-color: var(--_12u57etb);
}
._104ob0de {
  transition: opacity 150ms ease;
}
._104ob0d5:not(:hover, :focus-within, ._104ob0d3) ._104ob0de {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._104ob0d5:not(:hover, :focus-within, ._104ob0d3) ._104ob0de {
  opacity: 0.6;
}
._1j2xbbl2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1j2xbbl4 {
  border: 1px solid var(--_12u57ets);
  background-color: var(--_12u57etl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1j2xbbl4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_12u57etn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1j2xbbl4:hover::after {
  opacity: 1;
}
._1j2xbbl4:focus-visible::after {
  opacity: 1;
}
._1j2xbbl4:active:not([disabled]) {
  transform: scale(0.97);
}
._1j2xbbl4:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 0;
}
._1j2xbbl6 {
  isolation: isolate;
}
._1j2xbbl8 {
  height: var(--_1j2xbbl0);
}
._1j2xbbla {
  border-color: var(--_12u57etc);
}
._1j2xbbla::after {
  background-color: var(--_12u57eti);
}
._1j2xbblb {
  border-color: var(--_12u57eta);
}
._1j2xbblb::after {
  background-color: var(--_12u57etj);
}
._1j2xbblc {
  --_1j2xbbl0: var(--xtq2w5q);
}
._1j2xbbld {
  --_1j2xbbl0: var(--xtq2w5r);
}
._1j2xbble {
  --_1j2xbbl0: var(--xtq2w5s);
}
._1wg42t1 {
  color: var(--_12u57et7);
  font-family: var(--xtq2w50);
}
._1wg42t2 {
  --x1z5fc0: 36px;
  --x1z5fc1: 44px;
  --x1z5fc2: -0.2741em;
  --x1z5fc3: -0.2031em;
}
._1wg42t3 {
  --x1z5fc0: 20px;
  --x1z5fc1: 28px;
  --x1z5fc2: -0.363em;
  --x1z5fc3: -0.292em;
}
._1wg42t4 {
  --x1z5fc0: 16px;
  --x1z5fc1: 20px;
  --x1z5fc2: -0.288em;
  --x1z5fc3: -0.217em;
}
.pdj1eu1 {
  backdrop-filter: blur(6px);
}
.pdj1eu1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_12u57etk);
  opacity: 0.4;
}
html[data-playroom-dark] .pdj1eu1::before {
  opacity: 0.7;
}
.pdj1eu1[data-starting-style]::before, .pdj1eu1[data-ending-style]::before {
  opacity: 0;
}
.pdj1eu3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--xtq2w5k) * 2));
  max-height: calc(100dvh - (var(--xtq2w5k) * 2));
}
.pdj1eu3[data-starting-style], .pdj1eu3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.pdj1eu7:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 2px;
}
._15acx850 {
  width: 200px;
}
._1ggo2sq1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_12u57etl);
}
._1ggo2sq2 {
  width: fit-content;
}
._1ggo2sq4 {
  width: fit-content;
  justify-self: flex-end;
}
._1ggo2sq7:not(._1ggo2sq5) {
  opacity: 0;
  transform: translateX(var(--xtq2w5j));
  pointer-events: none;
}
._1ggo2sq9 {
  background: transparent;
  color: var(--_12u57etg);
  isolation: isolate;
}
._1ggo2sq9::after {
  content: "";
  position: absolute;
  transition: var(--xtq2w5f);
  z-index: -1;
  inset: calc(var(--xtq2w5j) * -1);
  background-color: var(--_12u57etn);
  border-radius: var(--xtq2w59);
}
._1ggo2sq9:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 6px;
}
._1ggo2sq9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1ggo2sqb {
  margin: calc(var(--xtq2w5k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1ggo2sqf {
  appearance: none;
  outline: none;
  background: var(--_12u57etl);
  color: var(--_12u57et7);
  border: 1px solid var(--_12u57ets);
  height: var(--xtq2w5r);
}
._1ggo2sqf:hover, ._1ggo2sqf[data-popup-open] {
  background-color: var(--_12u57etn);
}
._1ggo2sqf:focus-visible {
  outline: 2px solid var(--_12u57etv);
  z-index: 1;
}
._1ggo2sqh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1ggo2sqj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1ggo2sqk {
  color: var(--_12u57etc);
}
._1ggo2sqm {
  height: 1px;
  background-color: var(--_12u57ets);
}
@media screen and (max-width: 767px) {
  ._1ggo2sq4 {
    display: none;
  }
}
.wudd2c2 {
  flex: 1;
  min-height: 0;
}
.wudd2c5 {
  --wudd2c3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--wudd2c3), 1fr);
}
.wudd2c7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.wudd2c9 {
  height: calc(100% / var(--wudd2c0));
  width: calc(100% / var(--wudd2c0));
  border-radius: calc(var(--xtq2w59) / var(--wudd2c0));
  transform: scale(var(--wudd2c0));
  transform-origin: 0 0;
  padding: calc(1px / var(--wudd2c0));
}
.wudd2cb {
  background: var(--_12u57etn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wudd2cd {
  background: transparent;
  outline: 1px solid var(--_12u57ets);
}
.wudd2cd:hover {
  outline: 2px solid var(--_12u57ett);
}
.wudd2cd:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 2px;
}
.wudd2ch {
  list-style: none;
}
.wudd2cj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_12u57ets);
}
.wudd2cj:hover {
  outline: 2px solid var(--_12u57ett);
}
.wudd2cj:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .wudd2c5 {
    --wudd2c3: 2;
  }
}
@media screen and (min-width: 800px) {
  .wudd2c5 {
    --wudd2c3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .wudd2c5 {
    --wudd2c3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .wudd2c5 {
    --wudd2c3: 5;
  }
}
._1dr01ax1 {
  width: fit-content;
}
._1dr01ax3:focus-visible ~ ._1dr01ax5 {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 4px;
}
._1dr01ax8 {
  min-width: 0;
}
._1dr01ax9 {
  flex-shrink: 0;
}
._1cbmjbg2 {
  outline: none;
  height: var(--xtq2w5r);
  color: var(--_12u57et7);
  background: transparent;
}
._1cbmjbg2::placeholder {
  color: var(--_12u57et9);
  font-weight: strong;
}
._1cbmjbg2:hover:not(:focus-visible), ._1cbmjbg2:hover:not(:focus-visible)::placeholder {
  background: var(--_12u57etn);
  opacity: 1;
  color: transparent;
}
._1cbmjbg2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1cbmjbg2:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 0;
  opacity: 1;
}
._1cbmjbg2:focus-visible::placeholder {
  color: transparent;
}
._1cbmjbg4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_12u57et7);
}
._1cbmjbg2:focus-visible ~ ._1cbmjbg4 {
  opacity: 0;
}
._1cbmjbg5 {
  color: var(--_12u57et9);
}
._11q5pz82 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--_11q5pz80);
  align-items: var(--_11q5pz81);
}
._11q5pz83 {
  --_11q5pz80: var(--xtq2w5g);
}
._11q5pz84 {
  --_11q5pz80: var(--xtq2w5h);
}
._11q5pz85 {
  --_11q5pz80: var(--xtq2w5i);
}
._11q5pz86 {
  --_11q5pz80: var(--xtq2w5j);
}
._11q5pz87 {
  --_11q5pz80: var(--xtq2w5k);
}
._11q5pz88 {
  --_11q5pz80: var(--xtq2w5l);
}
._11q5pz89 {
  --_11q5pz80: var(--xtq2w5m);
}
._11q5pz8a {
  --_11q5pz80: var(--xtq2w5n);
}
._11q5pz8b {
  --_11q5pz80: var(--xtq2w5o);
}
._11q5pz8c {
  --_11q5pz80: var(--xtq2w5p);
}
._11q5pz8d {
  align-items: flex-start;
}
._11q5pz8e {
  align-items: center;
}
._11q5pz8f {
  align-items: flex-end;
}
._11q5pz8g > * {
  flex-basis: auto;
  width: auto;
}
.paksoi1 {
  background: radial-gradient(var(--_12u57etl) 20%, transparent 50%);
  justify-content: safe center;
}
.paksoi3 {
  max-width: 400px;
}
.paksoi5 {
  background: transparent;
}
.paksoi5:focus-visible {
  outline: 2px solid var(--_12u57etv);
  outline-offset: 6px;
}
._1se9rmm0 {
  cursor: row-resize;
}
._1se9rmm1 {
  cursor: col-resize;
}
._1se9rmm6 {
  transform: translateY(-50%);
  z-index: 2;
}
._1se9rmm6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-1px);
  transition: background-color 100ms ease;
}
._1se9rmm6._1se9rmm3::before {
  background: var(--_12u57ete);
}
._1se9rmm6:not(._1se9rmm3):hover::before {
  background: var(--_12u57ete);
  transition-delay: 200ms;
}
._1se9rmm7 {
  z-index: 2;
}
._1se9rmm7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  transition: background-color 100ms ease;
}
._1se9rmm7._1se9rmm3::before {
  background: var(--_12u57ete);
}
._1se9rmm7:not(._1se9rmm3):hover::before {
  background: var(--_12u57ete);
  transition-delay: 200ms;
}
._1se9rmm9 {
  transform: translateX(50%);
}
._1se9rmmb {
  transform: translateX(-50%);
}
._1se9rmmd {
  background: var(--_12u57etm);
  outline: 1px solid var(--_12u57ets);
  outline-offset: -1px;
  transition: outline-color 100ms ease;
}
._1se9rmmd::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: background-color 100ms ease;
}
._1se9rmm3 ._1se9rmmd {
  outline-color: var(--_12u57ete);
}
._1se9rmm3 ._1se9rmmd::after {
  background: var(--_12u57ete);
}
:is(._1se9rmm6, ._1se9rmm7):not(._1se9rmm3):hover ._1se9rmmd {
  outline-color: var(--_12u57ete);
  transition-delay: 200ms;
}
:is(._1se9rmm6, ._1se9rmm7):not(._1se9rmm3):hover ._1se9rmmd::after {
  transition-delay: 200ms;
}
._1se9rmme {
  width: 38px;
  height: 8px;
}
._1se9rmmf {
  width: 8px;
  height: 38px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_12u57etk);
  scrollbar-color: var(--_12u57ets) transparent;
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._1qt9k710 {
  pointer-events: none;
  user-select: none;
}
._1qt9k715 {
  display: grid;
  grid-template-columns: var(--_1qt9k712, 0px) 1fr;
  grid-template-rows: min-content auto var(--_1qt9k711, 0px);
  isolation: isolate;
}
._1qt9k716 {
  --_1qt9k711: clamp(150px, var(--_1qt9k713), 70vh);
  grid-template-areas: "header header"
"frames frames"
"editor editor";
}
._1qt9k717 {
  --_1qt9k712: clamp(300px, var(--_1qt9k713), 90vw);
  grid-template-areas: "header header"
"editor frames"
"editor frames";
}
._1qt9k718 {
  grid-area: header;
  z-index: 1;
  outline: 1px solid var(--_12u57ets);
}
._1qt9k719 {
  grid-area: frames;
}
._1qt9k71a {
  grid-area: editor;
  outline: 1px solid var(--_12u57ets);
}
._1qt9k71e {
  left: var(--xtq2w5l);
  right: var(--xtq2w5l);
  bottom: var(--xtq2w5l);
  width: fit-content;
  margin-inline: auto;
}
._1qt9k71g {
  backdrop-filter: blur(2px);
}
._1qt9k71g::before {
  content: "";
  position: absolute;
  inset: 1px;
  pointer-events: none;
  background: var(--_12u57etm);
  border-radius: calc(var(--xtq2w5a) - 2px);
  opacity: 0.8;
}
._1qt9k71g::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: calc(var(--xtq2w5a) - 2px);
  outline: 2px solid var(--_12u57ets);
  outline-offset: -2px;
}
._1qt9k71i {
  background: var(--_12u57etl);
  box-shadow: 0 0 4px 2px var(--_12u57etl);
}
