._1dl0zjc2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1dl0zjc0);
  align-items: var(--_1dl0zjc1);
}
._1dl0zjc3 {
  flex-wrap: wrap;
}
._1dl0zjc4 {
  --_1dl0zjc0: var(--xi0c2bg);
}
._1dl0zjc5 {
  --_1dl0zjc0: var(--xi0c2bh);
}
._1dl0zjc6 {
  --_1dl0zjc0: var(--xi0c2bi);
}
._1dl0zjc7 {
  --_1dl0zjc0: var(--xi0c2bj);
}
._1dl0zjc8 {
  --_1dl0zjc0: var(--xi0c2bk);
}
._1dl0zjc9 {
  --_1dl0zjc0: var(--xi0c2bl);
}
._1dl0zjca {
  --_1dl0zjc0: var(--xi0c2bm);
}
._1dl0zjcb {
  --_1dl0zjc0: var(--xi0c2bn);
}
._1dl0zjcc {
  --_1dl0zjc0: var(--xi0c2bo);
}
._1dl0zjcd {
  --_1dl0zjc0: var(--xi0c2bp);
}
._1dl0zjce {
  align-items: flex-start;
}
._1dl0zjcf {
  align-items: center;
}
._1dl0zjcg {
  align-items: flex-end;
}
._6mbdyu0 {
  isolation: isolate;
  white-space: nowrap;
}
._6mbdyu1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._6mbdyu3 {
    display: none;
  }
}
._1ke5o3o0 {
  color: var(--_1i4waa19);
}
._1vlgmin1 {
  background-color: var(--_1i4waa1m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1i4waa1s);
}
._1vlgmin2::before {
  content: "";
  position: absolute;
  min-height: var(--xi0c2bc);
  min-width: var(--xi0c2bc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.dkcg671 {
  --_1i4waa17: var(--_1i4waa1d);
  background-color: var(--_1i4waa1o);
  outline: 1px solid var(--_1i4waa1u);
  outline-offset: -1px;
}
._13je9nq3 {
  background: transparent;
  outline: none;
  height: var(--_13je9nq0) !important;
  width: var(--_13je9nq0) !important;
}
._13je9nq6 {
  padding: var(--_13je9nq4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._13je9nq3:active ._13je9nq6 {
  transform: scale(.95);
}
._13je9nq3:focus-visible ._13je9nq6 {
  outline: 2px solid var(--_1i4waa1v);
}
._13je9nq3[aria-disabled="true"] ._13je9nq6 {
  --_13je9nq1: var(--_1i4waa19);
}
._13je9nq7 {
  --_13je9nq0: var(--xi0c2bq);
  --_13je9nq4: var(--xi0c2bi);
}
._13je9nq8 {
  --_13je9nq0: var(--xi0c2br);
  --_13je9nq4: var(--xi0c2bj);
}
._13je9nq9 {
  --_13je9nq0: var(--xi0c2bs);
  --_13je9nq4: var(--xi0c2bj);
}
._13je9nqj {
  --_13je9nqa: var(--_1i4waa17);
  --_13je9nqb: var(--_1i4waa1l);
  --_13je9nqc: var(--_1i4waa1n);
  --_13je9nqd: var(--_1i4waa18);
  --_13je9nqe: var(--_1i4waa1g);
  --_13je9nqf: var(--_1i4waa1h);
  --_13je9nqg: var(--_1i4waa17);
  --_13je9nqh: var(--_1i4waa17);
  --_13je9nqi: var(--_1i4waa1n);
}
._13je9nqk {
  --_13je9nqa: var(--_1i4waa1b);
  --_13je9nqb: var(--_1i4waa1l);
  --_13je9nqc: var(--_1i4waa1n);
  --_13je9nqd: var(--_1i4waa18);
  --_13je9nqe: var(--_1i4waa1b);
  --_13je9nqf: var(--_1i4waa1f);
  --_13je9nqg: var(--_1i4waa1b);
  --_13je9nqh: var(--_1i4waa18);
  --_13je9nqi: var(--_1i4waa1e);
}
._13je9nql {
  color: var(--_13je9nqa);
  background-color: var(--_13je9nqb);
  outline: 1px solid var(--_1i4waa1s);
  outline-offset: -1px;
}
._13je9nq3:not([aria-disabled="true"]):hover > ._13je9nql, ._13je9nq3:not([aria-disabled="true"]):focus-visible > ._13je9nql, ._13je9nq3:not([aria-disabled="true"])[data-popup-open] > ._13je9nql, ._13je9nq3:not([aria-disabled="true"])[data-active] > ._13je9nql {
  background-color: var(--_13je9nqc);
}
._13je9nqm {
  color: var(--_13je9nqd);
  background-color: var(--_13je9nqe);
}
._13je9nq3:not([aria-disabled="true"]):hover > ._13je9nqm, ._13je9nq3:not([aria-disabled="true"]):focus-visible > ._13je9nqm, ._13je9nq3:not([aria-disabled="true"])[data-popup-open] > ._13je9nqm, ._13je9nq3:not([aria-disabled="true"])[data-active] > ._13je9nqm {
  background-color: var(--_13je9nqf);
}
._13je9nqn {
  color: var(--_13je9nqg);
}
._13je9nq3:not([aria-disabled="true"]):hover > ._13je9nqn, ._13je9nq3:not([aria-disabled="true"]):focus-visible > ._13je9nqn, ._13je9nq3:not([aria-disabled="true"])[data-popup-open] > ._13je9nqn, ._13je9nq3:not([aria-disabled="true"])[data-active] > ._13je9nqn {
  color: var(--_13je9nqh);
  background-color: var(--_13je9nqi);
}
._13je9nqo {
  margin: calc((var(--_13je9nq4) + 2px) * -1);
}
._13je9nq6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes _19n9vzt8 {
  from {
    background-color: var(--_1i4waa1p);
  }
  to {
    background-color: transparent;
  }
}
._19n9vzt0 {
  background-color: var(--_1i4waa1n);
}
._19n9vzt2 {
  background-color: var(--_1i4waa1j);
  color: var(--_1i4waa1a);
  min-width: 50px;
}
._19n9vzt3 {
  opacity: 1;
}
._19n9vzt5 {
  width: 1em;
}
._19n9vzt6::after {
  content: "-";
}
._19n9vzt7::after {
  content: "+";
  opacity: 1;
}
.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--xi0c2b1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  box-sizing: border-box;
  padding-left: var(--xi0c2bi);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--xi0c2bl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: var(--xi0c2bh);
  box-shadow: var(--_1i4waa1w);
  border-radius: var(--xi0c2b9);
  background-color: var(--_1i4waa1m);
  border: 1px solid var(--_1i4waa1s);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--xi0c2b1);
  max-height: 20em;
  overflow-y: auto;
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--xi0c2bi) var(--xi0c2bj);
  border-radius: var(--xi0c2b8);
  white-space: pre;
  color: var(--_1i4waa10);
  cursor: default;
  height: var(--xi0c2br);
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.CodeMirror-hint::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--xi0c2b8);
  z-index: -1;
  background-color: var(--_1i4waa1n);
  opacity: 0;
}
.CodeMirror-hint-active::before {
  opacity: 1;
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1i4waa1b);
  font-family: arial;
  cursor: default;
  padding: 0 var(--xi0c2bi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1i4waa1l);
  color: var(--_1i4waa10);
}
.cm-s-neo.CodeMirror::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, transparent, var(--_1i4waa1l));
  right: 0;
  pointer-events: none;
}
.CodeMirror-scroll {
  padding-right: 20px;
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1i4waa17);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1i4waa1l);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1i4waa1l);
  position: absolute;
  right: var(--xi0c2bh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1i4waa1l);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1i4waa1p);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1i4waa17);
  transition: var(--xi0c2bf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._19n9vzt7) {
  color: var(--_1i4waa17);
  opacity: 0.4;
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1i4waa17);
  transition: var(--xi0c2bf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  opacity: 0.4;
}
.cm-s-neo .cm-tag {
  color: var(--_1i4waa11);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1i4waa12);
}
.cm-s-neo .cm-string {
  color: var(--_1i4waa13);
}
.cm-s-neo .cm-atom {
  color: var(--_1i4waa14);
}
.cm-s-neo .cm-variable {
  color: var(--_1i4waa15);
}
.cm-s-neo .cm-number {
  color: var(--_1i4waa16);
}
.CodeMirror-dialog {
  padding-left: var(--xi0c2bl);
  padding-right: var(--xi0c2bl);
  min-height: var(--xi0c2bc);
  border-bottom: 1px solid var(--_1i4waa1s);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transition: var(--xi0c2bf);
}
.dialog-opened .CodeMirror-scroll {
  transform: translateY(var(--xi0c2bc));
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--xi0c2bc);
}
.CodeMirror-dialog input {
  font: var(--xi0c2b5);
  font-family: var(--xi0c2b1);
  height: var(--xi0c2bc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--xi0c2bc);
  font: var(--xi0c2b5);
  font-family: var(--xi0c2b1);
}
.CodeMirror-search-field {
  padding-left: var(--xi0c2bl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1i4waa1p);
}
.cm-overlay.cm-searching {
  padding-top: var(--xi0c2bh);
  padding-bottom: var(--xi0c2bh);
  background: var(--_1i4waa1p);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--xi0c2bl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--xi0c2b4);
  font-family: var(--xi0c2b0);
  margin-left: var(--xi0c2bj);
  padding-top: var(--xi0c2bi);
  padding-bottom: var(--xi0c2bi);
  padding-left: var(--xi0c2bk);
  padding-right: var(--xi0c2bk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--xi0c2b9);
  cursor: default;
  border: 1px solid var(--_1i4waa1s);
}
.CodeMirror-dialog button:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 0;
}
.CodeMirror-dialog button:hover {
  background: var(--_1i4waa1n);
}
.cm-inspect-highlight {
  background-color: var(--_1i4waa1p) !important;
}
.cm-inspect-highlight-fade {
  animation: _19n9vzt8 1s ease forwards;
}
._1bu5pnq2 {
  width: fit-content;
  max-width: 80ex;
  background: var(--_1i4waa1m);
  box-shadow: 0 2px 10px -2px hsla(358, 66%, 48%, 1);
  word-break: break-word;
  white-space: pre-line;
  outline: 1px solid hsla(358, 66%, 48%, 1);
}
._1bu5pnq2:not(._1bu5pnq0) {
  transform: translateY(var(--xi0c2bj));
  transition: none;
  opacity: 0;
}
._1bu5pnq4 {
  transition-delay: calc(var(--_1bu5pnq3) * 1ms);
}
._1bu5pnq8 {
  background: hsla(358, 66%, 48%, 1);
  color: hsla(0, 0%, 93%, 1);
  height: var(--xi0c2bq);
}
._1bu5pnq8:active:not([disabled]) {
  transform: scale(0.97);
}
._2n9hqs1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._2n9hqs2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._2n9hqs2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._2n9hqs4 {
  --_2n9hqs3: 30px;
}
._2n9hqs5 {
  --_2n9hqs3: 45px;
}
._2n9hqs6 {
  --_2n9hqs3: 60px;
}
._2n9hqs7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._2n9hqs8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._2n9hqs9 {
  overflow: auto;
}
._2n9hqse {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_2n9hqsc, 0)),linear-gradient(to right, transparent 0, black var(--_2n9hqsa, 0)),linear-gradient(to left, transparent 0, black var(--_2n9hqsb, 0)),linear-gradient(to top, transparent 0, black var(--_2n9hqsd, 0));
}
._2n9hqsf {
  --_2n9hqsa: var(--_2n9hqs3);
}
._2n9hqsg {
  --_2n9hqsb: var(--_2n9hqs3);
}
._2n9hqsh {
  --_2n9hqsc: var(--_2n9hqs3);
}
._2n9hqsi {
  --_2n9hqsd: var(--_2n9hqs3);
}
.wzua442 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.wzua443 {
  width: 250px;
}
.wzua446 {
  --wzua444: var(--_1i4waa1n);
  outline: none;
  cursor: default;
  color: var(--_1i4waa17);
  height: 34px;
  isolation: isolate;
}
.wzua446::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--xi0c2b8);
  z-index: -1;
}
.wzua446[data-popup-open]:not([aria-disabled])::before, .wzua446[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--wzua444);
}
.wzua446:focus-visible::before {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: -2px;
}
.wzua446[aria-disabled] {
  color: var(--_1i4waa19);
  cursor: not-allowed;
}
.wzua447 {
  cursor: pointer;
  text-decoration: none;
}
.wzua447[aria-disabled] {
  cursor: not-allowed;
}
.wzua448 {
  margin-left: 3px;
}
.wzua449 {
  --wzua444: var(--_1i4waa1j);
  color: var(--_1i4waa1a);
}
.wzua44a {
  --wzua444: transparent;
  color: var(--_1i4waa1c);
}
.wzua44a svg {
  color: var(--_1i4waa1c);
}
.wzua44c {
  isolation: isolate;
}
.wzua44g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.wzua44i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1i4waa17);
  z-index: 1;
}
[aria-checked="true"] .wzua44i {
  color: var(--_1i4waa18);
}
.wzua44k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1i4waa17);
  isolation: isolate;
}
[aria-checked="true"] .wzua44k {
  background-color: var(--_1i4waa1e);
  border-color: var(--_1i4waa1e);
}
.wzua44p {
  height: 34px;
}
.wzua44r {
  height: 1px;
  background-color: var(--_1i4waa1s);
}
.wzua44t {
  background: transparent;
  border: none;
}
.wzua44t:hover, .wzua44t[data-highlighted] {
  background-color: var(--_1i4waa1n);
}
.wzua44t:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: -2px;
}
@keyframes _1217adpk {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
._1217adp2 {
  position: relative;
}
._1217adp2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--_1i4waa1s);
}
._1217adp4 {
  color: var(--_1i4waa17);
  height: var(--xi0c2bc);
  background: transparent;
  box-shadow: none;
}
._1217adp4:focus-visible {
  outline: none;
  box-shadow: none;
}
._1217adp4::placeholder {
  color: var(--_1i4waa19);
}
._1217adp4::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
._1217adp4::-webkit-search-decoration {
  -webkit-appearance: none;
}
._1217adp4::-ms-clear {
  display: none;
}
._1217adp4::-ms-reveal {
  display: none;
}
._1217adp6 {
  list-style: none;
  height: 300px;
}
._1217adp7 {
  scroll-padding-top: var(--xi0c2bs);
}
._1217adp9 > [cmdk-group-heading] {
  position: sticky;
  top: 0;
  z-index: 1;
}
._1217adpb {
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--_1i4waa1s);
}
._1217adpb::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--_1i4waa1l);
  opacity: 0.8;
  z-index: -1;
  isolation: isolate;
}
._1217adpd {
  border-bottom: 1px solid var(--_1i4waa1s);
}
._1217adpf {
  color: var(--_1i4waa17);
  isolation: isolate;
  cursor: default;
  scroll-margin-block: var(--xi0c2bi);
  height: var(--xi0c2bs);
}
._1217adpf::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--xi0c2bi);
  right: var(--xi0c2bi);
  background-color: var(--_1i4waa1n);
  border-radius: var(--xi0c2b8);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
._1217adpf[data-selected="true"] {
  color: var(--_1i4waa1b);
}
._1217adpf[data-selected="true"]::before {
  opacity: 1;
}
._1217adp7 ._1217adpf {
  scroll-margin-top: calc((var(--xi0c2bi) + 1px) * 2);
}
._1217adpm {
  transform: scale(0.97);
  opacity: 0;
  animation: _1217adpk 80ms ease-out forwards;
}
._1217adpn {
  width: min(350px, 90vw);
}
._1217adpp {
  min-width: 0;
}
.s852tq1 {
  display: flex;
  flex-direction: column;
  gap: var(--s852tq0);
}
.s852tq2 {
  --s852tq0: var(--xi0c2bg);
}
.s852tq3 {
  --s852tq0: var(--xi0c2bh);
}
.s852tq4 {
  --s852tq0: var(--xi0c2bi);
}
.s852tq5 {
  --s852tq0: var(--xi0c2bj);
}
.s852tq6 {
  --s852tq0: var(--xi0c2bk);
}
.s852tq7 {
  --s852tq0: var(--xi0c2bl);
}
.s852tq8 {
  --s852tq0: var(--xi0c2bm);
}
.s852tq9 {
  --s852tq0: var(--xi0c2bn);
}
.s852tqa {
  --s852tq0: var(--xi0c2bo);
}
.s852tqb {
  --s852tq0: var(--xi0c2bp);
}
.s852tqc {
  align-items: flex-start;
}
.s852tqd {
  align-items: center;
}
.s852tqe {
  align-items: flex-end;
}
.g8sebm1 {
  background-color: var(--_1i4waa1m);
  outline: 1px solid var(--_1i4waa1s);
}
.g8sebm3 {
  background: transparent;
  height: var(--xi0c2br);
  color: var(--_1i4waa17);
}
.g8sebm3:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 2px;
}
.g8sebm3:hover, .g8sebm3[data-popup-open] {
  background-color: var(--_1i4waa1n);
}
.g8sebm3[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
.g8sebm3[aria-disabled="true"]:hover {
  background-color: transparent;
}
._1v9oqqw1 {
  justify-content: safe center;
}
._1v9oqqw5 {
  flex-shrink: 0;
  width: var(--_1v9oqqw2);
}
._1v9oqqw5:last-child {
  padding-right: var(--xi0c2bn);
}
._1v9oqqw6 {
  transition: color 150ms ease;
}
._1v9oqqw5:hover ._1v9oqqw6, ._1v9oqqw5:focus-within ._1v9oqqw6, ._1v9oqqw3 ._1v9oqqw6 {
  color: var(--_1i4waa1b);
}
._1v9oqqw8 {
  outline: 1px solid var(--_1i4waa1s);
}
._1v9oqqwa {
  transition: opacity 150ms ease;
}
._1v9oqqw5:not(:hover, :focus-within, ._1v9oqqw3) ._1v9oqqwa {
  opacity: 1;
}
._1v9oqqwc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1v9oqqwa:hover ~ ._1v9oqqw8 ._1v9oqqwc, ._1v9oqqwa:focus-within ~ ._1v9oqqw8._1v9oqqwc {
  outline-color: var(--_1i4waa1b);
}
._1v9oqqwe {
  transition: opacity 150ms ease;
}
._1v9oqqw5:not(:hover, :focus-within, ._1v9oqqw3) ._1v9oqqwe {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1v9oqqw5:not(:hover, :focus-within, ._1v9oqqw3) ._1v9oqqwe {
  opacity: 0.6;
}
._1iyvsk52 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1iyvsk54 {
  border: 1px solid var(--_1i4waa1s);
  background-color: var(--_1i4waa1l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1iyvsk54::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1i4waa1n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1iyvsk54:hover::after {
  opacity: 1;
}
._1iyvsk54:focus-visible::after {
  opacity: 1;
}
._1iyvsk54:active:not([disabled]) {
  transform: scale(0.97);
}
._1iyvsk54:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 0;
}
._1iyvsk56 {
  isolation: isolate;
}
._1iyvsk58 {
  height: var(--_1iyvsk50);
}
._1iyvsk5a {
  border-color: var(--_1i4waa1c);
}
._1iyvsk5a::after {
  background-color: var(--_1i4waa1i);
}
._1iyvsk5b {
  border-color: var(--_1i4waa1a);
}
._1iyvsk5b::after {
  background-color: var(--_1i4waa1j);
}
._1iyvsk5c {
  --_1iyvsk50: var(--xi0c2bq);
}
._1iyvsk5d {
  --_1iyvsk50: var(--xi0c2br);
}
._1iyvsk5e {
  --_1iyvsk50: var(--xi0c2bs);
}
._5ttgxd1 {
  color: var(--_1i4waa17);
  font-family: var(--xi0c2b0);
}
._5ttgxd2 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._5ttgxd3 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._5ttgxd4 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.xmxasm1 {
  backdrop-filter: blur(6px);
}
.xmxasm1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1i4waa1k);
  opacity: 0.4;
}
html[data-playroom-dark] .xmxasm1::before {
  opacity: 0.7;
}
.xmxasm1[data-starting-style]::before, .xmxasm1[data-ending-style]::before {
  opacity: 0;
}
.xmxasm3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--xi0c2bk) * 2));
  max-height: calc(100dvh - (var(--xi0c2bk) * 2));
}
.xmxasm3[data-starting-style], .xmxasm3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.xmxasm7:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 2px;
}
._1oq58ze0 {
  width: 200px;
}
._109vcfv1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1i4waa1l);
}
._109vcfv2 {
  width: fit-content;
}
._109vcfv4 {
  width: fit-content;
  justify-self: flex-end;
}
._109vcfv7:not(._109vcfv5) {
  opacity: 0;
  transform: translateX(var(--xi0c2bj));
  pointer-events: none;
}
._109vcfv9 {
  background: transparent;
  color: var(--_1i4waa1g);
  isolation: isolate;
}
._109vcfv9::after {
  content: "";
  position: absolute;
  transition: var(--xi0c2bf);
  z-index: -1;
  inset: calc(var(--xi0c2bj) * -1);
  background-color: var(--_1i4waa1n);
  border-radius: var(--xi0c2b9);
}
._109vcfv9:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 6px;
}
._109vcfv9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._109vcfvb {
  margin: calc(var(--xi0c2bk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._109vcfvf {
  appearance: none;
  outline: none;
  background: var(--_1i4waa1l);
  color: var(--_1i4waa17);
  border: 1px solid var(--_1i4waa1s);
  height: var(--xi0c2br);
}
._109vcfvf:hover, ._109vcfvf[data-popup-open] {
  background-color: var(--_1i4waa1n);
}
._109vcfvf:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  z-index: 1;
}
._109vcfvh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._109vcfvj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._109vcfvk {
  color: var(--_1i4waa1c);
}
._109vcfvm {
  height: 1px;
  background-color: var(--_1i4waa1s);
}
@media screen and (max-width: 767px) {
  ._109vcfv4 {
    display: none;
  }
}
.csq87w2 {
  flex: 1;
  min-height: 0;
}
.csq87w5 {
  --csq87w3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--csq87w3), 1fr);
}
.csq87w7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.csq87w9 {
  height: calc(100% / var(--csq87w0));
  width: calc(100% / var(--csq87w0));
  border-radius: calc(var(--xi0c2b9) / var(--csq87w0));
  transform: scale(var(--csq87w0));
  transform-origin: 0 0;
  padding: calc(1px / var(--csq87w0));
}
.csq87wb {
  background: var(--_1i4waa1n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.csq87wd {
  background: transparent;
  outline: 1px solid var(--_1i4waa1s);
}
.csq87wd:hover {
  outline: 2px solid var(--_1i4waa1t);
}
.csq87wd:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 2px;
}
.csq87wh {
  list-style: none;
}
.csq87wj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1i4waa1s);
}
.csq87wj:hover {
  outline: 2px solid var(--_1i4waa1t);
}
.csq87wj:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .csq87w5 {
    --csq87w3: 2;
  }
}
@media screen and (min-width: 800px) {
  .csq87w5 {
    --csq87w3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .csq87w5 {
    --csq87w3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .csq87w5 {
    --csq87w3: 5;
  }
}
.d2yled1 {
  width: fit-content;
}
.d2yled3:focus-visible ~ .d2yled5 {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 4px;
}
.d2yled8 {
  min-width: 0;
}
.d2yled9 {
  flex-shrink: 0;
}
._1laglc92 {
  outline: none;
  height: var(--xi0c2br);
  color: var(--_1i4waa17);
  background: transparent;
}
._1laglc92::placeholder {
  color: var(--_1i4waa19);
  font-weight: strong;
}
._1laglc92:hover:not(:focus-visible), ._1laglc92:hover:not(:focus-visible)::placeholder {
  background: var(--_1i4waa1n);
  opacity: 1;
  color: transparent;
}
._1laglc92:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1laglc92:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 0;
  opacity: 1;
}
._1laglc92:focus-visible::placeholder {
  color: transparent;
}
._1laglc94 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1i4waa17);
}
._1laglc92:focus-visible ~ ._1laglc94 {
  opacity: 0;
}
._1laglc95 {
  color: var(--_1i4waa19);
}
._17b89xc2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--_17b89xc0);
  align-items: var(--_17b89xc1);
}
._17b89xc3 {
  --_17b89xc0: var(--xi0c2bg);
}
._17b89xc4 {
  --_17b89xc0: var(--xi0c2bh);
}
._17b89xc5 {
  --_17b89xc0: var(--xi0c2bi);
}
._17b89xc6 {
  --_17b89xc0: var(--xi0c2bj);
}
._17b89xc7 {
  --_17b89xc0: var(--xi0c2bk);
}
._17b89xc8 {
  --_17b89xc0: var(--xi0c2bl);
}
._17b89xc9 {
  --_17b89xc0: var(--xi0c2bm);
}
._17b89xca {
  --_17b89xc0: var(--xi0c2bn);
}
._17b89xcb {
  --_17b89xc0: var(--xi0c2bo);
}
._17b89xcc {
  --_17b89xc0: var(--xi0c2bp);
}
._17b89xcd {
  align-items: flex-start;
}
._17b89xce {
  align-items: center;
}
._17b89xcf {
  align-items: flex-end;
}
._17b89xcg > * {
  flex-basis: auto;
  width: auto;
}
._13zz4al1 {
  background: radial-gradient(var(--_1i4waa1l) 20%, transparent 50%);
  justify-content: safe center;
}
._13zz4al3 {
  max-width: 400px;
}
._13zz4al5 {
  background: transparent;
}
._13zz4al5:focus-visible {
  outline: 2px solid var(--_1i4waa1v);
  outline-offset: 6px;
}
.g1ck6v0 {
  cursor: row-resize;
}
.g1ck6v1 {
  cursor: col-resize;
}
.g1ck6v6 {
  transform: translateY(-50%);
  z-index: 2;
}
.g1ck6v6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-1px);
  transition: background-color 100ms ease;
}
.g1ck6v6.g1ck6v3::before {
  background: var(--_1i4waa1e);
}
.g1ck6v6:not(.g1ck6v3):hover::before {
  background: var(--_1i4waa1e);
  transition-delay: 200ms;
}
.g1ck6v7 {
  z-index: 2;
}
.g1ck6v7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  transition: background-color 100ms ease;
}
.g1ck6v7.g1ck6v3::before {
  background: var(--_1i4waa1e);
}
.g1ck6v7:not(.g1ck6v3):hover::before {
  background: var(--_1i4waa1e);
  transition-delay: 200ms;
}
.g1ck6v9 {
  transform: translateX(50%);
}
.g1ck6vb {
  transform: translateX(-50%);
}
.g1ck6vd {
  background: var(--_1i4waa1m);
  outline: 1px solid var(--_1i4waa1s);
  outline-offset: -1px;
  transition: outline-color 100ms ease;
}
.g1ck6vd::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: background-color 100ms ease;
}
.g1ck6v3 .g1ck6vd {
  outline-color: var(--_1i4waa1e);
}
.g1ck6v3 .g1ck6vd::after {
  background: var(--_1i4waa1e);
}
:is(.g1ck6v6, .g1ck6v7):not(.g1ck6v3):hover .g1ck6vd {
  outline-color: var(--_1i4waa1e);
  transition-delay: 200ms;
}
:is(.g1ck6v6, .g1ck6v7):not(.g1ck6v3):hover .g1ck6vd::after {
  transition-delay: 200ms;
}
.g1ck6ve {
  width: 38px;
  height: 8px;
}
.g1ck6vf {
  width: 8px;
  height: 38px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_1i4waa1k);
  scrollbar-color: var(--_1i4waa1s) transparent;
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._1emfdlo0 {
  pointer-events: none;
  user-select: none;
}
._1emfdlo5 {
  display: grid;
  grid-template-columns: var(--_1emfdlo2, 0px) 1fr;
  grid-template-rows: min-content auto var(--_1emfdlo1, 0px);
  isolation: isolate;
}
._1emfdlo6 {
  --_1emfdlo1: clamp(150px, var(--_1emfdlo3), 70vh);
  grid-template-areas: "header header"
"frames frames"
"editor editor";
}
._1emfdlo7 {
  --_1emfdlo2: clamp(300px, var(--_1emfdlo3), 90vw);
  grid-template-areas: "header header"
"editor frames"
"editor frames";
}
._1emfdlo8 {
  grid-area: header;
  z-index: 1;
  outline: 1px solid var(--_1i4waa1s);
}
._1emfdlo9 {
  grid-area: frames;
}
._1emfdloa {
  grid-area: editor;
  outline: 1px solid var(--_1i4waa1s);
}
._1emfdloe {
  left: var(--xi0c2bl);
  right: var(--xi0c2bl);
  bottom: var(--xi0c2bl);
  width: fit-content;
  margin-inline: auto;
}
._1emfdlog {
  backdrop-filter: blur(2px);
}
._1emfdlog::before {
  content: "";
  position: absolute;
  inset: 1px;
  pointer-events: none;
  background: var(--_1i4waa1m);
  border-radius: calc(var(--xi0c2ba) - 2px);
  opacity: 0.8;
}
._1emfdlog::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: calc(var(--xi0c2ba) - 2px);
  outline: 2px solid var(--_1i4waa1s);
  outline-offset: -2px;
}
._1emfdloi {
  background: var(--_1i4waa1l);
  box-shadow: 0 0 4px 2px var(--_1i4waa1l);
}
