._10e57551 {
  background-color: var(--_1hj3je1m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1hj3je1r);
}
._10e57552::before {
  content: "";
  position: absolute;
  min-height: var(--o5erbc);
  min-width: var(--o5erbc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1lcto4s2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1lcto4s4 {
  border: 1px solid var(--_1hj3je1r);
  background-color: var(--_1hj3je1l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1lcto4s4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1hj3je1n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1lcto4s4:hover::after {
  opacity: 1;
}
._1lcto4s4:focus-visible::after {
  opacity: 1;
}
._1lcto4s4:active:not([disabled]) {
  transform: scale(0.97);
}
._1lcto4s4:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 0;
}
._1lcto4s6 {
  isolation: isolate;
}
._1lcto4s8 {
  height: var(--_1lcto4s0);
}
._1lcto4sa {
  border-color: var(--_1hj3je1c);
}
._1lcto4sa::after {
  background-color: var(--_1hj3je1i);
}
._1lcto4sb {
  border-color: var(--_1hj3je1a);
}
._1lcto4sb::after {
  background-color: var(--_1hj3je1j);
}
._1lcto4sc {
  --_1lcto4s0: var(--o5erbq);
}
._1lcto4sd {
  --_1lcto4s0: var(--o5erbr);
}
._1lcto4se {
  --_1lcto4s0: var(--o5erbs);
}
.hwxqjd1 {
  --_1hj3je17: var(--_1hj3je1d);
  background-color: var(--_1hj3je1o);
  outline: 1px solid var(--_1hj3je1t);
  outline-offset: -1px;
}
._1wmd97l3 {
  background: transparent;
  outline: none;
  height: var(--_1wmd97l0) !important;
  width: var(--_1wmd97l0) !important;
}
._1wmd97l6 {
  padding: var(--_1wmd97l4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1wmd97l3:active ._1wmd97l6 {
  transform: scale(.95);
}
._1wmd97l3:focus-visible ._1wmd97l6 {
  outline: 2px solid var(--_1hj3je1u);
}
._1wmd97l3[aria-disabled="true"] ._1wmd97l6 {
  --_1wmd97l1: var(--_1hj3je19);
}
._1wmd97l7 {
  --_1wmd97l0: var(--o5erbq);
  --_1wmd97l4: var(--o5erbi);
}
._1wmd97l8 {
  --_1wmd97l0: var(--o5erbr);
  --_1wmd97l4: var(--o5erbj);
}
._1wmd97l9 {
  --_1wmd97l0: var(--o5erbs);
  --_1wmd97l4: var(--o5erbj);
}
._1wmd97lj {
  --_1wmd97la: var(--_1hj3je17);
  --_1wmd97lb: var(--_1hj3je1l);
  --_1wmd97lc: var(--_1hj3je1n);
  --_1wmd97ld: var(--_1hj3je18);
  --_1wmd97le: var(--_1hj3je1g);
  --_1wmd97lf: var(--_1hj3je1h);
  --_1wmd97lg: var(--_1hj3je17);
  --_1wmd97lh: var(--_1hj3je17);
  --_1wmd97li: var(--_1hj3je1n);
}
._1wmd97lk {
  --_1wmd97la: var(--_1hj3je1b);
  --_1wmd97lb: var(--_1hj3je1l);
  --_1wmd97lc: var(--_1hj3je1n);
  --_1wmd97ld: var(--_1hj3je18);
  --_1wmd97le: var(--_1hj3je1b);
  --_1wmd97lf: var(--_1hj3je1f);
  --_1wmd97lg: var(--_1hj3je1b);
  --_1wmd97lh: var(--_1hj3je18);
  --_1wmd97li: var(--_1hj3je1e);
}
._1wmd97ll {
  color: var(--_1wmd97la);
  background-color: var(--_1wmd97lb);
  outline: 1px solid var(--_1hj3je1r);
  outline-offset: -1px;
}
._1wmd97l3:not([aria-disabled="true"]):hover > ._1wmd97ll, ._1wmd97l3:not([aria-disabled="true"]):focus-visible > ._1wmd97ll, ._1wmd97l3:not([aria-disabled="true"])[data-popup-open] > ._1wmd97ll {
  background-color: var(--_1wmd97lc);
}
._1wmd97lm {
  color: var(--_1wmd97ld);
  background-color: var(--_1wmd97le);
}
._1wmd97l3:not([aria-disabled="true"]):hover > ._1wmd97lm, ._1wmd97l3:not([aria-disabled="true"]):focus-visible > ._1wmd97lm, ._1wmd97l3:not([aria-disabled="true"])[data-popup-open] > ._1wmd97lm {
  background-color: var(--_1wmd97lf);
}
._1wmd97ln {
  color: var(--_1wmd97lg);
}
._1wmd97l3:not([aria-disabled="true"]):hover > ._1wmd97ln, ._1wmd97l3:not([aria-disabled="true"]):focus-visible > ._1wmd97ln, ._1wmd97l3:not([aria-disabled="true"])[data-popup-open] > ._1wmd97ln {
  color: var(--_1wmd97lh);
  background-color: var(--_1wmd97li);
}
._1wmd97lo {
  margin: calc((var(--_1wmd97l4) + 2px) * -1);
}
._1wmd97l6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._6ufwhj0 {
  isolation: isolate;
  white-space: nowrap;
}
._6ufwhj1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._6ufwhj3 {
    display: none;
  }
}
._18q22o71 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._18q22o72 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._18q22o72::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._18q22o74 {
  --_18q22o73: 30px;
}
._18q22o75 {
  --_18q22o73: 45px;
}
._18q22o76 {
  --_18q22o73: 60px;
}
._18q22o77 {
  overflow-x: auto;
  overflow-y: hidden;
}
._18q22o78 {
  overflow-x: hidden;
  overflow-y: auto;
}
._18q22o79 {
  overflow: auto;
}
._18q22o7e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_18q22o7c, 0)),linear-gradient(to right, transparent 0, black var(--_18q22o7a, 0)),linear-gradient(to left, transparent 0, black var(--_18q22o7b, 0)),linear-gradient(to top, transparent 0, black var(--_18q22o7d, 0));
}
._18q22o7f {
  --_18q22o7a: var(--_18q22o73);
}
._18q22o7g {
  --_18q22o7b: var(--_18q22o73);
}
._18q22o7h {
  --_18q22o7c: var(--_18q22o73);
}
._18q22o7i {
  --_18q22o7d: var(--_18q22o73);
}
._1twfzce2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1twfzce3 {
  width: 250px;
}
._1twfzce6 {
  --_1twfzce4: var(--_1hj3je1n);
  outline: none;
  cursor: default;
  color: var(--_1hj3je17);
  height: 34px;
  isolation: isolate;
}
._1twfzce6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--o5erb8);
  z-index: -1;
}
._1twfzce6[data-popup-open]:not([aria-disabled])::before, ._1twfzce6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1twfzce4);
}
._1twfzce6:focus-visible::before {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: -2px;
}
._1twfzce6[aria-disabled] {
  color: var(--_1hj3je19);
  cursor: not-allowed;
}
._1twfzce7 {
  cursor: pointer;
  text-decoration: none;
}
._1twfzce7[aria-disabled] {
  cursor: not-allowed;
}
._1twfzce8 {
  margin-left: 3px;
}
._1twfzce9 {
  --_1twfzce4: var(--_1hj3je1j);
  color: var(--_1hj3je1a);
}
._1twfzcea {
  --_1twfzce4: transparent;
  color: var(--_1hj3je1c);
}
._1twfzcea svg {
  color: var(--_1hj3je1c);
}
._1twfzcec {
  isolation: isolate;
}
._1twfzceg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1twfzcei {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1hj3je17);
  z-index: 1;
}
[aria-checked="true"] ._1twfzcei {
  color: var(--_1hj3je18);
}
._1twfzcek {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1hj3je17);
  isolation: isolate;
}
[aria-checked="true"] ._1twfzcek {
  background-color: var(--_1hj3je1e);
  border-color: var(--_1hj3je1e);
}
._1twfzcep {
  height: 34px;
}
._1twfzcer {
  height: 1px;
  background-color: var(--_1hj3je1r);
}
._1twfzcet {
  background: transparent;
  border: none;
}
._1twfzcet:hover, ._1twfzcet[data-highlighted] {
  background-color: var(--_1hj3je1n);
}
._1twfzcet:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: -2px;
}
.qzcy131 {
  justify-content: safe center;
}
.qzcy135 {
  flex-shrink: 0;
  width: var(--qzcy132);
}
.qzcy135:last-child {
  padding-right: var(--o5erbn);
}
.qzcy136 {
  transition: color 150ms ease;
}
.qzcy135:hover .qzcy136, .qzcy135:focus-within .qzcy136, .qzcy133 .qzcy136 {
  color: var(--_1hj3je1b);
}
.qzcy138 {
  outline: 1px solid var(--_1hj3je1r);
}
.qzcy13a {
  transition: opacity 150ms ease;
}
.qzcy135:not(:hover, :focus-within, .qzcy133) .qzcy13a {
  opacity: 1;
}
.qzcy13c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.qzcy13a:hover ~ .qzcy138 .qzcy13c, .qzcy13a:focus-within ~ .qzcy138.qzcy13c {
  outline-color: var(--_1hj3je1b);
}
.qzcy13e {
  transition: opacity 150ms ease;
}
.qzcy135:not(:hover, :focus-within, .qzcy133) .qzcy13e {
  opacity: 0;
}
._8djm8l1 {
  color: var(--_1hj3je17);
  font-family: var(--o5erb0);
}
._8djm8l2 {
  --x1z5fc0: 36px;
  --x1z5fc1: 44px;
  --x1z5fc2: -0.2741em;
  --x1z5fc3: -0.2031em;
}
._8djm8l3 {
  --x1z5fc0: 20px;
  --x1z5fc1: 28px;
  --x1z5fc2: -0.363em;
  --x1z5fc3: -0.292em;
}
._8djm8l4 {
  --x1z5fc0: 16px;
  --x1z5fc1: 20px;
  --x1z5fc2: -0.288em;
  --x1z5fc3: -0.217em;
}
._11396pb1 {
  display: flex;
  flex-direction: column;
  gap: var(--_11396pb0);
}
._11396pb2 {
  --_11396pb0: var(--o5erbg);
}
._11396pb3 {
  --_11396pb0: var(--o5erbh);
}
._11396pb4 {
  --_11396pb0: var(--o5erbi);
}
._11396pb5 {
  --_11396pb0: var(--o5erbj);
}
._11396pb6 {
  --_11396pb0: var(--o5erbk);
}
._11396pb7 {
  --_11396pb0: var(--o5erbl);
}
._11396pb8 {
  --_11396pb0: var(--o5erbm);
}
._11396pb9 {
  --_11396pb0: var(--o5erbn);
}
._11396pba {
  --_11396pb0: var(--o5erbo);
}
._11396pbb {
  --_11396pb0: var(--o5erbp);
}
._11396pbc {
  align-items: flex-start;
}
._11396pbd {
  align-items: center;
}
._11396pbe {
  align-items: flex-end;
}
._5uetcq1 {
  backdrop-filter: blur(6px);
}
._5uetcq1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1hj3je1k);
  opacity: 0.4;
}
html[data-playroom-dark] ._5uetcq1::before {
  opacity: 0.7;
}
._5uetcq1[data-starting-style]::before, ._5uetcq1[data-ending-style]::before {
  opacity: 0;
}
._5uetcq3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--o5erbk) * 2));
  max-height: calc(100dvh - (var(--o5erbk) * 2));
}
._5uetcq3[data-starting-style], ._5uetcq3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._5uetcq7:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 2px;
}
.bdm0x72 {
  display: flex;
  flex-direction: row;
  gap: var(--bdm0x70);
  align-items: var(--bdm0x71);
}
.bdm0x73 {
  flex-wrap: wrap;
}
.bdm0x74 {
  --bdm0x70: var(--o5erbg);
}
.bdm0x75 {
  --bdm0x70: var(--o5erbh);
}
.bdm0x76 {
  --bdm0x70: var(--o5erbi);
}
.bdm0x77 {
  --bdm0x70: var(--o5erbj);
}
.bdm0x78 {
  --bdm0x70: var(--o5erbk);
}
.bdm0x79 {
  --bdm0x70: var(--o5erbl);
}
.bdm0x7a {
  --bdm0x70: var(--o5erbm);
}
.bdm0x7b {
  --bdm0x70: var(--o5erbn);
}
.bdm0x7c {
  --bdm0x70: var(--o5erbo);
}
.bdm0x7d {
  --bdm0x70: var(--o5erbp);
}
.bdm0x7e {
  align-items: flex-start;
}
.bdm0x7f {
  align-items: center;
}
.bdm0x7g {
  align-items: flex-end;
}
.qmb5mu0 {
  width: 200px;
}
._17zewh11 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1hj3je1l);
}
._17zewh12 {
  width: fit-content;
}
._17zewh14 {
  width: fit-content;
  justify-self: flex-end;
}
._17zewh17:not(._17zewh15) {
  opacity: 0;
  transform: translateX(var(--o5erbj));
  pointer-events: none;
}
._17zewh19 {
  background: transparent;
  color: var(--_1hj3je1g);
  isolation: isolate;
}
._17zewh19::after {
  content: "";
  position: absolute;
  transition: var(--o5erbf);
  z-index: -1;
  inset: calc(var(--o5erbj) * -1);
  background-color: var(--_1hj3je1n);
  border-radius: var(--o5erb9);
}
._17zewh19:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 6px;
}
._17zewh19:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._17zewh1b {
  margin: calc(var(--o5erbk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._17zewh1f {
  appearance: none;
  outline: none;
  background: var(--_1hj3je1l);
  color: var(--_1hj3je17);
  border: 1px solid var(--_1hj3je1r);
  height: var(--o5erbr);
}
._17zewh1f:hover, ._17zewh1f[data-popup-open] {
  background-color: var(--_1hj3je1n);
}
._17zewh1f:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  z-index: 1;
}
._17zewh1h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._17zewh1j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._17zewh1k {
  color: var(--_1hj3je1c);
}
._17zewh1m {
  height: 1px;
  background-color: var(--_1hj3je1r);
}
@media screen and (max-width: 767px) {
  ._17zewh14 {
    display: none;
  }
}
._1il6a4o2 {
  flex: 1;
  min-height: 0;
}
._1il6a4o5 {
  --_1il6a4o3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1il6a4o3), 1fr);
}
._1il6a4o7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1il6a4o9 {
  height: calc(100% / var(--_1il6a4o0));
  width: calc(100% / var(--_1il6a4o0));
  border-radius: calc(var(--o5erb9) / var(--_1il6a4o0));
  transform: scale(var(--_1il6a4o0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1il6a4o0));
}
._1il6a4ob {
  background: var(--_1hj3je1n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1il6a4od {
  background: transparent;
  outline: 1px solid var(--_1hj3je1r);
}
._1il6a4od:hover {
  outline: 2px solid var(--_1hj3je1s);
}
._1il6a4od:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 2px;
}
._1il6a4oh {
  list-style: none;
}
._1il6a4oj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1hj3je1r);
}
._1il6a4oj:hover {
  outline: 2px solid var(--_1hj3je1s);
}
._1il6a4oj:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1il6a4o5 {
    --_1il6a4o3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1il6a4o5 {
    --_1il6a4o3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1il6a4o5 {
    --_1il6a4o3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1il6a4o5 {
    --_1il6a4o3: 5;
  }
}
.g3fsq1 {
  width: fit-content;
}
.g3fsq3:focus-visible ~ .g3fsq5 {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 4px;
}
.g3fsq8 {
  min-width: 0;
}
.g3fsq9 {
  flex-shrink: 0;
}
._1gg72em2 {
  outline: none;
  height: var(--o5erbr);
  color: var(--_1hj3je17);
  background: transparent;
}
._1gg72em2::placeholder {
  color: var(--_1hj3je19);
  font-weight: strong;
}
._1gg72em2:hover:not(:focus-visible), ._1gg72em2:hover:not(:focus-visible)::placeholder {
  background: var(--_1hj3je1n);
  opacity: 1;
  color: transparent;
}
._1gg72em2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1gg72em2:focus-visible {
  outline: 2px solid var(--_1hj3je1u);
  outline-offset: 0;
  opacity: 1;
}
._1gg72em2:focus-visible::placeholder {
  color: transparent;
}
._1gg72em4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1hj3je17);
}
._1gg72em2:focus-visible ~ ._1gg72em4 {
  opacity: 0;
}
._1gg72em5 {
  color: var(--_1hj3je19);
}
._1ufwgpd3 {
  border: 1px solid var(--_1hj3je1r);
}
._1ufwgpd5 {
  background-color: var(--_1hj3je1q);
  border-bottom: 1px solid var(--_1hj3je1r);
}
._1ufwgpd8 {
  background-color: var(--_1hj3je1q);
  border-top: 1px solid var(--_1hj3je1r);
}
._1ufwgpdc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1ufwgpd6 {
    display: none;
  }
}
