._1tlpgv11 {
  background-color: var(--_5m9u97l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_5m9u97q);
}
._1tlpgv12::before {
  content: "";
  position: absolute;
  min-height: var(--_1cvmeltc);
  min-width: var(--_1cvmeltc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1wn8dqd2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1wn8dqd4 {
  border: 1px solid var(--_5m9u97q);
  background-color: var(--_5m9u97k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1wn8dqd4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_5m9u97m);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1wn8dqd4:hover::after {
  opacity: 1;
}
._1wn8dqd4:focus-visible::after {
  opacity: 1;
}
._1wn8dqd4:active:not([disabled]) {
  transform: scale(0.97);
}
._1wn8dqd4:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 0;
}
._1wn8dqd6 {
  isolation: isolate;
}
._1wn8dqd8 {
  height: var(--_1wn8dqd0);
}
._1wn8dqda {
  border-color: var(--_5m9u97c);
}
._1wn8dqda::after {
  background-color: var(--_5m9u97h);
}
._1wn8dqdb {
  border-color: var(--_5m9u97a);
}
._1wn8dqdb::after {
  background-color: var(--_5m9u97i);
}
._1wn8dqdc {
  --_1wn8dqd0: var(--_1cvmeltq);
}
._1wn8dqdd {
  --_1wn8dqd0: var(--_1cvmeltr);
}
._1wn8dqde {
  --_1wn8dqd0: var(--_1cvmelts);
}
.ixhzsm1 {
  --_5m9u977: var(--_5m9u97d);
  background-color: var(--_5m9u97n);
  outline: 1px solid var(--_5m9u97s);
  outline-offset: -1px;
}
.nkhvd43 {
  background: transparent;
  outline: none;
  height: var(--nkhvd40) !important;
  width: var(--nkhvd40) !important;
}
.nkhvd46 {
  padding: var(--nkhvd44);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--nkhvd41);
  isolation: isolate;
}
.nkhvd43[data-pressed] .nkhvd46, .nkhvd43:active .nkhvd46 {
  transform: scale(.95);
}
.nkhvd43:focus-visible .nkhvd46 {
  outline: 2px solid var(--_5m9u97t);
}
.nkhvd43[aria-disabled="true"] .nkhvd46 {
  --nkhvd41: var(--_5m9u979);
}
.nkhvd47 {
  --nkhvd40: var(--_1cvmeltq);
  --nkhvd44: 6px;
}
.nkhvd48 {
  --nkhvd40: var(--_1cvmeltr);
  --nkhvd44: var(--_1cvmeltj);
}
.nkhvd49 {
  --nkhvd40: var(--_1cvmelts);
  --nkhvd44: var(--_1cvmeltj);
}
.nkhvd4a {
  --nkhvd41: var(--_5m9u977);
}
.nkhvd4b {
  --nkhvd41: var(--_5m9u97b);
}
.nkhvd4c {
  --nkhvd41: var(--_5m9u97c);
}
.nkhvd4d {
  background-color: var(--_5m9u97k);
  outline: 1px solid var(--_5m9u97q);
  outline-offset: -1px;
}
.nkhvd43:not([aria-disabled="true"]):hover > .nkhvd4d, .nkhvd43:not([aria-disabled="true"])[data-popup-open] > .nkhvd4d {
  background-color: var(--_5m9u97m);
}
.nkhvd4e {
  --nkhvd41: var(--_5m9u978);
  background-color: var(--_5m9u97f);
}
.nkhvd43:not([aria-disabled="true"]):hover > .nkhvd4e, .nkhvd43:not([aria-disabled="true"])[data-popup-open] > .nkhvd4e {
  background-color: var(--_5m9u97g);
}
.nkhvd43:not([aria-disabled="true"]):hover > .nkhvd4f, .nkhvd43:not([aria-disabled="true"])[data-popup-open] > .nkhvd4f {
  background-color: var(--_5m9u97m);
}
.nkhvd4g {
  margin: calc((var(--nkhvd44) + 2px) * -1);
}
.nkhvd46 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1u3dq3z1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1u3dq3z2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1u3dq3z2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1u3dq3z4 {
  --_1u3dq3z3: 30px;
}
._1u3dq3z5 {
  --_1u3dq3z3: 45px;
}
._1u3dq3z6 {
  --_1u3dq3z3: 60px;
}
._1u3dq3z7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1u3dq3z8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1u3dq3z9 {
  overflow: auto;
}
._1u3dq3ze {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1u3dq3zc, 0)),linear-gradient(to right, transparent 0, black var(--_1u3dq3za, 0)),linear-gradient(to left, transparent 0, black var(--_1u3dq3zb, 0)),linear-gradient(to top, transparent 0, black var(--_1u3dq3zd, 0));
}
._1u3dq3zf {
  --_1u3dq3za: var(--_1u3dq3z3);
}
._1u3dq3zg {
  --_1u3dq3zb: var(--_1u3dq3z3);
}
._1u3dq3zh {
  --_1u3dq3zc: var(--_1u3dq3z3);
}
._1u3dq3zi {
  --_1u3dq3zd: var(--_1u3dq3z3);
}
._1o1ud042 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1cvmelt8);
  color: var(--_1o1ud040);
  isolation: isolate;
  outline: none;
}
._1o1ud042[data-pressed], ._1o1ud042:active {
  transform: scale(.95);
}
._1o1ud042::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1cvmelti) * -1);
  background-color: var(--_1o1ud040);
  border-radius: var(--_1cvmelt8);
}
._1o1ud042:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1o1ud042:hover, ._1o1ud042[data-popup-open]:not(:focus-visible) {
  color: var(--_5m9u978);
}
._1o1ud042:focus-visible::after {
  outline: 2px solid var(--_5m9u97t);
}
._1o1ud042:focus-visible:not(:hover)::after {
  background: transparent;
}
._1o1ud043 {
  --_1o1ud040: var(--_5m9u97b);
}
._1o1ud044 {
  --_1o1ud040: var(--_5m9u97c);
}
._1o1ud042 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.nlvxxp1 {
  justify-content: safe center;
}
.nlvxxp5 {
  flex-shrink: 0;
  width: var(--nlvxxp2);
}
.nlvxxp5:last-child {
  padding-right: var(--_1cvmeltn);
}
.nlvxxp6 {
  transition: color 150ms ease;
}
.nlvxxp5:hover .nlvxxp6, .nlvxxp5:focus-within .nlvxxp6, .nlvxxp3 .nlvxxp6 {
  color: var(--_5m9u97b);
}
.nlvxxp8 {
  outline: 1px solid var(--_5m9u97q);
}
.nlvxxpa {
  transition: opacity 150ms ease;
}
.nlvxxp5:not(:hover, :focus-within, .nlvxxp3) .nlvxxpa {
  opacity: 1;
}
.nlvxxpc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.nlvxxpa:hover ~ .nlvxxp8 .nlvxxpc, .nlvxxpa:focus-within ~ .nlvxxp8.nlvxxpc {
  outline-color: var(--_5m9u97b);
}
.nlvxxpe {
  transition: opacity 150ms ease;
}
.nlvxxp5:not(:hover, :focus-within, .nlvxxp3) .nlvxxpe {
  opacity: 0;
}
._10jupw91 {
  color: var(--_5m9u977);
  font-family: var(--_1cvmelt0);
}
._10jupw92 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._10jupw93 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._10jupw94 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1f073d51 {
  display: flex;
  flex-direction: column;
  gap: var(--_1f073d50);
}
._1f073d52 {
  --_1f073d50: var(--_1cvmeltg);
}
._1f073d53 {
  --_1f073d50: var(--_1cvmelth);
}
._1f073d54 {
  --_1f073d50: var(--_1cvmelti);
}
._1f073d55 {
  --_1f073d50: var(--_1cvmeltj);
}
._1f073d56 {
  --_1f073d50: var(--_1cvmeltk);
}
._1f073d57 {
  --_1f073d50: var(--_1cvmeltl);
}
._1f073d58 {
  --_1f073d50: var(--_1cvmeltm);
}
._1f073d59 {
  --_1f073d50: var(--_1cvmeltn);
}
._1f073d5a {
  --_1f073d50: var(--_1cvmelto);
}
._1f073d5b {
  --_1f073d50: var(--_1cvmeltp);
}
._1f073d5c {
  align-items: flex-start;
}
._1f073d5d {
  align-items: center;
}
._1f073d5e {
  align-items: flex-end;
}
.kj7q6h1 {
  backdrop-filter: blur(6px);
}
.kj7q6h1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_5m9u97j);
  opacity: 0.4;
}
html[data-playroom-dark] .kj7q6h1::before {
  opacity: 0.7;
}
.kj7q6h1[data-starting-style]::before, .kj7q6h1[data-ending-style]::before {
  opacity: 0;
}
.kj7q6h3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1cvmeltk) * 2));
  max-height: calc(100dvh - (var(--_1cvmeltk) * 2));
}
.kj7q6h3[data-starting-style], .kj7q6h3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.kj7q6h7:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 2px;
}
._1skbfw82 {
  display: flex;
  flex-direction: row;
  gap: var(--_1skbfw80);
  align-items: var(--_1skbfw81);
}
._1skbfw83 {
  flex-wrap: wrap;
}
._1skbfw84 {
  --_1skbfw80: var(--_1cvmeltg);
}
._1skbfw85 {
  --_1skbfw80: var(--_1cvmelth);
}
._1skbfw86 {
  --_1skbfw80: var(--_1cvmelti);
}
._1skbfw87 {
  --_1skbfw80: var(--_1cvmeltj);
}
._1skbfw88 {
  --_1skbfw80: var(--_1cvmeltk);
}
._1skbfw89 {
  --_1skbfw80: var(--_1cvmeltl);
}
._1skbfw8a {
  --_1skbfw80: var(--_1cvmeltm);
}
._1skbfw8b {
  --_1skbfw80: var(--_1cvmeltn);
}
._1skbfw8c {
  --_1skbfw80: var(--_1cvmelto);
}
._1skbfw8d {
  --_1skbfw80: var(--_1cvmeltp);
}
._1skbfw8e {
  align-items: flex-start;
}
._1skbfw8f {
  align-items: center;
}
._1skbfw8g {
  align-items: flex-end;
}
.xewpky0 {
  isolation: isolate;
  white-space: nowrap;
}
.xewpky1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .xewpky3 {
    display: none;
  }
}
.ds1a9p2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.ds1a9p3 {
  width: 250px;
}
.ds1a9p6 {
  --ds1a9p4: var(--_5m9u97m);
  outline: none;
  cursor: default;
  color: var(--_5m9u977);
  height: 34px;
  isolation: isolate;
}
.ds1a9p6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1cvmelt8);
  z-index: -1;
}
.ds1a9p6[data-popup-open]:not([aria-disabled])::before, .ds1a9p6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--ds1a9p4);
}
.ds1a9p6:focus-visible::before {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: -2px;
}
.ds1a9p6[aria-disabled] {
  color: var(--_5m9u979);
  cursor: not-allowed;
}
.ds1a9p7 {
  cursor: pointer;
  text-decoration: none;
}
.ds1a9p7[aria-disabled] {
  cursor: not-allowed;
}
.ds1a9p8 {
  margin-left: 3px;
}
.ds1a9p9 {
  --ds1a9p4: var(--_5m9u97i);
  color: var(--_5m9u97a);
}
.ds1a9pa {
  --ds1a9p4: transparent;
  color: var(--_5m9u97c);
}
.ds1a9pa svg {
  color: var(--_5m9u97c);
}
.ds1a9pc {
  isolation: isolate;
}
.ds1a9pg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.ds1a9pi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_5m9u977);
  z-index: 1;
}
[aria-checked="true"] .ds1a9pi {
  color: var(--_5m9u978);
}
.ds1a9pk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_5m9u977);
  isolation: isolate;
}
[aria-checked="true"] .ds1a9pk {
  background-color: var(--_5m9u97e);
  border-color: var(--_5m9u97e);
}
.ds1a9pp {
  height: 34px;
}
.ds1a9pr {
  height: 1px;
  background-color: var(--_5m9u97q);
}
.ds1a9ps {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.ds1a9pu {
  background: transparent;
  border: none;
}
.ds1a9pu:hover, .ds1a9pu[data-highlighted] {
  background-color: var(--_5m9u97m);
}
.ds1a9pu:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: -2px;
}
._18k29m70 {
  width: 200px;
}
._1sixjpi1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_5m9u97k);
}
._1sixjpi2 {
  width: fit-content;
}
._1sixjpi4 {
  width: fit-content;
  justify-self: flex-end;
}
._1sixjpi7:not(._1sixjpi5) {
  opacity: 0;
  transform: translateX(var(--_1cvmeltj));
  pointer-events: none;
}
._1sixjpi9 {
  background: transparent;
  color: var(--_5m9u97f);
  isolation: isolate;
}
._1sixjpi9::after {
  content: "";
  position: absolute;
  transition: var(--_1cvmeltf);
  z-index: -1;
  inset: calc(var(--_1cvmeltj) * -1);
  background-color: var(--_5m9u97m);
  border-radius: var(--_1cvmelt9);
}
._1sixjpi9:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 6px;
}
._1sixjpi9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1sixjpib {
  margin: calc(var(--_1cvmeltk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1sixjpif {
  appearance: none;
  outline: none;
  background: var(--_5m9u97k);
  color: var(--_5m9u977);
  border: 1px solid var(--_5m9u97q);
  height: var(--_1cvmeltr);
}
._1sixjpif:hover, ._1sixjpif[data-popup-open] {
  background-color: var(--_5m9u97m);
}
._1sixjpif:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  z-index: 1;
}
._1sixjpih {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1sixjpij {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1sixjpik {
  color: var(--_5m9u97c);
}
._1sixjpim {
  height: 1px;
  background-color: var(--_5m9u97q);
}
@media screen and (max-width: 767px) {
  ._1sixjpi4 {
    display: none;
  }
}
.tzi6vw2 {
  flex: 1;
  min-height: 0;
}
.tzi6vw5 {
  --tzi6vw3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--tzi6vw3), 1fr);
}
.tzi6vw7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.tzi6vw9 {
  height: calc(100% / var(--tzi6vw0));
  width: calc(100% / var(--tzi6vw0));
  border-radius: calc(var(--_1cvmelt9) / var(--tzi6vw0));
  transform: scale(var(--tzi6vw0));
  transform-origin: 0 0;
  padding: calc(1px / var(--tzi6vw0));
}
.tzi6vwb {
  background: var(--_5m9u97m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tzi6vwd {
  background: transparent;
  outline: 1px solid var(--_5m9u97q);
}
.tzi6vwd:hover {
  outline: 2px solid var(--_5m9u97r);
}
.tzi6vwd:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 2px;
}
.tzi6vwh {
  list-style: none;
}
.tzi6vwj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_5m9u97q);
}
.tzi6vwj:hover {
  outline: 2px solid var(--_5m9u97r);
}
.tzi6vwj:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .tzi6vw5 {
    --tzi6vw3: 2;
  }
}
@media screen and (min-width: 800px) {
  .tzi6vw5 {
    --tzi6vw3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .tzi6vw5 {
    --tzi6vw3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .tzi6vw5 {
    --tzi6vw3: 5;
  }
}
._17zi22d1 {
  width: fit-content;
}
._17zi22d3:focus-visible ~ ._17zi22d5 {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 4px;
}
._17zi22d8 {
  min-width: 0;
}
._17zi22d9 {
  flex-shrink: 0;
}
.yz6ki02 {
  outline: none;
  height: var(--_1cvmeltr);
  color: var(--_5m9u977);
  background: transparent;
}
.yz6ki02::placeholder {
  color: var(--_5m9u979);
  font-weight: strong;
}
.yz6ki02:hover:not(:focus-visible), .yz6ki02:hover:not(:focus-visible)::placeholder {
  background: var(--_5m9u97m);
  opacity: 1;
  color: transparent;
}
.yz6ki02:hover:not(:focus-visible)::selection {
  background: transparent;
}
.yz6ki02:focus-visible {
  outline: 2px solid var(--_5m9u97t);
  outline-offset: 0;
  opacity: 1;
}
.yz6ki02:focus-visible::placeholder {
  color: transparent;
}
.yz6ki04 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_5m9u977);
}
.yz6ki02:focus-visible ~ .yz6ki04 {
  opacity: 0;
}
.yz6ki05 {
  color: var(--_5m9u979);
}
._18izcii3 {
  border: 1px solid var(--_5m9u97q);
}
._18izcii5 {
  background-color: var(--_5m9u97p);
  border-bottom: 1px solid var(--_5m9u97q);
}
._18izcii8 {
  background-color: var(--_5m9u97p);
  border-top: 1px solid var(--_5m9u97q);
}
._18izciic {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._18izcii6 {
    display: none;
  }
}
