.ryans31 {
  background-color: var(--_1gfc11rl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1gfc11ro);
}
.ryans32::before {
  content: "";
  position: absolute;
  min-height: var(--q7zdm1c);
  min-width: var(--q7zdm1c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1aq78pu2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1aq78pu4 {
  border: 1px solid var(--_1gfc11ro);
  background-color: var(--_1gfc11rk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1aq78pu4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1gfc11rm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1aq78pu4:hover::after {
  opacity: 1;
}
._1aq78pu4:focus-visible::after {
  opacity: 1;
}
._1aq78pu4:active {
  transform: scale(0.97);
}
._1aq78pu4:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  outline-offset: 0;
}
._1aq78pu6 {
  height: var(--_1aq78pu0);
}
._1aq78pu8 {
  border-color: var(--_1gfc11rc);
}
._1aq78pu8::after {
  background-color: var(--_1gfc11rh);
}
._1aq78pu9 {
  border-color: var(--_1gfc11ra);
}
._1aq78pu9::after {
  background-color: var(--_1gfc11ri);
}
._1aq78pua {
  --_1aq78pu0: var(--q7zdm1q);
}
._1aq78pub {
  --_1aq78pu0: var(--q7zdm1r);
}
._1aq78puc {
  --_1aq78pu0: var(--q7zdm1s);
}
._9syl0g1 {
  --_1gfc11r7: var(--_1gfc11rd);
  background-color: var(--_1gfc11rn);
  outline: 1px solid var(--_1gfc11rq);
  outline-offset: -1px;
}
.a98yvz3 {
  background: transparent;
  outline: none;
  height: var(--a98yvz0);
  width: var(--a98yvz0);
}
.a98yvz5 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--a98yvz1);
  isolation: isolate;
}
.a98yvz3[data-pressed] .a98yvz5, .a98yvz3:active .a98yvz5 {
  transform: scale(.95);
}
.a98yvz3:focus-visible .a98yvz5 {
  outline: 2px solid var(--_1gfc11rr);
}
.a98yvz6 {
  --a98yvz0: var(--q7zdm1q);
}
.a98yvz7 {
  --a98yvz0: var(--q7zdm1r);
}
.a98yvz8 {
  --a98yvz0: var(--q7zdm1s);
}
.a98yvz9 {
  --a98yvz1: var(--_1gfc11r7);
}
.a98yvza {
  --a98yvz1: var(--_1gfc11rb);
}
.a98yvzb {
  --a98yvz1: var(--_1gfc11rc);
}
.a98yvzc {
  background-color: var(--_1gfc11rk);
  outline: 1px solid var(--_1gfc11ro);
  outline-offset: -1px;
}
.a98yvzc:hover, [data-popup-open] > .a98yvzc {
  background-color: var(--_1gfc11rm);
}
.a98yvzd {
  --a98yvz1: var(--_1gfc11r8);
  background-color: var(--_1gfc11rf);
}
.a98yvzd:hover, [data-popup-open] > .a98yvzd {
  background-color: var(--_1gfc11rg);
}
.a98yvze:hover, [data-popup-open] > .a98yvze {
  background-color: var(--_1gfc11rm);
}
.a98yvzf {
  margin: calc((var(--q7zdm1j) + 2px) * -1);
}
.a98yvz5 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1ozuk3p0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  ._1ozuk3p1 {
    display: none;
  }
}
._12882mf1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._12882mf2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._12882mf2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._12882mf4 {
  --_12882mf3: 40px;
}
._12882mf5 {
  --_12882mf3: 60px;
}
._12882mf6 {
  --_12882mf3: 80px;
}
._12882mf7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._12882mf8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._12882mf9 {
  overflow: auto;
}
._12882mfe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_12882mfc, 0)),linear-gradient(to right, transparent 0, black var(--_12882mfa, 0)),linear-gradient(to left, transparent 0, black var(--_12882mfb, 0)),linear-gradient(to top, transparent 0, black var(--_12882mfd, 0));
}
._12882mff {
  --_12882mfa: var(--_12882mf3);
}
._12882mfg {
  --_12882mfb: var(--_12882mf3);
}
._12882mfh {
  --_12882mfc: var(--_12882mf3);
}
._12882mfi {
  --_12882mfd: var(--_12882mf3);
}
.y0rqhj0 {
  transition: var(--q7zdm1e);
  transform-origin: 50% 50%;
}
.y0rqhj1 {
  transform: rotate(90deg);
}
.y0rqhj2 {
  transform: rotate(180deg);
}
.y0rqhj3 {
  transform: rotate(270deg);
}
._1gw8d4g2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1gw8d4g3 {
  width: 250px;
}
._1gw8d4g6 {
  --_1gw8d4g4: var(--_1gfc11rm);
  outline: none;
  cursor: default;
  color: var(--_1gfc11r7);
  height: 34px;
}
._1gw8d4g6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--q7zdm18);
}
._1gw8d4g6[data-popup-open]:not([aria-disabled])::before, ._1gw8d4g6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1gw8d4g4);
}
._1gw8d4g6:focus-visible::before {
  outline: 2px solid var(--_1gfc11rr);
  outline-offset: -2px;
}
._1gw8d4g6[aria-disabled] {
  color: var(--_1gfc11r9);
  cursor: not-allowed;
}
._1gw8d4g8 {
  text-decoration: none;
}
._1gw8d4g8[aria-disabled] {
  cursor: not-allowed;
}
._1gw8d4g9 {
  --_1gw8d4g4: var(--_1gfc11ri);
  color: var(--_1gfc11ra);
}
._1gw8d4ga {
  --_1gw8d4g4: transparent;
  color: var(--_1gfc11rc);
}
._1gw8d4ga svg {
  color: var(--_1gfc11rc);
}
._1gw8d4gc {
  isolation: isolate;
}
._1gw8d4gg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1gw8d4gi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1gfc11r7);
  z-index: 1;
}
[aria-checked="true"] ._1gw8d4gi {
  color: var(--_1gfc11r8);
}
._1gw8d4gk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1gfc11r7);
  isolation: isolate;
}
[aria-checked="true"] ._1gw8d4gk {
  background-color: var(--_1gfc11re);
  border-color: var(--_1gfc11re);
}
._1gw8d4gn {
  height: 1px;
  background-color: var(--_1gfc11ro);
}
._1gw8d4go {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1gw8d4gq {
  background: transparent;
  border: none;
  margin: calc(var(--q7zdm1j) * -1);
}
._1gw8d4gq:hover, ._1gw8d4gq[data-highlighted] {
  background-color: var(--_1gfc11rm);
}
._1gw8d4gq:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  outline-offset: -2px;
}
.l2te5i2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--q7zdm18);
  color: var(--l2te5i0);
  isolation: isolate;
  outline: none;
}
.l2te5i2[data-pressed], .l2te5i2:active {
  transform: scale(.95);
}
.l2te5i2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--q7zdm1i) * -1);
  background-color: var(--l2te5i0);
  border-radius: var(--q7zdm18);
}
.l2te5i2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.l2te5i2:hover, .l2te5i2[data-popup-open]:not(:focus-visible) {
  color: var(--_1gfc11r8);
}
.l2te5i2:focus-visible::after {
  outline: 2px solid var(--_1gfc11rr);
}
.l2te5i2:focus-visible:not(:hover)::after {
  background: transparent;
}
.l2te5i3 {
  --l2te5i0: var(--_1gfc11rb);
}
.l2te5i4 {
  --l2te5i0: var(--_1gfc11rc);
}
.l2te5i2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._6c00it1 {
  justify-content: safe center;
}
._6c00it5 {
  flex-shrink: 0;
  width: var(--_6c00it2);
}
._6c00it6 {
  transition: color 150ms ease;
}
._6c00it5:hover ._6c00it6, ._6c00it5:focus-within ._6c00it6, ._6c00it3 ._6c00it6 {
  color: var(--_1gfc11rb);
}
._6c00it8 {
  border: 1px solid var(--_1gfc11ro);
}
._6c00ita {
  transition: opacity 150ms ease;
}
._6c00it5:not(:hover, :focus-within, ._6c00it3) ._6c00ita {
  opacity: 1;
}
._6c00itc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._6c00ita:hover ~ ._6c00it8 ._6c00itc, ._6c00ita:focus-within ~ ._6c00it8._6c00itc {
  outline-color: var(--_1gfc11rb);
}
._6c00ite {
  transition: opacity 150ms ease;
}
._6c00it5:not(:hover, :focus-within, ._6c00it3) ._6c00ite {
  opacity: 0;
}
._1jxua5p1 {
  color: var(--_1gfc11r7);
  font-family: var(--q7zdm10);
}
._1jxua5p2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._1jxua5p3 {
  --_17tbwdk0: 24px;
  --_17tbwdk1: 30px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1jxua5p4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1mudqpm1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1mudqpm0);
}
._1mudqpm2 {
  --_1mudqpm0: var(--q7zdm1g);
}
._1mudqpm3 {
  --_1mudqpm0: var(--q7zdm1h);
}
._1mudqpm4 {
  --_1mudqpm0: var(--q7zdm1i);
}
._1mudqpm5 {
  --_1mudqpm0: var(--q7zdm1j);
}
._1mudqpm6 {
  --_1mudqpm0: var(--q7zdm1k);
}
._1mudqpm7 {
  --_1mudqpm0: var(--q7zdm1l);
}
._1mudqpm8 {
  --_1mudqpm0: var(--q7zdm1m);
}
._1mudqpm9 {
  --_1mudqpm0: var(--q7zdm1n);
}
._1mudqpma {
  --_1mudqpm0: var(--q7zdm1o);
}
._1mudqpmb {
  --_1mudqpm0: var(--q7zdm1p);
}
._9brrf01 {
  background-color: black;
  opacity: 0.2;
}
html[data-playroom-dark] ._9brrf01 {
  opacity: 0.7;
}
._9brrf01[data-starting-style], ._9brrf01[data-ending-style] {
  opacity: 0;
}
._9brrf03 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-width: calc(100dvw - (var(--q7zdm1k) * 2));
  max-height: calc(100dvh - (var(--q7zdm1k) * 2));
}
._9brrf03[data-starting-style], ._9brrf03[data-ending-style] {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
}
._9brrf07:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  outline-offset: 2px;
}
._1t3w7v53 {
  --_1t3w7v51: 1;
  display: grid;
  grid-template-columns: repeat(var(--_1t3w7v51), 1fr);
}
._1t3w7v55 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1t3w7v57 {
  height: calc(100% / var(--_1t3w7v50));
  width: calc(100% / var(--_1t3w7v50));
  border-radius: calc(var(--q7zdm19) / var(--_1t3w7v50));
  transform: scale(var(--_1t3w7v50));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1t3w7v50));
}
._1t3w7v59 {
  background: var(--_1gfc11rm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1t3w7v5b {
  background: transparent;
  outline: 1px solid var(--_1gfc11ro);
}
._1t3w7v5b:hover {
  outline: 2px solid var(--_1gfc11rp);
}
._1t3w7v5b:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1t3w7v53 {
    --_1t3w7v51: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1t3w7v53 {
    --_1t3w7v51: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1t3w7v53 {
    --_1t3w7v51: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1t3w7v53 {
    --_1t3w7v51: 5;
  }
}
._17293kv2 {
  outline: none;
  height: var(--q7zdm1r);
  color: var(--_1gfc11r7);
  background: transparent;
}
._17293kv2::placeholder {
  color: var(--_1gfc11r9);
  font-weight: normal;
}
._17293kv2:hover:not(:focus-visible) {
  background: var(--_1gfc11rm);
  opacity: 1;
  color: transparent;
}
._17293kv2:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  opacity: 1;
}
._17293kv2:focus-visible::placeholder {
  color: transparent;
}
._17293kv4 {
  max-width: 50vw;
  min-width: 240px;
}
._17293kv2:focus-visible ~ ._17293kv4 {
  opacity: 0;
}
._17293kv5 {
  white-space: pre;
}
._1vkys8h1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1gfc11rk);
}
._1vkys8h2 {
  width: fit-content;
}
._1vkys8h4 {
  width: fit-content;
  justify-self: flex-end;
}
._1vkys8h6 {
  background: transparent;
  color: var(--_1gfc11rf);
  isolation: isolate;
}
._1vkys8h6::after {
  content: "";
  position: absolute;
  transition: var(--q7zdm1f);
  z-index: -1;
  inset: calc(var(--q7zdm1j) * -1);
  background-color: var(--_1gfc11rm);
  border-radius: var(--q7zdm19);
}
._1vkys8h6:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  outline-offset: 6px;
}
._1vkys8h6:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1vkys8h8 {
  margin: calc(var(--q7zdm1k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1vkys8hc {
  appearance: none;
  outline: none;
  background: var(--_1gfc11rk);
  color: var(--_1gfc11r7);
  border: 1px solid var(--_1gfc11ro);
  height: var(--q7zdm1r);
}
._1vkys8hc:hover, ._1vkys8hc[data-popup-open] {
  background-color: var(--_1gfc11rm);
}
._1vkys8hc:focus-visible {
  outline: 2px solid var(--_1gfc11rr);
  z-index: 1;
}
._1vkys8he {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1vkys8hg {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1vkys8hi {
  color: var(--_1gfc11rc);
}
@media screen and (max-width: 767px) {
  ._1vkys8h4 {
    display: none;
  }
}
.qpcb8p2 {
  border: 1px solid var(--_1gfc11ro);
  border-radius: var(--q7zdm19);
}
.qpcb8p4 {
  border-bottom: 1px solid var(--_1gfc11ro);
  gap: 12px;
}
.qpcb8p7 {
  border-top: 1px solid var(--_1gfc11ro);
  gap: 12px;
}
.qpcb8pb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .qpcb8p5 {
    display: none;
  }
}
