.bnwpr41 {
  background-color: var(--_10b1yt6l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_10b1yt6q);
}
.bnwpr42::before {
  content: "";
  position: absolute;
  min-height: var(--eh5bajc);
  min-width: var(--eh5bajc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.xllc9v2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.xllc9v4 {
  border: 1px solid var(--_10b1yt6q);
  background-color: var(--_10b1yt6k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.xllc9v4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_10b1yt6m);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.xllc9v4:hover::after {
  opacity: 1;
}
.xllc9v4:focus-visible::after {
  opacity: 1;
}
.xllc9v4:active:not([disabled]) {
  transform: scale(0.97);
}
.xllc9v4:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 0;
}
.xllc9v6 {
  isolation: isolate;
}
.xllc9v8 {
  height: var(--xllc9v0);
}
.xllc9va {
  border-color: var(--_10b1yt6c);
}
.xllc9va::after {
  background-color: var(--_10b1yt6h);
}
.xllc9vb {
  border-color: var(--_10b1yt6a);
}
.xllc9vb::after {
  background-color: var(--_10b1yt6i);
}
.xllc9vc {
  --xllc9v0: var(--eh5bajq);
}
.xllc9vd {
  --xllc9v0: var(--eh5bajr);
}
.xllc9ve {
  --xllc9v0: var(--eh5bajs);
}
._1d7m8ep1 {
  --_10b1yt67: var(--_10b1yt6d);
  background-color: var(--_10b1yt6n);
  outline: 1px solid var(--_10b1yt6s);
  outline-offset: -1px;
}
.qe3453 {
  background: transparent;
  outline: none;
  height: var(--qe3450) !important;
  width: var(--qe3450) !important;
}
.qe3456 {
  padding: var(--qe3454);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--qe3451);
  isolation: isolate;
}
.qe3453[data-pressed] .qe3456, .qe3453:active .qe3456 {
  transform: scale(.95);
}
.qe3453:focus-visible .qe3456 {
  outline: 2px solid var(--_10b1yt6t);
}
.qe3453[aria-disabled="true"] .qe3456 {
  --qe3451: var(--_10b1yt69);
}
.qe3457 {
  --qe3450: var(--eh5bajq);
  --qe3454: 6px;
}
.qe3458 {
  --qe3450: var(--eh5bajr);
  --qe3454: var(--eh5bajj);
}
.qe3459 {
  --qe3450: var(--eh5bajs);
  --qe3454: var(--eh5bajj);
}
.qe345a {
  --qe3451: var(--_10b1yt67);
}
.qe345b {
  --qe3451: var(--_10b1yt6b);
}
.qe345c {
  --qe3451: var(--_10b1yt6c);
}
.qe345d {
  background-color: var(--_10b1yt6k);
  outline: 1px solid var(--_10b1yt6q);
  outline-offset: -1px;
}
.qe3453:not([aria-disabled="true"]):hover > .qe345d, .qe3453:not([aria-disabled="true"])[data-popup-open] > .qe345d {
  background-color: var(--_10b1yt6m);
}
.qe345e {
  --qe3451: var(--_10b1yt68);
  background-color: var(--_10b1yt6f);
}
.qe3453:not([aria-disabled="true"]):hover > .qe345e, .qe3453:not([aria-disabled="true"])[data-popup-open] > .qe345e {
  background-color: var(--_10b1yt6g);
}
.qe3453:not([aria-disabled="true"]):hover > .qe345f, .qe3453:not([aria-disabled="true"])[data-popup-open] > .qe345f {
  background-color: var(--_10b1yt6m);
}
.qe345g {
  margin: calc((var(--qe3454) + 2px) * -1);
}
.qe3456 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1unjs751 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1unjs752 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1unjs752::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1unjs754 {
  --_1unjs753: 30px;
}
._1unjs755 {
  --_1unjs753: 45px;
}
._1unjs756 {
  --_1unjs753: 60px;
}
._1unjs757 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1unjs758 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1unjs759 {
  overflow: auto;
}
._1unjs75e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1unjs75c, 0)),linear-gradient(to right, transparent 0, black var(--_1unjs75a, 0)),linear-gradient(to left, transparent 0, black var(--_1unjs75b, 0)),linear-gradient(to top, transparent 0, black var(--_1unjs75d, 0));
}
._1unjs75f {
  --_1unjs75a: var(--_1unjs753);
}
._1unjs75g {
  --_1unjs75b: var(--_1unjs753);
}
._1unjs75h {
  --_1unjs75c: var(--_1unjs753);
}
._1unjs75i {
  --_1unjs75d: var(--_1unjs753);
}
._1ge9h7o2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--eh5baj8);
  color: var(--_1ge9h7o0);
  isolation: isolate;
  outline: none;
}
._1ge9h7o2[data-pressed], ._1ge9h7o2:active {
  transform: scale(.95);
}
._1ge9h7o2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--eh5baji) * -1);
  background-color: var(--_1ge9h7o0);
  border-radius: var(--eh5baj8);
}
._1ge9h7o2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1ge9h7o2:hover, ._1ge9h7o2[data-popup-open]:not(:focus-visible) {
  color: var(--_10b1yt68);
}
._1ge9h7o2:focus-visible::after {
  outline: 2px solid var(--_10b1yt6t);
}
._1ge9h7o2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1ge9h7o3 {
  --_1ge9h7o0: var(--_10b1yt6b);
}
._1ge9h7o4 {
  --_1ge9h7o0: var(--_10b1yt6c);
}
._1ge9h7o2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.wf1rxf1 {
  justify-content: safe center;
}
.wf1rxf5 {
  flex-shrink: 0;
  width: var(--wf1rxf2);
}
.wf1rxf5:last-child {
  padding-right: var(--eh5bajn);
}
.wf1rxf6 {
  transition: color 150ms ease;
}
.wf1rxf5:hover .wf1rxf6, .wf1rxf5:focus-within .wf1rxf6, .wf1rxf3 .wf1rxf6 {
  color: var(--_10b1yt6b);
}
.wf1rxf8 {
  outline: 1px solid var(--_10b1yt6q);
}
.wf1rxfa {
  transition: opacity 150ms ease;
}
.wf1rxf5:not(:hover, :focus-within, .wf1rxf3) .wf1rxfa {
  opacity: 1;
}
.wf1rxfc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.wf1rxfa:hover ~ .wf1rxf8 .wf1rxfc, .wf1rxfa:focus-within ~ .wf1rxf8.wf1rxfc {
  outline-color: var(--_10b1yt6b);
}
.wf1rxfe {
  transition: opacity 150ms ease;
}
.wf1rxf5:not(:hover, :focus-within, .wf1rxf3) .wf1rxfe {
  opacity: 0;
}
._9s3o511 {
  color: var(--_10b1yt67);
  font-family: var(--eh5baj0);
}
._9s3o512 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._9s3o513 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._9s3o514 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1i5dcji1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1i5dcji0);
}
._1i5dcji2 {
  --_1i5dcji0: var(--eh5bajg);
}
._1i5dcji3 {
  --_1i5dcji0: var(--eh5bajh);
}
._1i5dcji4 {
  --_1i5dcji0: var(--eh5baji);
}
._1i5dcji5 {
  --_1i5dcji0: var(--eh5bajj);
}
._1i5dcji6 {
  --_1i5dcji0: var(--eh5bajk);
}
._1i5dcji7 {
  --_1i5dcji0: var(--eh5bajl);
}
._1i5dcji8 {
  --_1i5dcji0: var(--eh5bajm);
}
._1i5dcji9 {
  --_1i5dcji0: var(--eh5bajn);
}
._1i5dcjia {
  --_1i5dcji0: var(--eh5bajo);
}
._1i5dcjib {
  --_1i5dcji0: var(--eh5bajp);
}
._1i5dcjic {
  align-items: flex-start;
}
._1i5dcjid {
  align-items: center;
}
._1i5dcjie {
  align-items: flex-end;
}
.om95ft1 {
  backdrop-filter: blur(6px);
}
.om95ft1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_10b1yt6j);
  opacity: 0.4;
}
html[data-playroom-dark] .om95ft1::before {
  opacity: 0.7;
}
.om95ft1[data-starting-style]::before, .om95ft1[data-ending-style]::before {
  opacity: 0;
}
.om95ft3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--eh5bajk) * 2));
  max-height: calc(100dvh - (var(--eh5bajk) * 2));
}
.om95ft3[data-starting-style], .om95ft3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.om95ft7:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 2px;
}
._1490xir2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1490xir0);
  align-items: var(--_1490xir1);
}
._1490xir3 {
  flex-wrap: wrap;
}
._1490xir4 {
  --_1490xir0: var(--eh5bajg);
}
._1490xir5 {
  --_1490xir0: var(--eh5bajh);
}
._1490xir6 {
  --_1490xir0: var(--eh5baji);
}
._1490xir7 {
  --_1490xir0: var(--eh5bajj);
}
._1490xir8 {
  --_1490xir0: var(--eh5bajk);
}
._1490xir9 {
  --_1490xir0: var(--eh5bajl);
}
._1490xira {
  --_1490xir0: var(--eh5bajm);
}
._1490xirb {
  --_1490xir0: var(--eh5bajn);
}
._1490xirc {
  --_1490xir0: var(--eh5bajo);
}
._1490xird {
  --_1490xir0: var(--eh5bajp);
}
._1490xire {
  align-items: flex-start;
}
._1490xirf {
  align-items: center;
}
._1490xirg {
  align-items: flex-end;
}
.suancn0 {
  isolation: isolate;
  white-space: nowrap;
}
.suancn1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .suancn3 {
    display: none;
  }
}
._11t8az02 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._11t8az03 {
  width: 250px;
}
._11t8az06 {
  --_11t8az04: var(--_10b1yt6m);
  outline: none;
  cursor: default;
  color: var(--_10b1yt67);
  height: 34px;
  isolation: isolate;
}
._11t8az06::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--eh5baj8);
  z-index: -1;
}
._11t8az06[data-popup-open]:not([aria-disabled])::before, ._11t8az06[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_11t8az04);
}
._11t8az06:focus-visible::before {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: -2px;
}
._11t8az06[aria-disabled] {
  color: var(--_10b1yt69);
  cursor: not-allowed;
}
._11t8az07 {
  cursor: pointer;
  text-decoration: none;
}
._11t8az07[aria-disabled] {
  cursor: not-allowed;
}
._11t8az08 {
  margin-left: 3px;
}
._11t8az09 {
  --_11t8az04: var(--_10b1yt6i);
  color: var(--_10b1yt6a);
}
._11t8az0a {
  --_11t8az04: transparent;
  color: var(--_10b1yt6c);
}
._11t8az0a svg {
  color: var(--_10b1yt6c);
}
._11t8az0c {
  isolation: isolate;
}
._11t8az0g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._11t8az0i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_10b1yt67);
  z-index: 1;
}
[aria-checked="true"] ._11t8az0i {
  color: var(--_10b1yt68);
}
._11t8az0k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_10b1yt67);
  isolation: isolate;
}
[aria-checked="true"] ._11t8az0k {
  background-color: var(--_10b1yt6e);
  border-color: var(--_10b1yt6e);
}
._11t8az0p {
  height: 34px;
}
._11t8az0r {
  height: 1px;
  background-color: var(--_10b1yt6q);
}
._11t8az0t {
  background: transparent;
  border: none;
}
._11t8az0t:hover, ._11t8az0t[data-highlighted] {
  background-color: var(--_10b1yt6m);
}
._11t8az0t:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: -2px;
}
.nxdvyd0 {
  width: 200px;
}
._1e59s2u1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_10b1yt6k);
}
._1e59s2u2 {
  width: fit-content;
}
._1e59s2u4 {
  width: fit-content;
  justify-self: flex-end;
}
._1e59s2u7:not(._1e59s2u5) {
  opacity: 0;
  transform: translateX(var(--eh5bajj));
  pointer-events: none;
}
._1e59s2u9 {
  background: transparent;
  color: var(--_10b1yt6f);
  isolation: isolate;
}
._1e59s2u9::after {
  content: "";
  position: absolute;
  transition: var(--eh5bajf);
  z-index: -1;
  inset: calc(var(--eh5bajj) * -1);
  background-color: var(--_10b1yt6m);
  border-radius: var(--eh5baj9);
}
._1e59s2u9:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 6px;
}
._1e59s2u9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1e59s2ub {
  margin: calc(var(--eh5bajk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1e59s2uf {
  appearance: none;
  outline: none;
  background: var(--_10b1yt6k);
  color: var(--_10b1yt67);
  border: 1px solid var(--_10b1yt6q);
  height: var(--eh5bajr);
}
._1e59s2uf:hover, ._1e59s2uf[data-popup-open] {
  background-color: var(--_10b1yt6m);
}
._1e59s2uf:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  z-index: 1;
}
._1e59s2uh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1e59s2uj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1e59s2uk {
  color: var(--_10b1yt6c);
}
._1e59s2um {
  height: 1px;
  background-color: var(--_10b1yt6q);
}
@media screen and (max-width: 767px) {
  ._1e59s2u4 {
    display: none;
  }
}
._1t93nxx2 {
  flex: 1;
  min-height: 0;
}
._1t93nxx5 {
  --_1t93nxx3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1t93nxx3), 1fr);
}
._1t93nxx7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1t93nxx9 {
  height: calc(100% / var(--_1t93nxx0));
  width: calc(100% / var(--_1t93nxx0));
  border-radius: calc(var(--eh5baj9) / var(--_1t93nxx0));
  transform: scale(var(--_1t93nxx0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1t93nxx0));
}
._1t93nxxb {
  background: var(--_10b1yt6m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1t93nxxd {
  background: transparent;
  outline: 1px solid var(--_10b1yt6q);
}
._1t93nxxd:hover {
  outline: 2px solid var(--_10b1yt6r);
}
._1t93nxxd:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 2px;
}
._1t93nxxh {
  list-style: none;
}
._1t93nxxj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_10b1yt6q);
}
._1t93nxxj:hover {
  outline: 2px solid var(--_10b1yt6r);
}
._1t93nxxj:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1t93nxx5 {
    --_1t93nxx3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1t93nxx5 {
    --_1t93nxx3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1t93nxx5 {
    --_1t93nxx3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1t93nxx5 {
    --_1t93nxx3: 5;
  }
}
._1g2bb5l1 {
  width: fit-content;
}
._1g2bb5l3:focus-visible ~ ._1g2bb5l5 {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 4px;
}
._1g2bb5l8 {
  min-width: 0;
}
._1g2bb5l9 {
  flex-shrink: 0;
}
._1bmq8zl2 {
  outline: none;
  height: var(--eh5bajr);
  color: var(--_10b1yt67);
  background: transparent;
}
._1bmq8zl2::placeholder {
  color: var(--_10b1yt69);
  font-weight: strong;
}
._1bmq8zl2:hover:not(:focus-visible), ._1bmq8zl2:hover:not(:focus-visible)::placeholder {
  background: var(--_10b1yt6m);
  opacity: 1;
  color: transparent;
}
._1bmq8zl2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1bmq8zl2:focus-visible {
  outline: 2px solid var(--_10b1yt6t);
  outline-offset: 0;
  opacity: 1;
}
._1bmq8zl2:focus-visible::placeholder {
  color: transparent;
}
._1bmq8zl4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_10b1yt67);
}
._1bmq8zl2:focus-visible ~ ._1bmq8zl4 {
  opacity: 0;
}
._1bmq8zl5 {
  color: var(--_10b1yt69);
}
.ubvi8e3 {
  border: 1px solid var(--_10b1yt6q);
}
.ubvi8e5 {
  background-color: var(--_10b1yt6p);
  border-bottom: 1px solid var(--_10b1yt6q);
}
.ubvi8e8 {
  background-color: var(--_10b1yt6p);
  border-top: 1px solid var(--_10b1yt6q);
}
.ubvi8ec {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .ubvi8e6 {
    display: none;
  }
}
