.wr7gr51 {
  background-color: var(--cpagpjl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--cpagpjq);
}
.wr7gr52::before {
  content: "";
  position: absolute;
  min-height: var(--wejsdlc);
  min-width: var(--wejsdlc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.s62r1w2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.s62r1w4 {
  border: 1px solid var(--cpagpjq);
  background-color: var(--cpagpjk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.s62r1w4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--cpagpjm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.s62r1w4:hover::after {
  opacity: 1;
}
.s62r1w4:focus-visible::after {
  opacity: 1;
}
.s62r1w4:active:not([disabled]) {
  transform: scale(0.97);
}
.s62r1w4:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 0;
}
.s62r1w6 {
  isolation: isolate;
}
.s62r1w8 {
  height: var(--s62r1w0);
}
.s62r1wa {
  border-color: var(--cpagpjc);
}
.s62r1wa::after {
  background-color: var(--cpagpjh);
}
.s62r1wb {
  border-color: var(--cpagpja);
}
.s62r1wb::after {
  background-color: var(--cpagpji);
}
.s62r1wc {
  --s62r1w0: var(--wejsdlq);
}
.s62r1wd {
  --s62r1w0: var(--wejsdlr);
}
.s62r1we {
  --s62r1w0: var(--wejsdls);
}
._12fx1wz1 {
  --cpagpj7: var(--cpagpjd);
  background-color: var(--cpagpjn);
  outline: 1px solid var(--cpagpjs);
  outline-offset: -1px;
}
.fd6r6f3 {
  background: transparent;
  outline: none;
  height: var(--fd6r6f0) !important;
  width: var(--fd6r6f0) !important;
}
.fd6r6f6 {
  padding: var(--fd6r6f4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--fd6r6f1);
  isolation: isolate;
}
.fd6r6f3[data-pressed] .fd6r6f6, .fd6r6f3:active .fd6r6f6 {
  transform: scale(.95);
}
.fd6r6f3:focus-visible .fd6r6f6 {
  outline: 2px solid var(--cpagpjt);
}
.fd6r6f3[aria-disabled="true"] .fd6r6f6 {
  --fd6r6f1: var(--cpagpj9);
}
.fd6r6f7 {
  --fd6r6f0: var(--wejsdlq);
  --fd6r6f4: 6px;
}
.fd6r6f8 {
  --fd6r6f0: var(--wejsdlr);
  --fd6r6f4: var(--wejsdlj);
}
.fd6r6f9 {
  --fd6r6f0: var(--wejsdls);
  --fd6r6f4: var(--wejsdlj);
}
.fd6r6fa {
  --fd6r6f1: var(--cpagpj7);
}
.fd6r6fb {
  --fd6r6f1: var(--cpagpjb);
}
.fd6r6fc {
  --fd6r6f1: var(--cpagpjc);
}
.fd6r6fd {
  background-color: var(--cpagpjk);
  outline: 1px solid var(--cpagpjq);
  outline-offset: -1px;
}
.fd6r6f3:not([aria-disabled="true"]):hover > .fd6r6fd, .fd6r6f3:not([aria-disabled="true"])[data-popup-open] > .fd6r6fd {
  background-color: var(--cpagpjm);
}
.fd6r6fe {
  --fd6r6f1: var(--cpagpj8);
  background-color: var(--cpagpjf);
}
.fd6r6f3:not([aria-disabled="true"]):hover > .fd6r6fe, .fd6r6f3:not([aria-disabled="true"])[data-popup-open] > .fd6r6fe {
  background-color: var(--cpagpjg);
}
.fd6r6f3:not([aria-disabled="true"]):hover > .fd6r6ff, .fd6r6f3:not([aria-disabled="true"])[data-popup-open] > .fd6r6ff {
  background-color: var(--cpagpjm);
}
.fd6r6fg {
  margin: calc((var(--fd6r6f4) + 2px) * -1);
}
.fd6r6f6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.xq0a8w1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.xq0a8w2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.xq0a8w2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.xq0a8w4 {
  --xq0a8w3: 30px;
}
.xq0a8w5 {
  --xq0a8w3: 45px;
}
.xq0a8w6 {
  --xq0a8w3: 60px;
}
.xq0a8w7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.xq0a8w8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.xq0a8w9 {
  overflow: auto;
}
.xq0a8we {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--xq0a8wc, 0)),linear-gradient(to right, transparent 0, black var(--xq0a8wa, 0)),linear-gradient(to left, transparent 0, black var(--xq0a8wb, 0)),linear-gradient(to top, transparent 0, black var(--xq0a8wd, 0));
}
.xq0a8wf {
  --xq0a8wa: var(--xq0a8w3);
}
.xq0a8wg {
  --xq0a8wb: var(--xq0a8w3);
}
.xq0a8wh {
  --xq0a8wc: var(--xq0a8w3);
}
.xq0a8wi {
  --xq0a8wd: var(--xq0a8w3);
}
._13spgsu2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--wejsdl8);
  color: var(--_13spgsu0);
  isolation: isolate;
  outline: none;
}
._13spgsu2[data-pressed], ._13spgsu2:active {
  transform: scale(.95);
}
._13spgsu2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--wejsdli) * -1);
  background-color: var(--_13spgsu0);
  border-radius: var(--wejsdl8);
}
._13spgsu2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._13spgsu2:hover, ._13spgsu2[data-popup-open]:not(:focus-visible) {
  color: var(--cpagpj8);
}
._13spgsu2:focus-visible::after {
  outline: 2px solid var(--cpagpjt);
}
._13spgsu2:focus-visible:not(:hover)::after {
  background: transparent;
}
._13spgsu3 {
  --_13spgsu0: var(--cpagpjb);
}
._13spgsu4 {
  --_13spgsu0: var(--cpagpjc);
}
._13spgsu2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.g5mzgz1 {
  justify-content: safe center;
}
.g5mzgz5 {
  flex-shrink: 0;
  width: var(--g5mzgz2);
}
.g5mzgz5:last-child {
  padding-right: var(--wejsdln);
}
.g5mzgz6 {
  transition: color 150ms ease;
}
.g5mzgz5:hover .g5mzgz6, .g5mzgz5:focus-within .g5mzgz6, .g5mzgz3 .g5mzgz6 {
  color: var(--cpagpjb);
}
.g5mzgz8 {
  outline: 1px solid var(--cpagpjq);
}
.g5mzgza {
  transition: opacity 150ms ease;
}
.g5mzgz5:not(:hover, :focus-within, .g5mzgz3) .g5mzgza {
  opacity: 1;
}
.g5mzgzc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.g5mzgza:hover ~ .g5mzgz8 .g5mzgzc, .g5mzgza:focus-within ~ .g5mzgz8.g5mzgzc {
  outline-color: var(--cpagpjb);
}
.g5mzgze {
  transition: opacity 150ms ease;
}
.g5mzgz5:not(:hover, :focus-within, .g5mzgz3) .g5mzgze {
  opacity: 0;
}
.x6khsg1 {
  color: var(--cpagpj7);
  font-family: var(--wejsdl0);
}
.x6khsg2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
.x6khsg3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
.x6khsg4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1echfnf1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1echfnf0);
}
._1echfnf2 {
  --_1echfnf0: var(--wejsdlg);
}
._1echfnf3 {
  --_1echfnf0: var(--wejsdlh);
}
._1echfnf4 {
  --_1echfnf0: var(--wejsdli);
}
._1echfnf5 {
  --_1echfnf0: var(--wejsdlj);
}
._1echfnf6 {
  --_1echfnf0: var(--wejsdlk);
}
._1echfnf7 {
  --_1echfnf0: var(--wejsdll);
}
._1echfnf8 {
  --_1echfnf0: var(--wejsdlm);
}
._1echfnf9 {
  --_1echfnf0: var(--wejsdln);
}
._1echfnfa {
  --_1echfnf0: var(--wejsdlo);
}
._1echfnfb {
  --_1echfnf0: var(--wejsdlp);
}
._1echfnfc {
  align-items: flex-start;
}
._1echfnfd {
  align-items: center;
}
._1echfnfe {
  align-items: flex-end;
}
._1vi7ksq1 {
  backdrop-filter: blur(6px);
}
._1vi7ksq1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--cpagpjj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1vi7ksq1::before {
  opacity: 0.7;
}
._1vi7ksq1[data-starting-style]::before, ._1vi7ksq1[data-ending-style]::before {
  opacity: 0;
}
._1vi7ksq3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--wejsdlk) * 2));
  max-height: calc(100dvh - (var(--wejsdlk) * 2));
}
._1vi7ksq3[data-starting-style], ._1vi7ksq3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1vi7ksq7:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 2px;
}
._1eoorfp2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1eoorfp0);
  align-items: var(--_1eoorfp1);
}
._1eoorfp3 {
  flex-wrap: wrap;
}
._1eoorfp4 {
  --_1eoorfp0: var(--wejsdlg);
}
._1eoorfp5 {
  --_1eoorfp0: var(--wejsdlh);
}
._1eoorfp6 {
  --_1eoorfp0: var(--wejsdli);
}
._1eoorfp7 {
  --_1eoorfp0: var(--wejsdlj);
}
._1eoorfp8 {
  --_1eoorfp0: var(--wejsdlk);
}
._1eoorfp9 {
  --_1eoorfp0: var(--wejsdll);
}
._1eoorfpa {
  --_1eoorfp0: var(--wejsdlm);
}
._1eoorfpb {
  --_1eoorfp0: var(--wejsdln);
}
._1eoorfpc {
  --_1eoorfp0: var(--wejsdlo);
}
._1eoorfpd {
  --_1eoorfp0: var(--wejsdlp);
}
._1eoorfpe {
  align-items: flex-start;
}
._1eoorfpf {
  align-items: center;
}
._1eoorfpg {
  align-items: flex-end;
}
._1dwfsnx0 {
  isolation: isolate;
  white-space: nowrap;
}
._1dwfsnx1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1dwfsnx3 {
    display: none;
  }
}
._4un44s2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._4un44s3 {
  width: 250px;
}
._4un44s6 {
  --_4un44s4: var(--cpagpjm);
  outline: none;
  cursor: default;
  color: var(--cpagpj7);
  height: 34px;
  isolation: isolate;
}
._4un44s6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--wejsdl8);
  z-index: -1;
}
._4un44s6[data-popup-open]:not([aria-disabled])::before, ._4un44s6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_4un44s4);
}
._4un44s6:focus-visible::before {
  outline: 2px solid var(--cpagpjt);
  outline-offset: -2px;
}
._4un44s6[aria-disabled] {
  color: var(--cpagpj9);
  cursor: not-allowed;
}
._4un44s7 {
  cursor: pointer;
  text-decoration: none;
}
._4un44s7[aria-disabled] {
  cursor: not-allowed;
}
._4un44s8 {
  margin-left: 3px;
}
._4un44s9 {
  --_4un44s4: var(--cpagpji);
  color: var(--cpagpja);
}
._4un44sa {
  --_4un44s4: transparent;
  color: var(--cpagpjc);
}
._4un44sa svg {
  color: var(--cpagpjc);
}
._4un44sc {
  isolation: isolate;
}
._4un44sg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._4un44si {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--cpagpj7);
  z-index: 1;
}
[aria-checked="true"] ._4un44si {
  color: var(--cpagpj8);
}
._4un44sk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--cpagpj7);
  isolation: isolate;
}
[aria-checked="true"] ._4un44sk {
  background-color: var(--cpagpje);
  border-color: var(--cpagpje);
}
._4un44sp {
  height: 34px;
}
._4un44sr {
  height: 1px;
  background-color: var(--cpagpjq);
}
._4un44st {
  background: transparent;
  border: none;
}
._4un44st:hover, ._4un44st[data-highlighted] {
  background-color: var(--cpagpjm);
}
._4un44st:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: -2px;
}
.xuwlrt0 {
  width: 200px;
}
.li68av1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cpagpjk);
}
.li68av2 {
  width: fit-content;
}
.li68av4 {
  width: fit-content;
  justify-self: flex-end;
}
.li68av7:not(.li68av5) {
  opacity: 0;
  transform: translateX(var(--wejsdlj));
  pointer-events: none;
}
.li68av9 {
  background: transparent;
  color: var(--cpagpjf);
  isolation: isolate;
}
.li68av9::after {
  content: "";
  position: absolute;
  transition: var(--wejsdlf);
  z-index: -1;
  inset: calc(var(--wejsdlj) * -1);
  background-color: var(--cpagpjm);
  border-radius: var(--wejsdl9);
}
.li68av9:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 6px;
}
.li68av9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.li68avb {
  margin: calc(var(--wejsdlk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.li68avf {
  appearance: none;
  outline: none;
  background: var(--cpagpjk);
  color: var(--cpagpj7);
  border: 1px solid var(--cpagpjq);
  height: var(--wejsdlr);
}
.li68avf:hover, .li68avf[data-popup-open] {
  background-color: var(--cpagpjm);
}
.li68avf:focus-visible {
  outline: 2px solid var(--cpagpjt);
  z-index: 1;
}
.li68avh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.li68avj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.li68avk {
  color: var(--cpagpjc);
}
.li68avm {
  height: 1px;
  background-color: var(--cpagpjq);
}
@media screen and (max-width: 767px) {
  .li68av4 {
    display: none;
  }
}
.de83h72 {
  flex: 1;
  min-height: 0;
}
.de83h75 {
  --de83h73: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--de83h73), 1fr);
}
.de83h77 {
  aspect-ratio: 5/4;
  list-style: none;
}
.de83h79 {
  height: calc(100% / var(--de83h70));
  width: calc(100% / var(--de83h70));
  border-radius: calc(var(--wejsdl9) / var(--de83h70));
  transform: scale(var(--de83h70));
  transform-origin: 0 0;
  padding: calc(1px / var(--de83h70));
}
.de83h7b {
  background: var(--cpagpjm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.de83h7d {
  background: transparent;
  outline: 1px solid var(--cpagpjq);
}
.de83h7d:hover {
  outline: 2px solid var(--cpagpjr);
}
.de83h7d:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 2px;
}
.de83h7h {
  list-style: none;
}
.de83h7j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--cpagpjq);
}
.de83h7j:hover {
  outline: 2px solid var(--cpagpjr);
}
.de83h7j:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .de83h75 {
    --de83h73: 2;
  }
}
@media screen and (min-width: 800px) {
  .de83h75 {
    --de83h73: 3;
  }
}
@media screen and (min-width: 1200px) {
  .de83h75 {
    --de83h73: 4;
  }
}
@media screen and (min-width: 1600px) {
  .de83h75 {
    --de83h73: 5;
  }
}
._1p1w19d1 {
  width: fit-content;
}
._1p1w19d3:focus-visible ~ ._1p1w19d5 {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 4px;
}
._1p1w19d8 {
  min-width: 0;
}
._1p1w19d9 {
  flex-shrink: 0;
}
._1db75sk2 {
  outline: none;
  height: var(--wejsdlr);
  color: var(--cpagpj7);
  background: transparent;
}
._1db75sk2::placeholder {
  color: var(--cpagpj9);
  font-weight: strong;
}
._1db75sk2:hover:not(:focus-visible), ._1db75sk2:hover:not(:focus-visible)::placeholder {
  background: var(--cpagpjm);
  opacity: 1;
  color: transparent;
}
._1db75sk2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1db75sk2:focus-visible {
  outline: 2px solid var(--cpagpjt);
  outline-offset: 0;
  opacity: 1;
}
._1db75sk2:focus-visible::placeholder {
  color: transparent;
}
._1db75sk4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--cpagpj7);
}
._1db75sk2:focus-visible ~ ._1db75sk4 {
  opacity: 0;
}
._1db75sk5 {
  color: var(--cpagpj9);
}
._4w8psx3 {
  border: 1px solid var(--cpagpjq);
}
._4w8psx5 {
  background-color: var(--cpagpjp);
  border-bottom: 1px solid var(--cpagpjq);
}
._4w8psx8 {
  background-color: var(--cpagpjp);
  border-top: 1px solid var(--cpagpjq);
}
._4w8psxc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._4w8psx6 {
    display: none;
  }
}
