._1eyq8n31 {
  background-color: var(--_1y0otcvm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1y0otcvr);
}
._1eyq8n32::before {
  content: "";
  position: absolute;
  min-height: var(--x118udc);
  min-width: var(--x118udc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.m9yvxn2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.m9yvxn4 {
  border: 1px solid var(--_1y0otcvr);
  background-color: var(--_1y0otcvl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.m9yvxn4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1y0otcvn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.m9yvxn4:hover::after {
  opacity: 1;
}
.m9yvxn4:focus-visible::after {
  opacity: 1;
}
.m9yvxn4:active:not([disabled]) {
  transform: scale(0.97);
}
.m9yvxn4:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 0;
}
.m9yvxn6 {
  isolation: isolate;
}
.m9yvxn8 {
  height: var(--m9yvxn0);
}
.m9yvxna {
  border-color: var(--_1y0otcvc);
}
.m9yvxna::after {
  background-color: var(--_1y0otcvi);
}
.m9yvxnb {
  border-color: var(--_1y0otcva);
}
.m9yvxnb::after {
  background-color: var(--_1y0otcvj);
}
.m9yvxnc {
  --m9yvxn0: var(--x118udq);
}
.m9yvxnd {
  --m9yvxn0: var(--x118udr);
}
.m9yvxne {
  --m9yvxn0: var(--x118uds);
}
._1toe0z31 {
  --_1y0otcv7: var(--_1y0otcvd);
  background-color: var(--_1y0otcvo);
  outline: 1px solid var(--_1y0otcvt);
  outline-offset: -1px;
}
._1vwm3x3 {
  background: transparent;
  outline: none;
  height: var(--_1vwm3x0) !important;
  width: var(--_1vwm3x0) !important;
}
._1vwm3x6 {
  padding: var(--_1vwm3x4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1vwm3x3:active ._1vwm3x6 {
  transform: scale(.95);
}
._1vwm3x3:focus-visible ._1vwm3x6 {
  outline: 2px solid var(--_1y0otcvu);
}
._1vwm3x3[aria-disabled="true"] ._1vwm3x6 {
  --_1vwm3x1: var(--_1y0otcv9);
}
._1vwm3x7 {
  --_1vwm3x0: var(--x118udq);
  --_1vwm3x4: var(--x118udi);
}
._1vwm3x8 {
  --_1vwm3x0: var(--x118udr);
  --_1vwm3x4: var(--x118udj);
}
._1vwm3x9 {
  --_1vwm3x0: var(--x118uds);
  --_1vwm3x4: var(--x118udj);
}
._1vwm3xj {
  --_1vwm3xa: var(--_1y0otcv7);
  --_1vwm3xb: var(--_1y0otcvl);
  --_1vwm3xc: var(--_1y0otcvn);
  --_1vwm3xd: var(--_1y0otcv8);
  --_1vwm3xe: var(--_1y0otcvg);
  --_1vwm3xf: var(--_1y0otcvh);
  --_1vwm3xg: var(--_1y0otcv7);
  --_1vwm3xh: var(--_1y0otcv7);
  --_1vwm3xi: var(--_1y0otcvn);
}
._1vwm3xk {
  --_1vwm3xa: var(--_1y0otcvb);
  --_1vwm3xb: var(--_1y0otcvl);
  --_1vwm3xc: var(--_1y0otcvn);
  --_1vwm3xd: var(--_1y0otcv8);
  --_1vwm3xe: var(--_1y0otcvb);
  --_1vwm3xf: var(--_1y0otcvf);
  --_1vwm3xg: var(--_1y0otcvb);
  --_1vwm3xh: var(--_1y0otcv8);
  --_1vwm3xi: var(--_1y0otcve);
}
._1vwm3xl {
  color: var(--_1vwm3xa);
  background-color: var(--_1vwm3xb);
  outline: 1px solid var(--_1y0otcvr);
  outline-offset: -1px;
}
._1vwm3x3:not([aria-disabled="true"]):hover > ._1vwm3xl, ._1vwm3x3:not([aria-disabled="true"]):focus-visible > ._1vwm3xl, ._1vwm3x3:not([aria-disabled="true"])[data-popup-open] > ._1vwm3xl {
  background-color: var(--_1vwm3xc);
}
._1vwm3xm {
  color: var(--_1vwm3xd);
  background-color: var(--_1vwm3xe);
}
._1vwm3x3:not([aria-disabled="true"]):hover > ._1vwm3xm, ._1vwm3x3:not([aria-disabled="true"]):focus-visible > ._1vwm3xm, ._1vwm3x3:not([aria-disabled="true"])[data-popup-open] > ._1vwm3xm {
  background-color: var(--_1vwm3xf);
}
._1vwm3xn {
  color: var(--_1vwm3xg);
}
._1vwm3x3:not([aria-disabled="true"]):hover > ._1vwm3xn, ._1vwm3x3:not([aria-disabled="true"]):focus-visible > ._1vwm3xn, ._1vwm3x3:not([aria-disabled="true"])[data-popup-open] > ._1vwm3xn {
  color: var(--_1vwm3xh);
  background-color: var(--_1vwm3xi);
}
._1vwm3xo {
  margin: calc((var(--_1vwm3x4) + 2px) * -1);
}
._1vwm3x6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._121bztp0 {
  isolation: isolate;
  white-space: nowrap;
}
._121bztp1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._121bztp3 {
    display: none;
  }
}
.u7ue7v1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.u7ue7v2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.u7ue7v2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.u7ue7v4 {
  --u7ue7v3: 30px;
}
.u7ue7v5 {
  --u7ue7v3: 45px;
}
.u7ue7v6 {
  --u7ue7v3: 60px;
}
.u7ue7v7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.u7ue7v8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.u7ue7v9 {
  overflow: auto;
}
.u7ue7ve {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--u7ue7vc, 0)),linear-gradient(to right, transparent 0, black var(--u7ue7va, 0)),linear-gradient(to left, transparent 0, black var(--u7ue7vb, 0)),linear-gradient(to top, transparent 0, black var(--u7ue7vd, 0));
}
.u7ue7vf {
  --u7ue7va: var(--u7ue7v3);
}
.u7ue7vg {
  --u7ue7vb: var(--u7ue7v3);
}
.u7ue7vh {
  --u7ue7vc: var(--u7ue7v3);
}
.u7ue7vi {
  --u7ue7vd: var(--u7ue7v3);
}
._6pcc1u2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._6pcc1u3 {
  width: 250px;
}
._6pcc1u6 {
  --_6pcc1u4: var(--_1y0otcvn);
  outline: none;
  cursor: default;
  color: var(--_1y0otcv7);
  height: 34px;
  isolation: isolate;
}
._6pcc1u6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--x118ud8);
  z-index: -1;
}
._6pcc1u6[data-popup-open]:not([aria-disabled])::before, ._6pcc1u6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_6pcc1u4);
}
._6pcc1u6:focus-visible::before {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: -2px;
}
._6pcc1u6[aria-disabled] {
  color: var(--_1y0otcv9);
  cursor: not-allowed;
}
._6pcc1u7 {
  cursor: pointer;
  text-decoration: none;
}
._6pcc1u7[aria-disabled] {
  cursor: not-allowed;
}
._6pcc1u8 {
  margin-left: 3px;
}
._6pcc1u9 {
  --_6pcc1u4: var(--_1y0otcvj);
  color: var(--_1y0otcva);
}
._6pcc1ua {
  --_6pcc1u4: transparent;
  color: var(--_1y0otcvc);
}
._6pcc1ua svg {
  color: var(--_1y0otcvc);
}
._6pcc1uc {
  isolation: isolate;
}
._6pcc1ug {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._6pcc1ui {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1y0otcv7);
  z-index: 1;
}
[aria-checked="true"] ._6pcc1ui {
  color: var(--_1y0otcv8);
}
._6pcc1uk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1y0otcv7);
  isolation: isolate;
}
[aria-checked="true"] ._6pcc1uk {
  background-color: var(--_1y0otcve);
  border-color: var(--_1y0otcve);
}
._6pcc1up {
  height: 34px;
}
._6pcc1ur {
  height: 1px;
  background-color: var(--_1y0otcvr);
}
._6pcc1ut {
  background: transparent;
  border: none;
}
._6pcc1ut:hover, ._6pcc1ut[data-highlighted] {
  background-color: var(--_1y0otcvn);
}
._6pcc1ut:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: -2px;
}
._1683uh61 {
  justify-content: safe center;
}
._1683uh65 {
  flex-shrink: 0;
  width: var(--_1683uh62);
}
._1683uh65:last-child {
  padding-right: var(--x118udn);
}
._1683uh66 {
  transition: color 150ms ease;
}
._1683uh65:hover ._1683uh66, ._1683uh65:focus-within ._1683uh66, ._1683uh63 ._1683uh66 {
  color: var(--_1y0otcvb);
}
._1683uh68 {
  outline: 1px solid var(--_1y0otcvr);
}
._1683uh6a {
  transition: opacity 150ms ease;
}
._1683uh65:not(:hover, :focus-within, ._1683uh63) ._1683uh6a {
  opacity: 1;
}
._1683uh6c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1683uh6a:hover ~ ._1683uh68 ._1683uh6c, ._1683uh6a:focus-within ~ ._1683uh68._1683uh6c {
  outline-color: var(--_1y0otcvb);
}
._1683uh6e {
  transition: opacity 150ms ease;
}
._1683uh65:not(:hover, :focus-within, ._1683uh63) ._1683uh6e {
  opacity: 0;
}
.y340u41 {
  color: var(--_1y0otcv7);
  font-family: var(--x118ud0);
}
.y340u42 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
.y340u43 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
.y340u44 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.rwmd8k1 {
  display: flex;
  flex-direction: column;
  gap: var(--rwmd8k0);
}
.rwmd8k2 {
  --rwmd8k0: var(--x118udg);
}
.rwmd8k3 {
  --rwmd8k0: var(--x118udh);
}
.rwmd8k4 {
  --rwmd8k0: var(--x118udi);
}
.rwmd8k5 {
  --rwmd8k0: var(--x118udj);
}
.rwmd8k6 {
  --rwmd8k0: var(--x118udk);
}
.rwmd8k7 {
  --rwmd8k0: var(--x118udl);
}
.rwmd8k8 {
  --rwmd8k0: var(--x118udm);
}
.rwmd8k9 {
  --rwmd8k0: var(--x118udn);
}
.rwmd8ka {
  --rwmd8k0: var(--x118udo);
}
.rwmd8kb {
  --rwmd8k0: var(--x118udp);
}
.rwmd8kc {
  align-items: flex-start;
}
.rwmd8kd {
  align-items: center;
}
.rwmd8ke {
  align-items: flex-end;
}
._19lriay1 {
  backdrop-filter: blur(6px);
}
._19lriay1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1y0otcvk);
  opacity: 0.4;
}
html[data-playroom-dark] ._19lriay1::before {
  opacity: 0.7;
}
._19lriay1[data-starting-style]::before, ._19lriay1[data-ending-style]::before {
  opacity: 0;
}
._19lriay3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--x118udk) * 2));
  max-height: calc(100dvh - (var(--x118udk) * 2));
}
._19lriay3[data-starting-style], ._19lriay3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._19lriay7:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 2px;
}
._13vkdrq2 {
  display: flex;
  flex-direction: row;
  gap: var(--_13vkdrq0);
  align-items: var(--_13vkdrq1);
}
._13vkdrq3 {
  flex-wrap: wrap;
}
._13vkdrq4 {
  --_13vkdrq0: var(--x118udg);
}
._13vkdrq5 {
  --_13vkdrq0: var(--x118udh);
}
._13vkdrq6 {
  --_13vkdrq0: var(--x118udi);
}
._13vkdrq7 {
  --_13vkdrq0: var(--x118udj);
}
._13vkdrq8 {
  --_13vkdrq0: var(--x118udk);
}
._13vkdrq9 {
  --_13vkdrq0: var(--x118udl);
}
._13vkdrqa {
  --_13vkdrq0: var(--x118udm);
}
._13vkdrqb {
  --_13vkdrq0: var(--x118udn);
}
._13vkdrqc {
  --_13vkdrq0: var(--x118udo);
}
._13vkdrqd {
  --_13vkdrq0: var(--x118udp);
}
._13vkdrqe {
  align-items: flex-start;
}
._13vkdrqf {
  align-items: center;
}
._13vkdrqg {
  align-items: flex-end;
}
.gqkbwf0 {
  width: 200px;
}
.qkp4961 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1y0otcvl);
}
.qkp4962 {
  width: fit-content;
}
.qkp4964 {
  width: fit-content;
  justify-self: flex-end;
}
.qkp4967:not(.qkp4965) {
  opacity: 0;
  transform: translateX(var(--x118udj));
  pointer-events: none;
}
.qkp4969 {
  background: transparent;
  color: var(--_1y0otcvg);
  isolation: isolate;
}
.qkp4969::after {
  content: "";
  position: absolute;
  transition: var(--x118udf);
  z-index: -1;
  inset: calc(var(--x118udj) * -1);
  background-color: var(--_1y0otcvn);
  border-radius: var(--x118ud9);
}
.qkp4969:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 6px;
}
.qkp4969:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.qkp496b {
  margin: calc(var(--x118udk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.qkp496f {
  appearance: none;
  outline: none;
  background: var(--_1y0otcvl);
  color: var(--_1y0otcv7);
  border: 1px solid var(--_1y0otcvr);
  height: var(--x118udr);
}
.qkp496f:hover, .qkp496f[data-popup-open] {
  background-color: var(--_1y0otcvn);
}
.qkp496f:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  z-index: 1;
}
.qkp496h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.qkp496j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.qkp496k {
  color: var(--_1y0otcvc);
}
.qkp496m {
  height: 1px;
  background-color: var(--_1y0otcvr);
}
@media screen and (max-width: 767px) {
  .qkp4964 {
    display: none;
  }
}
._1r55e52 {
  flex: 1;
  min-height: 0;
}
._1r55e55 {
  --_1r55e53: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1r55e53), 1fr);
}
._1r55e57 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1r55e59 {
  height: calc(100% / var(--_1r55e50));
  width: calc(100% / var(--_1r55e50));
  border-radius: calc(var(--x118ud9) / var(--_1r55e50));
  transform: scale(var(--_1r55e50));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1r55e50));
}
._1r55e5b {
  background: var(--_1y0otcvn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1r55e5d {
  background: transparent;
  outline: 1px solid var(--_1y0otcvr);
}
._1r55e5d:hover {
  outline: 2px solid var(--_1y0otcvs);
}
._1r55e5d:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 2px;
}
._1r55e5h {
  list-style: none;
}
._1r55e5j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1y0otcvr);
}
._1r55e5j:hover {
  outline: 2px solid var(--_1y0otcvs);
}
._1r55e5j:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1r55e55 {
    --_1r55e53: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1r55e55 {
    --_1r55e53: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1r55e55 {
    --_1r55e53: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1r55e55 {
    --_1r55e53: 5;
  }
}
.fuu1xt1 {
  width: fit-content;
}
.fuu1xt3:focus-visible ~ .fuu1xt5 {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 4px;
}
.fuu1xt8 {
  min-width: 0;
}
.fuu1xt9 {
  flex-shrink: 0;
}
._1xgc4il2 {
  outline: none;
  height: var(--x118udr);
  color: var(--_1y0otcv7);
  background: transparent;
}
._1xgc4il2::placeholder {
  color: var(--_1y0otcv9);
  font-weight: strong;
}
._1xgc4il2:hover:not(:focus-visible), ._1xgc4il2:hover:not(:focus-visible)::placeholder {
  background: var(--_1y0otcvn);
  opacity: 1;
  color: transparent;
}
._1xgc4il2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1xgc4il2:focus-visible {
  outline: 2px solid var(--_1y0otcvu);
  outline-offset: 0;
  opacity: 1;
}
._1xgc4il2:focus-visible::placeholder {
  color: transparent;
}
._1xgc4il4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1y0otcv7);
}
._1xgc4il2:focus-visible ~ ._1xgc4il4 {
  opacity: 0;
}
._1xgc4il5 {
  color: var(--_1y0otcv9);
}
._1sand2i3 {
  border: 1px solid var(--_1y0otcvr);
}
._1sand2i5 {
  background-color: var(--_1y0otcvq);
  border-bottom: 1px solid var(--_1y0otcvr);
}
._1sand2i8 {
  background-color: var(--_1y0otcvq);
  border-top: 1px solid var(--_1y0otcvr);
}
._1sand2ic {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1sand2i6 {
    display: none;
  }
}
