._1ky9nx11 {
  background-color: var(--_1jpthkl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1jpthkq);
}
._1ky9nx12::before {
  content: "";
  position: absolute;
  min-height: var(--_1jz84rjc);
  min-width: var(--_1jz84rjc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.nnky682 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.nnky684 {
  border: 1px solid var(--_1jpthkq);
  background-color: var(--_1jpthkk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.nnky684::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jpthkm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
.nnky684:hover::after {
  opacity: 1;
}
.nnky684:focus-visible::after {
  opacity: 1;
}
.nnky684:active:not([disabled]) {
  transform: scale(0.97);
}
.nnky684:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: 0;
}
.nnky686 {
  height: var(--nnky680);
}
.nnky688 {
  border-color: var(--_1jpthkc);
}
.nnky688::after {
  background-color: var(--_1jpthkh);
}
.nnky689 {
  border-color: var(--_1jpthka);
}
.nnky689::after {
  background-color: var(--_1jpthki);
}
.nnky68a {
  --nnky680: var(--_1jz84rjq);
}
.nnky68b {
  --nnky680: var(--_1jz84rjr);
}
.nnky68c {
  --nnky680: var(--_1jz84rjs);
}
.et247l1 {
  --_1jpthk7: var(--_1jpthkd);
  background-color: var(--_1jpthkn);
  outline: 1px solid var(--_1jpthks);
  outline-offset: -1px;
}
._1d40x2s3 {
  background: transparent;
  outline: none;
  height: var(--_1d40x2s0);
  width: var(--_1d40x2s0);
}
._1d40x2s6 {
  padding: var(--_1d40x2s4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1d40x2s1);
  isolation: isolate;
}
._1d40x2s3[data-pressed] ._1d40x2s6, ._1d40x2s3:active ._1d40x2s6 {
  transform: scale(.95);
}
._1d40x2s3:focus-visible ._1d40x2s6 {
  outline: 2px solid var(--_1jpthkt);
}
._1d40x2s7 {
  --_1d40x2s0: var(--_1jz84rjq);
  --_1d40x2s4: 6px;
}
._1d40x2s8 {
  --_1d40x2s0: var(--_1jz84rjr);
  --_1d40x2s4: var(--_1jz84rjj);
}
._1d40x2s9 {
  --_1d40x2s0: var(--_1jz84rjs);
  --_1d40x2s4: var(--_1jz84rjj);
}
._1d40x2sa {
  --_1d40x2s1: var(--_1jpthk7);
}
._1d40x2sb {
  --_1d40x2s1: var(--_1jpthkb);
}
._1d40x2sc {
  --_1d40x2s1: var(--_1jpthkc);
}
._1d40x2sd {
  background-color: var(--_1jpthkk);
  outline: 1px solid var(--_1jpthkq);
  outline-offset: -1px;
}
._1d40x2sd:hover, [data-popup-open] > ._1d40x2sd {
  background-color: var(--_1jpthkm);
}
._1d40x2se {
  --_1d40x2s1: var(--_1jpthk8);
  background-color: var(--_1jpthkf);
}
._1d40x2se:hover, [data-popup-open] > ._1d40x2se {
  background-color: var(--_1jpthkg);
}
._1d40x2sf:hover, [data-popup-open] > ._1d40x2sf {
  background-color: var(--_1jpthkm);
}
._1d40x2sg {
  margin: calc((var(--_1d40x2s4) + 2px) * -1);
}
._1d40x2s6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1eq3yjp2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1jz84rj8);
  color: var(--_1eq3yjp0);
  isolation: isolate;
  outline: none;
}
._1eq3yjp2[data-pressed], ._1eq3yjp2:active {
  transform: scale(.95);
}
._1eq3yjp2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1jz84rji) * -1);
  background-color: var(--_1eq3yjp0);
  border-radius: var(--_1jz84rj8);
}
._1eq3yjp2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1eq3yjp2:hover, ._1eq3yjp2[data-popup-open]:not(:focus-visible) {
  color: var(--_1jpthk8);
}
._1eq3yjp2:focus-visible::after {
  outline: 2px solid var(--_1jpthkt);
}
._1eq3yjp2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1eq3yjp3 {
  --_1eq3yjp0: var(--_1jpthkb);
}
._1eq3yjp4 {
  --_1eq3yjp0: var(--_1jpthkc);
}
._1eq3yjp2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.eljhoo1 {
  justify-content: safe center;
}
.eljhoo5 {
  flex-shrink: 0;
  width: var(--eljhoo2);
}
.eljhoo6 {
  transition: color 150ms ease;
}
.eljhoo5:hover .eljhoo6, .eljhoo5:focus-within .eljhoo6, .eljhoo3 .eljhoo6 {
  color: var(--_1jpthkb);
}
.eljhoo8 {
  outline: 1px solid var(--_1jpthkq);
}
.eljhooa {
  transition: opacity 150ms ease;
}
.eljhoo5:not(:hover, :focus-within, .eljhoo3) .eljhooa {
  opacity: 1;
}
.eljhooc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.eljhooa:hover ~ .eljhoo8 .eljhooc, .eljhooa:focus-within ~ .eljhoo8.eljhooc {
  outline-color: var(--_1jpthkb);
}
.eljhooe {
  transition: opacity 150ms ease;
}
.eljhoo5:not(:hover, :focus-within, .eljhoo3) .eljhooe {
  opacity: 0;
}
._1xm28l01 {
  color: var(--_1jpthk7);
  font-family: var(--_1jz84rj0);
}
._1xm28l02 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._1xm28l03 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
._1xm28l04 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1u17bvi1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1u17bvi0);
}
._1u17bvi2 {
  --_1u17bvi0: var(--_1jz84rjg);
}
._1u17bvi3 {
  --_1u17bvi0: var(--_1jz84rjh);
}
._1u17bvi4 {
  --_1u17bvi0: var(--_1jz84rji);
}
._1u17bvi5 {
  --_1u17bvi0: var(--_1jz84rjj);
}
._1u17bvi6 {
  --_1u17bvi0: var(--_1jz84rjk);
}
._1u17bvi7 {
  --_1u17bvi0: var(--_1jz84rjl);
}
._1u17bvi8 {
  --_1u17bvi0: var(--_1jz84rjm);
}
._1u17bvi9 {
  --_1u17bvi0: var(--_1jz84rjn);
}
._1u17bvia {
  --_1u17bvi0: var(--_1jz84rjo);
}
._1u17bvib {
  --_1u17bvi0: var(--_1jz84rjp);
}
._1u17bvic {
  align-items: flex-start;
}
._1u17bvid {
  align-items: center;
}
._1u17bvie {
  align-items: flex-end;
}
._1vsv15j1 {
  backdrop-filter: blur(6px);
}
._1vsv15j1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jpthkj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1vsv15j1::before {
  opacity: 0.7;
}
._1vsv15j1[data-starting-style]::before, ._1vsv15j1[data-ending-style]::before {
  opacity: 0;
}
._1vsv15j3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1jz84rjk) * 2));
  max-height: calc(100dvh - (var(--_1jz84rjk) * 2));
}
._1vsv15j3[data-starting-style], ._1vsv15j3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1vsv15j7:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: 2px;
}
._6n3n1m2 {
  display: flex;
  flex-direction: row;
  gap: var(--_6n3n1m0);
  align-items: var(--_6n3n1m1);
}
._6n3n1m3 {
  flex-wrap: wrap;
}
._6n3n1m4 {
  --_6n3n1m0: var(--_1jz84rjg);
}
._6n3n1m5 {
  --_6n3n1m0: var(--_1jz84rjh);
}
._6n3n1m6 {
  --_6n3n1m0: var(--_1jz84rji);
}
._6n3n1m7 {
  --_6n3n1m0: var(--_1jz84rjj);
}
._6n3n1m8 {
  --_6n3n1m0: var(--_1jz84rjk);
}
._6n3n1m9 {
  --_6n3n1m0: var(--_1jz84rjl);
}
._6n3n1ma {
  --_6n3n1m0: var(--_1jz84rjm);
}
._6n3n1mb {
  --_6n3n1m0: var(--_1jz84rjn);
}
._6n3n1mc {
  --_6n3n1m0: var(--_1jz84rjo);
}
._6n3n1md {
  --_6n3n1m0: var(--_1jz84rjp);
}
._6n3n1me {
  align-items: flex-start;
}
._6n3n1mf {
  align-items: center;
}
._6n3n1mg {
  align-items: flex-end;
}
._9uuk6r0 {
  isolation: isolate;
  white-space: nowrap;
}
._9uuk6r1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._9uuk6r3 {
    display: none;
  }
}
._6ur8cz1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._6ur8cz2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._6ur8cz2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._6ur8cz4 {
  --_6ur8cz3: 30px;
}
._6ur8cz5 {
  --_6ur8cz3: 45px;
}
._6ur8cz6 {
  --_6ur8cz3: 60px;
}
._6ur8cz7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._6ur8cz8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._6ur8cz9 {
  overflow: auto;
}
._6ur8cze {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_6ur8czc, 0)),linear-gradient(to right, transparent 0, black var(--_6ur8cza, 0)),linear-gradient(to left, transparent 0, black var(--_6ur8czb, 0)),linear-gradient(to top, transparent 0, black var(--_6ur8czd, 0));
}
._6ur8czf {
  --_6ur8cza: var(--_6ur8cz3);
}
._6ur8czg {
  --_6ur8czb: var(--_6ur8cz3);
}
._6ur8czh {
  --_6ur8czc: var(--_6ur8cz3);
}
._6ur8czi {
  --_6ur8czd: var(--_6ur8cz3);
}
._1i4e3wz2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1i4e3wz3 {
  width: 250px;
}
._1i4e3wz6 {
  --_1i4e3wz4: var(--_1jpthkm);
  outline: none;
  cursor: default;
  color: var(--_1jpthk7);
  height: 34px;
  isolation: isolate;
}
._1i4e3wz6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1jz84rj8);
  z-index: -1;
}
._1i4e3wz6[data-popup-open]:not([aria-disabled])::before, ._1i4e3wz6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1i4e3wz4);
}
._1i4e3wz6:focus-visible::before {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: -2px;
}
._1i4e3wz6[aria-disabled] {
  color: var(--_1jpthk9);
  cursor: not-allowed;
}
._1i4e3wz7 {
  cursor: pointer;
  text-decoration: none;
}
._1i4e3wz7[aria-disabled] {
  cursor: not-allowed;
}
._1i4e3wz8 {
  margin-left: 3px;
}
._1i4e3wz9 {
  --_1i4e3wz4: var(--_1jpthki);
  color: var(--_1jpthka);
}
._1i4e3wza {
  --_1i4e3wz4: transparent;
  color: var(--_1jpthkc);
}
._1i4e3wza svg {
  color: var(--_1jpthkc);
}
._1i4e3wzc {
  isolation: isolate;
}
._1i4e3wzg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1i4e3wzi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1jpthk7);
  z-index: 1;
}
[aria-checked="true"] ._1i4e3wzi {
  color: var(--_1jpthk8);
}
._1i4e3wzk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1jpthk7);
  isolation: isolate;
}
[aria-checked="true"] ._1i4e3wzk {
  background-color: var(--_1jpthke);
  border-color: var(--_1jpthke);
}
._1i4e3wzp {
  height: 34px;
}
._1i4e3wzr {
  height: 1px;
  background-color: var(--_1jpthkq);
}
._1i4e3wzs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1i4e3wzu {
  background: transparent;
  border: none;
}
._1i4e3wzu:hover, ._1i4e3wzu[data-highlighted] {
  background-color: var(--_1jpthkm);
}
._1i4e3wzu:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: -2px;
}
.nfxv9h0 {
  width: 200px;
}
.ox7cj81 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1jpthkk);
}
.ox7cj82 {
  width: fit-content;
}
.ox7cj85 {
  width: fit-content;
  justify-self: flex-end;
}
.ox7cj85:not(.ox7cj83) {
  opacity: 0;
  transform: translateX(var(--_1jz84rjj));
  pointer-events: none;
}
.ox7cj87 {
  background: transparent;
  color: var(--_1jpthkf);
  isolation: isolate;
}
.ox7cj87::after {
  content: "";
  position: absolute;
  transition: var(--_1jz84rjf);
  z-index: -1;
  inset: calc(var(--_1jz84rjj) * -1);
  background-color: var(--_1jpthkm);
  border-radius: var(--_1jz84rj9);
}
.ox7cj87:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: 6px;
}
.ox7cj87:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.ox7cj89 {
  margin: calc(var(--_1jz84rjk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.ox7cj8d {
  appearance: none;
  outline: none;
  background: var(--_1jpthkk);
  color: var(--_1jpthk7);
  border: 1px solid var(--_1jpthkq);
  height: var(--_1jz84rjr);
}
.ox7cj8d:hover, .ox7cj8d[data-popup-open] {
  background-color: var(--_1jpthkm);
}
.ox7cj8d:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  z-index: 1;
}
.ox7cj8f {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.ox7cj8h {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ox7cj8i {
  color: var(--_1jpthkc);
}
.ox7cj8k {
  height: 1px;
  background-color: var(--_1jpthkq);
}
@media screen and (max-width: 767px) {
  .ox7cj85 {
    display: none;
  }
}
._1ys7izf2 {
  flex: 1;
  min-height: 0;
}
._1ys7izf5 {
  --_1ys7izf3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1ys7izf3), 1fr);
}
._1ys7izf7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1ys7izf9 {
  height: calc(100% / var(--_1ys7izf0));
  width: calc(100% / var(--_1ys7izf0));
  border-radius: calc(var(--_1jz84rj9) / var(--_1ys7izf0));
  transform: scale(var(--_1ys7izf0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1ys7izf0));
}
._1ys7izfb {
  background: var(--_1jpthkm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1ys7izfd {
  background: transparent;
  outline: 1px solid var(--_1jpthkq);
}
._1ys7izfd:hover {
  outline: 2px solid var(--_1jpthkr);
}
._1ys7izfd:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: 2px;
}
._1ys7izfh {
  list-style: none;
}
._1ys7izfj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1jpthkq);
}
._1ys7izfj:hover {
  outline: 2px solid var(--_1jpthkr);
}
._1ys7izfj:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1ys7izf5 {
    --_1ys7izf3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1ys7izf5 {
    --_1ys7izf3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1ys7izf5 {
    --_1ys7izf3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1ys7izf5 {
    --_1ys7izf3: 5;
  }
}
._1piucn21 {
  width: fit-content;
}
._1piucn23:focus-visible ~ ._1piucn25 {
  outline: 2px solid var(--_1jpthkt);
  outline-offset: 4px;
}
._1piucn28 {
  min-width: 0;
}
._1piucn29 {
  flex-shrink: 0;
}
._16kptjq2 {
  outline: none;
  height: var(--_1jz84rjr);
  color: var(--_1jpthk7);
  background: transparent;
}
._16kptjq2::placeholder {
  color: var(--_1jpthk9);
  font-weight: normal;
}
._16kptjq2:hover:not(:focus-visible) {
  background: var(--_1jpthkm);
  opacity: 1;
  color: transparent;
}
._16kptjq2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._16kptjq2:focus-visible {
  outline: 2px solid var(--_1jpthkt);
  opacity: 1;
}
._16kptjq2:focus-visible::placeholder {
  color: transparent;
}
._16kptjq4 {
  max-width: 50vw;
  min-width: 240px;
}
._16kptjq2:focus-visible ~ ._16kptjq4 {
  opacity: 0;
}
._16kptjq5 {
  white-space: pre;
}
.ytloss3 {
  border: 1px solid var(--_1jpthkq);
}
.ytloss5 {
  background-color: var(--_1jpthkp);
  border-bottom: 1px solid var(--_1jpthkq);
}
.ytloss8 {
  background-color: var(--_1jpthkp);
  border-top: 1px solid var(--_1jpthkq);
}
.ytlossc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .ytloss6 {
    display: none;
  }
}
