.do5ysp1 {
  background-color: var(--_14mw8n8l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_14mw8n8q);
}
.do5ysp2::before {
  content: "";
  position: absolute;
  min-height: var(--_124r2mrc);
  min-width: var(--_124r2mrc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1psul9r2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1psul9r4 {
  border: 1px solid var(--_14mw8n8q);
  background-color: var(--_14mw8n8k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1psul9r4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_14mw8n8m);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1psul9r4:hover::after {
  opacity: 1;
}
._1psul9r4:focus-visible::after {
  opacity: 1;
}
._1psul9r4:active:not([disabled]) {
  transform: scale(0.97);
}
._1psul9r4:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 0;
}
._1psul9r6 {
  isolation: isolate;
}
._1psul9r8 {
  height: var(--_1psul9r0);
}
._1psul9ra {
  border-color: var(--_14mw8n8c);
}
._1psul9ra::after {
  background-color: var(--_14mw8n8h);
}
._1psul9rb {
  border-color: var(--_14mw8n8a);
}
._1psul9rb::after {
  background-color: var(--_14mw8n8i);
}
._1psul9rc {
  --_1psul9r0: var(--_124r2mrq);
}
._1psul9rd {
  --_1psul9r0: var(--_124r2mrr);
}
._1psul9re {
  --_1psul9r0: var(--_124r2mrs);
}
.p3knx61 {
  --_14mw8n87: var(--_14mw8n8d);
  background-color: var(--_14mw8n8n);
  outline: 1px solid var(--_14mw8n8s);
  outline-offset: -1px;
}
.ejppt93 {
  background: transparent;
  outline: none;
  height: var(--ejppt90);
  width: var(--ejppt90);
}
.ejppt96 {
  padding: var(--ejppt94);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--ejppt91);
  isolation: isolate;
}
.ejppt93[data-pressed] .ejppt96, .ejppt93:active .ejppt96 {
  transform: scale(.95);
}
.ejppt93:focus-visible .ejppt96 {
  outline: 2px solid var(--_14mw8n8t);
}
.ejppt97 {
  --ejppt90: var(--_124r2mrq);
  --ejppt94: 6px;
}
.ejppt98 {
  --ejppt90: var(--_124r2mrr);
  --ejppt94: var(--_124r2mrj);
}
.ejppt99 {
  --ejppt90: var(--_124r2mrs);
  --ejppt94: var(--_124r2mrj);
}
.ejppt9a {
  --ejppt91: var(--_14mw8n87);
}
.ejppt9b {
  --ejppt91: var(--_14mw8n8b);
}
.ejppt9c {
  --ejppt91: var(--_14mw8n8c);
}
.ejppt9d {
  background-color: var(--_14mw8n8k);
  outline: 1px solid var(--_14mw8n8q);
  outline-offset: -1px;
}
.ejppt9d:hover, [data-popup-open] > .ejppt9d {
  background-color: var(--_14mw8n8m);
}
.ejppt9e {
  --ejppt91: var(--_14mw8n88);
  background-color: var(--_14mw8n8f);
}
.ejppt9e:hover, [data-popup-open] > .ejppt9e {
  background-color: var(--_14mw8n8g);
}
.ejppt9f:hover, [data-popup-open] > .ejppt9f {
  background-color: var(--_14mw8n8m);
}
.ejppt9g {
  margin: calc((var(--ejppt94) + 2px) * -1);
}
.ejppt96 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1tulsvi2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_124r2mr8);
  color: var(--_1tulsvi0);
  isolation: isolate;
  outline: none;
}
._1tulsvi2[data-pressed], ._1tulsvi2:active {
  transform: scale(.95);
}
._1tulsvi2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_124r2mri) * -1);
  background-color: var(--_1tulsvi0);
  border-radius: var(--_124r2mr8);
}
._1tulsvi2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1tulsvi2:hover, ._1tulsvi2[data-popup-open]:not(:focus-visible) {
  color: var(--_14mw8n88);
}
._1tulsvi2:focus-visible::after {
  outline: 2px solid var(--_14mw8n8t);
}
._1tulsvi2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1tulsvi3 {
  --_1tulsvi0: var(--_14mw8n8b);
}
._1tulsvi4 {
  --_1tulsvi0: var(--_14mw8n8c);
}
._1tulsvi2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1tapu8a1 {
  justify-content: safe center;
}
._1tapu8a5 {
  flex-shrink: 0;
  width: var(--_1tapu8a2);
}
._1tapu8a6 {
  transition: color 150ms ease;
}
._1tapu8a5:hover ._1tapu8a6, ._1tapu8a5:focus-within ._1tapu8a6, ._1tapu8a3 ._1tapu8a6 {
  color: var(--_14mw8n8b);
}
._1tapu8a8 {
  outline: 1px solid var(--_14mw8n8q);
}
._1tapu8aa {
  transition: opacity 150ms ease;
}
._1tapu8a5:not(:hover, :focus-within, ._1tapu8a3) ._1tapu8aa {
  opacity: 1;
}
._1tapu8ac {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1tapu8aa:hover ~ ._1tapu8a8 ._1tapu8ac, ._1tapu8aa:focus-within ~ ._1tapu8a8._1tapu8ac {
  outline-color: var(--_14mw8n8b);
}
._1tapu8ae {
  transition: opacity 150ms ease;
}
._1tapu8a5:not(:hover, :focus-within, ._1tapu8a3) ._1tapu8ae {
  opacity: 0;
}
._98wgsx1 {
  color: var(--_14mw8n87);
  font-family: var(--_124r2mr0);
}
._98wgsx2 {
  --u7b6nr0: 36px;
  --u7b6nr1: 44px;
  --u7b6nr2: -0.2741em;
  --u7b6nr3: -0.2031em;
}
._98wgsx3 {
  --u7b6nr0: 20px;
  --u7b6nr1: 28px;
  --u7b6nr2: -0.363em;
  --u7b6nr3: -0.292em;
}
._98wgsx4 {
  --u7b6nr0: 16px;
  --u7b6nr1: 20px;
  --u7b6nr2: -0.288em;
  --u7b6nr3: -0.217em;
}
._1tblmog1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1tblmog0);
}
._1tblmog2 {
  --_1tblmog0: var(--_124r2mrg);
}
._1tblmog3 {
  --_1tblmog0: var(--_124r2mrh);
}
._1tblmog4 {
  --_1tblmog0: var(--_124r2mri);
}
._1tblmog5 {
  --_1tblmog0: var(--_124r2mrj);
}
._1tblmog6 {
  --_1tblmog0: var(--_124r2mrk);
}
._1tblmog7 {
  --_1tblmog0: var(--_124r2mrl);
}
._1tblmog8 {
  --_1tblmog0: var(--_124r2mrm);
}
._1tblmog9 {
  --_1tblmog0: var(--_124r2mrn);
}
._1tblmoga {
  --_1tblmog0: var(--_124r2mro);
}
._1tblmogb {
  --_1tblmog0: var(--_124r2mrp);
}
._1tblmogc {
  align-items: flex-start;
}
._1tblmogd {
  align-items: center;
}
._1tblmoge {
  align-items: flex-end;
}
._1mb558d1 {
  backdrop-filter: blur(6px);
}
._1mb558d1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_14mw8n8j);
  opacity: 0.4;
}
html[data-playroom-dark] ._1mb558d1::before {
  opacity: 0.7;
}
._1mb558d1[data-starting-style]::before, ._1mb558d1[data-ending-style]::before {
  opacity: 0;
}
._1mb558d3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_124r2mrk) * 2));
  max-height: calc(100dvh - (var(--_124r2mrk) * 2));
}
._1mb558d3[data-starting-style], ._1mb558d3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1mb558d7:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 2px;
}
._1j1nw142 {
  display: flex;
  flex-direction: row;
  gap: var(--_1j1nw140);
  align-items: var(--_1j1nw141);
}
._1j1nw143 {
  flex-wrap: wrap;
}
._1j1nw144 {
  --_1j1nw140: var(--_124r2mrg);
}
._1j1nw145 {
  --_1j1nw140: var(--_124r2mrh);
}
._1j1nw146 {
  --_1j1nw140: var(--_124r2mri);
}
._1j1nw147 {
  --_1j1nw140: var(--_124r2mrj);
}
._1j1nw148 {
  --_1j1nw140: var(--_124r2mrk);
}
._1j1nw149 {
  --_1j1nw140: var(--_124r2mrl);
}
._1j1nw14a {
  --_1j1nw140: var(--_124r2mrm);
}
._1j1nw14b {
  --_1j1nw140: var(--_124r2mrn);
}
._1j1nw14c {
  --_1j1nw140: var(--_124r2mro);
}
._1j1nw14d {
  --_1j1nw140: var(--_124r2mrp);
}
._1j1nw14e {
  align-items: flex-start;
}
._1j1nw14f {
  align-items: center;
}
._1j1nw14g {
  align-items: flex-end;
}
._1bcz5wf0 {
  isolation: isolate;
  white-space: nowrap;
}
._1bcz5wf1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1bcz5wf3 {
    display: none;
  }
}
._11cbdfk1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._11cbdfk2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._11cbdfk2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._11cbdfk4 {
  --_11cbdfk3: 30px;
}
._11cbdfk5 {
  --_11cbdfk3: 45px;
}
._11cbdfk6 {
  --_11cbdfk3: 60px;
}
._11cbdfk7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._11cbdfk8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._11cbdfk9 {
  overflow: auto;
}
._11cbdfke {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_11cbdfkc, 0)),linear-gradient(to right, transparent 0, black var(--_11cbdfka, 0)),linear-gradient(to left, transparent 0, black var(--_11cbdfkb, 0)),linear-gradient(to top, transparent 0, black var(--_11cbdfkd, 0));
}
._11cbdfkf {
  --_11cbdfka: var(--_11cbdfk3);
}
._11cbdfkg {
  --_11cbdfkb: var(--_11cbdfk3);
}
._11cbdfkh {
  --_11cbdfkc: var(--_11cbdfk3);
}
._11cbdfki {
  --_11cbdfkd: var(--_11cbdfk3);
}
.nkmhzy2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.nkmhzy3 {
  width: 250px;
}
.nkmhzy6 {
  --nkmhzy4: var(--_14mw8n8m);
  outline: none;
  cursor: default;
  color: var(--_14mw8n87);
  height: 34px;
  isolation: isolate;
}
.nkmhzy6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_124r2mr8);
  z-index: -1;
}
.nkmhzy6[data-popup-open]:not([aria-disabled])::before, .nkmhzy6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--nkmhzy4);
}
.nkmhzy6:focus-visible::before {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: -2px;
}
.nkmhzy6[aria-disabled] {
  color: var(--_14mw8n89);
  cursor: not-allowed;
}
.nkmhzy7 {
  cursor: pointer;
  text-decoration: none;
}
.nkmhzy7[aria-disabled] {
  cursor: not-allowed;
}
.nkmhzy8 {
  margin-left: 3px;
}
.nkmhzy9 {
  --nkmhzy4: var(--_14mw8n8i);
  color: var(--_14mw8n8a);
}
.nkmhzya {
  --nkmhzy4: transparent;
  color: var(--_14mw8n8c);
}
.nkmhzya svg {
  color: var(--_14mw8n8c);
}
.nkmhzyc {
  isolation: isolate;
}
.nkmhzyg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.nkmhzyi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_14mw8n87);
  z-index: 1;
}
[aria-checked="true"] .nkmhzyi {
  color: var(--_14mw8n88);
}
.nkmhzyk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_14mw8n87);
  isolation: isolate;
}
[aria-checked="true"] .nkmhzyk {
  background-color: var(--_14mw8n8e);
  border-color: var(--_14mw8n8e);
}
.nkmhzyp {
  height: 34px;
}
.nkmhzyr {
  height: 1px;
  background-color: var(--_14mw8n8q);
}
.nkmhzys {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
.nkmhzyu {
  background: transparent;
  border: none;
}
.nkmhzyu:hover, .nkmhzyu[data-highlighted] {
  background-color: var(--_14mw8n8m);
}
.nkmhzyu:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: -2px;
}
.jmgk9k0 {
  width: 200px;
}
._1aohvgl1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_14mw8n8k);
}
._1aohvgl2 {
  width: fit-content;
}
._1aohvgl5 {
  width: fit-content;
  justify-self: flex-end;
}
._1aohvgl5:not(._1aohvgl3) {
  opacity: 0;
  transform: translateX(var(--_124r2mrj));
  pointer-events: none;
}
._1aohvgl7 {
  background: transparent;
  color: var(--_14mw8n8f);
  isolation: isolate;
}
._1aohvgl7::after {
  content: "";
  position: absolute;
  transition: var(--_124r2mrf);
  z-index: -1;
  inset: calc(var(--_124r2mrj) * -1);
  background-color: var(--_14mw8n8m);
  border-radius: var(--_124r2mr9);
}
._1aohvgl7:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 6px;
}
._1aohvgl7:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1aohvgl9 {
  margin: calc(var(--_124r2mrk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1aohvgld {
  appearance: none;
  outline: none;
  background: var(--_14mw8n8k);
  color: var(--_14mw8n87);
  border: 1px solid var(--_14mw8n8q);
  height: var(--_124r2mrr);
}
._1aohvgld:hover, ._1aohvgld[data-popup-open] {
  background-color: var(--_14mw8n8m);
}
._1aohvgld:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  z-index: 1;
}
._1aohvglf {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1aohvglh {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1aohvgli {
  color: var(--_14mw8n8c);
}
._1aohvglk {
  height: 1px;
  background-color: var(--_14mw8n8q);
}
@media screen and (max-width: 767px) {
  ._1aohvgl5 {
    display: none;
  }
}
.sq4dph2 {
  flex: 1;
  min-height: 0;
}
.sq4dph5 {
  --sq4dph3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--sq4dph3), 1fr);
}
.sq4dph7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.sq4dph9 {
  height: calc(100% / var(--sq4dph0));
  width: calc(100% / var(--sq4dph0));
  border-radius: calc(var(--_124r2mr9) / var(--sq4dph0));
  transform: scale(var(--sq4dph0));
  transform-origin: 0 0;
  padding: calc(1px / var(--sq4dph0));
}
.sq4dphb {
  background: var(--_14mw8n8m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sq4dphd {
  background: transparent;
  outline: 1px solid var(--_14mw8n8q);
}
.sq4dphd:hover {
  outline: 2px solid var(--_14mw8n8r);
}
.sq4dphd:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 2px;
}
.sq4dphh {
  list-style: none;
}
.sq4dphj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_14mw8n8q);
}
.sq4dphj:hover {
  outline: 2px solid var(--_14mw8n8r);
}
.sq4dphj:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .sq4dph5 {
    --sq4dph3: 2;
  }
}
@media screen and (min-width: 800px) {
  .sq4dph5 {
    --sq4dph3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .sq4dph5 {
    --sq4dph3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .sq4dph5 {
    --sq4dph3: 5;
  }
}
._17zs05l1 {
  width: fit-content;
}
._17zs05l3:focus-visible ~ ._17zs05l5 {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 4px;
}
._17zs05l8 {
  min-width: 0;
}
._17zs05l9 {
  flex-shrink: 0;
}
.n6cklb2 {
  outline: none;
  height: var(--_124r2mrr);
  color: var(--_14mw8n87);
  background: transparent;
}
.n6cklb2::placeholder {
  color: var(--_14mw8n89);
  font-weight: strong;
}
.n6cklb2:hover:not(:focus-visible), .n6cklb2:hover:not(:focus-visible)::placeholder {
  background: var(--_14mw8n8m);
  opacity: 1;
  color: transparent;
}
.n6cklb2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.n6cklb2:focus-visible {
  outline: 2px solid var(--_14mw8n8t);
  outline-offset: 0;
  opacity: 1;
}
.n6cklb2:focus-visible::placeholder {
  color: transparent;
}
.n6cklb4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_14mw8n87);
}
.n6cklb2:focus-visible ~ .n6cklb4 {
  opacity: 0;
}
.n6cklb5 {
  color: var(--_14mw8n89);
}
.npf9kv3 {
  border: 1px solid var(--_14mw8n8q);
}
.npf9kv5 {
  background-color: var(--_14mw8n8p);
  border-bottom: 1px solid var(--_14mw8n8q);
}
.npf9kv8 {
  background-color: var(--_14mw8n8p);
  border-top: 1px solid var(--_14mw8n8q);
}
.npf9kvc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .npf9kv6 {
    display: none;
  }
}
