@keyframes _1j87nj34 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1j87nj31 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1f5fvzd9);
}
._1j87nj33 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1j87nj34;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1j87nj35 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._12hnv0a1 {
  display: flex;
  flex-direction: column;
  gap: var(--_12hnv0a0);
}
._12hnv0a2 {
  --_12hnv0a0: var(--_1p21xhng);
}
._12hnv0a3 {
  --_12hnv0a0: var(--_1p21xhnh);
}
._12hnv0a4 {
  --_12hnv0a0: var(--_1p21xhni);
}
._12hnv0a5 {
  --_12hnv0a0: var(--_1p21xhnj);
}
._12hnv0a6 {
  --_12hnv0a0: var(--_1p21xhnk);
}
._12hnv0a7 {
  --_12hnv0a0: var(--_1p21xhnl);
}
._12hnv0a8 {
  --_12hnv0a0: var(--_1p21xhnm);
}
._12hnv0a9 {
  --_12hnv0a0: var(--_1p21xhnn);
}
._12hnv0aa {
  --_12hnv0a0: var(--_1p21xhno);
}
._12hnv0ab {
  --_12hnv0a0: var(--_1p21xhnp);
}
