.xn0p171 {
  background-color: var(--q0zmh6m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--q0zmh6r);
}
.xn0p172::before {
  content: "";
  position: absolute;
  min-height: var(--g7ea5zc);
  min-width: var(--g7ea5zc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.obn6k42 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.obn6k44 {
  border: 1px solid var(--q0zmh6r);
  background-color: var(--q0zmh6l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.obn6k44::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--q0zmh6n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.obn6k44:hover::after {
  opacity: 1;
}
.obn6k44:focus-visible::after {
  opacity: 1;
}
.obn6k44:active:not([disabled]) {
  transform: scale(0.97);
}
.obn6k44:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 0;
}
.obn6k46 {
  isolation: isolate;
}
.obn6k48 {
  height: var(--obn6k40);
}
.obn6k4a {
  border-color: var(--q0zmh6c);
}
.obn6k4a::after {
  background-color: var(--q0zmh6i);
}
.obn6k4b {
  border-color: var(--q0zmh6a);
}
.obn6k4b::after {
  background-color: var(--q0zmh6j);
}
.obn6k4c {
  --obn6k40: var(--g7ea5zq);
}
.obn6k4d {
  --obn6k40: var(--g7ea5zr);
}
.obn6k4e {
  --obn6k40: var(--g7ea5zs);
}
.u6xzfe1 {
  --q0zmh67: var(--q0zmh6d);
  background-color: var(--q0zmh6o);
  outline: 1px solid var(--q0zmh6t);
  outline-offset: -1px;
}
._7sld3r3 {
  background: transparent;
  outline: none;
  height: var(--_7sld3r0) !important;
  width: var(--_7sld3r0) !important;
}
._7sld3r6 {
  padding: var(--_7sld3r4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._7sld3r3:active ._7sld3r6 {
  transform: scale(.95);
}
._7sld3r3:focus-visible ._7sld3r6 {
  outline: 2px solid var(--q0zmh6u);
}
._7sld3r3[aria-disabled="true"] ._7sld3r6 {
  --_7sld3r1: var(--q0zmh69);
}
._7sld3r7 {
  --_7sld3r0: var(--g7ea5zq);
  --_7sld3r4: var(--g7ea5zi);
}
._7sld3r8 {
  --_7sld3r0: var(--g7ea5zr);
  --_7sld3r4: var(--g7ea5zj);
}
._7sld3r9 {
  --_7sld3r0: var(--g7ea5zs);
  --_7sld3r4: var(--g7ea5zj);
}
._7sld3rj {
  --_7sld3ra: var(--q0zmh67);
  --_7sld3rb: var(--q0zmh6l);
  --_7sld3rc: var(--q0zmh6n);
  --_7sld3rd: var(--q0zmh68);
  --_7sld3re: var(--q0zmh6g);
  --_7sld3rf: var(--q0zmh6h);
  --_7sld3rg: var(--q0zmh67);
  --_7sld3rh: var(--q0zmh67);
  --_7sld3ri: var(--q0zmh6n);
}
._7sld3rk {
  --_7sld3ra: var(--q0zmh6b);
  --_7sld3rb: var(--q0zmh6l);
  --_7sld3rc: var(--q0zmh6n);
  --_7sld3rd: var(--q0zmh68);
  --_7sld3re: var(--q0zmh6b);
  --_7sld3rf: var(--q0zmh6f);
  --_7sld3rg: var(--q0zmh6b);
  --_7sld3rh: var(--q0zmh68);
  --_7sld3ri: var(--q0zmh6e);
}
._7sld3rl {
  color: var(--_7sld3ra);
  background-color: var(--_7sld3rb);
  outline: 1px solid var(--q0zmh6r);
  outline-offset: -1px;
}
._7sld3r3:not([aria-disabled="true"]):hover > ._7sld3rl, ._7sld3r3:not([aria-disabled="true"]):focus-visible > ._7sld3rl, ._7sld3r3:not([aria-disabled="true"])[data-popup-open] > ._7sld3rl {
  background-color: var(--_7sld3rc);
}
._7sld3rm {
  color: var(--_7sld3rd);
  background-color: var(--_7sld3re);
}
._7sld3r3:not([aria-disabled="true"]):hover > ._7sld3rm, ._7sld3r3:not([aria-disabled="true"]):focus-visible > ._7sld3rm, ._7sld3r3:not([aria-disabled="true"])[data-popup-open] > ._7sld3rm {
  background-color: var(--_7sld3rf);
}
._7sld3rn {
  color: var(--_7sld3rg);
}
._7sld3r3:not([aria-disabled="true"]):hover > ._7sld3rn, ._7sld3r3:not([aria-disabled="true"]):focus-visible > ._7sld3rn, ._7sld3r3:not([aria-disabled="true"])[data-popup-open] > ._7sld3rn {
  color: var(--_7sld3rh);
  background-color: var(--_7sld3ri);
}
._7sld3ro {
  margin: calc((var(--_7sld3r4) + 2px) * -1);
}
._7sld3r6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1wm94bx0 {
  isolation: isolate;
  white-space: nowrap;
}
._1wm94bx1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1wm94bx3 {
    display: none;
  }
}
._1a5bau51 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1a5bau52 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1a5bau52::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1a5bau54 {
  --_1a5bau53: 30px;
}
._1a5bau55 {
  --_1a5bau53: 45px;
}
._1a5bau56 {
  --_1a5bau53: 60px;
}
._1a5bau57 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1a5bau58 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1a5bau59 {
  overflow: auto;
}
._1a5bau5e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1a5bau5c, 0)),linear-gradient(to right, transparent 0, black var(--_1a5bau5a, 0)),linear-gradient(to left, transparent 0, black var(--_1a5bau5b, 0)),linear-gradient(to top, transparent 0, black var(--_1a5bau5d, 0));
}
._1a5bau5f {
  --_1a5bau5a: var(--_1a5bau53);
}
._1a5bau5g {
  --_1a5bau5b: var(--_1a5bau53);
}
._1a5bau5h {
  --_1a5bau5c: var(--_1a5bau53);
}
._1a5bau5i {
  --_1a5bau5d: var(--_1a5bau53);
}
._1aiipnr2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1aiipnr3 {
  width: 250px;
}
._1aiipnr6 {
  --_1aiipnr4: var(--q0zmh6n);
  outline: none;
  cursor: default;
  color: var(--q0zmh67);
  height: 34px;
  isolation: isolate;
}
._1aiipnr6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--g7ea5z8);
  z-index: -1;
}
._1aiipnr6[data-popup-open]:not([aria-disabled])::before, ._1aiipnr6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1aiipnr4);
}
._1aiipnr6:focus-visible::before {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: -2px;
}
._1aiipnr6[aria-disabled] {
  color: var(--q0zmh69);
  cursor: not-allowed;
}
._1aiipnr7 {
  cursor: pointer;
  text-decoration: none;
}
._1aiipnr7[aria-disabled] {
  cursor: not-allowed;
}
._1aiipnr8 {
  margin-left: 3px;
}
._1aiipnr9 {
  --_1aiipnr4: var(--q0zmh6j);
  color: var(--q0zmh6a);
}
._1aiipnra {
  --_1aiipnr4: transparent;
  color: var(--q0zmh6c);
}
._1aiipnra svg {
  color: var(--q0zmh6c);
}
._1aiipnrc {
  isolation: isolate;
}
._1aiipnrg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1aiipnri {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--q0zmh67);
  z-index: 1;
}
[aria-checked="true"] ._1aiipnri {
  color: var(--q0zmh68);
}
._1aiipnrk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--q0zmh67);
  isolation: isolate;
}
[aria-checked="true"] ._1aiipnrk {
  background-color: var(--q0zmh6e);
  border-color: var(--q0zmh6e);
}
._1aiipnrp {
  height: 34px;
}
._1aiipnrr {
  height: 1px;
  background-color: var(--q0zmh6r);
}
._1aiipnrt {
  background: transparent;
  border: none;
}
._1aiipnrt:hover, ._1aiipnrt[data-highlighted] {
  background-color: var(--q0zmh6n);
}
._1aiipnrt:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: -2px;
}
._1k6ln2x1 {
  justify-content: safe center;
}
._1k6ln2x5 {
  flex-shrink: 0;
  width: var(--_1k6ln2x2);
}
._1k6ln2x5:last-child {
  padding-right: var(--g7ea5zn);
}
._1k6ln2x6 {
  transition: color 150ms ease;
}
._1k6ln2x5:hover ._1k6ln2x6, ._1k6ln2x5:focus-within ._1k6ln2x6, ._1k6ln2x3 ._1k6ln2x6 {
  color: var(--q0zmh6b);
}
._1k6ln2x8 {
  outline: 1px solid var(--q0zmh6r);
}
._1k6ln2xa {
  transition: opacity 150ms ease;
}
._1k6ln2x5:not(:hover, :focus-within, ._1k6ln2x3) ._1k6ln2xa {
  opacity: 1;
}
._1k6ln2xc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1k6ln2xa:hover ~ ._1k6ln2x8 ._1k6ln2xc, ._1k6ln2xa:focus-within ~ ._1k6ln2x8._1k6ln2xc {
  outline-color: var(--q0zmh6b);
}
._1k6ln2xe {
  transition: opacity 150ms ease;
}
._1k6ln2x5:not(:hover, :focus-within, ._1k6ln2x3) ._1k6ln2xe {
  opacity: 0;
}
._1kcx3l71 {
  color: var(--q0zmh67);
  font-family: var(--g7ea5z0);
}
._1kcx3l72 {
  --_1t54xq00: 36px;
  --_1t54xq01: 44px;
  --_1t54xq02: -0.2741em;
  --_1t54xq03: -0.2031em;
}
._1kcx3l73 {
  --_1t54xq00: 20px;
  --_1t54xq01: 28px;
  --_1t54xq02: -0.363em;
  --_1t54xq03: -0.292em;
}
._1kcx3l74 {
  --_1t54xq00: 16px;
  --_1t54xq01: 20px;
  --_1t54xq02: -0.288em;
  --_1t54xq03: -0.217em;
}
._1cml7y71 {
  display: flex;
  flex-direction: column;
  gap: var(--_1cml7y70);
}
._1cml7y72 {
  --_1cml7y70: var(--g7ea5zg);
}
._1cml7y73 {
  --_1cml7y70: var(--g7ea5zh);
}
._1cml7y74 {
  --_1cml7y70: var(--g7ea5zi);
}
._1cml7y75 {
  --_1cml7y70: var(--g7ea5zj);
}
._1cml7y76 {
  --_1cml7y70: var(--g7ea5zk);
}
._1cml7y77 {
  --_1cml7y70: var(--g7ea5zl);
}
._1cml7y78 {
  --_1cml7y70: var(--g7ea5zm);
}
._1cml7y79 {
  --_1cml7y70: var(--g7ea5zn);
}
._1cml7y7a {
  --_1cml7y70: var(--g7ea5zo);
}
._1cml7y7b {
  --_1cml7y70: var(--g7ea5zp);
}
._1cml7y7c {
  align-items: flex-start;
}
._1cml7y7d {
  align-items: center;
}
._1cml7y7e {
  align-items: flex-end;
}
._1hp24fb1 {
  backdrop-filter: blur(6px);
}
._1hp24fb1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--q0zmh6k);
  opacity: 0.4;
}
html[data-playroom-dark] ._1hp24fb1::before {
  opacity: 0.7;
}
._1hp24fb1[data-starting-style]::before, ._1hp24fb1[data-ending-style]::before {
  opacity: 0;
}
._1hp24fb3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--g7ea5zk) * 2));
  max-height: calc(100dvh - (var(--g7ea5zk) * 2));
}
._1hp24fb3[data-starting-style], ._1hp24fb3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1hp24fb7:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 2px;
}
._15z0y2e2 {
  display: flex;
  flex-direction: row;
  gap: var(--_15z0y2e0);
  align-items: var(--_15z0y2e1);
}
._15z0y2e3 {
  flex-wrap: wrap;
}
._15z0y2e4 {
  --_15z0y2e0: var(--g7ea5zg);
}
._15z0y2e5 {
  --_15z0y2e0: var(--g7ea5zh);
}
._15z0y2e6 {
  --_15z0y2e0: var(--g7ea5zi);
}
._15z0y2e7 {
  --_15z0y2e0: var(--g7ea5zj);
}
._15z0y2e8 {
  --_15z0y2e0: var(--g7ea5zk);
}
._15z0y2e9 {
  --_15z0y2e0: var(--g7ea5zl);
}
._15z0y2ea {
  --_15z0y2e0: var(--g7ea5zm);
}
._15z0y2eb {
  --_15z0y2e0: var(--g7ea5zn);
}
._15z0y2ec {
  --_15z0y2e0: var(--g7ea5zo);
}
._15z0y2ed {
  --_15z0y2e0: var(--g7ea5zp);
}
._15z0y2ee {
  align-items: flex-start;
}
._15z0y2ef {
  align-items: center;
}
._15z0y2eg {
  align-items: flex-end;
}
._1j6pei30 {
  width: 200px;
}
._1ktb69h1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--q0zmh6l);
}
._1ktb69h2 {
  width: fit-content;
}
._1ktb69h4 {
  width: fit-content;
  justify-self: flex-end;
}
._1ktb69h7:not(._1ktb69h5) {
  opacity: 0;
  transform: translateX(var(--g7ea5zj));
  pointer-events: none;
}
._1ktb69h9 {
  background: transparent;
  color: var(--q0zmh6g);
  isolation: isolate;
}
._1ktb69h9::after {
  content: "";
  position: absolute;
  transition: var(--g7ea5zf);
  z-index: -1;
  inset: calc(var(--g7ea5zj) * -1);
  background-color: var(--q0zmh6n);
  border-radius: var(--g7ea5z9);
}
._1ktb69h9:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 6px;
}
._1ktb69h9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1ktb69hb {
  margin: calc(var(--g7ea5zk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1ktb69hf {
  appearance: none;
  outline: none;
  background: var(--q0zmh6l);
  color: var(--q0zmh67);
  border: 1px solid var(--q0zmh6r);
  height: var(--g7ea5zr);
}
._1ktb69hf:hover, ._1ktb69hf[data-popup-open] {
  background-color: var(--q0zmh6n);
}
._1ktb69hf:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  z-index: 1;
}
._1ktb69hh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1ktb69hj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1ktb69hk {
  color: var(--q0zmh6c);
}
._1ktb69hm {
  height: 1px;
  background-color: var(--q0zmh6r);
}
@media screen and (max-width: 767px) {
  ._1ktb69h4 {
    display: none;
  }
}
._1enr2142 {
  flex: 1;
  min-height: 0;
}
._1enr2145 {
  --_1enr2143: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1enr2143), 1fr);
}
._1enr2147 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1enr2149 {
  height: calc(100% / var(--_1enr2140));
  width: calc(100% / var(--_1enr2140));
  border-radius: calc(var(--g7ea5z9) / var(--_1enr2140));
  transform: scale(var(--_1enr2140));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1enr2140));
}
._1enr214b {
  background: var(--q0zmh6n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1enr214d {
  background: transparent;
  outline: 1px solid var(--q0zmh6r);
}
._1enr214d:hover {
  outline: 2px solid var(--q0zmh6s);
}
._1enr214d:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 2px;
}
._1enr214h {
  list-style: none;
}
._1enr214j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--q0zmh6r);
}
._1enr214j:hover {
  outline: 2px solid var(--q0zmh6s);
}
._1enr214j:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1enr2145 {
    --_1enr2143: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1enr2145 {
    --_1enr2143: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1enr2145 {
    --_1enr2143: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1enr2145 {
    --_1enr2143: 5;
  }
}
.v2q3gx1 {
  width: fit-content;
}
.v2q3gx3:focus-visible ~ .v2q3gx5 {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 4px;
}
.v2q3gx8 {
  min-width: 0;
}
.v2q3gx9 {
  flex-shrink: 0;
}
._1dthq662 {
  outline: none;
  height: var(--g7ea5zr);
  color: var(--q0zmh67);
  background: transparent;
}
._1dthq662::placeholder {
  color: var(--q0zmh69);
  font-weight: strong;
}
._1dthq662:hover:not(:focus-visible), ._1dthq662:hover:not(:focus-visible)::placeholder {
  background: var(--q0zmh6n);
  opacity: 1;
  color: transparent;
}
._1dthq662:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1dthq662:focus-visible {
  outline: 2px solid var(--q0zmh6u);
  outline-offset: 0;
  opacity: 1;
}
._1dthq662:focus-visible::placeholder {
  color: transparent;
}
._1dthq664 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--q0zmh67);
}
._1dthq662:focus-visible ~ ._1dthq664 {
  opacity: 0;
}
._1dthq665 {
  color: var(--q0zmh69);
}
._1c7dj0j3 {
  border: 1px solid var(--q0zmh6r);
}
._1c7dj0j5 {
  background-color: var(--q0zmh6q);
  border-bottom: 1px solid var(--q0zmh6r);
}
._1c7dj0j8 {
  background-color: var(--q0zmh6q);
  border-top: 1px solid var(--q0zmh6r);
}
._1c7dj0jc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1c7dj0j6 {
    display: none;
  }
}
