._9kdlzp1 {
  background-color: var(--pbygctl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--pbygctq);
}
._9kdlzp2::before {
  content: "";
  position: absolute;
  min-height: var(--nclzghc);
  min-width: var(--nclzghc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1cv54np2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1cv54np4 {
  border: 1px solid var(--pbygctq);
  background-color: var(--pbygctk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1cv54np4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--pbygctm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1cv54np4:hover::after {
  opacity: 1;
}
._1cv54np4:focus-visible::after {
  opacity: 1;
}
._1cv54np4:active:not([disabled]) {
  transform: scale(0.97);
}
._1cv54np4:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: 0;
}
._1cv54np6 {
  isolation: isolate;
}
._1cv54np8 {
  height: var(--_1cv54np0);
}
._1cv54npa {
  border-color: var(--pbygctc);
}
._1cv54npa::after {
  background-color: var(--pbygcth);
}
._1cv54npb {
  border-color: var(--pbygcta);
}
._1cv54npb::after {
  background-color: var(--pbygcti);
}
._1cv54npc {
  --_1cv54np0: var(--nclzghq);
}
._1cv54npd {
  --_1cv54np0: var(--nclzghr);
}
._1cv54npe {
  --_1cv54np0: var(--nclzghs);
}
.twx4zx1 {
  --pbygct7: var(--pbygctd);
  background-color: var(--pbygctn);
  outline: 1px solid var(--pbygcts);
  outline-offset: -1px;
}
._1q4m9q03 {
  background: transparent;
  outline: none;
  height: var(--_1q4m9q00);
  width: var(--_1q4m9q00);
}
._1q4m9q06 {
  padding: var(--_1q4m9q04);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1q4m9q01);
  isolation: isolate;
}
._1q4m9q03[data-pressed] ._1q4m9q06, ._1q4m9q03:active ._1q4m9q06 {
  transform: scale(.95);
}
._1q4m9q03:focus-visible ._1q4m9q06 {
  outline: 2px solid var(--pbygctt);
}
._1q4m9q07 {
  --_1q4m9q00: var(--nclzghq);
  --_1q4m9q04: 6px;
}
._1q4m9q08 {
  --_1q4m9q00: var(--nclzghr);
  --_1q4m9q04: var(--nclzghj);
}
._1q4m9q09 {
  --_1q4m9q00: var(--nclzghs);
  --_1q4m9q04: var(--nclzghj);
}
._1q4m9q0a {
  --_1q4m9q01: var(--pbygct7);
}
._1q4m9q0b {
  --_1q4m9q01: var(--pbygctb);
}
._1q4m9q0c {
  --_1q4m9q01: var(--pbygctc);
}
._1q4m9q0d {
  background-color: var(--pbygctk);
  outline: 1px solid var(--pbygctq);
  outline-offset: -1px;
}
._1q4m9q0d:hover, [data-popup-open] > ._1q4m9q0d {
  background-color: var(--pbygctm);
}
._1q4m9q0e {
  --_1q4m9q01: var(--pbygct8);
  background-color: var(--pbygctf);
}
._1q4m9q0e:hover, [data-popup-open] > ._1q4m9q0e {
  background-color: var(--pbygctg);
}
._1q4m9q0f:hover, [data-popup-open] > ._1q4m9q0f {
  background-color: var(--pbygctm);
}
._1q4m9q0g {
  margin: calc((var(--_1q4m9q04) + 2px) * -1);
}
._1q4m9q06 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.f78ols2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--nclzgh8);
  color: var(--f78ols0);
  isolation: isolate;
  outline: none;
}
.f78ols2[data-pressed], .f78ols2:active {
  transform: scale(.95);
}
.f78ols2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--nclzghi) * -1);
  background-color: var(--f78ols0);
  border-radius: var(--nclzgh8);
}
.f78ols2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.f78ols2:hover, .f78ols2[data-popup-open]:not(:focus-visible) {
  color: var(--pbygct8);
}
.f78ols2:focus-visible::after {
  outline: 2px solid var(--pbygctt);
}
.f78ols2:focus-visible:not(:hover)::after {
  background: transparent;
}
.f78ols3 {
  --f78ols0: var(--pbygctb);
}
.f78ols4 {
  --f78ols0: var(--pbygctc);
}
.f78ols2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1r0y03d1 {
  justify-content: safe center;
}
._1r0y03d5 {
  flex-shrink: 0;
  width: var(--_1r0y03d2);
}
._1r0y03d6 {
  transition: color 150ms ease;
}
._1r0y03d5:hover ._1r0y03d6, ._1r0y03d5:focus-within ._1r0y03d6, ._1r0y03d3 ._1r0y03d6 {
  color: var(--pbygctb);
}
._1r0y03d8 {
  outline: 1px solid var(--pbygctq);
}
._1r0y03da {
  transition: opacity 150ms ease;
}
._1r0y03d5:not(:hover, :focus-within, ._1r0y03d3) ._1r0y03da {
  opacity: 1;
}
._1r0y03dc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1r0y03da:hover ~ ._1r0y03d8 ._1r0y03dc, ._1r0y03da:focus-within ~ ._1r0y03d8._1r0y03dc {
  outline-color: var(--pbygctb);
}
._1r0y03de {
  transition: opacity 150ms ease;
}
._1r0y03d5:not(:hover, :focus-within, ._1r0y03d3) ._1r0y03de {
  opacity: 0;
}
.hvj9ny1 {
  color: var(--pbygct7);
  font-family: var(--nclzgh0);
}
.hvj9ny2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
.hvj9ny3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
.hvj9ny4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1uh5m0c1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1uh5m0c0);
}
._1uh5m0c2 {
  --_1uh5m0c0: var(--nclzghg);
}
._1uh5m0c3 {
  --_1uh5m0c0: var(--nclzghh);
}
._1uh5m0c4 {
  --_1uh5m0c0: var(--nclzghi);
}
._1uh5m0c5 {
  --_1uh5m0c0: var(--nclzghj);
}
._1uh5m0c6 {
  --_1uh5m0c0: var(--nclzghk);
}
._1uh5m0c7 {
  --_1uh5m0c0: var(--nclzghl);
}
._1uh5m0c8 {
  --_1uh5m0c0: var(--nclzghm);
}
._1uh5m0c9 {
  --_1uh5m0c0: var(--nclzghn);
}
._1uh5m0ca {
  --_1uh5m0c0: var(--nclzgho);
}
._1uh5m0cb {
  --_1uh5m0c0: var(--nclzghp);
}
._1uh5m0cc {
  align-items: flex-start;
}
._1uh5m0cd {
  align-items: center;
}
._1uh5m0ce {
  align-items: flex-end;
}
._1h379uq1 {
  backdrop-filter: blur(6px);
}
._1h379uq1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--pbygctj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1h379uq1::before {
  opacity: 0.7;
}
._1h379uq1[data-starting-style]::before, ._1h379uq1[data-ending-style]::before {
  opacity: 0;
}
._1h379uq3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--nclzghk) * 2));
  max-height: calc(100dvh - (var(--nclzghk) * 2));
}
._1h379uq3[data-starting-style], ._1h379uq3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1h379uq7:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: 2px;
}
.ax6kg72 {
  display: flex;
  flex-direction: row;
  gap: var(--ax6kg70);
  align-items: var(--ax6kg71);
}
.ax6kg73 {
  flex-wrap: wrap;
}
.ax6kg74 {
  --ax6kg70: var(--nclzghg);
}
.ax6kg75 {
  --ax6kg70: var(--nclzghh);
}
.ax6kg76 {
  --ax6kg70: var(--nclzghi);
}
.ax6kg77 {
  --ax6kg70: var(--nclzghj);
}
.ax6kg78 {
  --ax6kg70: var(--nclzghk);
}
.ax6kg79 {
  --ax6kg70: var(--nclzghl);
}
.ax6kg7a {
  --ax6kg70: var(--nclzghm);
}
.ax6kg7b {
  --ax6kg70: var(--nclzghn);
}
.ax6kg7c {
  --ax6kg70: var(--nclzgho);
}
.ax6kg7d {
  --ax6kg70: var(--nclzghp);
}
.ax6kg7e {
  align-items: flex-start;
}
.ax6kg7f {
  align-items: center;
}
.ax6kg7g {
  align-items: flex-end;
}
._10krnfa0 {
  isolation: isolate;
  white-space: nowrap;
}
._10krnfa1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._10krnfa3 {
    display: none;
  }
}
.vi3pp01 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.vi3pp02 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.vi3pp02::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.vi3pp04 {
  --vi3pp03: 30px;
}
.vi3pp05 {
  --vi3pp03: 45px;
}
.vi3pp06 {
  --vi3pp03: 60px;
}
.vi3pp07 {
  overflow-x: auto;
  overflow-y: hidden;
}
.vi3pp08 {
  overflow-x: hidden;
  overflow-y: auto;
}
.vi3pp09 {
  overflow: auto;
}
.vi3pp0e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--vi3pp0c, 0)),linear-gradient(to right, transparent 0, black var(--vi3pp0a, 0)),linear-gradient(to left, transparent 0, black var(--vi3pp0b, 0)),linear-gradient(to top, transparent 0, black var(--vi3pp0d, 0));
}
.vi3pp0f {
  --vi3pp0a: var(--vi3pp03);
}
.vi3pp0g {
  --vi3pp0b: var(--vi3pp03);
}
.vi3pp0h {
  --vi3pp0c: var(--vi3pp03);
}
.vi3pp0i {
  --vi3pp0d: var(--vi3pp03);
}
._1lczj892 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1lczj893 {
  width: 250px;
}
._1lczj896 {
  --_1lczj894: var(--pbygctm);
  outline: none;
  cursor: default;
  color: var(--pbygct7);
  height: 34px;
  isolation: isolate;
}
._1lczj896::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--nclzgh8);
  z-index: -1;
}
._1lczj896[data-popup-open]:not([aria-disabled])::before, ._1lczj896[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1lczj894);
}
._1lczj896:focus-visible::before {
  outline: 2px solid var(--pbygctt);
  outline-offset: -2px;
}
._1lczj896[aria-disabled] {
  color: var(--pbygct9);
  cursor: not-allowed;
}
._1lczj897 {
  cursor: pointer;
  text-decoration: none;
}
._1lczj897[aria-disabled] {
  cursor: not-allowed;
}
._1lczj898 {
  margin-left: 3px;
}
._1lczj899 {
  --_1lczj894: var(--pbygcti);
  color: var(--pbygcta);
}
._1lczj89a {
  --_1lczj894: transparent;
  color: var(--pbygctc);
}
._1lczj89a svg {
  color: var(--pbygctc);
}
._1lczj89c {
  isolation: isolate;
}
._1lczj89g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1lczj89i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--pbygct7);
  z-index: 1;
}
[aria-checked="true"] ._1lczj89i {
  color: var(--pbygct8);
}
._1lczj89k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--pbygct7);
  isolation: isolate;
}
[aria-checked="true"] ._1lczj89k {
  background-color: var(--pbygcte);
  border-color: var(--pbygcte);
}
._1lczj89p {
  height: 34px;
}
._1lczj89r {
  height: 1px;
  background-color: var(--pbygctq);
}
._1lczj89s {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1lczj89u {
  background: transparent;
  border: none;
}
._1lczj89u:hover, ._1lczj89u[data-highlighted] {
  background-color: var(--pbygctm);
}
._1lczj89u:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: -2px;
}
._16w55mf0 {
  width: 200px;
}
._6y6r8r1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pbygctk);
}
._6y6r8r2 {
  width: fit-content;
}
._6y6r8r5 {
  width: fit-content;
  justify-self: flex-end;
}
._6y6r8r5:not(._6y6r8r3) {
  opacity: 0;
  transform: translateX(var(--nclzghj));
  pointer-events: none;
}
._6y6r8r7 {
  background: transparent;
  color: var(--pbygctf);
  isolation: isolate;
}
._6y6r8r7::after {
  content: "";
  position: absolute;
  transition: var(--nclzghf);
  z-index: -1;
  inset: calc(var(--nclzghj) * -1);
  background-color: var(--pbygctm);
  border-radius: var(--nclzgh9);
}
._6y6r8r7:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: 6px;
}
._6y6r8r7:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._6y6r8r9 {
  margin: calc(var(--nclzghk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._6y6r8rd {
  appearance: none;
  outline: none;
  background: var(--pbygctk);
  color: var(--pbygct7);
  border: 1px solid var(--pbygctq);
  height: var(--nclzghr);
}
._6y6r8rd:hover, ._6y6r8rd[data-popup-open] {
  background-color: var(--pbygctm);
}
._6y6r8rd:focus-visible {
  outline: 2px solid var(--pbygctt);
  z-index: 1;
}
._6y6r8rf {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._6y6r8rh {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._6y6r8ri {
  color: var(--pbygctc);
}
._6y6r8rk {
  height: 1px;
  background-color: var(--pbygctq);
}
@media screen and (max-width: 767px) {
  ._6y6r8r5 {
    display: none;
  }
}
._162d91y2 {
  flex: 1;
  min-height: 0;
}
._162d91y5 {
  --_162d91y3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_162d91y3), 1fr);
}
._162d91y7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._162d91y9 {
  height: calc(100% / var(--_162d91y0));
  width: calc(100% / var(--_162d91y0));
  border-radius: calc(var(--nclzgh9) / var(--_162d91y0));
  transform: scale(var(--_162d91y0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_162d91y0));
}
._162d91yb {
  background: var(--pbygctm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._162d91yd {
  background: transparent;
  outline: 1px solid var(--pbygctq);
}
._162d91yd:hover {
  outline: 2px solid var(--pbygctr);
}
._162d91yd:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: 2px;
}
._162d91yh {
  list-style: none;
}
._162d91yj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--pbygctq);
}
._162d91yj:hover {
  outline: 2px solid var(--pbygctr);
}
._162d91yj:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._162d91y5 {
    --_162d91y3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._162d91y5 {
    --_162d91y3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._162d91y5 {
    --_162d91y3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._162d91y5 {
    --_162d91y3: 5;
  }
}
._1djdpzw1 {
  width: fit-content;
}
._1djdpzw3:focus-visible ~ ._1djdpzw5 {
  outline: 2px solid var(--pbygctt);
  outline-offset: 4px;
}
._1djdpzw8 {
  min-width: 0;
}
._1djdpzw9 {
  flex-shrink: 0;
}
._3eelzk2 {
  outline: none;
  height: var(--nclzghr);
  color: var(--pbygct7);
  background: transparent;
}
._3eelzk2::placeholder {
  color: var(--pbygct9);
  font-weight: strong;
}
._3eelzk2:hover:not(:focus-visible), ._3eelzk2:hover:not(:focus-visible)::placeholder {
  background: var(--pbygctm);
  opacity: 1;
  color: transparent;
}
._3eelzk2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._3eelzk2:focus-visible {
  outline: 2px solid var(--pbygctt);
  outline-offset: 0;
  opacity: 1;
}
._3eelzk2:focus-visible::placeholder {
  color: transparent;
}
._3eelzk4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--pbygct7);
}
._3eelzk2:focus-visible ~ ._3eelzk4 {
  opacity: 0;
}
._3eelzk5 {
  color: var(--pbygct9);
}
.u824vz3 {
  border: 1px solid var(--pbygctq);
}
.u824vz5 {
  background-color: var(--pbygctp);
  border-bottom: 1px solid var(--pbygctq);
}
.u824vz8 {
  background-color: var(--pbygctp);
  border-top: 1px solid var(--pbygctq);
}
.u824vzc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .u824vz6 {
    display: none;
  }
}
