@keyframes q87jyt4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.q87jyt1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_1l5guui9);
}
.q87jyt3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: q87jyt4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.q87jyt5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1q2kidu1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1q2kidu0);
}
._1q2kidu2 {
  --_1q2kidu0: var(--opbfg8g);
}
._1q2kidu3 {
  --_1q2kidu0: var(--opbfg8h);
}
._1q2kidu4 {
  --_1q2kidu0: var(--opbfg8i);
}
._1q2kidu5 {
  --_1q2kidu0: var(--opbfg8j);
}
._1q2kidu6 {
  --_1q2kidu0: var(--opbfg8k);
}
._1q2kidu7 {
  --_1q2kidu0: var(--opbfg8l);
}
._1q2kidu8 {
  --_1q2kidu0: var(--opbfg8m);
}
._1q2kidu9 {
  --_1q2kidu0: var(--opbfg8n);
}
._1q2kidua {
  --_1q2kidu0: var(--opbfg8o);
}
._1q2kidub {
  --_1q2kidu0: var(--opbfg8p);
}
