.x7ujte1 {
  background-color: var(--_1kb4nanm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1kb4nans);
}
.x7ujte2::before {
  content: "";
  position: absolute;
  min-height: var(--qi7bvzc);
  min-width: var(--qi7bvzc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1qwaejs2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1qwaejs4 {
  border: 1px solid var(--_1kb4nans);
  background-color: var(--_1kb4nanl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1qwaejs4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1kb4nann);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1qwaejs4:hover::after {
  opacity: 1;
}
._1qwaejs4:focus-visible::after {
  opacity: 1;
}
._1qwaejs4:active:not([disabled]) {
  transform: scale(0.97);
}
._1qwaejs4:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 0;
}
._1qwaejs6 {
  isolation: isolate;
}
._1qwaejs8 {
  height: var(--_1qwaejs0);
}
._1qwaejsa {
  border-color: var(--_1kb4nanc);
}
._1qwaejsa::after {
  background-color: var(--_1kb4nani);
}
._1qwaejsb {
  border-color: var(--_1kb4nana);
}
._1qwaejsb::after {
  background-color: var(--_1kb4nanj);
}
._1qwaejsc {
  --_1qwaejs0: var(--qi7bvzq);
}
._1qwaejsd {
  --_1qwaejs0: var(--qi7bvzr);
}
._1qwaejse {
  --_1qwaejs0: var(--qi7bvzs);
}
._1x82o772 {
  display: flex;
  flex-direction: row;
  gap: var(--_1x82o770);
  align-items: var(--_1x82o771);
}
._1x82o773 {
  flex-wrap: wrap;
}
._1x82o774 {
  --_1x82o770: var(--qi7bvzg);
}
._1x82o775 {
  --_1x82o770: var(--qi7bvzh);
}
._1x82o776 {
  --_1x82o770: var(--qi7bvzi);
}
._1x82o777 {
  --_1x82o770: var(--qi7bvzj);
}
._1x82o778 {
  --_1x82o770: var(--qi7bvzk);
}
._1x82o779 {
  --_1x82o770: var(--qi7bvzl);
}
._1x82o77a {
  --_1x82o770: var(--qi7bvzm);
}
._1x82o77b {
  --_1x82o770: var(--qi7bvzn);
}
._1x82o77c {
  --_1x82o770: var(--qi7bvzo);
}
._1x82o77d {
  --_1x82o770: var(--qi7bvzp);
}
._1x82o77e {
  align-items: flex-start;
}
._1x82o77f {
  align-items: center;
}
._1x82o77g {
  align-items: flex-end;
}
.ukde430 {
  isolation: isolate;
  white-space: nowrap;
}
.ukde431 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .ukde433 {
    display: none;
  }
}
.xrqlds0 {
  color: var(--_1kb4nan9);
}
._1blu5he1 {
  --_1kb4nan7: var(--_1kb4nand);
  background-color: var(--_1kb4nano);
  outline: 1px solid var(--_1kb4nanu);
  outline-offset: -1px;
}
._1f43wo33 {
  background: transparent;
  outline: none;
  height: var(--_1f43wo30) !important;
  width: var(--_1f43wo30) !important;
}
._1f43wo36 {
  padding: var(--_1f43wo34);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1f43wo33:active ._1f43wo36 {
  transform: scale(.95);
}
._1f43wo33:focus-visible ._1f43wo36 {
  outline: 2px solid var(--_1kb4nanv);
}
._1f43wo33[aria-disabled="true"] ._1f43wo36 {
  --_1f43wo31: var(--_1kb4nan9);
}
._1f43wo37 {
  --_1f43wo30: var(--qi7bvzq);
  --_1f43wo34: var(--qi7bvzi);
}
._1f43wo38 {
  --_1f43wo30: var(--qi7bvzr);
  --_1f43wo34: var(--qi7bvzj);
}
._1f43wo39 {
  --_1f43wo30: var(--qi7bvzs);
  --_1f43wo34: var(--qi7bvzj);
}
._1f43wo3j {
  --_1f43wo3a: var(--_1kb4nan7);
  --_1f43wo3b: var(--_1kb4nanl);
  --_1f43wo3c: var(--_1kb4nann);
  --_1f43wo3d: var(--_1kb4nan8);
  --_1f43wo3e: var(--_1kb4nang);
  --_1f43wo3f: var(--_1kb4nanh);
  --_1f43wo3g: var(--_1kb4nan7);
  --_1f43wo3h: var(--_1kb4nan7);
  --_1f43wo3i: var(--_1kb4nann);
}
._1f43wo3k {
  --_1f43wo3a: var(--_1kb4nanb);
  --_1f43wo3b: var(--_1kb4nanl);
  --_1f43wo3c: var(--_1kb4nann);
  --_1f43wo3d: var(--_1kb4nan8);
  --_1f43wo3e: var(--_1kb4nanb);
  --_1f43wo3f: var(--_1kb4nanf);
  --_1f43wo3g: var(--_1kb4nanb);
  --_1f43wo3h: var(--_1kb4nan8);
  --_1f43wo3i: var(--_1kb4nane);
}
._1f43wo3l {
  color: var(--_1f43wo3a);
  background-color: var(--_1f43wo3b);
  outline: 1px solid var(--_1kb4nans);
  outline-offset: -1px;
}
._1f43wo33:not([aria-disabled="true"]):hover > ._1f43wo3l, ._1f43wo33:not([aria-disabled="true"]):focus-visible > ._1f43wo3l, ._1f43wo33:not([aria-disabled="true"])[data-popup-open] > ._1f43wo3l, ._1f43wo33:not([aria-disabled="true"])[data-active] > ._1f43wo3l {
  background-color: var(--_1f43wo3c);
}
._1f43wo3m {
  color: var(--_1f43wo3d);
  background-color: var(--_1f43wo3e);
}
._1f43wo33:not([aria-disabled="true"]):hover > ._1f43wo3m, ._1f43wo33:not([aria-disabled="true"]):focus-visible > ._1f43wo3m, ._1f43wo33:not([aria-disabled="true"])[data-popup-open] > ._1f43wo3m, ._1f43wo33:not([aria-disabled="true"])[data-active] > ._1f43wo3m {
  background-color: var(--_1f43wo3f);
}
._1f43wo3n {
  color: var(--_1f43wo3g);
}
._1f43wo33:not([aria-disabled="true"]):hover > ._1f43wo3n, ._1f43wo33:not([aria-disabled="true"]):focus-visible > ._1f43wo3n, ._1f43wo33:not([aria-disabled="true"])[data-popup-open] > ._1f43wo3n, ._1f43wo33:not([aria-disabled="true"])[data-active] > ._1f43wo3n {
  color: var(--_1f43wo3h);
  background-color: var(--_1f43wo3i);
}
._1f43wo3o {
  margin: calc((var(--_1f43wo34) + 2px) * -1);
}
._1f43wo36 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.j7hwgv1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.j7hwgv2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.j7hwgv2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.j7hwgv4 {
  --j7hwgv3: 30px;
}
.j7hwgv5 {
  --j7hwgv3: 45px;
}
.j7hwgv6 {
  --j7hwgv3: 60px;
}
.j7hwgv7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.j7hwgv8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.j7hwgv9 {
  overflow: auto;
}
.j7hwgve {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--j7hwgvc, 0)),linear-gradient(to right, transparent 0, black var(--j7hwgva, 0)),linear-gradient(to left, transparent 0, black var(--j7hwgvb, 0)),linear-gradient(to top, transparent 0, black var(--j7hwgvd, 0));
}
.j7hwgvf {
  --j7hwgva: var(--j7hwgv3);
}
.j7hwgvg {
  --j7hwgvb: var(--j7hwgv3);
}
.j7hwgvh {
  --j7hwgvc: var(--j7hwgv3);
}
.j7hwgvi {
  --j7hwgvd: var(--j7hwgv3);
}
._1kfg4ef2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1kfg4ef3 {
  width: 250px;
}
._1kfg4ef6 {
  --_1kfg4ef4: var(--_1kb4nann);
  outline: none;
  cursor: default;
  color: var(--_1kb4nan7);
  height: 34px;
  isolation: isolate;
}
._1kfg4ef6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--qi7bvz8);
  z-index: -1;
}
._1kfg4ef6[data-popup-open]:not([aria-disabled])::before, ._1kfg4ef6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1kfg4ef4);
}
._1kfg4ef6:focus-visible::before {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: -2px;
}
._1kfg4ef6[aria-disabled] {
  color: var(--_1kb4nan9);
  cursor: not-allowed;
}
._1kfg4ef7 {
  cursor: pointer;
  text-decoration: none;
}
._1kfg4ef7[aria-disabled] {
  cursor: not-allowed;
}
._1kfg4ef8 {
  margin-left: 3px;
}
._1kfg4ef9 {
  --_1kfg4ef4: var(--_1kb4nanj);
  color: var(--_1kb4nana);
}
._1kfg4efa {
  --_1kfg4ef4: transparent;
  color: var(--_1kb4nanc);
}
._1kfg4efa svg {
  color: var(--_1kb4nanc);
}
._1kfg4efc {
  isolation: isolate;
}
._1kfg4efg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1kfg4efi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1kb4nan7);
  z-index: 1;
}
[aria-checked="true"] ._1kfg4efi {
  color: var(--_1kb4nan8);
}
._1kfg4efk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1kb4nan7);
  isolation: isolate;
}
[aria-checked="true"] ._1kfg4efk {
  background-color: var(--_1kb4nane);
  border-color: var(--_1kb4nane);
}
._1kfg4efp {
  height: 34px;
}
._1kfg4efr {
  height: 1px;
  background-color: var(--_1kb4nans);
}
._1kfg4eft {
  background: transparent;
  border: none;
}
._1kfg4eft:hover, ._1kfg4eft[data-highlighted] {
  background-color: var(--_1kb4nann);
}
._1kfg4eft:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: -2px;
}
._1b3g6l91 {
  justify-content: safe center;
}
._1b3g6l95 {
  flex-shrink: 0;
  width: var(--_1b3g6l92);
}
._1b3g6l95:last-child {
  padding-right: var(--qi7bvzn);
}
._1b3g6l96 {
  transition: color 150ms ease;
}
._1b3g6l95:hover ._1b3g6l96, ._1b3g6l95:focus-within ._1b3g6l96, ._1b3g6l93 ._1b3g6l96 {
  color: var(--_1kb4nanb);
}
._1b3g6l98 {
  outline: 1px solid var(--_1kb4nans);
}
._1b3g6l9a {
  transition: opacity 150ms ease;
}
._1b3g6l95:not(:hover, :focus-within, ._1b3g6l93) ._1b3g6l9a {
  opacity: 1;
}
._1b3g6l9c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1b3g6l9a:hover ~ ._1b3g6l98 ._1b3g6l9c, ._1b3g6l9a:focus-within ~ ._1b3g6l98._1b3g6l9c {
  outline-color: var(--_1kb4nanb);
}
._1b3g6l9e {
  transition: opacity 150ms ease;
}
._1b3g6l95:not(:hover, :focus-within, ._1b3g6l93) ._1b3g6l9e {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1b3g6l95:not(:hover, :focus-within, ._1b3g6l93) ._1b3g6l9e {
  opacity: 0.6;
}
._1g37y091 {
  color: var(--_1kb4nan7);
  font-family: var(--qi7bvz0);
}
._1g37y092 {
  --_3za4e70: 36px;
  --_3za4e71: 44px;
  --_3za4e72: -0.2741em;
  --_3za4e73: -0.2031em;
}
._1g37y093 {
  --_3za4e70: 20px;
  --_3za4e71: 28px;
  --_3za4e72: -0.363em;
  --_3za4e73: -0.292em;
}
._1g37y094 {
  --_3za4e70: 16px;
  --_3za4e71: 20px;
  --_3za4e72: -0.288em;
  --_3za4e73: -0.217em;
}
._2u6f6j1 {
  display: flex;
  flex-direction: column;
  gap: var(--_2u6f6j0);
}
._2u6f6j2 {
  --_2u6f6j0: var(--qi7bvzg);
}
._2u6f6j3 {
  --_2u6f6j0: var(--qi7bvzh);
}
._2u6f6j4 {
  --_2u6f6j0: var(--qi7bvzi);
}
._2u6f6j5 {
  --_2u6f6j0: var(--qi7bvzj);
}
._2u6f6j6 {
  --_2u6f6j0: var(--qi7bvzk);
}
._2u6f6j7 {
  --_2u6f6j0: var(--qi7bvzl);
}
._2u6f6j8 {
  --_2u6f6j0: var(--qi7bvzm);
}
._2u6f6j9 {
  --_2u6f6j0: var(--qi7bvzn);
}
._2u6f6ja {
  --_2u6f6j0: var(--qi7bvzo);
}
._2u6f6jb {
  --_2u6f6j0: var(--qi7bvzp);
}
._2u6f6jc {
  align-items: flex-start;
}
._2u6f6jd {
  align-items: center;
}
._2u6f6je {
  align-items: flex-end;
}
.enpbnt1 {
  backdrop-filter: blur(6px);
}
.enpbnt1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1kb4nank);
  opacity: 0.4;
}
html[data-playroom-dark] .enpbnt1::before {
  opacity: 0.7;
}
.enpbnt1[data-starting-style]::before, .enpbnt1[data-ending-style]::before {
  opacity: 0;
}
.enpbnt3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--qi7bvzk) * 2));
  max-height: calc(100dvh - (var(--qi7bvzk) * 2));
}
.enpbnt3[data-starting-style], .enpbnt3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.enpbnt7:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 2px;
}
._16k5yrv0 {
  width: 200px;
}
.h61k0x1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1kb4nanl);
}
.h61k0x2 {
  width: fit-content;
}
.h61k0x4 {
  width: fit-content;
  justify-self: flex-end;
}
.h61k0x7:not(.h61k0x5) {
  opacity: 0;
  transform: translateX(var(--qi7bvzj));
  pointer-events: none;
}
.h61k0x9 {
  background: transparent;
  color: var(--_1kb4nang);
  isolation: isolate;
}
.h61k0x9::after {
  content: "";
  position: absolute;
  transition: var(--qi7bvzf);
  z-index: -1;
  inset: calc(var(--qi7bvzj) * -1);
  background-color: var(--_1kb4nann);
  border-radius: var(--qi7bvz9);
}
.h61k0x9:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 6px;
}
.h61k0x9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.h61k0xb {
  margin: calc(var(--qi7bvzk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.h61k0xf {
  appearance: none;
  outline: none;
  background: var(--_1kb4nanl);
  color: var(--_1kb4nan7);
  border: 1px solid var(--_1kb4nans);
  height: var(--qi7bvzr);
}
.h61k0xf:hover, .h61k0xf[data-popup-open] {
  background-color: var(--_1kb4nann);
}
.h61k0xf:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  z-index: 1;
}
.h61k0xh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.h61k0xj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.h61k0xk {
  color: var(--_1kb4nanc);
}
.h61k0xm {
  height: 1px;
  background-color: var(--_1kb4nans);
}
@media screen and (max-width: 767px) {
  .h61k0x4 {
    display: none;
  }
}
._15ijbwi2 {
  flex: 1;
  min-height: 0;
}
._15ijbwi5 {
  --_15ijbwi3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_15ijbwi3), 1fr);
}
._15ijbwi7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._15ijbwi9 {
  height: calc(100% / var(--_15ijbwi0));
  width: calc(100% / var(--_15ijbwi0));
  border-radius: calc(var(--qi7bvz9) / var(--_15ijbwi0));
  transform: scale(var(--_15ijbwi0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_15ijbwi0));
}
._15ijbwib {
  background: var(--_1kb4nann);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._15ijbwid {
  background: transparent;
  outline: 1px solid var(--_1kb4nans);
}
._15ijbwid:hover {
  outline: 2px solid var(--_1kb4nant);
}
._15ijbwid:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 2px;
}
._15ijbwih {
  list-style: none;
}
._15ijbwij {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1kb4nans);
}
._15ijbwij:hover {
  outline: 2px solid var(--_1kb4nant);
}
._15ijbwij:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._15ijbwi5 {
    --_15ijbwi3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._15ijbwi5 {
    --_15ijbwi3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._15ijbwi5 {
    --_15ijbwi3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._15ijbwi5 {
    --_15ijbwi3: 5;
  }
}
._1olnrac1 {
  width: fit-content;
}
._1olnrac3:focus-visible ~ ._1olnrac5 {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 4px;
}
._1olnrac8 {
  min-width: 0;
}
._1olnrac9 {
  flex-shrink: 0;
}
.pkur8u2 {
  outline: none;
  height: var(--qi7bvzr);
  color: var(--_1kb4nan7);
  background: transparent;
}
.pkur8u2::placeholder {
  color: var(--_1kb4nan9);
  font-weight: strong;
}
.pkur8u2:hover:not(:focus-visible), .pkur8u2:hover:not(:focus-visible)::placeholder {
  background: var(--_1kb4nann);
  opacity: 1;
  color: transparent;
}
.pkur8u2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.pkur8u2:focus-visible {
  outline: 2px solid var(--_1kb4nanv);
  outline-offset: 0;
  opacity: 1;
}
.pkur8u2:focus-visible::placeholder {
  color: transparent;
}
.pkur8u4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1kb4nan7);
}
.pkur8u2:focus-visible ~ .pkur8u4 {
  opacity: 0;
}
.pkur8u5 {
  color: var(--_1kb4nan9);
}
._13br1yd3 {
  border: 1px solid var(--_1kb4nans);
}
._13br1yd5 {
  background-color: var(--_1kb4nanq);
  border-bottom: 1px solid var(--_1kb4nans);
}
._13br1yd8 {
  background-color: var(--_1kb4nanq);
  border-top: 1px solid var(--_1kb4nans);
}
._13br1ydc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._13br1yd6 {
    display: none;
  }
}
