._1dwpp8a1 {
  background-color: var(--_1f36lcyl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1f36lcyq);
}
._1dwpp8a2::before {
  content: "";
  position: absolute;
  min-height: var(--_7xqyc6c);
  min-width: var(--_7xqyc6c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.zmzzbk2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.zmzzbk4 {
  border: 1px solid var(--_1f36lcyq);
  background-color: var(--_1f36lcyk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.zmzzbk4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1f36lcym);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.zmzzbk4:hover::after {
  opacity: 1;
}
.zmzzbk4:focus-visible::after {
  opacity: 1;
}
.zmzzbk4:active:not([disabled]) {
  transform: scale(0.97);
}
.zmzzbk4:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 0;
}
.zmzzbk6 {
  isolation: isolate;
}
.zmzzbk8 {
  height: var(--zmzzbk0);
}
.zmzzbka {
  border-color: var(--_1f36lcyc);
}
.zmzzbka::after {
  background-color: var(--_1f36lcyh);
}
.zmzzbkb {
  border-color: var(--_1f36lcya);
}
.zmzzbkb::after {
  background-color: var(--_1f36lcyi);
}
.zmzzbkc {
  --zmzzbk0: var(--_7xqyc6q);
}
.zmzzbkd {
  --zmzzbk0: var(--_7xqyc6r);
}
.zmzzbke {
  --zmzzbk0: var(--_7xqyc6s);
}
.d14mc41 {
  --_1f36lcy7: var(--_1f36lcyd);
  background-color: var(--_1f36lcyn);
  outline: 1px solid var(--_1f36lcys);
  outline-offset: -1px;
}
.prai223 {
  background: transparent;
  outline: none;
  height: var(--prai220) !important;
  width: var(--prai220) !important;
}
.prai226 {
  padding: var(--prai224);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--prai221);
  isolation: isolate;
}
.prai223[data-pressed] .prai226, .prai223:active .prai226 {
  transform: scale(.95);
}
.prai223:focus-visible .prai226 {
  outline: 2px solid var(--_1f36lcyt);
}
.prai223[aria-disabled="true"] .prai226 {
  --prai221: var(--_1f36lcy9);
}
.prai227 {
  --prai220: var(--_7xqyc6q);
  --prai224: 6px;
}
.prai228 {
  --prai220: var(--_7xqyc6r);
  --prai224: var(--_7xqyc6j);
}
.prai229 {
  --prai220: var(--_7xqyc6s);
  --prai224: var(--_7xqyc6j);
}
.prai22a {
  --prai221: var(--_1f36lcy7);
}
.prai22b {
  --prai221: var(--_1f36lcyb);
}
.prai22c {
  --prai221: var(--_1f36lcyc);
}
.prai22d {
  background-color: var(--_1f36lcyk);
  outline: 1px solid var(--_1f36lcyq);
  outline-offset: -1px;
}
.prai223:not([aria-disabled="true"]):hover > .prai22d, .prai223:not([aria-disabled="true"])[data-popup-open] > .prai22d {
  background-color: var(--_1f36lcym);
}
.prai22e {
  --prai221: var(--_1f36lcy8);
  background-color: var(--_1f36lcyf);
}
.prai223:not([aria-disabled="true"]):hover > .prai22e, .prai223:not([aria-disabled="true"])[data-popup-open] > .prai22e {
  background-color: var(--_1f36lcyg);
}
.prai223:not([aria-disabled="true"]):hover > .prai22f, .prai223:not([aria-disabled="true"])[data-popup-open] > .prai22f {
  background-color: var(--_1f36lcym);
}
.prai22g {
  margin: calc((var(--prai224) + 2px) * -1);
}
.prai226 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._147iin31 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._147iin32 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._147iin32::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._147iin34 {
  --_147iin33: 30px;
}
._147iin35 {
  --_147iin33: 45px;
}
._147iin36 {
  --_147iin33: 60px;
}
._147iin37 {
  overflow-x: auto;
  overflow-y: hidden;
}
._147iin38 {
  overflow-x: hidden;
  overflow-y: auto;
}
._147iin39 {
  overflow: auto;
}
._147iin3e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_147iin3c, 0)),linear-gradient(to right, transparent 0, black var(--_147iin3a, 0)),linear-gradient(to left, transparent 0, black var(--_147iin3b, 0)),linear-gradient(to top, transparent 0, black var(--_147iin3d, 0));
}
._147iin3f {
  --_147iin3a: var(--_147iin33);
}
._147iin3g {
  --_147iin3b: var(--_147iin33);
}
._147iin3h {
  --_147iin3c: var(--_147iin33);
}
._147iin3i {
  --_147iin3d: var(--_147iin33);
}
._1bnxbia2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_7xqyc68);
  color: var(--_1bnxbia0);
  isolation: isolate;
  outline: none;
}
._1bnxbia2[data-pressed], ._1bnxbia2:active {
  transform: scale(.95);
}
._1bnxbia2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_7xqyc6i) * -1);
  background-color: var(--_1bnxbia0);
  border-radius: var(--_7xqyc68);
}
._1bnxbia2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1bnxbia2:hover, ._1bnxbia2[data-popup-open]:not(:focus-visible) {
  color: var(--_1f36lcy8);
}
._1bnxbia2:focus-visible::after {
  outline: 2px solid var(--_1f36lcyt);
}
._1bnxbia2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1bnxbia3 {
  --_1bnxbia0: var(--_1f36lcyb);
}
._1bnxbia4 {
  --_1bnxbia0: var(--_1f36lcyc);
}
._1bnxbia2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1817y9v1 {
  justify-content: safe center;
}
._1817y9v5 {
  flex-shrink: 0;
  width: var(--_1817y9v2);
}
._1817y9v5:last-child {
  padding-right: var(--_7xqyc6n);
}
._1817y9v6 {
  transition: color 150ms ease;
}
._1817y9v5:hover ._1817y9v6, ._1817y9v5:focus-within ._1817y9v6, ._1817y9v3 ._1817y9v6 {
  color: var(--_1f36lcyb);
}
._1817y9v8 {
  outline: 1px solid var(--_1f36lcyq);
}
._1817y9va {
  transition: opacity 150ms ease;
}
._1817y9v5:not(:hover, :focus-within, ._1817y9v3) ._1817y9va {
  opacity: 1;
}
._1817y9vc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1817y9va:hover ~ ._1817y9v8 ._1817y9vc, ._1817y9va:focus-within ~ ._1817y9v8._1817y9vc {
  outline-color: var(--_1f36lcyb);
}
._1817y9ve {
  transition: opacity 150ms ease;
}
._1817y9v5:not(:hover, :focus-within, ._1817y9v3) ._1817y9ve {
  opacity: 0;
}
.ufqutm1 {
  color: var(--_1f36lcy7);
  font-family: var(--_7xqyc60);
}
.ufqutm2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
.ufqutm3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
.ufqutm4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
.lqntz11 {
  display: flex;
  flex-direction: column;
  gap: var(--lqntz10);
}
.lqntz12 {
  --lqntz10: var(--_7xqyc6g);
}
.lqntz13 {
  --lqntz10: var(--_7xqyc6h);
}
.lqntz14 {
  --lqntz10: var(--_7xqyc6i);
}
.lqntz15 {
  --lqntz10: var(--_7xqyc6j);
}
.lqntz16 {
  --lqntz10: var(--_7xqyc6k);
}
.lqntz17 {
  --lqntz10: var(--_7xqyc6l);
}
.lqntz18 {
  --lqntz10: var(--_7xqyc6m);
}
.lqntz19 {
  --lqntz10: var(--_7xqyc6n);
}
.lqntz1a {
  --lqntz10: var(--_7xqyc6o);
}
.lqntz1b {
  --lqntz10: var(--_7xqyc6p);
}
.lqntz1c {
  align-items: flex-start;
}
.lqntz1d {
  align-items: center;
}
.lqntz1e {
  align-items: flex-end;
}
._2b6aqp1 {
  backdrop-filter: blur(6px);
}
._2b6aqp1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1f36lcyj);
  opacity: 0.4;
}
html[data-playroom-dark] ._2b6aqp1::before {
  opacity: 0.7;
}
._2b6aqp1[data-starting-style]::before, ._2b6aqp1[data-ending-style]::before {
  opacity: 0;
}
._2b6aqp3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_7xqyc6k) * 2));
  max-height: calc(100dvh - (var(--_7xqyc6k) * 2));
}
._2b6aqp3[data-starting-style], ._2b6aqp3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._2b6aqp7:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 2px;
}
.kwyryj2 {
  display: flex;
  flex-direction: row;
  gap: var(--kwyryj0);
  align-items: var(--kwyryj1);
}
.kwyryj3 {
  flex-wrap: wrap;
}
.kwyryj4 {
  --kwyryj0: var(--_7xqyc6g);
}
.kwyryj5 {
  --kwyryj0: var(--_7xqyc6h);
}
.kwyryj6 {
  --kwyryj0: var(--_7xqyc6i);
}
.kwyryj7 {
  --kwyryj0: var(--_7xqyc6j);
}
.kwyryj8 {
  --kwyryj0: var(--_7xqyc6k);
}
.kwyryj9 {
  --kwyryj0: var(--_7xqyc6l);
}
.kwyryja {
  --kwyryj0: var(--_7xqyc6m);
}
.kwyryjb {
  --kwyryj0: var(--_7xqyc6n);
}
.kwyryjc {
  --kwyryj0: var(--_7xqyc6o);
}
.kwyryjd {
  --kwyryj0: var(--_7xqyc6p);
}
.kwyryje {
  align-items: flex-start;
}
.kwyryjf {
  align-items: center;
}
.kwyryjg {
  align-items: flex-end;
}
._1jl1aoh0 {
  isolation: isolate;
  white-space: nowrap;
}
._1jl1aoh1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1jl1aoh3 {
    display: none;
  }
}
._1vhknuf2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1vhknuf3 {
  width: 250px;
}
._1vhknuf6 {
  --_1vhknuf4: var(--_1f36lcym);
  outline: none;
  cursor: default;
  color: var(--_1f36lcy7);
  height: 34px;
  isolation: isolate;
}
._1vhknuf6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_7xqyc68);
  z-index: -1;
}
._1vhknuf6[data-popup-open]:not([aria-disabled])::before, ._1vhknuf6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1vhknuf4);
}
._1vhknuf6:focus-visible::before {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: -2px;
}
._1vhknuf6[aria-disabled] {
  color: var(--_1f36lcy9);
  cursor: not-allowed;
}
._1vhknuf7 {
  cursor: pointer;
  text-decoration: none;
}
._1vhknuf7[aria-disabled] {
  cursor: not-allowed;
}
._1vhknuf8 {
  margin-left: 3px;
}
._1vhknuf9 {
  --_1vhknuf4: var(--_1f36lcyi);
  color: var(--_1f36lcya);
}
._1vhknufa {
  --_1vhknuf4: transparent;
  color: var(--_1f36lcyc);
}
._1vhknufa svg {
  color: var(--_1f36lcyc);
}
._1vhknufc {
  isolation: isolate;
}
._1vhknufg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1vhknufi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1f36lcy7);
  z-index: 1;
}
[aria-checked="true"] ._1vhknufi {
  color: var(--_1f36lcy8);
}
._1vhknufk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1f36lcy7);
  isolation: isolate;
}
[aria-checked="true"] ._1vhknufk {
  background-color: var(--_1f36lcye);
  border-color: var(--_1f36lcye);
}
._1vhknufp {
  height: 34px;
}
._1vhknufr {
  height: 1px;
  background-color: var(--_1f36lcyq);
}
._1vhknuft {
  background: transparent;
  border: none;
}
._1vhknuft:hover, ._1vhknuft[data-highlighted] {
  background-color: var(--_1f36lcym);
}
._1vhknuft:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: -2px;
}
._1c06xlx0 {
  width: 200px;
}
.sa8qfw1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1f36lcyk);
}
.sa8qfw2 {
  width: fit-content;
}
.sa8qfw4 {
  width: fit-content;
  justify-self: flex-end;
}
.sa8qfw7:not(.sa8qfw5) {
  opacity: 0;
  transform: translateX(var(--_7xqyc6j));
  pointer-events: none;
}
.sa8qfw9 {
  background: transparent;
  color: var(--_1f36lcyf);
  isolation: isolate;
}
.sa8qfw9::after {
  content: "";
  position: absolute;
  transition: var(--_7xqyc6f);
  z-index: -1;
  inset: calc(var(--_7xqyc6j) * -1);
  background-color: var(--_1f36lcym);
  border-radius: var(--_7xqyc69);
}
.sa8qfw9:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 6px;
}
.sa8qfw9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.sa8qfwb {
  margin: calc(var(--_7xqyc6k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.sa8qfwf {
  appearance: none;
  outline: none;
  background: var(--_1f36lcyk);
  color: var(--_1f36lcy7);
  border: 1px solid var(--_1f36lcyq);
  height: var(--_7xqyc6r);
}
.sa8qfwf:hover, .sa8qfwf[data-popup-open] {
  background-color: var(--_1f36lcym);
}
.sa8qfwf:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  z-index: 1;
}
.sa8qfwh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.sa8qfwj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.sa8qfwk {
  color: var(--_1f36lcyc);
}
.sa8qfwm {
  height: 1px;
  background-color: var(--_1f36lcyq);
}
@media screen and (max-width: 767px) {
  .sa8qfw4 {
    display: none;
  }
}
._7zlf302 {
  flex: 1;
  min-height: 0;
}
._7zlf305 {
  --_7zlf303: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_7zlf303), 1fr);
}
._7zlf307 {
  aspect-ratio: 5/4;
  list-style: none;
}
._7zlf309 {
  height: calc(100% / var(--_7zlf300));
  width: calc(100% / var(--_7zlf300));
  border-radius: calc(var(--_7xqyc69) / var(--_7zlf300));
  transform: scale(var(--_7zlf300));
  transform-origin: 0 0;
  padding: calc(1px / var(--_7zlf300));
}
._7zlf30b {
  background: var(--_1f36lcym);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._7zlf30d {
  background: transparent;
  outline: 1px solid var(--_1f36lcyq);
}
._7zlf30d:hover {
  outline: 2px solid var(--_1f36lcyr);
}
._7zlf30d:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 2px;
}
._7zlf30h {
  list-style: none;
}
._7zlf30j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1f36lcyq);
}
._7zlf30j:hover {
  outline: 2px solid var(--_1f36lcyr);
}
._7zlf30j:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._7zlf305 {
    --_7zlf303: 2;
  }
}
@media screen and (min-width: 800px) {
  ._7zlf305 {
    --_7zlf303: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._7zlf305 {
    --_7zlf303: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._7zlf305 {
    --_7zlf303: 5;
  }
}
._14qr50o1 {
  width: fit-content;
}
._14qr50o3:focus-visible ~ ._14qr50o5 {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 4px;
}
._14qr50o8 {
  min-width: 0;
}
._14qr50o9 {
  flex-shrink: 0;
}
._18t9w9m2 {
  outline: none;
  height: var(--_7xqyc6r);
  color: var(--_1f36lcy7);
  background: transparent;
}
._18t9w9m2::placeholder {
  color: var(--_1f36lcy9);
  font-weight: strong;
}
._18t9w9m2:hover:not(:focus-visible), ._18t9w9m2:hover:not(:focus-visible)::placeholder {
  background: var(--_1f36lcym);
  opacity: 1;
  color: transparent;
}
._18t9w9m2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._18t9w9m2:focus-visible {
  outline: 2px solid var(--_1f36lcyt);
  outline-offset: 0;
  opacity: 1;
}
._18t9w9m2:focus-visible::placeholder {
  color: transparent;
}
._18t9w9m4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1f36lcy7);
}
._18t9w9m2:focus-visible ~ ._18t9w9m4 {
  opacity: 0;
}
._18t9w9m5 {
  color: var(--_1f36lcy9);
}
._2z9x2n3 {
  border: 1px solid var(--_1f36lcyq);
}
._2z9x2n5 {
  background-color: var(--_1f36lcyp);
  border-bottom: 1px solid var(--_1f36lcyq);
}
._2z9x2n8 {
  background-color: var(--_1f36lcyp);
  border-top: 1px solid var(--_1f36lcyq);
}
._2z9x2nc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._2z9x2n6 {
    display: none;
  }
}
