._1ou6o1w1 {
  background-color: var(--_1jfi40jm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1jfi40js);
}
._1ou6o1w2::before {
  content: "";
  position: absolute;
  min-height: var(--_16uyuq9c);
  min-width: var(--_16uyuq9c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.rxqks12 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.rxqks14 {
  border: 1px solid var(--_1jfi40js);
  background-color: var(--_1jfi40jl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.rxqks14::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jfi40jn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.rxqks14:hover::after {
  opacity: 1;
}
.rxqks14:focus-visible::after {
  opacity: 1;
}
.rxqks14:active:not([disabled]) {
  transform: scale(0.97);
}
.rxqks14:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 0;
}
.rxqks16 {
  isolation: isolate;
}
.rxqks18 {
  height: var(--rxqks10);
}
.rxqks1a {
  border-color: var(--_1jfi40jc);
}
.rxqks1a::after {
  background-color: var(--_1jfi40ji);
}
.rxqks1b {
  border-color: var(--_1jfi40ja);
}
.rxqks1b::after {
  background-color: var(--_1jfi40jj);
}
.rxqks1c {
  --rxqks10: var(--_16uyuq9q);
}
.rxqks1d {
  --rxqks10: var(--_16uyuq9r);
}
.rxqks1e {
  --rxqks10: var(--_16uyuq9s);
}
._1l4xlih2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1l4xlih0);
  align-items: var(--_1l4xlih1);
}
._1l4xlih3 {
  flex-wrap: wrap;
}
._1l4xlih4 {
  --_1l4xlih0: var(--_16uyuq9g);
}
._1l4xlih5 {
  --_1l4xlih0: var(--_16uyuq9h);
}
._1l4xlih6 {
  --_1l4xlih0: var(--_16uyuq9i);
}
._1l4xlih7 {
  --_1l4xlih0: var(--_16uyuq9j);
}
._1l4xlih8 {
  --_1l4xlih0: var(--_16uyuq9k);
}
._1l4xlih9 {
  --_1l4xlih0: var(--_16uyuq9l);
}
._1l4xliha {
  --_1l4xlih0: var(--_16uyuq9m);
}
._1l4xlihb {
  --_1l4xlih0: var(--_16uyuq9n);
}
._1l4xlihc {
  --_1l4xlih0: var(--_16uyuq9o);
}
._1l4xlihd {
  --_1l4xlih0: var(--_16uyuq9p);
}
._1l4xlihe {
  align-items: flex-start;
}
._1l4xlihf {
  align-items: center;
}
._1l4xlihg {
  align-items: flex-end;
}
.mymdsy0 {
  isolation: isolate;
  white-space: nowrap;
}
.mymdsy1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .mymdsy3 {
    display: none;
  }
}
.zhq7zk0 {
  color: var(--_1jfi40j9);
}
.ftue5y1 {
  --_1jfi40j7: var(--_1jfi40jd);
  background-color: var(--_1jfi40jo);
  outline: 1px solid var(--_1jfi40ju);
  outline-offset: -1px;
}
._5tw48a3 {
  background: transparent;
  outline: none;
  height: var(--_5tw48a0) !important;
  width: var(--_5tw48a0) !important;
}
._5tw48a6 {
  padding: var(--_5tw48a4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._5tw48a3:active ._5tw48a6 {
  transform: scale(.95);
}
._5tw48a3:focus-visible ._5tw48a6 {
  outline: 2px solid var(--_1jfi40jv);
}
._5tw48a3[aria-disabled="true"] ._5tw48a6 {
  --_5tw48a1: var(--_1jfi40j9);
}
._5tw48a7 {
  --_5tw48a0: var(--_16uyuq9q);
  --_5tw48a4: var(--_16uyuq9i);
}
._5tw48a8 {
  --_5tw48a0: var(--_16uyuq9r);
  --_5tw48a4: var(--_16uyuq9j);
}
._5tw48a9 {
  --_5tw48a0: var(--_16uyuq9s);
  --_5tw48a4: var(--_16uyuq9j);
}
._5tw48aj {
  --_5tw48aa: var(--_1jfi40j7);
  --_5tw48ab: var(--_1jfi40jl);
  --_5tw48ac: var(--_1jfi40jn);
  --_5tw48ad: var(--_1jfi40j8);
  --_5tw48ae: var(--_1jfi40jg);
  --_5tw48af: var(--_1jfi40jh);
  --_5tw48ag: var(--_1jfi40j7);
  --_5tw48ah: var(--_1jfi40j7);
  --_5tw48ai: var(--_1jfi40jn);
}
._5tw48ak {
  --_5tw48aa: var(--_1jfi40jb);
  --_5tw48ab: var(--_1jfi40jl);
  --_5tw48ac: var(--_1jfi40jn);
  --_5tw48ad: var(--_1jfi40j8);
  --_5tw48ae: var(--_1jfi40jb);
  --_5tw48af: var(--_1jfi40jf);
  --_5tw48ag: var(--_1jfi40jb);
  --_5tw48ah: var(--_1jfi40j8);
  --_5tw48ai: var(--_1jfi40je);
}
._5tw48al {
  color: var(--_5tw48aa);
  background-color: var(--_5tw48ab);
  outline: 1px solid var(--_1jfi40js);
  outline-offset: -1px;
}
._5tw48a3:not([aria-disabled="true"]):hover > ._5tw48al, ._5tw48a3:not([aria-disabled="true"]):focus-visible > ._5tw48al, ._5tw48a3:not([aria-disabled="true"])[data-popup-open] > ._5tw48al, ._5tw48a3:not([aria-disabled="true"])[data-active] > ._5tw48al {
  background-color: var(--_5tw48ac);
}
._5tw48am {
  color: var(--_5tw48ad);
  background-color: var(--_5tw48ae);
}
._5tw48a3:not([aria-disabled="true"]):hover > ._5tw48am, ._5tw48a3:not([aria-disabled="true"]):focus-visible > ._5tw48am, ._5tw48a3:not([aria-disabled="true"])[data-popup-open] > ._5tw48am, ._5tw48a3:not([aria-disabled="true"])[data-active] > ._5tw48am {
  background-color: var(--_5tw48af);
}
._5tw48an {
  color: var(--_5tw48ag);
}
._5tw48a3:not([aria-disabled="true"]):hover > ._5tw48an, ._5tw48a3:not([aria-disabled="true"]):focus-visible > ._5tw48an, ._5tw48a3:not([aria-disabled="true"])[data-popup-open] > ._5tw48an, ._5tw48a3:not([aria-disabled="true"])[data-active] > ._5tw48an {
  color: var(--_5tw48ah);
  background-color: var(--_5tw48ai);
}
._5tw48ao {
  margin: calc((var(--_5tw48a4) + 2px) * -1);
}
._5tw48a6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._5o0pgu1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._5o0pgu2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._5o0pgu2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._5o0pgu4 {
  --_5o0pgu3: 30px;
}
._5o0pgu5 {
  --_5o0pgu3: 45px;
}
._5o0pgu6 {
  --_5o0pgu3: 60px;
}
._5o0pgu7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._5o0pgu8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._5o0pgu9 {
  overflow: auto;
}
._5o0pgue {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_5o0pguc, 0)),linear-gradient(to right, transparent 0, black var(--_5o0pgua, 0)),linear-gradient(to left, transparent 0, black var(--_5o0pgub, 0)),linear-gradient(to top, transparent 0, black var(--_5o0pgud, 0));
}
._5o0pguf {
  --_5o0pgua: var(--_5o0pgu3);
}
._5o0pgug {
  --_5o0pgub: var(--_5o0pgu3);
}
._5o0pguh {
  --_5o0pguc: var(--_5o0pgu3);
}
._5o0pgui {
  --_5o0pgud: var(--_5o0pgu3);
}
._1pucj202 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1pucj203 {
  width: 250px;
}
._1pucj206 {
  --_1pucj204: var(--_1jfi40jn);
  outline: none;
  cursor: default;
  color: var(--_1jfi40j7);
  height: 34px;
  isolation: isolate;
}
._1pucj206::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_16uyuq98);
  z-index: -1;
}
._1pucj206[data-popup-open]:not([aria-disabled])::before, ._1pucj206[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1pucj204);
}
._1pucj206:focus-visible::before {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: -2px;
}
._1pucj206[aria-disabled] {
  color: var(--_1jfi40j9);
  cursor: not-allowed;
}
._1pucj207 {
  cursor: pointer;
  text-decoration: none;
}
._1pucj207[aria-disabled] {
  cursor: not-allowed;
}
._1pucj208 {
  margin-left: 3px;
}
._1pucj209 {
  --_1pucj204: var(--_1jfi40jj);
  color: var(--_1jfi40ja);
}
._1pucj20a {
  --_1pucj204: transparent;
  color: var(--_1jfi40jc);
}
._1pucj20a svg {
  color: var(--_1jfi40jc);
}
._1pucj20c {
  isolation: isolate;
}
._1pucj20g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1pucj20i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1jfi40j7);
  z-index: 1;
}
[aria-checked="true"] ._1pucj20i {
  color: var(--_1jfi40j8);
}
._1pucj20k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1jfi40j7);
  isolation: isolate;
}
[aria-checked="true"] ._1pucj20k {
  background-color: var(--_1jfi40je);
  border-color: var(--_1jfi40je);
}
._1pucj20p {
  height: 34px;
}
._1pucj20r {
  height: 1px;
  background-color: var(--_1jfi40js);
}
._1pucj20t {
  background: transparent;
  border: none;
}
._1pucj20t:hover, ._1pucj20t[data-highlighted] {
  background-color: var(--_1jfi40jn);
}
._1pucj20t:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: -2px;
}
.gfxvcg1 {
  justify-content: safe center;
}
.gfxvcg5 {
  flex-shrink: 0;
  width: var(--gfxvcg2);
}
.gfxvcg5:last-child {
  padding-right: var(--_16uyuq9n);
}
.gfxvcg6 {
  transition: color 150ms ease;
}
.gfxvcg5:hover .gfxvcg6, .gfxvcg5:focus-within .gfxvcg6, .gfxvcg3 .gfxvcg6 {
  color: var(--_1jfi40jb);
}
.gfxvcg8 {
  outline: 1px solid var(--_1jfi40js);
}
.gfxvcga {
  transition: opacity 150ms ease;
}
.gfxvcg5:not(:hover, :focus-within, .gfxvcg3) .gfxvcga {
  opacity: 1;
}
.gfxvcgc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.gfxvcga:hover ~ .gfxvcg8 .gfxvcgc, .gfxvcga:focus-within ~ .gfxvcg8.gfxvcgc {
  outline-color: var(--_1jfi40jb);
}
.gfxvcge {
  transition: opacity 150ms ease;
}
.gfxvcg5:not(:hover, :focus-within, .gfxvcg3) .gfxvcge {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] .gfxvcg5:not(:hover, :focus-within, .gfxvcg3) .gfxvcge {
  opacity: 0.6;
}
._1n90jk31 {
  color: var(--_1jfi40j7);
  font-family: var(--_16uyuq90);
}
._1n90jk32 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._1n90jk33 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._1n90jk34 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.xih8o21 {
  display: flex;
  flex-direction: column;
  gap: var(--xih8o20);
}
.xih8o22 {
  --xih8o20: var(--_16uyuq9g);
}
.xih8o23 {
  --xih8o20: var(--_16uyuq9h);
}
.xih8o24 {
  --xih8o20: var(--_16uyuq9i);
}
.xih8o25 {
  --xih8o20: var(--_16uyuq9j);
}
.xih8o26 {
  --xih8o20: var(--_16uyuq9k);
}
.xih8o27 {
  --xih8o20: var(--_16uyuq9l);
}
.xih8o28 {
  --xih8o20: var(--_16uyuq9m);
}
.xih8o29 {
  --xih8o20: var(--_16uyuq9n);
}
.xih8o2a {
  --xih8o20: var(--_16uyuq9o);
}
.xih8o2b {
  --xih8o20: var(--_16uyuq9p);
}
.xih8o2c {
  align-items: flex-start;
}
.xih8o2d {
  align-items: center;
}
.xih8o2e {
  align-items: flex-end;
}
._13b83p11 {
  backdrop-filter: blur(6px);
}
._13b83p11::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1jfi40jk);
  opacity: 0.4;
}
html[data-playroom-dark] ._13b83p11::before {
  opacity: 0.7;
}
._13b83p11[data-starting-style]::before, ._13b83p11[data-ending-style]::before {
  opacity: 0;
}
._13b83p13 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_16uyuq9k) * 2));
  max-height: calc(100dvh - (var(--_16uyuq9k) * 2));
}
._13b83p13[data-starting-style], ._13b83p13[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._13b83p17:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 2px;
}
._1nwm0j20 {
  width: 200px;
}
._1j5h6w41 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1jfi40jl);
}
._1j5h6w42 {
  width: fit-content;
}
._1j5h6w44 {
  width: fit-content;
  justify-self: flex-end;
}
._1j5h6w47:not(._1j5h6w45) {
  opacity: 0;
  transform: translateX(var(--_16uyuq9j));
  pointer-events: none;
}
._1j5h6w49 {
  background: transparent;
  color: var(--_1jfi40jg);
  isolation: isolate;
}
._1j5h6w49::after {
  content: "";
  position: absolute;
  transition: var(--_16uyuq9f);
  z-index: -1;
  inset: calc(var(--_16uyuq9j) * -1);
  background-color: var(--_1jfi40jn);
  border-radius: var(--_16uyuq99);
}
._1j5h6w49:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 6px;
}
._1j5h6w49:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1j5h6w4b {
  margin: calc(var(--_16uyuq9k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1j5h6w4f {
  appearance: none;
  outline: none;
  background: var(--_1jfi40jl);
  color: var(--_1jfi40j7);
  border: 1px solid var(--_1jfi40js);
  height: var(--_16uyuq9r);
}
._1j5h6w4f:hover, ._1j5h6w4f[data-popup-open] {
  background-color: var(--_1jfi40jn);
}
._1j5h6w4f:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  z-index: 1;
}
._1j5h6w4h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1j5h6w4j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1j5h6w4k {
  color: var(--_1jfi40jc);
}
._1j5h6w4m {
  height: 1px;
  background-color: var(--_1jfi40js);
}
@media screen and (max-width: 767px) {
  ._1j5h6w44 {
    display: none;
  }
}
._1nphw4x2 {
  flex: 1;
  min-height: 0;
}
._1nphw4x5 {
  --_1nphw4x3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1nphw4x3), 1fr);
}
._1nphw4x7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1nphw4x9 {
  height: calc(100% / var(--_1nphw4x0));
  width: calc(100% / var(--_1nphw4x0));
  border-radius: calc(var(--_16uyuq99) / var(--_1nphw4x0));
  transform: scale(var(--_1nphw4x0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1nphw4x0));
}
._1nphw4xb {
  background: var(--_1jfi40jn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1nphw4xd {
  background: transparent;
  outline: 1px solid var(--_1jfi40js);
}
._1nphw4xd:hover {
  outline: 2px solid var(--_1jfi40jt);
}
._1nphw4xd:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 2px;
}
._1nphw4xh {
  list-style: none;
}
._1nphw4xj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1jfi40js);
}
._1nphw4xj:hover {
  outline: 2px solid var(--_1jfi40jt);
}
._1nphw4xj:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1nphw4x5 {
    --_1nphw4x3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1nphw4x5 {
    --_1nphw4x3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1nphw4x5 {
    --_1nphw4x3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1nphw4x5 {
    --_1nphw4x3: 5;
  }
}
._1nmgs191 {
  width: fit-content;
}
._1nmgs193:focus-visible ~ ._1nmgs195 {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 4px;
}
._1nmgs198 {
  min-width: 0;
}
._1nmgs199 {
  flex-shrink: 0;
}
.y6fb1m2 {
  outline: none;
  height: var(--_16uyuq9r);
  color: var(--_1jfi40j7);
  background: transparent;
}
.y6fb1m2::placeholder {
  color: var(--_1jfi40j9);
  font-weight: strong;
}
.y6fb1m2:hover:not(:focus-visible), .y6fb1m2:hover:not(:focus-visible)::placeholder {
  background: var(--_1jfi40jn);
  opacity: 1;
  color: transparent;
}
.y6fb1m2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.y6fb1m2:focus-visible {
  outline: 2px solid var(--_1jfi40jv);
  outline-offset: 0;
  opacity: 1;
}
.y6fb1m2:focus-visible::placeholder {
  color: transparent;
}
.y6fb1m4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1jfi40j7);
}
.y6fb1m2:focus-visible ~ .y6fb1m4 {
  opacity: 0;
}
.y6fb1m5 {
  color: var(--_1jfi40j9);
}
._1q80du93 {
  border: 1px solid var(--_1jfi40js);
}
._1q80du95 {
  background-color: var(--_1jfi40jq);
  border-bottom: 1px solid var(--_1jfi40js);
}
._1q80du98 {
  background-color: var(--_1jfi40jq);
  border-top: 1px solid var(--_1jfi40js);
}
._1q80du9c {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1q80du96 {
    display: none;
  }
}
