.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
.o67rgo5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1umc8uj);
  -webkit-tap-highlight-color: transparent;
}
.o67rgo5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1umc8ul);
  opacity: 0;
  transition: var(--rhuh0wd);
  pointer-events: none;
}
.o67rgo5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--rhuh0wd);
}
.o67rgo5.o67rgo0 {
  color: var(--_1umc8ud);
}
.o67rgo5:not(.o67rgo1) {
  cursor: pointer;
}
.o67rgo5.o67rgo1 {
  color: var(--_1umc8u7);
}
.o67rgo5.o67rgo2,.o67rgo5.o67rgo3:not(.o67rgo0):not(.o67rgo1),html:not([data-playroom-dark]) .o67rgo5:hover:not(.o67rgo0):not(.o67rgo1) {
  color: var(--_1umc8uc);
}
.o67rgo5:not(.o67rgo0):not(:hover):focus::before {
  color: var(--_1umc8u8);
}
.o67rgo5:not(.o67rgo0):not(.o67rgo1):focus::before,.o67rgo5:not(.o67rgo0):not(.o67rgo1):hover::before {
  opacity: 1;
}
.o67rgo5:not(.o67rgo3)::after {
  transform: translateX(100%);
  opacity: 0;
}
.o67rgo8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1umc8uf);
  border: 2px solid var(--_1umc8uj);
}
.o67rgo8:not(.o67rgo6) {
  transform: scale(0);
  opacity: 0;
}
.o67rgoa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1umc8ud);
  border: 2px solid var(--_1umc8uj);
}
.o67rgoa:not(.o67rgo6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
.o67rgoa svg {
  color: var(--_1umc8u9);
}
@keyframes _1g0s65v1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1g0s65v0 {
  background-color: var(--_1umc8ul);
}
._1g0s65v3 {
  background-color: var(--_1umc8uh);
  color: var(--_1umc8ub);
  min-width: 50px;
  animation-name: _1g0s65v1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1g0s65v3:hover {
  cursor: help;
}
._1g0s65v5 {
  width: 1em;
}
._1g0s65v7::after {
  content: "-";
}
._1g0s65v9::after {
  content: "+";
  color: var(--_1umc8uc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1umc8uj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--rhuh0w1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--rhuh0wb);
  box-sizing: border-box;
  padding-left: var(--rhuh0wj);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--rhuh0wl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1umc8uo);
  border-radius: var(--rhuh0w7);
  background-color: var(--_1umc8uj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--rhuh0w1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1umc8ui);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--rhuh0wi) var(--rhuh0wj);
  border-radius: var(--rhuh0w7);
  white-space: pre;
  color: var(--_1umc8u0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1umc8uf);
  color: var(--_1umc8u9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1umc8uc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--rhuh0wi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1umc8uj);
  color: var(--_1umc8u0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1umc8u8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1umc8uj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1umc8uj);
  position: absolute;
  right: var(--rhuh0wh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1umc8uj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1umc8ul);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1umc8u8);
  transition: var(--rhuh0wf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1g0s65v9) {
  color: var(--_1umc8u7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1umc8u8);
  transition: var(--rhuh0wf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1umc8u7);
}
.cm-s-neo .cm-tag {
  color: var(--_1umc8u1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1umc8u2);
}
.cm-s-neo .cm-string {
  color: var(--_1umc8u3);
}
.cm-s-neo .cm-atom {
  color: var(--_1umc8u4);
}
.cm-s-neo .cm-variable {
  color: var(--_1umc8u5);
}
.cm-s-neo .cm-number {
  color: var(--_1umc8u6);
}
.CodeMirror-dialog {
  padding-left: var(--rhuh0wl);
  padding-right: var(--rhuh0wl);
  min-height: 60px;
  border-bottom: 1px solid var(--_1umc8un);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1g0s65va));
  transition: var(--rhuh0wf);
}
.dialog-opened .CodeMirror-scroll {
  --_1g0s65va: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1g0s65va);
}
.CodeMirror-dialog input {
  font: var(--rhuh0w5);
  font-family: var(--rhuh0w1);
  height: var(--rhuh0wc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--rhuh0wc);
  font: var(--rhuh0w5);
  font-family: var(--rhuh0w1);
}
.CodeMirror-search-field {
  padding-left: var(--rhuh0wl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1umc8um);
}
.cm-overlay.cm-searching {
  padding-top: var(--rhuh0wh);
  padding-bottom: var(--rhuh0wh);
  background: var(--_1umc8ul);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--rhuh0wl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--rhuh0w4);
  font-family: var(--rhuh0w0);
  margin-left: var(--rhuh0wj);
  padding-top: var(--rhuh0wi);
  padding-bottom: var(--rhuh0wi);
  padding-left: var(--rhuh0wk);
  padding-right: var(--rhuh0wk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--rhuh0w8);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1umc8uc);
  box-shadow: var(--_1umc8up);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1umc8ul);
}
.CodeMirror-dialog button:hover {
  background: var(--_1umc8ue);
}
._1fmtblh1 {
  color: var(--_1umc8u8);
}
._1fmtblh2 {
  color: var(--_1umc8ub);
}
._1fmtblh3 {
  color: var(--_1umc8ua);
}
._1fmtblha {
  text-overflow: ellipsis;
}
.g0vq9v1 {
  justify-content: safe center;
}
.g0vq9v4 {
  flex-shrink: 0;
  width: var(--g0vq9v2);
}
.g0vq9v4:not(:hover) .g0vq9v7 {
  opacity: 0.8;
}
.g0vq9v9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.g0vq9v4:not(:hover) .g0vq9v9 {
  opacity: 0.3;
}
._2jj2lf5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--rhuh0wm);
  height: var(--rhuh0wn);
  max-width: calc((100dvw - 60px) - (var(--rhuh0wb) * 2));
}
._2jj2lf5._2jj2lf0 {
  padding-right: calc((15px * 2) + 16px);
}
._2jj2lf5:not(._2jj2lf1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._2jj2lf5._2jj2lf2 {
  background-color: var(--_1umc8ug);
}
._2jj2lf5._2jj2lf3 {
  background-color: var(--_1umc8uh);
}
._2jj2lf7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._2jj2lf7:not(:hover) {
  opacity: 0.4;
}
.x8y5gy1 {
  color: var(--_1umc8u8);
  font-family: var(--rhuh0w0);
}
.x8y5gy2 {
  font-size: 36px;
}
.x8y5gy3 {
  font-size: 24px;
}
.x8y5gy4 {
  font-size: 16px;
}
.zr5cyh2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--zr5cyh0);
  align-items: var(--zr5cyh1);
}
.zr5cyh3 {
  --zr5cyh0: var(--rhuh0wg);
}
.zr5cyh4 {
  --zr5cyh0: var(--rhuh0wh);
}
.zr5cyh5 {
  --zr5cyh0: var(--rhuh0wi);
}
.zr5cyh6 {
  --zr5cyh0: var(--rhuh0wj);
}
.zr5cyh7 {
  --zr5cyh0: var(--rhuh0wk);
}
.zr5cyh8 {
  --zr5cyh0: var(--rhuh0wl);
}
.zr5cyh9 {
  --zr5cyh0: var(--rhuh0wm);
}
.zr5cyha {
  --zr5cyh0: var(--rhuh0wn);
}
.zr5cyhb {
  --zr5cyh0: var(--rhuh0wo);
}
.zr5cyhc {
  --zr5cyh0: var(--rhuh0wp);
}
.zr5cyhd {
  align-items: flex-start;
}
.zr5cyhe {
  align-items: center;
}
.zr5cyhf {
  align-items: flex-end;
}
._59lj0n1 {
  display: flex;
  flex-direction: column;
  gap: var(--_59lj0n0);
}
._59lj0n2 {
  --_59lj0n0: var(--rhuh0wg);
}
._59lj0n3 {
  --_59lj0n0: var(--rhuh0wh);
}
._59lj0n4 {
  --_59lj0n0: var(--rhuh0wi);
}
._59lj0n5 {
  --_59lj0n0: var(--rhuh0wj);
}
._59lj0n6 {
  --_59lj0n0: var(--rhuh0wk);
}
._59lj0n7 {
  --_59lj0n0: var(--rhuh0wl);
}
._59lj0n8 {
  --_59lj0n0: var(--rhuh0wm);
}
._59lj0n9 {
  --_59lj0n0: var(--rhuh0wn);
}
._59lj0na {
  --_59lj0n0: var(--rhuh0wo);
}
._59lj0nb {
  --_59lj0n0: var(--rhuh0wp);
}
._15svihq1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--rhuh0wi) * -1);
}
._15svihq1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--rhuh0w7);
  box-shadow: var(--_1umc8up);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--rhuh0we);
}
._15svihq1:focus::before, ._15svihq1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._15svihq4 {
  height: 20px;
  width: 20px;
}
._15svihq6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--rhuh0wh) * 2));
  width: calc(20px - (var(--rhuh0wh) * 2));
}
._15svihq6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--rhuh0w7);
  box-shadow: var(--_1umc8up);
  transition: var(--rhuh0we);
  opacity: 0;
  transform: scale(0.5);
}
._15svihq6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--rhuh0w7);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1umc8uj);
}
._15svihq4:hover:not(:focus) ~ ._15svihq6::before, ._15svihq4:focus ~ ._15svihq6::before {
  opacity: 1;
  transform: scale(1);
}
._15svihq6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--rhuh0wf);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._15svihq4:checked ~ ._15svihq6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--rhuh0wf);
}
._15svihq8 {
  color: var(--_1umc8u8);
  height: var(--rhuh0wc);
  background: var(--_1umc8uj);
  border: 1px solid var(--_1umc8un);
}
._15svihq8::placeholder {
  color: var(--_1umc8u7);
}
._8c9hdv1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
._8c9hdv4 {
  --_8c9hdv2: currentColor;
  color: var(--_8c9hdv2);
  border: 1px solid var(--_1umc8u7);
}
._8c9hdv4:hover {
  --_8c9hdv2: var(--_1umc8uc);
  border-color: var(--_8c9hdv2);
}
._8c9hdv4:active {
  transform: scale(0.98);
}
._8c9hdv4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--rhuh0wc);
  min-width: var(--rhuh0wc);
  width: 100%;
  height: 100%;
  top: 50%;
}
._8c9hdv4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1umc8up);
}
._8c9hdv5 {
  --_8c9hdv2: var(--_1umc8ud) !important;
  border-color: var(--_8c9hdv2);
}
._8c9hdv7 {
  top: 1px;
}
._1drf1xz0 {
  transition: var(--rhuh0we);
  transform-origin: 50% 50%;
}
._1drf1xz1 {
  transform: rotate(90deg);
}
._1drf1xz2 {
  transform: rotate(180deg);
}
._1drf1xz3 {
  transform: rotate(270deg);
}
._1il0hnd4 {
  min-width: 0;
}
._1il0hnd5 {
  flex-shrink: 0;
}
._1il0hnd9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1il0hnd7:focus:not(:hover) ~ ._1il0hnd9 {
  opacity: 1;
}
._1lw412z2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1lw412z4 {
  display: inline-block;
  background: var(--_1umc8ui);
  font-family: system-ui;
  min-width: 16px;
}
._1lw412z6 {
  height: var(--rhuh0wc);
  width: var(--rhuh0wc);
}
._1lw412z8 {
  height: var(--rhuh0wc);
  width: var(--rhuh0wc);
}
._1lw412z8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1umc8ul);
  border-radius: var(--rhuh0w8);
  transition: var(--rhuh0we);
  opacity: 0;
  transform: scale(0.8);
}
._1lw412z6:checked ~ ._1lw412z8,html:not([data-playroom-dark]) ._1lw412z6:hover ~ ._1lw412z8 {
  color: var(--_1umc8uc);
}
._1lw412z6:focus ~ ._1lw412z8::before, ._1lw412z6:hover ~ ._1lw412z8::before {
  opacity: 1;
  transform: scale(1);
}
.z73wwz1 {
  color: var(--_1umc8u8);
  height: var(--rhuh0wc);
  background: var(--_1umc8uj);
}
.z73wwz1:focus {
  outline: none;
}
.z73wwz1::placeholder {
  color: var(--_1umc8u7);
}
._10f6rdx2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1umc8un);
}
._10f6rdx4 {
  list-style: none;
  top: 60px;
}
._10f6rdx4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--rhuh0wi);
  z-index: 1;
}
._10f6rdx4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--rhuh0wi);
  z-index: 1;
}
._10f6rdx6 {
  scroll-margin-block: var(--rhuh0wi);
  color: var(--_1umc8u8);
  background-color: var(--_1umc8uj);
}
._10f6rdx6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1umc8ul);
  border-radius: var(--rhuh0w7);
  opacity: 0;
  pointer-events: none;
}
._10f6rdx8 {
  color: var(--_1umc8ua);
}
._10f6rdx9 {
  color: var(--_1umc8uc);
}
._10f6rdx9::before {
  opacity: 1;
}
._1uxoasg2 {
  color: var(--_1umc8u8);
  min-width: calc(60px + 1px);
}
._1uxoasg2._1uxoasg0 {
  width: 100dvw;
}
._1uxoasg6 {
  width: 60px;
  background-color: var(--_1umc8uj);
  border-left: 1px solid var(--_1umc8un);
}
._1uxoasg8 {
  width: 320px;
  background-color: var(--_1umc8uj);
  border-left: 1px solid var(--_1umc8un);
}
._1uxoasg9 {
  opacity: 0;
  transform: translateX(30%);
}
._1uxoasgb {
  opacity: 1;
  transform: translateX(0);
}
._1uxoasgc {
  opacity: 1;
  transform: translateX(0);
}
._1uxoasgd {
  opacity: 1;
}
._1uxoasgf {
  opacity: 0;
  transform: translateX(30%);
}
._1uxoasgg {
  opacity: 0;
  transform: translateX(30%);
}
._1v5ebnf0 {
  cursor: row-resize;
}
._1v5ebnf1 {
  cursor: col-resize;
}
._1v5ebnfa {
  background: var(--_1umc8ui);
}
._1v5ebnfb {
  width: 70px;
  height: 4px;
}
._1v5ebnfc {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_1umc8uk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
.i3ckvw0 {
  pointer-events: none;
  user-select: none;
}
.i3ckvw6 {
  display: grid;
  grid-template-columns: 1fr var(--i3ckvw2, 0px);
  grid-template-rows: auto var(--i3ckvw1, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
.i3ckvw7 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
.i3ckvw8 {
  --i3ckvw1: clamp(300px, var(--i3ckvw3), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
.i3ckvw9 {
  --i3ckvw2: clamp(460px, var(--i3ckvw3), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
.i3ckvwa {
  grid-area: frames;
}
.i3ckvwc {
  grid-area: editor;
}
.i3ckvw8 .i3ckvwe {
  width: 60px;
}
.i3ckvwg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--rhuh0wc);
  height: var(--rhuh0wc);
}
.i3ckvwg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--rhuh0w8);
  transition: var(--rhuh0wd);
}
.i3ckvwg:not(:hover):not(:focus) {
  opacity: 0.3;
}
.i3ckvwg:hover::before, .i3ckvwg:focus::before {
  opacity: 0.05;
}
