.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._17t2cx95 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1yyo78uj);
  -webkit-tap-highlight-color: transparent;
}
._17t2cx95::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1yyo78ul);
  opacity: 0;
  transition: var(--gzcr55d);
  pointer-events: none;
}
._17t2cx95::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--gzcr55d);
}
._17t2cx95._17t2cx90 {
  color: var(--_1yyo78ud);
}
._17t2cx95:not(._17t2cx91) {
  cursor: pointer;
}
._17t2cx95._17t2cx91 {
  color: var(--_1yyo78u7);
}
._17t2cx95._17t2cx92,._17t2cx95._17t2cx93:not(._17t2cx90):not(._17t2cx91),html:not([data-playroom-dark]) ._17t2cx95:hover:not(._17t2cx90):not(._17t2cx91) {
  color: var(--_1yyo78uc);
}
._17t2cx95:not(._17t2cx90):not(:hover):focus::before {
  color: var(--_1yyo78u8);
}
._17t2cx95:not(._17t2cx90):not(._17t2cx91):focus::before,._17t2cx95:not(._17t2cx90):not(._17t2cx91):hover::before {
  opacity: 1;
}
._17t2cx95:not(._17t2cx93)::after {
  transform: translateX(100%);
  opacity: 0;
}
._17t2cx98 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1yyo78uf);
  border: 2px solid var(--_1yyo78uj);
}
._17t2cx98:not(._17t2cx96) {
  transform: scale(0);
  opacity: 0;
}
._17t2cx9a {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1yyo78ud);
  border: 2px solid var(--_1yyo78uj);
}
._17t2cx9a:not(._17t2cx96) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._17t2cx9a svg {
  color: var(--_1yyo78u9);
}
@keyframes _1ok2tkr1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1ok2tkr0 {
  background-color: var(--_1yyo78ul);
}
._1ok2tkr3 {
  background-color: var(--_1yyo78uh);
  color: var(--_1yyo78ub);
  min-width: 50px;
  animation-name: _1ok2tkr1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1ok2tkr3:hover {
  cursor: help;
}
._1ok2tkr5 {
  width: 1em;
}
._1ok2tkr7::after {
  content: "-";
}
._1ok2tkr9::after {
  content: "+";
  color: var(--_1yyo78uc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1yyo78uj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--gzcr551);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--gzcr55b);
  box-sizing: border-box;
  padding-left: var(--gzcr55j);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--gzcr55l) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1yyo78uo);
  border-radius: var(--gzcr557);
  background-color: var(--_1yyo78uj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--gzcr551);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1yyo78ui);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--gzcr55i) var(--gzcr55j);
  border-radius: var(--gzcr557);
  white-space: pre;
  color: var(--_1yyo78u0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1yyo78uf);
  color: var(--_1yyo78u9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1yyo78uc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--gzcr55i);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1yyo78uj);
  color: var(--_1yyo78u0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1yyo78u8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1yyo78uj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1yyo78uj);
  position: absolute;
  right: var(--gzcr55h);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1yyo78uj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1yyo78ul);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1yyo78u8);
  transition: var(--gzcr55f);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1ok2tkr9) {
  color: var(--_1yyo78u7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1yyo78u8);
  transition: var(--gzcr55f);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1yyo78u7);
}
.cm-s-neo .cm-tag {
  color: var(--_1yyo78u1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1yyo78u2);
}
.cm-s-neo .cm-string {
  color: var(--_1yyo78u3);
}
.cm-s-neo .cm-atom {
  color: var(--_1yyo78u4);
}
.cm-s-neo .cm-variable {
  color: var(--_1yyo78u5);
}
.cm-s-neo .cm-number {
  color: var(--_1yyo78u6);
}
.CodeMirror-dialog {
  padding-left: var(--gzcr55l);
  padding-right: var(--gzcr55l);
  min-height: 60px;
  border-bottom: 1px solid var(--_1yyo78un);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1ok2tkra));
  transition: var(--gzcr55f);
}
.dialog-opened .CodeMirror-scroll {
  --_1ok2tkra: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1ok2tkra);
}
.CodeMirror-dialog input {
  font: var(--gzcr555);
  font-family: var(--gzcr551);
  height: var(--gzcr55c);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--gzcr55c);
  font: var(--gzcr555);
  font-family: var(--gzcr551);
}
.CodeMirror-search-field {
  padding-left: var(--gzcr55l);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1yyo78um);
}
.cm-overlay.cm-searching {
  padding-top: var(--gzcr55h);
  padding-bottom: var(--gzcr55h);
  background: var(--_1yyo78ul);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--gzcr55l);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--gzcr554);
  font-family: var(--gzcr550);
  margin-left: var(--gzcr55j);
  padding-top: var(--gzcr55i);
  padding-bottom: var(--gzcr55i);
  padding-left: var(--gzcr55k);
  padding-right: var(--gzcr55k);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--gzcr558);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1yyo78uc);
  box-shadow: var(--_1yyo78up);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1yyo78ul);
}
.CodeMirror-dialog button:hover {
  background: var(--_1yyo78ue);
}
._1oi92px1 {
  color: var(--_1yyo78u8);
}
._1oi92px2 {
  color: var(--_1yyo78ub);
}
._1oi92px3 {
  color: var(--_1yyo78ua);
}
._1oi92pxa {
  text-overflow: ellipsis;
}
.r0jaqx1 {
  justify-content: safe center;
}
.r0jaqx4 {
  flex-shrink: 0;
  width: var(--r0jaqx2);
}
.r0jaqx4:not(:hover) .r0jaqx7 {
  opacity: 0.8;
}
.r0jaqx9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.r0jaqx4:not(:hover) .r0jaqx9 {
  opacity: 0.3;
}
.i2mh7q5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--gzcr55m);
  height: var(--gzcr55n);
  max-width: calc((100dvw - 60px) - (var(--gzcr55b) * 2));
}
.i2mh7q5.i2mh7q0 {
  padding-right: calc((15px * 2) + 16px);
}
.i2mh7q5:not(.i2mh7q1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.i2mh7q5.i2mh7q2 {
  background-color: var(--_1yyo78ug);
}
.i2mh7q5.i2mh7q3 {
  background-color: var(--_1yyo78uh);
}
.i2mh7q7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.i2mh7q7:not(:hover) {
  opacity: 0.4;
}
._1po43wn1 {
  color: var(--_1yyo78u8);
  font-family: var(--gzcr550);
}
._1po43wn2 {
  font-size: 36px;
}
._1po43wn3 {
  font-size: 24px;
}
._1po43wn4 {
  font-size: 16px;
}
._23et1a2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_23et1a0);
  align-items: var(--_23et1a1);
}
._23et1a3 {
  --_23et1a0: var(--gzcr55g);
}
._23et1a4 {
  --_23et1a0: var(--gzcr55h);
}
._23et1a5 {
  --_23et1a0: var(--gzcr55i);
}
._23et1a6 {
  --_23et1a0: var(--gzcr55j);
}
._23et1a7 {
  --_23et1a0: var(--gzcr55k);
}
._23et1a8 {
  --_23et1a0: var(--gzcr55l);
}
._23et1a9 {
  --_23et1a0: var(--gzcr55m);
}
._23et1aa {
  --_23et1a0: var(--gzcr55n);
}
._23et1ab {
  --_23et1a0: var(--gzcr55o);
}
._23et1ac {
  --_23et1a0: var(--gzcr55p);
}
._23et1ad {
  align-items: flex-start;
}
._23et1ae {
  align-items: center;
}
._23et1af {
  align-items: flex-end;
}
.zegrsg1 {
  display: flex;
  flex-direction: column;
  gap: var(--zegrsg0);
}
.zegrsg2 {
  --zegrsg0: var(--gzcr55g);
}
.zegrsg3 {
  --zegrsg0: var(--gzcr55h);
}
.zegrsg4 {
  --zegrsg0: var(--gzcr55i);
}
.zegrsg5 {
  --zegrsg0: var(--gzcr55j);
}
.zegrsg6 {
  --zegrsg0: var(--gzcr55k);
}
.zegrsg7 {
  --zegrsg0: var(--gzcr55l);
}
.zegrsg8 {
  --zegrsg0: var(--gzcr55m);
}
.zegrsg9 {
  --zegrsg0: var(--gzcr55n);
}
.zegrsga {
  --zegrsg0: var(--gzcr55o);
}
.zegrsgb {
  --zegrsg0: var(--gzcr55p);
}
._1de05v41 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--gzcr55i) * -1);
}
._1de05v41::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--gzcr557);
  box-shadow: var(--_1yyo78up);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--gzcr55e);
}
._1de05v41:focus::before, ._1de05v41:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1de05v44 {
  height: 20px;
  width: 20px;
}
._1de05v46 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--gzcr55h) * 2));
  width: calc(20px - (var(--gzcr55h) * 2));
}
._1de05v46::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--gzcr557);
  box-shadow: var(--_1yyo78up);
  transition: var(--gzcr55e);
  opacity: 0;
  transform: scale(0.5);
}
._1de05v46::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--gzcr557);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1yyo78uj);
}
._1de05v44:hover:not(:focus) ~ ._1de05v46::before, ._1de05v44:focus ~ ._1de05v46::before {
  opacity: 1;
  transform: scale(1);
}
._1de05v46 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--gzcr55f);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1de05v44:checked ~ ._1de05v46 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--gzcr55f);
}
._1de05v48 {
  color: var(--_1yyo78u8);
  height: var(--gzcr55c);
  background: var(--_1yyo78uj);
  border: 1px solid var(--_1yyo78un);
}
._1de05v48::placeholder {
  color: var(--_1yyo78u7);
}
.s9z2b31 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
.s9z2b34 {
  --s9z2b32: currentColor;
  color: var(--s9z2b32);
  border: 1px solid var(--_1yyo78u7);
}
.s9z2b34:hover {
  --s9z2b32: var(--_1yyo78uc);
  border-color: var(--s9z2b32);
}
.s9z2b34:active {
  transform: scale(0.98);
}
.s9z2b34::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--gzcr55c);
  min-width: var(--gzcr55c);
  width: 100%;
  height: 100%;
  top: 50%;
}
.s9z2b34:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1yyo78up);
}
.s9z2b35 {
  --s9z2b32: var(--_1yyo78ud) !important;
  border-color: var(--s9z2b32);
}
.s9z2b37 {
  top: 1px;
}
._8a461x0 {
  transition: var(--gzcr55e);
  transform-origin: 50% 50%;
}
._8a461x1 {
  transform: rotate(90deg);
}
._8a461x2 {
  transform: rotate(180deg);
}
._8a461x3 {
  transform: rotate(270deg);
}
._11a3kj4 {
  min-width: 0;
}
._11a3kj5 {
  flex-shrink: 0;
}
._11a3kj9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._11a3kj7:focus:not(:hover) ~ ._11a3kj9 {
  opacity: 1;
}
._1az483p2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1az483p4 {
  display: inline-block;
  background: var(--_1yyo78ui);
  font-family: system-ui;
  min-width: 16px;
}
._1az483p6 {
  height: var(--gzcr55c);
  width: var(--gzcr55c);
}
._1az483p8 {
  height: var(--gzcr55c);
  width: var(--gzcr55c);
}
._1az483p8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1yyo78ul);
  border-radius: var(--gzcr558);
  transition: var(--gzcr55e);
  opacity: 0;
  transform: scale(0.8);
}
._1az483p6:checked ~ ._1az483p8,html:not([data-playroom-dark]) ._1az483p6:hover ~ ._1az483p8 {
  color: var(--_1yyo78uc);
}
._1az483p6:focus ~ ._1az483p8::before, ._1az483p6:hover ~ ._1az483p8::before {
  opacity: 1;
  transform: scale(1);
}
._9qizoq1 {
  color: var(--_1yyo78u8);
  height: var(--gzcr55c);
  background: var(--_1yyo78uj);
}
._9qizoq1:focus {
  outline: none;
}
._9qizoq1::placeholder {
  color: var(--_1yyo78u7);
}
._1465clt2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1yyo78un);
}
._1465clt4 {
  list-style: none;
  top: 60px;
}
._1465clt4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--gzcr55i);
  z-index: 1;
}
._1465clt4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--gzcr55i);
  z-index: 1;
}
._1465clt6 {
  scroll-margin-block: var(--gzcr55i);
  color: var(--_1yyo78u8);
  background-color: var(--_1yyo78uj);
}
._1465clt6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1yyo78ul);
  border-radius: var(--gzcr557);
  opacity: 0;
  pointer-events: none;
}
._1465clt8 {
  color: var(--_1yyo78ua);
}
._1465clt9 {
  color: var(--_1yyo78uc);
}
._1465clt9::before {
  opacity: 1;
}
._76sbol2 {
  color: var(--_1yyo78u8);
  min-width: calc(60px + 1px);
}
._76sbol2._76sbol0 {
  width: 100dvw;
}
._76sbol6 {
  width: 60px;
  background-color: var(--_1yyo78uj);
  border-left: 1px solid var(--_1yyo78un);
}
._76sbol8 {
  width: 320px;
  background-color: var(--_1yyo78uj);
  border-left: 1px solid var(--_1yyo78un);
}
._76sbol9 {
  opacity: 0;
  transform: translateX(30%);
}
._76sbolb {
  opacity: 1;
  transform: translateX(0);
}
._76sbolc {
  opacity: 1;
  transform: translateX(0);
}
._76sbold {
  opacity: 1;
}
._76sbolf {
  opacity: 0;
  transform: translateX(30%);
}
._76sbolg {
  opacity: 0;
  transform: translateX(30%);
}
._1qtzxrf0 {
  cursor: row-resize;
}
._1qtzxrf1 {
  cursor: col-resize;
}
._1qtzxrfa {
  background: var(--_1yyo78ui);
}
._1qtzxrfb {
  width: 70px;
  height: 4px;
}
._1qtzxrfc {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--_1yyo78uk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
.hk43e00 {
  pointer-events: none;
  user-select: none;
}
.hk43e06 {
  display: grid;
  grid-template-columns: 1fr var(--hk43e02, 0px);
  grid-template-rows: auto var(--hk43e01, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
.hk43e07 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
.hk43e08 {
  --hk43e01: clamp(300px, var(--hk43e03), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
.hk43e09 {
  --hk43e02: clamp(460px, var(--hk43e03), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
.hk43e0a {
  grid-area: frames;
}
.hk43e0c {
  grid-area: editor;
}
.hk43e08 .hk43e0e {
  width: 60px;
}
.hk43e0g {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--gzcr55c);
  height: var(--gzcr55c);
}
.hk43e0g::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--gzcr558);
  transition: var(--gzcr55d);
}
.hk43e0g:not(:hover):not(:focus) {
  opacity: 0.3;
}
.hk43e0g:hover::before, .hk43e0g:focus::before {
  opacity: 0.05;
}
