.sc1xxc1 {
  background-color: var(--_1rghnsim);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1rghnsir);
}
.sc1xxc2::before {
  content: "";
  position: absolute;
  min-height: var(--_1tgnib3c);
  min-width: var(--_1tgnib3c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._928o4i2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._928o4i4 {
  border: 1px solid var(--_1rghnsir);
  background-color: var(--_1rghnsil);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._928o4i4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1rghnsin);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._928o4i4:hover::after {
  opacity: 1;
}
._928o4i4:focus-visible::after {
  opacity: 1;
}
._928o4i4:active:not([disabled]) {
  transform: scale(0.97);
}
._928o4i4:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 0;
}
._928o4i6 {
  isolation: isolate;
}
._928o4i8 {
  height: var(--_928o4i0);
}
._928o4ia {
  border-color: var(--_1rghnsic);
}
._928o4ia::after {
  background-color: var(--_1rghnsii);
}
._928o4ib {
  border-color: var(--_1rghnsia);
}
._928o4ib::after {
  background-color: var(--_1rghnsij);
}
._928o4ic {
  --_928o4i0: var(--_1tgnib3q);
}
._928o4id {
  --_928o4i0: var(--_1tgnib3r);
}
._928o4ie {
  --_928o4i0: var(--_1tgnib3s);
}
._1u213i81 {
  --_1rghnsi7: var(--_1rghnsid);
  background-color: var(--_1rghnsio);
  outline: 1px solid var(--_1rghnsit);
  outline-offset: -1px;
}
._1969spx3 {
  background: transparent;
  outline: none;
  height: var(--_1969spx0) !important;
  width: var(--_1969spx0) !important;
}
._1969spx6 {
  padding: var(--_1969spx4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1969spx3:active ._1969spx6 {
  transform: scale(.95);
}
._1969spx3:focus-visible ._1969spx6 {
  outline: 2px solid var(--_1rghnsiu);
}
._1969spx3[aria-disabled="true"] ._1969spx6 {
  --_1969spx1: var(--_1rghnsi9);
}
._1969spx7 {
  --_1969spx0: var(--_1tgnib3q);
  --_1969spx4: var(--_1tgnib3i);
}
._1969spx8 {
  --_1969spx0: var(--_1tgnib3r);
  --_1969spx4: var(--_1tgnib3j);
}
._1969spx9 {
  --_1969spx0: var(--_1tgnib3s);
  --_1969spx4: var(--_1tgnib3j);
}
._1969spxj {
  --_1969spxa: var(--_1rghnsi7);
  --_1969spxb: var(--_1rghnsil);
  --_1969spxc: var(--_1rghnsin);
  --_1969spxd: var(--_1rghnsi8);
  --_1969spxe: var(--_1rghnsig);
  --_1969spxf: var(--_1rghnsih);
  --_1969spxg: var(--_1rghnsi7);
  --_1969spxh: var(--_1rghnsi7);
  --_1969spxi: var(--_1rghnsin);
}
._1969spxk {
  --_1969spxa: var(--_1rghnsib);
  --_1969spxb: var(--_1rghnsil);
  --_1969spxc: var(--_1rghnsin);
  --_1969spxd: var(--_1rghnsi8);
  --_1969spxe: var(--_1rghnsib);
  --_1969spxf: var(--_1rghnsif);
  --_1969spxg: var(--_1rghnsib);
  --_1969spxh: var(--_1rghnsi8);
  --_1969spxi: var(--_1rghnsie);
}
._1969spxl {
  color: var(--_1969spxa);
  background-color: var(--_1969spxb);
  outline: 1px solid var(--_1rghnsir);
  outline-offset: -1px;
}
._1969spx3:not([aria-disabled="true"]):hover > ._1969spxl, ._1969spx3:not([aria-disabled="true"]):focus-visible > ._1969spxl, ._1969spx3:not([aria-disabled="true"])[data-popup-open] > ._1969spxl {
  background-color: var(--_1969spxc);
}
._1969spxm {
  color: var(--_1969spxd);
  background-color: var(--_1969spxe);
}
._1969spx3:not([aria-disabled="true"]):hover > ._1969spxm, ._1969spx3:not([aria-disabled="true"]):focus-visible > ._1969spxm, ._1969spx3:not([aria-disabled="true"])[data-popup-open] > ._1969spxm {
  background-color: var(--_1969spxf);
}
._1969spxn {
  color: var(--_1969spxg);
}
._1969spx3:not([aria-disabled="true"]):hover > ._1969spxn, ._1969spx3:not([aria-disabled="true"]):focus-visible > ._1969spxn, ._1969spx3:not([aria-disabled="true"])[data-popup-open] > ._1969spxn {
  color: var(--_1969spxh);
  background-color: var(--_1969spxi);
}
._1969spxo {
  margin: calc((var(--_1969spx4) + 2px) * -1);
}
._1969spx6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1xal0ev0 {
  isolation: isolate;
  white-space: nowrap;
}
._1xal0ev1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1xal0ev3 {
    display: none;
  }
}
._1k7ff1a1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1k7ff1a2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1k7ff1a2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1k7ff1a4 {
  --_1k7ff1a3: 30px;
}
._1k7ff1a5 {
  --_1k7ff1a3: 45px;
}
._1k7ff1a6 {
  --_1k7ff1a3: 60px;
}
._1k7ff1a7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1k7ff1a8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1k7ff1a9 {
  overflow: auto;
}
._1k7ff1ae {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1k7ff1ac, 0)),linear-gradient(to right, transparent 0, black var(--_1k7ff1aa, 0)),linear-gradient(to left, transparent 0, black var(--_1k7ff1ab, 0)),linear-gradient(to top, transparent 0, black var(--_1k7ff1ad, 0));
}
._1k7ff1af {
  --_1k7ff1aa: var(--_1k7ff1a3);
}
._1k7ff1ag {
  --_1k7ff1ab: var(--_1k7ff1a3);
}
._1k7ff1ah {
  --_1k7ff1ac: var(--_1k7ff1a3);
}
._1k7ff1ai {
  --_1k7ff1ad: var(--_1k7ff1a3);
}
.gm7rfc2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.gm7rfc3 {
  width: 250px;
}
.gm7rfc6 {
  --gm7rfc4: var(--_1rghnsin);
  outline: none;
  cursor: default;
  color: var(--_1rghnsi7);
  height: 34px;
  isolation: isolate;
}
.gm7rfc6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1tgnib38);
  z-index: -1;
}
.gm7rfc6[data-popup-open]:not([aria-disabled])::before, .gm7rfc6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--gm7rfc4);
}
.gm7rfc6:focus-visible::before {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: -2px;
}
.gm7rfc6[aria-disabled] {
  color: var(--_1rghnsi9);
  cursor: not-allowed;
}
.gm7rfc7 {
  cursor: pointer;
  text-decoration: none;
}
.gm7rfc7[aria-disabled] {
  cursor: not-allowed;
}
.gm7rfc8 {
  margin-left: 3px;
}
.gm7rfc9 {
  --gm7rfc4: var(--_1rghnsij);
  color: var(--_1rghnsia);
}
.gm7rfca {
  --gm7rfc4: transparent;
  color: var(--_1rghnsic);
}
.gm7rfca svg {
  color: var(--_1rghnsic);
}
.gm7rfcc {
  isolation: isolate;
}
.gm7rfcg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.gm7rfci {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1rghnsi7);
  z-index: 1;
}
[aria-checked="true"] .gm7rfci {
  color: var(--_1rghnsi8);
}
.gm7rfck {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1rghnsi7);
  isolation: isolate;
}
[aria-checked="true"] .gm7rfck {
  background-color: var(--_1rghnsie);
  border-color: var(--_1rghnsie);
}
.gm7rfcp {
  height: 34px;
}
.gm7rfcr {
  height: 1px;
  background-color: var(--_1rghnsir);
}
.gm7rfct {
  background: transparent;
  border: none;
}
.gm7rfct:hover, .gm7rfct[data-highlighted] {
  background-color: var(--_1rghnsin);
}
.gm7rfct:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: -2px;
}
.et2zce1 {
  justify-content: safe center;
}
.et2zce5 {
  flex-shrink: 0;
  width: var(--et2zce2);
}
.et2zce5:last-child {
  padding-right: var(--_1tgnib3n);
}
.et2zce6 {
  transition: color 150ms ease;
}
.et2zce5:hover .et2zce6, .et2zce5:focus-within .et2zce6, .et2zce3 .et2zce6 {
  color: var(--_1rghnsib);
}
.et2zce8 {
  outline: 1px solid var(--_1rghnsir);
}
.et2zcea {
  transition: opacity 150ms ease;
}
.et2zce5:not(:hover, :focus-within, .et2zce3) .et2zcea {
  opacity: 1;
}
.et2zcec {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.et2zcea:hover ~ .et2zce8 .et2zcec, .et2zcea:focus-within ~ .et2zce8.et2zcec {
  outline-color: var(--_1rghnsib);
}
.et2zcee {
  transition: opacity 150ms ease;
}
.et2zce5:not(:hover, :focus-within, .et2zce3) .et2zcee {
  opacity: 0;
}
._181in6w1 {
  color: var(--_1rghnsi7);
  font-family: var(--_1tgnib30);
}
._181in6w2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._181in6w3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._181in6w4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._11lwk8j1 {
  display: flex;
  flex-direction: column;
  gap: var(--_11lwk8j0);
}
._11lwk8j2 {
  --_11lwk8j0: var(--_1tgnib3g);
}
._11lwk8j3 {
  --_11lwk8j0: var(--_1tgnib3h);
}
._11lwk8j4 {
  --_11lwk8j0: var(--_1tgnib3i);
}
._11lwk8j5 {
  --_11lwk8j0: var(--_1tgnib3j);
}
._11lwk8j6 {
  --_11lwk8j0: var(--_1tgnib3k);
}
._11lwk8j7 {
  --_11lwk8j0: var(--_1tgnib3l);
}
._11lwk8j8 {
  --_11lwk8j0: var(--_1tgnib3m);
}
._11lwk8j9 {
  --_11lwk8j0: var(--_1tgnib3n);
}
._11lwk8ja {
  --_11lwk8j0: var(--_1tgnib3o);
}
._11lwk8jb {
  --_11lwk8j0: var(--_1tgnib3p);
}
._11lwk8jc {
  align-items: flex-start;
}
._11lwk8jd {
  align-items: center;
}
._11lwk8je {
  align-items: flex-end;
}
.dlbgwb1 {
  backdrop-filter: blur(6px);
}
.dlbgwb1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1rghnsik);
  opacity: 0.4;
}
html[data-playroom-dark] .dlbgwb1::before {
  opacity: 0.7;
}
.dlbgwb1[data-starting-style]::before, .dlbgwb1[data-ending-style]::before {
  opacity: 0;
}
.dlbgwb3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1tgnib3k) * 2));
  max-height: calc(100dvh - (var(--_1tgnib3k) * 2));
}
.dlbgwb3[data-starting-style], .dlbgwb3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.dlbgwb7:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 2px;
}
._47s4wf2 {
  display: flex;
  flex-direction: row;
  gap: var(--_47s4wf0);
  align-items: var(--_47s4wf1);
}
._47s4wf3 {
  flex-wrap: wrap;
}
._47s4wf4 {
  --_47s4wf0: var(--_1tgnib3g);
}
._47s4wf5 {
  --_47s4wf0: var(--_1tgnib3h);
}
._47s4wf6 {
  --_47s4wf0: var(--_1tgnib3i);
}
._47s4wf7 {
  --_47s4wf0: var(--_1tgnib3j);
}
._47s4wf8 {
  --_47s4wf0: var(--_1tgnib3k);
}
._47s4wf9 {
  --_47s4wf0: var(--_1tgnib3l);
}
._47s4wfa {
  --_47s4wf0: var(--_1tgnib3m);
}
._47s4wfb {
  --_47s4wf0: var(--_1tgnib3n);
}
._47s4wfc {
  --_47s4wf0: var(--_1tgnib3o);
}
._47s4wfd {
  --_47s4wf0: var(--_1tgnib3p);
}
._47s4wfe {
  align-items: flex-start;
}
._47s4wff {
  align-items: center;
}
._47s4wfg {
  align-items: flex-end;
}
._1ehpscq0 {
  width: 200px;
}
._1re4lz21 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1rghnsil);
}
._1re4lz22 {
  width: fit-content;
}
._1re4lz24 {
  width: fit-content;
  justify-self: flex-end;
}
._1re4lz27:not(._1re4lz25) {
  opacity: 0;
  transform: translateX(var(--_1tgnib3j));
  pointer-events: none;
}
._1re4lz29 {
  background: transparent;
  color: var(--_1rghnsig);
  isolation: isolate;
}
._1re4lz29::after {
  content: "";
  position: absolute;
  transition: var(--_1tgnib3f);
  z-index: -1;
  inset: calc(var(--_1tgnib3j) * -1);
  background-color: var(--_1rghnsin);
  border-radius: var(--_1tgnib39);
}
._1re4lz29:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 6px;
}
._1re4lz29:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1re4lz2b {
  margin: calc(var(--_1tgnib3k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1re4lz2f {
  appearance: none;
  outline: none;
  background: var(--_1rghnsil);
  color: var(--_1rghnsi7);
  border: 1px solid var(--_1rghnsir);
  height: var(--_1tgnib3r);
}
._1re4lz2f:hover, ._1re4lz2f[data-popup-open] {
  background-color: var(--_1rghnsin);
}
._1re4lz2f:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  z-index: 1;
}
._1re4lz2h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1re4lz2j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1re4lz2k {
  color: var(--_1rghnsic);
}
._1re4lz2m {
  height: 1px;
  background-color: var(--_1rghnsir);
}
@media screen and (max-width: 767px) {
  ._1re4lz24 {
    display: none;
  }
}
._1g5bua52 {
  flex: 1;
  min-height: 0;
}
._1g5bua55 {
  --_1g5bua53: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1g5bua53), 1fr);
}
._1g5bua57 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1g5bua59 {
  height: calc(100% / var(--_1g5bua50));
  width: calc(100% / var(--_1g5bua50));
  border-radius: calc(var(--_1tgnib39) / var(--_1g5bua50));
  transform: scale(var(--_1g5bua50));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1g5bua50));
}
._1g5bua5b {
  background: var(--_1rghnsin);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1g5bua5d {
  background: transparent;
  outline: 1px solid var(--_1rghnsir);
}
._1g5bua5d:hover {
  outline: 2px solid var(--_1rghnsis);
}
._1g5bua5d:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 2px;
}
._1g5bua5h {
  list-style: none;
}
._1g5bua5j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1rghnsir);
}
._1g5bua5j:hover {
  outline: 2px solid var(--_1rghnsis);
}
._1g5bua5j:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1g5bua55 {
    --_1g5bua53: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1g5bua55 {
    --_1g5bua53: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1g5bua55 {
    --_1g5bua53: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1g5bua55 {
    --_1g5bua53: 5;
  }
}
._1pqxgqc1 {
  width: fit-content;
}
._1pqxgqc3:focus-visible ~ ._1pqxgqc5 {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 4px;
}
._1pqxgqc8 {
  min-width: 0;
}
._1pqxgqc9 {
  flex-shrink: 0;
}
.zkephn2 {
  outline: none;
  height: var(--_1tgnib3r);
  color: var(--_1rghnsi7);
  background: transparent;
}
.zkephn2::placeholder {
  color: var(--_1rghnsi9);
  font-weight: strong;
}
.zkephn2:hover:not(:focus-visible), .zkephn2:hover:not(:focus-visible)::placeholder {
  background: var(--_1rghnsin);
  opacity: 1;
  color: transparent;
}
.zkephn2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.zkephn2:focus-visible {
  outline: 2px solid var(--_1rghnsiu);
  outline-offset: 0;
  opacity: 1;
}
.zkephn2:focus-visible::placeholder {
  color: transparent;
}
.zkephn4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1rghnsi7);
}
.zkephn2:focus-visible ~ .zkephn4 {
  opacity: 0;
}
.zkephn5 {
  color: var(--_1rghnsi9);
}
.o27lqf3 {
  border: 1px solid var(--_1rghnsir);
}
.o27lqf5 {
  background-color: var(--_1rghnsiq);
  border-bottom: 1px solid var(--_1rghnsir);
}
.o27lqf8 {
  background-color: var(--_1rghnsiq);
  border-top: 1px solid var(--_1rghnsir);
}
.o27lqfc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .o27lqf6 {
    display: none;
  }
}
