.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._8n9tgp5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--zcfly6j);
  -webkit-tap-highlight-color: transparent;
}
._8n9tgp5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--zcfly6l);
  opacity: 0;
  transition: var(--cpyqmpd);
  pointer-events: none;
}
._8n9tgp5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--cpyqmpd);
}
._8n9tgp5._8n9tgp0 {
  color: var(--zcfly6d);
}
._8n9tgp5:not(._8n9tgp1) {
  cursor: pointer;
}
._8n9tgp5._8n9tgp1 {
  color: var(--zcfly67);
}
._8n9tgp5._8n9tgp2,._8n9tgp5._8n9tgp3:not(._8n9tgp0):not(._8n9tgp1),html:not([data-playroom-dark]) ._8n9tgp5:hover:not(._8n9tgp0):not(._8n9tgp1) {
  color: var(--zcfly6c);
}
._8n9tgp5:not(._8n9tgp0):not(:hover):focus::before {
  color: var(--zcfly68);
}
._8n9tgp5:not(._8n9tgp0):not(._8n9tgp1):focus::before,._8n9tgp5:not(._8n9tgp0):not(._8n9tgp1):hover::before {
  opacity: 1;
}
._8n9tgp5:not(._8n9tgp3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._8n9tgp8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--zcfly6f);
  border: 2px solid var(--zcfly6j);
}
._8n9tgp8:not(._8n9tgp6) {
  transform: scale(0);
  opacity: 0;
}
._8n9tgpa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--zcfly6d);
  border: 2px solid var(--zcfly6j);
}
._8n9tgpa:not(._8n9tgp6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._8n9tgpa svg {
  color: var(--zcfly69);
}
@keyframes _4m1bzh1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._4m1bzh0 {
  background-color: var(--zcfly6l);
}
._4m1bzh3 {
  background-color: var(--zcfly6h);
  color: var(--zcfly6b);
  min-width: 50px;
  animation-name: _4m1bzh1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._4m1bzh3:hover {
  cursor: help;
}
._4m1bzh5 {
  width: 1em;
}
._4m1bzh7::after {
  content: "-";
}
._4m1bzh9::after {
  content: "+";
  color: var(--zcfly6c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--zcfly6j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--cpyqmp1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--cpyqmpb);
  box-sizing: border-box;
  padding-left: var(--cpyqmpj);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--cpyqmpl) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--zcfly6o);
  border-radius: var(--cpyqmp7);
  background-color: var(--zcfly6j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--cpyqmp1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--zcfly6i);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--cpyqmpi) var(--cpyqmpj);
  border-radius: var(--cpyqmp7);
  white-space: pre;
  color: var(--zcfly60);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--zcfly6f);
  color: var(--zcfly69);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--zcfly6c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--cpyqmpi);
}
.cm-s-neo.CodeMirror {
  background-color: var(--zcfly6j);
  color: var(--zcfly60);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--zcfly68);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--zcfly6j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--zcfly6j);
  position: absolute;
  right: var(--cpyqmph);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--zcfly6j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--zcfly6l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--zcfly68);
  transition: var(--cpyqmpf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._4m1bzh9) {
  color: var(--zcfly67);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--zcfly68);
  transition: var(--cpyqmpf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--zcfly67);
}
.cm-s-neo .cm-tag {
  color: var(--zcfly61);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--zcfly62);
}
.cm-s-neo .cm-string {
  color: var(--zcfly63);
}
.cm-s-neo .cm-atom {
  color: var(--zcfly64);
}
.cm-s-neo .cm-variable {
  color: var(--zcfly65);
}
.cm-s-neo .cm-number {
  color: var(--zcfly66);
}
.CodeMirror-dialog {
  padding-left: var(--cpyqmpl);
  padding-right: var(--cpyqmpl);
  min-height: 60px;
  border-bottom: 1px solid var(--zcfly6n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_4m1bzha));
  transition: var(--cpyqmpf);
}
.dialog-opened .CodeMirror-scroll {
  --_4m1bzha: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_4m1bzha);
}
.CodeMirror-dialog input {
  font: var(--cpyqmp5);
  font-family: var(--cpyqmp1);
  height: var(--cpyqmpc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--cpyqmpc);
  font: var(--cpyqmp5);
  font-family: var(--cpyqmp1);
}
.CodeMirror-search-field {
  padding-left: var(--cpyqmpl);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--zcfly6m);
}
.cm-overlay.cm-searching {
  padding-top: var(--cpyqmph);
  padding-bottom: var(--cpyqmph);
  background: var(--zcfly6l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--cpyqmpl);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--cpyqmp4);
  font-family: var(--cpyqmp0);
  margin-left: var(--cpyqmpj);
  padding-top: var(--cpyqmpi);
  padding-bottom: var(--cpyqmpi);
  padding-left: var(--cpyqmpk);
  padding-right: var(--cpyqmpk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--cpyqmp8);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--zcfly6c);
  box-shadow: var(--zcfly6p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--zcfly6l);
}
.CodeMirror-dialog button:hover {
  background: var(--zcfly6e);
}
._25a58r1 {
  color: var(--zcfly68);
}
._25a58r2 {
  color: var(--zcfly6b);
}
._25a58r3 {
  color: var(--zcfly6a);
}
._25a58ra {
  text-overflow: ellipsis;
}
._1umakqa1 {
  justify-content: safe center;
}
._1umakqa4 {
  flex-shrink: 0;
  width: var(--_1umakqa2);
}
._1umakqa4:not(:hover) ._1umakqa7 {
  opacity: 0.8;
}
._1umakqa9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1umakqa4:not(:hover) ._1umakqa9 {
  opacity: 0.3;
}
._1v2k9lh5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--cpyqmpm);
  height: var(--cpyqmpn);
  max-width: calc((100dvw - 60px) - (var(--cpyqmpb) * 2));
}
._1v2k9lh5._1v2k9lh0 {
  padding-right: calc((15px * 2) + 16px);
}
._1v2k9lh5:not(._1v2k9lh1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1v2k9lh5._1v2k9lh2 {
  background-color: var(--zcfly6g);
}
._1v2k9lh5._1v2k9lh3 {
  background-color: var(--zcfly6h);
}
._1v2k9lh7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1v2k9lh7:not(:hover) {
  opacity: 0.4;
}
.v3wg8y1 {
  color: var(--zcfly68);
  font-family: var(--cpyqmp0);
}
.v3wg8y2 {
  font-size: 36px;
}
.v3wg8y3 {
  font-size: 24px;
}
.v3wg8y4 {
  font-size: 16px;
}
._21s8ho2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_21s8ho0);
  align-items: var(--_21s8ho1);
}
._21s8ho3 {
  --_21s8ho0: var(--cpyqmpg);
}
._21s8ho4 {
  --_21s8ho0: var(--cpyqmph);
}
._21s8ho5 {
  --_21s8ho0: var(--cpyqmpi);
}
._21s8ho6 {
  --_21s8ho0: var(--cpyqmpj);
}
._21s8ho7 {
  --_21s8ho0: var(--cpyqmpk);
}
._21s8ho8 {
  --_21s8ho0: var(--cpyqmpl);
}
._21s8ho9 {
  --_21s8ho0: var(--cpyqmpm);
}
._21s8hoa {
  --_21s8ho0: var(--cpyqmpn);
}
._21s8hob {
  --_21s8ho0: var(--cpyqmpo);
}
._21s8hoc {
  --_21s8ho0: var(--cpyqmpp);
}
._21s8hod {
  align-items: flex-start;
}
._21s8hoe {
  align-items: center;
}
._21s8hof {
  align-items: flex-end;
}
._1ll826b1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1ll826b0);
}
._1ll826b2 {
  --_1ll826b0: var(--cpyqmpg);
}
._1ll826b3 {
  --_1ll826b0: var(--cpyqmph);
}
._1ll826b4 {
  --_1ll826b0: var(--cpyqmpi);
}
._1ll826b5 {
  --_1ll826b0: var(--cpyqmpj);
}
._1ll826b6 {
  --_1ll826b0: var(--cpyqmpk);
}
._1ll826b7 {
  --_1ll826b0: var(--cpyqmpl);
}
._1ll826b8 {
  --_1ll826b0: var(--cpyqmpm);
}
._1ll826b9 {
  --_1ll826b0: var(--cpyqmpn);
}
._1ll826ba {
  --_1ll826b0: var(--cpyqmpo);
}
._1ll826bb {
  --_1ll826b0: var(--cpyqmpp);
}
.kp59p11 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--cpyqmpi) * -1);
}
.kp59p11::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--cpyqmp7);
  box-shadow: var(--zcfly6p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--cpyqmpe);
}
.kp59p11:focus::before, .kp59p11:hover::before {
  opacity: 1;
  transform: scale(1);
}
.kp59p14 {
  height: 20px;
  width: 20px;
}
.kp59p16 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--cpyqmph) * 2));
  width: calc(20px - (var(--cpyqmph) * 2));
}
.kp59p16::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--cpyqmp7);
  box-shadow: var(--zcfly6p);
  transition: var(--cpyqmpe);
  opacity: 0;
  transform: scale(0.5);
}
.kp59p16::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--cpyqmp7);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--zcfly6j);
}
.kp59p14:hover:not(:focus) ~ .kp59p16::before, .kp59p14:focus ~ .kp59p16::before {
  opacity: 1;
  transform: scale(1);
}
.kp59p16 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--cpyqmpf);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.kp59p14:checked ~ .kp59p16 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--cpyqmpf);
}
.kp59p18 {
  color: var(--zcfly68);
  height: var(--cpyqmpc);
  background: var(--zcfly6j);
  border: 1px solid var(--zcfly6n);
}
.kp59p18::placeholder {
  color: var(--zcfly67);
}
._1p9bxhj1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
._1p9bxhj4 {
  --_1p9bxhj2: currentColor;
  color: var(--_1p9bxhj2);
  border: 1px solid var(--zcfly67);
}
._1p9bxhj4:hover {
  --_1p9bxhj2: var(--zcfly6c);
  border-color: var(--_1p9bxhj2);
}
._1p9bxhj4:active {
  transform: scale(0.98);
}
._1p9bxhj4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--cpyqmpc);
  min-width: var(--cpyqmpc);
  width: 100%;
  height: 100%;
  top: 50%;
}
._1p9bxhj4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--zcfly6p);
}
._1p9bxhj5 {
  --_1p9bxhj2: var(--zcfly6d) !important;
  border-color: var(--_1p9bxhj2);
}
._1p9bxhj7 {
  top: 1px;
}
.ur03i80 {
  transition: var(--cpyqmpe);
  transform-origin: 50% 50%;
}
.ur03i81 {
  transform: rotate(90deg);
}
.ur03i82 {
  transform: rotate(180deg);
}
.ur03i83 {
  transform: rotate(270deg);
}
._272cal4 {
  min-width: 0;
}
._272cal5 {
  flex-shrink: 0;
}
._272cal9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._272cal7:focus:not(:hover) ~ ._272cal9 {
  opacity: 1;
}
._1exwf6i2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1exwf6i4 {
  display: inline-block;
  background: var(--zcfly6i);
  font-family: system-ui;
  min-width: 16px;
}
._1exwf6i6 {
  height: var(--cpyqmpc);
  width: var(--cpyqmpc);
}
._1exwf6i8 {
  height: var(--cpyqmpc);
  width: var(--cpyqmpc);
}
._1exwf6i8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--zcfly6l);
  border-radius: var(--cpyqmp8);
  transition: var(--cpyqmpe);
  opacity: 0;
  transform: scale(0.8);
}
._1exwf6i6:checked ~ ._1exwf6i8,html:not([data-playroom-dark]) ._1exwf6i6:hover ~ ._1exwf6i8 {
  color: var(--zcfly6c);
}
._1exwf6i6:focus ~ ._1exwf6i8::before, ._1exwf6i6:hover ~ ._1exwf6i8::before {
  opacity: 1;
  transform: scale(1);
}
._6ohhdd1 {
  color: var(--zcfly68);
  height: var(--cpyqmpc);
  background: var(--zcfly6j);
}
._6ohhdd1:focus {
  outline: none;
}
._6ohhdd1::placeholder {
  color: var(--zcfly67);
}
._15xvvpj2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--zcfly6n);
}
._15xvvpj4 {
  list-style: none;
  top: 60px;
}
._15xvvpj4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--cpyqmpi);
  z-index: 1;
}
._15xvvpj4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--cpyqmpi);
  z-index: 1;
}
._15xvvpj6 {
  scroll-margin-block: var(--cpyqmpi);
  color: var(--zcfly68);
  background-color: var(--zcfly6j);
}
._15xvvpj6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--zcfly6l);
  border-radius: var(--cpyqmp7);
  opacity: 0;
  pointer-events: none;
}
._15xvvpj8 {
  color: var(--zcfly6a);
}
._15xvvpj9 {
  color: var(--zcfly6c);
}
._15xvvpj9::before {
  opacity: 1;
}
._14uv01f2 {
  color: var(--zcfly68);
  min-width: calc(60px + 1px);
}
._14uv01f2._14uv01f0 {
  width: 100dvw;
}
._14uv01f6 {
  width: 60px;
  background-color: var(--zcfly6j);
  border-left: 1px solid var(--zcfly6n);
}
._14uv01f8 {
  width: 320px;
  background-color: var(--zcfly6j);
  border-left: 1px solid var(--zcfly6n);
}
._14uv01f9 {
  opacity: 0;
  transform: translateX(30%);
}
._14uv01fb {
  opacity: 1;
  transform: translateX(0);
}
._14uv01fc {
  opacity: 1;
  transform: translateX(0);
}
._14uv01fd {
  opacity: 1;
}
._14uv01ff {
  opacity: 0;
  transform: translateX(30%);
}
._14uv01fg {
  opacity: 0;
  transform: translateX(30%);
}
.i79jhh0 {
  cursor: row-resize;
}
.i79jhh1 {
  cursor: col-resize;
}
.i79jhha {
  background: var(--zcfly6i);
}
.i79jhhb {
  width: 70px;
  height: 4px;
}
.i79jhhc {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--zcfly6k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._168dttb0 {
  pointer-events: none;
  user-select: none;
}
._168dttb6 {
  display: grid;
  grid-template-columns: 1fr var(--_168dttb2, 0px);
  grid-template-rows: auto var(--_168dttb1, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
._168dttb7 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
._168dttb8 {
  --_168dttb1: clamp(300px, var(--_168dttb3), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
._168dttb9 {
  --_168dttb2: clamp(460px, var(--_168dttb3), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
._168dttba {
  grid-area: frames;
}
._168dttbc {
  grid-area: editor;
}
._168dttb8 ._168dttbe {
  width: 60px;
}
._168dttbg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--cpyqmpc);
  height: var(--cpyqmpc);
}
._168dttbg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--cpyqmp8);
  transition: var(--cpyqmpd);
}
._168dttbg:not(:hover):not(:focus) {
  opacity: 0.3;
}
._168dttbg:hover::before, ._168dttbg:focus::before {
  opacity: 0.05;
}
