@keyframes _1k4ke664 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1k4ke661 {
  z-index: 99999;
  background: #1c2230;
  color: var(--zcfly69);
}
._1k4ke663 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1k4ke664;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1k4ke665 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1ll826b1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1ll826b0);
}
._1ll826b2 {
  --_1ll826b0: var(--cpyqmpg);
}
._1ll826b3 {
  --_1ll826b0: var(--cpyqmph);
}
._1ll826b4 {
  --_1ll826b0: var(--cpyqmpi);
}
._1ll826b5 {
  --_1ll826b0: var(--cpyqmpj);
}
._1ll826b6 {
  --_1ll826b0: var(--cpyqmpk);
}
._1ll826b7 {
  --_1ll826b0: var(--cpyqmpl);
}
._1ll826b8 {
  --_1ll826b0: var(--cpyqmpm);
}
._1ll826b9 {
  --_1ll826b0: var(--cpyqmpn);
}
._1ll826ba {
  --_1ll826b0: var(--cpyqmpo);
}
._1ll826bb {
  --_1ll826b0: var(--cpyqmpp);
}
