._1rcw25w2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1rcw25w0);
  align-items: var(--_1rcw25w1);
}
._1rcw25w3 {
  flex-wrap: wrap;
}
._1rcw25w4 {
  --_1rcw25w0: var(--d466klg);
}
._1rcw25w5 {
  --_1rcw25w0: var(--d466klh);
}
._1rcw25w6 {
  --_1rcw25w0: var(--d466kli);
}
._1rcw25w7 {
  --_1rcw25w0: var(--d466klj);
}
._1rcw25w8 {
  --_1rcw25w0: var(--d466klk);
}
._1rcw25w9 {
  --_1rcw25w0: var(--d466kll);
}
._1rcw25wa {
  --_1rcw25w0: var(--d466klm);
}
._1rcw25wb {
  --_1rcw25w0: var(--d466kln);
}
._1rcw25wc {
  --_1rcw25w0: var(--d466klo);
}
._1rcw25wd {
  --_1rcw25w0: var(--d466klp);
}
._1rcw25we {
  align-items: flex-start;
}
._1rcw25wf {
  align-items: center;
}
._1rcw25wg {
  align-items: flex-end;
}
._1mbwg6t0 {
  isolation: isolate;
  white-space: nowrap;
}
._1mbwg6t1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1mbwg6t3 {
    display: none;
  }
}
._1j37nex0 {
  color: var(--aiwna99);
}
.sb37n61 {
  background-color: var(--aiwna9m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--aiwna9s);
}
.sb37n62::before {
  content: "";
  position: absolute;
  min-height: var(--d466klc);
  min-width: var(--d466klc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.pie0ff1 {
  --aiwna97: var(--aiwna9d);
  background-color: var(--aiwna9o);
  outline: 1px solid var(--aiwna9u);
  outline-offset: -1px;
}
._1eixtli3 {
  background: transparent;
  outline: none;
  height: var(--_1eixtli0) !important;
  width: var(--_1eixtli0) !important;
}
._1eixtli6 {
  padding: var(--_1eixtli4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1eixtli3:active ._1eixtli6 {
  transform: scale(.95);
}
._1eixtli3:focus-visible ._1eixtli6 {
  outline: 2px solid var(--aiwna9v);
}
._1eixtli3[aria-disabled="true"] ._1eixtli6 {
  --_1eixtli1: var(--aiwna99);
}
._1eixtli7 {
  --_1eixtli0: var(--d466klq);
  --_1eixtli4: var(--d466kli);
}
._1eixtli8 {
  --_1eixtli0: var(--d466klr);
  --_1eixtli4: var(--d466klj);
}
._1eixtli9 {
  --_1eixtli0: var(--d466kls);
  --_1eixtli4: var(--d466klj);
}
._1eixtlij {
  --_1eixtlia: var(--aiwna97);
  --_1eixtlib: var(--aiwna9l);
  --_1eixtlic: var(--aiwna9n);
  --_1eixtlid: var(--aiwna98);
  --_1eixtlie: var(--aiwna9g);
  --_1eixtlif: var(--aiwna9h);
  --_1eixtlig: var(--aiwna97);
  --_1eixtlih: var(--aiwna97);
  --_1eixtlii: var(--aiwna9n);
}
._1eixtlik {
  --_1eixtlia: var(--aiwna9b);
  --_1eixtlib: var(--aiwna9l);
  --_1eixtlic: var(--aiwna9n);
  --_1eixtlid: var(--aiwna98);
  --_1eixtlie: var(--aiwna9b);
  --_1eixtlif: var(--aiwna9f);
  --_1eixtlig: var(--aiwna9b);
  --_1eixtlih: var(--aiwna98);
  --_1eixtlii: var(--aiwna9e);
}
._1eixtlil {
  color: var(--_1eixtlia);
  background-color: var(--_1eixtlib);
  outline: 1px solid var(--aiwna9s);
  outline-offset: -1px;
}
._1eixtli3:not([aria-disabled="true"]):hover > ._1eixtlil, ._1eixtli3:not([aria-disabled="true"]):focus-visible > ._1eixtlil, ._1eixtli3:not([aria-disabled="true"])[data-popup-open] > ._1eixtlil, ._1eixtli3:not([aria-disabled="true"])[data-active] > ._1eixtlil {
  background-color: var(--_1eixtlic);
}
._1eixtlim {
  color: var(--_1eixtlid);
  background-color: var(--_1eixtlie);
}
._1eixtli3:not([aria-disabled="true"]):hover > ._1eixtlim, ._1eixtli3:not([aria-disabled="true"]):focus-visible > ._1eixtlim, ._1eixtli3:not([aria-disabled="true"])[data-popup-open] > ._1eixtlim, ._1eixtli3:not([aria-disabled="true"])[data-active] > ._1eixtlim {
  background-color: var(--_1eixtlif);
}
._1eixtlin {
  color: var(--_1eixtlig);
}
._1eixtli3:not([aria-disabled="true"]):hover > ._1eixtlin, ._1eixtli3:not([aria-disabled="true"]):focus-visible > ._1eixtlin, ._1eixtli3:not([aria-disabled="true"])[data-popup-open] > ._1eixtlin, ._1eixtli3:not([aria-disabled="true"])[data-active] > ._1eixtlin {
  color: var(--_1eixtlih);
  background-color: var(--_1eixtlii);
}
._1eixtlio {
  margin: calc((var(--_1eixtli4) + 2px) * -1);
}
._1eixtli6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes _1c58yj48 {
  from {
    background-color: var(--aiwna9p);
  }
  to {
    background-color: transparent;
  }
}
._1c58yj40 {
  background-color: var(--aiwna9n);
}
._1c58yj42 {
  background-color: var(--aiwna9j);
  color: var(--aiwna9a);
  min-width: 50px;
}
._1c58yj43 {
  opacity: 1;
}
._1c58yj45 {
  width: 1em;
}
._1c58yj46::after {
  content: "-";
}
._1c58yj47::after {
  content: "+";
  opacity: 1;
}
.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--d466kl1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  box-sizing: border-box;
  padding-left: var(--d466kli);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--d466kll) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: var(--d466klh);
  box-shadow: var(--aiwna9w);
  border-radius: var(--d466kl9);
  background-color: var(--aiwna9m);
  border: 1px solid var(--aiwna9s);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--d466kl1);
  max-height: 20em;
  overflow-y: auto;
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--d466kli) var(--d466klj);
  border-radius: var(--d466kl8);
  white-space: pre;
  color: var(--aiwna90);
  cursor: default;
  height: var(--d466klr);
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.CodeMirror-hint::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: var(--d466kl8);
  z-index: -1;
  background-color: var(--aiwna9n);
  opacity: 0;
}
.CodeMirror-hint-active::before {
  opacity: 1;
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--aiwna9b);
  font-family: arial;
  cursor: default;
  padding: 0 var(--d466kli);
}
.cm-s-neo.CodeMirror {
  background-color: var(--aiwna9l);
  color: var(--aiwna90);
}
.cm-s-neo.CodeMirror::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, transparent, var(--aiwna9l));
  right: 0;
  pointer-events: none;
}
.CodeMirror-scroll {
  padding-right: 20px;
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--aiwna97);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--aiwna9l);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--aiwna9l);
  position: absolute;
  right: var(--d466klh);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--aiwna9l);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--aiwna9p);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--aiwna97);
  transition: var(--d466klf);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1c58yj47) {
  color: var(--aiwna97);
  opacity: 0.4;
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--aiwna97);
  transition: var(--d466klf);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  opacity: 0.4;
}
.cm-s-neo .cm-tag {
  color: var(--aiwna91);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--aiwna92);
}
.cm-s-neo .cm-string {
  color: var(--aiwna93);
}
.cm-s-neo .cm-atom {
  color: var(--aiwna94);
}
.cm-s-neo .cm-variable {
  color: var(--aiwna95);
}
.cm-s-neo .cm-number {
  color: var(--aiwna96);
}
.CodeMirror-dialog {
  padding-left: var(--d466kll);
  padding-right: var(--d466kll);
  min-height: var(--d466klc);
  border-bottom: 1px solid var(--aiwna9s);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transition: var(--d466klf);
}
.dialog-opened .CodeMirror-scroll {
  transform: translateY(var(--d466klc));
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--d466klc);
}
.CodeMirror-dialog input {
  font: var(--d466kl5);
  font-family: var(--d466kl1);
  height: var(--d466klc);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--d466klc);
  font: var(--d466kl5);
  font-family: var(--d466kl1);
}
.CodeMirror-search-field {
  padding-left: var(--d466kll);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--aiwna9p);
}
.cm-overlay.cm-searching {
  padding-top: var(--d466klh);
  padding-bottom: var(--d466klh);
  background: var(--aiwna9p);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--d466kll);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--d466kl4);
  font-family: var(--d466kl0);
  margin-left: var(--d466klj);
  padding-top: var(--d466kli);
  padding-bottom: var(--d466kli);
  padding-left: var(--d466klk);
  padding-right: var(--d466klk);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--d466kl9);
  cursor: default;
  border: 1px solid var(--aiwna9s);
}
.CodeMirror-dialog button:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 0;
}
.CodeMirror-dialog button:hover {
  background: var(--aiwna9n);
}
.cm-inspect-highlight {
  background-color: var(--aiwna9p) !important;
}
.cm-inspect-highlight-fade {
  animation: _1c58yj48 1s ease forwards;
}
._1sy6hs02 {
  width: fit-content;
  max-width: 80ex;
  background: var(--aiwna9m);
  box-shadow: 0 2px 10px -2px hsla(358, 66%, 48%, 1);
  word-break: break-word;
  white-space: pre-line;
  outline: 1px solid hsla(358, 66%, 48%, 1);
}
._1sy6hs02:not(._1sy6hs00) {
  transform: translateY(var(--d466klj));
  transition: none;
  opacity: 0;
}
._1sy6hs04 {
  transition-delay: calc(var(--_1sy6hs03) * 1ms);
}
._1sy6hs08 {
  background: hsla(358, 66%, 48%, 1);
  color: hsla(0, 0%, 93%, 1);
  height: var(--d466klq);
}
._1sy6hs08:active:not([disabled]) {
  transform: scale(0.97);
}
.b9wg7f1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.b9wg7f2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.b9wg7f2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.b9wg7f4 {
  --b9wg7f3: 30px;
}
.b9wg7f5 {
  --b9wg7f3: 45px;
}
.b9wg7f6 {
  --b9wg7f3: 60px;
}
.b9wg7f7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.b9wg7f8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.b9wg7f9 {
  overflow: auto;
}
.b9wg7fe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--b9wg7fc, 0)),linear-gradient(to right, transparent 0, black var(--b9wg7fa, 0)),linear-gradient(to left, transparent 0, black var(--b9wg7fb, 0)),linear-gradient(to top, transparent 0, black var(--b9wg7fd, 0));
}
.b9wg7ff {
  --b9wg7fa: var(--b9wg7f3);
}
.b9wg7fg {
  --b9wg7fb: var(--b9wg7f3);
}
.b9wg7fh {
  --b9wg7fc: var(--b9wg7f3);
}
.b9wg7fi {
  --b9wg7fd: var(--b9wg7f3);
}
.ukuk822 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.ukuk823 {
  width: 250px;
}
.ukuk826 {
  --ukuk824: var(--aiwna9n);
  outline: none;
  cursor: default;
  color: var(--aiwna97);
  height: 34px;
  isolation: isolate;
}
.ukuk826::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--d466kl8);
  z-index: -1;
}
.ukuk826[data-popup-open]:not([aria-disabled])::before, .ukuk826[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--ukuk824);
}
.ukuk826:focus-visible::before {
  outline: 2px solid var(--aiwna9v);
  outline-offset: -2px;
}
.ukuk826[aria-disabled] {
  color: var(--aiwna99);
  cursor: not-allowed;
}
.ukuk827 {
  cursor: pointer;
  text-decoration: none;
}
.ukuk827[aria-disabled] {
  cursor: not-allowed;
}
.ukuk828 {
  margin-left: 3px;
}
.ukuk829 {
  --ukuk824: var(--aiwna9j);
  color: var(--aiwna9a);
}
.ukuk82a {
  --ukuk824: transparent;
  color: var(--aiwna9c);
}
.ukuk82a svg {
  color: var(--aiwna9c);
}
.ukuk82c {
  isolation: isolate;
}
.ukuk82g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.ukuk82i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--aiwna97);
  z-index: 1;
}
[aria-checked="true"] .ukuk82i {
  color: var(--aiwna98);
}
.ukuk82k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--aiwna97);
  isolation: isolate;
}
[aria-checked="true"] .ukuk82k {
  background-color: var(--aiwna9e);
  border-color: var(--aiwna9e);
}
.ukuk82p {
  height: 34px;
}
.ukuk82r {
  height: 1px;
  background-color: var(--aiwna9s);
}
.ukuk82t {
  background: transparent;
  border: none;
}
.ukuk82t:hover, .ukuk82t[data-highlighted] {
  background-color: var(--aiwna9n);
}
.ukuk82t:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: -2px;
}
@keyframes _1o1w7jmk {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
._1o1w7jm2 {
  position: relative;
}
._1o1w7jm2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--aiwna9s);
}
._1o1w7jm4 {
  color: var(--aiwna97);
  height: var(--d466klc);
  background: transparent;
  box-shadow: none;
}
._1o1w7jm4:focus-visible {
  outline: none;
  box-shadow: none;
}
._1o1w7jm4::placeholder {
  color: var(--aiwna99);
}
._1o1w7jm4::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
._1o1w7jm4::-webkit-search-decoration {
  -webkit-appearance: none;
}
._1o1w7jm4::-ms-clear {
  display: none;
}
._1o1w7jm4::-ms-reveal {
  display: none;
}
._1o1w7jm6 {
  list-style: none;
  height: 300px;
}
._1o1w7jm7 {
  scroll-padding-top: var(--d466kls);
}
._1o1w7jm9 > [cmdk-group-heading] {
  position: sticky;
  top: 0;
  z-index: 1;
}
._1o1w7jmb {
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--aiwna9s);
}
._1o1w7jmb::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--aiwna9l);
  opacity: 0.8;
  z-index: -1;
  isolation: isolate;
}
._1o1w7jmd {
  border-bottom: 1px solid var(--aiwna9s);
}
._1o1w7jmf {
  color: var(--aiwna97);
  isolation: isolate;
  cursor: default;
  scroll-margin-block: var(--d466kli);
  height: var(--d466kls);
}
._1o1w7jmf::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--d466kli);
  right: var(--d466kli);
  background-color: var(--aiwna9n);
  border-radius: var(--d466kl8);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
._1o1w7jmf[data-selected="true"] {
  color: var(--aiwna9b);
}
._1o1w7jmf[data-selected="true"]::before {
  opacity: 1;
}
._1o1w7jm7 ._1o1w7jmf {
  scroll-margin-top: calc((var(--d466kli) + 1px) * 2);
}
._1o1w7jmm {
  transform: scale(0.97);
  opacity: 0;
  animation: _1o1w7jmk 80ms ease-out forwards;
}
._1o1w7jmn {
  width: min(350px, 90vw);
}
._1o1w7jmp {
  min-width: 0;
}
._1qx4t361 {
  display: flex;
  flex-direction: column;
  gap: var(--_1qx4t360);
}
._1qx4t362 {
  --_1qx4t360: var(--d466klg);
}
._1qx4t363 {
  --_1qx4t360: var(--d466klh);
}
._1qx4t364 {
  --_1qx4t360: var(--d466kli);
}
._1qx4t365 {
  --_1qx4t360: var(--d466klj);
}
._1qx4t366 {
  --_1qx4t360: var(--d466klk);
}
._1qx4t367 {
  --_1qx4t360: var(--d466kll);
}
._1qx4t368 {
  --_1qx4t360: var(--d466klm);
}
._1qx4t369 {
  --_1qx4t360: var(--d466kln);
}
._1qx4t36a {
  --_1qx4t360: var(--d466klo);
}
._1qx4t36b {
  --_1qx4t360: var(--d466klp);
}
._1qx4t36c {
  align-items: flex-start;
}
._1qx4t36d {
  align-items: center;
}
._1qx4t36e {
  align-items: flex-end;
}
._1fxzq3x1 {
  background-color: var(--aiwna9m);
  outline: 1px solid var(--aiwna9s);
}
._1fxzq3x3 {
  background: transparent;
  height: var(--d466klr);
  color: var(--aiwna97);
}
._1fxzq3x3:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
._1fxzq3x3:hover, ._1fxzq3x3[data-popup-open] {
  background-color: var(--aiwna9n);
}
._1fxzq3x3[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}
._1fxzq3x3[aria-disabled="true"]:hover {
  background-color: transparent;
}
._1xd7pav1 {
  justify-content: safe center;
}
._1xd7pav5 {
  flex-shrink: 0;
  width: var(--_1xd7pav2);
}
._1xd7pav5:last-child {
  padding-right: var(--d466kln);
}
._1xd7pav6 {
  transition: color 150ms ease;
}
._1xd7pav5:hover ._1xd7pav6, ._1xd7pav5:focus-within ._1xd7pav6, ._1xd7pav3 ._1xd7pav6 {
  color: var(--aiwna9b);
}
._1xd7pav8 {
  outline: 1px solid var(--aiwna9s);
}
._1xd7pava {
  transition: opacity 150ms ease;
}
._1xd7pav5:not(:hover, :focus-within, ._1xd7pav3) ._1xd7pava {
  opacity: 1;
}
._1xd7pavc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1xd7pava:hover ~ ._1xd7pav8 ._1xd7pavc, ._1xd7pava:focus-within ~ ._1xd7pav8._1xd7pavc {
  outline-color: var(--aiwna9b);
}
._1xd7pave {
  transition: opacity 150ms ease;
}
._1xd7pav5:not(:hover, :focus-within, ._1xd7pav3) ._1xd7pave {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1xd7pav5:not(:hover, :focus-within, ._1xd7pav3) ._1xd7pave {
  opacity: 0.6;
}
._10o01v82 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._10o01v84 {
  border: 1px solid var(--aiwna9s);
  background-color: var(--aiwna9l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._10o01v84::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--aiwna9n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._10o01v84:hover::after {
  opacity: 1;
}
._10o01v84:focus-visible::after {
  opacity: 1;
}
._10o01v84:active:not([disabled]) {
  transform: scale(0.97);
}
._10o01v84:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 0;
}
._10o01v86 {
  isolation: isolate;
}
._10o01v88 {
  height: var(--_10o01v80);
}
._10o01v8a {
  border-color: var(--aiwna9c);
}
._10o01v8a::after {
  background-color: var(--aiwna9i);
}
._10o01v8b {
  border-color: var(--aiwna9a);
}
._10o01v8b::after {
  background-color: var(--aiwna9j);
}
._10o01v8c {
  --_10o01v80: var(--d466klq);
}
._10o01v8d {
  --_10o01v80: var(--d466klr);
}
._10o01v8e {
  --_10o01v80: var(--d466kls);
}
._1b7ssvk1 {
  color: var(--aiwna97);
  font-family: var(--d466kl0);
}
._1b7ssvk2 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._1b7ssvk3 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._1b7ssvk4 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
._1e23k3m1 {
  backdrop-filter: blur(6px);
}
._1e23k3m1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--aiwna9k);
  opacity: 0.4;
}
html[data-playroom-dark] ._1e23k3m1::before {
  opacity: 0.7;
}
._1e23k3m1[data-starting-style]::before, ._1e23k3m1[data-ending-style]::before {
  opacity: 0;
}
._1e23k3m3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--d466klk) * 2));
  max-height: calc(100dvh - (var(--d466klk) * 2));
}
._1e23k3m3[data-starting-style], ._1e23k3m3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1e23k3m7:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
._1te8u130 {
  width: 200px;
}
._8vp61o1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aiwna9l);
}
._8vp61o2 {
  width: fit-content;
}
._8vp61o4 {
  width: fit-content;
  justify-self: flex-end;
}
._8vp61o7:not(._8vp61o5) {
  opacity: 0;
  transform: translateX(var(--d466klj));
  pointer-events: none;
}
._8vp61o9 {
  background: transparent;
  color: var(--aiwna9g);
  isolation: isolate;
}
._8vp61o9::after {
  content: "";
  position: absolute;
  transition: var(--d466klf);
  z-index: -1;
  inset: calc(var(--d466klj) * -1);
  background-color: var(--aiwna9n);
  border-radius: var(--d466kl9);
}
._8vp61o9:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 6px;
}
._8vp61o9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._8vp61ob {
  margin: calc(var(--d466klk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._8vp61of {
  appearance: none;
  outline: none;
  background: var(--aiwna9l);
  color: var(--aiwna97);
  border: 1px solid var(--aiwna9s);
  height: var(--d466klr);
}
._8vp61of:hover, ._8vp61of[data-popup-open] {
  background-color: var(--aiwna9n);
}
._8vp61of:focus-visible {
  outline: 2px solid var(--aiwna9v);
  z-index: 1;
}
._8vp61oh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._8vp61oj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._8vp61ok {
  color: var(--aiwna9c);
}
._8vp61om {
  height: 1px;
  background-color: var(--aiwna9s);
}
@media screen and (max-width: 767px) {
  ._8vp61o4 {
    display: none;
  }
}
.nmaw8a2 {
  flex: 1;
  min-height: 0;
}
.nmaw8a5 {
  --nmaw8a3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--nmaw8a3), 1fr);
}
.nmaw8a7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.nmaw8a9 {
  height: calc(100% / var(--nmaw8a0));
  width: calc(100% / var(--nmaw8a0));
  border-radius: calc(var(--d466kl9) / var(--nmaw8a0));
  transform: scale(var(--nmaw8a0));
  transform-origin: 0 0;
  padding: calc(1px / var(--nmaw8a0));
}
.nmaw8ab {
  background: var(--aiwna9n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nmaw8ad {
  background: transparent;
  outline: 1px solid var(--aiwna9s);
}
.nmaw8ad:hover {
  outline: 2px solid var(--aiwna9t);
}
.nmaw8ad:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
.nmaw8ah {
  list-style: none;
}
.nmaw8aj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--aiwna9s);
}
.nmaw8aj:hover {
  outline: 2px solid var(--aiwna9t);
}
.nmaw8aj:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .nmaw8a5 {
    --nmaw8a3: 2;
  }
}
@media screen and (min-width: 800px) {
  .nmaw8a5 {
    --nmaw8a3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .nmaw8a5 {
    --nmaw8a3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .nmaw8a5 {
    --nmaw8a3: 5;
  }
}
._3wnirw1 {
  width: fit-content;
}
._3wnirw3:focus-visible ~ ._3wnirw5 {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 4px;
}
._3wnirw8 {
  min-width: 0;
}
._3wnirw9 {
  flex-shrink: 0;
}
._1f8jfsn2 {
  outline: none;
  height: var(--d466klr);
  color: var(--aiwna97);
  background: transparent;
}
._1f8jfsn2::placeholder {
  color: var(--aiwna99);
  font-weight: strong;
}
._1f8jfsn2:hover:not(:focus-visible), ._1f8jfsn2:hover:not(:focus-visible)::placeholder {
  background: var(--aiwna9n);
  opacity: 1;
  color: transparent;
}
._1f8jfsn2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1f8jfsn2:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 0;
  opacity: 1;
}
._1f8jfsn2:focus-visible::placeholder {
  color: transparent;
}
._1f8jfsn4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--aiwna97);
}
._1f8jfsn2:focus-visible ~ ._1f8jfsn4 {
  opacity: 0;
}
._1f8jfsn5 {
  color: var(--aiwna99);
}
.u1czgj2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--u1czgj0);
  align-items: var(--u1czgj1);
}
.u1czgj3 {
  --u1czgj0: var(--d466klg);
}
.u1czgj4 {
  --u1czgj0: var(--d466klh);
}
.u1czgj5 {
  --u1czgj0: var(--d466kli);
}
.u1czgj6 {
  --u1czgj0: var(--d466klj);
}
.u1czgj7 {
  --u1czgj0: var(--d466klk);
}
.u1czgj8 {
  --u1czgj0: var(--d466kll);
}
.u1czgj9 {
  --u1czgj0: var(--d466klm);
}
.u1czgja {
  --u1czgj0: var(--d466kln);
}
.u1czgjb {
  --u1czgj0: var(--d466klo);
}
.u1czgjc {
  --u1czgj0: var(--d466klp);
}
.u1czgjd {
  align-items: flex-start;
}
.u1czgje {
  align-items: center;
}
.u1czgjf {
  align-items: flex-end;
}
.u1czgjg > * {
  flex-basis: auto;
  width: auto;
}
._7imaop1 {
  background: radial-gradient(var(--aiwna9l) 20%, transparent 50%);
  justify-content: safe center;
}
._7imaop3 {
  max-width: 400px;
}
._7imaop5 {
  background: transparent;
}
._7imaop5:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 6px;
}
._1075sli0 {
  cursor: row-resize;
}
._1075sli1 {
  cursor: col-resize;
}
._1075sli6 {
  transform: translateY(-50%);
  z-index: 2;
}
._1075sli6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  transform: translateY(-1px);
  transition: background-color 100ms ease;
}
._1075sli6._1075sli3::before {
  background: var(--aiwna9e);
}
._1075sli6:not(._1075sli3):hover::before {
  background: var(--aiwna9e);
  transition-delay: 200ms;
}
._1075sli7 {
  z-index: 2;
}
._1075sli7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  transition: background-color 100ms ease;
}
._1075sli7._1075sli3::before {
  background: var(--aiwna9e);
}
._1075sli7:not(._1075sli3):hover::before {
  background: var(--aiwna9e);
  transition-delay: 200ms;
}
._1075sli9 {
  transform: translateX(50%);
}
._1075slib {
  transform: translateX(-50%);
}
._1075slid {
  background: var(--aiwna9m);
  outline: 1px solid var(--aiwna9s);
  outline-offset: -1px;
  transition: outline-color 100ms ease;
}
._1075slid::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: background-color 100ms ease;
}
._1075sli3 ._1075slid {
  outline-color: var(--aiwna9e);
}
._1075sli3 ._1075slid::after {
  background: var(--aiwna9e);
}
:is(._1075sli6, ._1075sli7):not(._1075sli3):hover ._1075slid {
  outline-color: var(--aiwna9e);
  transition-delay: 200ms;
}
:is(._1075sli6, ._1075sli7):not(._1075sli3):hover ._1075slid::after {
  transition-delay: 200ms;
}
._1075slie {
  width: 38px;
  height: 8px;
}
._1075slif {
  width: 8px;
  height: 38px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--aiwna9k);
  scrollbar-color: var(--aiwna9s) transparent;
}
html[data-playroom-dark] {
  color-scheme: dark;
}
.e5w0mq0 {
  pointer-events: none;
  user-select: none;
}
.e5w0mq5 {
  display: grid;
  grid-template-columns: var(--e5w0mq2, 0px) 1fr;
  grid-template-rows: min-content auto var(--e5w0mq1, 0px);
  isolation: isolate;
}
.e5w0mq6 {
  --e5w0mq1: clamp(150px, var(--e5w0mq3), 70vh);
  grid-template-areas: "header header"
"frames frames"
"editor editor";
}
.e5w0mq7 {
  --e5w0mq2: clamp(300px, var(--e5w0mq3), 90vw);
  grid-template-areas: "header header"
"editor frames"
"editor frames";
}
.e5w0mq8 {
  grid-area: header;
  z-index: 1;
  outline: 1px solid var(--aiwna9s);
}
.e5w0mq9 {
  grid-area: frames;
}
.e5w0mqa {
  grid-area: editor;
  outline: 1px solid var(--aiwna9s);
}
.e5w0mqe {
  left: var(--d466kll);
  right: var(--d466kll);
  bottom: var(--d466kll);
  width: fit-content;
  margin-inline: auto;
}
.e5w0mqg {
  backdrop-filter: blur(2px);
}
.e5w0mqg::before {
  content: "";
  position: absolute;
  inset: 1px;
  pointer-events: none;
  background: var(--aiwna9m);
  border-radius: calc(var(--d466kla) - 2px);
  opacity: 0.8;
}
.e5w0mqg::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: calc(var(--d466kla) - 2px);
  outline: 2px solid var(--aiwna9s);
  outline-offset: -2px;
}
.e5w0mqi {
  background: var(--aiwna9l);
  box-shadow: 0 0 4px 2px var(--aiwna9l);
}
