.sb37n61 {
  background-color: var(--aiwna9m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--aiwna9s);
}
.sb37n62::before {
  content: "";
  position: absolute;
  min-height: var(--d466klc);
  min-width: var(--d466klc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._10o01v82 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._10o01v84 {
  border: 1px solid var(--aiwna9s);
  background-color: var(--aiwna9l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._10o01v84::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--aiwna9n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._10o01v84:hover::after {
  opacity: 1;
}
._10o01v84:focus-visible::after {
  opacity: 1;
}
._10o01v84:active:not([disabled]) {
  transform: scale(0.97);
}
._10o01v84:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 0;
}
._10o01v86 {
  isolation: isolate;
}
._10o01v88 {
  height: var(--_10o01v80);
}
._10o01v8a {
  border-color: var(--aiwna9c);
}
._10o01v8a::after {
  background-color: var(--aiwna9i);
}
._10o01v8b {
  border-color: var(--aiwna9a);
}
._10o01v8b::after {
  background-color: var(--aiwna9j);
}
._10o01v8c {
  --_10o01v80: var(--d466klq);
}
._10o01v8d {
  --_10o01v80: var(--d466klr);
}
._10o01v8e {
  --_10o01v80: var(--d466kls);
}
._1rcw25w2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1rcw25w0);
  align-items: var(--_1rcw25w1);
}
._1rcw25w3 {
  flex-wrap: wrap;
}
._1rcw25w4 {
  --_1rcw25w0: var(--d466klg);
}
._1rcw25w5 {
  --_1rcw25w0: var(--d466klh);
}
._1rcw25w6 {
  --_1rcw25w0: var(--d466kli);
}
._1rcw25w7 {
  --_1rcw25w0: var(--d466klj);
}
._1rcw25w8 {
  --_1rcw25w0: var(--d466klk);
}
._1rcw25w9 {
  --_1rcw25w0: var(--d466kll);
}
._1rcw25wa {
  --_1rcw25w0: var(--d466klm);
}
._1rcw25wb {
  --_1rcw25w0: var(--d466kln);
}
._1rcw25wc {
  --_1rcw25w0: var(--d466klo);
}
._1rcw25wd {
  --_1rcw25w0: var(--d466klp);
}
._1rcw25we {
  align-items: flex-start;
}
._1rcw25wf {
  align-items: center;
}
._1rcw25wg {
  align-items: flex-end;
}
._1mbwg6t0 {
  isolation: isolate;
  white-space: nowrap;
}
._1mbwg6t1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1mbwg6t3 {
    display: none;
  }
}
._1j37nex0 {
  color: var(--aiwna99);
}
.pie0ff1 {
  --aiwna97: var(--aiwna9d);
  background-color: var(--aiwna9o);
  outline: 1px solid var(--aiwna9u);
  outline-offset: -1px;
}
._1eixtli3 {
  background: transparent;
  outline: none;
  height: var(--_1eixtli0) !important;
  width: var(--_1eixtli0) !important;
}
._1eixtli6 {
  padding: var(--_1eixtli4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1eixtli3:active ._1eixtli6 {
  transform: scale(.95);
}
._1eixtli3:focus-visible ._1eixtli6 {
  outline: 2px solid var(--aiwna9v);
}
._1eixtli3[aria-disabled="true"] ._1eixtli6 {
  --_1eixtli1: var(--aiwna99);
}
._1eixtli7 {
  --_1eixtli0: var(--d466klq);
  --_1eixtli4: var(--d466kli);
}
._1eixtli8 {
  --_1eixtli0: var(--d466klr);
  --_1eixtli4: var(--d466klj);
}
._1eixtli9 {
  --_1eixtli0: var(--d466kls);
  --_1eixtli4: var(--d466klj);
}
._1eixtlij {
  --_1eixtlia: var(--aiwna97);
  --_1eixtlib: var(--aiwna9l);
  --_1eixtlic: var(--aiwna9n);
  --_1eixtlid: var(--aiwna98);
  --_1eixtlie: var(--aiwna9g);
  --_1eixtlif: var(--aiwna9h);
  --_1eixtlig: var(--aiwna97);
  --_1eixtlih: var(--aiwna97);
  --_1eixtlii: var(--aiwna9n);
}
._1eixtlik {
  --_1eixtlia: var(--aiwna9b);
  --_1eixtlib: var(--aiwna9l);
  --_1eixtlic: var(--aiwna9n);
  --_1eixtlid: var(--aiwna98);
  --_1eixtlie: var(--aiwna9b);
  --_1eixtlif: var(--aiwna9f);
  --_1eixtlig: var(--aiwna9b);
  --_1eixtlih: var(--aiwna98);
  --_1eixtlii: var(--aiwna9e);
}
._1eixtlil {
  color: var(--_1eixtlia);
  background-color: var(--_1eixtlib);
  outline: 1px solid var(--aiwna9s);
  outline-offset: -1px;
}
._1eixtli3:not([aria-disabled="true"]):hover > ._1eixtlil, ._1eixtli3:not([aria-disabled="true"]):focus-visible > ._1eixtlil, ._1eixtli3:not([aria-disabled="true"])[data-popup-open] > ._1eixtlil, ._1eixtli3:not([aria-disabled="true"])[data-active] > ._1eixtlil {
  background-color: var(--_1eixtlic);
}
._1eixtlim {
  color: var(--_1eixtlid);
  background-color: var(--_1eixtlie);
}
._1eixtli3:not([aria-disabled="true"]):hover > ._1eixtlim, ._1eixtli3:not([aria-disabled="true"]):focus-visible > ._1eixtlim, ._1eixtli3:not([aria-disabled="true"])[data-popup-open] > ._1eixtlim, ._1eixtli3:not([aria-disabled="true"])[data-active] > ._1eixtlim {
  background-color: var(--_1eixtlif);
}
._1eixtlin {
  color: var(--_1eixtlig);
}
._1eixtli3:not([aria-disabled="true"]):hover > ._1eixtlin, ._1eixtli3:not([aria-disabled="true"]):focus-visible > ._1eixtlin, ._1eixtli3:not([aria-disabled="true"])[data-popup-open] > ._1eixtlin, ._1eixtli3:not([aria-disabled="true"])[data-active] > ._1eixtlin {
  color: var(--_1eixtlih);
  background-color: var(--_1eixtlii);
}
._1eixtlio {
  margin: calc((var(--_1eixtli4) + 2px) * -1);
}
._1eixtli6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.b9wg7f1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.b9wg7f2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.b9wg7f2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.b9wg7f4 {
  --b9wg7f3: 30px;
}
.b9wg7f5 {
  --b9wg7f3: 45px;
}
.b9wg7f6 {
  --b9wg7f3: 60px;
}
.b9wg7f7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.b9wg7f8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.b9wg7f9 {
  overflow: auto;
}
.b9wg7fe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--b9wg7fc, 0)),linear-gradient(to right, transparent 0, black var(--b9wg7fa, 0)),linear-gradient(to left, transparent 0, black var(--b9wg7fb, 0)),linear-gradient(to top, transparent 0, black var(--b9wg7fd, 0));
}
.b9wg7ff {
  --b9wg7fa: var(--b9wg7f3);
}
.b9wg7fg {
  --b9wg7fb: var(--b9wg7f3);
}
.b9wg7fh {
  --b9wg7fc: var(--b9wg7f3);
}
.b9wg7fi {
  --b9wg7fd: var(--b9wg7f3);
}
.ukuk822 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.ukuk823 {
  width: 250px;
}
.ukuk826 {
  --ukuk824: var(--aiwna9n);
  outline: none;
  cursor: default;
  color: var(--aiwna97);
  height: 34px;
  isolation: isolate;
}
.ukuk826::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--d466kl8);
  z-index: -1;
}
.ukuk826[data-popup-open]:not([aria-disabled])::before, .ukuk826[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--ukuk824);
}
.ukuk826:focus-visible::before {
  outline: 2px solid var(--aiwna9v);
  outline-offset: -2px;
}
.ukuk826[aria-disabled] {
  color: var(--aiwna99);
  cursor: not-allowed;
}
.ukuk827 {
  cursor: pointer;
  text-decoration: none;
}
.ukuk827[aria-disabled] {
  cursor: not-allowed;
}
.ukuk828 {
  margin-left: 3px;
}
.ukuk829 {
  --ukuk824: var(--aiwna9j);
  color: var(--aiwna9a);
}
.ukuk82a {
  --ukuk824: transparent;
  color: var(--aiwna9c);
}
.ukuk82a svg {
  color: var(--aiwna9c);
}
.ukuk82c {
  isolation: isolate;
}
.ukuk82g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.ukuk82i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--aiwna97);
  z-index: 1;
}
[aria-checked="true"] .ukuk82i {
  color: var(--aiwna98);
}
.ukuk82k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--aiwna97);
  isolation: isolate;
}
[aria-checked="true"] .ukuk82k {
  background-color: var(--aiwna9e);
  border-color: var(--aiwna9e);
}
.ukuk82p {
  height: 34px;
}
.ukuk82r {
  height: 1px;
  background-color: var(--aiwna9s);
}
.ukuk82t {
  background: transparent;
  border: none;
}
.ukuk82t:hover, .ukuk82t[data-highlighted] {
  background-color: var(--aiwna9n);
}
.ukuk82t:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: -2px;
}
._1xd7pav1 {
  justify-content: safe center;
}
._1xd7pav5 {
  flex-shrink: 0;
  width: var(--_1xd7pav2);
}
._1xd7pav5:last-child {
  padding-right: var(--d466kln);
}
._1xd7pav6 {
  transition: color 150ms ease;
}
._1xd7pav5:hover ._1xd7pav6, ._1xd7pav5:focus-within ._1xd7pav6, ._1xd7pav3 ._1xd7pav6 {
  color: var(--aiwna9b);
}
._1xd7pav8 {
  outline: 1px solid var(--aiwna9s);
}
._1xd7pava {
  transition: opacity 150ms ease;
}
._1xd7pav5:not(:hover, :focus-within, ._1xd7pav3) ._1xd7pava {
  opacity: 1;
}
._1xd7pavc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1xd7pava:hover ~ ._1xd7pav8 ._1xd7pavc, ._1xd7pava:focus-within ~ ._1xd7pav8._1xd7pavc {
  outline-color: var(--aiwna9b);
}
._1xd7pave {
  transition: opacity 150ms ease;
}
._1xd7pav5:not(:hover, :focus-within, ._1xd7pav3) ._1xd7pave {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1xd7pav5:not(:hover, :focus-within, ._1xd7pav3) ._1xd7pave {
  opacity: 0.6;
}
._1b7ssvk1 {
  color: var(--aiwna97);
  font-family: var(--d466kl0);
}
._1b7ssvk2 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._1b7ssvk3 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._1b7ssvk4 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
._1qx4t361 {
  display: flex;
  flex-direction: column;
  gap: var(--_1qx4t360);
}
._1qx4t362 {
  --_1qx4t360: var(--d466klg);
}
._1qx4t363 {
  --_1qx4t360: var(--d466klh);
}
._1qx4t364 {
  --_1qx4t360: var(--d466kli);
}
._1qx4t365 {
  --_1qx4t360: var(--d466klj);
}
._1qx4t366 {
  --_1qx4t360: var(--d466klk);
}
._1qx4t367 {
  --_1qx4t360: var(--d466kll);
}
._1qx4t368 {
  --_1qx4t360: var(--d466klm);
}
._1qx4t369 {
  --_1qx4t360: var(--d466kln);
}
._1qx4t36a {
  --_1qx4t360: var(--d466klo);
}
._1qx4t36b {
  --_1qx4t360: var(--d466klp);
}
._1qx4t36c {
  align-items: flex-start;
}
._1qx4t36d {
  align-items: center;
}
._1qx4t36e {
  align-items: flex-end;
}
._1e23k3m1 {
  backdrop-filter: blur(6px);
}
._1e23k3m1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--aiwna9k);
  opacity: 0.4;
}
html[data-playroom-dark] ._1e23k3m1::before {
  opacity: 0.7;
}
._1e23k3m1[data-starting-style]::before, ._1e23k3m1[data-ending-style]::before {
  opacity: 0;
}
._1e23k3m3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--d466klk) * 2));
  max-height: calc(100dvh - (var(--d466klk) * 2));
}
._1e23k3m3[data-starting-style], ._1e23k3m3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1e23k3m7:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
._1te8u130 {
  width: 200px;
}
._8vp61o1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aiwna9l);
}
._8vp61o2 {
  width: fit-content;
}
._8vp61o4 {
  width: fit-content;
  justify-self: flex-end;
}
._8vp61o7:not(._8vp61o5) {
  opacity: 0;
  transform: translateX(var(--d466klj));
  pointer-events: none;
}
._8vp61o9 {
  background: transparent;
  color: var(--aiwna9g);
  isolation: isolate;
}
._8vp61o9::after {
  content: "";
  position: absolute;
  transition: var(--d466klf);
  z-index: -1;
  inset: calc(var(--d466klj) * -1);
  background-color: var(--aiwna9n);
  border-radius: var(--d466kl9);
}
._8vp61o9:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 6px;
}
._8vp61o9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._8vp61ob {
  margin: calc(var(--d466klk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._8vp61of {
  appearance: none;
  outline: none;
  background: var(--aiwna9l);
  color: var(--aiwna97);
  border: 1px solid var(--aiwna9s);
  height: var(--d466klr);
}
._8vp61of:hover, ._8vp61of[data-popup-open] {
  background-color: var(--aiwna9n);
}
._8vp61of:focus-visible {
  outline: 2px solid var(--aiwna9v);
  z-index: 1;
}
._8vp61oh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._8vp61oj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._8vp61ok {
  color: var(--aiwna9c);
}
._8vp61om {
  height: 1px;
  background-color: var(--aiwna9s);
}
@media screen and (max-width: 767px) {
  ._8vp61o4 {
    display: none;
  }
}
.nmaw8a2 {
  flex: 1;
  min-height: 0;
}
.nmaw8a5 {
  --nmaw8a3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--nmaw8a3), 1fr);
}
.nmaw8a7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.nmaw8a9 {
  height: calc(100% / var(--nmaw8a0));
  width: calc(100% / var(--nmaw8a0));
  border-radius: calc(var(--d466kl9) / var(--nmaw8a0));
  transform: scale(var(--nmaw8a0));
  transform-origin: 0 0;
  padding: calc(1px / var(--nmaw8a0));
}
.nmaw8ab {
  background: var(--aiwna9n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nmaw8ad {
  background: transparent;
  outline: 1px solid var(--aiwna9s);
}
.nmaw8ad:hover {
  outline: 2px solid var(--aiwna9t);
}
.nmaw8ad:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
.nmaw8ah {
  list-style: none;
}
.nmaw8aj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--aiwna9s);
}
.nmaw8aj:hover {
  outline: 2px solid var(--aiwna9t);
}
.nmaw8aj:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .nmaw8a5 {
    --nmaw8a3: 2;
  }
}
@media screen and (min-width: 800px) {
  .nmaw8a5 {
    --nmaw8a3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .nmaw8a5 {
    --nmaw8a3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .nmaw8a5 {
    --nmaw8a3: 5;
  }
}
._3wnirw1 {
  width: fit-content;
}
._3wnirw3:focus-visible ~ ._3wnirw5 {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 4px;
}
._3wnirw8 {
  min-width: 0;
}
._3wnirw9 {
  flex-shrink: 0;
}
._1f8jfsn2 {
  outline: none;
  height: var(--d466klr);
  color: var(--aiwna97);
  background: transparent;
}
._1f8jfsn2::placeholder {
  color: var(--aiwna99);
  font-weight: strong;
}
._1f8jfsn2:hover:not(:focus-visible), ._1f8jfsn2:hover:not(:focus-visible)::placeholder {
  background: var(--aiwna9n);
  opacity: 1;
  color: transparent;
}
._1f8jfsn2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1f8jfsn2:focus-visible {
  outline: 2px solid var(--aiwna9v);
  outline-offset: 0;
  opacity: 1;
}
._1f8jfsn2:focus-visible::placeholder {
  color: transparent;
}
._1f8jfsn4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--aiwna97);
}
._1f8jfsn2:focus-visible ~ ._1f8jfsn4 {
  opacity: 0;
}
._1f8jfsn5 {
  color: var(--aiwna99);
}
._1v7o8ee3 {
  border: 1px solid var(--aiwna9s);
}
._1v7o8ee5 {
  background-color: var(--aiwna9q);
  border-bottom: 1px solid var(--aiwna9s);
}
._1v7o8ee8 {
  background-color: var(--aiwna9q);
  border-top: 1px solid var(--aiwna9s);
}
._1v7o8eec {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1v7o8ee6 {
    display: none;
  }
}
