._1mzwxyz1 {
  background-color: var(--_9iy1jzl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_9iy1jzq);
}
._1mzwxyz2::before {
  content: "";
  position: absolute;
  min-height: var(--_1tjupj5c);
  min-width: var(--_1tjupj5c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1i4niig2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1i4niig4 {
  border: 1px solid var(--_9iy1jzq);
  background-color: var(--_9iy1jzk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1i4niig4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_9iy1jzm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1i4niig4:hover::after {
  opacity: 1;
}
._1i4niig4:focus-visible::after {
  opacity: 1;
}
._1i4niig4:active:not([disabled]) {
  transform: scale(0.97);
}
._1i4niig4:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 0;
}
._1i4niig6 {
  isolation: isolate;
}
._1i4niig8 {
  height: var(--_1i4niig0);
}
._1i4niiga {
  border-color: var(--_9iy1jzc);
}
._1i4niiga::after {
  background-color: var(--_9iy1jzh);
}
._1i4niigb {
  border-color: var(--_9iy1jza);
}
._1i4niigb::after {
  background-color: var(--_9iy1jzi);
}
._1i4niigc {
  --_1i4niig0: var(--_1tjupj5q);
}
._1i4niigd {
  --_1i4niig0: var(--_1tjupj5r);
}
._1i4niige {
  --_1i4niig0: var(--_1tjupj5s);
}
._1c3uy9w1 {
  --_9iy1jz7: var(--_9iy1jzd);
  background-color: var(--_9iy1jzn);
  outline: 1px solid var(--_9iy1jzs);
  outline-offset: -1px;
}
.io53703 {
  background: transparent;
  outline: none;
  height: var(--io53700) !important;
  width: var(--io53700) !important;
}
.io53706 {
  padding: var(--io53704);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--io53701);
  isolation: isolate;
}
.io53703[data-pressed] .io53706, .io53703:active .io53706 {
  transform: scale(.95);
}
.io53703:focus-visible .io53706 {
  outline: 2px solid var(--_9iy1jzt);
}
.io53703[aria-disabled="true"] .io53706 {
  --io53701: var(--_9iy1jz9);
}
.io53707 {
  --io53700: var(--_1tjupj5q);
  --io53704: 6px;
}
.io53708 {
  --io53700: var(--_1tjupj5r);
  --io53704: var(--_1tjupj5j);
}
.io53709 {
  --io53700: var(--_1tjupj5s);
  --io53704: var(--_1tjupj5j);
}
.io5370a {
  --io53701: var(--_9iy1jz7);
}
.io5370b {
  --io53701: var(--_9iy1jzb);
}
.io5370c {
  --io53701: var(--_9iy1jzc);
}
.io5370d {
  background-color: var(--_9iy1jzk);
  outline: 1px solid var(--_9iy1jzq);
  outline-offset: -1px;
}
.io53703:not([aria-disabled="true"]):hover > .io5370d, .io53703:not([aria-disabled="true"])[data-popup-open] > .io5370d {
  background-color: var(--_9iy1jzm);
}
.io5370e {
  --io53701: var(--_9iy1jz8);
  background-color: var(--_9iy1jzf);
}
.io53703:not([aria-disabled="true"]):hover > .io5370e, .io53703:not([aria-disabled="true"])[data-popup-open] > .io5370e {
  background-color: var(--_9iy1jzg);
}
.io53703:not([aria-disabled="true"]):hover > .io5370f, .io53703:not([aria-disabled="true"])[data-popup-open] > .io5370f {
  background-color: var(--_9iy1jzm);
}
.io5370g {
  margin: calc((var(--io53704) + 2px) * -1);
}
.io53706 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1b5otma0 {
  isolation: isolate;
  white-space: nowrap;
}
._1b5otma1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1b5otma3 {
    display: none;
  }
}
._9w4ufk1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._9w4ufk2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._9w4ufk2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._9w4ufk4 {
  --_9w4ufk3: 30px;
}
._9w4ufk5 {
  --_9w4ufk3: 45px;
}
._9w4ufk6 {
  --_9w4ufk3: 60px;
}
._9w4ufk7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._9w4ufk8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._9w4ufk9 {
  overflow: auto;
}
._9w4ufke {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_9w4ufkc, 0)),linear-gradient(to right, transparent 0, black var(--_9w4ufka, 0)),linear-gradient(to left, transparent 0, black var(--_9w4ufkb, 0)),linear-gradient(to top, transparent 0, black var(--_9w4ufkd, 0));
}
._9w4ufkf {
  --_9w4ufka: var(--_9w4ufk3);
}
._9w4ufkg {
  --_9w4ufkb: var(--_9w4ufk3);
}
._9w4ufkh {
  --_9w4ufkc: var(--_9w4ufk3);
}
._9w4ufki {
  --_9w4ufkd: var(--_9w4ufk3);
}
.w24t522 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.w24t523 {
  width: 250px;
}
.w24t526 {
  --w24t524: var(--_9iy1jzm);
  outline: none;
  cursor: default;
  color: var(--_9iy1jz7);
  height: 34px;
  isolation: isolate;
}
.w24t526::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1tjupj58);
  z-index: -1;
}
.w24t526[data-popup-open]:not([aria-disabled])::before, .w24t526[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--w24t524);
}
.w24t526:focus-visible::before {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: -2px;
}
.w24t526[aria-disabled] {
  color: var(--_9iy1jz9);
  cursor: not-allowed;
}
.w24t527 {
  cursor: pointer;
  text-decoration: none;
}
.w24t527[aria-disabled] {
  cursor: not-allowed;
}
.w24t528 {
  margin-left: 3px;
}
.w24t529 {
  --w24t524: var(--_9iy1jzi);
  color: var(--_9iy1jza);
}
.w24t52a {
  --w24t524: transparent;
  color: var(--_9iy1jzc);
}
.w24t52a svg {
  color: var(--_9iy1jzc);
}
.w24t52c {
  isolation: isolate;
}
.w24t52g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.w24t52i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_9iy1jz7);
  z-index: 1;
}
[aria-checked="true"] .w24t52i {
  color: var(--_9iy1jz8);
}
.w24t52k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_9iy1jz7);
  isolation: isolate;
}
[aria-checked="true"] .w24t52k {
  background-color: var(--_9iy1jze);
  border-color: var(--_9iy1jze);
}
.w24t52p {
  height: 34px;
}
.w24t52r {
  height: 1px;
  background-color: var(--_9iy1jzq);
}
.w24t52t {
  background: transparent;
  border: none;
}
.w24t52t:hover, .w24t52t[data-highlighted] {
  background-color: var(--_9iy1jzm);
}
.w24t52t:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: -2px;
}
._1ooqxqp2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1tjupj58);
  color: var(--_1ooqxqp0);
  isolation: isolate;
  outline: none;
}
._1ooqxqp2[data-pressed], ._1ooqxqp2:active {
  transform: scale(.95);
}
._1ooqxqp2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1tjupj5i) * -1);
  background-color: var(--_1ooqxqp0);
  border-radius: var(--_1tjupj58);
}
._1ooqxqp2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1ooqxqp2:hover, ._1ooqxqp2[data-popup-open]:not(:focus-visible) {
  color: var(--_9iy1jz8);
}
._1ooqxqp2:focus-visible::after {
  outline: 2px solid var(--_9iy1jzt);
}
._1ooqxqp2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1ooqxqp3 {
  --_1ooqxqp0: var(--_9iy1jzb);
}
._1ooqxqp4 {
  --_1ooqxqp0: var(--_9iy1jzc);
}
._1ooqxqp2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._38l6pl1 {
  justify-content: safe center;
}
._38l6pl5 {
  flex-shrink: 0;
  width: var(--_38l6pl2);
}
._38l6pl5:last-child {
  padding-right: var(--_1tjupj5n);
}
._38l6pl6 {
  transition: color 150ms ease;
}
._38l6pl5:hover ._38l6pl6, ._38l6pl5:focus-within ._38l6pl6, ._38l6pl3 ._38l6pl6 {
  color: var(--_9iy1jzb);
}
._38l6pl8 {
  outline: 1px solid var(--_9iy1jzq);
}
._38l6pla {
  transition: opacity 150ms ease;
}
._38l6pl5:not(:hover, :focus-within, ._38l6pl3) ._38l6pla {
  opacity: 1;
}
._38l6plc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._38l6pla:hover ~ ._38l6pl8 ._38l6plc, ._38l6pla:focus-within ~ ._38l6pl8._38l6plc {
  outline-color: var(--_9iy1jzb);
}
._38l6ple {
  transition: opacity 150ms ease;
}
._38l6pl5:not(:hover, :focus-within, ._38l6pl3) ._38l6ple {
  opacity: 0;
}
._1muui121 {
  color: var(--_9iy1jz7);
  font-family: var(--_1tjupj50);
}
._1muui122 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1muui123 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1muui124 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
.xk5rwj1 {
  display: flex;
  flex-direction: column;
  gap: var(--xk5rwj0);
}
.xk5rwj2 {
  --xk5rwj0: var(--_1tjupj5g);
}
.xk5rwj3 {
  --xk5rwj0: var(--_1tjupj5h);
}
.xk5rwj4 {
  --xk5rwj0: var(--_1tjupj5i);
}
.xk5rwj5 {
  --xk5rwj0: var(--_1tjupj5j);
}
.xk5rwj6 {
  --xk5rwj0: var(--_1tjupj5k);
}
.xk5rwj7 {
  --xk5rwj0: var(--_1tjupj5l);
}
.xk5rwj8 {
  --xk5rwj0: var(--_1tjupj5m);
}
.xk5rwj9 {
  --xk5rwj0: var(--_1tjupj5n);
}
.xk5rwja {
  --xk5rwj0: var(--_1tjupj5o);
}
.xk5rwjb {
  --xk5rwj0: var(--_1tjupj5p);
}
.xk5rwjc {
  align-items: flex-start;
}
.xk5rwjd {
  align-items: center;
}
.xk5rwje {
  align-items: flex-end;
}
.xpizvi1 {
  backdrop-filter: blur(6px);
}
.xpizvi1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_9iy1jzj);
  opacity: 0.4;
}
html[data-playroom-dark] .xpizvi1::before {
  opacity: 0.7;
}
.xpizvi1[data-starting-style]::before, .xpizvi1[data-ending-style]::before {
  opacity: 0;
}
.xpizvi3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1tjupj5k) * 2));
  max-height: calc(100dvh - (var(--_1tjupj5k) * 2));
}
.xpizvi3[data-starting-style], .xpizvi3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.xpizvi7:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 2px;
}
._123th5g2 {
  display: flex;
  flex-direction: row;
  gap: var(--_123th5g0);
  align-items: var(--_123th5g1);
}
._123th5g3 {
  flex-wrap: wrap;
}
._123th5g4 {
  --_123th5g0: var(--_1tjupj5g);
}
._123th5g5 {
  --_123th5g0: var(--_1tjupj5h);
}
._123th5g6 {
  --_123th5g0: var(--_1tjupj5i);
}
._123th5g7 {
  --_123th5g0: var(--_1tjupj5j);
}
._123th5g8 {
  --_123th5g0: var(--_1tjupj5k);
}
._123th5g9 {
  --_123th5g0: var(--_1tjupj5l);
}
._123th5ga {
  --_123th5g0: var(--_1tjupj5m);
}
._123th5gb {
  --_123th5g0: var(--_1tjupj5n);
}
._123th5gc {
  --_123th5g0: var(--_1tjupj5o);
}
._123th5gd {
  --_123th5g0: var(--_1tjupj5p);
}
._123th5ge {
  align-items: flex-start;
}
._123th5gf {
  align-items: center;
}
._123th5gg {
  align-items: flex-end;
}
._19bu8t30 {
  width: 200px;
}
.c2c7vw1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_9iy1jzk);
}
.c2c7vw2 {
  width: fit-content;
}
.c2c7vw4 {
  width: fit-content;
  justify-self: flex-end;
}
.c2c7vw7:not(.c2c7vw5) {
  opacity: 0;
  transform: translateX(var(--_1tjupj5j));
  pointer-events: none;
}
.c2c7vw9 {
  background: transparent;
  color: var(--_9iy1jzf);
  isolation: isolate;
}
.c2c7vw9::after {
  content: "";
  position: absolute;
  transition: var(--_1tjupj5f);
  z-index: -1;
  inset: calc(var(--_1tjupj5j) * -1);
  background-color: var(--_9iy1jzm);
  border-radius: var(--_1tjupj59);
}
.c2c7vw9:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 6px;
}
.c2c7vw9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.c2c7vwb {
  margin: calc(var(--_1tjupj5k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.c2c7vwf {
  appearance: none;
  outline: none;
  background: var(--_9iy1jzk);
  color: var(--_9iy1jz7);
  border: 1px solid var(--_9iy1jzq);
  height: var(--_1tjupj5r);
}
.c2c7vwf:hover, .c2c7vwf[data-popup-open] {
  background-color: var(--_9iy1jzm);
}
.c2c7vwf:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  z-index: 1;
}
.c2c7vwh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.c2c7vwj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.c2c7vwk {
  color: var(--_9iy1jzc);
}
.c2c7vwm {
  height: 1px;
  background-color: var(--_9iy1jzq);
}
@media screen and (max-width: 767px) {
  .c2c7vw4 {
    display: none;
  }
}
._146ugkz2 {
  flex: 1;
  min-height: 0;
}
._146ugkz5 {
  --_146ugkz3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_146ugkz3), 1fr);
}
._146ugkz7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._146ugkz9 {
  height: calc(100% / var(--_146ugkz0));
  width: calc(100% / var(--_146ugkz0));
  border-radius: calc(var(--_1tjupj59) / var(--_146ugkz0));
  transform: scale(var(--_146ugkz0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_146ugkz0));
}
._146ugkzb {
  background: var(--_9iy1jzm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._146ugkzd {
  background: transparent;
  outline: 1px solid var(--_9iy1jzq);
}
._146ugkzd:hover {
  outline: 2px solid var(--_9iy1jzr);
}
._146ugkzd:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 2px;
}
._146ugkzh {
  list-style: none;
}
._146ugkzj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_9iy1jzq);
}
._146ugkzj:hover {
  outline: 2px solid var(--_9iy1jzr);
}
._146ugkzj:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._146ugkz5 {
    --_146ugkz3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._146ugkz5 {
    --_146ugkz3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._146ugkz5 {
    --_146ugkz3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._146ugkz5 {
    --_146ugkz3: 5;
  }
}
.zolwsx1 {
  width: fit-content;
}
.zolwsx3:focus-visible ~ .zolwsx5 {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 4px;
}
.zolwsx8 {
  min-width: 0;
}
.zolwsx9 {
  flex-shrink: 0;
}
._8nzjel2 {
  outline: none;
  height: var(--_1tjupj5r);
  color: var(--_9iy1jz7);
  background: transparent;
}
._8nzjel2::placeholder {
  color: var(--_9iy1jz9);
  font-weight: strong;
}
._8nzjel2:hover:not(:focus-visible), ._8nzjel2:hover:not(:focus-visible)::placeholder {
  background: var(--_9iy1jzm);
  opacity: 1;
  color: transparent;
}
._8nzjel2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._8nzjel2:focus-visible {
  outline: 2px solid var(--_9iy1jzt);
  outline-offset: 0;
  opacity: 1;
}
._8nzjel2:focus-visible::placeholder {
  color: transparent;
}
._8nzjel4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_9iy1jz7);
}
._8nzjel2:focus-visible ~ ._8nzjel4 {
  opacity: 0;
}
._8nzjel5 {
  color: var(--_9iy1jz9);
}
._16515ky3 {
  border: 1px solid var(--_9iy1jzq);
}
._16515ky5 {
  background-color: var(--_9iy1jzp);
  border-bottom: 1px solid var(--_9iy1jzq);
}
._16515ky8 {
  background-color: var(--_9iy1jzp);
  border-top: 1px solid var(--_9iy1jzq);
}
._16515kyc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._16515ky6 {
    display: none;
  }
}
