._13925ux1 {
  background-color: var(--n9v0v2l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--n9v0v2o);
}
._13925ux2::before {
  content: "";
  position: absolute;
  min-height: var(--jyn4oac);
  min-width: var(--jyn4oac);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1qb9k5j2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1qb9k5j4 {
  border: 1px solid var(--n9v0v2o);
  background-color: var(--n9v0v2k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1qb9k5j4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--n9v0v2m);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1qb9k5j4:hover::after {
  opacity: 1;
}
._1qb9k5j4:focus-visible::after {
  opacity: 1;
}
._1qb9k5j4:active {
  transform: scale(0.97);
}
._1qb9k5j4:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  outline-offset: 0;
}
._1qb9k5j6 {
  height: var(--_1qb9k5j0);
}
._1qb9k5j8 {
  border-color: var(--n9v0v2c);
}
._1qb9k5j8::after {
  background-color: var(--n9v0v2h);
}
._1qb9k5j9 {
  border-color: var(--n9v0v2a);
}
._1qb9k5j9::after {
  background-color: var(--n9v0v2i);
}
._1qb9k5ja {
  --_1qb9k5j0: var(--jyn4oaq);
}
._1qb9k5jb {
  --_1qb9k5j0: var(--jyn4oar);
}
._1qb9k5jc {
  --_1qb9k5j0: var(--jyn4oas);
}
.y1jnvw1 {
  --n9v0v27: var(--n9v0v2d);
  background-color: var(--n9v0v2n);
  outline: 1px solid var(--n9v0v2q);
  outline-offset: -1px;
}
._1lbbagx3 {
  background: transparent;
  outline: none;
  height: var(--_1lbbagx0);
  width: var(--_1lbbagx0);
}
._1lbbagx5 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1lbbagx1);
  isolation: isolate;
}
._1lbbagx3[data-pressed] ._1lbbagx5, ._1lbbagx3:active ._1lbbagx5 {
  transform: scale(.95);
}
._1lbbagx3:focus-visible ._1lbbagx5 {
  outline: 2px solid var(--n9v0v2r);
}
._1lbbagx6 {
  --_1lbbagx0: var(--jyn4oaq);
}
._1lbbagx7 {
  --_1lbbagx0: var(--jyn4oar);
}
._1lbbagx8 {
  --_1lbbagx0: var(--jyn4oas);
}
._1lbbagx9 {
  --_1lbbagx1: var(--n9v0v27);
}
._1lbbagxa {
  --_1lbbagx1: var(--n9v0v2b);
}
._1lbbagxb {
  --_1lbbagx1: var(--n9v0v2c);
}
._1lbbagxc {
  background-color: var(--n9v0v2k);
  outline: 1px solid var(--n9v0v2o);
  outline-offset: -1px;
}
._1lbbagxc:hover, [data-popup-open] > ._1lbbagxc {
  background-color: var(--n9v0v2m);
}
._1lbbagxd {
  --_1lbbagx1: var(--n9v0v28);
  background-color: var(--n9v0v2f);
}
._1lbbagxd:hover, [data-popup-open] > ._1lbbagxd {
  background-color: var(--n9v0v2g);
}
._1lbbagxe:hover, [data-popup-open] > ._1lbbagxe {
  background-color: var(--n9v0v2m);
}
._1lbbagxf {
  margin: calc((var(--jyn4oaj) + 2px) * -1);
}
._1lbbagx5 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.cb6gne0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .cb6gne1 {
    display: none;
  }
}
.jwbozm1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.jwbozm2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.jwbozm2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.jwbozm4 {
  --jwbozm3: 40px;
}
.jwbozm5 {
  --jwbozm3: 60px;
}
.jwbozm6 {
  --jwbozm3: 80px;
}
.jwbozm7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.jwbozm8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.jwbozm9 {
  overflow: auto;
}
.jwbozme {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--jwbozmc, 0)),linear-gradient(to right, transparent 0, black var(--jwbozma, 0)),linear-gradient(to left, transparent 0, black var(--jwbozmb, 0)),linear-gradient(to top, transparent 0, black var(--jwbozmd, 0));
}
.jwbozmf {
  --jwbozma: var(--jwbozm3);
}
.jwbozmg {
  --jwbozmb: var(--jwbozm3);
}
.jwbozmh {
  --jwbozmc: var(--jwbozm3);
}
.jwbozmi {
  --jwbozmd: var(--jwbozm3);
}
._155ltpe0 {
  transition: var(--jyn4oae);
  transform-origin: 50% 50%;
}
._155ltpe1 {
  transform: rotate(90deg);
}
._155ltpe2 {
  transform: rotate(180deg);
}
._155ltpe3 {
  transform: rotate(270deg);
}
._1sggqk42 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1sggqk43 {
  width: 250px;
}
._1sggqk46 {
  --_1sggqk44: var(--n9v0v2m);
  outline: none;
  cursor: default;
  color: var(--n9v0v27);
  height: 34px;
}
._1sggqk46::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--jyn4oa8);
}
._1sggqk46[data-popup-open]:not([aria-disabled])::before, ._1sggqk46[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1sggqk44);
}
._1sggqk46:focus-visible::before {
  outline: 2px solid var(--n9v0v2r);
  outline-offset: -2px;
}
._1sggqk46[aria-disabled] {
  color: var(--n9v0v29);
  cursor: not-allowed;
}
._1sggqk48 {
  text-decoration: none;
}
._1sggqk48[aria-disabled] {
  cursor: not-allowed;
}
._1sggqk49 {
  --_1sggqk44: var(--n9v0v2i);
  color: var(--n9v0v2a);
}
._1sggqk4a {
  --_1sggqk44: transparent;
  color: var(--n9v0v2c);
}
._1sggqk4a svg {
  color: var(--n9v0v2c);
}
._1sggqk4c {
  isolation: isolate;
}
._1sggqk4g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1sggqk4i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--n9v0v27);
  z-index: 1;
}
[aria-checked="true"] ._1sggqk4i {
  color: var(--n9v0v28);
}
._1sggqk4k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--n9v0v27);
  isolation: isolate;
}
[aria-checked="true"] ._1sggqk4k {
  background-color: var(--n9v0v2e);
  border-color: var(--n9v0v2e);
}
._1sggqk4n {
  height: 1px;
  background-color: var(--n9v0v2o);
}
._1sggqk4o {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1sggqk4q {
  background: transparent;
  border: none;
  margin: calc(var(--jyn4oaj) * -1);
}
._1sggqk4q:hover, ._1sggqk4q[data-highlighted] {
  background-color: var(--n9v0v2m);
}
._1sggqk4q:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  outline-offset: -2px;
}
._1qril0t2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--jyn4oa8);
  color: var(--_1qril0t0);
  isolation: isolate;
  outline: none;
}
._1qril0t2[data-pressed], ._1qril0t2:active {
  transform: scale(.95);
}
._1qril0t2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--jyn4oai) * -1);
  background-color: var(--_1qril0t0);
  border-radius: var(--jyn4oa8);
}
._1qril0t2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1qril0t2:hover, ._1qril0t2[data-popup-open]:not(:focus-visible) {
  color: var(--n9v0v28);
}
._1qril0t2:focus-visible::after {
  outline: 2px solid var(--n9v0v2r);
}
._1qril0t2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1qril0t3 {
  --_1qril0t0: var(--n9v0v2b);
}
._1qril0t4 {
  --_1qril0t0: var(--n9v0v2c);
}
._1qril0t2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._65cswk1 {
  justify-content: safe center;
}
._65cswk5 {
  flex-shrink: 0;
  width: var(--_65cswk2);
}
._65cswk6 {
  transition: color 150ms ease;
}
._65cswk5:hover ._65cswk6, ._65cswk5:focus-within ._65cswk6, ._65cswk3 ._65cswk6 {
  color: var(--n9v0v2b);
}
._65cswk8 {
  outline: 1px solid var(--n9v0v2o);
}
._65cswka {
  transition: opacity 150ms ease;
}
._65cswk5:not(:hover, :focus-within, ._65cswk3) ._65cswka {
  opacity: 1;
}
._65cswkc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._65cswka:hover ~ ._65cswk8 ._65cswkc, ._65cswka:focus-within ~ ._65cswk8._65cswkc {
  outline-color: var(--n9v0v2b);
}
._65cswke {
  transition: opacity 150ms ease;
}
._65cswk5:not(:hover, :focus-within, ._65cswk3) ._65cswke {
  opacity: 0;
}
.tjatoz1 {
  color: var(--n9v0v27);
  font-family: var(--jyn4oa0);
}
.tjatoz2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
.tjatoz3 {
  --_17tbwdk0: 24px;
  --_17tbwdk1: 30px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.tjatoz4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.ab4wrl1 {
  display: flex;
  flex-direction: column;
  gap: var(--ab4wrl0);
}
.ab4wrl2 {
  --ab4wrl0: var(--jyn4oag);
}
.ab4wrl3 {
  --ab4wrl0: var(--jyn4oah);
}
.ab4wrl4 {
  --ab4wrl0: var(--jyn4oai);
}
.ab4wrl5 {
  --ab4wrl0: var(--jyn4oaj);
}
.ab4wrl6 {
  --ab4wrl0: var(--jyn4oak);
}
.ab4wrl7 {
  --ab4wrl0: var(--jyn4oal);
}
.ab4wrl8 {
  --ab4wrl0: var(--jyn4oam);
}
.ab4wrl9 {
  --ab4wrl0: var(--jyn4oan);
}
.ab4wrla {
  --ab4wrl0: var(--jyn4oao);
}
.ab4wrlb {
  --ab4wrl0: var(--jyn4oap);
}
.opr7fk1 {
  background-color: black;
  opacity: 0.2;
}
html[data-playroom-dark] .opr7fk1 {
  opacity: 0.7;
}
.opr7fk1[data-starting-style], .opr7fk1[data-ending-style] {
  opacity: 0;
}
.opr7fk3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-width: calc(100dvw - (var(--jyn4oak) * 2));
  max-height: calc(100dvh - (var(--jyn4oak) * 2));
}
.opr7fk3[data-starting-style], .opr7fk3[data-ending-style] {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
}
.opr7fk7:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  outline-offset: 2px;
}
._1nl4rte3 {
  --_1nl4rte1: 1;
  display: grid;
  grid-template-columns: repeat(var(--_1nl4rte1), 1fr);
}
._1nl4rte5 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1nl4rte7 {
  height: calc(100% / var(--_1nl4rte0));
  width: calc(100% / var(--_1nl4rte0));
  border-radius: calc(var(--jyn4oa9) / var(--_1nl4rte0));
  transform: scale(var(--_1nl4rte0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1nl4rte0));
}
._1nl4rte9 {
  background: var(--n9v0v2m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1nl4rteb {
  background: transparent;
  outline: 1px solid var(--n9v0v2o);
}
._1nl4rteb:hover {
  outline: 2px solid var(--n9v0v2p);
}
._1nl4rteb:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1nl4rte3 {
    --_1nl4rte1: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1nl4rte3 {
    --_1nl4rte1: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1nl4rte3 {
    --_1nl4rte1: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1nl4rte3 {
    --_1nl4rte1: 5;
  }
}
._1hxl2132 {
  outline: none;
  height: var(--jyn4oar);
  color: var(--n9v0v27);
  background: transparent;
}
._1hxl2132::placeholder {
  color: var(--n9v0v29);
  font-weight: normal;
}
._1hxl2132:hover:not(:focus-visible) {
  background: var(--n9v0v2m);
  opacity: 1;
  color: transparent;
}
._1hxl2132:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1hxl2132:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  opacity: 1;
}
._1hxl2132:focus-visible::placeholder {
  color: transparent;
}
._1hxl2134 {
  max-width: 50vw;
  min-width: 240px;
}
._1hxl2132:focus-visible ~ ._1hxl2134 {
  opacity: 0;
}
._1hxl2135 {
  white-space: pre;
}
._102ow151 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--n9v0v2k);
}
._102ow152 {
  width: fit-content;
}
._102ow154 {
  width: fit-content;
  justify-self: flex-end;
}
._102ow156 {
  background: transparent;
  color: var(--n9v0v2f);
  isolation: isolate;
}
._102ow156::after {
  content: "";
  position: absolute;
  transition: var(--jyn4oaf);
  z-index: -1;
  inset: calc(var(--jyn4oaj) * -1);
  background-color: var(--n9v0v2m);
  border-radius: var(--jyn4oa9);
}
._102ow156:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  outline-offset: 6px;
}
._102ow156:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._102ow158 {
  margin: calc(var(--jyn4oak) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._102ow15c {
  appearance: none;
  outline: none;
  background: var(--n9v0v2k);
  color: var(--n9v0v27);
  border: 1px solid var(--n9v0v2o);
  height: var(--jyn4oar);
}
._102ow15c:hover, ._102ow15c[data-popup-open] {
  background-color: var(--n9v0v2m);
}
._102ow15c:focus-visible {
  outline: 2px solid var(--n9v0v2r);
  z-index: 1;
}
._102ow15e {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._102ow15g {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._102ow15i {
  color: var(--n9v0v2c);
}
@media screen and (max-width: 767px) {
  ._102ow154 {
    display: none;
  }
}
._147hich2 {
  border: 1px solid var(--n9v0v2o);
  border-radius: var(--jyn4oa9);
}
._147hich4 {
  border-bottom: 1px solid var(--n9v0v2o);
  gap: 12px;
}
._147hich7 {
  border-top: 1px solid var(--n9v0v2o);
  gap: 12px;
}
._147hichb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._147hich5 {
    display: none;
  }
}
