.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._12ajjub5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--bj55t3j);
  -webkit-tap-highlight-color: transparent;
}
._12ajjub5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bj55t3l);
  opacity: 0;
  transition: var(--_59i959f);
  pointer-events: none;
}
._12ajjub5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_59i959f);
}
._12ajjub5._12ajjub0 {
  color: var(--bj55t3d);
}
._12ajjub5:not(._12ajjub1) {
  cursor: pointer;
}
._12ajjub5._12ajjub1 {
  color: var(--bj55t37);
}
._12ajjub5._12ajjub2,._12ajjub5._12ajjub3:not(._12ajjub0):not(._12ajjub1),html:not([data-playroom-dark]) ._12ajjub5:hover:not(._12ajjub0):not(._12ajjub1) {
  color: var(--bj55t3c);
}
._12ajjub5:not(._12ajjub0):not(:hover):focus::before {
  color: var(--bj55t38);
}
._12ajjub5:not(._12ajjub0):not(._12ajjub1):focus::before,._12ajjub5:not(._12ajjub0):not(._12ajjub1):hover::before {
  opacity: 1;
}
._12ajjub5:not(._12ajjub3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._12ajjub8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--bj55t3f);
  border: 2px solid var(--bj55t3j);
}
._12ajjub8:not(._12ajjub6) {
  transform: scale(0);
  opacity: 0;
}
._12ajjuba {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--bj55t3d);
  border: 2px solid var(--bj55t3j);
}
._12ajjuba:not(._12ajjub6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._12ajjuba svg {
  color: var(--bj55t39);
}
@keyframes _1p1cgz51 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1p1cgz50 {
  background-color: var(--bj55t3l);
}
._1p1cgz53 {
  background-color: var(--bj55t3h);
  color: var(--bj55t3b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _1p1cgz51;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1p1cgz53:hover {
  cursor: help;
}
._1p1cgz54 {
  width: 1em;
  padding: 0 8px;
}
._1p1cgz56::after {
  content: "-";
}
._1p1cgz58::after {
  content: "+";
  color: var(--bj55t3c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--bj55t3j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_59i9591);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_59i959d);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--bj55t3o);
  border-radius: var(--_59i959a);
  background-color: var(--bj55t3j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_59i9591);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--bj55t3i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_59i9599);
  white-space: pre;
  color: var(--bj55t30);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--bj55t3f);
  color: var(--bj55t39);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--bj55t3c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_59i9598);
}
.cm-s-neo.CodeMirror {
  background-color: var(--bj55t3j);
  color: var(--bj55t30);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--bj55t38);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--bj55t3j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--bj55t3j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--bj55t3j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--bj55t3l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--bj55t38);
  transition: var(--_59i959h);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1p1cgz58) {
  color: var(--bj55t37);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--bj55t38);
  transition: var(--_59i959h);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--bj55t37);
}
.cm-s-neo .cm-tag {
  color: var(--bj55t31);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--bj55t32);
}
.cm-s-neo .cm-string {
  color: var(--bj55t33);
}
.cm-s-neo .cm-atom {
  color: var(--bj55t34);
}
.cm-s-neo .cm-variable {
  color: var(--bj55t35);
}
.cm-s-neo .cm-number {
  color: var(--bj55t36);
}
.CodeMirror-dialog {
  padding-left: var(--_59i959o);
  padding-right: var(--_59i959o);
  min-height: 60px;
  border-bottom: 1px solid var(--bj55t3n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1p1cgz59));
  transition: var(--_59i959h);
}
.dialog-opened .CodeMirror-scroll {
  --_1p1cgz59: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1p1cgz59);
}
.CodeMirror-dialog input {
  font: var(--_59i9595);
  font-family: var(--_59i9591);
  height: var(--_59i959e);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_59i959e);
  font: var(--_59i9595);
  font-family: var(--_59i9591);
}
.CodeMirror-search-field {
  padding-left: var(--_59i959o);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--bj55t3m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--bj55t3l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_59i959o);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_59i9594);
  font-family: var(--_59i9590);
  margin-left: var(--_59i959l);
  padding-top: var(--_59i959l);
  padding-bottom: var(--_59i959l);
  padding-left: var(--_59i959n);
  padding-right: var(--_59i959n);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_59i959b);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--bj55t3c);
  box-shadow: var(--bj55t3p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--bj55t3l);
}
.CodeMirror-dialog button:hover {
  background: var(--bj55t3e);
}
.unrqxl1 {
  color: var(--bj55t38);
}
.unrqxl2 {
  color: var(--bj55t3b);
}
.unrqxl3 {
  color: var(--bj55t3a);
}
.unrqxla {
  text-overflow: ellipsis;
}
.v7dsrb1 {
  justify-content: safe center;
}
.v7dsrb4 {
  flex-shrink: 0;
  width: var(--v7dsrb2);
}
.v7dsrb4:not(:hover) .v7dsrb7 {
  opacity: 0.8;
}
.v7dsrb9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.v7dsrb4:not(:hover) .v7dsrb9 {
  opacity: 0.3;
}
.ysu66n5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_59i9598) * 5);
  height: calc(var(--_59i9598) * 8);
  max-width: calc((100vw - 60px) - (var(--_59i959d) * 2));
}
.ysu66n5.ysu66n0 {
  padding-right: calc((15px * 2) + 16px);
}
.ysu66n5:not(.ysu66n1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.ysu66n5.ysu66n2 {
  background-color: var(--bj55t3g);
}
.ysu66n5.ysu66n3 {
  background-color: var(--bj55t3h);
}
.ysu66n7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.ysu66n7:not(:hover) {
  opacity: 0.4;
}
._1afydqz1 {
  color: var(--bj55t38);
  font-family: var(--_59i9590);
}
._1afydqz2 {
  font-size: 36px;
}
._1afydqz3 {
  font-size: 24px;
}
._1afydqz4 {
  font-size: 16px;
}
._14z58f22 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_14z58f20);
  align-items: var(--_14z58f21);
}
._14z58f23 {
  --_14z58f20: var(--_59i959i);
}
._14z58f24 {
  --_14z58f20: var(--_59i959j);
}
._14z58f25 {
  --_14z58f20: var(--_59i959k);
}
._14z58f26 {
  --_14z58f20: var(--_59i959l);
}
._14z58f27 {
  --_14z58f20: var(--_59i959m);
}
._14z58f28 {
  --_14z58f20: var(--_59i959n);
}
._14z58f29 {
  --_14z58f20: var(--_59i959o);
}
._14z58f2a {
  --_14z58f20: var(--_59i959p);
}
._14z58f2b {
  --_14z58f20: var(--_59i959q);
}
._14z58f2c {
  --_14z58f20: var(--_59i959r);
}
._14z58f2d {
  align-items: flex-start;
}
._14z58f2e {
  align-items: center;
}
._14z58f2f {
  align-items: flex-end;
}
.ys999o1 {
  display: flex;
  flex-direction: column;
  gap: var(--ys999o0);
}
.ys999o2 {
  --ys999o0: var(--_59i959i);
}
.ys999o3 {
  --ys999o0: var(--_59i959j);
}
.ys999o4 {
  --ys999o0: var(--_59i959k);
}
.ys999o5 {
  --ys999o0: var(--_59i959l);
}
.ys999o6 {
  --ys999o0: var(--_59i959m);
}
.ys999o7 {
  --ys999o0: var(--_59i959n);
}
.ys999o8 {
  --ys999o0: var(--_59i959o);
}
.ys999o9 {
  --ys999o0: var(--_59i959p);
}
.ys999oa {
  --ys999o0: var(--_59i959q);
}
.ys999ob {
  --ys999o0: var(--_59i959r);
}
._1ambl141 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_59i959l) * -1);
}
._1ambl141::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_59i959b);
  box-shadow: var(--bj55t3p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_59i959g);
}
._1ambl141:focus::before, ._1ambl141:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1ambl144 {
  height: 20px;
  width: 20px;
}
._1ambl146 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_59i959j) * 2));
  width: calc(20px - (var(--_59i959j) * 2));
}
._1ambl146::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_59i959a);
  box-shadow: var(--bj55t3p);
  transition: var(--_59i959g);
  opacity: 0;
  transform: scale(0.5);
}
._1ambl146::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_59i959a);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--bj55t3j);
}
._1ambl144:hover:not(:focus) ~ ._1ambl146::before, ._1ambl144:focus ~ ._1ambl146::before {
  opacity: 1;
  transform: scale(1);
}
._1ambl146 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_59i959h);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1ambl144:checked ~ ._1ambl146 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_59i959h);
}
._1ambl148 {
  color: var(--bj55t38);
  height: var(--_59i959e);
  background: var(--bj55t3j);
  border: 1px solid var(--bj55t3n);
}
._1ambl148::placeholder {
  color: var(--bj55t37);
}
._1enok381 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_59i959e);
  -webkit-tap-highlight-color: transparent;
}
._1enok384 {
  --_1enok382: currentColor;
  color: var(--_1enok382);
  border: 1px solid var(--bj55t37);
  height: calc(var(--_59i9598) * 9);
}
._1enok384:hover {
  --_1enok382: var(--bj55t3c);
  border-color: var(--_1enok382);
}
._1enok384:active {
  transform: scale(0.98);
}
._1enok384::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_59i959e);
  min-width: var(--_59i959e);
  left: calc((var(--_59i9598) * 2) * -1);
  right: calc((var(--_59i9598) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1enok384:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--bj55t3p);
}
._1enok385 {
  --_1enok382: var(--bj55t3d) !important;
  border-color: var(--_1enok382);
}
._1enok387 {
  top: 1px;
}
._14n2yit0 {
  transition: var(--_59i959g);
  transform-origin: 50% 50%;
}
._14n2yit1 {
  transform: rotate(90deg);
}
._14n2yit2 {
  transform: rotate(180deg);
}
._14n2yit3 {
  transform: rotate(270deg);
}
.p7yx7d4 {
  min-width: 0;
}
.p7yx7d5 {
  flex-shrink: 0;
}
.p7yx7d9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.p7yx7d7:focus:not(:hover) ~ .p7yx7d9 {
  opacity: 1;
}
._1hztl5i2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1hztl5i4 {
  display: inline-block;
  background: var(--bj55t3i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1hztl5i6 {
  height: var(--_59i959e);
  width: var(--_59i959e);
}
._1hztl5i8 {
  height: var(--_59i959e);
  width: var(--_59i959e);
}
._1hztl5i8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bj55t3l);
  border-radius: var(--_59i959b);
  transition: var(--_59i959g);
  opacity: 0;
  transform: scale(0.8);
}
._1hztl5i6:checked ~ ._1hztl5i8,html:not([data-playroom-dark]) ._1hztl5i6:hover ~ ._1hztl5i8 {
  color: var(--bj55t3c);
}
._1hztl5i6:focus ~ ._1hztl5i8::before, ._1hztl5i6:hover ~ ._1hztl5i8::before {
  opacity: 1;
  transform: scale(1);
}
._1und87r1 {
  color: var(--bj55t38);
  height: var(--_59i959e);
  background: var(--bj55t3j);
}
._1und87r1:focus {
  outline: none;
}
._1und87r1::placeholder {
  color: var(--bj55t37);
}
._1i49uzx2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--bj55t3n);
}
._1i49uzx4 {
  list-style: none;
  top: 60px;
}
._1i49uzx4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--_59i959l);
  z-index: 1;
}
._1i49uzx4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--_59i959l);
  z-index: 1;
}
._1i49uzx6 {
  scroll-margin-block: var(--_59i959l);
  color: var(--bj55t38);
  background-color: var(--bj55t3j);
}
._1i49uzx6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bj55t3l);
  border-radius: var(--_59i959a);
  opacity: 0;
  pointer-events: none;
}
._1i49uzx8 {
  color: var(--bj55t3a);
}
._1i49uzx9 {
  color: var(--bj55t3c);
}
._1i49uzx9::before {
  opacity: 1;
}
.ktqknb2 {
  color: var(--bj55t38);
  min-width: calc(60px + 1px);
}
.ktqknb2.ktqknb0 {
  width: 100vw;
}
.ktqknb6 {
  width: 60px;
  background-color: var(--bj55t3j);
  border-left: 1px solid var(--bj55t3n);
}
.ktqknb8 {
  width: 320px;
  background-color: var(--bj55t3j);
  border-left: 1px solid var(--bj55t3n);
}
.ktqknb9 {
  opacity: 0;
  transform: translateX(30%);
}
.ktqknbb {
  opacity: 1;
  transform: translateX(0);
}
.ktqknbc {
  opacity: 1;
  transform: translateX(0);
}
.ktqknbd {
  opacity: 1;
}
.ktqknbf {
  opacity: 0;
  transform: translateX(30%);
}
.ktqknbg {
  opacity: 0;
  transform: translateX(30%);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--bj55t3k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._1lpzwd30 {
  flex-direction: row;
}
._1lpzwd31 {
  flex-direction: column;
}
._1lpzwd33 {
  min-width: 0;
  min-height: 0;
}
._1lpzwd37 {
  width: clamp(460px, var(--_1lpzwd34), 90vw) !important;
}
._1lpzwd38 {
  height: clamp(300px, var(--_1lpzwd34), 80vh) !important;
}
._1lpzwd39 {
  min-width: 460px;
  max-width: 90vw;
}
._1lpzwd3a {
  min-height: 300px;
  max-height: 80vh;
}
._1lpzwd3b {
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
._1lpzwd3e._1lpzwd3c {
  width: 60px;
}
._1lpzwd3g {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_59i959e);
  height: var(--_59i959e);
}
._1lpzwd3g::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_59i959b);
  transition: var(--_59i959f);
}
._1lpzwd3g:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1lpzwd3g:hover::before, ._1lpzwd3g:focus::before {
  opacity: 0.05;
}
._1lpzwd3i {
  right: 60px;
}
