@keyframes _179hteo4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._179hteo1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--yv23gu9);
}
._179hteo3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _179hteo4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._179hteo5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1e6vsei1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1e6vsei0);
}
._1e6vsei2 {
  --_1e6vsei0: var(--_1028p54i);
}
._1e6vsei3 {
  --_1e6vsei0: var(--_1028p54j);
}
._1e6vsei4 {
  --_1e6vsei0: var(--_1028p54k);
}
._1e6vsei5 {
  --_1e6vsei0: var(--_1028p54l);
}
._1e6vsei6 {
  --_1e6vsei0: var(--_1028p54m);
}
._1e6vsei7 {
  --_1e6vsei0: var(--_1028p54n);
}
._1e6vsei8 {
  --_1e6vsei0: var(--_1028p54o);
}
._1e6vsei9 {
  --_1e6vsei0: var(--_1028p54p);
}
._1e6vseia {
  --_1e6vsei0: var(--_1028p54q);
}
._1e6vseib {
  --_1e6vsei0: var(--_1028p54r);
}
