._1p1n1r1 {
  background-color: var(--i35yuzl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--i35yuzq);
}
._1p1n1r2::before {
  content: "";
  position: absolute;
  min-height: var(--_16n4pn1c);
  min-width: var(--_16n4pn1c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1dqw9gg2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1dqw9gg4 {
  border: 1px solid var(--i35yuzq);
  background-color: var(--i35yuzk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1dqw9gg4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--i35yuzm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1dqw9gg4:hover::after {
  opacity: 1;
}
._1dqw9gg4:focus-visible::after {
  opacity: 1;
}
._1dqw9gg4:active:not([disabled]) {
  transform: scale(0.97);
}
._1dqw9gg4:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 0;
}
._1dqw9gg6 {
  isolation: isolate;
}
._1dqw9gg8 {
  height: var(--_1dqw9gg0);
}
._1dqw9gga {
  border-color: var(--i35yuzc);
}
._1dqw9gga::after {
  background-color: var(--i35yuzh);
}
._1dqw9ggb {
  border-color: var(--i35yuza);
}
._1dqw9ggb::after {
  background-color: var(--i35yuzi);
}
._1dqw9ggc {
  --_1dqw9gg0: var(--_16n4pn1q);
}
._1dqw9ggd {
  --_1dqw9gg0: var(--_16n4pn1r);
}
._1dqw9gge {
  --_1dqw9gg0: var(--_16n4pn1s);
}
.l42w9f1 {
  --i35yuz7: var(--i35yuzd);
  background-color: var(--i35yuzn);
  outline: 1px solid var(--i35yuzs);
  outline-offset: -1px;
}
._55mdlq3 {
  background: transparent;
  outline: none;
  height: var(--_55mdlq0) !important;
  width: var(--_55mdlq0) !important;
}
._55mdlq6 {
  padding: var(--_55mdlq4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_55mdlq1);
  isolation: isolate;
}
._55mdlq3[data-pressed] ._55mdlq6, ._55mdlq3:active ._55mdlq6 {
  transform: scale(.95);
}
._55mdlq3:focus-visible ._55mdlq6 {
  outline: 2px solid var(--i35yuzt);
}
._55mdlq3[aria-disabled="true"] ._55mdlq6 {
  --_55mdlq1: var(--i35yuz9);
}
._55mdlq7 {
  --_55mdlq0: var(--_16n4pn1q);
  --_55mdlq4: 6px;
}
._55mdlq8 {
  --_55mdlq0: var(--_16n4pn1r);
  --_55mdlq4: var(--_16n4pn1j);
}
._55mdlq9 {
  --_55mdlq0: var(--_16n4pn1s);
  --_55mdlq4: var(--_16n4pn1j);
}
._55mdlqa {
  --_55mdlq1: var(--i35yuz7);
}
._55mdlqb {
  --_55mdlq1: var(--i35yuzb);
}
._55mdlqc {
  --_55mdlq1: var(--i35yuzc);
}
._55mdlqd {
  background-color: var(--i35yuzk);
  outline: 1px solid var(--i35yuzq);
  outline-offset: -1px;
}
._55mdlq3:not([aria-disabled="true"]):hover > ._55mdlqd, ._55mdlq3:not([aria-disabled="true"])[data-popup-open] > ._55mdlqd {
  background-color: var(--i35yuzm);
}
._55mdlqe {
  --_55mdlq1: var(--i35yuz8);
  background-color: var(--i35yuzf);
}
._55mdlq3:not([aria-disabled="true"]):hover > ._55mdlqe, ._55mdlq3:not([aria-disabled="true"])[data-popup-open] > ._55mdlqe {
  background-color: var(--i35yuzg);
}
._55mdlq3:not([aria-disabled="true"]):hover > ._55mdlqf, ._55mdlq3:not([aria-disabled="true"])[data-popup-open] > ._55mdlqf {
  background-color: var(--i35yuzm);
}
._55mdlqg {
  margin: calc((var(--_55mdlq4) + 2px) * -1);
}
._55mdlq6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.t7gdev1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.t7gdev2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.t7gdev2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.t7gdev4 {
  --t7gdev3: 30px;
}
.t7gdev5 {
  --t7gdev3: 45px;
}
.t7gdev6 {
  --t7gdev3: 60px;
}
.t7gdev7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.t7gdev8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.t7gdev9 {
  overflow: auto;
}
.t7gdeve {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--t7gdevc, 0)),linear-gradient(to right, transparent 0, black var(--t7gdeva, 0)),linear-gradient(to left, transparent 0, black var(--t7gdevb, 0)),linear-gradient(to top, transparent 0, black var(--t7gdevd, 0));
}
.t7gdevf {
  --t7gdeva: var(--t7gdev3);
}
.t7gdevg {
  --t7gdevb: var(--t7gdev3);
}
.t7gdevh {
  --t7gdevc: var(--t7gdev3);
}
.t7gdevi {
  --t7gdevd: var(--t7gdev3);
}
.j2vqq62 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_16n4pn18);
  color: var(--j2vqq60);
  isolation: isolate;
  outline: none;
}
.j2vqq62[data-pressed], .j2vqq62:active {
  transform: scale(.95);
}
.j2vqq62::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_16n4pn1i) * -1);
  background-color: var(--j2vqq60);
  border-radius: var(--_16n4pn18);
}
.j2vqq62:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.j2vqq62:hover, .j2vqq62[data-popup-open]:not(:focus-visible) {
  color: var(--i35yuz8);
}
.j2vqq62:focus-visible::after {
  outline: 2px solid var(--i35yuzt);
}
.j2vqq62:focus-visible:not(:hover)::after {
  background: transparent;
}
.j2vqq63 {
  --j2vqq60: var(--i35yuzb);
}
.j2vqq64 {
  --j2vqq60: var(--i35yuzc);
}
.j2vqq62 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1lkyhsp1 {
  justify-content: safe center;
}
._1lkyhsp5 {
  flex-shrink: 0;
  width: var(--_1lkyhsp2);
}
._1lkyhsp5:last-child {
  padding-right: var(--_16n4pn1n);
}
._1lkyhsp6 {
  transition: color 150ms ease;
}
._1lkyhsp5:hover ._1lkyhsp6, ._1lkyhsp5:focus-within ._1lkyhsp6, ._1lkyhsp3 ._1lkyhsp6 {
  color: var(--i35yuzb);
}
._1lkyhsp8 {
  outline: 1px solid var(--i35yuzq);
}
._1lkyhspa {
  transition: opacity 150ms ease;
}
._1lkyhsp5:not(:hover, :focus-within, ._1lkyhsp3) ._1lkyhspa {
  opacity: 1;
}
._1lkyhspc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1lkyhspa:hover ~ ._1lkyhsp8 ._1lkyhspc, ._1lkyhspa:focus-within ~ ._1lkyhsp8._1lkyhspc {
  outline-color: var(--i35yuzb);
}
._1lkyhspe {
  transition: opacity 150ms ease;
}
._1lkyhsp5:not(:hover, :focus-within, ._1lkyhsp3) ._1lkyhspe {
  opacity: 0;
}
._1knyz761 {
  color: var(--i35yuz7);
  font-family: var(--_16n4pn10);
}
._1knyz762 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1knyz763 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1knyz764 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
.lif83f1 {
  display: flex;
  flex-direction: column;
  gap: var(--lif83f0);
}
.lif83f2 {
  --lif83f0: var(--_16n4pn1g);
}
.lif83f3 {
  --lif83f0: var(--_16n4pn1h);
}
.lif83f4 {
  --lif83f0: var(--_16n4pn1i);
}
.lif83f5 {
  --lif83f0: var(--_16n4pn1j);
}
.lif83f6 {
  --lif83f0: var(--_16n4pn1k);
}
.lif83f7 {
  --lif83f0: var(--_16n4pn1l);
}
.lif83f8 {
  --lif83f0: var(--_16n4pn1m);
}
.lif83f9 {
  --lif83f0: var(--_16n4pn1n);
}
.lif83fa {
  --lif83f0: var(--_16n4pn1o);
}
.lif83fb {
  --lif83f0: var(--_16n4pn1p);
}
.lif83fc {
  align-items: flex-start;
}
.lif83fd {
  align-items: center;
}
.lif83fe {
  align-items: flex-end;
}
._1a4yzn81 {
  backdrop-filter: blur(6px);
}
._1a4yzn81::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--i35yuzj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1a4yzn81::before {
  opacity: 0.7;
}
._1a4yzn81[data-starting-style]::before, ._1a4yzn81[data-ending-style]::before {
  opacity: 0;
}
._1a4yzn83 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_16n4pn1k) * 2));
  max-height: calc(100dvh - (var(--_16n4pn1k) * 2));
}
._1a4yzn83[data-starting-style], ._1a4yzn83[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1a4yzn87:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 2px;
}
._17daf5j2 {
  display: flex;
  flex-direction: row;
  gap: var(--_17daf5j0);
  align-items: var(--_17daf5j1);
}
._17daf5j3 {
  flex-wrap: wrap;
}
._17daf5j4 {
  --_17daf5j0: var(--_16n4pn1g);
}
._17daf5j5 {
  --_17daf5j0: var(--_16n4pn1h);
}
._17daf5j6 {
  --_17daf5j0: var(--_16n4pn1i);
}
._17daf5j7 {
  --_17daf5j0: var(--_16n4pn1j);
}
._17daf5j8 {
  --_17daf5j0: var(--_16n4pn1k);
}
._17daf5j9 {
  --_17daf5j0: var(--_16n4pn1l);
}
._17daf5ja {
  --_17daf5j0: var(--_16n4pn1m);
}
._17daf5jb {
  --_17daf5j0: var(--_16n4pn1n);
}
._17daf5jc {
  --_17daf5j0: var(--_16n4pn1o);
}
._17daf5jd {
  --_17daf5j0: var(--_16n4pn1p);
}
._17daf5je {
  align-items: flex-start;
}
._17daf5jf {
  align-items: center;
}
._17daf5jg {
  align-items: flex-end;
}
._1xdfkeb0 {
  isolation: isolate;
  white-space: nowrap;
}
._1xdfkeb1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1xdfkeb3 {
    display: none;
  }
}
._1l38tv22 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1l38tv23 {
  width: 250px;
}
._1l38tv26 {
  --_1l38tv24: var(--i35yuzm);
  outline: none;
  cursor: default;
  color: var(--i35yuz7);
  height: 34px;
  isolation: isolate;
}
._1l38tv26::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_16n4pn18);
  z-index: -1;
}
._1l38tv26[data-popup-open]:not([aria-disabled])::before, ._1l38tv26[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1l38tv24);
}
._1l38tv26:focus-visible::before {
  outline: 2px solid var(--i35yuzt);
  outline-offset: -2px;
}
._1l38tv26[aria-disabled] {
  color: var(--i35yuz9);
  cursor: not-allowed;
}
._1l38tv27 {
  cursor: pointer;
  text-decoration: none;
}
._1l38tv27[aria-disabled] {
  cursor: not-allowed;
}
._1l38tv28 {
  margin-left: 3px;
}
._1l38tv29 {
  --_1l38tv24: var(--i35yuzi);
  color: var(--i35yuza);
}
._1l38tv2a {
  --_1l38tv24: transparent;
  color: var(--i35yuzc);
}
._1l38tv2a svg {
  color: var(--i35yuzc);
}
._1l38tv2c {
  isolation: isolate;
}
._1l38tv2g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1l38tv2i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--i35yuz7);
  z-index: 1;
}
[aria-checked="true"] ._1l38tv2i {
  color: var(--i35yuz8);
}
._1l38tv2k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--i35yuz7);
  isolation: isolate;
}
[aria-checked="true"] ._1l38tv2k {
  background-color: var(--i35yuze);
  border-color: var(--i35yuze);
}
._1l38tv2p {
  height: 34px;
}
._1l38tv2r {
  height: 1px;
  background-color: var(--i35yuzq);
}
._1l38tv2t {
  background: transparent;
  border: none;
}
._1l38tv2t:hover, ._1l38tv2t[data-highlighted] {
  background-color: var(--i35yuzm);
}
._1l38tv2t:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: -2px;
}
._1oplccf0 {
  width: 200px;
}
._39489n1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--i35yuzk);
}
._39489n2 {
  width: fit-content;
}
._39489n4 {
  width: fit-content;
  justify-self: flex-end;
}
._39489n7:not(._39489n5) {
  opacity: 0;
  transform: translateX(var(--_16n4pn1j));
  pointer-events: none;
}
._39489n9 {
  background: transparent;
  color: var(--i35yuzf);
  isolation: isolate;
}
._39489n9::after {
  content: "";
  position: absolute;
  transition: var(--_16n4pn1f);
  z-index: -1;
  inset: calc(var(--_16n4pn1j) * -1);
  background-color: var(--i35yuzm);
  border-radius: var(--_16n4pn19);
}
._39489n9:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 6px;
}
._39489n9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._39489nb {
  margin: calc(var(--_16n4pn1k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._39489nf {
  appearance: none;
  outline: none;
  background: var(--i35yuzk);
  color: var(--i35yuz7);
  border: 1px solid var(--i35yuzq);
  height: var(--_16n4pn1r);
}
._39489nf:hover, ._39489nf[data-popup-open] {
  background-color: var(--i35yuzm);
}
._39489nf:focus-visible {
  outline: 2px solid var(--i35yuzt);
  z-index: 1;
}
._39489nh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._39489nj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._39489nk {
  color: var(--i35yuzc);
}
._39489nm {
  height: 1px;
  background-color: var(--i35yuzq);
}
@media screen and (max-width: 767px) {
  ._39489n4 {
    display: none;
  }
}
._1yvh7wa2 {
  flex: 1;
  min-height: 0;
}
._1yvh7wa5 {
  --_1yvh7wa3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1yvh7wa3), 1fr);
}
._1yvh7wa7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1yvh7wa9 {
  height: calc(100% / var(--_1yvh7wa0));
  width: calc(100% / var(--_1yvh7wa0));
  border-radius: calc(var(--_16n4pn19) / var(--_1yvh7wa0));
  transform: scale(var(--_1yvh7wa0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1yvh7wa0));
}
._1yvh7wab {
  background: var(--i35yuzm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1yvh7wad {
  background: transparent;
  outline: 1px solid var(--i35yuzq);
}
._1yvh7wad:hover {
  outline: 2px solid var(--i35yuzr);
}
._1yvh7wad:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 2px;
}
._1yvh7wah {
  list-style: none;
}
._1yvh7waj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--i35yuzq);
}
._1yvh7waj:hover {
  outline: 2px solid var(--i35yuzr);
}
._1yvh7waj:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1yvh7wa5 {
    --_1yvh7wa3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1yvh7wa5 {
    --_1yvh7wa3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1yvh7wa5 {
    --_1yvh7wa3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1yvh7wa5 {
    --_1yvh7wa3: 5;
  }
}
._1lu6l6h1 {
  width: fit-content;
}
._1lu6l6h3:focus-visible ~ ._1lu6l6h5 {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 4px;
}
._1lu6l6h8 {
  min-width: 0;
}
._1lu6l6h9 {
  flex-shrink: 0;
}
._10hbjvq2 {
  outline: none;
  height: var(--_16n4pn1r);
  color: var(--i35yuz7);
  background: transparent;
}
._10hbjvq2::placeholder {
  color: var(--i35yuz9);
  font-weight: strong;
}
._10hbjvq2:hover:not(:focus-visible), ._10hbjvq2:hover:not(:focus-visible)::placeholder {
  background: var(--i35yuzm);
  opacity: 1;
  color: transparent;
}
._10hbjvq2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._10hbjvq2:focus-visible {
  outline: 2px solid var(--i35yuzt);
  outline-offset: 0;
  opacity: 1;
}
._10hbjvq2:focus-visible::placeholder {
  color: transparent;
}
._10hbjvq4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--i35yuz7);
}
._10hbjvq2:focus-visible ~ ._10hbjvq4 {
  opacity: 0;
}
._10hbjvq5 {
  color: var(--i35yuz9);
}
._1oa771a3 {
  border: 1px solid var(--i35yuzq);
}
._1oa771a5 {
  background-color: var(--i35yuzp);
  border-bottom: 1px solid var(--i35yuzq);
}
._1oa771a8 {
  background-color: var(--i35yuzp);
  border-top: 1px solid var(--i35yuzq);
}
._1oa771ac {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1oa771a6 {
    display: none;
  }
}
