._8ni4q71 {
  background-color: var(--ahhrtdl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--ahhrtdq);
}
._8ni4q72::before {
  content: "";
  position: absolute;
  min-height: var(--ajay9ac);
  min-width: var(--ajay9ac);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.h89b7y2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.h89b7y4 {
  border: 1px solid var(--ahhrtdq);
  background-color: var(--ahhrtdk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.h89b7y4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ahhrtdm);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.h89b7y4:hover::after {
  opacity: 1;
}
.h89b7y4:focus-visible::after {
  opacity: 1;
}
.h89b7y4:active:not([disabled]) {
  transform: scale(0.97);
}
.h89b7y4:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 0;
}
.h89b7y6 {
  isolation: isolate;
}
.h89b7y8 {
  height: var(--h89b7y0);
}
.h89b7ya {
  border-color: var(--ahhrtdc);
}
.h89b7ya::after {
  background-color: var(--ahhrtdh);
}
.h89b7yb {
  border-color: var(--ahhrtda);
}
.h89b7yb::after {
  background-color: var(--ahhrtdi);
}
.h89b7yc {
  --h89b7y0: var(--ajay9aq);
}
.h89b7yd {
  --h89b7y0: var(--ajay9ar);
}
.h89b7ye {
  --h89b7y0: var(--ajay9as);
}
.wgc6571 {
  --ahhrtd7: var(--ahhrtdd);
  background-color: var(--ahhrtdn);
  outline: 1px solid var(--ahhrtds);
  outline-offset: -1px;
}
._84tagv3 {
  background: transparent;
  outline: none;
  height: var(--_84tagv0) !important;
  width: var(--_84tagv0) !important;
}
._84tagv6 {
  padding: var(--_84tagv4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_84tagv1);
  isolation: isolate;
}
._84tagv3[data-pressed] ._84tagv6, ._84tagv3:active ._84tagv6 {
  transform: scale(.95);
}
._84tagv3:focus-visible ._84tagv6 {
  outline: 2px solid var(--ahhrtdt);
}
._84tagv3[aria-disabled="true"] ._84tagv6 {
  --_84tagv1: var(--ahhrtd9);
}
._84tagv7 {
  --_84tagv0: var(--ajay9aq);
  --_84tagv4: 6px;
}
._84tagv8 {
  --_84tagv0: var(--ajay9ar);
  --_84tagv4: var(--ajay9aj);
}
._84tagv9 {
  --_84tagv0: var(--ajay9as);
  --_84tagv4: var(--ajay9aj);
}
._84tagva {
  --_84tagv1: var(--ahhrtd7);
}
._84tagvb {
  --_84tagv1: var(--ahhrtdb);
}
._84tagvc {
  --_84tagv1: var(--ahhrtdc);
}
._84tagvd {
  background-color: var(--ahhrtdk);
  outline: 1px solid var(--ahhrtdq);
  outline-offset: -1px;
}
._84tagv3:not([aria-disabled="true"]):hover > ._84tagvd, ._84tagv3:not([aria-disabled="true"])[data-popup-open] > ._84tagvd {
  background-color: var(--ahhrtdm);
}
._84tagve {
  --_84tagv1: var(--ahhrtd8);
  background-color: var(--ahhrtdf);
}
._84tagv3:not([aria-disabled="true"]):hover > ._84tagve, ._84tagv3:not([aria-disabled="true"])[data-popup-open] > ._84tagve {
  background-color: var(--ahhrtdg);
}
._84tagv3:not([aria-disabled="true"]):hover > ._84tagvf, ._84tagv3:not([aria-disabled="true"])[data-popup-open] > ._84tagvf {
  background-color: var(--ahhrtdm);
}
._84tagvg {
  margin: calc((var(--_84tagv4) + 2px) * -1);
}
._84tagv6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._3pvdeo1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._3pvdeo2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._3pvdeo2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._3pvdeo4 {
  --_3pvdeo3: 30px;
}
._3pvdeo5 {
  --_3pvdeo3: 45px;
}
._3pvdeo6 {
  --_3pvdeo3: 60px;
}
._3pvdeo7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._3pvdeo8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._3pvdeo9 {
  overflow: auto;
}
._3pvdeoe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_3pvdeoc, 0)),linear-gradient(to right, transparent 0, black var(--_3pvdeoa, 0)),linear-gradient(to left, transparent 0, black var(--_3pvdeob, 0)),linear-gradient(to top, transparent 0, black var(--_3pvdeod, 0));
}
._3pvdeof {
  --_3pvdeoa: var(--_3pvdeo3);
}
._3pvdeog {
  --_3pvdeob: var(--_3pvdeo3);
}
._3pvdeoh {
  --_3pvdeoc: var(--_3pvdeo3);
}
._3pvdeoi {
  --_3pvdeod: var(--_3pvdeo3);
}
.n4iip42 {
  position: relative;
  background-color: transparent;
  border-radius: var(--ajay9a8);
  color: var(--n4iip40);
  isolation: isolate;
  outline: none;
}
.n4iip42[data-pressed], .n4iip42:active {
  transform: scale(.95);
}
.n4iip42::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--ajay9ai) * -1);
  background-color: var(--n4iip40);
  border-radius: var(--ajay9a8);
}
.n4iip42:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.n4iip42:hover, .n4iip42[data-popup-open]:not(:focus-visible) {
  color: var(--ahhrtd8);
}
.n4iip42:focus-visible::after {
  outline: 2px solid var(--ahhrtdt);
}
.n4iip42:focus-visible:not(:hover)::after {
  background: transparent;
}
.n4iip43 {
  --n4iip40: var(--ahhrtdb);
}
.n4iip44 {
  --n4iip40: var(--ahhrtdc);
}
.n4iip42 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._3jnf7n1 {
  justify-content: safe center;
}
._3jnf7n5 {
  flex-shrink: 0;
  width: var(--_3jnf7n2);
}
._3jnf7n5:last-child {
  padding-right: var(--ajay9an);
}
._3jnf7n6 {
  transition: color 150ms ease;
}
._3jnf7n5:hover ._3jnf7n6, ._3jnf7n5:focus-within ._3jnf7n6, ._3jnf7n3 ._3jnf7n6 {
  color: var(--ahhrtdb);
}
._3jnf7n8 {
  outline: 1px solid var(--ahhrtdq);
}
._3jnf7na {
  transition: opacity 150ms ease;
}
._3jnf7n5:not(:hover, :focus-within, ._3jnf7n3) ._3jnf7na {
  opacity: 1;
}
._3jnf7nc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._3jnf7na:hover ~ ._3jnf7n8 ._3jnf7nc, ._3jnf7na:focus-within ~ ._3jnf7n8._3jnf7nc {
  outline-color: var(--ahhrtdb);
}
._3jnf7ne {
  transition: opacity 150ms ease;
}
._3jnf7n5:not(:hover, :focus-within, ._3jnf7n3) ._3jnf7ne {
  opacity: 0;
}
._3h0w671 {
  color: var(--ahhrtd7);
  font-family: var(--ajay9a0);
}
._3h0w672 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._3h0w673 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._3h0w674 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
.sh75151 {
  display: flex;
  flex-direction: column;
  gap: var(--sh75150);
}
.sh75152 {
  --sh75150: var(--ajay9ag);
}
.sh75153 {
  --sh75150: var(--ajay9ah);
}
.sh75154 {
  --sh75150: var(--ajay9ai);
}
.sh75155 {
  --sh75150: var(--ajay9aj);
}
.sh75156 {
  --sh75150: var(--ajay9ak);
}
.sh75157 {
  --sh75150: var(--ajay9al);
}
.sh75158 {
  --sh75150: var(--ajay9am);
}
.sh75159 {
  --sh75150: var(--ajay9an);
}
.sh7515a {
  --sh75150: var(--ajay9ao);
}
.sh7515b {
  --sh75150: var(--ajay9ap);
}
.sh7515c {
  align-items: flex-start;
}
.sh7515d {
  align-items: center;
}
.sh7515e {
  align-items: flex-end;
}
.d640eu1 {
  backdrop-filter: blur(6px);
}
.d640eu1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--ahhrtdj);
  opacity: 0.4;
}
html[data-playroom-dark] .d640eu1::before {
  opacity: 0.7;
}
.d640eu1[data-starting-style]::before, .d640eu1[data-ending-style]::before {
  opacity: 0;
}
.d640eu3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--ajay9ak) * 2));
  max-height: calc(100dvh - (var(--ajay9ak) * 2));
}
.d640eu3[data-starting-style], .d640eu3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.d640eu7:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 2px;
}
._1soqoy52 {
  display: flex;
  flex-direction: row;
  gap: var(--_1soqoy50);
  align-items: var(--_1soqoy51);
}
._1soqoy53 {
  flex-wrap: wrap;
}
._1soqoy54 {
  --_1soqoy50: var(--ajay9ag);
}
._1soqoy55 {
  --_1soqoy50: var(--ajay9ah);
}
._1soqoy56 {
  --_1soqoy50: var(--ajay9ai);
}
._1soqoy57 {
  --_1soqoy50: var(--ajay9aj);
}
._1soqoy58 {
  --_1soqoy50: var(--ajay9ak);
}
._1soqoy59 {
  --_1soqoy50: var(--ajay9al);
}
._1soqoy5a {
  --_1soqoy50: var(--ajay9am);
}
._1soqoy5b {
  --_1soqoy50: var(--ajay9an);
}
._1soqoy5c {
  --_1soqoy50: var(--ajay9ao);
}
._1soqoy5d {
  --_1soqoy50: var(--ajay9ap);
}
._1soqoy5e {
  align-items: flex-start;
}
._1soqoy5f {
  align-items: center;
}
._1soqoy5g {
  align-items: flex-end;
}
.x9bgel0 {
  isolation: isolate;
  white-space: nowrap;
}
.x9bgel1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .x9bgel3 {
    display: none;
  }
}
._36f31q2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._36f31q3 {
  width: 250px;
}
._36f31q6 {
  --_36f31q4: var(--ahhrtdm);
  outline: none;
  cursor: default;
  color: var(--ahhrtd7);
  height: 34px;
  isolation: isolate;
}
._36f31q6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--ajay9a8);
  z-index: -1;
}
._36f31q6[data-popup-open]:not([aria-disabled])::before, ._36f31q6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_36f31q4);
}
._36f31q6:focus-visible::before {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: -2px;
}
._36f31q6[aria-disabled] {
  color: var(--ahhrtd9);
  cursor: not-allowed;
}
._36f31q7 {
  cursor: pointer;
  text-decoration: none;
}
._36f31q7[aria-disabled] {
  cursor: not-allowed;
}
._36f31q8 {
  margin-left: 3px;
}
._36f31q9 {
  --_36f31q4: var(--ahhrtdi);
  color: var(--ahhrtda);
}
._36f31qa {
  --_36f31q4: transparent;
  color: var(--ahhrtdc);
}
._36f31qa svg {
  color: var(--ahhrtdc);
}
._36f31qc {
  isolation: isolate;
}
._36f31qg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._36f31qi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--ahhrtd7);
  z-index: 1;
}
[aria-checked="true"] ._36f31qi {
  color: var(--ahhrtd8);
}
._36f31qk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--ahhrtd7);
  isolation: isolate;
}
[aria-checked="true"] ._36f31qk {
  background-color: var(--ahhrtde);
  border-color: var(--ahhrtde);
}
._36f31qp {
  height: 34px;
}
._36f31qr {
  height: 1px;
  background-color: var(--ahhrtdq);
}
._36f31qs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._36f31qu {
  background: transparent;
  border: none;
}
._36f31qu:hover, ._36f31qu[data-highlighted] {
  background-color: var(--ahhrtdm);
}
._36f31qu:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: -2px;
}
._1ipy0xi0 {
  width: 200px;
}
.h35pc51 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ahhrtdk);
}
.h35pc52 {
  width: fit-content;
}
.h35pc54 {
  width: fit-content;
  justify-self: flex-end;
}
.h35pc57:not(.h35pc55) {
  opacity: 0;
  transform: translateX(var(--ajay9aj));
  pointer-events: none;
}
.h35pc59 {
  background: transparent;
  color: var(--ahhrtdf);
  isolation: isolate;
}
.h35pc59::after {
  content: "";
  position: absolute;
  transition: var(--ajay9af);
  z-index: -1;
  inset: calc(var(--ajay9aj) * -1);
  background-color: var(--ahhrtdm);
  border-radius: var(--ajay9a9);
}
.h35pc59:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 6px;
}
.h35pc59:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.h35pc5b {
  margin: calc(var(--ajay9ak) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.h35pc5f {
  appearance: none;
  outline: none;
  background: var(--ahhrtdk);
  color: var(--ahhrtd7);
  border: 1px solid var(--ahhrtdq);
  height: var(--ajay9ar);
}
.h35pc5f:hover, .h35pc5f[data-popup-open] {
  background-color: var(--ahhrtdm);
}
.h35pc5f:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  z-index: 1;
}
.h35pc5h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.h35pc5j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.h35pc5k {
  color: var(--ahhrtdc);
}
.h35pc5m {
  height: 1px;
  background-color: var(--ahhrtdq);
}
@media screen and (max-width: 767px) {
  .h35pc54 {
    display: none;
  }
}
._1pz52sk2 {
  flex: 1;
  min-height: 0;
}
._1pz52sk5 {
  --_1pz52sk3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1pz52sk3), 1fr);
}
._1pz52sk7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1pz52sk9 {
  height: calc(100% / var(--_1pz52sk0));
  width: calc(100% / var(--_1pz52sk0));
  border-radius: calc(var(--ajay9a9) / var(--_1pz52sk0));
  transform: scale(var(--_1pz52sk0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1pz52sk0));
}
._1pz52skb {
  background: var(--ahhrtdm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1pz52skd {
  background: transparent;
  outline: 1px solid var(--ahhrtdq);
}
._1pz52skd:hover {
  outline: 2px solid var(--ahhrtdr);
}
._1pz52skd:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 2px;
}
._1pz52skh {
  list-style: none;
}
._1pz52skj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--ahhrtdq);
}
._1pz52skj:hover {
  outline: 2px solid var(--ahhrtdr);
}
._1pz52skj:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1pz52sk5 {
    --_1pz52sk3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1pz52sk5 {
    --_1pz52sk3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1pz52sk5 {
    --_1pz52sk3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1pz52sk5 {
    --_1pz52sk3: 5;
  }
}
.rx1y3s1 {
  width: fit-content;
}
.rx1y3s3:focus-visible ~ .rx1y3s5 {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 4px;
}
.rx1y3s8 {
  min-width: 0;
}
.rx1y3s9 {
  flex-shrink: 0;
}
.zv10ss2 {
  outline: none;
  height: var(--ajay9ar);
  color: var(--ahhrtd7);
  background: transparent;
}
.zv10ss2::placeholder {
  color: var(--ahhrtd9);
  font-weight: strong;
}
.zv10ss2:hover:not(:focus-visible), .zv10ss2:hover:not(:focus-visible)::placeholder {
  background: var(--ahhrtdm);
  opacity: 1;
  color: transparent;
}
.zv10ss2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.zv10ss2:focus-visible {
  outline: 2px solid var(--ahhrtdt);
  outline-offset: 0;
  opacity: 1;
}
.zv10ss2:focus-visible::placeholder {
  color: transparent;
}
.zv10ss4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--ahhrtd7);
}
.zv10ss2:focus-visible ~ .zv10ss4 {
  opacity: 0;
}
.zv10ss5 {
  color: var(--ahhrtd9);
}
._1qbb01u3 {
  border: 1px solid var(--ahhrtdq);
}
._1qbb01u5 {
  background-color: var(--ahhrtdp);
  border-bottom: 1px solid var(--ahhrtdq);
}
._1qbb01u8 {
  background-color: var(--ahhrtdp);
  border-top: 1px solid var(--ahhrtdq);
}
._1qbb01uc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1qbb01u6 {
    display: none;
  }
}
