._1qxap741 {
  background-color: var(--_1sb87uhm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1sb87uhr);
}
._1qxap742::before {
  content: "";
  position: absolute;
  min-height: var(--_1jo4csyc);
  min-width: var(--_1jo4csyc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._47yafa2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._47yafa4 {
  border: 1px solid var(--_1sb87uhr);
  background-color: var(--_1sb87uhl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._47yafa4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1sb87uhn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._47yafa4:hover::after {
  opacity: 1;
}
._47yafa4:focus-visible::after {
  opacity: 1;
}
._47yafa4:active:not([disabled]) {
  transform: scale(0.97);
}
._47yafa4:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 0;
}
._47yafa6 {
  isolation: isolate;
}
._47yafa8 {
  height: var(--_47yafa0);
}
._47yafaa {
  border-color: var(--_1sb87uhc);
}
._47yafaa::after {
  background-color: var(--_1sb87uhi);
}
._47yafab {
  border-color: var(--_1sb87uha);
}
._47yafab::after {
  background-color: var(--_1sb87uhj);
}
._47yafac {
  --_47yafa0: var(--_1jo4csyq);
}
._47yafad {
  --_47yafa0: var(--_1jo4csyr);
}
._47yafae {
  --_47yafa0: var(--_1jo4csys);
}
.nuob3a1 {
  --_1sb87uh7: var(--_1sb87uhd);
  background-color: var(--_1sb87uho);
  outline: 1px solid var(--_1sb87uht);
  outline-offset: -1px;
}
._19n6gw53 {
  background: transparent;
  outline: none;
  height: var(--_19n6gw50) !important;
  width: var(--_19n6gw50) !important;
}
._19n6gw56 {
  padding: var(--_19n6gw54);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._19n6gw53:active ._19n6gw56 {
  transform: scale(.95);
}
._19n6gw53:focus-visible ._19n6gw56 {
  outline: 2px solid var(--_1sb87uhu);
}
._19n6gw53[aria-disabled="true"] ._19n6gw56 {
  --_19n6gw51: var(--_1sb87uh9);
}
._19n6gw57 {
  --_19n6gw50: var(--_1jo4csyq);
  --_19n6gw54: var(--_1jo4csyi);
}
._19n6gw58 {
  --_19n6gw50: var(--_1jo4csyr);
  --_19n6gw54: var(--_1jo4csyj);
}
._19n6gw59 {
  --_19n6gw50: var(--_1jo4csys);
  --_19n6gw54: var(--_1jo4csyj);
}
._19n6gw5j {
  --_19n6gw5a: var(--_1sb87uh7);
  --_19n6gw5b: var(--_1sb87uhl);
  --_19n6gw5c: var(--_1sb87uhn);
  --_19n6gw5d: var(--_1sb87uh8);
  --_19n6gw5e: var(--_1sb87uhg);
  --_19n6gw5f: var(--_1sb87uhh);
  --_19n6gw5g: var(--_1sb87uh7);
  --_19n6gw5h: var(--_1sb87uh7);
  --_19n6gw5i: var(--_1sb87uhn);
}
._19n6gw5k {
  --_19n6gw5a: var(--_1sb87uhb);
  --_19n6gw5b: var(--_1sb87uhl);
  --_19n6gw5c: var(--_1sb87uhn);
  --_19n6gw5d: var(--_1sb87uh8);
  --_19n6gw5e: var(--_1sb87uhb);
  --_19n6gw5f: var(--_1sb87uhf);
  --_19n6gw5g: var(--_1sb87uhb);
  --_19n6gw5h: var(--_1sb87uh8);
  --_19n6gw5i: var(--_1sb87uhe);
}
._19n6gw5l {
  color: var(--_19n6gw5a);
  background-color: var(--_19n6gw5b);
  outline: 1px solid var(--_1sb87uhr);
  outline-offset: -1px;
}
._19n6gw53:not([aria-disabled="true"]):hover > ._19n6gw5l, ._19n6gw53:not([aria-disabled="true"]):focus-visible > ._19n6gw5l, ._19n6gw53:not([aria-disabled="true"])[data-popup-open] > ._19n6gw5l {
  background-color: var(--_19n6gw5c);
}
._19n6gw5m {
  color: var(--_19n6gw5d);
  background-color: var(--_19n6gw5e);
}
._19n6gw53:not([aria-disabled="true"]):hover > ._19n6gw5m, ._19n6gw53:not([aria-disabled="true"]):focus-visible > ._19n6gw5m, ._19n6gw53:not([aria-disabled="true"])[data-popup-open] > ._19n6gw5m {
  background-color: var(--_19n6gw5f);
}
._19n6gw5n {
  color: var(--_19n6gw5g);
}
._19n6gw53:not([aria-disabled="true"]):hover > ._19n6gw5n, ._19n6gw53:not([aria-disabled="true"]):focus-visible > ._19n6gw5n, ._19n6gw53:not([aria-disabled="true"])[data-popup-open] > ._19n6gw5n {
  color: var(--_19n6gw5h);
  background-color: var(--_19n6gw5i);
}
._19n6gw5o {
  margin: calc((var(--_19n6gw54) + 2px) * -1);
}
._19n6gw56 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.cy6kos0 {
  isolation: isolate;
  white-space: nowrap;
}
.cy6kos1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .cy6kos3 {
    display: none;
  }
}
.lqt1zy1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.lqt1zy2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.lqt1zy2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.lqt1zy4 {
  --lqt1zy3: 30px;
}
.lqt1zy5 {
  --lqt1zy3: 45px;
}
.lqt1zy6 {
  --lqt1zy3: 60px;
}
.lqt1zy7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.lqt1zy8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.lqt1zy9 {
  overflow: auto;
}
.lqt1zye {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--lqt1zyc, 0)),linear-gradient(to right, transparent 0, black var(--lqt1zya, 0)),linear-gradient(to left, transparent 0, black var(--lqt1zyb, 0)),linear-gradient(to top, transparent 0, black var(--lqt1zyd, 0));
}
.lqt1zyf {
  --lqt1zya: var(--lqt1zy3);
}
.lqt1zyg {
  --lqt1zyb: var(--lqt1zy3);
}
.lqt1zyh {
  --lqt1zyc: var(--lqt1zy3);
}
.lqt1zyi {
  --lqt1zyd: var(--lqt1zy3);
}
.v57g642 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.v57g643 {
  width: 250px;
}
.v57g646 {
  --v57g644: var(--_1sb87uhn);
  outline: none;
  cursor: default;
  color: var(--_1sb87uh7);
  height: 34px;
  isolation: isolate;
}
.v57g646::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1jo4csy8);
  z-index: -1;
}
.v57g646[data-popup-open]:not([aria-disabled])::before, .v57g646[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--v57g644);
}
.v57g646:focus-visible::before {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: -2px;
}
.v57g646[aria-disabled] {
  color: var(--_1sb87uh9);
  cursor: not-allowed;
}
.v57g647 {
  cursor: pointer;
  text-decoration: none;
}
.v57g647[aria-disabled] {
  cursor: not-allowed;
}
.v57g648 {
  margin-left: 3px;
}
.v57g649 {
  --v57g644: var(--_1sb87uhj);
  color: var(--_1sb87uha);
}
.v57g64a {
  --v57g644: transparent;
  color: var(--_1sb87uhc);
}
.v57g64a svg {
  color: var(--_1sb87uhc);
}
.v57g64c {
  isolation: isolate;
}
.v57g64g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.v57g64i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1sb87uh7);
  z-index: 1;
}
[aria-checked="true"] .v57g64i {
  color: var(--_1sb87uh8);
}
.v57g64k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1sb87uh7);
  isolation: isolate;
}
[aria-checked="true"] .v57g64k {
  background-color: var(--_1sb87uhe);
  border-color: var(--_1sb87uhe);
}
.v57g64p {
  height: 34px;
}
.v57g64r {
  height: 1px;
  background-color: var(--_1sb87uhr);
}
.v57g64t {
  background: transparent;
  border: none;
}
.v57g64t:hover, .v57g64t[data-highlighted] {
  background-color: var(--_1sb87uhn);
}
.v57g64t:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: -2px;
}
.pc729z1 {
  justify-content: safe center;
}
.pc729z5 {
  flex-shrink: 0;
  width: var(--pc729z2);
}
.pc729z5:last-child {
  padding-right: var(--_1jo4csyn);
}
.pc729z6 {
  transition: color 150ms ease;
}
.pc729z5:hover .pc729z6, .pc729z5:focus-within .pc729z6, .pc729z3 .pc729z6 {
  color: var(--_1sb87uhb);
}
.pc729z8 {
  outline: 1px solid var(--_1sb87uhr);
}
.pc729za {
  transition: opacity 150ms ease;
}
.pc729z5:not(:hover, :focus-within, .pc729z3) .pc729za {
  opacity: 1;
}
.pc729zc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.pc729za:hover ~ .pc729z8 .pc729zc, .pc729za:focus-within ~ .pc729z8.pc729zc {
  outline-color: var(--_1sb87uhb);
}
.pc729ze {
  transition: opacity 150ms ease;
}
.pc729z5:not(:hover, :focus-within, .pc729z3) .pc729ze {
  opacity: 0;
}
.zco0w51 {
  color: var(--_1sb87uh7);
  font-family: var(--_1jo4csy0);
}
.zco0w52 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
.zco0w53 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
.zco0w54 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.dcndyd1 {
  display: flex;
  flex-direction: column;
  gap: var(--dcndyd0);
}
.dcndyd2 {
  --dcndyd0: var(--_1jo4csyg);
}
.dcndyd3 {
  --dcndyd0: var(--_1jo4csyh);
}
.dcndyd4 {
  --dcndyd0: var(--_1jo4csyi);
}
.dcndyd5 {
  --dcndyd0: var(--_1jo4csyj);
}
.dcndyd6 {
  --dcndyd0: var(--_1jo4csyk);
}
.dcndyd7 {
  --dcndyd0: var(--_1jo4csyl);
}
.dcndyd8 {
  --dcndyd0: var(--_1jo4csym);
}
.dcndyd9 {
  --dcndyd0: var(--_1jo4csyn);
}
.dcndyda {
  --dcndyd0: var(--_1jo4csyo);
}
.dcndydb {
  --dcndyd0: var(--_1jo4csyp);
}
.dcndydc {
  align-items: flex-start;
}
.dcndydd {
  align-items: center;
}
.dcndyde {
  align-items: flex-end;
}
._45n7mb1 {
  backdrop-filter: blur(6px);
}
._45n7mb1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1sb87uhk);
  opacity: 0.4;
}
html[data-playroom-dark] ._45n7mb1::before {
  opacity: 0.7;
}
._45n7mb1[data-starting-style]::before, ._45n7mb1[data-ending-style]::before {
  opacity: 0;
}
._45n7mb3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1jo4csyk) * 2));
  max-height: calc(100dvh - (var(--_1jo4csyk) * 2));
}
._45n7mb3[data-starting-style], ._45n7mb3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._45n7mb7:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 2px;
}
.ye3tzy2 {
  display: flex;
  flex-direction: row;
  gap: var(--ye3tzy0);
  align-items: var(--ye3tzy1);
}
.ye3tzy3 {
  flex-wrap: wrap;
}
.ye3tzy4 {
  --ye3tzy0: var(--_1jo4csyg);
}
.ye3tzy5 {
  --ye3tzy0: var(--_1jo4csyh);
}
.ye3tzy6 {
  --ye3tzy0: var(--_1jo4csyi);
}
.ye3tzy7 {
  --ye3tzy0: var(--_1jo4csyj);
}
.ye3tzy8 {
  --ye3tzy0: var(--_1jo4csyk);
}
.ye3tzy9 {
  --ye3tzy0: var(--_1jo4csyl);
}
.ye3tzya {
  --ye3tzy0: var(--_1jo4csym);
}
.ye3tzyb {
  --ye3tzy0: var(--_1jo4csyn);
}
.ye3tzyc {
  --ye3tzy0: var(--_1jo4csyo);
}
.ye3tzyd {
  --ye3tzy0: var(--_1jo4csyp);
}
.ye3tzye {
  align-items: flex-start;
}
.ye3tzyf {
  align-items: center;
}
.ye3tzyg {
  align-items: flex-end;
}
._1pptvtk0 {
  width: 200px;
}
._42sxul1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1sb87uhl);
}
._42sxul2 {
  width: fit-content;
}
._42sxul4 {
  width: fit-content;
  justify-self: flex-end;
}
._42sxul7:not(._42sxul5) {
  opacity: 0;
  transform: translateX(var(--_1jo4csyj));
  pointer-events: none;
}
._42sxul9 {
  background: transparent;
  color: var(--_1sb87uhg);
  isolation: isolate;
}
._42sxul9::after {
  content: "";
  position: absolute;
  transition: var(--_1jo4csyf);
  z-index: -1;
  inset: calc(var(--_1jo4csyj) * -1);
  background-color: var(--_1sb87uhn);
  border-radius: var(--_1jo4csy9);
}
._42sxul9:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 6px;
}
._42sxul9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._42sxulb {
  margin: calc(var(--_1jo4csyk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._42sxulf {
  appearance: none;
  outline: none;
  background: var(--_1sb87uhl);
  color: var(--_1sb87uh7);
  border: 1px solid var(--_1sb87uhr);
  height: var(--_1jo4csyr);
}
._42sxulf:hover, ._42sxulf[data-popup-open] {
  background-color: var(--_1sb87uhn);
}
._42sxulf:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  z-index: 1;
}
._42sxulh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._42sxulj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._42sxulk {
  color: var(--_1sb87uhc);
}
._42sxulm {
  height: 1px;
  background-color: var(--_1sb87uhr);
}
@media screen and (max-width: 767px) {
  ._42sxul4 {
    display: none;
  }
}
._11ywu2k2 {
  flex: 1;
  min-height: 0;
}
._11ywu2k5 {
  --_11ywu2k3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_11ywu2k3), 1fr);
}
._11ywu2k7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._11ywu2k9 {
  height: calc(100% / var(--_11ywu2k0));
  width: calc(100% / var(--_11ywu2k0));
  border-radius: calc(var(--_1jo4csy9) / var(--_11ywu2k0));
  transform: scale(var(--_11ywu2k0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_11ywu2k0));
}
._11ywu2kb {
  background: var(--_1sb87uhn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._11ywu2kd {
  background: transparent;
  outline: 1px solid var(--_1sb87uhr);
}
._11ywu2kd:hover {
  outline: 2px solid var(--_1sb87uhs);
}
._11ywu2kd:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 2px;
}
._11ywu2kh {
  list-style: none;
}
._11ywu2kj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1sb87uhr);
}
._11ywu2kj:hover {
  outline: 2px solid var(--_1sb87uhs);
}
._11ywu2kj:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._11ywu2k5 {
    --_11ywu2k3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._11ywu2k5 {
    --_11ywu2k3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._11ywu2k5 {
    --_11ywu2k3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._11ywu2k5 {
    --_11ywu2k3: 5;
  }
}
._11kc4b31 {
  width: fit-content;
}
._11kc4b33:focus-visible ~ ._11kc4b35 {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 4px;
}
._11kc4b38 {
  min-width: 0;
}
._11kc4b39 {
  flex-shrink: 0;
}
._11mjxp52 {
  outline: none;
  height: var(--_1jo4csyr);
  color: var(--_1sb87uh7);
  background: transparent;
}
._11mjxp52::placeholder {
  color: var(--_1sb87uh9);
  font-weight: strong;
}
._11mjxp52:hover:not(:focus-visible), ._11mjxp52:hover:not(:focus-visible)::placeholder {
  background: var(--_1sb87uhn);
  opacity: 1;
  color: transparent;
}
._11mjxp52:hover:not(:focus-visible)::selection {
  background: transparent;
}
._11mjxp52:focus-visible {
  outline: 2px solid var(--_1sb87uhu);
  outline-offset: 0;
  opacity: 1;
}
._11mjxp52:focus-visible::placeholder {
  color: transparent;
}
._11mjxp54 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1sb87uh7);
}
._11mjxp52:focus-visible ~ ._11mjxp54 {
  opacity: 0;
}
._11mjxp55 {
  color: var(--_1sb87uh9);
}
.h7rlz13 {
  border: 1px solid var(--_1sb87uhr);
}
.h7rlz15 {
  background-color: var(--_1sb87uhq);
  border-bottom: 1px solid var(--_1sb87uhr);
}
.h7rlz18 {
  background-color: var(--_1sb87uhq);
  border-top: 1px solid var(--_1sb87uhr);
}
.h7rlz1c {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .h7rlz16 {
    display: none;
  }
}
