._12fsi3u1 {
  background-color: var(--y19odpl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--y19odpo);
}
._12fsi3u2::before {
  content: "";
  position: absolute;
  min-height: var(--l9n0f8c);
  min-width: var(--l9n0f8c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._13pyoj52 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._13pyoj54 {
  border: 1px solid var(--y19odpo);
  background-color: var(--y19odpk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._13pyoj54::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--y19odpm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._13pyoj54:hover::after {
  opacity: 1;
}
._13pyoj54:focus-visible::after {
  opacity: 1;
}
._13pyoj54:active:not([disabled]) {
  transform: scale(0.97);
}
._13pyoj54:focus-visible {
  outline: 2px solid var(--y19odpr);
  outline-offset: 0;
}
._13pyoj56 {
  height: var(--_13pyoj50);
}
._13pyoj58 {
  border-color: var(--y19odpc);
}
._13pyoj58::after {
  background-color: var(--y19odph);
}
._13pyoj59 {
  border-color: var(--y19odpa);
}
._13pyoj59::after {
  background-color: var(--y19odpi);
}
._13pyoj5a {
  --_13pyoj50: var(--l9n0f8q);
}
._13pyoj5b {
  --_13pyoj50: var(--l9n0f8r);
}
._13pyoj5c {
  --_13pyoj50: var(--l9n0f8s);
}
._1e1wew21 {
  --y19odp7: var(--y19odpd);
  background-color: var(--y19odpn);
  outline: 1px solid var(--y19odpq);
  outline-offset: -1px;
}
.shqpfb3 {
  background: transparent;
  outline: none;
  height: var(--shqpfb0);
  width: var(--shqpfb0);
}
.shqpfb5 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--shqpfb1);
  isolation: isolate;
}
.shqpfb3[data-pressed] .shqpfb5, .shqpfb3:active .shqpfb5 {
  transform: scale(.95);
}
.shqpfb3:focus-visible .shqpfb5 {
  outline: 2px solid var(--y19odpr);
}
.shqpfb6 {
  --shqpfb0: var(--l9n0f8q);
}
.shqpfb7 {
  --shqpfb0: var(--l9n0f8r);
}
.shqpfb8 {
  --shqpfb0: var(--l9n0f8s);
}
.shqpfb9 {
  --shqpfb1: var(--y19odp7);
}
.shqpfba {
  --shqpfb1: var(--y19odpb);
}
.shqpfbb {
  --shqpfb1: var(--y19odpc);
}
.shqpfbc {
  background-color: var(--y19odpk);
  outline: 1px solid var(--y19odpo);
  outline-offset: -1px;
}
.shqpfbc:hover, [data-popup-open] > .shqpfbc {
  background-color: var(--y19odpm);
}
.shqpfbd {
  --shqpfb1: var(--y19odp8);
  background-color: var(--y19odpf);
}
.shqpfbd:hover, [data-popup-open] > .shqpfbd {
  background-color: var(--y19odpg);
}
.shqpfbe:hover, [data-popup-open] > .shqpfbe {
  background-color: var(--y19odpm);
}
.shqpfbf {
  margin: calc((var(--l9n0f8j) + 2px) * -1);
}
.shqpfb5 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.jpz7210 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .jpz7211 {
    display: none;
  }
}
._9qvxi51 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._9qvxi52 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._9qvxi52::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._9qvxi54 {
  --_9qvxi53: 40px;
}
._9qvxi55 {
  --_9qvxi53: 60px;
}
._9qvxi56 {
  --_9qvxi53: 80px;
}
._9qvxi57 {
  overflow-x: auto;
  overflow-y: hidden;
}
._9qvxi58 {
  overflow-x: hidden;
  overflow-y: auto;
}
._9qvxi59 {
  overflow: auto;
}
._9qvxi5e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_9qvxi5c, 0)),linear-gradient(to right, transparent 0, black var(--_9qvxi5a, 0)),linear-gradient(to left, transparent 0, black var(--_9qvxi5b, 0)),linear-gradient(to top, transparent 0, black var(--_9qvxi5d, 0));
}
._9qvxi5f {
  --_9qvxi5a: var(--_9qvxi53);
}
._9qvxi5g {
  --_9qvxi5b: var(--_9qvxi53);
}
._9qvxi5h {
  --_9qvxi5c: var(--_9qvxi53);
}
._9qvxi5i {
  --_9qvxi5d: var(--_9qvxi53);
}
._18nln090 {
  transition: var(--l9n0f8e);
  transform-origin: 50% 50%;
}
._18nln091 {
  transform: rotate(90deg);
}
._18nln092 {
  transform: rotate(180deg);
}
._18nln093 {
  transform: rotate(270deg);
}
._72f8nl2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._72f8nl3 {
  width: 250px;
}
._72f8nl6 {
  --_72f8nl4: var(--y19odpm);
  outline: none;
  cursor: default;
  color: var(--y19odp7);
  height: 34px;
}
._72f8nl6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--l9n0f88);
}
._72f8nl6[data-popup-open]:not([aria-disabled])::before, ._72f8nl6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_72f8nl4);
}
._72f8nl6:focus-visible::before {
  outline: 2px solid var(--y19odpr);
  outline-offset: -2px;
}
._72f8nl6[aria-disabled] {
  color: var(--y19odp9);
  cursor: not-allowed;
}
._72f8nl7 {
  cursor: pointer;
  text-decoration: none;
}
._72f8nl7[aria-disabled] {
  cursor: not-allowed;
}
._72f8nl8 {
  --_72f8nl4: var(--y19odpi);
  color: var(--y19odpa);
}
._72f8nl9 {
  --_72f8nl4: transparent;
  color: var(--y19odpc);
}
._72f8nl9 svg {
  color: var(--y19odpc);
}
._72f8nlb {
  isolation: isolate;
}
._72f8nlf {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._72f8nlh {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--y19odp7);
  z-index: 1;
}
[aria-checked="true"] ._72f8nlh {
  color: var(--y19odp8);
}
._72f8nlj {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--y19odp7);
  isolation: isolate;
}
[aria-checked="true"] ._72f8nlj {
  background-color: var(--y19odpe);
  border-color: var(--y19odpe);
}
._72f8nlm {
  height: 1px;
  background-color: var(--y19odpo);
}
._72f8nln {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._72f8nlp {
  background: transparent;
  border: none;
  margin: calc(var(--l9n0f8j) * -1);
}
._72f8nlp:hover, ._72f8nlp[data-highlighted] {
  background-color: var(--y19odpm);
}
._72f8nlp:focus-visible {
  outline: 2px solid var(--y19odpr);
  outline-offset: -2px;
}
._1sfya012 {
  position: relative;
  background-color: transparent;
  border-radius: var(--l9n0f88);
  color: var(--_1sfya010);
  isolation: isolate;
  outline: none;
}
._1sfya012[data-pressed], ._1sfya012:active {
  transform: scale(.95);
}
._1sfya012::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--l9n0f8i) * -1);
  background-color: var(--_1sfya010);
  border-radius: var(--l9n0f88);
}
._1sfya012:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1sfya012:hover, ._1sfya012[data-popup-open]:not(:focus-visible) {
  color: var(--y19odp8);
}
._1sfya012:focus-visible::after {
  outline: 2px solid var(--y19odpr);
}
._1sfya012:focus-visible:not(:hover)::after {
  background: transparent;
}
._1sfya013 {
  --_1sfya010: var(--y19odpb);
}
._1sfya014 {
  --_1sfya010: var(--y19odpc);
}
._1sfya012 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1rg06ei1 {
  justify-content: safe center;
}
._1rg06ei5 {
  flex-shrink: 0;
  width: var(--_1rg06ei2);
}
._1rg06ei6 {
  transition: color 150ms ease;
}
._1rg06ei5:hover ._1rg06ei6, ._1rg06ei5:focus-within ._1rg06ei6, ._1rg06ei3 ._1rg06ei6 {
  color: var(--y19odpb);
}
._1rg06ei8 {
  outline: 1px solid var(--y19odpo);
}
._1rg06eia {
  transition: opacity 150ms ease;
}
._1rg06ei5:not(:hover, :focus-within, ._1rg06ei3) ._1rg06eia {
  opacity: 1;
}
._1rg06eic {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1rg06eia:hover ~ ._1rg06ei8 ._1rg06eic, ._1rg06eia:focus-within ~ ._1rg06ei8._1rg06eic {
  outline-color: var(--y19odpb);
}
._1rg06eie {
  transition: opacity 150ms ease;
}
._1rg06ei5:not(:hover, :focus-within, ._1rg06ei3) ._1rg06eie {
  opacity: 0;
}
._1jr4clp1 {
  color: var(--y19odp7);
  font-family: var(--l9n0f80);
}
._1jr4clp2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._1jr4clp3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
._1jr4clp4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._3v8wip1 {
  display: flex;
  flex-direction: column;
  gap: var(--_3v8wip0);
}
._3v8wip2 {
  --_3v8wip0: var(--l9n0f8g);
}
._3v8wip3 {
  --_3v8wip0: var(--l9n0f8h);
}
._3v8wip4 {
  --_3v8wip0: var(--l9n0f8i);
}
._3v8wip5 {
  --_3v8wip0: var(--l9n0f8j);
}
._3v8wip6 {
  --_3v8wip0: var(--l9n0f8k);
}
._3v8wip7 {
  --_3v8wip0: var(--l9n0f8l);
}
._3v8wip8 {
  --_3v8wip0: var(--l9n0f8m);
}
._3v8wip9 {
  --_3v8wip0: var(--l9n0f8n);
}
._3v8wipa {
  --_3v8wip0: var(--l9n0f8o);
}
._3v8wipb {
  --_3v8wip0: var(--l9n0f8p);
}
._1i58uo11 {
  backdrop-filter: blur(6px);
}
._1i58uo11::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--y19odpj);
  opacity: 0.4;
}
html[data-playroom-dark] ._1i58uo11::before {
  opacity: 0.7;
}
._1i58uo11[data-starting-style]::before, ._1i58uo11[data-ending-style]::before {
  opacity: 0;
}
._1i58uo13 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--l9n0f8k) * 2));
  max-height: calc(100dvh - (var(--l9n0f8k) * 2));
}
._1i58uo13[data-starting-style], ._1i58uo13[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1i58uo17:focus-visible {
  outline: 2px solid var(--y19odpr);
  outline-offset: 2px;
}
.wuz7k62 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--wuz7k60);
  align-items: var(--wuz7k61);
}
.wuz7k63 {
  --wuz7k60: var(--l9n0f8g);
}
.wuz7k64 {
  --wuz7k60: var(--l9n0f8h);
}
.wuz7k65 {
  --wuz7k60: var(--l9n0f8i);
}
.wuz7k66 {
  --wuz7k60: var(--l9n0f8j);
}
.wuz7k67 {
  --wuz7k60: var(--l9n0f8k);
}
.wuz7k68 {
  --wuz7k60: var(--l9n0f8l);
}
.wuz7k69 {
  --wuz7k60: var(--l9n0f8m);
}
.wuz7k6a {
  --wuz7k60: var(--l9n0f8n);
}
.wuz7k6b {
  --wuz7k60: var(--l9n0f8o);
}
.wuz7k6c {
  --wuz7k60: var(--l9n0f8p);
}
.wuz7k6d {
  align-items: flex-start;
}
.wuz7k6e {
  align-items: center;
}
.wuz7k6f {
  align-items: flex-end;
}
.b8489g3 {
  --b8489g1: 1;
  display: grid;
  grid-template-columns: repeat(var(--b8489g1), 1fr);
}
.b8489g5 {
  aspect-ratio: 5/4;
  list-style: none;
}
.b8489g7 {
  height: calc(100% / var(--b8489g0));
  width: calc(100% / var(--b8489g0));
  border-radius: calc(var(--l9n0f89) / var(--b8489g0));
  transform: scale(var(--b8489g0));
  transform-origin: 0 0;
  padding: calc(1px / var(--b8489g0));
}
.b8489g9 {
  background: var(--y19odpm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.b8489gb {
  background: transparent;
  outline: 1px solid var(--y19odpo);
}
.b8489gb:hover {
  outline: 2px solid var(--y19odpp);
}
.b8489gb:focus-visible {
  outline: 2px solid var(--y19odpr);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .b8489g3 {
    --b8489g1: 2;
  }
}
@media screen and (min-width: 800px) {
  .b8489g3 {
    --b8489g1: 3;
  }
}
@media screen and (min-width: 1200px) {
  .b8489g3 {
    --b8489g1: 4;
  }
}
@media screen and (min-width: 1600px) {
  .b8489g3 {
    --b8489g1: 5;
  }
}
._1q7plxq1 {
  width: fit-content;
}
._1q7plxq3:focus-visible ~ ._1q7plxq5 {
  outline: 2px solid var(--y19odpr);
  outline-offset: 4px;
}
._1q7plxq8 {
  min-width: 0;
}
._1q7plxq9 {
  flex-shrink: 0;
}
._7j01s62 {
  outline: none;
  height: var(--l9n0f8r);
  color: var(--y19odp7);
  background: transparent;
}
._7j01s62::placeholder {
  color: var(--y19odp9);
  font-weight: normal;
}
._7j01s62:hover:not(:focus-visible) {
  background: var(--y19odpm);
  opacity: 1;
  color: transparent;
}
._7j01s62:hover:not(:focus-visible)::selection {
  background: transparent;
}
._7j01s62:focus-visible {
  outline: 2px solid var(--y19odpr);
  opacity: 1;
}
._7j01s62:focus-visible::placeholder {
  color: transparent;
}
._7j01s64 {
  max-width: 50vw;
  min-width: 240px;
}
._7j01s62:focus-visible ~ ._7j01s64 {
  opacity: 0;
}
._7j01s65 {
  white-space: pre;
}
.dr6fl41 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--y19odpk);
}
.dr6fl42 {
  width: fit-content;
}
.dr6fl44 {
  width: fit-content;
  justify-self: flex-end;
}
.dr6fl47:not(.dr6fl45) {
  opacity: 0;
  transform: translateX(var(--l9n0f8j));
  pointer-events: none;
}
.dr6fl49 {
  background: transparent;
  color: var(--y19odpf);
  isolation: isolate;
}
.dr6fl49::after {
  content: "";
  position: absolute;
  transition: var(--l9n0f8f);
  z-index: -1;
  inset: calc(var(--l9n0f8j) * -1);
  background-color: var(--y19odpm);
  border-radius: var(--l9n0f89);
}
.dr6fl49:focus-visible {
  outline: 2px solid var(--y19odpr);
  outline-offset: 6px;
}
.dr6fl49:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.dr6fl4b {
  margin: calc(var(--l9n0f8k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.dr6fl4f {
  appearance: none;
  outline: none;
  background: var(--y19odpk);
  color: var(--y19odp7);
  border: 1px solid var(--y19odpo);
  height: var(--l9n0f8r);
}
.dr6fl4f:hover, .dr6fl4f[data-popup-open] {
  background-color: var(--y19odpm);
}
.dr6fl4f:focus-visible {
  outline: 2px solid var(--y19odpr);
  z-index: 1;
}
.dr6fl4h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.dr6fl4j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dr6fl4k {
  color: var(--y19odpc);
}
.dr6fl4m {
  height: 1px;
  background-color: var(--y19odpo);
}
@media screen and (max-width: 767px) {
  .dr6fl44 {
    display: none;
  }
}
._15md13i2 {
  border: 1px solid var(--y19odpo);
  border-radius: var(--l9n0f89);
}
._15md13i4 {
  border-bottom: 1px solid var(--y19odpo);
  gap: 12px;
}
._15md13i7 {
  border-top: 1px solid var(--y19odpo);
  gap: 12px;
}
._15md13ib {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._15md13i5 {
    display: none;
  }
}
