._1gxnf0p1 {
  background-color: var(--aazzapl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--aazzapo);
}
._1gxnf0p2::before {
  content: "";
  position: absolute;
  min-height: var(--ladd5cc);
  min-width: var(--ladd5cc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1u65hn72 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1u65hn74 {
  border: 1px solid var(--aazzapo);
  background-color: var(--aazzapk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1u65hn74::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--aazzapm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._1u65hn74:hover::after {
  opacity: 1;
}
._1u65hn74:focus-visible::after {
  opacity: 1;
}
._1u65hn74:active {
  transform: scale(0.97);
}
._1u65hn74:focus-visible {
  outline: 2px solid var(--aazzapr);
  outline-offset: 0;
}
._1u65hn76 {
  height: var(--_1u65hn70);
}
._1u65hn78 {
  border-color: var(--aazzapc);
}
._1u65hn78::after {
  background-color: var(--aazzaph);
}
._1u65hn79 {
  border-color: var(--aazzapa);
}
._1u65hn79::after {
  background-color: var(--aazzapi);
}
._1u65hn7a {
  --_1u65hn70: var(--ladd5cq);
}
._1u65hn7b {
  --_1u65hn70: var(--ladd5cr);
}
._1u65hn7c {
  --_1u65hn70: var(--ladd5cs);
}
._1h9q6wo1 {
  --aazzap7: var(--aazzapd);
  background-color: var(--aazzapn);
  outline: 1px solid var(--aazzapq);
  outline-offset: -1px;
}
._9udrz53 {
  background: transparent;
  outline: none;
  height: var(--_9udrz50);
  width: var(--_9udrz50);
}
._9udrz55 {
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_9udrz51);
  isolation: isolate;
}
._9udrz53[data-pressed] ._9udrz55, ._9udrz53:active ._9udrz55 {
  transform: scale(.95);
}
._9udrz53:focus-visible ._9udrz55 {
  outline: 2px solid var(--aazzapr);
}
._9udrz56 {
  --_9udrz50: var(--ladd5cq);
}
._9udrz57 {
  --_9udrz50: var(--ladd5cr);
}
._9udrz58 {
  --_9udrz50: var(--ladd5cs);
}
._9udrz59 {
  --_9udrz51: var(--aazzap7);
}
._9udrz5a {
  --_9udrz51: var(--aazzapb);
}
._9udrz5b {
  --_9udrz51: var(--aazzapc);
}
._9udrz5c {
  background-color: var(--aazzapk);
  outline: 1px solid var(--aazzapo);
  outline-offset: -1px;
}
._9udrz5c:hover, [data-popup-open] > ._9udrz5c {
  background-color: var(--aazzapm);
}
._9udrz5d {
  --_9udrz51: var(--aazzap8);
  background-color: var(--aazzapf);
}
._9udrz5d:hover, [data-popup-open] > ._9udrz5d {
  background-color: var(--aazzapg);
}
._9udrz5e:hover, [data-popup-open] > ._9udrz5e {
  background-color: var(--aazzapm);
}
._9udrz5f {
  margin: calc((var(--ladd5cj) + 2px) * -1);
}
._9udrz55 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._77b2bd0 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  ._77b2bd1 {
    display: none;
  }
}
._1sa44tq1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._1sa44tq2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._1sa44tq2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._1sa44tq4 {
  --_1sa44tq3: 40px;
}
._1sa44tq5 {
  --_1sa44tq3: 60px;
}
._1sa44tq6 {
  --_1sa44tq3: 80px;
}
._1sa44tq7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._1sa44tq8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._1sa44tq9 {
  overflow: auto;
}
._1sa44tqe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_1sa44tqc, 0)),linear-gradient(to right, transparent 0, black var(--_1sa44tqa, 0)),linear-gradient(to left, transparent 0, black var(--_1sa44tqb, 0)),linear-gradient(to top, transparent 0, black var(--_1sa44tqd, 0));
}
._1sa44tqf {
  --_1sa44tqa: var(--_1sa44tq3);
}
._1sa44tqg {
  --_1sa44tqb: var(--_1sa44tq3);
}
._1sa44tqh {
  --_1sa44tqc: var(--_1sa44tq3);
}
._1sa44tqi {
  --_1sa44tqd: var(--_1sa44tq3);
}
._1ycz3gs0 {
  transition: var(--ladd5ce);
  transform-origin: 50% 50%;
}
._1ycz3gs1 {
  transform: rotate(90deg);
}
._1ycz3gs2 {
  transform: rotate(180deg);
}
._1ycz3gs3 {
  transform: rotate(270deg);
}
._1nwmejt2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1nwmejt3 {
  width: 250px;
}
._1nwmejt6 {
  --_1nwmejt4: var(--aazzapm);
  outline: none;
  color: var(--aazzap7);
  height: 34px;
}
._1nwmejt6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--ladd5c8);
}
._1nwmejt6[data-popup-open]:not([aria-disabled])::before, ._1nwmejt6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1nwmejt4);
}
._1nwmejt6:focus-visible::before {
  outline: 2px solid var(--aazzapr);
  outline-offset: -2px;
}
._1nwmejt6[aria-disabled] {
  color: var(--aazzap9);
  cursor: not-allowed;
}
._1nwmejt8 {
  text-decoration: none;
}
._1nwmejt8[aria-disabled] {
  cursor: not-allowed;
}
._1nwmejt9 {
  --_1nwmejt4: var(--aazzapi);
  color: var(--aazzapa);
}
._1nwmejta {
  --_1nwmejt4: transparent;
  color: var(--aazzapc);
}
._1nwmejta svg {
  color: var(--aazzapc);
}
._1nwmejtc {
  isolation: isolate;
}
._1nwmejtg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1nwmejti {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--aazzap7);
  z-index: 1;
}
[aria-checked="true"] ._1nwmejti {
  color: var(--aazzap8);
}
._1nwmejtk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--aazzap7);
  isolation: isolate;
}
[aria-checked="true"] ._1nwmejtk {
  background-color: var(--aazzape);
  border-color: var(--aazzape);
}
._1nwmejtn {
  height: 1px;
  background-color: var(--aazzapo);
}
._1nwmejto {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._1nwmejtq {
  background: transparent;
  border: none;
  margin: calc(var(--ladd5cj) * -1);
}
._1nwmejtq:hover, ._1nwmejtq[data-highlighted] {
  background-color: var(--aazzapm);
}
._1nwmejtq:focus-visible {
  outline: 2px solid var(--aazzapr);
  outline-offset: -2px;
}
._1r7qsse2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--ladd5c8);
  color: var(--_1r7qsse0);
  isolation: isolate;
  outline: none;
}
._1r7qsse2[data-pressed], ._1r7qsse2:active {
  transform: scale(.95);
}
._1r7qsse2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--ladd5ci) * -1);
  background-color: var(--_1r7qsse0);
  border-radius: var(--ladd5c8);
}
._1r7qsse2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._1r7qsse2:hover, ._1r7qsse2[data-popup-open]:not(:focus-visible) {
  color: var(--aazzap8);
}
._1r7qsse2:focus-visible::after {
  outline: 2px solid var(--aazzapr);
}
._1r7qsse2:focus-visible:not(:hover)::after {
  background: transparent;
}
._1r7qsse3 {
  --_1r7qsse0: var(--aazzapb);
}
._1r7qsse4 {
  --_1r7qsse0: var(--aazzapc);
}
._1r7qsse2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._13ssbm01 {
  justify-content: safe center;
}
._13ssbm05 {
  flex-shrink: 0;
  width: var(--_13ssbm02);
}
._13ssbm06 {
  transition: color 150ms ease;
}
._13ssbm05:hover ._13ssbm06, ._13ssbm05:focus-within ._13ssbm06, ._13ssbm03 ._13ssbm06 {
  color: var(--aazzapb);
}
._13ssbm08 {
  border: 1px solid var(--aazzapo);
}
._13ssbm0a {
  transition: opacity 150ms ease;
}
._13ssbm05:not(:hover, :focus-within, ._13ssbm03) ._13ssbm0a {
  opacity: 1;
}
._13ssbm0c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._13ssbm0a:hover ~ ._13ssbm08 ._13ssbm0c, ._13ssbm0a:focus-within ~ ._13ssbm08._13ssbm0c {
  outline-color: var(--aazzapb);
}
._13ssbm0e {
  transition: opacity 150ms ease;
}
._13ssbm05:not(:hover, :focus-within, ._13ssbm03) ._13ssbm0e {
  opacity: 0;
}
._5s3c8l1 {
  color: var(--aazzap7);
  font-family: var(--ladd5c0);
}
._5s3c8l2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
._5s3c8l3 {
  --_17tbwdk0: 24px;
  --_17tbwdk1: 30px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._5s3c8l4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
._1msm1r1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1msm1r0);
}
._1msm1r2 {
  --_1msm1r0: var(--ladd5cg);
}
._1msm1r3 {
  --_1msm1r0: var(--ladd5ch);
}
._1msm1r4 {
  --_1msm1r0: var(--ladd5ci);
}
._1msm1r5 {
  --_1msm1r0: var(--ladd5cj);
}
._1msm1r6 {
  --_1msm1r0: var(--ladd5ck);
}
._1msm1r7 {
  --_1msm1r0: var(--ladd5cl);
}
._1msm1r8 {
  --_1msm1r0: var(--ladd5cm);
}
._1msm1r9 {
  --_1msm1r0: var(--ladd5cn);
}
._1msm1ra {
  --_1msm1r0: var(--ladd5co);
}
._1msm1rb {
  --_1msm1r0: var(--ladd5cp);
}
._11rkx0r1 {
  background-color: black;
  opacity: 0.2;
}
html[data-playroom-dark] ._11rkx0r1 {
  opacity: 0.7;
}
._11rkx0r1[data-starting-style], ._11rkx0r1[data-ending-style] {
  opacity: 0;
}
._11rkx0r3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  max-width: calc(100dvw - (var(--ladd5ck) * 2));
  max-height: calc(100dvh - (var(--ladd5ck) * 2));
}
._11rkx0r3[data-starting-style], ._11rkx0r3[data-ending-style] {
  transform: translate(-50%, -50%) scale(0.98);
  opacity: 0;
}
._11rkx0r7:focus-visible {
  outline: 2px solid var(--aazzapr);
  outline-offset: 2px;
}
._1b4vw253 {
  --_1b4vw251: 1;
  display: grid;
  grid-template-columns: repeat(var(--_1b4vw251), 1fr);
}
._1b4vw255 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1b4vw257 {
  height: calc(100% / var(--_1b4vw250));
  width: calc(100% / var(--_1b4vw250));
  border-radius: calc(var(--ladd5c9) / var(--_1b4vw250));
  transform: scale(var(--_1b4vw250));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1b4vw250));
}
._1b4vw259 {
  background: var(--aazzapm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1b4vw25b {
  background: transparent;
  outline: 1px solid var(--aazzapo);
}
._1b4vw25b:hover {
  outline: 2px solid var(--aazzapp);
}
._1b4vw25b:focus-visible {
  outline: 2px solid var(--aazzapr);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1b4vw253 {
    --_1b4vw251: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1b4vw253 {
    --_1b4vw251: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1b4vw253 {
    --_1b4vw251: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1b4vw253 {
    --_1b4vw251: 5;
  }
}
.j4o4xq2 {
  outline: none;
  height: var(--ladd5cr);
  color: var(--aazzap7);
  background: transparent;
}
.j4o4xq2::placeholder {
  color: var(--aazzap9);
  font-weight: normal;
}
.j4o4xq2:hover:not(:focus-visible) {
  background: var(--aazzapm);
  opacity: 1;
  color: transparent;
}
.j4o4xq2:focus-visible {
  outline: 2px solid var(--aazzapr);
  opacity: 1;
}
.j4o4xq2:focus-visible::placeholder {
  color: transparent;
}
.j4o4xq4 {
  max-width: 50vw;
  min-width: 240px;
}
.j4o4xq2:focus-visible ~ .j4o4xq4 {
  opacity: 0;
}
.j4o4xq5 {
  white-space: pre;
}
._8gyt831 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aazzapk);
}
._8gyt832 {
  width: fit-content;
}
._8gyt834 {
  width: fit-content;
  justify-self: flex-end;
}
._8gyt836 {
  background: transparent;
  color: var(--aazzapf);
  isolation: isolate;
}
._8gyt836::after {
  content: "";
  position: absolute;
  transition: var(--ladd5cf);
  z-index: -1;
  inset: calc(var(--ladd5cj) * -1);
  background-color: var(--aazzapm);
  border-radius: var(--ladd5c9);
}
._8gyt836:focus-visible {
  outline: 2px solid var(--aazzapr);
  outline-offset: 6px;
}
._8gyt836:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._8gyt838 {
  margin: calc(var(--ladd5ck) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._8gyt83c {
  appearance: none;
  outline: none;
  background: var(--aazzapk);
  color: var(--aazzap7);
  border: 1px solid var(--aazzapo);
  height: var(--ladd5cr);
}
._8gyt83c:hover, ._8gyt83c[data-popup-open] {
  background-color: var(--aazzapm);
}
._8gyt83c:focus-visible {
  outline: 2px solid var(--aazzapr);
  z-index: 1;
}
._8gyt83e {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._8gyt83g {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._8gyt83i {
  color: var(--aazzapc);
}
@media screen and (max-width: 767px) {
  ._8gyt834 {
    display: none;
  }
}
._1ynlx722 {
  border: 1px solid var(--aazzapo);
  border-radius: var(--ladd5c9);
}
._1ynlx724 {
  border-bottom: 1px solid var(--aazzapo);
  gap: 12px;
}
._1ynlx727 {
  border-top: 1px solid var(--aazzapo);
  gap: 12px;
}
._1ynlx72b {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1ynlx725 {
    display: none;
  }
}
