@keyframes _14fmmrj4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._14fmmrj1 {
  z-index: 99999;
  background: #1c2230;
  color: var(--_4u9bjk9);
}
._14fmmrj3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _14fmmrj4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._14fmmrj5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
.sflxiv1 {
  display: flex;
  flex-direction: column;
  gap: var(--sflxiv0);
}
.sflxiv2 {
  --sflxiv0: var(--_1lpclpqg);
}
.sflxiv3 {
  --sflxiv0: var(--_1lpclpqh);
}
.sflxiv4 {
  --sflxiv0: var(--_1lpclpqi);
}
.sflxiv5 {
  --sflxiv0: var(--_1lpclpqj);
}
.sflxiv6 {
  --sflxiv0: var(--_1lpclpqk);
}
.sflxiv7 {
  --sflxiv0: var(--_1lpclpql);
}
.sflxiv8 {
  --sflxiv0: var(--_1lpclpqm);
}
.sflxiv9 {
  --sflxiv0: var(--_1lpclpqn);
}
.sflxiva {
  --sflxiv0: var(--_1lpclpqo);
}
.sflxivb {
  --sflxiv0: var(--_1lpclpqp);
}
