/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

.q14c5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--rxz264j);
  -webkit-tap-highlight-color: transparent;
}
.q14c5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--rxz264l);
  opacity: 0;
  transition: var(--_19p8a43d);
  pointer-events: none;
}
.q14c5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_19p8a43d);
}
.q14c5.q14c0 {
  color: var(--rxz264d);
}
.q14c5:not(.q14c1) {
  cursor: pointer;
}
.q14c5.q14c1 {
  color: var(--rxz2647);
}
.q14c5.q14c2,.q14c5.q14c3:not(.q14c0):not(.q14c1),html:not([data-playroom-dark]) .q14c5:hover:not(.q14c0):not(.q14c1) {
  color: var(--rxz264c);
}
.q14c5:not(.q14c0):not(:hover):focus::before {
  color: var(--rxz2648);
}
.q14c5:not(.q14c0):not(.q14c1):focus::before,.q14c5:not(.q14c0):not(.q14c1):hover::before {
  opacity: 1;
}
.q14c5:not(.q14c3)::after {
  transform: translateX(100%);
  opacity: 0;
}
.q14c8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--rxz264f);
  border: 2px solid var(--rxz264j);
}
.q14c8:not(.q14c6) {
  transform: scale(0);
  opacity: 0;
}
.q14ca {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--rxz264d);
  border: 2px solid var(--rxz264j);
}
.q14ca:not(.q14c6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
.q14ca svg {
  color: var(--rxz2649);
}
@keyframes _1wy06vz1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1wy06vz0 {
  background-color: var(--rxz264l);
}
._1wy06vz3 {
  background-color: var(--rxz264h);
  color: var(--rxz264b);
  min-width: 50px;
  animation-name: _1wy06vz1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1wy06vz3:hover {
  cursor: help;
}
._1wy06vz5 {
  width: 1em;
}
._1wy06vz7::after {
  content: "-";
}
._1wy06vz9::after {
  content: "+";
  color: var(--rxz264c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--rxz264j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_19p8a431);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_19p8a43b);
  box-sizing: border-box;
  padding-left: var(--_19p8a43j);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--_19p8a43l) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--rxz264o);
  border-radius: var(--_19p8a437);
  background-color: var(--rxz264j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_19p8a431);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--rxz264i);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--_19p8a43i) var(--_19p8a43j);
  border-radius: var(--_19p8a437);
  white-space: pre;
  color: var(--rxz2640);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--rxz264f);
  color: var(--rxz2649);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--rxz264c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_19p8a43i);
}
.cm-s-neo.CodeMirror {
  background-color: var(--rxz264j);
  color: var(--rxz2640);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--rxz2648);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--rxz264j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--rxz264j);
  position: absolute;
  right: var(--_19p8a43h);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--rxz264j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--rxz264l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--rxz2648);
  transition: var(--_19p8a43f);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1wy06vz9) {
  color: var(--rxz2647);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--rxz2648);
  transition: var(--_19p8a43f);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--rxz2647);
}
.cm-s-neo .cm-tag {
  color: var(--rxz2641);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--rxz2642);
}
.cm-s-neo .cm-string {
  color: var(--rxz2643);
}
.cm-s-neo .cm-atom {
  color: var(--rxz2644);
}
.cm-s-neo .cm-variable {
  color: var(--rxz2645);
}
.cm-s-neo .cm-number {
  color: var(--rxz2646);
}
.CodeMirror-dialog {
  padding-left: var(--_19p8a43l);
  padding-right: var(--_19p8a43l);
  min-height: 60px;
  border-bottom: 1px solid var(--rxz264n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1wy06vza));
  transition: var(--_19p8a43f);
}
.dialog-opened .CodeMirror-scroll {
  --_1wy06vza: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1wy06vza);
}
.CodeMirror-dialog input {
  font: var(--_19p8a435);
  font-family: var(--_19p8a431);
  height: var(--_19p8a43c);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_19p8a43c);
  font: var(--_19p8a435);
  font-family: var(--_19p8a431);
}
.CodeMirror-search-field {
  padding-left: var(--_19p8a43l);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--rxz264m);
}
.cm-overlay.cm-searching {
  padding-top: var(--_19p8a43h);
  padding-bottom: var(--_19p8a43h);
  background: var(--rxz264l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_19p8a43l);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_19p8a434);
  font-family: var(--_19p8a430);
  margin-left: var(--_19p8a43j);
  padding-top: var(--_19p8a43i);
  padding-bottom: var(--_19p8a43i);
  padding-left: var(--_19p8a43k);
  padding-right: var(--_19p8a43k);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_19p8a438);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--rxz264c);
  box-shadow: var(--rxz264p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--rxz264l);
}
.CodeMirror-dialog button:hover {
  background: var(--rxz264e);
}
._1v18ebv1 {
  color: var(--rxz2648);
}
._1v18ebv2 {
  color: var(--rxz264b);
}
._1v18ebv3 {
  color: var(--rxz264a);
}
._1v18ebva {
  text-overflow: ellipsis;
}
.qdimsw1 {
  justify-content: safe center;
}
.qdimsw4 {
  flex-shrink: 0;
  width: var(--qdimsw2);
}
.qdimsw4:not(:hover) .qdimsw7 {
  opacity: 0.8;
}
.qdimsw9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.qdimsw4:not(:hover) .qdimsw9 {
  opacity: 0.3;
}
._1m9wv9h5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--_19p8a43m);
  height: var(--_19p8a43n);
  max-width: calc((100dvw - 60px) - (var(--_19p8a43b) * 2));
}
._1m9wv9h5._1m9wv9h0 {
  padding-right: calc((15px * 2) + 16px);
}
._1m9wv9h5:not(._1m9wv9h1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1m9wv9h5._1m9wv9h2 {
  background-color: var(--rxz264g);
}
._1m9wv9h5._1m9wv9h3 {
  background-color: var(--rxz264h);
}
._1m9wv9h7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1m9wv9h7:not(:hover) {
  opacity: 0.4;
}
.c7swy61 {
  color: var(--rxz2648);
  font-family: var(--_19p8a430);
}
.c7swy62 {
  font-size: 36px;
}
.c7swy63 {
  font-size: 24px;
}
.c7swy64 {
  font-size: 16px;
}
.v2iwfs2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--v2iwfs0);
  align-items: var(--v2iwfs1);
}
.v2iwfs3 {
  --v2iwfs0: var(--_19p8a43g);
}
.v2iwfs4 {
  --v2iwfs0: var(--_19p8a43h);
}
.v2iwfs5 {
  --v2iwfs0: var(--_19p8a43i);
}
.v2iwfs6 {
  --v2iwfs0: var(--_19p8a43j);
}
.v2iwfs7 {
  --v2iwfs0: var(--_19p8a43k);
}
.v2iwfs8 {
  --v2iwfs0: var(--_19p8a43l);
}
.v2iwfs9 {
  --v2iwfs0: var(--_19p8a43m);
}
.v2iwfsa {
  --v2iwfs0: var(--_19p8a43n);
}
.v2iwfsb {
  --v2iwfs0: var(--_19p8a43o);
}
.v2iwfsc {
  --v2iwfs0: var(--_19p8a43p);
}
.v2iwfsd {
  align-items: flex-start;
}
.v2iwfse {
  align-items: center;
}
.v2iwfsf {
  align-items: flex-end;
}
._178nflf1 {
  display: flex;
  flex-direction: column;
  gap: var(--_178nflf0);
}
._178nflf2 {
  --_178nflf0: var(--_19p8a43g);
}
._178nflf3 {
  --_178nflf0: var(--_19p8a43h);
}
._178nflf4 {
  --_178nflf0: var(--_19p8a43i);
}
._178nflf5 {
  --_178nflf0: var(--_19p8a43j);
}
._178nflf6 {
  --_178nflf0: var(--_19p8a43k);
}
._178nflf7 {
  --_178nflf0: var(--_19p8a43l);
}
._178nflf8 {
  --_178nflf0: var(--_19p8a43m);
}
._178nflf9 {
  --_178nflf0: var(--_19p8a43n);
}
._178nflfa {
  --_178nflf0: var(--_19p8a43o);
}
._178nflfb {
  --_178nflf0: var(--_19p8a43p);
}
.gypt121 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_19p8a43i) * -1);
}
.gypt121::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_19p8a437);
  box-shadow: var(--rxz264p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_19p8a43e);
}
.gypt121:focus::before, .gypt121:hover::before {
  opacity: 1;
  transform: scale(1);
}
.gypt124 {
  height: 20px;
  width: 20px;
}
.gypt126 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_19p8a43h) * 2));
  width: calc(20px - (var(--_19p8a43h) * 2));
}
.gypt126::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_19p8a437);
  box-shadow: var(--rxz264p);
  transition: var(--_19p8a43e);
  opacity: 0;
  transform: scale(0.5);
}
.gypt126::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_19p8a437);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--rxz264j);
}
.gypt124:hover:not(:focus) ~ .gypt126::before, .gypt124:focus ~ .gypt126::before {
  opacity: 1;
  transform: scale(1);
}
.gypt126 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_19p8a43f);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.gypt124:checked ~ .gypt126 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_19p8a43f);
}
.gypt128 {
  color: var(--rxz2648);
  height: var(--_19p8a43c);
  background: var(--rxz264j);
  border: 1px solid var(--rxz264n);
}
.gypt128::placeholder {
  color: var(--rxz2647);
}
._117pjqw1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
._117pjqw4 {
  --_117pjqw2: currentColor;
  color: var(--_117pjqw2);
  border: 1px solid var(--rxz2647);
}
._117pjqw4:hover {
  --_117pjqw2: var(--rxz264c);
  border-color: var(--_117pjqw2);
}
._117pjqw4:active {
  transform: scale(0.98);
}
._117pjqw4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_19p8a43c);
  min-width: var(--_19p8a43c);
  width: 100%;
  height: 100%;
  top: 50%;
}
._117pjqw4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--rxz264p);
}
._117pjqw5 {
  --_117pjqw2: var(--rxz264d) !important;
  border-color: var(--_117pjqw2);
}
._117pjqw7 {
  top: 1px;
}
._13r01y00 {
  transition: var(--_19p8a43e);
  transform-origin: 50% 50%;
}
._13r01y01 {
  transform: rotate(90deg);
}
._13r01y02 {
  transform: rotate(180deg);
}
._13r01y03 {
  transform: rotate(270deg);
}
._113vwqa4 {
  min-width: 0;
}
._113vwqa5 {
  flex-shrink: 0;
}
._113vwqa9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._113vwqa7:focus:not(:hover) ~ ._113vwqa9 {
  opacity: 1;
}
._1b5a96v2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1b5a96v4 {
  display: inline-block;
  background: var(--rxz264i);
  font-family: system-ui;
  min-width: 16px;
}
._1b5a96v6 {
  height: var(--_19p8a43c);
  width: var(--_19p8a43c);
}
._1b5a96v8 {
  height: var(--_19p8a43c);
  width: var(--_19p8a43c);
}
._1b5a96v8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--rxz264l);
  border-radius: var(--_19p8a438);
  transition: var(--_19p8a43e);
  opacity: 0;
  transform: scale(0.8);
}
._1b5a96v6:checked ~ ._1b5a96v8,html:not([data-playroom-dark]) ._1b5a96v6:hover ~ ._1b5a96v8 {
  color: var(--rxz264c);
}
._1b5a96v6:focus ~ ._1b5a96v8::before, ._1b5a96v6:hover ~ ._1b5a96v8::before {
  opacity: 1;
  transform: scale(1);
}
._184yv0r1 {
  color: var(--rxz2648);
  height: var(--_19p8a43c);
  background: var(--rxz264j);
}
._184yv0r1:focus {
  outline: none;
}
._184yv0r1::placeholder {
  color: var(--rxz2647);
}
._1hngkl72 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--rxz264n);
}
._1hngkl74 {
  list-style: none;
  top: 60px;
}
._1hngkl74::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--_19p8a43i);
  z-index: 1;
}
._1hngkl74::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--_19p8a43i);
  z-index: 1;
}
._1hngkl76 {
  scroll-margin-block: var(--_19p8a43i);
  color: var(--rxz2648);
  background-color: var(--rxz264j);
}
._1hngkl76::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--rxz264l);
  border-radius: var(--_19p8a437);
  opacity: 0;
  pointer-events: none;
}
._1hngkl78 {
  color: var(--rxz264a);
}
._1hngkl79 {
  color: var(--rxz264c);
}
._1hngkl79::before {
  opacity: 1;
}
._1utfkt52 {
  color: var(--rxz2648);
  min-width: calc(60px + 1px);
}
._1utfkt52._1utfkt50 {
  width: 100dvw;
}
._1utfkt56 {
  width: 60px;
  background-color: var(--rxz264j);
  border-left: 1px solid var(--rxz264n);
}
._1utfkt58 {
  width: 320px;
  background-color: var(--rxz264j);
  border-left: 1px solid var(--rxz264n);
}
._1utfkt59 {
  opacity: 0;
  transform: translateX(30%);
}
._1utfkt5b {
  opacity: 1;
  transform: translateX(0);
}
._1utfkt5c {
  opacity: 1;
  transform: translateX(0);
}
._1utfkt5d {
  opacity: 1;
}
._1utfkt5f {
  opacity: 0;
  transform: translateX(30%);
}
._1utfkt5g {
  opacity: 0;
  transform: translateX(30%);
}
._1ssgo0x0 {
  cursor: row-resize;
}
._1ssgo0x1 {
  cursor: col-resize;
}
._1ssgo0xa {
  background: var(--rxz264i);
}
._1ssgo0xb {
  width: 70px;
  height: 4px;
}
._1ssgo0xc {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--rxz264k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
.frjy6n0 {
  pointer-events: none;
  user-select: none;
}
.frjy6n6 {
  display: grid;
  grid-template-columns: 1fr var(--frjy6n2, 0px);
  grid-template-rows: auto var(--frjy6n1, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
.frjy6n7 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
.frjy6n8 {
  --frjy6n1: clamp(300px, var(--frjy6n3), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
.frjy6n9 {
  --frjy6n2: clamp(460px, var(--frjy6n3), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
.frjy6na {
  grid-area: frames;
}
.frjy6nc {
  grid-area: editor;
}
.frjy6n8 .frjy6ne {
  width: 60px;
}
.frjy6ng {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_19p8a43c);
  height: var(--_19p8a43c);
}
.frjy6ng::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_19p8a438);
  transition: var(--_19p8a43d);
}
.frjy6ng:not(:hover):not(:focus) {
  opacity: 0.3;
}
.frjy6ng:hover::before, .frjy6ng:focus::before {
  opacity: 0.05;
}
