.iruozj1 {
  background-color: var(--_1x1dlwcl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1x1dlwcp);
}
.iruozj2::before {
  content: "";
  position: absolute;
  min-height: var(--_16p4d93c);
  min-width: var(--_16p4d93c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._8px9qr2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._8px9qr4 {
  border: 1px solid var(--_1x1dlwcp);
  background-color: var(--_1x1dlwck);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._8px9qr4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1x1dlwcm);
  opacity: 0;
  transition: opacity 120ms ease;
  z-index: -1;
}
._8px9qr4:hover::after {
  opacity: 1;
}
._8px9qr4:focus-visible::after {
  opacity: 1;
}
._8px9qr4:active:not([disabled]) {
  transform: scale(0.97);
}
._8px9qr4:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: 0;
}
._8px9qr6 {
  height: var(--_8px9qr0);
}
._8px9qr8 {
  border-color: var(--_1x1dlwcc);
}
._8px9qr8::after {
  background-color: var(--_1x1dlwch);
}
._8px9qr9 {
  border-color: var(--_1x1dlwca);
}
._8px9qr9::after {
  background-color: var(--_1x1dlwci);
}
._8px9qra {
  --_8px9qr0: var(--_16p4d93q);
}
._8px9qrb {
  --_8px9qr0: var(--_16p4d93r);
}
._8px9qrc {
  --_8px9qr0: var(--_16p4d93s);
}
._3jt4by1 {
  --_1x1dlwc7: var(--_1x1dlwcd);
  background-color: var(--_1x1dlwcn);
  outline: 1px solid var(--_1x1dlwcr);
  outline-offset: -1px;
}
.mcrk3e3 {
  background: transparent;
  outline: none;
  height: var(--mcrk3e0);
  width: var(--mcrk3e0);
}
.mcrk3e6 {
  padding: var(--mcrk3e4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--mcrk3e1);
  isolation: isolate;
}
.mcrk3e3[data-pressed] .mcrk3e6, .mcrk3e3:active .mcrk3e6 {
  transform: scale(.95);
}
.mcrk3e3:focus-visible .mcrk3e6 {
  outline: 2px solid var(--_1x1dlwcs);
}
.mcrk3e7 {
  --mcrk3e0: var(--_16p4d93q);
  --mcrk3e4: 6px;
}
.mcrk3e8 {
  --mcrk3e0: var(--_16p4d93r);
  --mcrk3e4: var(--_16p4d93j);
}
.mcrk3e9 {
  --mcrk3e0: var(--_16p4d93s);
  --mcrk3e4: var(--_16p4d93j);
}
.mcrk3ea {
  --mcrk3e1: var(--_1x1dlwc7);
}
.mcrk3eb {
  --mcrk3e1: var(--_1x1dlwcb);
}
.mcrk3ec {
  --mcrk3e1: var(--_1x1dlwcc);
}
.mcrk3ed {
  background-color: var(--_1x1dlwck);
  outline: 1px solid var(--_1x1dlwcp);
  outline-offset: -1px;
}
.mcrk3ed:hover, [data-popup-open] > .mcrk3ed {
  background-color: var(--_1x1dlwcm);
}
.mcrk3ee {
  --mcrk3e1: var(--_1x1dlwc8);
  background-color: var(--_1x1dlwcf);
}
.mcrk3ee:hover, [data-popup-open] > .mcrk3ee {
  background-color: var(--_1x1dlwcg);
}
.mcrk3ef:hover, [data-popup-open] > .mcrk3ef {
  background-color: var(--_1x1dlwcm);
}
.mcrk3eg {
  margin: calc((var(--mcrk3e4) + 2px) * -1);
}
.mcrk3e6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1xyxlh30 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  ._1xyxlh31 {
    display: none;
  }
}
._105v11a1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._105v11a2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._105v11a2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._105v11a4 {
  --_105v11a3: 30px;
}
._105v11a5 {
  --_105v11a3: 45px;
}
._105v11a6 {
  --_105v11a3: 60px;
}
._105v11a7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._105v11a8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._105v11a9 {
  overflow: auto;
}
._105v11ae {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_105v11ac, 0)),linear-gradient(to right, transparent 0, black var(--_105v11aa, 0)),linear-gradient(to left, transparent 0, black var(--_105v11ab, 0)),linear-gradient(to top, transparent 0, black var(--_105v11ad, 0));
}
._105v11af {
  --_105v11aa: var(--_105v11a3);
}
._105v11ag {
  --_105v11ab: var(--_105v11a3);
}
._105v11ah {
  --_105v11ac: var(--_105v11a3);
}
._105v11ai {
  --_105v11ad: var(--_105v11a3);
}
.f6idu90 {
  transition: var(--_16p4d93e);
  transform-origin: 50% 50%;
}
.f6idu91 {
  transform: rotate(90deg);
}
.f6idu92 {
  transform: rotate(180deg);
}
.f6idu93 {
  transform: rotate(270deg);
}
._4aj51f2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._4aj51f3 {
  width: 250px;
}
._4aj51f6 {
  --_4aj51f4: var(--_1x1dlwcm);
  outline: none;
  cursor: default;
  color: var(--_1x1dlwc7);
  height: 34px;
}
._4aj51f6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_16p4d938);
}
._4aj51f6[data-popup-open]:not([aria-disabled])::before, ._4aj51f6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_4aj51f4);
}
._4aj51f6:focus-visible::before {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: -2px;
}
._4aj51f6[aria-disabled] {
  color: var(--_1x1dlwc9);
  cursor: not-allowed;
}
._4aj51f7 {
  cursor: pointer;
  text-decoration: none;
}
._4aj51f7[aria-disabled] {
  cursor: not-allowed;
}
._4aj51f8 {
  margin-left: 3px;
}
._4aj51f9 {
  --_4aj51f4: var(--_1x1dlwci);
  color: var(--_1x1dlwca);
}
._4aj51fa {
  --_4aj51f4: transparent;
  color: var(--_1x1dlwcc);
}
._4aj51fa svg {
  color: var(--_1x1dlwcc);
}
._4aj51fc {
  isolation: isolate;
}
._4aj51fg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._4aj51fi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1x1dlwc7);
  z-index: 1;
}
[aria-checked="true"] ._4aj51fi {
  color: var(--_1x1dlwc8);
}
._4aj51fk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1x1dlwc7);
  isolation: isolate;
}
[aria-checked="true"] ._4aj51fk {
  background-color: var(--_1x1dlwce);
  border-color: var(--_1x1dlwce);
}
._4aj51fn {
  height: 1px;
  background-color: var(--_1x1dlwcp);
}
._4aj51fo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._4aj51fq {
  background: transparent;
  border: none;
  margin: calc(var(--_16p4d93j) * -1);
}
._4aj51fq:hover, ._4aj51fq[data-highlighted] {
  background-color: var(--_1x1dlwcm);
}
._4aj51fq:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: -2px;
}
.oyf6dv2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_16p4d938);
  color: var(--oyf6dv0);
  isolation: isolate;
  outline: none;
}
.oyf6dv2[data-pressed], .oyf6dv2:active {
  transform: scale(.95);
}
.oyf6dv2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_16p4d93i) * -1);
  background-color: var(--oyf6dv0);
  border-radius: var(--_16p4d938);
}
.oyf6dv2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.oyf6dv2:hover, .oyf6dv2[data-popup-open]:not(:focus-visible) {
  color: var(--_1x1dlwc8);
}
.oyf6dv2:focus-visible::after {
  outline: 2px solid var(--_1x1dlwcs);
}
.oyf6dv2:focus-visible:not(:hover)::after {
  background: transparent;
}
.oyf6dv3 {
  --oyf6dv0: var(--_1x1dlwcb);
}
.oyf6dv4 {
  --oyf6dv0: var(--_1x1dlwcc);
}
.oyf6dv2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.q508451 {
  justify-content: safe center;
}
.q508455 {
  flex-shrink: 0;
  width: var(--q508452);
}
.q508456 {
  transition: color 150ms ease;
}
.q508455:hover .q508456, .q508455:focus-within .q508456, .q508453 .q508456 {
  color: var(--_1x1dlwcb);
}
.q508458 {
  outline: 1px solid var(--_1x1dlwcp);
}
.q50845a {
  transition: opacity 150ms ease;
}
.q508455:not(:hover, :focus-within, .q508453) .q50845a {
  opacity: 1;
}
.q50845c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.q50845a:hover ~ .q508458 .q50845c, .q50845a:focus-within ~ .q508458.q50845c {
  outline-color: var(--_1x1dlwcb);
}
.q50845e {
  transition: opacity 150ms ease;
}
.q508455:not(:hover, :focus-within, .q508453) .q50845e {
  opacity: 0;
}
.rz6f8j1 {
  color: var(--_1x1dlwc7);
  font-family: var(--_16p4d930);
}
.rz6f8j2 {
  --_17tbwdk0: 36px;
  --_17tbwdk1: 44px;
  --_17tbwdk2: -0.2741em;
  --_17tbwdk3: -0.2031em;
}
.rz6f8j3 {
  --_17tbwdk0: 20px;
  --_17tbwdk1: 28px;
  --_17tbwdk2: -0.363em;
  --_17tbwdk3: -0.292em;
}
.rz6f8j4 {
  --_17tbwdk0: 16px;
  --_17tbwdk1: 20px;
  --_17tbwdk2: -0.288em;
  --_17tbwdk3: -0.217em;
}
.e8izbg1 {
  display: flex;
  flex-direction: column;
  gap: var(--e8izbg0);
}
.e8izbg2 {
  --e8izbg0: var(--_16p4d93g);
}
.e8izbg3 {
  --e8izbg0: var(--_16p4d93h);
}
.e8izbg4 {
  --e8izbg0: var(--_16p4d93i);
}
.e8izbg5 {
  --e8izbg0: var(--_16p4d93j);
}
.e8izbg6 {
  --e8izbg0: var(--_16p4d93k);
}
.e8izbg7 {
  --e8izbg0: var(--_16p4d93l);
}
.e8izbg8 {
  --e8izbg0: var(--_16p4d93m);
}
.e8izbg9 {
  --e8izbg0: var(--_16p4d93n);
}
.e8izbga {
  --e8izbg0: var(--_16p4d93o);
}
.e8izbgb {
  --e8izbg0: var(--_16p4d93p);
}
.e8izbgc {
  align-items: flex-start;
}
.e8izbgd {
  align-items: center;
}
.e8izbge {
  align-items: flex-end;
}
.neyv191 {
  backdrop-filter: blur(6px);
}
.neyv191::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1x1dlwcj);
  opacity: 0.4;
}
html[data-playroom-dark] .neyv191::before {
  opacity: 0.7;
}
.neyv191[data-starting-style]::before, .neyv191[data-ending-style]::before {
  opacity: 0;
}
.neyv193 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_16p4d93k) * 2));
  max-height: calc(100dvh - (var(--_16p4d93k) * 2));
}
.neyv193[data-starting-style], .neyv193[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.neyv197:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: 2px;
}
._5kzo4j2 {
  display: flex;
  flex-direction: row;
  gap: var(--_5kzo4j0);
  align-items: var(--_5kzo4j1);
}
._5kzo4j3 {
  flex-wrap: wrap;
}
._5kzo4j4 {
  --_5kzo4j0: var(--_16p4d93g);
}
._5kzo4j5 {
  --_5kzo4j0: var(--_16p4d93h);
}
._5kzo4j6 {
  --_5kzo4j0: var(--_16p4d93i);
}
._5kzo4j7 {
  --_5kzo4j0: var(--_16p4d93j);
}
._5kzo4j8 {
  --_5kzo4j0: var(--_16p4d93k);
}
._5kzo4j9 {
  --_5kzo4j0: var(--_16p4d93l);
}
._5kzo4ja {
  --_5kzo4j0: var(--_16p4d93m);
}
._5kzo4jb {
  --_5kzo4j0: var(--_16p4d93n);
}
._5kzo4jc {
  --_5kzo4j0: var(--_16p4d93o);
}
._5kzo4jd {
  --_5kzo4j0: var(--_16p4d93p);
}
._5kzo4je {
  align-items: flex-start;
}
._5kzo4jf {
  align-items: center;
}
._5kzo4jg {
  align-items: flex-end;
}
._1ef9y420 {
  width: 200px;
}
._1uud8so3 {
  --_1uud8so1: 1;
  display: grid;
  grid-template-columns: repeat(var(--_1uud8so1), 1fr);
}
._1uud8so5 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1uud8so7 {
  height: calc(100% / var(--_1uud8so0));
  width: calc(100% / var(--_1uud8so0));
  border-radius: calc(var(--_16p4d939) / var(--_1uud8so0));
  transform: scale(var(--_1uud8so0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1uud8so0));
}
._1uud8so9 {
  background: var(--_1x1dlwcm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1uud8sob {
  background: transparent;
  outline: 1px solid var(--_1x1dlwcp);
}
._1uud8sob:hover {
  outline: 2px solid var(--_1x1dlwcq);
}
._1uud8sob:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1uud8so3 {
    --_1uud8so1: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1uud8so3 {
    --_1uud8so1: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1uud8so3 {
    --_1uud8so1: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1uud8so3 {
    --_1uud8so1: 5;
  }
}
._79skl31 {
  width: fit-content;
}
._79skl33:focus-visible ~ ._79skl35 {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: 4px;
}
._79skl38 {
  min-width: 0;
}
._79skl39 {
  flex-shrink: 0;
}
._19adjbi2 {
  outline: none;
  height: var(--_16p4d93r);
  color: var(--_1x1dlwc7);
  background: transparent;
}
._19adjbi2::placeholder {
  color: var(--_1x1dlwc9);
  font-weight: normal;
}
._19adjbi2:hover:not(:focus-visible) {
  background: var(--_1x1dlwcm);
  opacity: 1;
  color: transparent;
}
._19adjbi2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._19adjbi2:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  opacity: 1;
}
._19adjbi2:focus-visible::placeholder {
  color: transparent;
}
._19adjbi4 {
  max-width: 50vw;
  min-width: 240px;
}
._19adjbi2:focus-visible ~ ._19adjbi4 {
  opacity: 0;
}
._19adjbi5 {
  white-space: pre;
}
._8ld2j91 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1x1dlwck);
}
._8ld2j92 {
  width: fit-content;
}
._8ld2j95 {
  width: fit-content;
  justify-self: flex-end;
}
._8ld2j95:not(._8ld2j93) {
  opacity: 0;
  transform: translateX(var(--_16p4d93j));
  pointer-events: none;
}
._8ld2j97 {
  background: transparent;
  color: var(--_1x1dlwcf);
  isolation: isolate;
}
._8ld2j97::after {
  content: "";
  position: absolute;
  transition: var(--_16p4d93f);
  z-index: -1;
  inset: calc(var(--_16p4d93j) * -1);
  background-color: var(--_1x1dlwcm);
  border-radius: var(--_16p4d939);
}
._8ld2j97:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  outline-offset: 6px;
}
._8ld2j97:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._8ld2j99 {
  margin: calc(var(--_16p4d93k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._8ld2j9d {
  appearance: none;
  outline: none;
  background: var(--_1x1dlwck);
  color: var(--_1x1dlwc7);
  border: 1px solid var(--_1x1dlwcp);
  height: var(--_16p4d93r);
}
._8ld2j9d:hover, ._8ld2j9d[data-popup-open] {
  background-color: var(--_1x1dlwcm);
}
._8ld2j9d:focus-visible {
  outline: 2px solid var(--_1x1dlwcs);
  z-index: 1;
}
._8ld2j9f {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._8ld2j9h {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._8ld2j9i {
  color: var(--_1x1dlwcc);
}
._8ld2j9k {
  height: 1px;
  background-color: var(--_1x1dlwcp);
}
@media screen and (max-width: 767px) {
  ._8ld2j95 {
    display: none;
  }
}
.ideews2 {
  border: 1px solid var(--_1x1dlwcp);
  border-radius: var(--_16p4d939);
}
.ideews4 {
  border-bottom: 1px solid var(--_1x1dlwcp);
  gap: 12px;
}
.ideews7 {
  border-top: 1px solid var(--_1x1dlwcp);
  gap: 12px;
}
.ideewsb {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .ideews5 {
    display: none;
  }
}
