@keyframes _157b1r14 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._157b1r11 {
  z-index: 99999;
  background: #1c2230;
  color: var(--mx75vt9);
}
._157b1r13 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _157b1r14;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._157b1r15 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1ix7pmt1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1ix7pmt0);
}
._1ix7pmt2 {
  --_1ix7pmt0: var(--p2wihog);
}
._1ix7pmt3 {
  --_1ix7pmt0: var(--p2wihoh);
}
._1ix7pmt4 {
  --_1ix7pmt0: var(--p2wihoi);
}
._1ix7pmt5 {
  --_1ix7pmt0: var(--p2wihoj);
}
._1ix7pmt6 {
  --_1ix7pmt0: var(--p2wihok);
}
._1ix7pmt7 {
  --_1ix7pmt0: var(--p2wihol);
}
._1ix7pmt8 {
  --_1ix7pmt0: var(--p2wihom);
}
._1ix7pmt9 {
  --_1ix7pmt0: var(--p2wihon);
}
._1ix7pmta {
  --_1ix7pmt0: var(--p2wihoo);
}
._1ix7pmtb {
  --_1ix7pmt0: var(--p2wihop);
}
