._1jgrl5i1 {
  background-color: var(--_1k12skpm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1k12skps);
}
._1jgrl5i2::before {
  content: "";
  position: absolute;
  min-height: var(--_6x4mdvc);
  min-width: var(--_6x4mdvc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.lzm5bu2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.lzm5bu4 {
  border: 1px solid var(--_1k12skps);
  background-color: var(--_1k12skpl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.lzm5bu4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1k12skpn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.lzm5bu4:hover::after {
  opacity: 1;
}
.lzm5bu4:focus-visible::after {
  opacity: 1;
}
.lzm5bu4:active:not([disabled]) {
  transform: scale(0.97);
}
.lzm5bu4:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 0;
}
.lzm5bu6 {
  isolation: isolate;
}
.lzm5bu8 {
  height: var(--lzm5bu0);
}
.lzm5bua {
  border-color: var(--_1k12skpc);
}
.lzm5bua::after {
  background-color: var(--_1k12skpi);
}
.lzm5bub {
  border-color: var(--_1k12skpa);
}
.lzm5bub::after {
  background-color: var(--_1k12skpj);
}
.lzm5buc {
  --lzm5bu0: var(--_6x4mdvq);
}
.lzm5bud {
  --lzm5bu0: var(--_6x4mdvr);
}
.lzm5bue {
  --lzm5bu0: var(--_6x4mdvs);
}
._1sk9zrw2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1sk9zrw0);
  align-items: var(--_1sk9zrw1);
}
._1sk9zrw3 {
  flex-wrap: wrap;
}
._1sk9zrw4 {
  --_1sk9zrw0: var(--_6x4mdvg);
}
._1sk9zrw5 {
  --_1sk9zrw0: var(--_6x4mdvh);
}
._1sk9zrw6 {
  --_1sk9zrw0: var(--_6x4mdvi);
}
._1sk9zrw7 {
  --_1sk9zrw0: var(--_6x4mdvj);
}
._1sk9zrw8 {
  --_1sk9zrw0: var(--_6x4mdvk);
}
._1sk9zrw9 {
  --_1sk9zrw0: var(--_6x4mdvl);
}
._1sk9zrwa {
  --_1sk9zrw0: var(--_6x4mdvm);
}
._1sk9zrwb {
  --_1sk9zrw0: var(--_6x4mdvn);
}
._1sk9zrwc {
  --_1sk9zrw0: var(--_6x4mdvo);
}
._1sk9zrwd {
  --_1sk9zrw0: var(--_6x4mdvp);
}
._1sk9zrwe {
  align-items: flex-start;
}
._1sk9zrwf {
  align-items: center;
}
._1sk9zrwg {
  align-items: flex-end;
}
.vd5uzh0 {
  isolation: isolate;
  white-space: nowrap;
}
.vd5uzh1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .vd5uzh3 {
    display: none;
  }
}
.pa9bln0 {
  color: var(--_1k12skp9);
}
._11onemo1 {
  --_1k12skp7: var(--_1k12skpd);
  background-color: var(--_1k12skpo);
  outline: 1px solid var(--_1k12skpu);
  outline-offset: -1px;
}
.xnz1lv3 {
  background: transparent;
  outline: none;
  height: var(--xnz1lv0) !important;
  width: var(--xnz1lv0) !important;
}
.xnz1lv6 {
  padding: var(--xnz1lv4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.xnz1lv3:active .xnz1lv6 {
  transform: scale(.95);
}
.xnz1lv3:focus-visible .xnz1lv6 {
  outline: 2px solid var(--_1k12skpv);
}
.xnz1lv3[aria-disabled="true"] .xnz1lv6 {
  --xnz1lv1: var(--_1k12skp9);
}
.xnz1lv7 {
  --xnz1lv0: var(--_6x4mdvq);
  --xnz1lv4: var(--_6x4mdvi);
}
.xnz1lv8 {
  --xnz1lv0: var(--_6x4mdvr);
  --xnz1lv4: var(--_6x4mdvj);
}
.xnz1lv9 {
  --xnz1lv0: var(--_6x4mdvs);
  --xnz1lv4: var(--_6x4mdvj);
}
.xnz1lvj {
  --xnz1lva: var(--_1k12skp7);
  --xnz1lvb: var(--_1k12skpl);
  --xnz1lvc: var(--_1k12skpn);
  --xnz1lvd: var(--_1k12skp8);
  --xnz1lve: var(--_1k12skpg);
  --xnz1lvf: var(--_1k12skph);
  --xnz1lvg: var(--_1k12skp7);
  --xnz1lvh: var(--_1k12skp7);
  --xnz1lvi: var(--_1k12skpn);
}
.xnz1lvk {
  --xnz1lva: var(--_1k12skpb);
  --xnz1lvb: var(--_1k12skpl);
  --xnz1lvc: var(--_1k12skpn);
  --xnz1lvd: var(--_1k12skp8);
  --xnz1lve: var(--_1k12skpb);
  --xnz1lvf: var(--_1k12skpf);
  --xnz1lvg: var(--_1k12skpb);
  --xnz1lvh: var(--_1k12skp8);
  --xnz1lvi: var(--_1k12skpe);
}
.xnz1lvl {
  color: var(--xnz1lva);
  background-color: var(--xnz1lvb);
  outline: 1px solid var(--_1k12skps);
  outline-offset: -1px;
}
.xnz1lv3:not([aria-disabled="true"]):hover > .xnz1lvl, .xnz1lv3:not([aria-disabled="true"]):focus-visible > .xnz1lvl, .xnz1lv3:not([aria-disabled="true"])[data-popup-open] > .xnz1lvl, .xnz1lv3:not([aria-disabled="true"])[data-active] > .xnz1lvl {
  background-color: var(--xnz1lvc);
}
.xnz1lvm {
  color: var(--xnz1lvd);
  background-color: var(--xnz1lve);
}
.xnz1lv3:not([aria-disabled="true"]):hover > .xnz1lvm, .xnz1lv3:not([aria-disabled="true"]):focus-visible > .xnz1lvm, .xnz1lv3:not([aria-disabled="true"])[data-popup-open] > .xnz1lvm, .xnz1lv3:not([aria-disabled="true"])[data-active] > .xnz1lvm {
  background-color: var(--xnz1lvf);
}
.xnz1lvn {
  color: var(--xnz1lvg);
}
.xnz1lv3:not([aria-disabled="true"]):hover > .xnz1lvn, .xnz1lv3:not([aria-disabled="true"]):focus-visible > .xnz1lvn, .xnz1lv3:not([aria-disabled="true"])[data-popup-open] > .xnz1lvn, .xnz1lv3:not([aria-disabled="true"])[data-active] > .xnz1lvn {
  color: var(--xnz1lvh);
  background-color: var(--xnz1lvi);
}
.xnz1lvo {
  margin: calc((var(--xnz1lv4) + 2px) * -1);
}
.xnz1lv6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._18huudz1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._18huudz2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._18huudz2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._18huudz4 {
  --_18huudz3: 30px;
}
._18huudz5 {
  --_18huudz3: 45px;
}
._18huudz6 {
  --_18huudz3: 60px;
}
._18huudz7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._18huudz8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._18huudz9 {
  overflow: auto;
}
._18huudze {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_18huudzc, 0)),linear-gradient(to right, transparent 0, black var(--_18huudza, 0)),linear-gradient(to left, transparent 0, black var(--_18huudzb, 0)),linear-gradient(to top, transparent 0, black var(--_18huudzd, 0));
}
._18huudzf {
  --_18huudza: var(--_18huudz3);
}
._18huudzg {
  --_18huudzb: var(--_18huudz3);
}
._18huudzh {
  --_18huudzc: var(--_18huudz3);
}
._18huudzi {
  --_18huudzd: var(--_18huudz3);
}
._4hvmlh2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._4hvmlh3 {
  width: 250px;
}
._4hvmlh6 {
  --_4hvmlh4: var(--_1k12skpn);
  outline: none;
  cursor: default;
  color: var(--_1k12skp7);
  height: 34px;
  isolation: isolate;
}
._4hvmlh6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_6x4mdv8);
  z-index: -1;
}
._4hvmlh6[data-popup-open]:not([aria-disabled])::before, ._4hvmlh6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_4hvmlh4);
}
._4hvmlh6:focus-visible::before {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: -2px;
}
._4hvmlh6[aria-disabled] {
  color: var(--_1k12skp9);
  cursor: not-allowed;
}
._4hvmlh7 {
  cursor: pointer;
  text-decoration: none;
}
._4hvmlh7[aria-disabled] {
  cursor: not-allowed;
}
._4hvmlh8 {
  margin-left: 3px;
}
._4hvmlh9 {
  --_4hvmlh4: var(--_1k12skpj);
  color: var(--_1k12skpa);
}
._4hvmlha {
  --_4hvmlh4: transparent;
  color: var(--_1k12skpc);
}
._4hvmlha svg {
  color: var(--_1k12skpc);
}
._4hvmlhc {
  isolation: isolate;
}
._4hvmlhg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._4hvmlhi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1k12skp7);
  z-index: 1;
}
[aria-checked="true"] ._4hvmlhi {
  color: var(--_1k12skp8);
}
._4hvmlhk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1k12skp7);
  isolation: isolate;
}
[aria-checked="true"] ._4hvmlhk {
  background-color: var(--_1k12skpe);
  border-color: var(--_1k12skpe);
}
._4hvmlhp {
  height: 34px;
}
._4hvmlhr {
  height: 1px;
  background-color: var(--_1k12skps);
}
._4hvmlht {
  background: transparent;
  border: none;
}
._4hvmlht:hover, ._4hvmlht[data-highlighted] {
  background-color: var(--_1k12skpn);
}
._4hvmlht:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: -2px;
}
.vhlcob1 {
  justify-content: safe center;
}
.vhlcob5 {
  flex-shrink: 0;
  width: var(--vhlcob2);
}
.vhlcob5:last-child {
  padding-right: var(--_6x4mdvn);
}
.vhlcob6 {
  transition: color 150ms ease;
}
.vhlcob5:hover .vhlcob6, .vhlcob5:focus-within .vhlcob6, .vhlcob3 .vhlcob6 {
  color: var(--_1k12skpb);
}
.vhlcob8 {
  outline: 1px solid var(--_1k12skps);
}
.vhlcoba {
  transition: opacity 150ms ease;
}
.vhlcob5:not(:hover, :focus-within, .vhlcob3) .vhlcoba {
  opacity: 1;
}
.vhlcobc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.vhlcoba:hover ~ .vhlcob8 .vhlcobc, .vhlcoba:focus-within ~ .vhlcob8.vhlcobc {
  outline-color: var(--_1k12skpb);
}
.vhlcobe {
  transition: opacity 150ms ease;
}
.vhlcob5:not(:hover, :focus-within, .vhlcob3) .vhlcobe {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] .vhlcob5:not(:hover, :focus-within, .vhlcob3) .vhlcobe {
  opacity: 0.6;
}
._1vwwsm01 {
  color: var(--_1k12skp7);
  font-family: var(--_6x4mdv0);
}
._1vwwsm02 {
  --_3za4e70: 36px;
  --_3za4e71: 44px;
  --_3za4e72: -0.2741em;
  --_3za4e73: -0.2031em;
}
._1vwwsm03 {
  --_3za4e70: 20px;
  --_3za4e71: 28px;
  --_3za4e72: -0.363em;
  --_3za4e73: -0.292em;
}
._1vwwsm04 {
  --_3za4e70: 16px;
  --_3za4e71: 20px;
  --_3za4e72: -0.288em;
  --_3za4e73: -0.217em;
}
._8wz3dt1 {
  display: flex;
  flex-direction: column;
  gap: var(--_8wz3dt0);
}
._8wz3dt2 {
  --_8wz3dt0: var(--_6x4mdvg);
}
._8wz3dt3 {
  --_8wz3dt0: var(--_6x4mdvh);
}
._8wz3dt4 {
  --_8wz3dt0: var(--_6x4mdvi);
}
._8wz3dt5 {
  --_8wz3dt0: var(--_6x4mdvj);
}
._8wz3dt6 {
  --_8wz3dt0: var(--_6x4mdvk);
}
._8wz3dt7 {
  --_8wz3dt0: var(--_6x4mdvl);
}
._8wz3dt8 {
  --_8wz3dt0: var(--_6x4mdvm);
}
._8wz3dt9 {
  --_8wz3dt0: var(--_6x4mdvn);
}
._8wz3dta {
  --_8wz3dt0: var(--_6x4mdvo);
}
._8wz3dtb {
  --_8wz3dt0: var(--_6x4mdvp);
}
._8wz3dtc {
  align-items: flex-start;
}
._8wz3dtd {
  align-items: center;
}
._8wz3dte {
  align-items: flex-end;
}
._191gr421 {
  backdrop-filter: blur(6px);
}
._191gr421::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1k12skpk);
  opacity: 0.4;
}
html[data-playroom-dark] ._191gr421::before {
  opacity: 0.7;
}
._191gr421[data-starting-style]::before, ._191gr421[data-ending-style]::before {
  opacity: 0;
}
._191gr423 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_6x4mdvk) * 2));
  max-height: calc(100dvh - (var(--_6x4mdvk) * 2));
}
._191gr423[data-starting-style], ._191gr423[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._191gr427:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 2px;
}
._8aqxzb0 {
  width: 200px;
}
._1npp3cm1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1k12skpl);
}
._1npp3cm2 {
  width: fit-content;
}
._1npp3cm4 {
  width: fit-content;
  justify-self: flex-end;
}
._1npp3cm7:not(._1npp3cm5) {
  opacity: 0;
  transform: translateX(var(--_6x4mdvj));
  pointer-events: none;
}
._1npp3cm9 {
  background: transparent;
  color: var(--_1k12skpg);
  isolation: isolate;
}
._1npp3cm9::after {
  content: "";
  position: absolute;
  transition: var(--_6x4mdvf);
  z-index: -1;
  inset: calc(var(--_6x4mdvj) * -1);
  background-color: var(--_1k12skpn);
  border-radius: var(--_6x4mdv9);
}
._1npp3cm9:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 6px;
}
._1npp3cm9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1npp3cmb {
  margin: calc(var(--_6x4mdvk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1npp3cmf {
  appearance: none;
  outline: none;
  background: var(--_1k12skpl);
  color: var(--_1k12skp7);
  border: 1px solid var(--_1k12skps);
  height: var(--_6x4mdvr);
}
._1npp3cmf:hover, ._1npp3cmf[data-popup-open] {
  background-color: var(--_1k12skpn);
}
._1npp3cmf:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  z-index: 1;
}
._1npp3cmh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1npp3cmj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1npp3cmk {
  color: var(--_1k12skpc);
}
._1npp3cmm {
  height: 1px;
  background-color: var(--_1k12skps);
}
@media screen and (max-width: 767px) {
  ._1npp3cm4 {
    display: none;
  }
}
.b6pbiv2 {
  flex: 1;
  min-height: 0;
}
.b6pbiv5 {
  --b6pbiv3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--b6pbiv3), 1fr);
}
.b6pbiv7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.b6pbiv9 {
  height: calc(100% / var(--b6pbiv0));
  width: calc(100% / var(--b6pbiv0));
  border-radius: calc(var(--_6x4mdv9) / var(--b6pbiv0));
  transform: scale(var(--b6pbiv0));
  transform-origin: 0 0;
  padding: calc(1px / var(--b6pbiv0));
}
.b6pbivb {
  background: var(--_1k12skpn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.b6pbivd {
  background: transparent;
  outline: 1px solid var(--_1k12skps);
}
.b6pbivd:hover {
  outline: 2px solid var(--_1k12skpt);
}
.b6pbivd:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 2px;
}
.b6pbivh {
  list-style: none;
}
.b6pbivj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1k12skps);
}
.b6pbivj:hover {
  outline: 2px solid var(--_1k12skpt);
}
.b6pbivj:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .b6pbiv5 {
    --b6pbiv3: 2;
  }
}
@media screen and (min-width: 800px) {
  .b6pbiv5 {
    --b6pbiv3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .b6pbiv5 {
    --b6pbiv3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .b6pbiv5 {
    --b6pbiv3: 5;
  }
}
._27zaey1 {
  width: fit-content;
}
._27zaey3:focus-visible ~ ._27zaey5 {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 4px;
}
._27zaey8 {
  min-width: 0;
}
._27zaey9 {
  flex-shrink: 0;
}
.pcgbiz2 {
  outline: none;
  height: var(--_6x4mdvr);
  color: var(--_1k12skp7);
  background: transparent;
}
.pcgbiz2::placeholder {
  color: var(--_1k12skp9);
  font-weight: strong;
}
.pcgbiz2:hover:not(:focus-visible), .pcgbiz2:hover:not(:focus-visible)::placeholder {
  background: var(--_1k12skpn);
  opacity: 1;
  color: transparent;
}
.pcgbiz2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.pcgbiz2:focus-visible {
  outline: 2px solid var(--_1k12skpv);
  outline-offset: 0;
  opacity: 1;
}
.pcgbiz2:focus-visible::placeholder {
  color: transparent;
}
.pcgbiz4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1k12skp7);
}
.pcgbiz2:focus-visible ~ .pcgbiz4 {
  opacity: 0;
}
.pcgbiz5 {
  color: var(--_1k12skp9);
}
.fd6cjp3 {
  border: 1px solid var(--_1k12skps);
}
.fd6cjp5 {
  background-color: var(--_1k12skpq);
  border-bottom: 1px solid var(--_1k12skps);
}
.fd6cjp8 {
  background-color: var(--_1k12skpq);
  border-top: 1px solid var(--_1k12skps);
}
.fd6cjpc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .fd6cjp6 {
    display: none;
  }
}
