.d1zo771 {
  background-color: var(--_1ghc7i0m);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1ghc7i0s);
}
.d1zo772::before {
  content: "";
  position: absolute;
  min-height: var(--_91p23zc);
  min-width: var(--_91p23zc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._176cxoe2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._176cxoe4 {
  border: 1px solid var(--_1ghc7i0s);
  background-color: var(--_1ghc7i0l);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._176cxoe4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1ghc7i0n);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._176cxoe4:hover::after {
  opacity: 1;
}
._176cxoe4:focus-visible::after {
  opacity: 1;
}
._176cxoe4:active:not([disabled]) {
  transform: scale(0.97);
}
._176cxoe4:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 0;
}
._176cxoe6 {
  isolation: isolate;
}
._176cxoe8 {
  height: var(--_176cxoe0);
}
._176cxoea {
  border-color: var(--_1ghc7i0c);
}
._176cxoea::after {
  background-color: var(--_1ghc7i0i);
}
._176cxoeb {
  border-color: var(--_1ghc7i0a);
}
._176cxoeb::after {
  background-color: var(--_1ghc7i0j);
}
._176cxoec {
  --_176cxoe0: var(--_91p23zq);
}
._176cxoed {
  --_176cxoe0: var(--_91p23zr);
}
._176cxoee {
  --_176cxoe0: var(--_91p23zs);
}
.cog0r62 {
  display: flex;
  flex-direction: row;
  gap: var(--cog0r60);
  align-items: var(--cog0r61);
}
.cog0r63 {
  flex-wrap: wrap;
}
.cog0r64 {
  --cog0r60: var(--_91p23zg);
}
.cog0r65 {
  --cog0r60: var(--_91p23zh);
}
.cog0r66 {
  --cog0r60: var(--_91p23zi);
}
.cog0r67 {
  --cog0r60: var(--_91p23zj);
}
.cog0r68 {
  --cog0r60: var(--_91p23zk);
}
.cog0r69 {
  --cog0r60: var(--_91p23zl);
}
.cog0r6a {
  --cog0r60: var(--_91p23zm);
}
.cog0r6b {
  --cog0r60: var(--_91p23zn);
}
.cog0r6c {
  --cog0r60: var(--_91p23zo);
}
.cog0r6d {
  --cog0r60: var(--_91p23zp);
}
.cog0r6e {
  align-items: flex-start;
}
.cog0r6f {
  align-items: center;
}
.cog0r6g {
  align-items: flex-end;
}
._1u2zmrf0 {
  isolation: isolate;
  white-space: nowrap;
}
._1u2zmrf1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1u2zmrf3 {
    display: none;
  }
}
._1qiik3k0 {
  color: var(--_1ghc7i09);
}
.u915701 {
  --_1ghc7i07: var(--_1ghc7i0d);
  background-color: var(--_1ghc7i0o);
  outline: 1px solid var(--_1ghc7i0u);
  outline-offset: -1px;
}
._1h5hlh83 {
  background: transparent;
  outline: none;
  height: var(--_1h5hlh80) !important;
  width: var(--_1h5hlh80) !important;
}
._1h5hlh86 {
  padding: var(--_1h5hlh84);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._1h5hlh83:active ._1h5hlh86 {
  transform: scale(.95);
}
._1h5hlh83:focus-visible ._1h5hlh86 {
  outline: 2px solid var(--_1ghc7i0v);
}
._1h5hlh83[aria-disabled="true"] ._1h5hlh86 {
  --_1h5hlh81: var(--_1ghc7i09);
}
._1h5hlh87 {
  --_1h5hlh80: var(--_91p23zq);
  --_1h5hlh84: var(--_91p23zi);
}
._1h5hlh88 {
  --_1h5hlh80: var(--_91p23zr);
  --_1h5hlh84: var(--_91p23zj);
}
._1h5hlh89 {
  --_1h5hlh80: var(--_91p23zs);
  --_1h5hlh84: var(--_91p23zj);
}
._1h5hlh8j {
  --_1h5hlh8a: var(--_1ghc7i07);
  --_1h5hlh8b: var(--_1ghc7i0l);
  --_1h5hlh8c: var(--_1ghc7i0n);
  --_1h5hlh8d: var(--_1ghc7i08);
  --_1h5hlh8e: var(--_1ghc7i0g);
  --_1h5hlh8f: var(--_1ghc7i0h);
  --_1h5hlh8g: var(--_1ghc7i07);
  --_1h5hlh8h: var(--_1ghc7i07);
  --_1h5hlh8i: var(--_1ghc7i0n);
}
._1h5hlh8k {
  --_1h5hlh8a: var(--_1ghc7i0b);
  --_1h5hlh8b: var(--_1ghc7i0l);
  --_1h5hlh8c: var(--_1ghc7i0n);
  --_1h5hlh8d: var(--_1ghc7i08);
  --_1h5hlh8e: var(--_1ghc7i0b);
  --_1h5hlh8f: var(--_1ghc7i0f);
  --_1h5hlh8g: var(--_1ghc7i0b);
  --_1h5hlh8h: var(--_1ghc7i08);
  --_1h5hlh8i: var(--_1ghc7i0e);
}
._1h5hlh8l {
  color: var(--_1h5hlh8a);
  background-color: var(--_1h5hlh8b);
  outline: 1px solid var(--_1ghc7i0s);
  outline-offset: -1px;
}
._1h5hlh83:not([aria-disabled="true"]):hover > ._1h5hlh8l, ._1h5hlh83:not([aria-disabled="true"]):focus-visible > ._1h5hlh8l, ._1h5hlh83:not([aria-disabled="true"])[data-popup-open] > ._1h5hlh8l, ._1h5hlh83:not([aria-disabled="true"])[data-active] > ._1h5hlh8l {
  background-color: var(--_1h5hlh8c);
}
._1h5hlh8m {
  color: var(--_1h5hlh8d);
  background-color: var(--_1h5hlh8e);
}
._1h5hlh83:not([aria-disabled="true"]):hover > ._1h5hlh8m, ._1h5hlh83:not([aria-disabled="true"]):focus-visible > ._1h5hlh8m, ._1h5hlh83:not([aria-disabled="true"])[data-popup-open] > ._1h5hlh8m, ._1h5hlh83:not([aria-disabled="true"])[data-active] > ._1h5hlh8m {
  background-color: var(--_1h5hlh8f);
}
._1h5hlh8n {
  color: var(--_1h5hlh8g);
}
._1h5hlh83:not([aria-disabled="true"]):hover > ._1h5hlh8n, ._1h5hlh83:not([aria-disabled="true"]):focus-visible > ._1h5hlh8n, ._1h5hlh83:not([aria-disabled="true"])[data-popup-open] > ._1h5hlh8n, ._1h5hlh83:not([aria-disabled="true"])[data-active] > ._1h5hlh8n {
  color: var(--_1h5hlh8h);
  background-color: var(--_1h5hlh8i);
}
._1h5hlh8o {
  margin: calc((var(--_1h5hlh84) + 2px) * -1);
}
._1h5hlh86 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.vxi5i21 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.vxi5i22 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.vxi5i22::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.vxi5i24 {
  --vxi5i23: 30px;
}
.vxi5i25 {
  --vxi5i23: 45px;
}
.vxi5i26 {
  --vxi5i23: 60px;
}
.vxi5i27 {
  overflow-x: auto;
  overflow-y: hidden;
}
.vxi5i28 {
  overflow-x: hidden;
  overflow-y: auto;
}
.vxi5i29 {
  overflow: auto;
}
.vxi5i2e {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--vxi5i2c, 0)),linear-gradient(to right, transparent 0, black var(--vxi5i2a, 0)),linear-gradient(to left, transparent 0, black var(--vxi5i2b, 0)),linear-gradient(to top, transparent 0, black var(--vxi5i2d, 0));
}
.vxi5i2f {
  --vxi5i2a: var(--vxi5i23);
}
.vxi5i2g {
  --vxi5i2b: var(--vxi5i23);
}
.vxi5i2h {
  --vxi5i2c: var(--vxi5i23);
}
.vxi5i2i {
  --vxi5i2d: var(--vxi5i23);
}
._1x0clh22 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._1x0clh23 {
  width: 250px;
}
._1x0clh26 {
  --_1x0clh24: var(--_1ghc7i0n);
  outline: none;
  cursor: default;
  color: var(--_1ghc7i07);
  height: 34px;
  isolation: isolate;
}
._1x0clh26::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_91p23z8);
  z-index: -1;
}
._1x0clh26[data-popup-open]:not([aria-disabled])::before, ._1x0clh26[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_1x0clh24);
}
._1x0clh26:focus-visible::before {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: -2px;
}
._1x0clh26[aria-disabled] {
  color: var(--_1ghc7i09);
  cursor: not-allowed;
}
._1x0clh27 {
  cursor: pointer;
  text-decoration: none;
}
._1x0clh27[aria-disabled] {
  cursor: not-allowed;
}
._1x0clh28 {
  margin-left: 3px;
}
._1x0clh29 {
  --_1x0clh24: var(--_1ghc7i0j);
  color: var(--_1ghc7i0a);
}
._1x0clh2a {
  --_1x0clh24: transparent;
  color: var(--_1ghc7i0c);
}
._1x0clh2a svg {
  color: var(--_1ghc7i0c);
}
._1x0clh2c {
  isolation: isolate;
}
._1x0clh2g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._1x0clh2i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1ghc7i07);
  z-index: 1;
}
[aria-checked="true"] ._1x0clh2i {
  color: var(--_1ghc7i08);
}
._1x0clh2k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1ghc7i07);
  isolation: isolate;
}
[aria-checked="true"] ._1x0clh2k {
  background-color: var(--_1ghc7i0e);
  border-color: var(--_1ghc7i0e);
}
._1x0clh2p {
  height: 34px;
}
._1x0clh2r {
  height: 1px;
  background-color: var(--_1ghc7i0s);
}
._1x0clh2t {
  background: transparent;
  border: none;
}
._1x0clh2t:hover, ._1x0clh2t[data-highlighted] {
  background-color: var(--_1ghc7i0n);
}
._1x0clh2t:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: -2px;
}
._1ku4qxq1 {
  justify-content: safe center;
}
._1ku4qxq5 {
  flex-shrink: 0;
  width: var(--_1ku4qxq2);
}
._1ku4qxq5:last-child {
  padding-right: var(--_91p23zn);
}
._1ku4qxq6 {
  transition: color 150ms ease;
}
._1ku4qxq5:hover ._1ku4qxq6, ._1ku4qxq5:focus-within ._1ku4qxq6, ._1ku4qxq3 ._1ku4qxq6 {
  color: var(--_1ghc7i0b);
}
._1ku4qxq8 {
  outline: 1px solid var(--_1ghc7i0s);
}
._1ku4qxqa {
  transition: opacity 150ms ease;
}
._1ku4qxq5:not(:hover, :focus-within, ._1ku4qxq3) ._1ku4qxqa {
  opacity: 1;
}
._1ku4qxqc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1ku4qxqa:hover ~ ._1ku4qxq8 ._1ku4qxqc, ._1ku4qxqa:focus-within ~ ._1ku4qxq8._1ku4qxqc {
  outline-color: var(--_1ghc7i0b);
}
._1ku4qxqe {
  transition: opacity 150ms ease;
}
._1ku4qxq5:not(:hover, :focus-within, ._1ku4qxq3) ._1ku4qxqe {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._1ku4qxq5:not(:hover, :focus-within, ._1ku4qxq3) ._1ku4qxqe {
  opacity: 0.6;
}
._1ox42991 {
  color: var(--_1ghc7i07);
  font-family: var(--_91p23z0);
}
._1ox42992 {
  --x1z5fc0: 36px;
  --x1z5fc1: 44px;
  --x1z5fc2: -0.2741em;
  --x1z5fc3: -0.2031em;
}
._1ox42993 {
  --x1z5fc0: 20px;
  --x1z5fc1: 28px;
  --x1z5fc2: -0.363em;
  --x1z5fc3: -0.292em;
}
._1ox42994 {
  --x1z5fc0: 16px;
  --x1z5fc1: 20px;
  --x1z5fc2: -0.288em;
  --x1z5fc3: -0.217em;
}
._36fkgz1 {
  display: flex;
  flex-direction: column;
  gap: var(--_36fkgz0);
}
._36fkgz2 {
  --_36fkgz0: var(--_91p23zg);
}
._36fkgz3 {
  --_36fkgz0: var(--_91p23zh);
}
._36fkgz4 {
  --_36fkgz0: var(--_91p23zi);
}
._36fkgz5 {
  --_36fkgz0: var(--_91p23zj);
}
._36fkgz6 {
  --_36fkgz0: var(--_91p23zk);
}
._36fkgz7 {
  --_36fkgz0: var(--_91p23zl);
}
._36fkgz8 {
  --_36fkgz0: var(--_91p23zm);
}
._36fkgz9 {
  --_36fkgz0: var(--_91p23zn);
}
._36fkgza {
  --_36fkgz0: var(--_91p23zo);
}
._36fkgzb {
  --_36fkgz0: var(--_91p23zp);
}
._36fkgzc {
  align-items: flex-start;
}
._36fkgzd {
  align-items: center;
}
._36fkgze {
  align-items: flex-end;
}
.nvuhko1 {
  backdrop-filter: blur(6px);
}
.nvuhko1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1ghc7i0k);
  opacity: 0.4;
}
html[data-playroom-dark] .nvuhko1::before {
  opacity: 0.7;
}
.nvuhko1[data-starting-style]::before, .nvuhko1[data-ending-style]::before {
  opacity: 0;
}
.nvuhko3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_91p23zk) * 2));
  max-height: calc(100dvh - (var(--_91p23zk) * 2));
}
.nvuhko3[data-starting-style], .nvuhko3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.nvuhko7:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 2px;
}
._19di7xd0 {
  width: 200px;
}
.s2mgmt1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1ghc7i0l);
}
.s2mgmt2 {
  width: fit-content;
}
.s2mgmt4 {
  width: fit-content;
  justify-self: flex-end;
}
.s2mgmt7:not(.s2mgmt5) {
  opacity: 0;
  transform: translateX(var(--_91p23zj));
  pointer-events: none;
}
.s2mgmt9 {
  background: transparent;
  color: var(--_1ghc7i0g);
  isolation: isolate;
}
.s2mgmt9::after {
  content: "";
  position: absolute;
  transition: var(--_91p23zf);
  z-index: -1;
  inset: calc(var(--_91p23zj) * -1);
  background-color: var(--_1ghc7i0n);
  border-radius: var(--_91p23z9);
}
.s2mgmt9:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 6px;
}
.s2mgmt9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.s2mgmtb {
  margin: calc(var(--_91p23zk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.s2mgmtf {
  appearance: none;
  outline: none;
  background: var(--_1ghc7i0l);
  color: var(--_1ghc7i07);
  border: 1px solid var(--_1ghc7i0s);
  height: var(--_91p23zr);
}
.s2mgmtf:hover, .s2mgmtf[data-popup-open] {
  background-color: var(--_1ghc7i0n);
}
.s2mgmtf:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  z-index: 1;
}
.s2mgmth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.s2mgmtj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.s2mgmtk {
  color: var(--_1ghc7i0c);
}
.s2mgmtm {
  height: 1px;
  background-color: var(--_1ghc7i0s);
}
@media screen and (max-width: 767px) {
  .s2mgmt4 {
    display: none;
  }
}
.a4g0582 {
  flex: 1;
  min-height: 0;
}
.a4g0585 {
  --a4g0583: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--a4g0583), 1fr);
}
.a4g0587 {
  aspect-ratio: 5/4;
  list-style: none;
}
.a4g0589 {
  height: calc(100% / var(--a4g0580));
  width: calc(100% / var(--a4g0580));
  border-radius: calc(var(--_91p23z9) / var(--a4g0580));
  transform: scale(var(--a4g0580));
  transform-origin: 0 0;
  padding: calc(1px / var(--a4g0580));
}
.a4g058b {
  background: var(--_1ghc7i0n);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.a4g058d {
  background: transparent;
  outline: 1px solid var(--_1ghc7i0s);
}
.a4g058d:hover {
  outline: 2px solid var(--_1ghc7i0t);
}
.a4g058d:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 2px;
}
.a4g058h {
  list-style: none;
}
.a4g058j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1ghc7i0s);
}
.a4g058j:hover {
  outline: 2px solid var(--_1ghc7i0t);
}
.a4g058j:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .a4g0585 {
    --a4g0583: 2;
  }
}
@media screen and (min-width: 800px) {
  .a4g0585 {
    --a4g0583: 3;
  }
}
@media screen and (min-width: 1200px) {
  .a4g0585 {
    --a4g0583: 4;
  }
}
@media screen and (min-width: 1600px) {
  .a4g0585 {
    --a4g0583: 5;
  }
}
._21zz4t1 {
  width: fit-content;
}
._21zz4t3:focus-visible ~ ._21zz4t5 {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 4px;
}
._21zz4t8 {
  min-width: 0;
}
._21zz4t9 {
  flex-shrink: 0;
}
._1x9g1im2 {
  outline: none;
  height: var(--_91p23zr);
  color: var(--_1ghc7i07);
  background: transparent;
}
._1x9g1im2::placeholder {
  color: var(--_1ghc7i09);
  font-weight: strong;
}
._1x9g1im2:hover:not(:focus-visible), ._1x9g1im2:hover:not(:focus-visible)::placeholder {
  background: var(--_1ghc7i0n);
  opacity: 1;
  color: transparent;
}
._1x9g1im2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1x9g1im2:focus-visible {
  outline: 2px solid var(--_1ghc7i0v);
  outline-offset: 0;
  opacity: 1;
}
._1x9g1im2:focus-visible::placeholder {
  color: transparent;
}
._1x9g1im4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1ghc7i07);
}
._1x9g1im2:focus-visible ~ ._1x9g1im4 {
  opacity: 0;
}
._1x9g1im5 {
  color: var(--_1ghc7i09);
}
._1lceftq3 {
  border: 1px solid var(--_1ghc7i0s);
}
._1lceftq5 {
  background-color: var(--_1ghc7i0q);
  border-bottom: 1px solid var(--_1ghc7i0s);
}
._1lceftq8 {
  background-color: var(--_1ghc7i0q);
  border-top: 1px solid var(--_1ghc7i0s);
}
._1lceftqc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1lceftq6 {
    display: none;
  }
}
