.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
.egnbb45 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1vtzzttj);
  -webkit-tap-highlight-color: transparent;
}
.egnbb45::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1vtzzttl);
  opacity: 0;
  transition: var(--xn9vegf);
  pointer-events: none;
}
.egnbb45::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--xn9vegf);
}
.egnbb45.egnbb40 {
  color: var(--_1vtzzttd);
}
.egnbb45:not(.egnbb41) {
  cursor: pointer;
}
.egnbb45.egnbb41 {
  color: var(--_1vtzztt7);
}
.egnbb45.egnbb42,.egnbb45.egnbb43:not(.egnbb40):not(.egnbb41),html:not([data-playroom-dark]) .egnbb45:hover:not(.egnbb40):not(.egnbb41) {
  color: var(--_1vtzzttc);
}
.egnbb45:not(.egnbb40):not(:hover):focus::before {
  color: var(--_1vtzztt8);
}
.egnbb45:not(.egnbb40):not(.egnbb41):focus::before,.egnbb45:not(.egnbb40):not(.egnbb41):hover::before {
  opacity: 1;
}
.egnbb45:not(.egnbb43)::after {
  transform: translateX(100%);
  opacity: 0;
}
.egnbb48 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1vtzzttf);
  border: 2px solid var(--_1vtzzttj);
}
.egnbb48:not(.egnbb46) {
  transform: scale(0);
  opacity: 0;
}
.egnbb4a {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1vtzzttd);
  border: 2px solid var(--_1vtzzttj);
}
.egnbb4a:not(.egnbb46) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
.egnbb4a svg {
  color: var(--_1vtzztt9);
}
@keyframes wydh4t1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wydh4t0 {
  background-color: var(--_1vtzzttl);
}
.wydh4t3 {
  background-color: var(--_1vtzztth);
  color: var(--_1vtzzttb);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: wydh4t1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.wydh4t3:hover {
  cursor: help;
}
.wydh4t4 {
  width: 1em;
  padding: 0 8px;
}
.wydh4t6::after {
  content: "-";
}
.wydh4t8::after {
  content: "+";
  color: var(--_1vtzzttc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1vtzzttj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--xn9veg1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--xn9vegd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1vtzztto);
  border-radius: var(--xn9vega);
  background-color: var(--_1vtzzttj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--xn9veg1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1vtzztti);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--xn9veg9);
  white-space: pre;
  color: var(--_1vtzztt0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1vtzzttf);
  color: var(--_1vtzztt9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1vtzzttc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--xn9veg8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1vtzzttj);
  color: var(--_1vtzztt0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1vtzztt8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1vtzzttj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1vtzzttj);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1vtzzttj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1vtzzttl);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1vtzztt8);
  transition: var(--xn9vegh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.wydh4t8) {
  color: var(--_1vtzztt7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1vtzztt8);
  transition: var(--xn9vegh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1vtzztt7);
}
.cm-s-neo .cm-tag {
  color: var(--_1vtzztt1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1vtzztt2);
}
.cm-s-neo .cm-string {
  color: var(--_1vtzztt3);
}
.cm-s-neo .cm-atom {
  color: var(--_1vtzztt4);
}
.cm-s-neo .cm-variable {
  color: var(--_1vtzztt5);
}
.cm-s-neo .cm-number {
  color: var(--_1vtzztt6);
}
.CodeMirror-dialog {
  padding-left: var(--xn9vego);
  padding-right: var(--xn9vego);
  min-height: 60px;
  border-bottom: 1px solid var(--_1vtzzttn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--wydh4t9));
  transition: var(--xn9vegh);
}
.dialog-opened .CodeMirror-scroll {
  --wydh4t9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--wydh4t9);
}
.CodeMirror-dialog input {
  font: var(--xn9veg5);
  font-family: var(--xn9veg1);
  height: var(--xn9vege);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--xn9vege);
  font: var(--xn9veg5);
  font-family: var(--xn9veg1);
}
.CodeMirror-search-field {
  padding-left: var(--xn9vego);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1vtzzttm);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1vtzzttl);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--xn9vego);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--xn9veg4);
  font-family: var(--xn9veg0);
  margin-left: var(--xn9vegl);
  padding-top: var(--xn9vegl);
  padding-bottom: var(--xn9vegl);
  padding-left: var(--xn9vegn);
  padding-right: var(--xn9vegn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--xn9vegb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1vtzzttc);
  box-shadow: var(--_1vtzzttp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1vtzzttl);
}
.CodeMirror-dialog button:hover {
  background: var(--_1vtzztte);
}
.styop71 {
  color: var(--_1vtzztt8);
}
.styop72 {
  color: var(--_1vtzzttb);
}
.styop73 {
  color: var(--_1vtzztta);
}
.styop7a {
  text-overflow: ellipsis;
}
.uajfq11 {
  justify-content: safe center;
}
.uajfq14 {
  flex-shrink: 0;
  width: var(--uajfq12);
}
.uajfq14:not(:hover) .uajfq17 {
  opacity: 0.8;
}
.uajfq19 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.uajfq14:not(:hover) .uajfq19 {
  opacity: 0.3;
}
.ydh1i5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--xn9veg8) * 5);
  height: calc(var(--xn9veg8) * 8);
  max-width: calc((100vw - 60px) - (var(--xn9vegd) * 2));
}
.ydh1i5.ydh1i0 {
  padding-right: calc((15px * 2) + 16px);
}
.ydh1i5:not(.ydh1i1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.ydh1i5.ydh1i2 {
  background-color: var(--_1vtzzttg);
}
.ydh1i5.ydh1i3 {
  background-color: var(--_1vtzztth);
}
.ydh1i7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.ydh1i7:not(:hover) {
  opacity: 0.4;
}
.wmp3me1 {
  color: var(--_1vtzztt8);
  font-family: var(--xn9veg0);
}
.wmp3me2 {
  font-size: 36px;
}
.wmp3me3 {
  font-size: 24px;
}
.wmp3me4 {
  font-size: 16px;
}
._1rnulxe2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1rnulxe0);
  align-items: var(--_1rnulxe1);
}
._1rnulxe3 {
  --_1rnulxe0: var(--xn9vegi);
}
._1rnulxe4 {
  --_1rnulxe0: var(--xn9vegj);
}
._1rnulxe5 {
  --_1rnulxe0: var(--xn9vegk);
}
._1rnulxe6 {
  --_1rnulxe0: var(--xn9vegl);
}
._1rnulxe7 {
  --_1rnulxe0: var(--xn9vegm);
}
._1rnulxe8 {
  --_1rnulxe0: var(--xn9vegn);
}
._1rnulxe9 {
  --_1rnulxe0: var(--xn9vego);
}
._1rnulxea {
  --_1rnulxe0: var(--xn9vegp);
}
._1rnulxeb {
  --_1rnulxe0: var(--xn9vegq);
}
._1rnulxec {
  --_1rnulxe0: var(--xn9vegr);
}
._1rnulxed {
  align-items: flex-start;
}
._1rnulxee {
  align-items: center;
}
._1rnulxef {
  align-items: flex-end;
}
._1kyv6u91 {
  display: flex;
  flex-direction: column;
  gap: var(--_1kyv6u90);
}
._1kyv6u92 {
  --_1kyv6u90: var(--xn9vegi);
}
._1kyv6u93 {
  --_1kyv6u90: var(--xn9vegj);
}
._1kyv6u94 {
  --_1kyv6u90: var(--xn9vegk);
}
._1kyv6u95 {
  --_1kyv6u90: var(--xn9vegl);
}
._1kyv6u96 {
  --_1kyv6u90: var(--xn9vegm);
}
._1kyv6u97 {
  --_1kyv6u90: var(--xn9vegn);
}
._1kyv6u98 {
  --_1kyv6u90: var(--xn9vego);
}
._1kyv6u99 {
  --_1kyv6u90: var(--xn9vegp);
}
._1kyv6u9a {
  --_1kyv6u90: var(--xn9vegq);
}
._1kyv6u9b {
  --_1kyv6u90: var(--xn9vegr);
}
._15uvnbo1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--xn9vegl) * -1);
}
._15uvnbo1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--xn9vegb);
  box-shadow: var(--_1vtzzttp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--xn9vegg);
}
._15uvnbo1:focus::before, ._15uvnbo1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._15uvnbo4 {
  height: 20px;
  width: 20px;
}
._15uvnbo6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--xn9vegj) * 2));
  width: calc(20px - (var(--xn9vegj) * 2));
}
._15uvnbo6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--xn9vega);
  box-shadow: var(--_1vtzzttp);
  transition: var(--xn9vegg);
  opacity: 0;
  transform: scale(0.5);
}
._15uvnbo6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--xn9vega);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1vtzzttj);
}
._15uvnbo4:hover:not(:focus) ~ ._15uvnbo6::before, ._15uvnbo4:focus ~ ._15uvnbo6::before {
  opacity: 1;
  transform: scale(1);
}
._15uvnbo6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--xn9vegh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._15uvnbo4:checked ~ ._15uvnbo6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--xn9vegh);
}
._15uvnbo8 {
  color: var(--_1vtzztt8);
  height: var(--xn9vege);
  background: var(--_1vtzzttj);
  border: 1px solid var(--_1vtzzttn);
}
._15uvnbo8::placeholder {
  color: var(--_1vtzztt7);
}
._1kurzrh1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--xn9vege);
  -webkit-tap-highlight-color: transparent;
}
._1kurzrh4 {
  --_1kurzrh2: currentColor;
  color: var(--_1kurzrh2);
  border: 1px solid var(--_1vtzztt7);
  height: calc(var(--xn9veg8) * 9);
}
._1kurzrh4:hover {
  --_1kurzrh2: var(--_1vtzzttc);
  border-color: var(--_1kurzrh2);
}
._1kurzrh4:active {
  transform: scale(0.98);
}
._1kurzrh4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--xn9vege);
  min-width: var(--xn9vege);
  left: calc((var(--xn9veg8) * 2) * -1);
  right: calc((var(--xn9veg8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1kurzrh4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1vtzzttp);
}
._1kurzrh5 {
  --_1kurzrh2: var(--_1vtzzttd) !important;
  border-color: var(--_1kurzrh2);
}
._1kurzrh7 {
  top: 1px;
}
.cu37720 {
  transition: var(--xn9vegg);
  transform-origin: 50% 50%;
}
.cu37721 {
  transform: rotate(90deg);
}
.cu37722 {
  transform: rotate(180deg);
}
.cu37723 {
  transform: rotate(270deg);
}
.e671ti4 {
  min-width: 0;
}
.e671ti5 {
  flex-shrink: 0;
}
.e671ti9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.e671ti7:focus:not(:hover) ~ .e671ti9 {
  opacity: 1;
}
._5xdcpd2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._5xdcpd4 {
  display: inline-block;
  background: var(--_1vtzztti);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._5xdcpd6 {
  height: var(--xn9vege);
  width: var(--xn9vege);
}
._5xdcpd8 {
  height: var(--xn9vege);
  width: var(--xn9vege);
}
._5xdcpd8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1vtzzttl);
  border-radius: var(--xn9vegb);
  transition: var(--xn9vegg);
  opacity: 0;
  transform: scale(0.8);
}
._5xdcpd6:checked ~ ._5xdcpd8,html:not([data-playroom-dark]) ._5xdcpd6:hover ~ ._5xdcpd8 {
  color: var(--_1vtzzttc);
}
._5xdcpd6:focus ~ ._5xdcpd8::before, ._5xdcpd6:hover ~ ._5xdcpd8::before {
  opacity: 1;
  transform: scale(1);
}
._15j3uqr1 {
  color: var(--_1vtzztt8);
  height: var(--xn9vege);
  background: var(--_1vtzzttj);
}
._15j3uqr1:focus {
  outline: none;
}
._15j3uqr1::placeholder {
  color: var(--_1vtzztt7);
}
.l8gsn52 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1vtzzttn);
}
.l8gsn54 {
  list-style: none;
  top: 60px;
}
.l8gsn54::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--xn9vegl);
  z-index: 1;
}
.l8gsn54::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--xn9vegl);
  z-index: 1;
}
.l8gsn56 {
  scroll-margin-block: var(--xn9vegl);
  color: var(--_1vtzztt8);
  background-color: var(--_1vtzzttj);
}
.l8gsn56::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1vtzzttl);
  border-radius: var(--xn9vega);
  opacity: 0;
  pointer-events: none;
}
.l8gsn58 {
  color: var(--_1vtzztta);
}
.l8gsn59 {
  color: var(--_1vtzzttc);
}
.l8gsn59::before {
  opacity: 1;
}
._9dg1xx2 {
  color: var(--_1vtzztt8);
  min-width: calc(60px + 1px);
}
._9dg1xx2._9dg1xx0 {
  width: 100vw;
}
._9dg1xx6 {
  width: 60px;
  background-color: var(--_1vtzzttj);
  border-left: 1px solid var(--_1vtzzttn);
}
._9dg1xx8 {
  width: 320px;
  background-color: var(--_1vtzzttj);
  border-left: 1px solid var(--_1vtzzttn);
}
._9dg1xx9 {
  opacity: 0;
  transform: translateX(30%);
}
._9dg1xxb {
  opacity: 1;
  transform: translateX(0);
}
._9dg1xxc {
  opacity: 1;
  transform: translateX(0);
}
._9dg1xxd {
  opacity: 1;
}
._9dg1xxf {
  opacity: 0;
  transform: translateX(30%);
}
._9dg1xxg {
  opacity: 0;
  transform: translateX(30%);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1vtzzttk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._1omtlst0 {
  flex-direction: row;
}
._1omtlst1 {
  flex-direction: column;
}
._1omtlst3 {
  min-width: 0;
  min-height: 0;
}
._1omtlst7 {
  width: clamp(460px, var(--_1omtlst4), 90vw) !important;
}
._1omtlst8 {
  height: clamp(300px, var(--_1omtlst4), 80vh) !important;
}
._1omtlst9 {
  min-width: 460px;
  max-width: 90vw;
}
._1omtlsta {
  min-height: 300px;
  max-height: 80vh;
}
._1omtlstb {
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
._1omtlste._1omtlstc {
  width: 60px;
}
._1omtlstg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--xn9vege);
  height: var(--xn9vege);
}
._1omtlstg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--xn9vegb);
  transition: var(--xn9vegf);
}
._1omtlstg:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1omtlstg:hover::before, ._1omtlstg:focus::before {
  opacity: 0.05;
}
._1omtlsti {
  right: 60px;
}
