._1fxak2r1 {
  background-color: var(--_3vhehil);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_3vhehiq);
}
._1fxak2r2::before {
  content: "";
  position: absolute;
  min-height: var(--_1hhp5n5c);
  min-width: var(--_1hhp5n5c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1lrmm2l2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1lrmm2l4 {
  border: 1px solid var(--_3vhehiq);
  background-color: var(--_3vhehik);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1lrmm2l4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_3vhehim);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1lrmm2l4:hover::after {
  opacity: 1;
}
._1lrmm2l4:focus-visible::after {
  opacity: 1;
}
._1lrmm2l4:active:not([disabled]) {
  transform: scale(0.97);
}
._1lrmm2l4:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 0;
}
._1lrmm2l6 {
  isolation: isolate;
}
._1lrmm2l8 {
  height: var(--_1lrmm2l0);
}
._1lrmm2la {
  border-color: var(--_3vhehic);
}
._1lrmm2la::after {
  background-color: var(--_3vhehih);
}
._1lrmm2lb {
  border-color: var(--_3vhehia);
}
._1lrmm2lb::after {
  background-color: var(--_3vhehii);
}
._1lrmm2lc {
  --_1lrmm2l0: var(--_1hhp5n5q);
}
._1lrmm2ld {
  --_1lrmm2l0: var(--_1hhp5n5r);
}
._1lrmm2le {
  --_1lrmm2l0: var(--_1hhp5n5s);
}
.a9sji11 {
  --_3vhehi7: var(--_3vhehid);
  background-color: var(--_3vhehin);
  outline: 1px solid var(--_3vhehis);
  outline-offset: -1px;
}
.han6zg3 {
  background: transparent;
  outline: none;
  height: var(--han6zg0) !important;
  width: var(--han6zg0) !important;
}
.han6zg6 {
  padding: var(--han6zg4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--han6zg1);
  isolation: isolate;
}
.han6zg3[data-pressed] .han6zg6, .han6zg3:active .han6zg6 {
  transform: scale(.95);
}
.han6zg3:focus-visible .han6zg6 {
  outline: 2px solid var(--_3vhehit);
}
.han6zg3[aria-disabled="true"] .han6zg6 {
  --han6zg1: var(--_3vhehi9);
}
.han6zg7 {
  --han6zg0: var(--_1hhp5n5q);
  --han6zg4: 6px;
}
.han6zg8 {
  --han6zg0: var(--_1hhp5n5r);
  --han6zg4: var(--_1hhp5n5j);
}
.han6zg9 {
  --han6zg0: var(--_1hhp5n5s);
  --han6zg4: var(--_1hhp5n5j);
}
.han6zga {
  --han6zg1: var(--_3vhehi7);
}
.han6zgb {
  --han6zg1: var(--_3vhehib);
}
.han6zgc {
  --han6zg1: var(--_3vhehic);
}
.han6zgd {
  background-color: var(--_3vhehik);
  outline: 1px solid var(--_3vhehiq);
  outline-offset: -1px;
}
.han6zg3:not([aria-disabled="true"]):hover > .han6zgd, .han6zg3:not([aria-disabled="true"])[data-popup-open] > .han6zgd {
  background-color: var(--_3vhehim);
}
.han6zge {
  --han6zg1: var(--_3vhehi8);
  background-color: var(--_3vhehif);
}
.han6zg3:not([aria-disabled="true"]):hover > .han6zge, .han6zg3:not([aria-disabled="true"])[data-popup-open] > .han6zge {
  background-color: var(--_3vhehig);
}
.han6zg3:not([aria-disabled="true"]):hover > .han6zgf, .han6zg3:not([aria-disabled="true"])[data-popup-open] > .han6zgf {
  background-color: var(--_3vhehim);
}
.han6zgg {
  margin: calc((var(--han6zg4) + 2px) * -1);
}
.han6zg6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.wi0ncs1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.wi0ncs2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.wi0ncs2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.wi0ncs4 {
  --wi0ncs3: 30px;
}
.wi0ncs5 {
  --wi0ncs3: 45px;
}
.wi0ncs6 {
  --wi0ncs3: 60px;
}
.wi0ncs7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.wi0ncs8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.wi0ncs9 {
  overflow: auto;
}
.wi0ncse {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--wi0ncsc, 0)),linear-gradient(to right, transparent 0, black var(--wi0ncsa, 0)),linear-gradient(to left, transparent 0, black var(--wi0ncsb, 0)),linear-gradient(to top, transparent 0, black var(--wi0ncsd, 0));
}
.wi0ncsf {
  --wi0ncsa: var(--wi0ncs3);
}
.wi0ncsg {
  --wi0ncsb: var(--wi0ncs3);
}
.wi0ncsh {
  --wi0ncsc: var(--wi0ncs3);
}
.wi0ncsi {
  --wi0ncsd: var(--wi0ncs3);
}
.h7d5hz2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1hhp5n58);
  color: var(--h7d5hz0);
  isolation: isolate;
  outline: none;
}
.h7d5hz2[data-pressed], .h7d5hz2:active {
  transform: scale(.95);
}
.h7d5hz2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1hhp5n5i) * -1);
  background-color: var(--h7d5hz0);
  border-radius: var(--_1hhp5n58);
}
.h7d5hz2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.h7d5hz2:hover, .h7d5hz2[data-popup-open]:not(:focus-visible) {
  color: var(--_3vhehi8);
}
.h7d5hz2:focus-visible::after {
  outline: 2px solid var(--_3vhehit);
}
.h7d5hz2:focus-visible:not(:hover)::after {
  background: transparent;
}
.h7d5hz3 {
  --h7d5hz0: var(--_3vhehib);
}
.h7d5hz4 {
  --h7d5hz0: var(--_3vhehic);
}
.h7d5hz2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1r381sx1 {
  justify-content: safe center;
}
._1r381sx5 {
  flex-shrink: 0;
  width: var(--_1r381sx2);
}
._1r381sx5:last-child {
  padding-right: var(--_1hhp5n5n);
}
._1r381sx6 {
  transition: color 150ms ease;
}
._1r381sx5:hover ._1r381sx6, ._1r381sx5:focus-within ._1r381sx6, ._1r381sx3 ._1r381sx6 {
  color: var(--_3vhehib);
}
._1r381sx8 {
  outline: 1px solid var(--_3vhehiq);
}
._1r381sxa {
  transition: opacity 150ms ease;
}
._1r381sx5:not(:hover, :focus-within, ._1r381sx3) ._1r381sxa {
  opacity: 1;
}
._1r381sxc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1r381sxa:hover ~ ._1r381sx8 ._1r381sxc, ._1r381sxa:focus-within ~ ._1r381sx8._1r381sxc {
  outline-color: var(--_3vhehib);
}
._1r381sxe {
  transition: opacity 150ms ease;
}
._1r381sx5:not(:hover, :focus-within, ._1r381sx3) ._1r381sxe {
  opacity: 0;
}
._16li16u1 {
  color: var(--_3vhehi7);
  font-family: var(--_1hhp5n50);
}
._16li16u2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._16li16u3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._16li16u4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1ycjejr1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1ycjejr0);
}
._1ycjejr2 {
  --_1ycjejr0: var(--_1hhp5n5g);
}
._1ycjejr3 {
  --_1ycjejr0: var(--_1hhp5n5h);
}
._1ycjejr4 {
  --_1ycjejr0: var(--_1hhp5n5i);
}
._1ycjejr5 {
  --_1ycjejr0: var(--_1hhp5n5j);
}
._1ycjejr6 {
  --_1ycjejr0: var(--_1hhp5n5k);
}
._1ycjejr7 {
  --_1ycjejr0: var(--_1hhp5n5l);
}
._1ycjejr8 {
  --_1ycjejr0: var(--_1hhp5n5m);
}
._1ycjejr9 {
  --_1ycjejr0: var(--_1hhp5n5n);
}
._1ycjejra {
  --_1ycjejr0: var(--_1hhp5n5o);
}
._1ycjejrb {
  --_1ycjejr0: var(--_1hhp5n5p);
}
._1ycjejrc {
  align-items: flex-start;
}
._1ycjejrd {
  align-items: center;
}
._1ycjejre {
  align-items: flex-end;
}
.fioav91 {
  backdrop-filter: blur(6px);
}
.fioav91::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_3vhehij);
  opacity: 0.4;
}
html[data-playroom-dark] .fioav91::before {
  opacity: 0.7;
}
.fioav91[data-starting-style]::before, .fioav91[data-ending-style]::before {
  opacity: 0;
}
.fioav93 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1hhp5n5k) * 2));
  max-height: calc(100dvh - (var(--_1hhp5n5k) * 2));
}
.fioav93[data-starting-style], .fioav93[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.fioav97:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 2px;
}
.n581h02 {
  display: flex;
  flex-direction: row;
  gap: var(--n581h00);
  align-items: var(--n581h01);
}
.n581h03 {
  flex-wrap: wrap;
}
.n581h04 {
  --n581h00: var(--_1hhp5n5g);
}
.n581h05 {
  --n581h00: var(--_1hhp5n5h);
}
.n581h06 {
  --n581h00: var(--_1hhp5n5i);
}
.n581h07 {
  --n581h00: var(--_1hhp5n5j);
}
.n581h08 {
  --n581h00: var(--_1hhp5n5k);
}
.n581h09 {
  --n581h00: var(--_1hhp5n5l);
}
.n581h0a {
  --n581h00: var(--_1hhp5n5m);
}
.n581h0b {
  --n581h00: var(--_1hhp5n5n);
}
.n581h0c {
  --n581h00: var(--_1hhp5n5o);
}
.n581h0d {
  --n581h00: var(--_1hhp5n5p);
}
.n581h0e {
  align-items: flex-start;
}
.n581h0f {
  align-items: center;
}
.n581h0g {
  align-items: flex-end;
}
._1u2x1pd0 {
  isolation: isolate;
  white-space: nowrap;
}
._1u2x1pd1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1u2x1pd3 {
    display: none;
  }
}
.ccg94e2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.ccg94e3 {
  width: 250px;
}
.ccg94e6 {
  --ccg94e4: var(--_3vhehim);
  outline: none;
  cursor: default;
  color: var(--_3vhehi7);
  height: 34px;
  isolation: isolate;
}
.ccg94e6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1hhp5n58);
  z-index: -1;
}
.ccg94e6[data-popup-open]:not([aria-disabled])::before, .ccg94e6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--ccg94e4);
}
.ccg94e6:focus-visible::before {
  outline: 2px solid var(--_3vhehit);
  outline-offset: -2px;
}
.ccg94e6[aria-disabled] {
  color: var(--_3vhehi9);
  cursor: not-allowed;
}
.ccg94e7 {
  cursor: pointer;
  text-decoration: none;
}
.ccg94e7[aria-disabled] {
  cursor: not-allowed;
}
.ccg94e8 {
  margin-left: 3px;
}
.ccg94e9 {
  --ccg94e4: var(--_3vhehii);
  color: var(--_3vhehia);
}
.ccg94ea {
  --ccg94e4: transparent;
  color: var(--_3vhehic);
}
.ccg94ea svg {
  color: var(--_3vhehic);
}
.ccg94ec {
  isolation: isolate;
}
.ccg94eg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.ccg94ei {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_3vhehi7);
  z-index: 1;
}
[aria-checked="true"] .ccg94ei {
  color: var(--_3vhehi8);
}
.ccg94ek {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_3vhehi7);
  isolation: isolate;
}
[aria-checked="true"] .ccg94ek {
  background-color: var(--_3vhehie);
  border-color: var(--_3vhehie);
}
.ccg94ep {
  height: 34px;
}
.ccg94er {
  height: 1px;
  background-color: var(--_3vhehiq);
}
.ccg94et {
  background: transparent;
  border: none;
}
.ccg94et:hover, .ccg94et[data-highlighted] {
  background-color: var(--_3vhehim);
}
.ccg94et:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: -2px;
}
._188fnii0 {
  width: 200px;
}
._1v5t2iy1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_3vhehik);
}
._1v5t2iy2 {
  width: fit-content;
}
._1v5t2iy4 {
  width: fit-content;
  justify-self: flex-end;
}
._1v5t2iy7:not(._1v5t2iy5) {
  opacity: 0;
  transform: translateX(var(--_1hhp5n5j));
  pointer-events: none;
}
._1v5t2iy9 {
  background: transparent;
  color: var(--_3vhehif);
  isolation: isolate;
}
._1v5t2iy9::after {
  content: "";
  position: absolute;
  transition: var(--_1hhp5n5f);
  z-index: -1;
  inset: calc(var(--_1hhp5n5j) * -1);
  background-color: var(--_3vhehim);
  border-radius: var(--_1hhp5n59);
}
._1v5t2iy9:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 6px;
}
._1v5t2iy9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1v5t2iyb {
  margin: calc(var(--_1hhp5n5k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1v5t2iyf {
  appearance: none;
  outline: none;
  background: var(--_3vhehik);
  color: var(--_3vhehi7);
  border: 1px solid var(--_3vhehiq);
  height: var(--_1hhp5n5r);
}
._1v5t2iyf:hover, ._1v5t2iyf[data-popup-open] {
  background-color: var(--_3vhehim);
}
._1v5t2iyf:focus-visible {
  outline: 2px solid var(--_3vhehit);
  z-index: 1;
}
._1v5t2iyh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1v5t2iyj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1v5t2iyk {
  color: var(--_3vhehic);
}
._1v5t2iym {
  height: 1px;
  background-color: var(--_3vhehiq);
}
@media screen and (max-width: 767px) {
  ._1v5t2iy4 {
    display: none;
  }
}
._1rlqo8c2 {
  flex: 1;
  min-height: 0;
}
._1rlqo8c5 {
  --_1rlqo8c3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--_1rlqo8c3), 1fr);
}
._1rlqo8c7 {
  aspect-ratio: 5/4;
  list-style: none;
}
._1rlqo8c9 {
  height: calc(100% / var(--_1rlqo8c0));
  width: calc(100% / var(--_1rlqo8c0));
  border-radius: calc(var(--_1hhp5n59) / var(--_1rlqo8c0));
  transform: scale(var(--_1rlqo8c0));
  transform-origin: 0 0;
  padding: calc(1px / var(--_1rlqo8c0));
}
._1rlqo8cb {
  background: var(--_3vhehim);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
._1rlqo8cd {
  background: transparent;
  outline: 1px solid var(--_3vhehiq);
}
._1rlqo8cd:hover {
  outline: 2px solid var(--_3vhehir);
}
._1rlqo8cd:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 2px;
}
._1rlqo8ch {
  list-style: none;
}
._1rlqo8cj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_3vhehiq);
}
._1rlqo8cj:hover {
  outline: 2px solid var(--_3vhehir);
}
._1rlqo8cj:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  ._1rlqo8c5 {
    --_1rlqo8c3: 2;
  }
}
@media screen and (min-width: 800px) {
  ._1rlqo8c5 {
    --_1rlqo8c3: 3;
  }
}
@media screen and (min-width: 1200px) {
  ._1rlqo8c5 {
    --_1rlqo8c3: 4;
  }
}
@media screen and (min-width: 1600px) {
  ._1rlqo8c5 {
    --_1rlqo8c3: 5;
  }
}
._1d1963p1 {
  width: fit-content;
}
._1d1963p3:focus-visible ~ ._1d1963p5 {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 4px;
}
._1d1963p8 {
  min-width: 0;
}
._1d1963p9 {
  flex-shrink: 0;
}
._1l9qlbi2 {
  outline: none;
  height: var(--_1hhp5n5r);
  color: var(--_3vhehi7);
  background: transparent;
}
._1l9qlbi2::placeholder {
  color: var(--_3vhehi9);
  font-weight: strong;
}
._1l9qlbi2:hover:not(:focus-visible), ._1l9qlbi2:hover:not(:focus-visible)::placeholder {
  background: var(--_3vhehim);
  opacity: 1;
  color: transparent;
}
._1l9qlbi2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1l9qlbi2:focus-visible {
  outline: 2px solid var(--_3vhehit);
  outline-offset: 0;
  opacity: 1;
}
._1l9qlbi2:focus-visible::placeholder {
  color: transparent;
}
._1l9qlbi4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_3vhehi7);
}
._1l9qlbi2:focus-visible ~ ._1l9qlbi4 {
  opacity: 0;
}
._1l9qlbi5 {
  color: var(--_3vhehi9);
}
._1gw96od3 {
  border: 1px solid var(--_3vhehiq);
}
._1gw96od5 {
  background-color: var(--_3vhehip);
  border-bottom: 1px solid var(--_3vhehiq);
}
._1gw96od8 {
  background-color: var(--_3vhehip);
  border-top: 1px solid var(--_3vhehiq);
}
._1gw96odc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1gw96od6 {
    display: none;
  }
}
