name: Chromatic

on: workflow_dispatch

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that chromatic can diff against previous commits.
          # Filter by `blob:none` to avoid downloading unnecessary file contents.
          fetch-depth: 0
          filter: blob:none

      - name: Set up pnpm
        uses: pnpm/action-setup@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install Dependencies
        run: pnpm i

      - name: Build Storybook
        run: pnpm storybook:build

      - name: Chromatic
        run: pnpm storybook:chromatic
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_APP_CODE }}
