name: Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  release:
    name: Publish & Deploy
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    env:
      CI: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits.
          # Filter by `blob:none` to avoid downloading unnecessary file contents.
          fetch-depth: 0
          filter: blob:none
          token: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}

      - name: Set up pnpm
        uses: pnpm/action-setup@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install Dependencies
        run: pnpm i

      # Ensure npm 11.5.1 or later is installed
      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}

      - name: Build site
        if: steps.changesets.outputs.published == 'true' || steps.changesets.outputs.hasChangesets == 'false'
        run: pnpm build:site
        env:
          BASE_NAME: /braid-design-system

      - name: Deploy site
        if: steps.changesets.outputs.published == 'true' || steps.changesets.outputs.hasChangesets == 'false'
        uses: JamesIves/github-pages-deploy-action@881db5376404c5c8d621010bcbec0310b58d5e29 # 4.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          folder: ./site/dist
          # Preserve the preview deployment folder and custom grad-connection site
          clean-exclude: |
            /preview/*
            /grad-connection/*
  snapshot:
    name: Publish snapshot version
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
      CI: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          token: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}

      - name: Set up pnpm
        uses: pnpm/action-setup@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install Dependencies
        run: pnpm i

      # Ensure npm 11.5.1 or later is installed
      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Publish
        uses: seek-oss/changesets-snapshot@v0
        with:
          pre-publish: pnpm prepare-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
