name: Validate

on: push

jobs:
  test:
    name: Lint & Test
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
        with:
          # This makes Actions fetch all Git history so that chromatic can diff against previous commits
          fetch-depth: 0

      - name: Setup Node.js 16.x
        uses: actions/setup-node@main
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test

      - name: Chromatic
        run: |
          yarn build-storybook
          yarn chromatic --storybook-build-dir dist-storybook --exit-zero-on-changes --auto-accept-changes master
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_APP_CODE }}
