._1c1gbw54:not(:hover) {
  opacity: 0.8;
}
._1c1gbw56 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1c1gbw51:not(:hover) ._1c1gbw56 {
  opacity: 0.3;
}
.pgwq2w1 {
  color: var(--_1symhbq8);
  font-family: var(--_1x7lcxm0);
}
.pgwq2w2 {
  font-size: 36px;
}
.pgwq2w3 {
  font-size: 24px;
}
.pgwq2w4 {
  font-size: 16px;
}
.rqoqyw1 {
  display: flex;
  flex-direction: column;
  gap: var(--rqoqyw0);
}
.rqoqyw2 {
  --rqoqyw0: var(--_1x7lcxmi);
}
.rqoqyw3 {
  --rqoqyw0: var(--_1x7lcxmj);
}
.rqoqyw4 {
  --rqoqyw0: var(--_1x7lcxmk);
}
.rqoqyw5 {
  --rqoqyw0: var(--_1x7lcxml);
}
.rqoqyw6 {
  --rqoqyw0: var(--_1x7lcxmm);
}
.rqoqyw7 {
  --rqoqyw0: var(--_1x7lcxmn);
}
.rqoqyw8 {
  --rqoqyw0: var(--_1x7lcxmo);
}
.rqoqyw9 {
  --rqoqyw0: var(--_1x7lcxmp);
}
.rqoqywa {
  --rqoqyw0: var(--_1x7lcxmq);
}
.rqoqywb {
  --rqoqyw0: var(--_1x7lcxmr);
}
._1hex31d2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1hex31d0);
  align-items: var(--_1hex31d1);
}
._1hex31d3 {
  --_1hex31d0: var(--_1x7lcxmi);
}
._1hex31d4 {
  --_1hex31d0: var(--_1x7lcxmj);
}
._1hex31d5 {
  --_1hex31d0: var(--_1x7lcxmk);
}
._1hex31d6 {
  --_1hex31d0: var(--_1x7lcxml);
}
._1hex31d7 {
  --_1hex31d0: var(--_1x7lcxmm);
}
._1hex31d8 {
  --_1hex31d0: var(--_1x7lcxmn);
}
._1hex31d9 {
  --_1hex31d0: var(--_1x7lcxmo);
}
._1hex31da {
  --_1hex31d0: var(--_1x7lcxmp);
}
._1hex31db {
  --_1hex31d0: var(--_1x7lcxmq);
}
._1hex31dc {
  --_1hex31d0: var(--_1x7lcxmr);
}
._1hex31dd {
  align-items: flex-start;
}
._1hex31de {
  align-items: center;
}
._1hex31df {
  align-items: flex-end;
}
._1y9aez51 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_1x7lcxml) * -1);
}
._1y9aez51::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1x7lcxmb);
  box-shadow: var(--_1symhbqp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_1x7lcxmg);
}
._1y9aez51:focus::before, ._1y9aez51:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1y9aez54 {
  height: 20px;
  width: 20px;
}
._1y9aez56 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_1x7lcxmj) * 2));
  width: calc(20px - (var(--_1x7lcxmj) * 2));
}
._1y9aez56::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1x7lcxma);
  box-shadow: var(--_1symhbqp);
  transition: var(--_1x7lcxmg);
  opacity: 0;
  transform: scale(0.5);
}
._1y9aez56::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1x7lcxma);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1symhbqj);
}
._1y9aez54:hover:not(:focus) ~ ._1y9aez56::before, ._1y9aez54:focus ~ ._1y9aez56::before {
  opacity: 1;
  transform: scale(1);
}
._1y9aez56 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_1x7lcxmh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1y9aez54:checked ~ ._1y9aez56 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_1x7lcxmh);
}
._1y9aez58 {
  color: var(--_1symhbq8);
  height: var(--_1x7lcxme);
  background: var(--_1symhbqj);
  border: 1px solid var(--_1symhbqn);
}
._1y9aez58::placeholder {
  color: var(--_1symhbq7);
}
._5ruaml0 {
  transition: var(--_1x7lcxmg);
  transform-origin: 50% 50%;
}
._5ruaml1 {
  transform: rotate(90deg);
}
._5ruaml2 {
  transform: rotate(180deg);
}
._5ruaml3 {
  transform: rotate(270deg);
}
._1dqb8cn4 {
  min-width: 0;
}
._1dqb8cn5 {
  flex-shrink: 0;
}
._1dqb8cn9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1dqb8cn7:focus:not(:hover) ~ ._1dqb8cn9 {
  opacity: 1;
}
.f4oz7e1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_1x7lcxme);
  -webkit-tap-highlight-color: transparent;
}
.f4oz7e4 {
  --f4oz7e2: currentColor;
  color: var(--f4oz7e2);
  border: 1px solid var(--_1symhbq7);
  height: calc(var(--_1x7lcxm8) * 9);
}
.f4oz7e4:hover {
  --f4oz7e2: var(--_1symhbqc);
  border-color: var(--f4oz7e2);
}
.f4oz7e4:active {
  transform: scale(0.98);
}
.f4oz7e4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_1x7lcxme);
  min-width: var(--_1x7lcxme);
  left: calc((var(--_1x7lcxm8) * 2) * -1);
  right: calc((var(--_1x7lcxm8) * 2) * -1);
  height: 100%;
  top: 50%;
}
.f4oz7e4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1symhbqp);
}
.f4oz7e5 {
  --f4oz7e2: var(--_1symhbqd) !important;
  border-color: var(--f4oz7e2);
}
.f4oz7e7 {
  top: 1px;
}
.y4wy0g1 {
  color: var(--_1symhbq8);
  height: var(--_1x7lcxme);
  background: var(--_1symhbqj);
}
.y4wy0g1:focus {
  outline: none;
}
.y4wy0g1::placeholder {
  color: var(--_1symhbq7);
}
._6bp0e15 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1symhbqj);
  -webkit-tap-highlight-color: transparent;
}
._6bp0e15::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1symhbql);
  opacity: 0;
  transition: var(--_1x7lcxmf);
  pointer-events: none;
}
._6bp0e15::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_1x7lcxmf);
}
._6bp0e15._6bp0e10 {
  color: var(--_1symhbqd);
}
._6bp0e15:not(._6bp0e11) {
  cursor: pointer;
}
._6bp0e15._6bp0e11 {
  color: var(--_1symhbq7);
}
._6bp0e15._6bp0e12,._6bp0e15._6bp0e13:not(._6bp0e10):not(._6bp0e11),html:not([data-playroom-dark]) ._6bp0e15:hover:not(._6bp0e10):not(._6bp0e11) {
  color: var(--_1symhbqc);
}
._6bp0e15:not(._6bp0e10):not(:hover):focus::before {
  color: var(--_1symhbq8);
}
._6bp0e15:not(._6bp0e10):not(._6bp0e11):focus::before,._6bp0e15:not(._6bp0e10):not(._6bp0e11):hover::before {
  opacity: 1;
}
._6bp0e15:not(._6bp0e13)::after {
  transform: translateX(100%);
  opacity: 0;
}
._6bp0e18 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1symhbqf);
  border: 2px solid var(--_1symhbqj);
}
._6bp0e18:not(._6bp0e16) {
  transform: scale(0);
  opacity: 0;
}
._6bp0e1a {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1symhbqd);
  border: 2px solid var(--_1symhbqj);
}
._6bp0e1a:not(._6bp0e16) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._6bp0e1a svg {
  color: var(--_1symhbq9);
}
._5gj2eb2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1symhbqn);
}
._5gj2eb4 {
  top: 60px;
}
._5gj2eb6 {
  color: var(--_1symhbq8);
  background-color: var(--_1symhbqj);
}
._5gj2eb6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1symhbql);
  border-radius: var(--_1x7lcxma);
  opacity: 0;
  transition: var(--_1x7lcxmf);
  pointer-events: none;
}
._5gj2eb8 {
  color: var(--_1symhbqa);
}
._5gj2eb9 {
  color: var(--_1symhbqc);
}
._5gj2eb9::before {
  opacity: 1;
}
.opca892 {
  color: var(--_1symhbq8);
  min-width: calc(60px + 1px);
}
.opca892.opca890 {
  width: 100vw;
}
.opca896 {
  width: 60px;
  background-color: var(--_1symhbqj);
  border-left: 1px solid var(--_1symhbqn);
}
.opca898 {
  width: 320px;
  background-color: var(--_1symhbqj);
  border-left: 1px solid var(--_1symhbqn);
}
.opca899 {
  opacity: 0;
  transform: translateX(30%);
}
.opca89b {
  opacity: 1;
  transform: translateX(0);
}
.opca89c {
  opacity: 1;
  transform: translateX(0);
}
.opca89d {
  opacity: 1;
}
.opca89f {
  opacity: 0;
  transform: translateX(30%);
}
.opca89g {
  opacity: 0;
  transform: translateX(30%);
}
._1seuh7z2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1seuh7z4 {
  display: inline-block;
  background: var(--_1symhbqi);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1seuh7z6 {
  height: var(--_1x7lcxme);
  width: var(--_1x7lcxme);
}
._1seuh7z8 {
  height: var(--_1x7lcxme);
  width: var(--_1x7lcxme);
}
._1seuh7z8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1symhbql);
  border-radius: var(--_1x7lcxmb);
  transition: var(--_1x7lcxmg);
  opacity: 0;
  transform: scale(0.8);
}
._1seuh7z6:checked ~ ._1seuh7z8,html:not([data-playroom-dark]) ._1seuh7z6:hover ~ ._1seuh7z8 {
  color: var(--_1symhbqc);
}
._1seuh7z6:focus ~ ._1seuh7z8::before, ._1seuh7z6:hover ~ ._1seuh7z8::before {
  opacity: 1;
  transform: scale(1);
}
.n2rlo95 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_1x7lcxm8) * 5);
  height: calc(var(--_1x7lcxm8) * 8);
  max-width: calc((100vw - 60px) - (var(--_1x7lcxmd) * 2));
}
.n2rlo95.n2rlo90 {
  padding-right: calc((15px * 2) + 16px);
}
.n2rlo95:not(.n2rlo91) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.n2rlo95.n2rlo92 {
  background-color: var(--_1symhbqg);
}
.n2rlo95.n2rlo93 {
  background-color: var(--_1symhbqh);
}
.n2rlo97 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.n2rlo97:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{word-wrap:normal;-webkit-tap-highlight-color:transparent;background:transparent;border-radius:0;border-width:0;color:inherit;font-family:inherit;font-size:inherit;font-variant-ligatures:contextual;line-height:inherit;margin:0;overflow:visible;position:relative;white-space:pre;z-index:2}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _3hzn6z1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._3hzn6z0 {
  background-color: var(--_1symhbql);
}
._3hzn6z3 {
  background-color: var(--_1symhbqh);
  color: var(--_1symhbqb);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _3hzn6z1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._3hzn6z3:hover {
  cursor: help;
}
._3hzn6z4 {
  width: 1em;
  padding: 0 8px;
}
._3hzn6z6::after {
  content: "-";
}
._3hzn6z8::after {
  content: "+";
  color: var(--_1symhbqc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1symhbqj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1x7lcxm1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_1x7lcxmd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1symhbqo);
  border-radius: var(--_1x7lcxma);
  background-color: var(--_1symhbqj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_1x7lcxm1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1symhbqi);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_1x7lcxm9);
  white-space: pre;
  color: var(--_1symhbq0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1symhbqf);
  color: var(--_1symhbq9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1symhbqc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_1x7lcxm8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1symhbqj);
  color: var(--_1symhbq0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1symhbq8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1symhbqj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1symhbqj);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1symhbqj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1symhbql);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1symhbq8);
  transition: var(--_1x7lcxmh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._3hzn6z8) {
  color: var(--_1symhbq7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1symhbq8);
  transition: var(--_1x7lcxmh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1symhbq7);
}
.cm-s-neo .cm-tag {
  color: var(--_1symhbq1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1symhbq2);
}
.cm-s-neo .cm-string {
  color: var(--_1symhbq3);
}
.cm-s-neo .cm-atom {
  color: var(--_1symhbq4);
}
.cm-s-neo .cm-variable {
  color: var(--_1symhbq5);
}
.cm-s-neo .cm-number {
  color: var(--_1symhbq6);
}
.CodeMirror-dialog {
  padding-left: var(--_1x7lcxmo);
  padding-right: var(--_1x7lcxmo);
  min-height: 60px;
  border-bottom: 1px solid var(--_1symhbqn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_3hzn6z9));
  transition: var(--_1x7lcxmh);
}
.dialog-opened .CodeMirror-scroll {
  --_3hzn6z9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_3hzn6z9);
}
.CodeMirror-dialog input {
  font: var(--_1x7lcxm5);
  font-family: var(--_1x7lcxm1);
  height: var(--_1x7lcxme);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_1x7lcxme);
  font: var(--_1x7lcxm5);
  font-family: var(--_1x7lcxm1);
}
.CodeMirror-search-field {
  padding-left: var(--_1x7lcxmo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1symhbqm);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1symhbql);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_1x7lcxmo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_1x7lcxm4);
  font-family: var(--_1x7lcxm0);
  margin-left: var(--_1x7lcxml);
  padding-top: var(--_1x7lcxml);
  padding-bottom: var(--_1x7lcxml);
  padding-left: var(--_1x7lcxmn);
  padding-right: var(--_1x7lcxmn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_1x7lcxmb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1symhbqc);
  box-shadow: var(--_1symhbqp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1symhbql);
}
.CodeMirror-dialog button:hover {
  background: var(--_1symhbqe);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1symhbqk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.jcwt0r3 {
  position: absolute !important;
}
.jcwt0r6 {
  max-width: 90vw;
}
.jcwt0r6.jcwt0r4 {
  transform: translateX(100%);
}
.jcwt0r8 {
  max-height: 90vh;
}
.jcwt0r8.jcwt0r4 {
  transform: translateY(100%);
}
.jcwt0rb.jcwt0r9 {
  width: 60px;
}
.jcwt0rd {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_1x7lcxme);
  height: var(--_1x7lcxme);
}
.jcwt0rd::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_1x7lcxmb);
  transition: var(--_1x7lcxmf);
}
.jcwt0rd:not(:hover):not(:focus) {
  opacity: 0.3;
}
.jcwt0rd:hover::before, .jcwt0rd:focus::before {
  opacity: 0.05;
}
.jcwt0rf {
  right: 60px;
}
