._1feda494:not(:hover) {
  opacity: 0.8;
}
._1feda496 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1feda491:not(:hover) ._1feda496 {
  opacity: 0.3;
}
._1l6pk2m1 {
  color: var(--soloz58);
  font-family: var(--zpwiwp0);
}
._1l6pk2m2 {
  font-size: 36px;
}
._1l6pk2m3 {
  font-size: 24px;
}
._1l6pk2m4 {
  font-size: 16px;
}
._1y1kp1h1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1y1kp1h0);
}
._1y1kp1h2 {
  --_1y1kp1h0: var(--zpwiwpi);
}
._1y1kp1h3 {
  --_1y1kp1h0: var(--zpwiwpj);
}
._1y1kp1h4 {
  --_1y1kp1h0: var(--zpwiwpk);
}
._1y1kp1h5 {
  --_1y1kp1h0: var(--zpwiwpl);
}
._1y1kp1h6 {
  --_1y1kp1h0: var(--zpwiwpm);
}
._1y1kp1h7 {
  --_1y1kp1h0: var(--zpwiwpn);
}
._1y1kp1h8 {
  --_1y1kp1h0: var(--zpwiwpo);
}
._1y1kp1h9 {
  --_1y1kp1h0: var(--zpwiwpp);
}
._1y1kp1ha {
  --_1y1kp1h0: var(--zpwiwpq);
}
._1y1kp1hb {
  --_1y1kp1h0: var(--zpwiwpr);
}
.go14mc2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--go14mc0);
  align-items: var(--go14mc1);
}
.go14mc3 {
  --go14mc0: var(--zpwiwpi);
}
.go14mc4 {
  --go14mc0: var(--zpwiwpj);
}
.go14mc5 {
  --go14mc0: var(--zpwiwpk);
}
.go14mc6 {
  --go14mc0: var(--zpwiwpl);
}
.go14mc7 {
  --go14mc0: var(--zpwiwpm);
}
.go14mc8 {
  --go14mc0: var(--zpwiwpn);
}
.go14mc9 {
  --go14mc0: var(--zpwiwpo);
}
.go14mca {
  --go14mc0: var(--zpwiwpp);
}
.go14mcb {
  --go14mc0: var(--zpwiwpq);
}
.go14mcc {
  --go14mc0: var(--zpwiwpr);
}
.go14mcd {
  align-items: flex-start;
}
.go14mce {
  align-items: center;
}
.go14mcf {
  align-items: flex-end;
}
.qyf991 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--zpwiwpl) * -1);
}
.qyf991::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--zpwiwpb);
  box-shadow: var(--soloz5p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--zpwiwpg);
}
.qyf991:focus::before, .qyf991:hover::before {
  opacity: 1;
  transform: scale(1);
}
.qyf994 {
  height: 20px;
  width: 20px;
}
.qyf996 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--zpwiwpj) * 2));
  width: calc(20px - (var(--zpwiwpj) * 2));
}
.qyf996::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--zpwiwpa);
  box-shadow: var(--soloz5p);
  transition: var(--zpwiwpg);
  opacity: 0;
  transform: scale(0.5);
}
.qyf996::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--zpwiwpa);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--soloz5j);
}
.qyf994:hover:not(:focus) ~ .qyf996::before, .qyf994:focus ~ .qyf996::before {
  opacity: 1;
  transform: scale(1);
}
.qyf996 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--zpwiwph);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.qyf994:checked ~ .qyf996 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--zpwiwph);
}
.qyf998 {
  color: var(--soloz58);
  height: var(--zpwiwpe);
  background: var(--soloz5j);
  border: 1px solid var(--soloz5n);
}
.qyf998::placeholder {
  color: var(--soloz57);
}
._1xh16hi0 {
  transition: var(--zpwiwpg);
  transform-origin: 50% 50%;
}
._1xh16hi1 {
  transform: rotate(90deg);
}
._1xh16hi2 {
  transform: rotate(180deg);
}
._1xh16hi3 {
  transform: rotate(270deg);
}
._1rmrd6x4 {
  min-width: 0;
}
._1rmrd6x5 {
  flex-shrink: 0;
}
._1rmrd6x9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1rmrd6x7:focus:not(:hover) ~ ._1rmrd6x9 {
  opacity: 1;
}
.wm8dkt1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--zpwiwpe);
  -webkit-tap-highlight-color: transparent;
}
.wm8dkt4 {
  --wm8dkt2: currentColor;
  color: var(--wm8dkt2);
  border: 1px solid var(--soloz57);
  height: calc(var(--zpwiwp8) * 9);
}
.wm8dkt4:hover {
  --wm8dkt2: var(--soloz5c);
  border-color: var(--wm8dkt2);
}
.wm8dkt4:active {
  transform: scale(0.98);
}
.wm8dkt4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--zpwiwpe);
  min-width: var(--zpwiwpe);
  left: calc((var(--zpwiwp8) * 2) * -1);
  right: calc((var(--zpwiwp8) * 2) * -1);
  height: 100%;
  top: 50%;
}
.wm8dkt4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--soloz5p);
}
.wm8dkt5 {
  --wm8dkt2: var(--soloz5d) !important;
  border-color: var(--wm8dkt2);
}
.wm8dkt7 {
  top: 1px;
}
._14rl4q1 {
  color: var(--soloz58);
  height: var(--zpwiwpe);
  background: var(--soloz5j);
}
._14rl4q1:focus {
  outline: none;
}
._14rl4q1::placeholder {
  color: var(--soloz57);
}
._1v6fr0a5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--soloz5j);
  -webkit-tap-highlight-color: transparent;
}
._1v6fr0a5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--soloz5l);
  opacity: 0;
  transition: var(--zpwiwpf);
  pointer-events: none;
}
._1v6fr0a5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--zpwiwpf);
}
._1v6fr0a5._1v6fr0a0 {
  color: var(--soloz5d);
}
._1v6fr0a5:not(._1v6fr0a1) {
  cursor: pointer;
}
._1v6fr0a5._1v6fr0a1 {
  color: var(--soloz57);
}
._1v6fr0a5._1v6fr0a2,._1v6fr0a5._1v6fr0a3:not(._1v6fr0a0):not(._1v6fr0a1),html:not([data-playroom-dark]) ._1v6fr0a5:hover:not(._1v6fr0a0):not(._1v6fr0a1) {
  color: var(--soloz5c);
}
._1v6fr0a5:not(._1v6fr0a0):not(:hover):focus::before {
  color: var(--soloz58);
}
._1v6fr0a5:not(._1v6fr0a0):not(._1v6fr0a1):focus::before,._1v6fr0a5:not(._1v6fr0a0):not(._1v6fr0a1):hover::before {
  opacity: 1;
}
._1v6fr0a5:not(._1v6fr0a3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1v6fr0a8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--soloz5f);
  border: 2px solid var(--soloz5j);
}
._1v6fr0a8:not(._1v6fr0a6) {
  transform: scale(0);
  opacity: 0;
}
._1v6fr0aa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--soloz5d);
  border: 2px solid var(--soloz5j);
}
._1v6fr0aa:not(._1v6fr0a6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1v6fr0aa svg {
  color: var(--soloz59);
}
._1ey1c1k2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--soloz5n);
}
._1ey1c1k4 {
  top: 60px;
}
._1ey1c1k6 {
  color: var(--soloz58);
  background-color: var(--soloz5j);
}
._1ey1c1k6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--soloz5l);
  border-radius: var(--zpwiwpa);
  opacity: 0;
  transition: var(--zpwiwpf);
  pointer-events: none;
}
._1ey1c1k8 {
  color: var(--soloz5a);
}
._1ey1c1k9 {
  color: var(--soloz5c);
}
._1ey1c1k9::before {
  opacity: 1;
}
.vr0afm2 {
  color: var(--soloz58);
  min-width: calc(60px + 1px);
}
.vr0afm2.vr0afm0 {
  width: 100vw;
}
.vr0afm6 {
  width: 60px;
  background-color: var(--soloz5j);
  border-left: 1px solid var(--soloz5n);
}
.vr0afm8 {
  width: 320px;
  background-color: var(--soloz5j);
  border-left: 1px solid var(--soloz5n);
}
.vr0afm9 {
  opacity: 0;
  transform: translateX(30%);
}
.vr0afmb {
  opacity: 1;
  transform: translateX(0);
}
.vr0afmc {
  opacity: 1;
  transform: translateX(0);
}
.vr0afmd {
  opacity: 1;
}
.vr0afmf {
  opacity: 0;
  transform: translateX(30%);
}
.vr0afmg {
  opacity: 0;
  transform: translateX(30%);
}
._18n3c0e2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._18n3c0e4 {
  display: inline-block;
  background: var(--soloz5i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._18n3c0e6 {
  height: var(--zpwiwpe);
  width: var(--zpwiwpe);
}
._18n3c0e8 {
  height: var(--zpwiwpe);
  width: var(--zpwiwpe);
}
._18n3c0e8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--soloz5l);
  border-radius: var(--zpwiwpb);
  transition: var(--zpwiwpg);
  opacity: 0;
  transform: scale(0.8);
}
._18n3c0e6:checked ~ ._18n3c0e8,html:not([data-playroom-dark]) ._18n3c0e6:hover ~ ._18n3c0e8 {
  color: var(--soloz5c);
}
._18n3c0e6:focus ~ ._18n3c0e8::before, ._18n3c0e6:hover ~ ._18n3c0e8::before {
  opacity: 1;
  transform: scale(1);
}
.vnq6ke5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--zpwiwp8) * 5);
  height: calc(var(--zpwiwp8) * 8);
  max-width: calc((100vw - 60px) - (var(--zpwiwpd) * 2));
}
.vnq6ke5.vnq6ke0 {
  padding-right: calc((15px * 2) + 16px);
}
.vnq6ke5:not(.vnq6ke1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.vnq6ke5.vnq6ke2 {
  background-color: var(--soloz5g);
}
.vnq6ke5.vnq6ke3 {
  background-color: var(--soloz5h);
}
.vnq6ke7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.vnq6ke7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{word-wrap:normal;-webkit-tap-highlight-color:transparent;background:transparent;border-radius:0;border-width:0;color:inherit;font-family:inherit;font-size:inherit;font-variant-ligatures:contextual;line-height:inherit;margin:0;overflow:visible;position:relative;white-space:pre;z-index:2}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes z26dus1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.z26dus0 {
  background-color: var(--soloz5l);
}
.z26dus3 {
  background-color: var(--soloz5h);
  color: var(--soloz5b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: z26dus1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.z26dus3:hover {
  cursor: help;
}
.z26dus4 {
  width: 1em;
  padding: 0 8px;
}
.z26dus6::after {
  content: "-";
}
.z26dus8::after {
  content: "+";
  color: var(--soloz5c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--soloz5j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--zpwiwp1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--zpwiwpd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--soloz5o);
  border-radius: var(--zpwiwpa);
  background-color: var(--soloz5j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--zpwiwp1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--soloz5i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--zpwiwp9);
  white-space: pre;
  color: var(--soloz50);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--soloz5f);
  color: var(--soloz59);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--soloz5c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--zpwiwp8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--soloz5j);
  color: var(--soloz50);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--soloz58);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--soloz5j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--soloz5j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--soloz5j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--soloz5l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--soloz58);
  transition: var(--zpwiwph);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.z26dus8) {
  color: var(--soloz57);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--soloz58);
  transition: var(--zpwiwph);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--soloz57);
}
.cm-s-neo .cm-tag {
  color: var(--soloz51);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--soloz52);
}
.cm-s-neo .cm-string {
  color: var(--soloz53);
}
.cm-s-neo .cm-atom {
  color: var(--soloz54);
}
.cm-s-neo .cm-variable {
  color: var(--soloz55);
}
.cm-s-neo .cm-number {
  color: var(--soloz56);
}
.CodeMirror-dialog {
  padding-left: var(--zpwiwpo);
  padding-right: var(--zpwiwpo);
  min-height: 60px;
  border-bottom: 1px solid var(--soloz5n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--z26dus9));
  transition: var(--zpwiwph);
}
.dialog-opened .CodeMirror-scroll {
  --z26dus9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--z26dus9);
}
.CodeMirror-dialog input {
  font: var(--zpwiwp5);
  font-family: var(--zpwiwp1);
  height: var(--zpwiwpe);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--zpwiwpe);
  font: var(--zpwiwp5);
  font-family: var(--zpwiwp1);
}
.CodeMirror-search-field {
  padding-left: var(--zpwiwpo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--soloz5m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--soloz5l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--zpwiwpo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--zpwiwp4);
  font-family: var(--zpwiwp0);
  margin-left: var(--zpwiwpl);
  padding-top: var(--zpwiwpl);
  padding-bottom: var(--zpwiwpl);
  padding-left: var(--zpwiwpn);
  padding-right: var(--zpwiwpn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--zpwiwpb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--soloz5c);
  box-shadow: var(--soloz5p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--soloz5l);
}
.CodeMirror-dialog button:hover {
  background: var(--soloz5e);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--soloz5k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.ls6c6x3 {
  position: absolute !important;
}
.ls6c6x6 {
  max-width: 90vw;
}
.ls6c6x6.ls6c6x4 {
  transform: translateX(100%);
}
.ls6c6x8 {
  max-height: 90vh;
}
.ls6c6x8.ls6c6x4 {
  transform: translateY(100%);
}
.ls6c6xb.ls6c6x9 {
  width: 60px;
}
.ls6c6xd {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--zpwiwpe);
  height: var(--zpwiwpe);
}
.ls6c6xd::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--zpwiwpb);
  transition: var(--zpwiwpf);
}
.ls6c6xd:not(:hover):not(:focus) {
  opacity: 0.3;
}
.ls6c6xd:hover::before, .ls6c6xd:focus::before {
  opacity: 0.05;
}
.ls6c6xf {
  right: 60px;
}
