.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
._2iduen5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--qcxetj);
  -webkit-tap-highlight-color: transparent;
}
._2iduen5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--qcxetl);
  opacity: 0;
  transition: var(--q8opsid);
  pointer-events: none;
}
._2iduen5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--q8opsid);
}
._2iduen5._2iduen0 {
  color: var(--qcxetd);
}
._2iduen5:not(._2iduen1) {
  cursor: pointer;
}
._2iduen5._2iduen1 {
  color: var(--qcxet7);
}
._2iduen5._2iduen2,._2iduen5._2iduen3:not(._2iduen0):not(._2iduen1),html:not([data-playroom-dark]) ._2iduen5:hover:not(._2iduen0):not(._2iduen1) {
  color: var(--qcxetc);
}
._2iduen5:not(._2iduen0):not(:hover):focus::before {
  color: var(--qcxet8);
}
._2iduen5:not(._2iduen0):not(._2iduen1):focus::before,._2iduen5:not(._2iduen0):not(._2iduen1):hover::before {
  opacity: 1;
}
._2iduen5:not(._2iduen3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._2iduen8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--qcxetf);
  border: 2px solid var(--qcxetj);
}
._2iduen8:not(._2iduen6) {
  transform: scale(0);
  opacity: 0;
}
._2iduena {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--qcxetd);
  border: 2px solid var(--qcxetj);
}
._2iduena:not(._2iduen6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._2iduena svg {
  color: var(--qcxet9);
}
@keyframes _1wnugtm1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1wnugtm0 {
  background-color: var(--qcxetl);
}
._1wnugtm3 {
  background-color: var(--qcxeth);
  color: var(--qcxetb);
  min-width: 50px;
  animation-name: _1wnugtm1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1wnugtm3:hover {
  cursor: help;
}
._1wnugtm5 {
  width: 1em;
}
._1wnugtm7::after {
  content: "-";
}
._1wnugtm9::after {
  content: "+";
  color: var(--qcxetc);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--qcxetj);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--q8opsi1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--q8opsib);
  box-sizing: border-box;
  padding-left: var(--q8opsij);
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: var(--q8opsil) 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--qcxeto);
  border-radius: var(--q8opsi7);
  background-color: var(--qcxetj);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--q8opsi1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--qcxeti);
}
.CodeMirror-hint {
  margin: 0;
  padding: var(--q8opsii) var(--q8opsij);
  border-radius: var(--q8opsi7);
  white-space: pre;
  color: var(--qcxet0);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--qcxetf);
  color: var(--qcxet9);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--qcxetc);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--q8opsii);
}
.cm-s-neo.CodeMirror {
  background-color: var(--qcxetj);
  color: var(--qcxet0);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--qcxet8);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--qcxetj);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--qcxetj);
  position: absolute;
  right: var(--q8opsih);
  height: 100%;
  box-shadow: 0 0 10px 5px var(--qcxetj);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--qcxetl);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--qcxet8);
  transition: var(--q8opsif);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1wnugtm9) {
  color: var(--qcxet7);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--qcxet8);
  transition: var(--q8opsif);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--qcxet7);
}
.cm-s-neo .cm-tag {
  color: var(--qcxet1);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--qcxet2);
}
.cm-s-neo .cm-string {
  color: var(--qcxet3);
}
.cm-s-neo .cm-atom {
  color: var(--qcxet4);
}
.cm-s-neo .cm-variable {
  color: var(--qcxet5);
}
.cm-s-neo .cm-number {
  color: var(--qcxet6);
}
.CodeMirror-dialog {
  padding-left: var(--q8opsil);
  padding-right: var(--q8opsil);
  min-height: 60px;
  border-bottom: 1px solid var(--qcxetn);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1wnugtma));
  transition: var(--q8opsif);
}
.dialog-opened .CodeMirror-scroll {
  --_1wnugtma: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1wnugtma);
}
.CodeMirror-dialog input {
  font: var(--q8opsi5);
  font-family: var(--q8opsi1);
  height: var(--q8opsic);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--q8opsic);
  font: var(--q8opsi5);
  font-family: var(--q8opsi1);
}
.CodeMirror-search-field {
  padding-left: var(--q8opsil);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--qcxetm);
}
.cm-overlay.cm-searching {
  padding-top: var(--q8opsih);
  padding-bottom: var(--q8opsih);
  background: var(--qcxetl);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--q8opsil);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--q8opsi4);
  font-family: var(--q8opsi0);
  margin-left: var(--q8opsij);
  padding-top: var(--q8opsii);
  padding-bottom: var(--q8opsii);
  padding-left: var(--q8opsik);
  padding-right: var(--q8opsik);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--q8opsi8);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--qcxetc);
  box-shadow: var(--qcxetp);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--qcxetl);
}
.CodeMirror-dialog button:hover {
  background: var(--qcxete);
}
.f9fjjj1 {
  color: var(--qcxet8);
}
.f9fjjj2 {
  color: var(--qcxetb);
}
.f9fjjj3 {
  color: var(--qcxeta);
}
.f9fjjja {
  text-overflow: ellipsis;
}
.bdxxgw1 {
  justify-content: safe center;
}
.bdxxgw4 {
  flex-shrink: 0;
  width: var(--bdxxgw2);
}
.bdxxgw4:not(:hover) .bdxxgw7 {
  opacity: 0.8;
}
.bdxxgw9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.bdxxgw4:not(:hover) .bdxxgw9 {
  opacity: 0.3;
}
.l7n04u5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: var(--q8opsim);
  height: var(--q8opsin);
  max-width: calc((100dvw - 60px) - (var(--q8opsib) * 2));
}
.l7n04u5.l7n04u0 {
  padding-right: calc((15px * 2) + 16px);
}
.l7n04u5:not(.l7n04u1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.l7n04u5.l7n04u2 {
  background-color: var(--qcxetg);
}
.l7n04u5.l7n04u3 {
  background-color: var(--qcxeth);
}
.l7n04u7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.l7n04u7:not(:hover) {
  opacity: 0.4;
}
._1ctmmb91 {
  color: var(--qcxet8);
  font-family: var(--q8opsi0);
}
._1ctmmb92 {
  font-size: 36px;
}
._1ctmmb93 {
  font-size: 24px;
}
._1ctmmb94 {
  font-size: 16px;
}
._1hy6gex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1hy6gex0);
  align-items: var(--_1hy6gex1);
}
._1hy6gex3 {
  --_1hy6gex0: var(--q8opsig);
}
._1hy6gex4 {
  --_1hy6gex0: var(--q8opsih);
}
._1hy6gex5 {
  --_1hy6gex0: var(--q8opsii);
}
._1hy6gex6 {
  --_1hy6gex0: var(--q8opsij);
}
._1hy6gex7 {
  --_1hy6gex0: var(--q8opsik);
}
._1hy6gex8 {
  --_1hy6gex0: var(--q8opsil);
}
._1hy6gex9 {
  --_1hy6gex0: var(--q8opsim);
}
._1hy6gexa {
  --_1hy6gex0: var(--q8opsin);
}
._1hy6gexb {
  --_1hy6gex0: var(--q8opsio);
}
._1hy6gexc {
  --_1hy6gex0: var(--q8opsip);
}
._1hy6gexd {
  align-items: flex-start;
}
._1hy6gexe {
  align-items: center;
}
._1hy6gexf {
  align-items: flex-end;
}
._3jmzk41 {
  display: flex;
  flex-direction: column;
  gap: var(--_3jmzk40);
}
._3jmzk42 {
  --_3jmzk40: var(--q8opsig);
}
._3jmzk43 {
  --_3jmzk40: var(--q8opsih);
}
._3jmzk44 {
  --_3jmzk40: var(--q8opsii);
}
._3jmzk45 {
  --_3jmzk40: var(--q8opsij);
}
._3jmzk46 {
  --_3jmzk40: var(--q8opsik);
}
._3jmzk47 {
  --_3jmzk40: var(--q8opsil);
}
._3jmzk48 {
  --_3jmzk40: var(--q8opsim);
}
._3jmzk49 {
  --_3jmzk40: var(--q8opsin);
}
._3jmzk4a {
  --_3jmzk40: var(--q8opsio);
}
._3jmzk4b {
  --_3jmzk40: var(--q8opsip);
}
._19gvyyh1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--q8opsii) * -1);
}
._19gvyyh1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--q8opsi7);
  box-shadow: var(--qcxetp);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--q8opsie);
}
._19gvyyh1:focus::before, ._19gvyyh1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._19gvyyh4 {
  height: 20px;
  width: 20px;
}
._19gvyyh6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--q8opsih) * 2));
  width: calc(20px - (var(--q8opsih) * 2));
}
._19gvyyh6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--q8opsi7);
  box-shadow: var(--qcxetp);
  transition: var(--q8opsie);
  opacity: 0;
  transform: scale(0.5);
}
._19gvyyh6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--q8opsi7);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--qcxetj);
}
._19gvyyh4:hover:not(:focus) ~ ._19gvyyh6::before, ._19gvyyh4:focus ~ ._19gvyyh6::before {
  opacity: 1;
  transform: scale(1);
}
._19gvyyh6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--q8opsif);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._19gvyyh4:checked ~ ._19gvyyh6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--q8opsif);
}
._19gvyyh8 {
  color: var(--qcxet8);
  height: var(--q8opsic);
  background: var(--qcxetj);
  border: 1px solid var(--qcxetn);
}
._19gvyyh8::placeholder {
  color: var(--qcxet7);
}
._43p8ty1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
._43p8ty4 {
  --_43p8ty2: currentColor;
  color: var(--_43p8ty2);
  border: 1px solid var(--qcxet7);
}
._43p8ty4:hover {
  --_43p8ty2: var(--qcxetc);
  border-color: var(--_43p8ty2);
}
._43p8ty4:active {
  transform: scale(0.98);
}
._43p8ty4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--q8opsic);
  min-width: var(--q8opsic);
  width: 100%;
  height: 100%;
  top: 50%;
}
._43p8ty4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--qcxetp);
}
._43p8ty5 {
  --_43p8ty2: var(--qcxetd) !important;
  border-color: var(--_43p8ty2);
}
._43p8ty7 {
  top: 1px;
}
._1yzqhes0 {
  transition: var(--q8opsie);
  transform-origin: 50% 50%;
}
._1yzqhes1 {
  transform: rotate(90deg);
}
._1yzqhes2 {
  transform: rotate(180deg);
}
._1yzqhes3 {
  transform: rotate(270deg);
}
._113w39e4 {
  min-width: 0;
}
._113w39e5 {
  flex-shrink: 0;
}
._113w39e9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._113w39e7:focus:not(:hover) ~ ._113w39e9 {
  opacity: 1;
}
._74jdc2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._74jdc4 {
  display: inline-block;
  background: var(--qcxeti);
  font-family: system-ui;
  min-width: 16px;
}
._74jdc6 {
  height: var(--q8opsic);
  width: var(--q8opsic);
}
._74jdc8 {
  height: var(--q8opsic);
  width: var(--q8opsic);
}
._74jdc8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--qcxetl);
  border-radius: var(--q8opsi8);
  transition: var(--q8opsie);
  opacity: 0;
  transform: scale(0.8);
}
._74jdc6:checked ~ ._74jdc8,html:not([data-playroom-dark]) ._74jdc6:hover ~ ._74jdc8 {
  color: var(--qcxetc);
}
._74jdc6:focus ~ ._74jdc8::before, ._74jdc6:hover ~ ._74jdc8::before {
  opacity: 1;
  transform: scale(1);
}
._1xg3rpg1 {
  color: var(--qcxet8);
  height: var(--q8opsic);
  background: var(--qcxetj);
}
._1xg3rpg1:focus {
  outline: none;
}
._1xg3rpg1::placeholder {
  color: var(--qcxet7);
}
.ntl88o2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--qcxetn);
}
.ntl88o4 {
  list-style: none;
  top: 60px;
}
.ntl88o4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--q8opsii);
  z-index: 1;
}
.ntl88o4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--q8opsii);
  z-index: 1;
}
.ntl88o6 {
  scroll-margin-block: var(--q8opsii);
  color: var(--qcxet8);
  background-color: var(--qcxetj);
}
.ntl88o6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--qcxetl);
  border-radius: var(--q8opsi7);
  opacity: 0;
  pointer-events: none;
}
.ntl88o8 {
  color: var(--qcxeta);
}
.ntl88o9 {
  color: var(--qcxetc);
}
.ntl88o9::before {
  opacity: 1;
}
._1ppo1ti2 {
  color: var(--qcxet8);
  min-width: calc(60px + 1px);
}
._1ppo1ti2._1ppo1ti0 {
  width: 100dvw;
}
._1ppo1ti6 {
  width: 60px;
  background-color: var(--qcxetj);
  border-left: 1px solid var(--qcxetn);
}
._1ppo1ti8 {
  width: 320px;
  background-color: var(--qcxetj);
  border-left: 1px solid var(--qcxetn);
}
._1ppo1ti9 {
  opacity: 0;
  transform: translateX(30%);
}
._1ppo1tib {
  opacity: 1;
  transform: translateX(0);
}
._1ppo1tic {
  opacity: 1;
  transform: translateX(0);
}
._1ppo1tid {
  opacity: 1;
}
._1ppo1tif {
  opacity: 0;
  transform: translateX(30%);
}
._1ppo1tig {
  opacity: 0;
  transform: translateX(30%);
}
._1go6cpa0 {
  cursor: row-resize;
}
._1go6cpa1 {
  cursor: col-resize;
}
._1go6cpaa {
  background: var(--qcxeti);
}
._1go6cpab {
  width: 70px;
  height: 4px;
}
._1go6cpac {
  width: 4px;
  height: 70px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--qcxetk);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
._3d9iod0 {
  pointer-events: none;
  user-select: none;
}
._3d9iod6 {
  display: grid;
  grid-template-columns: 1fr var(--_3d9iod2, 0px);
  grid-template-rows: auto var(--_3d9iod1, 0px);
  will-change: grid-template-columns, grid-template-rows;
}
._3d9iod7 {
  transition: grid-template-columns 300ms ease, grid-template-rows 300ms ease;
}
._3d9iod8 {
  --_3d9iod1: clamp(300px, var(--_3d9iod3), 80vh);
  grid-template-areas: "frames frames"
"editor editor";
}
._3d9iod9 {
  --_3d9iod2: clamp(460px, var(--_3d9iod3), 90vw);
  grid-template-areas: "frames editor"
"frames editor";
}
._3d9ioda {
  grid-area: frames;
}
._3d9iodc {
  grid-area: editor;
}
._3d9iod8 ._3d9iode {
  width: 60px;
}
._3d9iodg {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--q8opsic);
  height: var(--q8opsic);
}
._3d9iodg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--q8opsi8);
  transition: var(--q8opsid);
}
._3d9iodg:not(:hover):not(:focus) {
  opacity: 0.3;
}
._3d9iodg:hover::before, ._3d9iodg:focus::before {
  opacity: 0.05;
}
