._99ysq4:not(:hover) {
  opacity: 0.8;
}
._99ysq6 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._99ysq1:not(:hover) ._99ysq6 {
  opacity: 0.3;
}
._1knglll1 {
  color: var(--_1i452v48);
  font-family: var(--_12s38yb0);
}
._1knglll2 {
  font-size: 36px;
}
._1knglll3 {
  font-size: 24px;
}
._1knglll4 {
  font-size: 16px;
}
._7b4yvk1 {
  display: flex;
  flex-direction: column;
  gap: var(--_7b4yvk0);
}
._7b4yvk2 {
  --_7b4yvk0: var(--_12s38ybi);
}
._7b4yvk3 {
  --_7b4yvk0: var(--_12s38ybj);
}
._7b4yvk4 {
  --_7b4yvk0: var(--_12s38ybk);
}
._7b4yvk5 {
  --_7b4yvk0: var(--_12s38ybl);
}
._7b4yvk6 {
  --_7b4yvk0: var(--_12s38ybm);
}
._7b4yvk7 {
  --_7b4yvk0: var(--_12s38ybn);
}
._7b4yvk8 {
  --_7b4yvk0: var(--_12s38ybo);
}
._7b4yvk9 {
  --_7b4yvk0: var(--_12s38ybp);
}
._7b4yvka {
  --_7b4yvk0: var(--_12s38ybq);
}
._7b4yvkb {
  --_7b4yvk0: var(--_12s38ybr);
}
._1ym320l2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1ym320l0);
  align-items: var(--_1ym320l1);
}
._1ym320l3 {
  --_1ym320l0: var(--_12s38ybi);
}
._1ym320l4 {
  --_1ym320l0: var(--_12s38ybj);
}
._1ym320l5 {
  --_1ym320l0: var(--_12s38ybk);
}
._1ym320l6 {
  --_1ym320l0: var(--_12s38ybl);
}
._1ym320l7 {
  --_1ym320l0: var(--_12s38ybm);
}
._1ym320l8 {
  --_1ym320l0: var(--_12s38ybn);
}
._1ym320l9 {
  --_1ym320l0: var(--_12s38ybo);
}
._1ym320la {
  --_1ym320l0: var(--_12s38ybp);
}
._1ym320lb {
  --_1ym320l0: var(--_12s38ybq);
}
._1ym320lc {
  --_1ym320l0: var(--_12s38ybr);
}
._1ym320ld {
  align-items: flex-start;
}
._1ym320le {
  align-items: center;
}
._1ym320lf {
  align-items: flex-end;
}
._16jvffx1 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_12s38ybl) * -1);
}
._16jvffx1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_12s38ybb);
  box-shadow: var(--_1i452v4p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_12s38ybg);
}
._16jvffx1:focus::before, ._16jvffx1:hover::before {
  opacity: 1;
  transform: scale(1);
}
._16jvffx4 {
  height: 20px;
  width: 20px;
}
._16jvffx6 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_12s38ybj) * 2));
  width: calc(20px - (var(--_12s38ybj) * 2));
}
._16jvffx6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_12s38yba);
  box-shadow: var(--_1i452v4p);
  transition: var(--_12s38ybg);
  opacity: 0;
  transform: scale(0.5);
}
._16jvffx6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_12s38yba);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1i452v4j);
}
._16jvffx4:hover:not(:focus) ~ ._16jvffx6::before, ._16jvffx4:focus ~ ._16jvffx6::before {
  opacity: 1;
  transform: scale(1);
}
._16jvffx6 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_12s38ybh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._16jvffx4:checked ~ ._16jvffx6 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_12s38ybh);
}
._16jvffx8 {
  color: var(--_1i452v48);
  height: var(--_12s38ybe);
  background: var(--_1i452v4j);
  border: 1px solid var(--_1i452v4n);
}
._16jvffx8::placeholder {
  color: var(--_1i452v47);
}
.arr7pg0 {
  transition: var(--_12s38ybg);
  transform-origin: 50% 50%;
}
.arr7pg1 {
  transform: rotate(90deg);
}
.arr7pg2 {
  transform: rotate(180deg);
}
.arr7pg3 {
  transform: rotate(270deg);
}
._1qwliyd4 {
  min-width: 0;
}
._1qwliyd5 {
  flex-shrink: 0;
}
._1qwliyd9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1qwliyd7:focus:not(:hover) ~ ._1qwliyd9 {
  opacity: 1;
}
.i0ftvl1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_12s38ybe);
  -webkit-tap-highlight-color: transparent;
}
.i0ftvl4 {
  --i0ftvl2: currentColor;
  color: var(--i0ftvl2);
  border: 1px solid var(--_1i452v47);
  height: calc(var(--_12s38yb8) * 9);
}
.i0ftvl4:hover {
  --i0ftvl2: var(--_1i452v4c);
  border-color: var(--i0ftvl2);
}
.i0ftvl4:active {
  transform: scale(0.98);
}
.i0ftvl4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_12s38ybe);
  min-width: var(--_12s38ybe);
  left: calc((var(--_12s38yb8) * 2) * -1);
  right: calc((var(--_12s38yb8) * 2) * -1);
  height: 100%;
  top: 50%;
}
.i0ftvl4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1i452v4p);
}
.i0ftvl5 {
  --i0ftvl2: var(--_1i452v4d) !important;
  border-color: var(--i0ftvl2);
}
.i0ftvl7 {
  top: 1px;
}
.b233hx1 {
  color: var(--_1i452v48);
  height: var(--_12s38ybe);
  background: var(--_1i452v4j);
}
.b233hx1:focus {
  outline: none;
}
.b233hx1::placeholder {
  color: var(--_1i452v47);
}
._5ysn45 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1i452v4j);
  -webkit-tap-highlight-color: transparent;
}
._5ysn45::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1i452v4l);
  opacity: 0;
  transition: var(--_12s38ybf);
  pointer-events: none;
}
._5ysn45::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_12s38ybf);
}
._5ysn45._5ysn40 {
  color: var(--_1i452v4d);
}
._5ysn45:not(._5ysn41) {
  cursor: pointer;
}
._5ysn45._5ysn41 {
  color: var(--_1i452v47);
}
._5ysn45._5ysn42,._5ysn45._5ysn43:not(._5ysn40):not(._5ysn41),html:not([data-playroom-dark]) ._5ysn45:hover:not(._5ysn40):not(._5ysn41) {
  color: var(--_1i452v4c);
}
._5ysn45:not(._5ysn40):not(:hover):focus::before {
  color: var(--_1i452v48);
}
._5ysn45:not(._5ysn40):not(._5ysn41):focus::before,._5ysn45:not(._5ysn40):not(._5ysn41):hover::before {
  opacity: 1;
}
._5ysn45:not(._5ysn43)::after {
  transform: translateX(100%);
  opacity: 0;
}
._5ysn48 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1i452v4f);
  border: 2px solid var(--_1i452v4j);
}
._5ysn48:not(._5ysn46) {
  transform: scale(0);
  opacity: 0;
}
._5ysn4a {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1i452v4d);
  border: 2px solid var(--_1i452v4j);
}
._5ysn4a:not(._5ysn46) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._5ysn4a svg {
  color: var(--_1i452v49);
}
.se9c8f2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1i452v4n);
}
.se9c8f4 {
  list-style: none;
  top: 60px;
}
.se9c8f4::before {
  content: "";
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: var(--_12s38ybl);
  z-index: 1;
}
.se9c8f4::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--_12s38ybl);
  z-index: 1;
}
.se9c8f6 {
  scroll-margin-block: var(--_12s38ybl);
  color: var(--_1i452v48);
  background-color: var(--_1i452v4j);
}
.se9c8f6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1i452v4l);
  border-radius: var(--_12s38yba);
  opacity: 0;
  pointer-events: none;
}
.se9c8f8 {
  color: var(--_1i452v4a);
}
.se9c8f9 {
  color: var(--_1i452v4c);
}
.se9c8f9::before {
  opacity: 1;
}
._1gzc13k2 {
  color: var(--_1i452v48);
  min-width: calc(60px + 1px);
}
._1gzc13k2._1gzc13k0 {
  width: 100vw;
}
._1gzc13k6 {
  width: 60px;
  background-color: var(--_1i452v4j);
  border-left: 1px solid var(--_1i452v4n);
}
._1gzc13k8 {
  width: 320px;
  background-color: var(--_1i452v4j);
  border-left: 1px solid var(--_1i452v4n);
}
._1gzc13k9 {
  opacity: 0;
  transform: translateX(30%);
}
._1gzc13kb {
  opacity: 1;
  transform: translateX(0);
}
._1gzc13kc {
  opacity: 1;
  transform: translateX(0);
}
._1gzc13kd {
  opacity: 1;
}
._1gzc13kf {
  opacity: 0;
  transform: translateX(30%);
}
._1gzc13kg {
  opacity: 0;
  transform: translateX(30%);
}
._1b534vt2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1b534vt4 {
  display: inline-block;
  background: var(--_1i452v4i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1b534vt6 {
  height: var(--_12s38ybe);
  width: var(--_12s38ybe);
}
._1b534vt8 {
  height: var(--_12s38ybe);
  width: var(--_12s38ybe);
}
._1b534vt8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1i452v4l);
  border-radius: var(--_12s38ybb);
  transition: var(--_12s38ybg);
  opacity: 0;
  transform: scale(0.8);
}
._1b534vt6:checked ~ ._1b534vt8,html:not([data-playroom-dark]) ._1b534vt6:hover ~ ._1b534vt8 {
  color: var(--_1i452v4c);
}
._1b534vt6:focus ~ ._1b534vt8::before, ._1b534vt6:hover ~ ._1b534vt8::before {
  opacity: 1;
  transform: scale(1);
}
._1kqtprt5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_12s38yb8) * 5);
  height: calc(var(--_12s38yb8) * 8);
  max-width: calc((100vw - 60px) - (var(--_12s38ybd) * 2));
}
._1kqtprt5._1kqtprt0 {
  padding-right: calc((15px * 2) + 16px);
}
._1kqtprt5:not(._1kqtprt1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1kqtprt5._1kqtprt2 {
  background-color: var(--_1i452v4g);
}
._1kqtprt5._1kqtprt3 {
  background-color: var(--_1i452v4h);
}
._1kqtprt7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1kqtprt7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{background:transparent;border-radius:0;border-width:0;font-family:inherit;font-size:inherit;margin:0;white-space:pre;word-wrap:normal;color:inherit;line-height:inherit;overflow:visible;position:relative;z-index:2;-webkit-tap-highlight-color:transparent;font-variant-ligatures:contextual}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _1voyf9f1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1voyf9f0 {
  background-color: var(--_1i452v4l);
}
._1voyf9f3 {
  background-color: var(--_1i452v4h);
  color: var(--_1i452v4b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _1voyf9f1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1voyf9f3:hover {
  cursor: help;
}
._1voyf9f4 {
  width: 1em;
  padding: 0 8px;
}
._1voyf9f6::after {
  content: "-";
}
._1voyf9f8::after {
  content: "+";
  color: var(--_1i452v4c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1i452v4j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_12s38yb1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_12s38ybd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1i452v4o);
  border-radius: var(--_12s38yba);
  background-color: var(--_1i452v4j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_12s38yb1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1i452v4i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_12s38yb9);
  white-space: pre;
  color: var(--_1i452v40);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1i452v4f);
  color: var(--_1i452v49);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1i452v4c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_12s38yb8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1i452v4j);
  color: var(--_1i452v40);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1i452v48);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1i452v4j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1i452v4j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1i452v4j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1i452v4l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1i452v48);
  transition: var(--_12s38ybh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1voyf9f8) {
  color: var(--_1i452v47);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1i452v48);
  transition: var(--_12s38ybh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1i452v47);
}
.cm-s-neo .cm-tag {
  color: var(--_1i452v41);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1i452v42);
}
.cm-s-neo .cm-string {
  color: var(--_1i452v43);
}
.cm-s-neo .cm-atom {
  color: var(--_1i452v44);
}
.cm-s-neo .cm-variable {
  color: var(--_1i452v45);
}
.cm-s-neo .cm-number {
  color: var(--_1i452v46);
}
.CodeMirror-dialog {
  padding-left: var(--_12s38ybo);
  padding-right: var(--_12s38ybo);
  min-height: 60px;
  border-bottom: 1px solid var(--_1i452v4n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_1voyf9f9));
  transition: var(--_12s38ybh);
}
.dialog-opened .CodeMirror-scroll {
  --_1voyf9f9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_1voyf9f9);
}
.CodeMirror-dialog input {
  font: var(--_12s38yb5);
  font-family: var(--_12s38yb1);
  height: var(--_12s38ybe);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_12s38ybe);
  font: var(--_12s38yb5);
  font-family: var(--_12s38yb1);
}
.CodeMirror-search-field {
  padding-left: var(--_12s38ybo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1i452v4m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1i452v4l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_12s38ybo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_12s38yb4);
  font-family: var(--_12s38yb0);
  margin-left: var(--_12s38ybl);
  padding-top: var(--_12s38ybl);
  padding-bottom: var(--_12s38ybl);
  padding-left: var(--_12s38ybn);
  padding-right: var(--_12s38ybn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_12s38ybb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1i452v4c);
  box-shadow: var(--_1i452v4p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1i452v4l);
}
.CodeMirror-dialog button:hover {
  background: var(--_1i452v4e);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1i452v4k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._1nmkkbh3 {
  right: max(var(--_1nmkkbh2), 460px);
}
._1nmkkbh4 {
  bottom: max(var(--_1nmkkbh2), 300px);
}
._1nmkkbh7 {
  position: absolute !important;
}
._1nmkkbha {
  max-width: 90vw;
}
._1nmkkbha._1nmkkbh8 {
  transform: translateX(100%);
}
._1nmkkbhc {
  max-height: 90vh;
}
._1nmkkbhc._1nmkkbh8 {
  transform: translateY(100%);
}
._1nmkkbhf._1nmkkbhd {
  width: 60px;
}
._1nmkkbhh {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_12s38ybe);
  height: var(--_12s38ybe);
}
._1nmkkbhh::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_12s38ybb);
  transition: var(--_12s38ybf);
}
._1nmkkbhh:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1nmkkbhh:hover::before, ._1nmkkbhh:focus::before {
  opacity: 0.05;
}
._1nmkkbhj {
  right: 60px;
}
