._1232bui4:not(:hover) {
  opacity: 0.8;
}
._1232bui6 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._1232bui1:not(:hover) ._1232bui6 {
  opacity: 0.3;
}
._17k5ote1 {
  color: var(--_11h99108);
  font-family: var(--nr0qib0);
}
._17k5ote2 {
  font-size: 36px;
}
._17k5ote3 {
  font-size: 24px;
}
._17k5ote4 {
  font-size: 16px;
}
.itxyj61 {
  display: flex;
  flex-direction: column;
  gap: var(--itxyj60);
}
.itxyj62 {
  --itxyj60: var(--nr0qibi);
}
.itxyj63 {
  --itxyj60: var(--nr0qibj);
}
.itxyj64 {
  --itxyj60: var(--nr0qibk);
}
.itxyj65 {
  --itxyj60: var(--nr0qibl);
}
.itxyj66 {
  --itxyj60: var(--nr0qibm);
}
.itxyj67 {
  --itxyj60: var(--nr0qibn);
}
.itxyj68 {
  --itxyj60: var(--nr0qibo);
}
.itxyj69 {
  --itxyj60: var(--nr0qibp);
}
.itxyj6a {
  --itxyj60: var(--nr0qibq);
}
.itxyj6b {
  --itxyj60: var(--nr0qibr);
}
._1r6tf5u2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--_1r6tf5u0);
  align-items: var(--_1r6tf5u1);
}
._1r6tf5u3 {
  --_1r6tf5u0: var(--nr0qibi);
}
._1r6tf5u4 {
  --_1r6tf5u0: var(--nr0qibj);
}
._1r6tf5u5 {
  --_1r6tf5u0: var(--nr0qibk);
}
._1r6tf5u6 {
  --_1r6tf5u0: var(--nr0qibl);
}
._1r6tf5u7 {
  --_1r6tf5u0: var(--nr0qibm);
}
._1r6tf5u8 {
  --_1r6tf5u0: var(--nr0qibn);
}
._1r6tf5u9 {
  --_1r6tf5u0: var(--nr0qibo);
}
._1r6tf5ua {
  --_1r6tf5u0: var(--nr0qibp);
}
._1r6tf5ub {
  --_1r6tf5u0: var(--nr0qibq);
}
._1r6tf5uc {
  --_1r6tf5u0: var(--nr0qibr);
}
._1r6tf5ud {
  align-items: flex-start;
}
._1r6tf5ue {
  align-items: center;
}
._1r6tf5uf {
  align-items: flex-end;
}
.iyqjh51 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--nr0qibl) * -1);
}
.iyqjh51::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--nr0qibb);
  box-shadow: var(--_11h9910p);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--nr0qibg);
}
.iyqjh51:focus::before, .iyqjh51:hover::before {
  opacity: 1;
  transform: scale(1);
}
.iyqjh54 {
  height: 20px;
  width: 20px;
}
.iyqjh56 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--nr0qibj) * 2));
  width: calc(20px - (var(--nr0qibj) * 2));
}
.iyqjh56::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--nr0qiba);
  box-shadow: var(--_11h9910p);
  transition: var(--nr0qibg);
  opacity: 0;
  transform: scale(0.5);
}
.iyqjh56::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--nr0qiba);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_11h9910j);
}
.iyqjh54:hover:not(:focus) ~ .iyqjh56::before, .iyqjh54:focus ~ .iyqjh56::before {
  opacity: 1;
  transform: scale(1);
}
.iyqjh56 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--nr0qibh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
.iyqjh54:checked ~ .iyqjh56 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--nr0qibh);
}
.iyqjh58 {
  color: var(--_11h99108);
  height: var(--nr0qibe);
  background: var(--_11h9910j);
  border: 1px solid var(--_11h9910n);
}
.iyqjh58::placeholder {
  color: var(--_11h99107);
}
._17uf8250 {
  transition: var(--nr0qibg);
  transform-origin: 50% 50%;
}
._17uf8251 {
  transform: rotate(90deg);
}
._17uf8252 {
  transform: rotate(180deg);
}
._17uf8253 {
  transform: rotate(270deg);
}
._1t8owi44 {
  min-width: 0;
}
._1t8owi45 {
  flex-shrink: 0;
}
._1t8owi49 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
._1t8owi47:focus:not(:hover) ~ ._1t8owi49 {
  opacity: 1;
}
.ieko601 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--nr0qibe);
  -webkit-tap-highlight-color: transparent;
}
.ieko604 {
  --ieko602: currentColor;
  color: var(--ieko602);
  border: 1px solid var(--_11h99107);
  height: calc(var(--nr0qib8) * 9);
}
.ieko604:hover {
  --ieko602: var(--_11h9910c);
  border-color: var(--ieko602);
}
.ieko604:active {
  transform: scale(0.98);
}
.ieko604::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--nr0qibe);
  min-width: var(--nr0qibe);
  left: calc((var(--nr0qib8) * 2) * -1);
  right: calc((var(--nr0qib8) * 2) * -1);
  height: 100%;
  top: 50%;
}
.ieko604:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_11h9910p);
}
.ieko605 {
  --ieko602: var(--_11h9910d) !important;
  border-color: var(--ieko602);
}
.ieko607 {
  top: 1px;
}
.a8ehtr1 {
  color: var(--_11h99108);
  height: var(--nr0qibe);
  background: var(--_11h9910j);
}
.a8ehtr1:focus {
  outline: none;
}
.a8ehtr1::placeholder {
  color: var(--_11h99107);
}
._1j1tbhs5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_11h9910j);
  -webkit-tap-highlight-color: transparent;
}
._1j1tbhs5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_11h9910l);
  opacity: 0;
  transition: var(--nr0qibf);
  pointer-events: none;
}
._1j1tbhs5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--nr0qibf);
}
._1j1tbhs5._1j1tbhs0 {
  color: var(--_11h9910d);
}
._1j1tbhs5:not(._1j1tbhs1) {
  cursor: pointer;
}
._1j1tbhs5._1j1tbhs1 {
  color: var(--_11h99107);
}
._1j1tbhs5._1j1tbhs2,._1j1tbhs5._1j1tbhs3:not(._1j1tbhs0):not(._1j1tbhs1),html:not([data-playroom-dark]) ._1j1tbhs5:hover:not(._1j1tbhs0):not(._1j1tbhs1) {
  color: var(--_11h9910c);
}
._1j1tbhs5:not(._1j1tbhs0):not(:hover):focus::before {
  color: var(--_11h99108);
}
._1j1tbhs5:not(._1j1tbhs0):not(._1j1tbhs1):focus::before,._1j1tbhs5:not(._1j1tbhs0):not(._1j1tbhs1):hover::before {
  opacity: 1;
}
._1j1tbhs5:not(._1j1tbhs3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1j1tbhs8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_11h9910f);
  border: 2px solid var(--_11h9910j);
}
._1j1tbhs8:not(._1j1tbhs6) {
  transform: scale(0);
  opacity: 0;
}
._1j1tbhsa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_11h9910d);
  border: 2px solid var(--_11h9910j);
}
._1j1tbhsa:not(._1j1tbhs6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1j1tbhsa svg {
  color: var(--_11h99109);
}
._12jjdu02 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_11h9910n);
}
._12jjdu04 {
  top: 60px;
}
._12jjdu06 {
  color: var(--_11h99108);
  background-color: var(--_11h9910j);
}
._12jjdu06::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_11h9910l);
  border-radius: var(--nr0qiba);
  opacity: 0;
  transition: var(--nr0qibf);
  pointer-events: none;
}
._12jjdu08 {
  color: var(--_11h9910a);
}
._12jjdu09 {
  color: var(--_11h9910c);
}
._12jjdu09::before {
  opacity: 1;
}
._1ubzuhv2 {
  color: var(--_11h99108);
  min-width: calc(60px + 1px);
}
._1ubzuhv2._1ubzuhv0 {
  width: 100vw;
}
._1ubzuhv6 {
  width: 60px;
  background-color: var(--_11h9910j);
  border-left: 1px solid var(--_11h9910n);
}
._1ubzuhv8 {
  width: 320px;
  background-color: var(--_11h9910j);
  border-left: 1px solid var(--_11h9910n);
}
._1ubzuhv9 {
  opacity: 0;
  transform: translateX(30%);
}
._1ubzuhvb {
  opacity: 1;
  transform: translateX(0);
}
._1ubzuhvc {
  opacity: 1;
  transform: translateX(0);
}
._1ubzuhvd {
  opacity: 1;
}
._1ubzuhvf {
  opacity: 0;
  transform: translateX(30%);
}
._1ubzuhvg {
  opacity: 0;
  transform: translateX(30%);
}
._1wa6jrk2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
._1wa6jrk4 {
  display: inline-block;
  background: var(--_11h9910i);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1wa6jrk6 {
  height: var(--nr0qibe);
  width: var(--nr0qibe);
}
._1wa6jrk8 {
  height: var(--nr0qibe);
  width: var(--nr0qibe);
}
._1wa6jrk8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_11h9910l);
  border-radius: var(--nr0qibb);
  transition: var(--nr0qibg);
  opacity: 0;
  transform: scale(0.8);
}
._1wa6jrk6:checked ~ ._1wa6jrk8,html:not([data-playroom-dark]) ._1wa6jrk6:hover ~ ._1wa6jrk8 {
  color: var(--_11h9910c);
}
._1wa6jrk6:focus ~ ._1wa6jrk8::before, ._1wa6jrk6:hover ~ ._1wa6jrk8::before {
  opacity: 1;
  transform: scale(1);
}
.hjlrbd5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--nr0qib8) * 5);
  height: calc(var(--nr0qib8) * 8);
  max-width: calc((100vw - 60px) - (var(--nr0qibd) * 2));
}
.hjlrbd5.hjlrbd0 {
  padding-right: calc((15px * 2) + 16px);
}
.hjlrbd5:not(.hjlrbd1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.hjlrbd5.hjlrbd2 {
  background-color: var(--_11h9910g);
}
.hjlrbd5.hjlrbd3 {
  background-color: var(--_11h9910h);
}
.hjlrbd7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.hjlrbd7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{word-wrap:normal;-webkit-tap-highlight-color:transparent;background:transparent;border-radius:0;border-width:0;color:inherit;font-family:inherit;font-size:inherit;font-variant-ligatures:contextual;line-height:inherit;margin:0;overflow:visible;position:relative;white-space:pre;z-index:2}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _13yh5px1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._13yh5px0 {
  background-color: var(--_11h9910l);
}
._13yh5px3 {
  background-color: var(--_11h9910h);
  color: var(--_11h9910b);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _13yh5px1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._13yh5px3:hover {
  cursor: help;
}
._13yh5px4 {
  width: 1em;
  padding: 0 8px;
}
._13yh5px6::after {
  content: "-";
}
._13yh5px8::after {
  content: "+";
  color: var(--_11h9910c);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_11h9910j);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--nr0qib1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--nr0qibd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_11h9910o);
  border-radius: var(--nr0qiba);
  background-color: var(--_11h9910j);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--nr0qib1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_11h9910i);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--nr0qib9);
  white-space: pre;
  color: var(--_11h99100);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_11h9910f);
  color: var(--_11h99109);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_11h9910c);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--nr0qib8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_11h9910j);
  color: var(--_11h99100);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_11h99108);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_11h9910j);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_11h9910j);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_11h9910j);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_11h9910l);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_11h99108);
  transition: var(--nr0qibh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._13yh5px8) {
  color: var(--_11h99107);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_11h99108);
  transition: var(--nr0qibh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_11h99107);
}
.cm-s-neo .cm-tag {
  color: var(--_11h99101);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_11h99102);
}
.cm-s-neo .cm-string {
  color: var(--_11h99103);
}
.cm-s-neo .cm-atom {
  color: var(--_11h99104);
}
.cm-s-neo .cm-variable {
  color: var(--_11h99105);
}
.cm-s-neo .cm-number {
  color: var(--_11h99106);
}
.CodeMirror-dialog {
  padding-left: var(--nr0qibo);
  padding-right: var(--nr0qibo);
  min-height: 60px;
  border-bottom: 1px solid var(--_11h9910n);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_13yh5px9));
  transition: var(--nr0qibh);
}
.dialog-opened .CodeMirror-scroll {
  --_13yh5px9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_13yh5px9);
}
.CodeMirror-dialog input {
  font: var(--nr0qib5);
  font-family: var(--nr0qib1);
  height: var(--nr0qibe);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--nr0qibe);
  font: var(--nr0qib5);
  font-family: var(--nr0qib1);
}
.CodeMirror-search-field {
  padding-left: var(--nr0qibo);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_11h9910m);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_11h9910l);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--nr0qibo);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--nr0qib4);
  font-family: var(--nr0qib0);
  margin-left: var(--nr0qibl);
  padding-top: var(--nr0qibl);
  padding-bottom: var(--nr0qibl);
  padding-left: var(--nr0qibn);
  padding-right: var(--nr0qibn);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--nr0qibb);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_11h9910c);
  box-shadow: var(--_11h9910p);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_11h9910l);
}
.CodeMirror-dialog button:hover {
  background: var(--_11h9910e);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_11h9910k);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.jikxnq3 {
  position: absolute !important;
}
.jikxnq6 {
  max-width: 90vw;
}
.jikxnq6.jikxnq4 {
  transform: translateX(100%);
}
.jikxnq8 {
  max-height: 90vh;
}
.jikxnq8.jikxnq4 {
  transform: translateY(100%);
}
.jikxnqb.jikxnq9 {
  width: 60px;
}
.jikxnqd {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--nr0qibe);
  height: var(--nr0qibe);
}
.jikxnqd::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--nr0qibb);
  transition: var(--nr0qibf);
}
.jikxnqd:not(:hover):not(:focus) {
  opacity: 0.3;
}
.jikxnqd:hover::before, .jikxnqd:focus::before {
  opacity: 0.05;
}
.jikxnqf {
  right: 60px;
}
