.s47olw1 {
  overflow-x: auto;
  overflow-y: hidden;
}
.s47olw1::before {
  content: "";
  flex: 1;
}
.s47olw1::after {
  content: "";
  flex: 1;
}
.s47olw5 {
  flex-grow: 1;
}
.s47olw7:not(:hover) {
  opacity: 0.8;
}
.s47olw9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.s47olw3:not(:hover) .s47olw9 {
  opacity: 0.3;
}
._4n3oi81 {
  color: var(--_1397jf1z);
  font-family: var(--_1397jf10);
}
._4n3oi82 {
  font-size: 36px;
}
._4n3oi83 {
  font-size: 24px;
}
._4n3oi84 {
  font-size: 16px;
}
._8q7lso2 {
  border-top: 1px solid var(--_1397jf11e);
}
.lywmh11:not(:last-child) {
  padding-bottom: var(--lywmh10);
}
.lywmh12 {
  --lywmh10: var(--_1397jf1i);
}
.lywmh13 {
  --lywmh10: var(--_1397jf1j);
}
.lywmh14 {
  --lywmh10: var(--_1397jf1k);
}
.lywmh15 {
  --lywmh10: var(--_1397jf1l);
}
.lywmh16 {
  --lywmh10: var(--_1397jf1m);
}
.lywmh17 {
  --lywmh10: var(--_1397jf1n);
}
.lywmh18 {
  --lywmh10: var(--_1397jf1o);
}
.lywmh19 {
  --lywmh10: var(--_1397jf1p);
}
.lywmh1a {
  --lywmh10: var(--_1397jf1q);
}
._1nzpgf12 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_1397jf1l) * -1);
}
._1nzpgf12::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1397jf1b);
  box-shadow: var(--_1397jf11g);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_1397jf1g);
}
._1nzpgf12:focus::before, ._1nzpgf12:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1nzpgf14 {
  height: calc(var(--_1397jf18) * 9);
}
._1nzpgf16 {
  height: 20px;
  width: 20px;
}
._1nzpgf18 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_1397jf1j) * 2));
  width: calc(20px - (var(--_1397jf1j) * 2));
}
._1nzpgf18::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1397jf1a);
  box-shadow: var(--_1397jf11g);
  transition: var(--_1397jf1g);
  opacity: 0;
  transform: scale(0.5);
}
._1nzpgf18::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_1397jf1a);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_1397jf11a);
}
._1nzpgf16:hover:not(:focus) ~ ._1nzpgf18::before, ._1nzpgf16:focus ~ ._1nzpgf18::before {
  opacity: 1;
  transform: scale(1);
}
._1nzpgf18 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_1397jf1h);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1nzpgf16:checked ~ ._1nzpgf18 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_1397jf1h);
}
._1nzpgf1a {
  color: var(--_1397jf1z);
  height: var(--_1397jf1e);
  background: var(--_1397jf11a);
  border: 1px solid var(--_1397jf11e);
}
._1nzpgf1a::placeholder {
  color: var(--_1397jf1y);
}
._10ehjiu0 {
  transition: var(--_1397jf1g);
  transform-origin: 50% 50%;
}
._10ehjiu1 {
  transform: rotate(90deg);
}
._10ehjiu2 {
  transform: rotate(180deg);
}
._10ehjiu3 {
  transform: rotate(270deg);
}
.fbs9ou4 {
  min-width: 0;
}
.fbs9ou5 {
  flex-shrink: 0;
}
.fbs9ou9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.fbs9ou7:focus:not(:hover) ~ .fbs9ou9 {
  opacity: 1;
}
._1873j791 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_1397jf1e);
  -webkit-tap-highlight-color: transparent;
}
._1873j794 {
  --_1873j792: currentColor;
  color: var(--_1873j792);
  border: 1px solid var(--_1397jf1y);
  height: calc(var(--_1397jf18) * 9);
}
._1873j794:hover {
  --_1873j792: var(--_1397jf113);
  border-color: var(--_1873j792);
}
._1873j794:active {
  transform: scale(0.98);
}
._1873j794::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_1397jf1e);
  min-width: var(--_1397jf1e);
  left: calc((var(--_1397jf18) * 2) * -1);
  right: calc((var(--_1397jf18) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1873j794:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_1397jf11g);
}
._1873j795 {
  --_1873j792: var(--_1397jf114) !important;
  border-color: var(--_1873j792);
}
._1873j797 {
  top: 1px;
}
._5w1cyd2 {
  margin-top: calc(var(--_5w1cyd0) * -1);
  margin-left: calc(var(--_5w1cyd0) * -1);
}
._5w1cyd3 {
  padding-top: var(--_5w1cyd0);
  padding-left: var(--_5w1cyd0);
}
._5w1cyd4 {
  --_5w1cyd0: var(--_1397jf18);
}
._5w1cyd5 {
  --_5w1cyd0: calc(var(--_1397jf18) * 2);
}
._5w1cyd6 {
  --_5w1cyd0: calc(var(--_1397jf18) * 3);
}
._5w1cyd7 {
  --_5w1cyd0: calc(var(--_1397jf18) * 4);
}
._5w1cyd8 {
  --_5w1cyd0: calc(var(--_1397jf18) * 5);
}
._5w1cyd9 {
  --_5w1cyd0: calc(var(--_1397jf18) * 6);
}
._1iz8wqn1 {
  color: var(--_1397jf1z);
  height: var(--_1397jf1e);
  background: var(--_1397jf11a);
}
._1iz8wqn1:focus {
  outline: none;
}
._1iz8wqn1::placeholder {
  color: var(--_1397jf1y);
}
._1tbv3ut5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_1397jf11a);
  -webkit-tap-highlight-color: transparent;
}
._1tbv3ut5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1397jf11c);
  opacity: 0;
  transition: var(--_1397jf1f);
  pointer-events: none;
}
._1tbv3ut5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_1397jf1f);
}
._1tbv3ut5._1tbv3ut0 {
  color: var(--_1397jf114);
}
._1tbv3ut5:not(._1tbv3ut1) {
  cursor: pointer;
}
._1tbv3ut5._1tbv3ut1 {
  color: var(--_1397jf1y);
}
._1tbv3ut5._1tbv3ut2,._1tbv3ut5._1tbv3ut3:not(._1tbv3ut0):not(._1tbv3ut1),html:not([data-playroom-dark]) ._1tbv3ut5:hover:not(._1tbv3ut0):not(._1tbv3ut1) {
  color: var(--_1397jf113);
}
._1tbv3ut5:not(._1tbv3ut0):not(:hover):focus::before {
  color: var(--_1397jf1z);
}
._1tbv3ut5:not(._1tbv3ut0):not(._1tbv3ut1):focus::before,._1tbv3ut5:not(._1tbv3ut0):not(._1tbv3ut1):hover::before {
  opacity: 1;
}
._1tbv3ut5:not(._1tbv3ut3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1tbv3ut8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_1397jf116);
  border: 2px solid var(--_1397jf11a);
}
._1tbv3ut8:not(._1tbv3ut6) {
  transform: scale(0);
  opacity: 0;
}
._1tbv3uta {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_1397jf114);
  border: 2px solid var(--_1397jf11a);
}
._1tbv3uta:not(._1tbv3ut6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1tbv3uta svg {
  color: var(--_1397jf110);
}
._72pm0o2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_1397jf11e);
}
._72pm0o4 {
  top: 60px;
}
._72pm0o6 {
  color: var(--_1397jf1z);
  background-color: var(--_1397jf11a);
}
._72pm0o6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1397jf11c);
  border-radius: var(--_1397jf1a);
  opacity: 0;
  transition: var(--_1397jf1f);
  pointer-events: none;
}
._72pm0o8 {
  color: var(--_1397jf111);
}
._72pm0o9 {
  color: var(--_1397jf113);
}
._72pm0o9::before {
  opacity: 1;
}
._1r96uri2 {
  color: var(--_1397jf1z);
  min-width: calc(60px + 1px);
}
._1r96uri2._1r96uri0 {
  width: 100vw;
}
._1r96uri8 {
  bottom: 60px;
}
._1r96uri8:not(._1r96uri6) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
._1r96uria {
  width: 60px;
  background-color: var(--_1397jf11a);
  border-left: 1px solid var(--_1397jf11e);
}
._1r96uric {
  width: 320px;
  background-color: var(--_1397jf11a);
  border-left: 1px solid var(--_1397jf11e);
}
._1r96uri2:not(._1r96uri0) ._1r96uric {
  transform: translateX(calc(320px * 0.3));
  opacity: 0;
  pointer-events: none;
}
.ysji7x2 {
  display: flex;
  align-items: center;
}
.ysji7x2 > *:first-child {
  flex: 1;
}
.ysji7x2 > *:nth-child(2) {
  flex: 0 0 43%;
}
.ysji7x4 {
  display: inline-block;
  background: var(--_1397jf119);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
.ysji7x6 {
  height: var(--_1397jf1e);
  width: var(--_1397jf1e);
}
.ysji7x9 {
  height: var(--_1397jf1e);
  width: var(--_1397jf1e);
}
.ysji7x9::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_1397jf11c);
  border-radius: var(--_1397jf1b);
  transition: var(--_1397jf1g);
  opacity: 0;
  transform: scale(0.8);
}
.ysji7x6:checked ~ .ysji7x9,html:not([data-playroom-dark]) .ysji7x6:hover ~ .ysji7x9 {
  color: var(--_1397jf113);
}
.ysji7x6:focus ~ .ysji7x9::before, .ysji7x6:hover ~ .ysji7x9::before {
  opacity: 1;
  transform: scale(1);
}
.w1onqm5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_1397jf18) * 5);
  height: calc(var(--_1397jf18) * 8);
  max-width: calc((100vw - 60px) - (var(--_1397jf1d) * 2));
}
.w1onqm5.w1onqm0 {
  padding-right: calc((15px * 2) + 16px);
}
.w1onqm5:not(.w1onqm1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
.w1onqm5.w1onqm2 {
  background-color: var(--_1397jf117);
}
.w1onqm5.w1onqm3 {
  background-color: var(--_1397jf118);
}
.w1onqm7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
.w1onqm7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{word-wrap:normal;-webkit-tap-highlight-color:transparent;background:transparent;border-radius:0;border-width:0;color:inherit;font-family:inherit;font-size:inherit;font-variant-ligatures:contextual;line-height:inherit;margin:0;overflow:visible;position:relative;white-space:pre;z-index:2}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.CodeMirror-dialog{background:inherit;color:inherit;left:0;overflow:hidden;padding:.1em .8em;position:absolute;right:0;z-index:15}.CodeMirror-dialog-top{border-bottom:1px solid #eee;top:0}.CodeMirror-dialog-bottom{border-top:1px solid #eee;bottom:0}.CodeMirror-dialog input{background:transparent;border:none;color:inherit;font-family:monospace;outline:none;width:20em}.CodeMirror-dialog button{font-size:70%}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes _8bfrop1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._8bfrop0 {
  background-color: var(--_1397jf11c);
}
._8bfrop3 {
  background-color: var(--_1397jf118);
  color: var(--_1397jf112);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _8bfrop1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._8bfrop3:hover {
  cursor: help;
}
._8bfrop4 {
  width: 1em;
  padding: 0 8px;
}
._8bfrop6::after {
  content: "-";
}
._8bfrop8::after {
  content: "+";
  color: var(--_1397jf113);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_1397jf11a);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_1397jf11);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_1397jf1d);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_1397jf11f);
  border-radius: var(--_1397jf1a);
  background-color: var(--_1397jf11a);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_1397jf11);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_1397jf119);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_1397jf19);
  white-space: pre;
  color: var(--_1397jf1r);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_1397jf116);
  color: var(--_1397jf110);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_1397jf113);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_1397jf18);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_1397jf11a);
  color: var(--_1397jf1r);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_1397jf1z);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_1397jf11a);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_1397jf11a);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_1397jf11a);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_1397jf11c);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_1397jf1z);
  transition: var(--_1397jf1h);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._8bfrop8) {
  color: var(--_1397jf1y);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_1397jf1z);
  transition: var(--_1397jf1h);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_1397jf1y);
}
.cm-s-neo .cm-tag {
  color: var(--_1397jf1s);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_1397jf1t);
}
.cm-s-neo .cm-string {
  color: var(--_1397jf1u);
}
.cm-s-neo .cm-atom {
  color: var(--_1397jf1v);
}
.cm-s-neo .cm-variable {
  color: var(--_1397jf1w);
}
.cm-s-neo .cm-number {
  color: var(--_1397jf1x);
}
.CodeMirror-dialog {
  padding-left: var(--_1397jf1n);
  padding-right: var(--_1397jf1n);
  min-height: 60px;
  border-bottom: 1px solid var(--_1397jf11e);
  display: flex;
  align-items: center;
}
.CodeMirror-scroll {
  transform: translateY(var(--_8bfrop9));
  transition: var(--_1397jf1h);
}
.dialog-opened .CodeMirror-scroll {
  --_8bfrop9: 60px;
}
.dialog-opened .CodeMirror-lines {
  padding-bottom: var(--_8bfrop9);
}
.CodeMirror-dialog input {
  font: var(--_1397jf15);
  font-family: var(--_1397jf11);
  height: var(--_1397jf1e);
  flex-grow: 1;
}
.CodeMirror-search-hint {
  display: none;
}
.CodeMirror-search-label {
  display: flex;
  align-items: center;
  min-height: var(--_1397jf1e);
  font: var(--_1397jf15);
  font-family: var(--_1397jf11);
}
.CodeMirror-search-field {
  padding-left: var(--_1397jf1n);
}
label.CodeMirror-search-label {
  flex-grow: 1;
}
.dialog-opened.cm-s-neo .CodeMirror-selected {
  background: var(--_1397jf11d);
}
.cm-overlay.cm-searching {
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--_1397jf11c);
}
.CodeMirror-dialog button:first-of-type {
  margin-left: var(--_1397jf1n);
}
.CodeMirror-dialog button {
  appearance: none;
  font: var(--_1397jf14);
  font-family: var(--_1397jf10);
  margin-left: var(--_1397jf1l);
  padding-top: var(--_1397jf1l);
  padding-bottom: var(--_1397jf1l);
  padding-left: var(--_1397jf1m);
  padding-right: var(--_1397jf1m);
  align-self: center;
  display: block;
  background: none;
  border-radius: var(--_1397jf1b);
  cursor: pointer;
  border: 1px solid currentColor;
}
.CodeMirror-dialog button:focus {
  color: var(--_1397jf113);
  box-shadow: var(--_1397jf11g);
  outline: none;
}
.CodeMirror-dialog button:focus:hover {
  background: var(--_1397jf11c);
}
.CodeMirror-dialog button:hover {
  background: var(--_1397jf115);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_1397jf11b);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
.qubr463 {
  position: absolute !important;
}
.qubr466 {
  max-width: 90vw;
}
.qubr466.qubr464 {
  transform: translateX(100%);
}
.qubr468 {
  max-height: 90vh;
}
.qubr468.qubr464 {
  transform: translateY(100%);
}
.qubr46b.qubr469 {
  width: 60px;
}
.qubr46d {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_1397jf1e);
  height: var(--_1397jf1e);
}
.qubr46d::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_1397jf1b);
  transition: var(--_1397jf1f);
}
.qubr46d:not(:hover):not(:focus) {
  opacity: 0.3;
}
.qubr46d:hover::before, .qubr46d:focus::before {
  opacity: 0.05;
}
.qubr46f {
  right: 60px;
}
