.hf9kd91 {
  overflow-x: auto;
  overflow-y: hidden;
}
.hf9kd91::before {
  content: "";
  flex: 1;
}
.hf9kd91::after {
  content: "";
  flex: 1;
}
.hf9kd95 {
  flex-grow: 1;
}
.hf9kd97:not(:hover) {
  opacity: 0.8;
}
.hf9kd99 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
.hf9kd93:not(:hover) .hf9kd99 {
  opacity: 0.3;
}
.e14kkr1 {
  color: var(--wzkgkvy);
  font-family: var(--wzkgkv0);
}
.e14kkr2 {
  font-size: 36px;
}
.e14kkr3 {
  font-size: 24px;
}
.e14kkr4 {
  font-size: 16px;
}
._1u873b12 {
  border-top: 1px solid var(--wzkgkv1c);
}
._1g05dsg1:not(:last-child) {
  padding-bottom: var(--_1g05dsg0);
}
._1g05dsg2 {
  --_1g05dsg0: var(--wzkgkv8);
}
._1g05dsg3 {
  --_1g05dsg0: calc(var(--wzkgkv8) * 2);
}
._1g05dsg4 {
  --_1g05dsg0: calc(var(--wzkgkv8) * 3);
}
._1g05dsg5 {
  --_1g05dsg0: calc(var(--wzkgkv8) * 4);
}
._1g05dsg6 {
  --_1g05dsg0: calc(var(--wzkgkv8) * 6);
}
._1g05dsg7 {
  --_1g05dsg0: calc(var(--wzkgkv8) * 12);
}
._1ojc6o92 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--wzkgkvl) * -1);
}
._1ojc6o92::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--wzkgkvb);
  box-shadow: var(--wzkgkv1e);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--wzkgkvg);
}
._1ojc6o92:focus::before, ._1ojc6o92:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1ojc6o94 {
  height: calc(var(--wzkgkv8) * 9);
}
._1ojc6o96 {
  height: 20px;
  width: 20px;
}
._1ojc6o98 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--wzkgkvj) * 2));
  width: calc(20px - (var(--wzkgkvj) * 2));
}
._1ojc6o98::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--wzkgkva);
  box-shadow: var(--wzkgkv1e);
  transition: var(--wzkgkvg);
  opacity: 0;
  transform: scale(0.5);
}
._1ojc6o98::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--wzkgkva);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--wzkgkv19);
}
._1ojc6o96:hover:not(:focus) ~ ._1ojc6o98::before, ._1ojc6o96:focus ~ ._1ojc6o98::before {
  opacity: 1;
  transform: scale(1);
}
._1ojc6o98 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--wzkgkvh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1ojc6o96:checked ~ ._1ojc6o98 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--wzkgkvh);
}
._171fts10 {
  transition: var(--wzkgkvg);
  transform-origin: 50% 50%;
}
._171fts11 {
  transform: rotate(90deg);
}
._171fts12 {
  transform: rotate(180deg);
}
._171fts13 {
  transform: rotate(270deg);
}
.tltzhm4 {
  min-width: 0;
}
.tltzhm5 {
  flex-shrink: 0;
}
.tltzhm9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.tltzhm7:focus:not(:hover) ~ .tltzhm9 {
  opacity: 1;
}
._1n1r4xk1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--wzkgkve);
  -webkit-tap-highlight-color: transparent;
}
._1n1r4xk4 {
  --_1n1r4xk2: currentColor;
  color: var(--_1n1r4xk2);
  border: 1px solid var(--wzkgkvx);
  height: calc(var(--wzkgkv8) * 9);
}
._1n1r4xk4:hover {
  --_1n1r4xk2: var(--wzkgkv12);
  border-color: var(--_1n1r4xk2);
}
._1n1r4xk4:active {
  transform: scale(0.98);
}
._1n1r4xk4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--wzkgkve);
  min-width: var(--wzkgkve);
  left: calc((var(--wzkgkv8) * 2) * -1);
  right: calc((var(--wzkgkv8) * 2) * -1);
  height: 100%;
  top: 50%;
}
._1n1r4xk4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--wzkgkv1e);
}
._1n1r4xk5 {
  --_1n1r4xk2: var(--wzkgkv13) !important;
  border-color: var(--_1n1r4xk2);
}
._1n1r4xk7 {
  top: 1px;
}
.hg0lsy2 {
  margin-top: calc(var(--hg0lsy0) * -1);
  margin-left: calc(var(--hg0lsy0) * -1);
}
.hg0lsy3 {
  padding-top: var(--hg0lsy0);
  padding-left: var(--hg0lsy0);
}
.hg0lsy4 {
  --hg0lsy0: var(--wzkgkv8);
}
.hg0lsy5 {
  --hg0lsy0: calc(var(--wzkgkv8) * 2);
}
.hg0lsy6 {
  --hg0lsy0: calc(var(--wzkgkv8) * 3);
}
.hg0lsy7 {
  --hg0lsy0: calc(var(--wzkgkv8) * 4);
}
.hg0lsy8 {
  --hg0lsy0: calc(var(--wzkgkv8) * 5);
}
.hg0lsy9 {
  --hg0lsy0: calc(var(--wzkgkv8) * 6);
}
._1uzjnwi1 {
  color: var(--wzkgkvy);
  height: var(--wzkgkve);
  background: var(--wzkgkv19);
}
._1uzjnwi1:focus {
  outline: none;
}
._1uzjnwi1::placeholder {
  color: var(--wzkgkvx);
}
._1f6pe7u5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--wzkgkv19);
  -webkit-tap-highlight-color: transparent;
}
._1f6pe7u5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--wzkgkv1b);
  opacity: 0;
  transition: var(--wzkgkvf);
  pointer-events: none;
}
._1f6pe7u5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--wzkgkvf);
}
._1f6pe7u5._1f6pe7u0 {
  color: var(--wzkgkv13);
}
._1f6pe7u5:not(._1f6pe7u1) {
  cursor: pointer;
}
._1f6pe7u5._1f6pe7u1 {
  color: var(--wzkgkvx);
}
._1f6pe7u5._1f6pe7u2,._1f6pe7u5._1f6pe7u3:not(._1f6pe7u0):not(._1f6pe7u1),html:not([data-playroom-dark]) ._1f6pe7u5:hover:not(._1f6pe7u0):not(._1f6pe7u1) {
  color: var(--wzkgkv12);
}
._1f6pe7u5:not(._1f6pe7u0):not(:hover):focus::before {
  color: var(--wzkgkvy);
}
._1f6pe7u5:not(._1f6pe7u0):not(._1f6pe7u1):focus::before,._1f6pe7u5:not(._1f6pe7u0):not(._1f6pe7u1):hover::before {
  opacity: 1;
}
._1f6pe7u5:not(._1f6pe7u3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._1f6pe7u8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--wzkgkv15);
  border: 2px solid var(--wzkgkv19);
}
._1f6pe7u8:not(._1f6pe7u6) {
  transform: scale(0);
  opacity: 0;
}
._1f6pe7ua {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--wzkgkv13);
  border: 2px solid var(--wzkgkv19);
}
._1f6pe7ua:not(._1f6pe7u6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._1f6pe7ua svg {
  color: var(--wzkgkvz);
}
.lhtfyd2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--wzkgkv1c);
}
.lhtfyd4 {
  top: 60px;
}
.lhtfyd6 {
  color: var(--wzkgkvy);
  background-color: var(--wzkgkv19);
}
.lhtfyd6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--wzkgkv1b);
  border-radius: var(--wzkgkva);
  opacity: 0;
  transition: var(--wzkgkvf);
  pointer-events: none;
}
.lhtfyd8 {
  color: var(--wzkgkv10);
}
.lhtfyd9 {
  color: var(--wzkgkv12);
}
.lhtfyd9::before {
  opacity: 1;
}
._1fwnw6a2 {
  color: var(--wzkgkvy);
  min-width: calc(60px + 1px);
}
._1fwnw6a2._1fwnw6a0 {
  width: 100vw;
}
._1fwnw6a8 {
  bottom: 60px;
}
._1fwnw6a8:not(._1fwnw6a6) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
._1fwnw6aa {
  width: 60px;
  background-color: var(--wzkgkv19);
  border-left: 1px solid var(--wzkgkv1c);
}
._1fwnw6ac {
  width: 320px;
  background-color: var(--wzkgkv19);
  border-left: 1px solid var(--wzkgkv1c);
}
._1fwnw6a2:not(._1fwnw6a0) ._1fwnw6ac {
  transform: translateX(calc(320px * 0.3));
  opacity: 0;
  pointer-events: none;
}
._1viemi82 {
  display: flex;
  align-items: center;
}
._1viemi82 > *:first-child {
  flex: 1;
}
._1viemi82 > *:nth-child(2) {
  flex: 0 0 43%;
}
._1viemi84 {
  display: inline-block;
  background: var(--wzkgkv18);
  padding-left: 8px;
  padding-right: 8px;
  font-family: system-ui;
  min-width: 16px;
}
._1viemi86 {
  height: var(--wzkgkve);
  width: var(--wzkgkve);
}
._1viemi89 {
  height: var(--wzkgkve);
  width: var(--wzkgkve);
}
._1viemi89::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--wzkgkv1b);
  border-radius: var(--wzkgkvb);
  transition: var(--wzkgkvg);
  opacity: 0;
  transform: scale(0.8);
}
._1viemi86:checked ~ ._1viemi89,html:not([data-playroom-dark]) ._1viemi86:hover ~ ._1viemi89 {
  color: var(--wzkgkv12);
}
._1viemi86:focus ~ ._1viemi89::before, ._1viemi86:hover ~ ._1viemi89::before {
  opacity: 1;
  transform: scale(1);
}
._1i0d8hz5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--wzkgkv8) * 5);
  height: calc(var(--wzkgkv8) * 8);
  max-width: calc((100vw - 60px) - (var(--wzkgkvd) * 2));
}
._1i0d8hz5._1i0d8hz0 {
  padding-right: calc((15px * 2) + 16px);
}
._1i0d8hz5:not(._1i0d8hz1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._1i0d8hz5._1i0d8hz2 {
  background-color: var(--wzkgkv16);
}
._1i0d8hz5._1i0d8hz3 {
  background-color: var(--wzkgkv17);
}
._1i0d8hz7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._1i0d8hz7:not(:hover) {
  opacity: 0.4;
}
.CodeMirror{color:#000;direction:ltr;font-family:monospace;height:300px}.CodeMirror-lines{padding:4px 0}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{padding:0 4px}.CodeMirror-gutter-filler,.CodeMirror-scrollbar-filler{background-color:#fff}.CodeMirror-gutters{background-color:#f7f7f7;border-right:1px solid #ddd;white-space:nowrap}.CodeMirror-linenumber{color:#999;min-width:20px;padding:0 3px 0 5px;text-align:right;white-space:nowrap}.CodeMirror-guttermarker{color:#000}.CodeMirror-guttermarker-subtle{color:#999}.CodeMirror-cursor{border-left:1px solid #000;border-right:none;width:0}.CodeMirror div.CodeMirror-secondarycursor{border-left:1px solid silver}.cm-fat-cursor .CodeMirror-cursor{background:#7e7;border:0!important;width:auto}.cm-fat-cursor div.CodeMirror-cursors{z-index:1}.cm-fat-cursor .CodeMirror-line::selection,.cm-fat-cursor .CodeMirror-line>span::selection,.cm-fat-cursor .CodeMirror-line>span>span::selection{background:transparent}.cm-fat-cursor .CodeMirror-line::-moz-selection,.cm-fat-cursor .CodeMirror-line>span::-moz-selection,.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection{background:transparent}.cm-fat-cursor{caret-color:transparent}@keyframes blink{50%{background-color:transparent}}.cm-tab{display:inline-block;text-decoration:inherit}.CodeMirror-rulers{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:-50px}.CodeMirror-ruler{border-left:1px solid #ccc;bottom:0;position:absolute;top:0}.cm-s-default .cm-header{color:blue}.cm-s-default .cm-quote{color:#090}.cm-negative{color:#d44}.cm-positive{color:#292}.cm-header,.cm-strong{font-weight:700}.cm-em{font-style:italic}.cm-link{text-decoration:underline}.cm-strikethrough{text-decoration:line-through}.cm-s-default .cm-keyword{color:#708}.cm-s-default .cm-atom{color:#219}.cm-s-default .cm-number{color:#164}.cm-s-default .cm-def{color:#00f}.cm-s-default .cm-variable-2{color:#05a}.cm-s-default .cm-type,.cm-s-default .cm-variable-3{color:#085}.cm-s-default .cm-comment{color:#a50}.cm-s-default .cm-string{color:#a11}.cm-s-default .cm-string-2{color:#f50}.cm-s-default .cm-meta,.cm-s-default .cm-qualifier{color:#555}.cm-s-default .cm-builtin{color:#30a}.cm-s-default .cm-bracket{color:#997}.cm-s-default .cm-tag{color:#170}.cm-s-default .cm-attribute{color:#00c}.cm-s-default .cm-hr{color:#999}.cm-s-default .cm-link{color:#00c}.cm-invalidchar,.cm-s-default .cm-error{color:red}.CodeMirror-composing{border-bottom:2px solid}div.CodeMirror span.CodeMirror-matchingbracket{color:#0b0}div.CodeMirror span.CodeMirror-nonmatchingbracket{color:#a22}.CodeMirror-matchingtag{background:rgba(255,150,0,.3)}.CodeMirror-activeline-background{background:#e8f2ff}.CodeMirror{background:#fff;overflow:hidden;position:relative}.CodeMirror-scroll{height:100%;margin-bottom:-50px;margin-right:-50px;outline:none;overflow:scroll!important;padding-bottom:50px;position:relative;z-index:0}.CodeMirror-sizer{border-right:50px solid transparent;position:relative}.CodeMirror-gutter-filler,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-vscrollbar{display:none;outline:none;position:absolute;z-index:6}.CodeMirror-vscrollbar{overflow-x:hidden;overflow-y:scroll;right:0;top:0}.CodeMirror-hscrollbar{bottom:0;left:0;overflow-x:scroll;overflow-y:hidden}.CodeMirror-scrollbar-filler{bottom:0;right:0}.CodeMirror-gutter-filler{bottom:0;left:0}.CodeMirror-gutters{left:0;min-height:100%;position:absolute;top:0;z-index:3}.CodeMirror-gutter{display:inline-block;height:100%;margin-bottom:-50px;vertical-align:top;white-space:normal}.CodeMirror-gutter-wrapper{background:none!important;border:none!important;position:absolute;z-index:4}.CodeMirror-gutter-background{bottom:0;position:absolute;top:0;z-index:4}.CodeMirror-gutter-elt{cursor:default;position:absolute;z-index:4}.CodeMirror-gutter-wrapper ::selection{background-color:transparent}.CodeMirror-gutter-wrapper ::-moz-selection{background-color:transparent}.CodeMirror-lines{cursor:text;min-height:1px}.CodeMirror pre.CodeMirror-line,.CodeMirror pre.CodeMirror-line-like{word-wrap:normal;-webkit-tap-highlight-color:transparent;background:transparent;border-radius:0;border-width:0;color:inherit;font-family:inherit;font-size:inherit;font-variant-ligatures:contextual;line-height:inherit;margin:0;overflow:visible;position:relative;white-space:pre;z-index:2}.CodeMirror-wrap pre.CodeMirror-line,.CodeMirror-wrap pre.CodeMirror-line-like{word-wrap:break-word;white-space:pre-wrap;word-break:normal}.CodeMirror-linebackground{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.CodeMirror-linewidget{padding:.1px;position:relative;z-index:2}.CodeMirror-rtl pre{direction:rtl}.CodeMirror-code{outline:none}.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber,.CodeMirror-scroll,.CodeMirror-sizer{box-sizing:content-box}.CodeMirror-measure{height:0;overflow:hidden;position:absolute;visibility:hidden;width:100%}.CodeMirror-cursor{pointer-events:none;position:absolute}.CodeMirror-measure pre{position:static}div.CodeMirror-cursors{position:relative;visibility:hidden;z-index:3}.CodeMirror-focused div.CodeMirror-cursors,div.CodeMirror-dragcursors{visibility:visible}.CodeMirror-selected{background:#d9d9d9}.CodeMirror-focused .CodeMirror-selected{background:#d7d4f0}.CodeMirror-crosshair{cursor:crosshair}.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{background:#d7d4f0}.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{background:#d7d4f0}.cm-searching{background-color:#ffa;background-color:rgba(255,255,0,.4)}.cm-force-border{padding-right:.1px}@media print{.CodeMirror div.CodeMirror-cursors{visibility:hidden}}.cm-tab-wrap-hack:after{content:""}span.CodeMirror-selectedtext{background:none}
.cm-s-neo.CodeMirror{background-color:#fff;color:#2e383c;line-height:1.4375}.cm-s-neo .cm-comment{color:#75787b}.cm-s-neo .cm-keyword,.cm-s-neo .cm-property{color:#1d75b3}.cm-s-neo .cm-atom,.cm-s-neo .cm-number{color:#75438a}.cm-s-neo .cm-node,.cm-s-neo .cm-tag{color:#9c3328}.cm-s-neo .cm-string{color:#b35e14}.cm-s-neo .cm-qualifier,.cm-s-neo .cm-variable{color:#047d65}.cm-s-neo pre{padding:0}.cm-s-neo .CodeMirror-gutters{background-color:transparent;border:none;border-right:10px solid transparent}.cm-s-neo .CodeMirror-linenumber{color:#e0e2e5;padding:0}.cm-s-neo .CodeMirror-guttermarker{color:#1d75b3}.cm-s-neo .CodeMirror-guttermarker-subtle{color:#e0e2e5}.cm-s-neo .CodeMirror-cursor{background:hsla(223,4%,62%,.37);border:0;width:auto;z-index:1}
@keyframes e830aw1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.e830aw0 {
  background-color: var(--wzkgkv1b);
}
.e830aw3 {
  background-color: var(--wzkgkv17);
  color: var(--wzkgkv11);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: e830aw1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.e830aw4 {
  width: 1em;
  padding: 0 8px;
}
.e830aw6::after {
  content: "-";
}
.e830aw8::after {
  content: "+";
  color: var(--wzkgkv12);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--wzkgkv19);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--wzkgkv1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--wzkgkvd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--wzkgkv1d);
  border-radius: var(--wzkgkva);
  background-color: var(--wzkgkv19);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--wzkgkv1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--wzkgkv18);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--wzkgkv9);
  white-space: pre;
  color: var(--wzkgkvq);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--wzkgkv15);
  color: var(--wzkgkvz);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--wzkgkv12);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--wzkgkv8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--wzkgkv19);
  color: var(--wzkgkvq);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--wzkgkvy);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--wzkgkv19);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--wzkgkv19);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--wzkgkv19);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--wzkgkv1b);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--wzkgkvy);
  transition: var(--wzkgkvh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(.e830aw8) {
  color: var(--wzkgkvx);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--wzkgkvy);
  transition: var(--wzkgkvh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--wzkgkvx);
}
.cm-s-neo .cm-tag {
  color: var(--wzkgkvr);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--wzkgkvs);
}
.cm-s-neo .cm-string {
  color: var(--wzkgkvt);
}
.cm-s-neo .cm-atom {
  color: var(--wzkgkvu);
}
.cm-s-neo .cm-variable {
  color: var(--wzkgkvv);
}
.cm-s-neo .cm-number {
  color: var(--wzkgkvw);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--wzkgkv1a);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._1gwg1893 {
  position: absolute !important;
}
._1gwg1896 {
  max-width: 90vw;
}
._1gwg1896._1gwg1894 {
  transform: translateX(100%);
}
._1gwg1898 {
  max-height: 90vh;
}
._1gwg1898._1gwg1894 {
  transform: translateY(100%);
}
._1gwg189b._1gwg1899 {
  width: 60px;
}
._1gwg189d {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--wzkgkve);
  height: var(--wzkgkve);
}
._1gwg189d::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--wzkgkvb);
  transition: var(--wzkgkvf);
}
._1gwg189d:not(:hover):not(:focus) {
  opacity: 0.3;
}
._1gwg189d:hover::before, ._1gwg189d:focus::before {
  opacity: 0.05;
}
._1gwg189f {
  right: 60px;
}
