.t2t85z1 {
  background-color: var(--_18249mim);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_18249mir);
}
.t2t85z2::before {
  content: "";
  position: absolute;
  min-height: var(--_1ebwo02c);
  min-width: var(--_1ebwo02c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1hd870p2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1hd870p4 {
  border: 1px solid var(--_18249mir);
  background-color: var(--_18249mil);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1hd870p4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_18249min);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1hd870p4:hover::after {
  opacity: 1;
}
._1hd870p4:focus-visible::after {
  opacity: 1;
}
._1hd870p4:active:not([disabled]) {
  transform: scale(0.97);
}
._1hd870p4:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: 0;
}
._1hd870p6 {
  isolation: isolate;
}
._1hd870p8 {
  height: var(--_1hd870p0);
}
._1hd870pa {
  border-color: var(--_18249mic);
}
._1hd870pa::after {
  background-color: var(--_18249mii);
}
._1hd870pb {
  border-color: var(--_18249mia);
}
._1hd870pb::after {
  background-color: var(--_18249mij);
}
._1hd870pc {
  --_1hd870p0: var(--_1ebwo02q);
}
._1hd870pd {
  --_1hd870p0: var(--_1ebwo02r);
}
._1hd870pe {
  --_1hd870p0: var(--_1ebwo02s);
}
._1f8nuzn1 {
  --_18249mi7: var(--_18249mid);
  background-color: var(--_18249mio);
  outline: 1px solid var(--_18249mit);
  outline-offset: -1px;
}
._17hisrc3 {
  background: transparent;
  outline: none;
  height: var(--_17hisrc0) !important;
  width: var(--_17hisrc0) !important;
}
._17hisrc6 {
  padding: var(--_17hisrc4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._17hisrc3:active ._17hisrc6 {
  transform: scale(.95);
}
._17hisrc3:focus-visible ._17hisrc6 {
  outline: 2px solid var(--_18249miu);
}
._17hisrc3[aria-disabled="true"] ._17hisrc6 {
  --_17hisrc1: var(--_18249mi9);
}
._17hisrc7 {
  --_17hisrc0: var(--_1ebwo02q);
  --_17hisrc4: var(--_1ebwo02i);
}
._17hisrc8 {
  --_17hisrc0: var(--_1ebwo02r);
  --_17hisrc4: var(--_1ebwo02j);
}
._17hisrc9 {
  --_17hisrc0: var(--_1ebwo02s);
  --_17hisrc4: var(--_1ebwo02j);
}
._17hisrcj {
  --_17hisrca: var(--_18249mi7);
  --_17hisrcb: var(--_18249mil);
  --_17hisrcc: var(--_18249min);
  --_17hisrcd: var(--_18249mi8);
  --_17hisrce: var(--_18249mig);
  --_17hisrcf: var(--_18249mih);
  --_17hisrcg: var(--_18249mi7);
  --_17hisrch: var(--_18249mi7);
  --_17hisrci: var(--_18249min);
}
._17hisrck {
  --_17hisrca: var(--_18249mib);
  --_17hisrcb: var(--_18249mil);
  --_17hisrcc: var(--_18249min);
  --_17hisrcd: var(--_18249mi8);
  --_17hisrce: var(--_18249mib);
  --_17hisrcf: var(--_18249mif);
  --_17hisrcg: var(--_18249mib);
  --_17hisrch: var(--_18249mi8);
  --_17hisrci: var(--_18249mie);
}
._17hisrcl {
  color: var(--_17hisrca);
  background-color: var(--_17hisrcb);
  outline: 1px solid var(--_18249mir);
  outline-offset: -1px;
}
._17hisrc3:not([aria-disabled="true"]):hover > ._17hisrcl, ._17hisrc3:not([aria-disabled="true"]):focus-visible > ._17hisrcl, ._17hisrc3:not([aria-disabled="true"])[data-popup-open] > ._17hisrcl {
  background-color: var(--_17hisrcc);
}
._17hisrcm {
  color: var(--_17hisrcd);
  background-color: var(--_17hisrce);
}
._17hisrc3:not([aria-disabled="true"]):hover > ._17hisrcm, ._17hisrc3:not([aria-disabled="true"]):focus-visible > ._17hisrcm, ._17hisrc3:not([aria-disabled="true"])[data-popup-open] > ._17hisrcm {
  background-color: var(--_17hisrcf);
}
._17hisrcn {
  color: var(--_17hisrcg);
}
._17hisrc3:not([aria-disabled="true"]):hover > ._17hisrcn, ._17hisrc3:not([aria-disabled="true"]):focus-visible > ._17hisrcn, ._17hisrc3:not([aria-disabled="true"])[data-popup-open] > ._17hisrcn {
  color: var(--_17hisrch);
  background-color: var(--_17hisrci);
}
._17hisrco {
  margin: calc((var(--_17hisrc4) + 2px) * -1);
}
._17hisrc6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
.g8kqzu0 {
  isolation: isolate;
  white-space: nowrap;
}
.g8kqzu1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .g8kqzu3 {
    display: none;
  }
}
.p06dsl1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.p06dsl2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.p06dsl2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.p06dsl4 {
  --p06dsl3: 30px;
}
.p06dsl5 {
  --p06dsl3: 45px;
}
.p06dsl6 {
  --p06dsl3: 60px;
}
.p06dsl7 {
  overflow-x: auto;
  overflow-y: hidden;
}
.p06dsl8 {
  overflow-x: hidden;
  overflow-y: auto;
}
.p06dsl9 {
  overflow: auto;
}
.p06dsle {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--p06dslc, 0)),linear-gradient(to right, transparent 0, black var(--p06dsla, 0)),linear-gradient(to left, transparent 0, black var(--p06dslb, 0)),linear-gradient(to top, transparent 0, black var(--p06dsld, 0));
}
.p06dslf {
  --p06dsla: var(--p06dsl3);
}
.p06dslg {
  --p06dslb: var(--p06dsl3);
}
.p06dslh {
  --p06dslc: var(--p06dsl3);
}
.p06dsli {
  --p06dsld: var(--p06dsl3);
}
.t9o2002 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.t9o2003 {
  width: 250px;
}
.t9o2006 {
  --t9o2004: var(--_18249min);
  outline: none;
  cursor: default;
  color: var(--_18249mi7);
  height: 34px;
  isolation: isolate;
}
.t9o2006::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1ebwo028);
  z-index: -1;
}
.t9o2006[data-popup-open]:not([aria-disabled])::before, .t9o2006[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--t9o2004);
}
.t9o2006:focus-visible::before {
  outline: 2px solid var(--_18249miu);
  outline-offset: -2px;
}
.t9o2006[aria-disabled] {
  color: var(--_18249mi9);
  cursor: not-allowed;
}
.t9o2007 {
  cursor: pointer;
  text-decoration: none;
}
.t9o2007[aria-disabled] {
  cursor: not-allowed;
}
.t9o2008 {
  margin-left: 3px;
}
.t9o2009 {
  --t9o2004: var(--_18249mij);
  color: var(--_18249mia);
}
.t9o200a {
  --t9o2004: transparent;
  color: var(--_18249mic);
}
.t9o200a svg {
  color: var(--_18249mic);
}
.t9o200c {
  isolation: isolate;
}
.t9o200g {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.t9o200i {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_18249mi7);
  z-index: 1;
}
[aria-checked="true"] .t9o200i {
  color: var(--_18249mi8);
}
.t9o200k {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_18249mi7);
  isolation: isolate;
}
[aria-checked="true"] .t9o200k {
  background-color: var(--_18249mie);
  border-color: var(--_18249mie);
}
.t9o200p {
  height: 34px;
}
.t9o200r {
  height: 1px;
  background-color: var(--_18249mir);
}
.t9o200t {
  background: transparent;
  border: none;
}
.t9o200t:hover, .t9o200t[data-highlighted] {
  background-color: var(--_18249min);
}
.t9o200t:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: -2px;
}
._1af8ktg1 {
  justify-content: safe center;
}
._1af8ktg5 {
  flex-shrink: 0;
  width: var(--_1af8ktg2);
}
._1af8ktg5:last-child {
  padding-right: var(--_1ebwo02n);
}
._1af8ktg6 {
  transition: color 150ms ease;
}
._1af8ktg5:hover ._1af8ktg6, ._1af8ktg5:focus-within ._1af8ktg6, ._1af8ktg3 ._1af8ktg6 {
  color: var(--_18249mib);
}
._1af8ktg8 {
  outline: 1px solid var(--_18249mir);
}
._1af8ktga {
  transition: opacity 150ms ease;
}
._1af8ktg5:not(:hover, :focus-within, ._1af8ktg3) ._1af8ktga {
  opacity: 1;
}
._1af8ktgc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1af8ktga:hover ~ ._1af8ktg8 ._1af8ktgc, ._1af8ktga:focus-within ~ ._1af8ktg8._1af8ktgc {
  outline-color: var(--_18249mib);
}
._1af8ktge {
  transition: opacity 150ms ease;
}
._1af8ktg5:not(:hover, :focus-within, ._1af8ktg3) ._1af8ktge {
  opacity: 0;
}
._1d8v8gi1 {
  color: var(--_18249mi7);
  font-family: var(--_1ebwo020);
}
._1d8v8gi2 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
._1d8v8gi3 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
._1d8v8gi4 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
.iw07kc1 {
  display: flex;
  flex-direction: column;
  gap: var(--iw07kc0);
}
.iw07kc2 {
  --iw07kc0: var(--_1ebwo02g);
}
.iw07kc3 {
  --iw07kc0: var(--_1ebwo02h);
}
.iw07kc4 {
  --iw07kc0: var(--_1ebwo02i);
}
.iw07kc5 {
  --iw07kc0: var(--_1ebwo02j);
}
.iw07kc6 {
  --iw07kc0: var(--_1ebwo02k);
}
.iw07kc7 {
  --iw07kc0: var(--_1ebwo02l);
}
.iw07kc8 {
  --iw07kc0: var(--_1ebwo02m);
}
.iw07kc9 {
  --iw07kc0: var(--_1ebwo02n);
}
.iw07kca {
  --iw07kc0: var(--_1ebwo02o);
}
.iw07kcb {
  --iw07kc0: var(--_1ebwo02p);
}
.iw07kcc {
  align-items: flex-start;
}
.iw07kcd {
  align-items: center;
}
.iw07kce {
  align-items: flex-end;
}
.b2bybf1 {
  backdrop-filter: blur(6px);
}
.b2bybf1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_18249mik);
  opacity: 0.4;
}
html[data-playroom-dark] .b2bybf1::before {
  opacity: 0.7;
}
.b2bybf1[data-starting-style]::before, .b2bybf1[data-ending-style]::before {
  opacity: 0;
}
.b2bybf3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1ebwo02k) * 2));
  max-height: calc(100dvh - (var(--_1ebwo02k) * 2));
}
.b2bybf3[data-starting-style], .b2bybf3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.b2bybf7:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: 2px;
}
.he32cv2 {
  display: flex;
  flex-direction: row;
  gap: var(--he32cv0);
  align-items: var(--he32cv1);
}
.he32cv3 {
  flex-wrap: wrap;
}
.he32cv4 {
  --he32cv0: var(--_1ebwo02g);
}
.he32cv5 {
  --he32cv0: var(--_1ebwo02h);
}
.he32cv6 {
  --he32cv0: var(--_1ebwo02i);
}
.he32cv7 {
  --he32cv0: var(--_1ebwo02j);
}
.he32cv8 {
  --he32cv0: var(--_1ebwo02k);
}
.he32cv9 {
  --he32cv0: var(--_1ebwo02l);
}
.he32cva {
  --he32cv0: var(--_1ebwo02m);
}
.he32cvb {
  --he32cv0: var(--_1ebwo02n);
}
.he32cvc {
  --he32cv0: var(--_1ebwo02o);
}
.he32cvd {
  --he32cv0: var(--_1ebwo02p);
}
.he32cve {
  align-items: flex-start;
}
.he32cvf {
  align-items: center;
}
.he32cvg {
  align-items: flex-end;
}
._8ryima0 {
  width: 200px;
}
._1defnd41 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_18249mil);
}
._1defnd42 {
  width: fit-content;
}
._1defnd44 {
  width: fit-content;
  justify-self: flex-end;
}
._1defnd47:not(._1defnd45) {
  opacity: 0;
  transform: translateX(var(--_1ebwo02j));
  pointer-events: none;
}
._1defnd49 {
  background: transparent;
  color: var(--_18249mig);
  isolation: isolate;
}
._1defnd49::after {
  content: "";
  position: absolute;
  transition: var(--_1ebwo02f);
  z-index: -1;
  inset: calc(var(--_1ebwo02j) * -1);
  background-color: var(--_18249min);
  border-radius: var(--_1ebwo029);
}
._1defnd49:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: 6px;
}
._1defnd49:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1defnd4b {
  margin: calc(var(--_1ebwo02k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1defnd4f {
  appearance: none;
  outline: none;
  background: var(--_18249mil);
  color: var(--_18249mi7);
  border: 1px solid var(--_18249mir);
  height: var(--_1ebwo02r);
}
._1defnd4f:hover, ._1defnd4f[data-popup-open] {
  background-color: var(--_18249min);
}
._1defnd4f:focus-visible {
  outline: 2px solid var(--_18249miu);
  z-index: 1;
}
._1defnd4h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1defnd4j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1defnd4k {
  color: var(--_18249mic);
}
._1defnd4m {
  height: 1px;
  background-color: var(--_18249mir);
}
@media screen and (max-width: 767px) {
  ._1defnd44 {
    display: none;
  }
}
.qpax6r2 {
  flex: 1;
  min-height: 0;
}
.qpax6r5 {
  --qpax6r3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--qpax6r3), 1fr);
}
.qpax6r7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.qpax6r9 {
  height: calc(100% / var(--qpax6r0));
  width: calc(100% / var(--qpax6r0));
  border-radius: calc(var(--_1ebwo029) / var(--qpax6r0));
  transform: scale(var(--qpax6r0));
  transform-origin: 0 0;
  padding: calc(1px / var(--qpax6r0));
}
.qpax6rb {
  background: var(--_18249min);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.qpax6rd {
  background: transparent;
  outline: 1px solid var(--_18249mir);
}
.qpax6rd:hover {
  outline: 2px solid var(--_18249mis);
}
.qpax6rd:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: 2px;
}
.qpax6rh {
  list-style: none;
}
.qpax6rj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_18249mir);
}
.qpax6rj:hover {
  outline: 2px solid var(--_18249mis);
}
.qpax6rj:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .qpax6r5 {
    --qpax6r3: 2;
  }
}
@media screen and (min-width: 800px) {
  .qpax6r5 {
    --qpax6r3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .qpax6r5 {
    --qpax6r3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .qpax6r5 {
    --qpax6r3: 5;
  }
}
._1g0x6nz1 {
  width: fit-content;
}
._1g0x6nz3:focus-visible ~ ._1g0x6nz5 {
  outline: 2px solid var(--_18249miu);
  outline-offset: 4px;
}
._1g0x6nz8 {
  min-width: 0;
}
._1g0x6nz9 {
  flex-shrink: 0;
}
.f941ha2 {
  outline: none;
  height: var(--_1ebwo02r);
  color: var(--_18249mi7);
  background: transparent;
}
.f941ha2::placeholder {
  color: var(--_18249mi9);
  font-weight: strong;
}
.f941ha2:hover:not(:focus-visible), .f941ha2:hover:not(:focus-visible)::placeholder {
  background: var(--_18249min);
  opacity: 1;
  color: transparent;
}
.f941ha2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.f941ha2:focus-visible {
  outline: 2px solid var(--_18249miu);
  outline-offset: 0;
  opacity: 1;
}
.f941ha2:focus-visible::placeholder {
  color: transparent;
}
.f941ha4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_18249mi7);
}
.f941ha2:focus-visible ~ .f941ha4 {
  opacity: 0;
}
.f941ha5 {
  color: var(--_18249mi9);
}
._1rxgbs33 {
  border: 1px solid var(--_18249mir);
}
._1rxgbs35 {
  background-color: var(--_18249miq);
  border-bottom: 1px solid var(--_18249mir);
}
._1rxgbs38 {
  background-color: var(--_18249miq);
  border-top: 1px solid var(--_18249mir);
}
._1rxgbs3c {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1rxgbs36 {
    display: none;
  }
}
