.fz71lp1 {
  background-color: var(--_69t8a0l);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_69t8a0q);
}
.fz71lp2::before {
  content: "";
  position: absolute;
  min-height: var(--i4raagc);
  min-width: var(--i4raagc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.jks30h2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.jks30h4 {
  border: 1px solid var(--_69t8a0q);
  background-color: var(--_69t8a0k);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.jks30h4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_69t8a0m);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.jks30h4:hover::after {
  opacity: 1;
}
.jks30h4:focus-visible::after {
  opacity: 1;
}
.jks30h4:active:not([disabled]) {
  transform: scale(0.97);
}
.jks30h4:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 0;
}
.jks30h6 {
  isolation: isolate;
}
.jks30h8 {
  height: var(--jks30h0);
}
.jks30ha {
  border-color: var(--_69t8a0c);
}
.jks30ha::after {
  background-color: var(--_69t8a0h);
}
.jks30hb {
  border-color: var(--_69t8a0a);
}
.jks30hb::after {
  background-color: var(--_69t8a0i);
}
.jks30hc {
  --jks30h0: var(--i4raagq);
}
.jks30hd {
  --jks30h0: var(--i4raagr);
}
.jks30he {
  --jks30h0: var(--i4raags);
}
.y66u341 {
  --_69t8a07: var(--_69t8a0d);
  background-color: var(--_69t8a0n);
  outline: 1px solid var(--_69t8a0s);
  outline-offset: -1px;
}
._1cbfhzz3 {
  background: transparent;
  outline: none;
  height: var(--_1cbfhzz0) !important;
  width: var(--_1cbfhzz0) !important;
}
._1cbfhzz6 {
  padding: var(--_1cbfhzz4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--_1cbfhzz1);
  isolation: isolate;
}
._1cbfhzz3[data-pressed] ._1cbfhzz6, ._1cbfhzz3:active ._1cbfhzz6 {
  transform: scale(.95);
}
._1cbfhzz3:focus-visible ._1cbfhzz6 {
  outline: 2px solid var(--_69t8a0t);
}
._1cbfhzz3[aria-disabled="true"] ._1cbfhzz6 {
  --_1cbfhzz1: var(--_69t8a09);
}
._1cbfhzz7 {
  --_1cbfhzz0: var(--i4raagq);
  --_1cbfhzz4: 6px;
}
._1cbfhzz8 {
  --_1cbfhzz0: var(--i4raagr);
  --_1cbfhzz4: var(--i4raagj);
}
._1cbfhzz9 {
  --_1cbfhzz0: var(--i4raags);
  --_1cbfhzz4: var(--i4raagj);
}
._1cbfhzza {
  --_1cbfhzz1: var(--_69t8a07);
}
._1cbfhzzb {
  --_1cbfhzz1: var(--_69t8a0b);
}
._1cbfhzzc {
  --_1cbfhzz1: var(--_69t8a0c);
}
._1cbfhzzd {
  background-color: var(--_69t8a0k);
  outline: 1px solid var(--_69t8a0q);
  outline-offset: -1px;
}
._1cbfhzz3:not([aria-disabled="true"]):hover > ._1cbfhzzd, ._1cbfhzz3:not([aria-disabled="true"])[data-popup-open] > ._1cbfhzzd {
  background-color: var(--_69t8a0m);
}
._1cbfhzze {
  --_1cbfhzz1: var(--_69t8a08);
  background-color: var(--_69t8a0f);
}
._1cbfhzz3:not([aria-disabled="true"]):hover > ._1cbfhzze, ._1cbfhzz3:not([aria-disabled="true"])[data-popup-open] > ._1cbfhzze {
  background-color: var(--_69t8a0g);
}
._1cbfhzz3:not([aria-disabled="true"]):hover > ._1cbfhzzf, ._1cbfhzz3:not([aria-disabled="true"])[data-popup-open] > ._1cbfhzzf {
  background-color: var(--_69t8a0m);
}
._1cbfhzzg {
  margin: calc((var(--_1cbfhzz4) + 2px) * -1);
}
._1cbfhzz6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._19e09wk1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._19e09wk2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._19e09wk2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._19e09wk4 {
  --_19e09wk3: 30px;
}
._19e09wk5 {
  --_19e09wk3: 45px;
}
._19e09wk6 {
  --_19e09wk3: 60px;
}
._19e09wk7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._19e09wk8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._19e09wk9 {
  overflow: auto;
}
._19e09wke {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_19e09wkc, 0)),linear-gradient(to right, transparent 0, black var(--_19e09wka, 0)),linear-gradient(to left, transparent 0, black var(--_19e09wkb, 0)),linear-gradient(to top, transparent 0, black var(--_19e09wkd, 0));
}
._19e09wkf {
  --_19e09wka: var(--_19e09wk3);
}
._19e09wkg {
  --_19e09wkb: var(--_19e09wk3);
}
._19e09wkh {
  --_19e09wkc: var(--_19e09wk3);
}
._19e09wki {
  --_19e09wkd: var(--_19e09wk3);
}
.merfck2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--i4raag8);
  color: var(--merfck0);
  isolation: isolate;
  outline: none;
}
.merfck2[data-pressed], .merfck2:active {
  transform: scale(.95);
}
.merfck2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--i4raagi) * -1);
  background-color: var(--merfck0);
  border-radius: var(--i4raag8);
}
.merfck2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
.merfck2:hover, .merfck2[data-popup-open]:not(:focus-visible) {
  color: var(--_69t8a08);
}
.merfck2:focus-visible::after {
  outline: 2px solid var(--_69t8a0t);
}
.merfck2:focus-visible:not(:hover)::after {
  background: transparent;
}
.merfck3 {
  --merfck0: var(--_69t8a0b);
}
.merfck4 {
  --merfck0: var(--_69t8a0c);
}
.merfck2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
._1gx22bc1 {
  justify-content: safe center;
}
._1gx22bc5 {
  flex-shrink: 0;
  width: var(--_1gx22bc2);
}
._1gx22bc5:last-child {
  padding-right: var(--i4raagn);
}
._1gx22bc6 {
  transition: color 150ms ease;
}
._1gx22bc5:hover ._1gx22bc6, ._1gx22bc5:focus-within ._1gx22bc6, ._1gx22bc3 ._1gx22bc6 {
  color: var(--_69t8a0b);
}
._1gx22bc8 {
  outline: 1px solid var(--_69t8a0q);
}
._1gx22bca {
  transition: opacity 150ms ease;
}
._1gx22bc5:not(:hover, :focus-within, ._1gx22bc3) ._1gx22bca {
  opacity: 1;
}
._1gx22bcc {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1gx22bca:hover ~ ._1gx22bc8 ._1gx22bcc, ._1gx22bca:focus-within ~ ._1gx22bc8._1gx22bcc {
  outline-color: var(--_69t8a0b);
}
._1gx22bce {
  transition: opacity 150ms ease;
}
._1gx22bc5:not(:hover, :focus-within, ._1gx22bc3) ._1gx22bce {
  opacity: 0;
}
._2bmiat1 {
  color: var(--_69t8a07);
  font-family: var(--i4raag0);
}
._2bmiat2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._2bmiat3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._2bmiat4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._15m3m8b1 {
  display: flex;
  flex-direction: column;
  gap: var(--_15m3m8b0);
}
._15m3m8b2 {
  --_15m3m8b0: var(--i4raagg);
}
._15m3m8b3 {
  --_15m3m8b0: var(--i4raagh);
}
._15m3m8b4 {
  --_15m3m8b0: var(--i4raagi);
}
._15m3m8b5 {
  --_15m3m8b0: var(--i4raagj);
}
._15m3m8b6 {
  --_15m3m8b0: var(--i4raagk);
}
._15m3m8b7 {
  --_15m3m8b0: var(--i4raagl);
}
._15m3m8b8 {
  --_15m3m8b0: var(--i4raagm);
}
._15m3m8b9 {
  --_15m3m8b0: var(--i4raagn);
}
._15m3m8ba {
  --_15m3m8b0: var(--i4raago);
}
._15m3m8bb {
  --_15m3m8b0: var(--i4raagp);
}
._15m3m8bc {
  align-items: flex-start;
}
._15m3m8bd {
  align-items: center;
}
._15m3m8be {
  align-items: flex-end;
}
.i8yj2f1 {
  backdrop-filter: blur(6px);
}
.i8yj2f1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_69t8a0j);
  opacity: 0.4;
}
html[data-playroom-dark] .i8yj2f1::before {
  opacity: 0.7;
}
.i8yj2f1[data-starting-style]::before, .i8yj2f1[data-ending-style]::before {
  opacity: 0;
}
.i8yj2f3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--i4raagk) * 2));
  max-height: calc(100dvh - (var(--i4raagk) * 2));
}
.i8yj2f3[data-starting-style], .i8yj2f3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.i8yj2f7:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 2px;
}
._13xwvfv2 {
  display: flex;
  flex-direction: row;
  gap: var(--_13xwvfv0);
  align-items: var(--_13xwvfv1);
}
._13xwvfv3 {
  flex-wrap: wrap;
}
._13xwvfv4 {
  --_13xwvfv0: var(--i4raagg);
}
._13xwvfv5 {
  --_13xwvfv0: var(--i4raagh);
}
._13xwvfv6 {
  --_13xwvfv0: var(--i4raagi);
}
._13xwvfv7 {
  --_13xwvfv0: var(--i4raagj);
}
._13xwvfv8 {
  --_13xwvfv0: var(--i4raagk);
}
._13xwvfv9 {
  --_13xwvfv0: var(--i4raagl);
}
._13xwvfva {
  --_13xwvfv0: var(--i4raagm);
}
._13xwvfvb {
  --_13xwvfv0: var(--i4raagn);
}
._13xwvfvc {
  --_13xwvfv0: var(--i4raago);
}
._13xwvfvd {
  --_13xwvfv0: var(--i4raagp);
}
._13xwvfve {
  align-items: flex-start;
}
._13xwvfvf {
  align-items: center;
}
._13xwvfvg {
  align-items: flex-end;
}
._1hse70r0 {
  isolation: isolate;
  white-space: nowrap;
}
._1hse70r1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1hse70r3 {
    display: none;
  }
}
.yrdhpk2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.yrdhpk3 {
  width: 250px;
}
.yrdhpk6 {
  --yrdhpk4: var(--_69t8a0m);
  outline: none;
  cursor: default;
  color: var(--_69t8a07);
  height: 34px;
  isolation: isolate;
}
.yrdhpk6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--i4raag8);
  z-index: -1;
}
.yrdhpk6[data-popup-open]:not([aria-disabled])::before, .yrdhpk6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--yrdhpk4);
}
.yrdhpk6:focus-visible::before {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: -2px;
}
.yrdhpk6[aria-disabled] {
  color: var(--_69t8a09);
  cursor: not-allowed;
}
.yrdhpk7 {
  cursor: pointer;
  text-decoration: none;
}
.yrdhpk7[aria-disabled] {
  cursor: not-allowed;
}
.yrdhpk8 {
  margin-left: 3px;
}
.yrdhpk9 {
  --yrdhpk4: var(--_69t8a0i);
  color: var(--_69t8a0a);
}
.yrdhpka {
  --yrdhpk4: transparent;
  color: var(--_69t8a0c);
}
.yrdhpka svg {
  color: var(--_69t8a0c);
}
.yrdhpkc {
  isolation: isolate;
}
.yrdhpkg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.yrdhpki {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_69t8a07);
  z-index: 1;
}
[aria-checked="true"] .yrdhpki {
  color: var(--_69t8a08);
}
.yrdhpkk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_69t8a07);
  isolation: isolate;
}
[aria-checked="true"] .yrdhpkk {
  background-color: var(--_69t8a0e);
  border-color: var(--_69t8a0e);
}
.yrdhpkp {
  height: 34px;
}
.yrdhpkr {
  height: 1px;
  background-color: var(--_69t8a0q);
}
.yrdhpkt {
  background: transparent;
  border: none;
}
.yrdhpkt:hover, .yrdhpkt[data-highlighted] {
  background-color: var(--_69t8a0m);
}
.yrdhpkt:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: -2px;
}
._1nmnhwi0 {
  width: 200px;
}
.qc6qt1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_69t8a0k);
}
.qc6qt2 {
  width: fit-content;
}
.qc6qt4 {
  width: fit-content;
  justify-self: flex-end;
}
.qc6qt7:not(.qc6qt5) {
  opacity: 0;
  transform: translateX(var(--i4raagj));
  pointer-events: none;
}
.qc6qt9 {
  background: transparent;
  color: var(--_69t8a0f);
  isolation: isolate;
}
.qc6qt9::after {
  content: "";
  position: absolute;
  transition: var(--i4raagf);
  z-index: -1;
  inset: calc(var(--i4raagj) * -1);
  background-color: var(--_69t8a0m);
  border-radius: var(--i4raag9);
}
.qc6qt9:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 6px;
}
.qc6qt9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.qc6qtb {
  margin: calc(var(--i4raagk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.qc6qtf {
  appearance: none;
  outline: none;
  background: var(--_69t8a0k);
  color: var(--_69t8a07);
  border: 1px solid var(--_69t8a0q);
  height: var(--i4raagr);
}
.qc6qtf:hover, .qc6qtf[data-popup-open] {
  background-color: var(--_69t8a0m);
}
.qc6qtf:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  z-index: 1;
}
.qc6qth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.qc6qtj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.qc6qtk {
  color: var(--_69t8a0c);
}
.qc6qtm {
  height: 1px;
  background-color: var(--_69t8a0q);
}
@media screen and (max-width: 767px) {
  .qc6qt4 {
    display: none;
  }
}
.giwmq42 {
  flex: 1;
  min-height: 0;
}
.giwmq45 {
  --giwmq43: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--giwmq43), 1fr);
}
.giwmq47 {
  aspect-ratio: 5/4;
  list-style: none;
}
.giwmq49 {
  height: calc(100% / var(--giwmq40));
  width: calc(100% / var(--giwmq40));
  border-radius: calc(var(--i4raag9) / var(--giwmq40));
  transform: scale(var(--giwmq40));
  transform-origin: 0 0;
  padding: calc(1px / var(--giwmq40));
}
.giwmq4b {
  background: var(--_69t8a0m);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.giwmq4d {
  background: transparent;
  outline: 1px solid var(--_69t8a0q);
}
.giwmq4d:hover {
  outline: 2px solid var(--_69t8a0r);
}
.giwmq4d:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 2px;
}
.giwmq4h {
  list-style: none;
}
.giwmq4j {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_69t8a0q);
}
.giwmq4j:hover {
  outline: 2px solid var(--_69t8a0r);
}
.giwmq4j:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .giwmq45 {
    --giwmq43: 2;
  }
}
@media screen and (min-width: 800px) {
  .giwmq45 {
    --giwmq43: 3;
  }
}
@media screen and (min-width: 1200px) {
  .giwmq45 {
    --giwmq43: 4;
  }
}
@media screen and (min-width: 1600px) {
  .giwmq45 {
    --giwmq43: 5;
  }
}
.h2xtwf1 {
  width: fit-content;
}
.h2xtwf3:focus-visible ~ .h2xtwf5 {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 4px;
}
.h2xtwf8 {
  min-width: 0;
}
.h2xtwf9 {
  flex-shrink: 0;
}
.eo5nig2 {
  outline: none;
  height: var(--i4raagr);
  color: var(--_69t8a07);
  background: transparent;
}
.eo5nig2::placeholder {
  color: var(--_69t8a09);
  font-weight: strong;
}
.eo5nig2:hover:not(:focus-visible), .eo5nig2:hover:not(:focus-visible)::placeholder {
  background: var(--_69t8a0m);
  opacity: 1;
  color: transparent;
}
.eo5nig2:hover:not(:focus-visible)::selection {
  background: transparent;
}
.eo5nig2:focus-visible {
  outline: 2px solid var(--_69t8a0t);
  outline-offset: 0;
  opacity: 1;
}
.eo5nig2:focus-visible::placeholder {
  color: transparent;
}
.eo5nig4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_69t8a07);
}
.eo5nig2:focus-visible ~ .eo5nig4 {
  opacity: 0;
}
.eo5nig5 {
  color: var(--_69t8a09);
}
._1fauvcc3 {
  border: 1px solid var(--_69t8a0q);
}
._1fauvcc5 {
  background-color: var(--_69t8a0p);
  border-bottom: 1px solid var(--_69t8a0q);
}
._1fauvcc8 {
  background-color: var(--_69t8a0p);
  border-top: 1px solid var(--_69t8a0q);
}
._1fauvccc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1fauvcc6 {
    display: none;
  }
}
