._1j30t0x1 {
  background-color: var(--_1fljdwwm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1fljdwws);
}
._1j30t0x2::before {
  content: "";
  position: absolute;
  min-height: var(--zpfbo9c);
  min-width: var(--zpfbo9c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1iojzmy2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1iojzmy4 {
  border: 1px solid var(--_1fljdwws);
  background-color: var(--_1fljdwwl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1iojzmy4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1fljdwwn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1iojzmy4:hover::after {
  opacity: 1;
}
._1iojzmy4:focus-visible::after {
  opacity: 1;
}
._1iojzmy4:active:not([disabled]) {
  transform: scale(0.97);
}
._1iojzmy4:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 0;
}
._1iojzmy6 {
  isolation: isolate;
}
._1iojzmy8 {
  height: var(--_1iojzmy0);
}
._1iojzmya {
  border-color: var(--_1fljdwwc);
}
._1iojzmya::after {
  background-color: var(--_1fljdwwi);
}
._1iojzmyb {
  border-color: var(--_1fljdwwa);
}
._1iojzmyb::after {
  background-color: var(--_1fljdwwj);
}
._1iojzmyc {
  --_1iojzmy0: var(--zpfbo9q);
}
._1iojzmyd {
  --_1iojzmy0: var(--zpfbo9r);
}
._1iojzmye {
  --_1iojzmy0: var(--zpfbo9s);
}
._10n9sz12 {
  display: flex;
  flex-direction: row;
  gap: var(--_10n9sz10);
  align-items: var(--_10n9sz11);
}
._10n9sz13 {
  flex-wrap: wrap;
}
._10n9sz14 {
  --_10n9sz10: var(--zpfbo9g);
}
._10n9sz15 {
  --_10n9sz10: var(--zpfbo9h);
}
._10n9sz16 {
  --_10n9sz10: var(--zpfbo9i);
}
._10n9sz17 {
  --_10n9sz10: var(--zpfbo9j);
}
._10n9sz18 {
  --_10n9sz10: var(--zpfbo9k);
}
._10n9sz19 {
  --_10n9sz10: var(--zpfbo9l);
}
._10n9sz1a {
  --_10n9sz10: var(--zpfbo9m);
}
._10n9sz1b {
  --_10n9sz10: var(--zpfbo9n);
}
._10n9sz1c {
  --_10n9sz10: var(--zpfbo9o);
}
._10n9sz1d {
  --_10n9sz10: var(--zpfbo9p);
}
._10n9sz1e {
  align-items: flex-start;
}
._10n9sz1f {
  align-items: center;
}
._10n9sz1g {
  align-items: flex-end;
}
.ohgrjy0 {
  isolation: isolate;
  white-space: nowrap;
}
.ohgrjy1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .ohgrjy3 {
    display: none;
  }
}
._1o7h43p0 {
  color: var(--_1fljdww9);
}
.rxkg4g1 {
  --_1fljdww7: var(--_1fljdwwd);
  background-color: var(--_1fljdwwo);
  outline: 1px solid var(--_1fljdwwu);
  outline-offset: -1px;
}
.zck78n3 {
  background: transparent;
  outline: none;
  height: var(--zck78n0) !important;
  width: var(--zck78n0) !important;
}
.zck78n6 {
  padding: var(--zck78n4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
.zck78n3:active .zck78n6 {
  transform: scale(.95);
}
.zck78n3:focus-visible .zck78n6 {
  outline: 2px solid var(--_1fljdwwv);
}
.zck78n3[aria-disabled="true"] .zck78n6 {
  --zck78n1: var(--_1fljdww9);
}
.zck78n7 {
  --zck78n0: var(--zpfbo9q);
  --zck78n4: var(--zpfbo9i);
}
.zck78n8 {
  --zck78n0: var(--zpfbo9r);
  --zck78n4: var(--zpfbo9j);
}
.zck78n9 {
  --zck78n0: var(--zpfbo9s);
  --zck78n4: var(--zpfbo9j);
}
.zck78nj {
  --zck78na: var(--_1fljdww7);
  --zck78nb: var(--_1fljdwwl);
  --zck78nc: var(--_1fljdwwn);
  --zck78nd: var(--_1fljdww8);
  --zck78ne: var(--_1fljdwwg);
  --zck78nf: var(--_1fljdwwh);
  --zck78ng: var(--_1fljdww7);
  --zck78nh: var(--_1fljdww7);
  --zck78ni: var(--_1fljdwwn);
}
.zck78nk {
  --zck78na: var(--_1fljdwwb);
  --zck78nb: var(--_1fljdwwl);
  --zck78nc: var(--_1fljdwwn);
  --zck78nd: var(--_1fljdww8);
  --zck78ne: var(--_1fljdwwb);
  --zck78nf: var(--_1fljdwwf);
  --zck78ng: var(--_1fljdwwb);
  --zck78nh: var(--_1fljdww8);
  --zck78ni: var(--_1fljdwwe);
}
.zck78nl {
  color: var(--zck78na);
  background-color: var(--zck78nb);
  outline: 1px solid var(--_1fljdwws);
  outline-offset: -1px;
}
.zck78n3:not([aria-disabled="true"]):hover > .zck78nl, .zck78n3:not([aria-disabled="true"]):focus-visible > .zck78nl, .zck78n3:not([aria-disabled="true"])[data-popup-open] > .zck78nl, .zck78n3:not([aria-disabled="true"])[data-active] > .zck78nl {
  background-color: var(--zck78nc);
}
.zck78nm {
  color: var(--zck78nd);
  background-color: var(--zck78ne);
}
.zck78n3:not([aria-disabled="true"]):hover > .zck78nm, .zck78n3:not([aria-disabled="true"]):focus-visible > .zck78nm, .zck78n3:not([aria-disabled="true"])[data-popup-open] > .zck78nm, .zck78n3:not([aria-disabled="true"])[data-active] > .zck78nm {
  background-color: var(--zck78nf);
}
.zck78nn {
  color: var(--zck78ng);
}
.zck78n3:not([aria-disabled="true"]):hover > .zck78nn, .zck78n3:not([aria-disabled="true"]):focus-visible > .zck78nn, .zck78n3:not([aria-disabled="true"])[data-popup-open] > .zck78nn, .zck78n3:not([aria-disabled="true"])[data-active] > .zck78nn {
  color: var(--zck78nh);
  background-color: var(--zck78ni);
}
.zck78no {
  margin: calc((var(--zck78n4) + 2px) * -1);
}
.zck78n6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._12r6bdf1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._12r6bdf2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._12r6bdf2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._12r6bdf4 {
  --_12r6bdf3: 30px;
}
._12r6bdf5 {
  --_12r6bdf3: 45px;
}
._12r6bdf6 {
  --_12r6bdf3: 60px;
}
._12r6bdf7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._12r6bdf8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._12r6bdf9 {
  overflow: auto;
}
._12r6bdfe {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_12r6bdfc, 0)),linear-gradient(to right, transparent 0, black var(--_12r6bdfa, 0)),linear-gradient(to left, transparent 0, black var(--_12r6bdfb, 0)),linear-gradient(to top, transparent 0, black var(--_12r6bdfd, 0));
}
._12r6bdff {
  --_12r6bdfa: var(--_12r6bdf3);
}
._12r6bdfg {
  --_12r6bdfb: var(--_12r6bdf3);
}
._12r6bdfh {
  --_12r6bdfc: var(--_12r6bdf3);
}
._12r6bdfi {
  --_12r6bdfd: var(--_12r6bdf3);
}
.urbm0n2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.urbm0n3 {
  width: 250px;
}
.urbm0n6 {
  --urbm0n4: var(--_1fljdwwn);
  outline: none;
  cursor: default;
  color: var(--_1fljdww7);
  height: 34px;
  isolation: isolate;
}
.urbm0n6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--zpfbo98);
  z-index: -1;
}
.urbm0n6[data-popup-open]:not([aria-disabled])::before, .urbm0n6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--urbm0n4);
}
.urbm0n6:focus-visible::before {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: -2px;
}
.urbm0n6[aria-disabled] {
  color: var(--_1fljdww9);
  cursor: not-allowed;
}
.urbm0n7 {
  cursor: pointer;
  text-decoration: none;
}
.urbm0n7[aria-disabled] {
  cursor: not-allowed;
}
.urbm0n8 {
  margin-left: 3px;
}
.urbm0n9 {
  --urbm0n4: var(--_1fljdwwj);
  color: var(--_1fljdwwa);
}
.urbm0na {
  --urbm0n4: transparent;
  color: var(--_1fljdwwc);
}
.urbm0na svg {
  color: var(--_1fljdwwc);
}
.urbm0nc {
  isolation: isolate;
}
.urbm0ng {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.urbm0ni {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1fljdww7);
  z-index: 1;
}
[aria-checked="true"] .urbm0ni {
  color: var(--_1fljdww8);
}
.urbm0nk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1fljdww7);
  isolation: isolate;
}
[aria-checked="true"] .urbm0nk {
  background-color: var(--_1fljdwwe);
  border-color: var(--_1fljdwwe);
}
.urbm0np {
  height: 34px;
}
.urbm0nr {
  height: 1px;
  background-color: var(--_1fljdwws);
}
.urbm0nt {
  background: transparent;
  border: none;
}
.urbm0nt:hover, .urbm0nt[data-highlighted] {
  background-color: var(--_1fljdwwn);
}
.urbm0nt:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: -2px;
}
._137tzr41 {
  justify-content: safe center;
}
._137tzr45 {
  flex-shrink: 0;
  width: var(--_137tzr42);
}
._137tzr45:last-child {
  padding-right: var(--zpfbo9n);
}
._137tzr46 {
  transition: color 150ms ease;
}
._137tzr45:hover ._137tzr46, ._137tzr45:focus-within ._137tzr46, ._137tzr43 ._137tzr46 {
  color: var(--_1fljdwwb);
}
._137tzr48 {
  outline: 1px solid var(--_1fljdwws);
}
._137tzr4a {
  transition: opacity 150ms ease;
}
._137tzr45:not(:hover, :focus-within, ._137tzr43) ._137tzr4a {
  opacity: 1;
}
._137tzr4c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._137tzr4a:hover ~ ._137tzr48 ._137tzr4c, ._137tzr4a:focus-within ~ ._137tzr48._137tzr4c {
  outline-color: var(--_1fljdwwb);
}
._137tzr4e {
  transition: opacity 150ms ease;
}
._137tzr45:not(:hover, :focus-within, ._137tzr43) ._137tzr4e {
  opacity: 0.3;
  filter: saturate(0);
}
html[data-playroom-dark] ._137tzr45:not(:hover, :focus-within, ._137tzr43) ._137tzr4e {
  opacity: 0.6;
}
._7drgu91 {
  color: var(--_1fljdww7);
  font-family: var(--zpfbo90);
}
._7drgu92 {
  --_3za4e70: 36px;
  --_3za4e71: 44px;
  --_3za4e72: -0.2741em;
  --_3za4e73: -0.2031em;
}
._7drgu93 {
  --_3za4e70: 20px;
  --_3za4e71: 28px;
  --_3za4e72: -0.363em;
  --_3za4e73: -0.292em;
}
._7drgu94 {
  --_3za4e70: 16px;
  --_3za4e71: 20px;
  --_3za4e72: -0.288em;
  --_3za4e73: -0.217em;
}
.wwyij51 {
  display: flex;
  flex-direction: column;
  gap: var(--wwyij50);
}
.wwyij52 {
  --wwyij50: var(--zpfbo9g);
}
.wwyij53 {
  --wwyij50: var(--zpfbo9h);
}
.wwyij54 {
  --wwyij50: var(--zpfbo9i);
}
.wwyij55 {
  --wwyij50: var(--zpfbo9j);
}
.wwyij56 {
  --wwyij50: var(--zpfbo9k);
}
.wwyij57 {
  --wwyij50: var(--zpfbo9l);
}
.wwyij58 {
  --wwyij50: var(--zpfbo9m);
}
.wwyij59 {
  --wwyij50: var(--zpfbo9n);
}
.wwyij5a {
  --wwyij50: var(--zpfbo9o);
}
.wwyij5b {
  --wwyij50: var(--zpfbo9p);
}
.wwyij5c {
  align-items: flex-start;
}
.wwyij5d {
  align-items: center;
}
.wwyij5e {
  align-items: flex-end;
}
._18ja95d1 {
  backdrop-filter: blur(6px);
}
._18ja95d1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1fljdwwk);
  opacity: 0.4;
}
html[data-playroom-dark] ._18ja95d1::before {
  opacity: 0.7;
}
._18ja95d1[data-starting-style]::before, ._18ja95d1[data-ending-style]::before {
  opacity: 0;
}
._18ja95d3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--zpfbo9k) * 2));
  max-height: calc(100dvh - (var(--zpfbo9k) * 2));
}
._18ja95d3[data-starting-style], ._18ja95d3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._18ja95d7:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 2px;
}
._1pez3i70 {
  width: 200px;
}
._1sg2vmb1 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1fljdwwl);
}
._1sg2vmb2 {
  width: fit-content;
}
._1sg2vmb4 {
  width: fit-content;
  justify-self: flex-end;
}
._1sg2vmb7:not(._1sg2vmb5) {
  opacity: 0;
  transform: translateX(var(--zpfbo9j));
  pointer-events: none;
}
._1sg2vmb9 {
  background: transparent;
  color: var(--_1fljdwwg);
  isolation: isolate;
}
._1sg2vmb9::after {
  content: "";
  position: absolute;
  transition: var(--zpfbo9f);
  z-index: -1;
  inset: calc(var(--zpfbo9j) * -1);
  background-color: var(--_1fljdwwn);
  border-radius: var(--zpfbo99);
}
._1sg2vmb9:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 6px;
}
._1sg2vmb9:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1sg2vmbb {
  margin: calc(var(--zpfbo9k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1sg2vmbf {
  appearance: none;
  outline: none;
  background: var(--_1fljdwwl);
  color: var(--_1fljdww7);
  border: 1px solid var(--_1fljdwws);
  height: var(--zpfbo9r);
}
._1sg2vmbf:hover, ._1sg2vmbf[data-popup-open] {
  background-color: var(--_1fljdwwn);
}
._1sg2vmbf:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  z-index: 1;
}
._1sg2vmbh {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1sg2vmbj {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1sg2vmbk {
  color: var(--_1fljdwwc);
}
._1sg2vmbm {
  height: 1px;
  background-color: var(--_1fljdwws);
}
@media screen and (max-width: 767px) {
  ._1sg2vmb4 {
    display: none;
  }
}
.pq9vkc2 {
  flex: 1;
  min-height: 0;
}
.pq9vkc5 {
  --pq9vkc3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--pq9vkc3), 1fr);
}
.pq9vkc7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.pq9vkc9 {
  height: calc(100% / var(--pq9vkc0));
  width: calc(100% / var(--pq9vkc0));
  border-radius: calc(var(--zpfbo99) / var(--pq9vkc0));
  transform: scale(var(--pq9vkc0));
  transform-origin: 0 0;
  padding: calc(1px / var(--pq9vkc0));
}
.pq9vkcb {
  background: var(--_1fljdwwn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pq9vkcd {
  background: transparent;
  outline: 1px solid var(--_1fljdwws);
}
.pq9vkcd:hover {
  outline: 2px solid var(--_1fljdwwt);
}
.pq9vkcd:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 2px;
}
.pq9vkch {
  list-style: none;
}
.pq9vkcj {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1fljdwws);
}
.pq9vkcj:hover {
  outline: 2px solid var(--_1fljdwwt);
}
.pq9vkcj:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .pq9vkc5 {
    --pq9vkc3: 2;
  }
}
@media screen and (min-width: 800px) {
  .pq9vkc5 {
    --pq9vkc3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .pq9vkc5 {
    --pq9vkc3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .pq9vkc5 {
    --pq9vkc3: 5;
  }
}
.s7mung1 {
  width: fit-content;
}
.s7mung3:focus-visible ~ .s7mung5 {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 4px;
}
.s7mung8 {
  min-width: 0;
}
.s7mung9 {
  flex-shrink: 0;
}
._1tx0czc2 {
  outline: none;
  height: var(--zpfbo9r);
  color: var(--_1fljdww7);
  background: transparent;
}
._1tx0czc2::placeholder {
  color: var(--_1fljdww9);
  font-weight: strong;
}
._1tx0czc2:hover:not(:focus-visible), ._1tx0czc2:hover:not(:focus-visible)::placeholder {
  background: var(--_1fljdwwn);
  opacity: 1;
  color: transparent;
}
._1tx0czc2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._1tx0czc2:focus-visible {
  outline: 2px solid var(--_1fljdwwv);
  outline-offset: 0;
  opacity: 1;
}
._1tx0czc2:focus-visible::placeholder {
  color: transparent;
}
._1tx0czc4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1fljdww7);
}
._1tx0czc2:focus-visible ~ ._1tx0czc4 {
  opacity: 0;
}
._1tx0czc5 {
  color: var(--_1fljdww9);
}
._1o6ks603 {
  border: 1px solid var(--_1fljdwws);
}
._1o6ks605 {
  background-color: var(--_1fljdwwq);
  border-bottom: 1px solid var(--_1fljdwws);
}
._1o6ks608 {
  background-color: var(--_1fljdwwq);
  border-top: 1px solid var(--_1fljdwws);
}
._1o6ks60c {
  flex: 1;
}
@media screen and (max-width: 599px) {
  ._1o6ks606 {
    display: none;
  }
}
