._1fw2h0y1 {
  background-color: var(--_1y2hofyl);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--_1y2hofyq);
}
._1fw2h0y2::before {
  content: "";
  position: absolute;
  min-height: var(--_1xcoj30c);
  min-width: var(--_1xcoj30c);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
._1oa778o2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
._1oa778o4 {
  border: 1px solid var(--_1y2hofyq);
  background-color: var(--_1y2hofyk);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
._1oa778o4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1y2hofym);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
._1oa778o4:hover::after {
  opacity: 1;
}
._1oa778o4:focus-visible::after {
  opacity: 1;
}
._1oa778o4:active:not([disabled]) {
  transform: scale(0.97);
}
._1oa778o4:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 0;
}
._1oa778o6 {
  isolation: isolate;
}
._1oa778o8 {
  height: var(--_1oa778o0);
}
._1oa778oa {
  border-color: var(--_1y2hofyc);
}
._1oa778oa::after {
  background-color: var(--_1y2hofyh);
}
._1oa778ob {
  border-color: var(--_1y2hofya);
}
._1oa778ob::after {
  background-color: var(--_1y2hofyi);
}
._1oa778oc {
  --_1oa778o0: var(--_1xcoj30q);
}
._1oa778od {
  --_1oa778o0: var(--_1xcoj30r);
}
._1oa778oe {
  --_1oa778o0: var(--_1xcoj30s);
}
.z2sso91 {
  --_1y2hofy7: var(--_1y2hofyd);
  background-color: var(--_1y2hofyn);
  outline: 1px solid var(--_1y2hofys);
  outline-offset: -1px;
}
.qafxxt3 {
  background: transparent;
  outline: none;
  height: var(--qafxxt0) !important;
  width: var(--qafxxt0) !important;
}
.qafxxt6 {
  padding: var(--qafxxt4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  color: var(--qafxxt1);
  isolation: isolate;
}
.qafxxt3[data-pressed] .qafxxt6, .qafxxt3:active .qafxxt6 {
  transform: scale(.95);
}
.qafxxt3:focus-visible .qafxxt6 {
  outline: 2px solid var(--_1y2hofyt);
}
.qafxxt3[aria-disabled="true"] .qafxxt6 {
  --qafxxt1: var(--_1y2hofy9);
}
.qafxxt7 {
  --qafxxt0: var(--_1xcoj30q);
  --qafxxt4: 6px;
}
.qafxxt8 {
  --qafxxt0: var(--_1xcoj30r);
  --qafxxt4: var(--_1xcoj30j);
}
.qafxxt9 {
  --qafxxt0: var(--_1xcoj30s);
  --qafxxt4: var(--_1xcoj30j);
}
.qafxxta {
  --qafxxt1: var(--_1y2hofy7);
}
.qafxxtb {
  --qafxxt1: var(--_1y2hofyb);
}
.qafxxtc {
  --qafxxt1: var(--_1y2hofyc);
}
.qafxxtd {
  background-color: var(--_1y2hofyk);
  outline: 1px solid var(--_1y2hofyq);
  outline-offset: -1px;
}
.qafxxt3:not([aria-disabled="true"]):hover > .qafxxtd, .qafxxt3:not([aria-disabled="true"])[data-popup-open] > .qafxxtd {
  background-color: var(--_1y2hofym);
}
.qafxxte {
  --qafxxt1: var(--_1y2hofy8);
  background-color: var(--_1y2hofyf);
}
.qafxxt3:not([aria-disabled="true"]):hover > .qafxxte, .qafxxt3:not([aria-disabled="true"])[data-popup-open] > .qafxxte {
  background-color: var(--_1y2hofyg);
}
.qafxxt3:not([aria-disabled="true"]):hover > .qafxxtf, .qafxxt3:not([aria-disabled="true"])[data-popup-open] > .qafxxtf {
  background-color: var(--_1y2hofym);
}
.qafxxtg {
  margin: calc((var(--qafxxt4) + 2px) * -1);
}
.qafxxt6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._15jqqck1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._15jqqck2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._15jqqck2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._15jqqck4 {
  --_15jqqck3: 30px;
}
._15jqqck5 {
  --_15jqqck3: 45px;
}
._15jqqck6 {
  --_15jqqck3: 60px;
}
._15jqqck7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._15jqqck8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._15jqqck9 {
  overflow: auto;
}
._15jqqcke {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_15jqqckc, 0)),linear-gradient(to right, transparent 0, black var(--_15jqqcka, 0)),linear-gradient(to left, transparent 0, black var(--_15jqqckb, 0)),linear-gradient(to top, transparent 0, black var(--_15jqqckd, 0));
}
._15jqqckf {
  --_15jqqcka: var(--_15jqqck3);
}
._15jqqckg {
  --_15jqqckb: var(--_15jqqck3);
}
._15jqqckh {
  --_15jqqckc: var(--_15jqqck3);
}
._15jqqcki {
  --_15jqqckd: var(--_15jqqck3);
}
._21f1sh2 {
  position: relative;
  background-color: transparent;
  border-radius: var(--_1xcoj308);
  color: var(--_21f1sh0);
  isolation: isolate;
  outline: none;
}
._21f1sh2[data-pressed], ._21f1sh2:active {
  transform: scale(.95);
}
._21f1sh2::after {
  content: "";
  position: absolute;
  transition: transform 100ms ease;
  inset: calc(var(--_1xcoj30i) * -1);
  background-color: var(--_21f1sh0);
  border-radius: var(--_1xcoj308);
}
._21f1sh2:not(:hover, [data-popup-open])::after {
  opacity: 0;
}
._21f1sh2:hover, ._21f1sh2[data-popup-open]:not(:focus-visible) {
  color: var(--_1y2hofy8);
}
._21f1sh2:focus-visible::after {
  outline: 2px solid var(--_1y2hofyt);
}
._21f1sh2:focus-visible:not(:hover)::after {
  background: transparent;
}
._21f1sh3 {
  --_21f1sh0: var(--_1y2hofyb);
}
._21f1sh4 {
  --_21f1sh0: var(--_1y2hofyc);
}
._21f1sh2 > svg {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.ir79041 {
  justify-content: safe center;
}
.ir79045 {
  flex-shrink: 0;
  width: var(--ir79042);
}
.ir79045:last-child {
  padding-right: var(--_1xcoj30n);
}
.ir79046 {
  transition: color 150ms ease;
}
.ir79045:hover .ir79046, .ir79045:focus-within .ir79046, .ir79043 .ir79046 {
  color: var(--_1y2hofyb);
}
.ir79048 {
  outline: 1px solid var(--_1y2hofyq);
}
.ir7904a {
  transition: opacity 150ms ease;
}
.ir79045:not(:hover, :focus-within, .ir79043) .ir7904a {
  opacity: 1;
}
.ir7904c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
.ir7904a:hover ~ .ir79048 .ir7904c, .ir7904a:focus-within ~ .ir79048.ir7904c {
  outline-color: var(--_1y2hofyb);
}
.ir7904e {
  transition: opacity 150ms ease;
}
.ir79045:not(:hover, :focus-within, .ir79043) .ir7904e {
  opacity: 0;
}
._1h869zs1 {
  color: var(--_1y2hofy7);
  font-family: var(--_1xcoj300);
}
._1h869zs2 {
  --_1rrxtxm0: 36px;
  --_1rrxtxm1: 44px;
  --_1rrxtxm2: -0.2741em;
  --_1rrxtxm3: -0.2031em;
}
._1h869zs3 {
  --_1rrxtxm0: 20px;
  --_1rrxtxm1: 28px;
  --_1rrxtxm2: -0.363em;
  --_1rrxtxm3: -0.292em;
}
._1h869zs4 {
  --_1rrxtxm0: 16px;
  --_1rrxtxm1: 20px;
  --_1rrxtxm2: -0.288em;
  --_1rrxtxm3: -0.217em;
}
._1ueg19h1 {
  display: flex;
  flex-direction: column;
  gap: var(--_1ueg19h0);
}
._1ueg19h2 {
  --_1ueg19h0: var(--_1xcoj30g);
}
._1ueg19h3 {
  --_1ueg19h0: var(--_1xcoj30h);
}
._1ueg19h4 {
  --_1ueg19h0: var(--_1xcoj30i);
}
._1ueg19h5 {
  --_1ueg19h0: var(--_1xcoj30j);
}
._1ueg19h6 {
  --_1ueg19h0: var(--_1xcoj30k);
}
._1ueg19h7 {
  --_1ueg19h0: var(--_1xcoj30l);
}
._1ueg19h8 {
  --_1ueg19h0: var(--_1xcoj30m);
}
._1ueg19h9 {
  --_1ueg19h0: var(--_1xcoj30n);
}
._1ueg19ha {
  --_1ueg19h0: var(--_1xcoj30o);
}
._1ueg19hb {
  --_1ueg19h0: var(--_1xcoj30p);
}
._1ueg19hc {
  align-items: flex-start;
}
._1ueg19hd {
  align-items: center;
}
._1ueg19he {
  align-items: flex-end;
}
.xkfnq81 {
  backdrop-filter: blur(6px);
}
.xkfnq81::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--_1y2hofyj);
  opacity: 0.4;
}
html[data-playroom-dark] .xkfnq81::before {
  opacity: 0.7;
}
.xkfnq81[data-starting-style]::before, .xkfnq81[data-ending-style]::before {
  opacity: 0;
}
.xkfnq83 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1xcoj30k) * 2));
  max-height: calc(100dvh - (var(--_1xcoj30k) * 2));
}
.xkfnq83[data-starting-style], .xkfnq83[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
.xkfnq87:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 2px;
}
._1tgh15g2 {
  display: flex;
  flex-direction: row;
  gap: var(--_1tgh15g0);
  align-items: var(--_1tgh15g1);
}
._1tgh15g3 {
  flex-wrap: wrap;
}
._1tgh15g4 {
  --_1tgh15g0: var(--_1xcoj30g);
}
._1tgh15g5 {
  --_1tgh15g0: var(--_1xcoj30h);
}
._1tgh15g6 {
  --_1tgh15g0: var(--_1xcoj30i);
}
._1tgh15g7 {
  --_1tgh15g0: var(--_1xcoj30j);
}
._1tgh15g8 {
  --_1tgh15g0: var(--_1xcoj30k);
}
._1tgh15g9 {
  --_1tgh15g0: var(--_1xcoj30l);
}
._1tgh15ga {
  --_1tgh15g0: var(--_1xcoj30m);
}
._1tgh15gb {
  --_1tgh15g0: var(--_1xcoj30n);
}
._1tgh15gc {
  --_1tgh15g0: var(--_1xcoj30o);
}
._1tgh15gd {
  --_1tgh15g0: var(--_1xcoj30p);
}
._1tgh15ge {
  align-items: flex-start;
}
._1tgh15gf {
  align-items: center;
}
._1tgh15gg {
  align-items: flex-end;
}
._1v6673k0 {
  isolation: isolate;
  white-space: nowrap;
}
._1v6673k1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1v6673k3 {
    display: none;
  }
}
._2tvgqq2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
._2tvgqq3 {
  width: 250px;
}
._2tvgqq6 {
  --_2tvgqq4: var(--_1y2hofym);
  outline: none;
  cursor: default;
  color: var(--_1y2hofy7);
  height: 34px;
  isolation: isolate;
}
._2tvgqq6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1xcoj308);
  z-index: -1;
}
._2tvgqq6[data-popup-open]:not([aria-disabled])::before, ._2tvgqq6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--_2tvgqq4);
}
._2tvgqq6:focus-visible::before {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: -2px;
}
._2tvgqq6[aria-disabled] {
  color: var(--_1y2hofy9);
  cursor: not-allowed;
}
._2tvgqq7 {
  cursor: pointer;
  text-decoration: none;
}
._2tvgqq7[aria-disabled] {
  cursor: not-allowed;
}
._2tvgqq8 {
  margin-left: 3px;
}
._2tvgqq9 {
  --_2tvgqq4: var(--_1y2hofyi);
  color: var(--_1y2hofya);
}
._2tvgqqa {
  --_2tvgqq4: transparent;
  color: var(--_1y2hofyc);
}
._2tvgqqa svg {
  color: var(--_1y2hofyc);
}
._2tvgqqc {
  isolation: isolate;
}
._2tvgqqg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
._2tvgqqi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--_1y2hofy7);
  z-index: 1;
}
[aria-checked="true"] ._2tvgqqi {
  color: var(--_1y2hofy8);
}
._2tvgqqk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--_1y2hofy7);
  isolation: isolate;
}
[aria-checked="true"] ._2tvgqqk {
  background-color: var(--_1y2hofye);
  border-color: var(--_1y2hofye);
}
._2tvgqqp {
  height: 34px;
}
._2tvgqqr {
  height: 1px;
  background-color: var(--_1y2hofyq);
}
._2tvgqqs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
  isolation: isolate;
}
._2tvgqqu {
  background: transparent;
  border: none;
}
._2tvgqqu:hover, ._2tvgqqu[data-highlighted] {
  background-color: var(--_1y2hofym);
}
._2tvgqqu:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: -2px;
}
._1h0a2890 {
  width: 200px;
}
.ri13551 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_1y2hofyk);
}
.ri13552 {
  width: fit-content;
}
.ri13554 {
  width: fit-content;
  justify-self: flex-end;
}
.ri13557:not(.ri13555) {
  opacity: 0;
  transform: translateX(var(--_1xcoj30j));
  pointer-events: none;
}
.ri13559 {
  background: transparent;
  color: var(--_1y2hofyf);
  isolation: isolate;
}
.ri13559::after {
  content: "";
  position: absolute;
  transition: var(--_1xcoj30f);
  z-index: -1;
  inset: calc(var(--_1xcoj30j) * -1);
  background-color: var(--_1y2hofym);
  border-radius: var(--_1xcoj309);
}
.ri13559:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 6px;
}
.ri13559:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
.ri1355b {
  margin: calc(var(--_1xcoj30k) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
.ri1355f {
  appearance: none;
  outline: none;
  background: var(--_1y2hofyk);
  color: var(--_1y2hofy7);
  border: 1px solid var(--_1y2hofyq);
  height: var(--_1xcoj30r);
}
.ri1355f:hover, .ri1355f[data-popup-open] {
  background-color: var(--_1y2hofym);
}
.ri1355f:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  z-index: 1;
}
.ri1355h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
.ri1355j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ri1355k {
  color: var(--_1y2hofyc);
}
.ri1355m {
  height: 1px;
  background-color: var(--_1y2hofyq);
}
@media screen and (max-width: 767px) {
  .ri13554 {
    display: none;
  }
}
.vg61bi2 {
  flex: 1;
  min-height: 0;
}
.vg61bi5 {
  --vg61bi3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--vg61bi3), 1fr);
}
.vg61bi7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.vg61bi9 {
  height: calc(100% / var(--vg61bi0));
  width: calc(100% / var(--vg61bi0));
  border-radius: calc(var(--_1xcoj309) / var(--vg61bi0));
  transform: scale(var(--vg61bi0));
  transform-origin: 0 0;
  padding: calc(1px / var(--vg61bi0));
}
.vg61bib {
  background: var(--_1y2hofym);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.vg61bid {
  background: transparent;
  outline: 1px solid var(--_1y2hofyq);
}
.vg61bid:hover {
  outline: 2px solid var(--_1y2hofyr);
}
.vg61bid:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 2px;
}
.vg61bih {
  list-style: none;
}
.vg61bij {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--_1y2hofyq);
}
.vg61bij:hover {
  outline: 2px solid var(--_1y2hofyr);
}
.vg61bij:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .vg61bi5 {
    --vg61bi3: 2;
  }
}
@media screen and (min-width: 800px) {
  .vg61bi5 {
    --vg61bi3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .vg61bi5 {
    --vg61bi3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .vg61bi5 {
    --vg61bi3: 5;
  }
}
.r9bhay1 {
  width: fit-content;
}
.r9bhay3:focus-visible ~ .r9bhay5 {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 4px;
}
.r9bhay8 {
  min-width: 0;
}
.r9bhay9 {
  flex-shrink: 0;
}
.mioo472 {
  outline: none;
  height: var(--_1xcoj30r);
  color: var(--_1y2hofy7);
  background: transparent;
}
.mioo472::placeholder {
  color: var(--_1y2hofy9);
  font-weight: strong;
}
.mioo472:hover:not(:focus-visible), .mioo472:hover:not(:focus-visible)::placeholder {
  background: var(--_1y2hofym);
  opacity: 1;
  color: transparent;
}
.mioo472:hover:not(:focus-visible)::selection {
  background: transparent;
}
.mioo472:focus-visible {
  outline: 2px solid var(--_1y2hofyt);
  outline-offset: 0;
  opacity: 1;
}
.mioo472:focus-visible::placeholder {
  color: transparent;
}
.mioo474 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--_1y2hofy7);
}
.mioo472:focus-visible ~ .mioo474 {
  opacity: 0;
}
.mioo475 {
  color: var(--_1y2hofy9);
}
.mr5mbh3 {
  border: 1px solid var(--_1y2hofyq);
}
.mr5mbh5 {
  background-color: var(--_1y2hofyp);
  border-bottom: 1px solid var(--_1y2hofyq);
}
.mr5mbh8 {
  background-color: var(--_1y2hofyp);
  border-top: 1px solid var(--_1y2hofyq);
}
.mr5mbhc {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .mr5mbh6 {
    display: none;
  }
}
