._14ai7w61 {
  background-color: var(--j2g0kfm);
  transform-origin: var(--transform-origin);
  outline: 1px solid var(--j2g0kfr);
}
._14ai7w62::before {
  content: "";
  position: absolute;
  min-height: var(--_1l5ulkmc);
  min-width: var(--_1l5ulkmc);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
}
.jtxvfq2 {
  background: transparent;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.jtxvfq4 {
  border: 1px solid var(--j2g0kfr);
  background-color: var(--j2g0kfl);
  isolation: isolate;
  outline: none;
  transform-origin: center;
}
.jtxvfq4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--j2g0kfn);
  opacity: 0;
  transition: opacity 120ms ease;
  pointer-events: none;
}
.jtxvfq4:hover::after {
  opacity: 1;
}
.jtxvfq4:focus-visible::after {
  opacity: 1;
}
.jtxvfq4:active:not([disabled]) {
  transform: scale(0.97);
}
.jtxvfq4:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 0;
}
.jtxvfq6 {
  isolation: isolate;
}
.jtxvfq8 {
  height: var(--jtxvfq0);
}
.jtxvfqa {
  border-color: var(--j2g0kfc);
}
.jtxvfqa::after {
  background-color: var(--j2g0kfi);
}
.jtxvfqb {
  border-color: var(--j2g0kfa);
}
.jtxvfqb::after {
  background-color: var(--j2g0kfj);
}
.jtxvfqc {
  --jtxvfq0: var(--_1l5ulkmq);
}
.jtxvfqd {
  --jtxvfq0: var(--_1l5ulkmr);
}
.jtxvfqe {
  --jtxvfq0: var(--_1l5ulkms);
}
._1ro46hf1 {
  --j2g0kf7: var(--j2g0kfd);
  background-color: var(--j2g0kfo);
  outline: 1px solid var(--j2g0kft);
  outline-offset: -1px;
}
._13b737f3 {
  background: transparent;
  outline: none;
  height: var(--_13b737f0) !important;
  width: var(--_13b737f0) !important;
}
._13b737f6 {
  padding: var(--_13b737f4);
  border-radius: inherit;
  background: transparent;
  outline: none;
  isolation: isolate;
}
._13b737f3:active ._13b737f6 {
  transform: scale(.95);
}
._13b737f3:focus-visible ._13b737f6 {
  outline: 2px solid var(--j2g0kfu);
}
._13b737f3[aria-disabled="true"] ._13b737f6 {
  --_13b737f1: var(--j2g0kf9);
}
._13b737f7 {
  --_13b737f0: var(--_1l5ulkmq);
  --_13b737f4: var(--_1l5ulkmi);
}
._13b737f8 {
  --_13b737f0: var(--_1l5ulkmr);
  --_13b737f4: var(--_1l5ulkmj);
}
._13b737f9 {
  --_13b737f0: var(--_1l5ulkms);
  --_13b737f4: var(--_1l5ulkmj);
}
._13b737fj {
  --_13b737fa: var(--j2g0kf7);
  --_13b737fb: var(--j2g0kfl);
  --_13b737fc: var(--j2g0kfn);
  --_13b737fd: var(--j2g0kf8);
  --_13b737fe: var(--j2g0kfg);
  --_13b737ff: var(--j2g0kfh);
  --_13b737fg: var(--j2g0kf7);
  --_13b737fh: var(--j2g0kf7);
  --_13b737fi: var(--j2g0kfn);
}
._13b737fk {
  --_13b737fa: var(--j2g0kfb);
  --_13b737fb: var(--j2g0kfl);
  --_13b737fc: var(--j2g0kfn);
  --_13b737fd: var(--j2g0kf8);
  --_13b737fe: var(--j2g0kfb);
  --_13b737ff: var(--j2g0kff);
  --_13b737fg: var(--j2g0kfb);
  --_13b737fh: var(--j2g0kf8);
  --_13b737fi: var(--j2g0kfe);
}
._13b737fl {
  color: var(--_13b737fa);
  background-color: var(--_13b737fb);
  outline: 1px solid var(--j2g0kfr);
  outline-offset: -1px;
}
._13b737f3:not([aria-disabled="true"]):hover > ._13b737fl, ._13b737f3:not([aria-disabled="true"]):focus-visible > ._13b737fl, ._13b737f3:not([aria-disabled="true"])[data-popup-open] > ._13b737fl {
  background-color: var(--_13b737fc);
}
._13b737fm {
  color: var(--_13b737fd);
  background-color: var(--_13b737fe);
}
._13b737f3:not([aria-disabled="true"]):hover > ._13b737fm, ._13b737f3:not([aria-disabled="true"]):focus-visible > ._13b737fm, ._13b737f3:not([aria-disabled="true"])[data-popup-open] > ._13b737fm {
  background-color: var(--_13b737ff);
}
._13b737fn {
  color: var(--_13b737fg);
}
._13b737f3:not([aria-disabled="true"]):hover > ._13b737fn, ._13b737f3:not([aria-disabled="true"]):focus-visible > ._13b737fn, ._13b737f3:not([aria-disabled="true"])[data-popup-open] > ._13b737fn {
  color: var(--_13b737fh);
  background-color: var(--_13b737fi);
}
._13b737fo {
  margin: calc((var(--_13b737f4) + 2px) * -1);
}
._13b737f6 > svg {
  display: block;
  height: 100%;
  width: 100%;
}
._1dcmhde0 {
  isolation: isolate;
  white-space: nowrap;
}
._1dcmhde1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: baseline;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  ._1dcmhde3 {
    display: none;
  }
}
._16rus4h1 {
  -webkit-overflow-scrolling: touch;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
._16rus4h2 {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
._16rus4h2::-webkit-scrollbar {
  width: 0;
  height: 0;
}
._16rus4h4 {
  --_16rus4h3: 30px;
}
._16rus4h5 {
  --_16rus4h3: 45px;
}
._16rus4h6 {
  --_16rus4h3: 60px;
}
._16rus4h7 {
  overflow-x: auto;
  overflow-y: hidden;
}
._16rus4h8 {
  overflow-x: hidden;
  overflow-y: auto;
}
._16rus4h9 {
  overflow: auto;
}
._16rus4he {
  mask-image: linear-gradient(to bottom, transparent 0, black var(--_16rus4hc, 0)),linear-gradient(to right, transparent 0, black var(--_16rus4ha, 0)),linear-gradient(to left, transparent 0, black var(--_16rus4hb, 0)),linear-gradient(to top, transparent 0, black var(--_16rus4hd, 0));
}
._16rus4hf {
  --_16rus4ha: var(--_16rus4h3);
}
._16rus4hg {
  --_16rus4hb: var(--_16rus4h3);
}
._16rus4hh {
  --_16rus4hc: var(--_16rus4h3);
}
._16rus4hi {
  --_16rus4hd: var(--_16rus4h3);
}
.u4d2fz2 {
  max-height: var(--available-height);
  max-width: var(--available-width);
}
.u4d2fz3 {
  width: 250px;
}
.u4d2fz6 {
  --u4d2fz4: var(--j2g0kfn);
  outline: none;
  cursor: default;
  color: var(--j2g0kf7);
  height: 34px;
  isolation: isolate;
}
.u4d2fz6::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  border-radius: var(--_1l5ulkm8);
  z-index: -1;
}
.u4d2fz6[data-popup-open]:not([aria-disabled])::before, .u4d2fz6[data-highlighted]:not([aria-disabled])::before {
  background-color: var(--u4d2fz4);
}
.u4d2fz6:focus-visible::before {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: -2px;
}
.u4d2fz6[aria-disabled] {
  color: var(--j2g0kf9);
  cursor: not-allowed;
}
.u4d2fz7 {
  cursor: pointer;
  text-decoration: none;
}
.u4d2fz7[aria-disabled] {
  cursor: not-allowed;
}
.u4d2fz8 {
  margin-left: 3px;
}
.u4d2fz9 {
  --u4d2fz4: var(--j2g0kfj);
  color: var(--j2g0kfa);
}
.u4d2fza {
  --u4d2fz4: transparent;
  color: var(--j2g0kfc);
}
.u4d2fza svg {
  color: var(--j2g0kfc);
}
.u4d2fzc {
  isolation: isolate;
}
.u4d2fzg {
  position: relative;
  height: 16px;
  width: 16px;
  color: inherit;
  z-index: 1;
}
.u4d2fzi {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--j2g0kf7);
  z-index: 1;
}
[aria-checked="true"] .u4d2fzi {
  color: var(--j2g0kf8);
}
.u4d2fzk {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--j2g0kf7);
  isolation: isolate;
}
[aria-checked="true"] .u4d2fzk {
  background-color: var(--j2g0kfe);
  border-color: var(--j2g0kfe);
}
.u4d2fzp {
  height: 34px;
}
.u4d2fzr {
  height: 1px;
  background-color: var(--j2g0kfr);
}
.u4d2fzt {
  background: transparent;
  border: none;
}
.u4d2fzt:hover, .u4d2fzt[data-highlighted] {
  background-color: var(--j2g0kfn);
}
.u4d2fzt:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: -2px;
}
._1syx1g31 {
  justify-content: safe center;
}
._1syx1g35 {
  flex-shrink: 0;
  width: var(--_1syx1g32);
}
._1syx1g35:last-child {
  padding-right: var(--_1l5ulkmn);
}
._1syx1g36 {
  transition: color 150ms ease;
}
._1syx1g35:hover ._1syx1g36, ._1syx1g35:focus-within ._1syx1g36, ._1syx1g33 ._1syx1g36 {
  color: var(--j2g0kfb);
}
._1syx1g38 {
  outline: 1px solid var(--j2g0kfr);
}
._1syx1g3a {
  transition: opacity 150ms ease;
}
._1syx1g35:not(:hover, :focus-within, ._1syx1g33) ._1syx1g3a {
  opacity: 1;
}
._1syx1g3c {
  isolation: isolate;
  background: #fff;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease, opacity 150ms ease;
}
._1syx1g3a:hover ~ ._1syx1g38 ._1syx1g3c, ._1syx1g3a:focus-within ~ ._1syx1g38._1syx1g3c {
  outline-color: var(--j2g0kfb);
}
._1syx1g3e {
  transition: opacity 150ms ease;
}
._1syx1g35:not(:hover, :focus-within, ._1syx1g33) ._1syx1g3e {
  opacity: 0;
}
.s5v1351 {
  color: var(--j2g0kf7);
  font-family: var(--_1l5ulkm0);
}
.s5v1352 {
  --_167z3en0: 36px;
  --_167z3en1: 44px;
  --_167z3en2: -0.2741em;
  --_167z3en3: -0.2031em;
}
.s5v1353 {
  --_167z3en0: 20px;
  --_167z3en1: 28px;
  --_167z3en2: -0.363em;
  --_167z3en3: -0.292em;
}
.s5v1354 {
  --_167z3en0: 16px;
  --_167z3en1: 20px;
  --_167z3en2: -0.288em;
  --_167z3en3: -0.217em;
}
._1g6gp371 {
  display: flex;
  flex-direction: column;
  gap: var(--_1g6gp370);
}
._1g6gp372 {
  --_1g6gp370: var(--_1l5ulkmg);
}
._1g6gp373 {
  --_1g6gp370: var(--_1l5ulkmh);
}
._1g6gp374 {
  --_1g6gp370: var(--_1l5ulkmi);
}
._1g6gp375 {
  --_1g6gp370: var(--_1l5ulkmj);
}
._1g6gp376 {
  --_1g6gp370: var(--_1l5ulkmk);
}
._1g6gp377 {
  --_1g6gp370: var(--_1l5ulkml);
}
._1g6gp378 {
  --_1g6gp370: var(--_1l5ulkmm);
}
._1g6gp379 {
  --_1g6gp370: var(--_1l5ulkmn);
}
._1g6gp37a {
  --_1g6gp370: var(--_1l5ulkmo);
}
._1g6gp37b {
  --_1g6gp370: var(--_1l5ulkmp);
}
._1g6gp37c {
  align-items: flex-start;
}
._1g6gp37d {
  align-items: center;
}
._1g6gp37e {
  align-items: flex-end;
}
._1snupdd1 {
  backdrop-filter: blur(6px);
}
._1snupdd1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--j2g0kfk);
  opacity: 0.4;
}
html[data-playroom-dark] ._1snupdd1::before {
  opacity: 0.7;
}
._1snupdd1[data-starting-style]::before, ._1snupdd1[data-ending-style]::before {
  opacity: 0;
}
._1snupdd3 {
  align-self: center;
  justify-self: center;
  max-width: calc(100dvw - (var(--_1l5ulkmk) * 2));
  max-height: calc(100dvh - (var(--_1l5ulkmk) * 2));
}
._1snupdd3[data-starting-style], ._1snupdd3[data-ending-style] {
  transform: scale(0.98);
  opacity: 0;
}
._1snupdd7:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 2px;
}
.l7c8bd2 {
  display: flex;
  flex-direction: row;
  gap: var(--l7c8bd0);
  align-items: var(--l7c8bd1);
}
.l7c8bd3 {
  flex-wrap: wrap;
}
.l7c8bd4 {
  --l7c8bd0: var(--_1l5ulkmg);
}
.l7c8bd5 {
  --l7c8bd0: var(--_1l5ulkmh);
}
.l7c8bd6 {
  --l7c8bd0: var(--_1l5ulkmi);
}
.l7c8bd7 {
  --l7c8bd0: var(--_1l5ulkmj);
}
.l7c8bd8 {
  --l7c8bd0: var(--_1l5ulkmk);
}
.l7c8bd9 {
  --l7c8bd0: var(--_1l5ulkml);
}
.l7c8bda {
  --l7c8bd0: var(--_1l5ulkmm);
}
.l7c8bdb {
  --l7c8bd0: var(--_1l5ulkmn);
}
.l7c8bdc {
  --l7c8bd0: var(--_1l5ulkmo);
}
.l7c8bdd {
  --l7c8bd0: var(--_1l5ulkmp);
}
.l7c8bde {
  align-items: flex-start;
}
.l7c8bdf {
  align-items: center;
}
.l7c8bdg {
  align-items: flex-end;
}
._1uixkuw0 {
  width: 200px;
}
._1jhsc661 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--j2g0kfl);
}
._1jhsc662 {
  width: fit-content;
}
._1jhsc664 {
  width: fit-content;
  justify-self: flex-end;
}
._1jhsc667:not(._1jhsc665) {
  opacity: 0;
  transform: translateX(var(--_1l5ulkmj));
  pointer-events: none;
}
._1jhsc669 {
  background: transparent;
  color: var(--j2g0kfg);
  isolation: isolate;
}
._1jhsc669::after {
  content: "";
  position: absolute;
  transition: var(--_1l5ulkmf);
  z-index: -1;
  inset: calc(var(--_1l5ulkmj) * -1);
  background-color: var(--j2g0kfn);
  border-radius: var(--_1l5ulkm9);
}
._1jhsc669:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 6px;
}
._1jhsc669:not(:hover, :focus-visible, [data-popup-open])::after {
  opacity: 0;
}
._1jhsc66b {
  margin: calc(var(--_1l5ulkmk) * -1);
  height: 60vh;
  max-height: 700px;
  width: 60vw;
  max-width: 75vw;
}
._1jhsc66f {
  appearance: none;
  outline: none;
  background: var(--j2g0kfl);
  color: var(--j2g0kf7);
  border: 1px solid var(--j2g0kfr);
  height: var(--_1l5ulkmr);
}
._1jhsc66f:hover, ._1jhsc66f[data-popup-open] {
  background-color: var(--j2g0kfn);
}
._1jhsc66f:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  z-index: 1;
}
._1jhsc66h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
._1jhsc66j {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1jhsc66k {
  color: var(--j2g0kfc);
}
._1jhsc66m {
  height: 1px;
  background-color: var(--j2g0kfr);
}
@media screen and (max-width: 767px) {
  ._1jhsc664 {
    display: none;
  }
}
.xdzc8e2 {
  flex: 1;
  min-height: 0;
}
.xdzc8e5 {
  --xdzc8e3: 1;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(var(--xdzc8e3), 1fr);
}
.xdzc8e7 {
  aspect-ratio: 5/4;
  list-style: none;
}
.xdzc8e9 {
  height: calc(100% / var(--xdzc8e0));
  width: calc(100% / var(--xdzc8e0));
  border-radius: calc(var(--_1l5ulkm9) / var(--xdzc8e0));
  transform: scale(var(--xdzc8e0));
  transform-origin: 0 0;
  padding: calc(1px / var(--xdzc8e0));
}
.xdzc8eb {
  background: var(--j2g0kfn);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.xdzc8ed {
  background: transparent;
  outline: 1px solid var(--j2g0kfr);
}
.xdzc8ed:hover {
  outline: 2px solid var(--j2g0kfs);
}
.xdzc8ed:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 2px;
}
.xdzc8eh {
  list-style: none;
}
.xdzc8ej {
  width: 100%;
  text-align: left;
  background: transparent;
  outline: 1px solid var(--j2g0kfr);
}
.xdzc8ej:hover {
  outline: 2px solid var(--j2g0kfs);
}
.xdzc8ej:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 2px;
}
@media screen and (min-width: 500px) {
  .xdzc8e5 {
    --xdzc8e3: 2;
  }
}
@media screen and (min-width: 800px) {
  .xdzc8e5 {
    --xdzc8e3: 3;
  }
}
@media screen and (min-width: 1200px) {
  .xdzc8e5 {
    --xdzc8e3: 4;
  }
}
@media screen and (min-width: 1600px) {
  .xdzc8e5 {
    --xdzc8e3: 5;
  }
}
._554pn71 {
  width: fit-content;
}
._554pn73:focus-visible ~ ._554pn75 {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 4px;
}
._554pn78 {
  min-width: 0;
}
._554pn79 {
  flex-shrink: 0;
}
._9zotdb2 {
  outline: none;
  height: var(--_1l5ulkmr);
  color: var(--j2g0kf7);
  background: transparent;
}
._9zotdb2::placeholder {
  color: var(--j2g0kf9);
  font-weight: strong;
}
._9zotdb2:hover:not(:focus-visible), ._9zotdb2:hover:not(:focus-visible)::placeholder {
  background: var(--j2g0kfn);
  opacity: 1;
  color: transparent;
}
._9zotdb2:hover:not(:focus-visible)::selection {
  background: transparent;
}
._9zotdb2:focus-visible {
  outline: 2px solid var(--j2g0kfu);
  outline-offset: 0;
  opacity: 1;
}
._9zotdb2:focus-visible::placeholder {
  color: transparent;
}
._9zotdb4 {
  max-width: 50vw;
  min-width: 240px;
  white-space: pre;
  color: var(--j2g0kf7);
}
._9zotdb2:focus-visible ~ ._9zotdb4 {
  opacity: 0;
}
._9zotdb5 {
  color: var(--j2g0kf9);
}
.vb7oue3 {
  border: 1px solid var(--j2g0kfr);
}
.vb7oue5 {
  background-color: var(--j2g0kfq);
  border-bottom: 1px solid var(--j2g0kfr);
}
.vb7oue8 {
  background-color: var(--j2g0kfq);
  border-top: 1px solid var(--j2g0kfr);
}
.vb7ouec {
  flex: 1;
}
@media screen and (max-width: 599px) {
  .vb7oue6 {
    display: none;
  }
}
